<div data-o-component="o-expander" class="o-expander" data-o-expander-shrink-to="hidden">
	<h2>Hiding content</h2>
	<div class="o-expander__content">
		This content is completely visible/hidden with the toggle.
	</div>
	<button class="o-expander__toggle">Toggle</button>
</div>
