
@mixin _oTeaserSyndicationIndicator {
	.o-teaser__syndication-indicator {
		position: relative;
		top: oPrivateSpacingByName('s1');
		border-radius: 50%;

		span {
			position: absolute;
			clip: rect(1px, 1px, 1px, 1px);
			padding: 0;
			border: 0;
			height: 1px;
			width: 1px;
			overflow: hidden;
		}
	}

	.syndi.o-teaser__syndication-indicator {
		@include oIconsContent('minus', oPrivateFoundationGet('o3-color-palette-white'), $size: 20);
		background-color: oPrivateFoundationGet('o3-color-palette-black-40');
	}

	.o-teaser__syndication-indicator--yes,
	.syndi.o-teaser__syndication-indicator--yes {
		@include oIconsContent('tick', oPrivateFoundationGet('o3-color-palette-white'), $size: 20);
		background-color: oPrivateFoundationGet('o3-color-palette-jade');
	}

	.o-teaser__syndication-indicator--no,
	.syndi.o-teaser__syndication-indicator--no {
		@include oIconsContent('minus', oPrivateFoundationGet('o3-color-palette-white'), $size: 20);
		background-color: oPrivateFoundationGet('o3-color-palette-crimson');
	}

	.o-teaser__syndication-indicator--verify,
	.syndi.o-teaser__syndication-indicator--verify {
		@include oIconsContent('tick', oPrivateFoundationGet('o3-color-palette-white'), $size: 20);
		background-color: oPrivateFoundationGet('o3-color-palette-mandarin');
	}
}
