@import '@financial-times/o-fonts/main';
@import '@financial-times/o-normalise/main';
@import '@financial-times/o-editorial-layout/main';
@include oFonts();
@include oNormalise();

@import "@financial-times/o-buttons-experimental/main";

@include oButtonsExperimental();


.o-buttons-container {
  background-color: var(--background-color-root);
  color: var(--color-text-default);
}

.professional-container {
  margin: 16px;
}
