////
/// @group o-typography
/// @link http://registry.origami.ft.com/components/o-typography
////

/// Make something bold
@mixin oTypographyBold {
	font-weight: 600;
}

/// Make something italic
@mixin oTypographyItalic {
	font-style: italic;
}

/// Small text
@mixin oTypographySmall {
	@include oTypographyBodyBlock;
	@include oTypographyAlpha(4);
}

/// Superscript text
@mixin oTypographySuper {
	@include oTypographyAlpha(4);
	display: inline-block;
	margin-top: -3px;
	vertical-align: super;
}

/// Subscript text
@mixin oTypographySub {
	@include oTypographyAlpha(4);
	display: inline-block;
	margin-bottom: -5px;
	vertical-align: sub;
}

/// Link styles
@mixin oTypographyBodyLink {
	@include oColorsFor(link, text);
	text-decoration: none;
	cursor: pointer;

	#{$o-hoverable-if-hover-enabled} &:hover {
		@include oColorsFor(link-hover, text);
	}
}

// Caption
@mixin oTypographyCaption {
	@include oTypographyAlpha(4);
	@include oTypographyBodyBlock;
}
