/**
 * @group o-ft-typography
 * @link http://registry.origami.ft.com/components/o-ft-typography
**/

/**
 * Make something bold
 */
@mixin oFtTypographyBold {
	font-weight: bold;
}

/**
 * Make something italic
 */
@mixin oFtTypographyItalic {
	font-style: italic;
}

/**
 * Small text
 */
@mixin oFtTypographySmall {
	font-size: 0.75em;
}

/**
 * Superscript text
 */
@mixin oFtTypographySuper {
	display: inline-block;
	margin-top: -3px;
	font-size: 0.75em;
	vertical-align: super;
}

/**
 * Subscript text
 */
@mixin oFtTypographySub {
	display: inline-block;
	margin-bottom: -5px;
	font-size: 0.75em;
	vertical-align: sub;
}

/**
 * Link styles
 * @requires {mixin} oColorsFor
 * @requires {variable} o-hoverable-if-hover-enabled
 */
@mixin oFtTypographyBodyLink {
	text-decoration: none;
	@include oColorsFor(link, text);
	cursor: pointer;

	#{$o-hoverable-if-hover-enabled} &:hover {
		@include oColorsFor(link-hover, text);
	}
}
