////
/// @group o-ft-typography
/// @link http://registry.origami.ft.com/components/o-ft-typography
////

/// Article leader styles
@mixin oFtTypographyArticleBodyLead {
	margin: 0 0 9px;
	border-bottom: 1px dotted oColorsGetColorFor(o-ft-typography-article-body-lead, border);
	padding: 0 0 14px;
	font-family: Georgia, serif;
	font-weight: normal;
	@include oFtTypographyFontSize(21, 27);
	@include oColorsFor(o-ft-typography-article-body-lead body, text);
}

/// Default article text style
@mixin oFtTypographyArticleBody {
	@include oFtTypographyFontSize(16, 24);
	font-family: Georgia, serif;
	font-weight: normal;
	@include oColorsFor(o-ft-typography-article-body body, text);
}

/// Block of text in an article
@mixin oFtTypographyArticleBodyBlock {
	margin-bottom: 24px;
	margin-top: 24px;
}

/// Styles for <ul> and <ol> articles
@mixin oFtTypographyArticleBodyList {
	list-style-position: outside;
	padding-left: 20px;
	@include oFtTypographyArticleBody;
	@include oFtTypographyArticleBody;
	@include oFtTypographyArticleBodyBlock;
}
