@include _oTopperProvide(element headline) {
	@include oTypographyHeadline();
}

@include _oTopperProvide(element headline large) {
	@include oTypographyHeadlineLarge();

	position: relative; //so it appears above the full width background
}

@mixin oTopperHeadline {
	@include _oTopperReceive(element headline);
}

@mixin oTopperHeadlineLarge {
	@include _oTopperReceive(element headline large);
}

@mixin oTopperStandfirst {
	@include _oTopperReceive(element standfirst);
}

@include _oTopperProvide(element standfirst) {
	@include oTypographyStandfirst();
	margin-bottom: 0;
	opacity: 0.8;

	a {
		@include oTypographySize(0);
	}

	> p {
		margin: 0;
	}
}

@mixin oTopperSummary {
	@include _oTopperReceive(element summary);
}

@mixin oTopperSummaryBody {
	@include _oTopperReceive(element summary body);
}

@include _oTopperProvide(element summary) {
	@include oTypographySans(1);
	> ul {
		padding: 0 oTypographySpacingSize(5);
	}

	> ul > li {
		margin: oTypographySpacingSize(2) 0;
	}
}

@include _oTopperProvide(element summary body) {
	h2 {
		@include oTypographySansBold(0);
		margin: 5px 0 0;
	}

	ul {
		@include oTypographyList;
		@include oTypographyListUnordered();
		margin: 0px;

		li:first-child {
			margin-top: 0px;
		}
		li {
			@include oTypographySans(1);
			@include oTypographyMargin(2, 0);
			font-weight: 600;
		}
	}
}

@mixin oTopperImageCredit {
	@include _oTopperReceive(element image credit);
}

@include _oTopperProvide(element image credit) {
	@include oTypographySans(-2);
	color: oColorsGetPaletteColor('white');
	position: absolute;
	right: 12px;
	bottom: 2px;
	text-shadow: 1px 1px 1px oColorsGetPaletteColor('slate');
}

//IE9 support
@mixin oTopperImage {
	@include _oTopperReceive(element image);
}

@include _oTopperProvide(element image) {
	display: block;
	position: relative;
	width: 100%;

	@supports (object-fit: cover) {
		height: 100%;
		object-fit: cover;
	}
}

@mixin oTopperBrand {
	@include _oTopperReceive(element brand);
}

@include _oTopperProvide(element brand) {
	@include oTypographySans(0);
	margin-right: 4px;
	// TODO: move to next-article
	// -webkit-font-smoothing: antialiased;

	@include oGridRespondTo($until: S) {
		display: block;
	}
}

@mixin oTopperColumnist {
	@include _oTopperReceive(element columnist);
}

@include _oTopperProvide(element columnist) {
	@include oTypographyMargin($top: 4);
	text-transform: uppercase;
}

@mixin oTopperColumnistName {
	@include _oTopperReceive(element columnist name);
}

@include _oTopperProvide(element columnist name) {
	vertical-align: middle;
}

@mixin oTopperTags {
	@include _oTopperReceive(element tags);
}

@include _oTopperProvide(element tags) {
	@include oTypographySize($scale: 0, $line-height: 28px);
	display: flex;
	padding-bottom: 5px;

	// keep in next-article?
	.o-tooltip {
		color: oColorsGetPaletteColor('black');
		width: 275px;
	}

	.o-tooltip-close {
		// Override this being set in n-ui-foundations for all links.
		border-bottom: 0;
	}

	.o-tooltip-content {
		@include oTypographySans($scale: 0);
	}
}
