////
/// @group o-typography
/// @link http://registry.origami.ft.com/components/o-typography
////

//
// @TODO: Add docs to oTypeHero!
//
@mixin oTypographyHero() {
	@include oTypographyFoxtrot(1);

	@media (min-width: 490px) {
		font-size: 34px;
	}
	@media (min-width: 730px) {
		font-size: 38px;
	}
	@media (min-width: 970px) {
		font-size: 42px;
	}
}

/// h1 styles
@mixin oTypographyHeading1 {
	@include oTypographyFoxtrot(1);
}

/// h2 styles
@mixin oTypographyHeading2 {
	@include oTypographyFoxtrot(2);
}

/// h3 styles
@mixin oTypographyHeading3 {
	@include oTypographyFoxtrot(2);
}

/// h4 styles
@mixin oTypographyHeading4 {
	@include oTypographyFoxtrot(2);
}

/// h5 styles
@mixin oTypographyHeading5 {
	@include oTypographyFoxtrot(3);
}