////
/// @group o-typography
/// @link http://registry.origami.ft.com/components/o-typography
////

/// h1 styles
@mixin oTypographyHeading1 {
	@include oTypographySerifDisplay(xl);
	margin: 0 0 8px;
}

/// h2 styles
@mixin oTypographyHeading2 {
	@include oTypographySerifDisplay(l);
	margin: 0;
}

/// h3 styles
@mixin oTypographyHeading3 {
	@include oTypographySerifDisplay(m);
	margin: 0;
}

/// h4 styles
@mixin oTypographyHeading4 {
	@include oTypographySerifDisplay(s);
	margin: 0;
}

/// h5 styles
@mixin oTypographyHeading5 {
	@include oTypographySerifDisplay(xs);
}

@mixin oTypographyFlyline {
	@include oTypographySansBold(s);
	text-transform: uppercase;
	margin-bottom: 5px;
	letter-spacing: 1px;

	&__link {
		text-decoration: none;
	}
	&__link:hover {
		border-bottom: 1px dotted;
	}
}
