////
/// @group o-typography
/// @link http://registry.origami.ft.com/components/o-typography
////

/// Label typography
///
/// @access private
@mixin _oTypographyLabelText {
	@include oColorsFor(body, text);
	@include _oTypographyLinkStyle(oColorsGetColorFor(link, text), oColorsGetColorFor(link-hover, text));
}

/// Large label
@mixin oTypographyLabelLarge {
	@include _oTypographyLabelText;
	font-family: BentonSans, sans-serif;
	font-weight: bold;
	font-size: 16px;
	line-height: 21px;
}

/// Medium label
@mixin oTypographyLabelMedium {
	@include _oTypographyLabelText;
	font-family: BentonSans, sans-serif;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
}

/// Small label
@mixin oTypographyLabelSmall {
	@include _oTypographyLabelText;
	font-family: BentonSans, sans-serif;
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
}
