////
/// @group o-typography
/// @link http://registry.origami.ft.com/components/o-typography
////

/// Large leader
@mixin oTypographyLeadLarge {
	font-family: Georgia, serif;
	font-weight: normal;
	font-size: 21px;
	line-height: 26px;
	@include oColorsFor(o-typography-lead-large o-typography-lead body, text);
	@include _oTypographyLinkStyle(oColorsGetColorFor(link, text), oColorsGetColorFor(link-hover, text));
}

/// Medium leader
@mixin oTypographyLeadMedium {
	font-family: Georgia, serif;
	font-weight: normal;
	font-size: 17px;
	line-height: 21px;
	@include oColorsFor(o-typography-lead-medium o-typography-lead body, text);
	@include _oTypographyLinkStyle(oColorsGetColorFor(link, text), oColorsGetColorFor(link-hover, text));
}

/// Small leader
@mixin oTypographyLeadSmall {
	font-family: BentonSans, sans-serif;
	font-weight: normal;
	font-size: 13px;
	line-height: 17px;
	@include oColorsFor(o-typography-lead-small o-typography-lead body, text);
	@include _oTypographyLinkStyle(oColorsGetColorFor(link, text), oColorsGetColorFor(link-hover, text));
}
