////
/// @group o-labels
/// @link http://registry.origami.ft.com/components/o-labels
////

/// States for normal/active/error and associated styles.
/// Add to this map for more states.
///
/// @type Map
$o-labels-states: (
	normal: (
		text: 'white',
		background: 'oxford'
	),
	active: (
		text: 'black',
		background: 'wasabi'
	),
	error: (
		text: 'white',
		background: 'crimson'
	),
	pending: (
		text: 'black',
		background: 'mandarin',
	),
	live: (
		text: 'white',
		background: 'crimson'
	),
	closed: (
		text: 'white',
		background: 'black-70'
	),
	premium: (
		text: 'white',
		background: 'black'
	),
	premium-inverted: (
		text: 'black',
		background: 'white'
	),
	brand: (
		text: 'white',
		background: 'claret'
	),
	commercial-content: (
		text: 'white',
		background: 'jade',
		background-tint: 50,
	)
) !default;

@each $state, $colors in $o-labels-states {
	@if map-has-key($colors, 'background-tint') {
		$text: map-get($colors, 'text');
		@include oColorsSetUseCase(o-labels-#{$state}, 'text', $text);

		$background-color: map-get($colors, 'background');
		$tint: map-get($colors, 'background-tint');

		$tint-name: '#{$background-color}-#{$tint}';
		$tint-color: oColorsGetTint($color: $background-color , $brightness: $tint);

		@include oColorsSetColor($tint-name, $tint-color);
		@include oColorsSetUseCase(o-labels-#{$state}, 'background', $tint-name);
	} @else {
		@each $usecase, $palette in $colors {
			@include oColorsSetUseCase(o-labels-#{$state}, $usecase, $palette);
		}
	}
}
