////
/// @group o-labels
/// @link http://registry.origami.ft.com/components/o-labels
////

/// States for normal/active/error and associated styles.
/// Add to this map for more states.
///
/// @type Map
$o-labels-states: (
	normal: (
		text: 'white',
		background: 'oxford'
	),
	active: (
		text: 'black',
		background: 'wasabi'
	),
	error: (
		text: 'white',
		background: 'crimson'
	),
	pending: (
		text: 'black',
		background: 'mandarin',
	),
	live: (
		text: 'white',
		background: 'crimson'
	),
	closed: (
		text: 'white',
		background: 'black-70'
	),
	premium: (
		text: 'white',
		background: 'black'
	),
	premium-inverted: (
		text: 'black',
		background: 'white'
	),
	brand: (
		text: 'white',
		background: 'claret'
	),
	commercial-content: (
		text: 'white',
		background: 'jade',
		background-tint: 50,
	),
	beta: (
		text: 'black',
		text-tint: 80,
		background: 'paper',
		border: 'black',
		border-tint: 20,
	)
) !default;

@each $state, $colors in $o-labels-states {
	@if map-has-key($colors, 'background-tint') {
		$background-color: map-get($colors, 'background');
		$background-tint: map-get($colors, 'background-tint');

		$background-tint-name: '#{$background-color}-#{$background-tint}';
		$background-tint-color: oColorsGetTint($color: $background-color , $brightness: $background-tint);

		@include oColorsSetColor($background-tint-name, $background-tint-color);
		@include oColorsSetUseCase(o-labels-#{$state}, 'background', $background-tint-name);

	} @else if map-has-key($colors, 'background') {
		@include oColorsSetUseCase(o-labels-#{$state}, 'background', map-get($colors, 'background'));
	}

	@if map-has-key($colors, 'text-tint') {
		$text-color: map-get($colors, 'text');
		$text-tint: map-get($colors, 'text-tint');

		$text-tint-name: '#{$text-color}-#{$text-tint}';
		$text-tint-color: oColorsGetTint($color: $text-color , $brightness: $text-tint);

		@include oColorsSetColor($text-tint-name, $text-tint-color);
		@include oColorsSetUseCase(o-labels-#{$state}, 'text', $text-tint-name);

	} @else if map-has-key($colors, 'text') {
		@include oColorsSetUseCase(o-labels-#{$state}, 'text', map-get($colors, 'text'));
	}

	@if map-has-key($colors, 'border-tint') {
		$border-color: map-get($colors, 'border');
		$border-tint: map-get($colors, 'border-tint');

		$border-tint-name: '#{$border-color}-#{$border-tint}';
		$border-tint-color: oColorsGetTint($color: $border-color , $brightness: $border-tint);

		@include oColorsSetColor($border-tint-name, $border-tint-color);
		@include oColorsSetUseCase(o-labels-#{$state}, 'border', $border-tint-name);

	} @else if map-has-key($colors, 'border') {
		@include oColorsSetUseCase(o-labels-#{$state}, 'border', map-get($colors, 'border'));
	}
}
