/// scss-lint:disable SpaceAfterComma
////
/// @group o-labels
/// @link http://registry.origami.ft.com/components/o-labels
////

/// States for normal/active/error and associated styles.
/// Add to this map for more states.
///
/// @type Map
$o-labels-states: (
	normal: (
		text: 'white',
		background: 'blue'
	),
	active: (
		text: 'white',
		background: 'green'
	),
	error: (
		text: 'white',
		background: 'red-tint1'
	),
	pending: (
		text: 'white',
		background: 'org-b2b'
	),
	live: (
		text: 'white',
		background: 'red'
	),
	closed: (
		text: 'white',
		background: 'grey-tint4'
	),
	premium: (
		text: 'white',
		background: 'black'
	),
	brand: (
		text: 'white',
		background: 'claret'
	)
) !default;

@each $state, $colors in $o-labels-states {
	@each $usecase, $palette in $colors {
		@include oColorsSetUseCase(o-labels-#{$state}, $usecase, $palette);
	}
}
