/// scss-lint:disable SpaceAfterComma
////
/// @group o-buttons
/// @link http://registry.origami.ft.com/components/o-buttons
////

@include oColorsSetUseCase(o-buttons-standard-normal,   text,       'blue');
@include oColorsSetUseCase(o-buttons-standard-normal,   background, 'transparent');
@include oColorsSetUseCase(o-buttons-standard-normal,   border,     'blue');
@include oColorsSetUseCase(o-buttons-standard-hover,    background, 'pink-tint5');
@include oColorsSetUseCase(o-buttons-standard-selected, background, 'pink-tint5');
@include oColorsSetUseCase(o-buttons-standard-selected, text,       'white');
@include oColorsSetUseCase(o-buttons-standard-selected, border,     'pink-tint5');
@include oColorsSetUseCase(o-buttons-standard-pressed,  background, 'green');
@include oColorsSetUseCase(o-buttons-standard-pressed,  text,       'white');
@include oColorsSetUseCase(o-buttons-standard-pressed,  border,     'green');

/// Theme: Standard
///
/// @type Map
$o-buttons-themes__standard: (
	normal: (
		color: oColorsGetColorFor(o-buttons-standard-normal, text),
		background: oColorsGetColorFor(o-buttons-standard-normal, background),
		border-color: oColorsGetColorFor(o-buttons-standard-normal, border)
	),
	hover: (
		background: rgba(oColorsGetColorFor(o-buttons-standard-hover, background), 0.15)
	),
	focus: (
		box-shadow: inset 0 0 4px 1px oColorsGetColorFor(o-buttons-standard-normal, border)
	),
	selected: (
		color: oColorsGetColorFor(o-buttons-standard-selected, text),
		background: oColorsGetColorFor(o-buttons-standard-selected, background),
		border-color: oColorsGetColorFor(o-buttons-standard-selected, border)
	),
	pressed: (
		color: oColorsGetColorFor(o-buttons-standard-pressed, text),
		background: oColorsGetColorFor(o-buttons-standard-pressed, background),
		border-color: oColorsGetColorFor(o-buttons-standard-pressed, border)
	)
) !default;

@include oColorsSetUseCase(o-buttons-standout-normal, text,       'white');
@include oColorsSetUseCase(o-buttons-standout-normal, background, 'blue');
@include oColorsSetUseCase(o-buttons-standout-normal, border,     'blue');
@include oColorsSetUseCase(o-buttons-standout-hover,  background, 'dark-blue');
@include oColorsSetUseCase(o-buttons-standout-hover,  border,     'dark-blue');

/// Theme: Standout
///
/// @type Map
$o-buttons-themes__standout: (
	normal: (
		color: oColorsGetColorFor(o-buttons-standout-normal, text),
		background: oColorsGetColorFor(o-buttons-standout-normal, background),
		border-color: oColorsGetColorFor(o-buttons-standout-normal, border)
	),
	hover: (
		background: oColorsGetColorFor(o-buttons-standout-hover, background),
		border-color: oColorsGetColorFor(o-buttons-standout-hover, border)
	),
	focus: (
		box-shadow: inset 0 0 4px 1px oColorsGetColorFor(o-buttons-standout-normal, text)
	),
	disabled: (
		// Looks like a standard disabled button
		color: oColorsGetColorFor(o-buttons-standard-normal, text),
		background: oColorsGetColorFor(o-buttons-standard-normal, background),
		border-color: oColorsGetColorFor(o-buttons-standard-normal, border)
	)
) !default;

@include oColorsSetUseCase(o-buttons-inverse-normal,   text,       'white');
@include oColorsSetUseCase(o-buttons-inverse-normal,   background, 'transparent');
@include oColorsSetUseCase(o-buttons-inverse-normal,   border,     'white');
@include oColorsSetUseCase(o-buttons-inverse-hover,    background, 'white');
@include oColorsSetUseCase(o-buttons-inverse-selected, text,       'grey-tint4');
@include oColorsSetUseCase(o-buttons-inverse-selected, background, 'white');
@include oColorsSetUseCase(o-buttons-inverse-selected, border,     'white');

/// Theme: Inverse
///
/// @type Map
$o-buttons-themes__inverse: (
	normal: (
		color: oColorsGetColorFor(o-buttons-inverse-normal, text),
		background: oColorsGetColorFor(o-buttons-inverse-normal, background),
		border-color: oColorsGetColorFor(o-buttons-inverse-normal, border)
	),
	hover: (
		background: rgba(oColorsGetColorFor(o-buttons-inverse-hover, background), 0.3)
	),
	focus: (
		box-shadow: inset 0 0 4px 1px oColorsGetColorFor(o-buttons-inverse-normal, text)
	),
	selected: (
		color: oColorsGetColorFor(o-buttons-inverse-selected, text),
		background: oColorsGetColorFor(o-buttons-inverse-selected, background),
		border-color: oColorsGetColorFor(o-buttons-inverse-selected, border)
	)
) !default;

@include oColorsSetUseCase(o-buttons-uncolored-normal, text,       'pink-tint5');
@include oColorsSetUseCase(o-buttons-uncolored-normal, background, 'transparent');
@include oColorsSetUseCase(o-buttons-uncolored-normal, border,     'pink-tint5');

/// Theme: Uncolored
///
/// @type Map
$o-buttons-themes__uncolored: (
	normal: (
		color: oColorsGetColorFor(o-buttons-uncolored-normal, text),
		background: oColorsGetColorFor(o-buttons-uncolored-normal, background),
		border-color: oColorsGetColorFor(o-buttons-uncolored-normal, border)
	),
	focus: (
		box-shadow: inset 0 0 4px 1px oColorsGetColorFor(o-buttons-uncolored-normal, border)
	)
) !default;
