////
/// @group o-typography
/// @link http://registry.origami.ft.com/components/o-typography
////

/// Large title
@mixin oTypographyTitleLarge {
	font-family: Georgia, serif;
	font-weight: normal;
	font-size: 30px;
	line-height: 36px;

	/// Offset text vertically
	/// (compensates dead space)
	margin-top: -5px;
	padding-bottom: 5px;

	@include oColorsFor(o-typography-title-large o-typography-title title, text);
	@include _oTypographyLinkStyle(oColorsGetColorFor(title, text), oColorsGetColorFor(link, text));
}

/// Medium title
@mixin oTypographyTitleMedium {
	font-family: Georgia, serif;
	font-weight: normal;
	font-size: 21px;
	line-height: 26px;
	@include oColorsFor(o-typography-title-medium o-typography-title title, text);
	@include _oTypographyLinkStyle(oColorsGetColorFor(title, text), oColorsGetColorFor(link, text));
}

/// Small title
@mixin oTypographyTitleSmall {
	font-family: Georgia, serif;
	font-weight: bold;
	font-size: 15px;
	line-height: 17px;
	@include oColorsFor(o-typography-title-small o-typography-title title, text);
	@include _oTypographyLinkStyle(oColorsGetColorFor(title, text), oColorsGetColorFor(link, text));
}
