////
/// @group o-buttons
/// @link http://registry.origami.ft.com/components/o-buttons
////

/// Silent mode: on (true) or off (false)
/// Set to false to output default button classes
///
/// @type Boolean
$o-buttons-is-silent: true !default;

/// Default button class used when $o-buttons-is-silent is true
///
/// @type String
$o-buttons-class: o-buttons !default;

/// Button font family
///
/// This is required to override default system form element styling,
/// since `<input>`, `<button>`… don't inherit global font styles
///
/// @type String
$o-buttons-font-family: MetricWeb, sans-serif !default;

/// Button font weight
///
/// @type String
$o-buttons-font-weight: 600 !default; // Semibold

/// Button sizes, with their attached properties
///
/// @type Map
$o-buttons-sizes: (
	small: (
		background-size: 12px,
		font-size: 12px,
		min-height: 22px,
		min-width: 22px,
		padding-left: 7px,
		padding-right: 7px,
		border-width: 1px,
	),
	medium: (
		background-size: 16px,
		font-size: 14px,
		min-height: 26px,
		min-width: 26px,
		padding-left: 8px,
		padding-right: 8px,
		border-width: 1px,
	),
	big: (
		background-size: 18px,
		font-size: 18px,
		min-height: 36px,
		min-width: 36px,
		padding-left: 18px,
		padding-right: 18px,
		border-width: 1px,
	)
) !default;

/// Border-radius
///
/// @type Number
$_o-buttons-border-radius: $o-normalise-border-radius;

/// Button themes, with their respective states
/// Each state is a Map of CSS properties, find
/// all theme definitions in _themes.scss
///
/// @type Map
$o-buttons-themes: (
	standard: $o-buttons-themes__standard,
	standout: $o-buttons-themes__standout,
	inverse: $o-buttons-themes__inverse,
	uncolored: $o-buttons-themes__uncolored,
	b2c: $o-buttons-themes__b2c
) !default;

/// List of icons to generate classes for icon buttons.
/// Build service users will only be able to use these icons, but there is
/// a mixin for people using this via Sass, meaning any icon in 'fticons' is
/// available to those users.
/// Icon names as used in fticons
///
/// @type List
$o-buttons-icons: "arrow-left", "arrow-right" !default;
