@import "o-fonts/main";

$o-ft-typography-is-silent: true !default;

$_o-ft-typography-selector-prefix: o-ft-typography-;

// Use to define font faces that need including for given use cases
$_o-ft-typography-fontface-usecase-mapping: (
	metadata          BentonSans      normal,
	lead              BentonSans      normal,
	subheading        BentonSans      normal,
	heading           BentonSans      bold,
	label             BentonSans      normal,
	label             BentonSans      bold,
	body              BentonSans      normal,
	body              BentonSans      bold
);

@include oColorsSetUseCase(o-ft-typography-heading-medium, border, pink-tint2);
@include oColorsSetUseCase(o-ft-typography-heading-large, border, pink-tint4);
@include oColorsSetUseCase(o-ft-typography-heading-large, text, black);
@include oColorsSetUseCase(o-ft-typography-lead-medium, text, grey-tint3);
@include oColorsSetUseCase(o-ft-typography-brand, text, black);
@include oColorsSetUseCase(o-ft-typography-byline, text, pink-tint5);
@include oColorsSetUseCase(o-ft-typography-timestamp, text, pink-tint5);
@include oColorsSetUseCase(o-ft-typography-body-lead, text, grey-tint4);
@include oColorsSetUseCase(o-ft-typography-article-body-lead, text, grey-tint5);
@include oColorsSetUseCase(o-ft-typography-article-body-lead, border, pink-tint5);
@include oColorsSetUseCase(o-ft-typography-article-body, text, grey-tint5);
@include oColorsSetUseCase(o-ft-typography-article-subheading, text, grey-tint5);
@include oColorsSetUseCase(o-ft-typography-article-subheading, border, pink-tint5);
@include oColorsSetUseCase(o-ft-typography-badge, text, white);
@include oColorsSetUseCase(o-ft-typography-badge, background, red);
