@mixin oFtTypographyBold{
  font-weight: bold;
}

@mixin oFtTypographyItalic{
  font-style: italic;
}

@mixin oFtTypographySmall{
  font-size: 0.75em;
}

@mixin oFtTypographySuper{
  display: inline-block;
  margin-top: -3px;
  font-size: 0.75em;
  vertical-align: super;
}

@mixin oFtTypographySub{
  display: inline-block;
  margin-bottom: -5px;
  font-size: 0.75em;
  vertical-align: sub;
}

@mixin oFtTypographyBodyLink{
  text-decoration: none;
  @include oColorsFor(link, text);
  cursor: pointer;
  #{$o-hoverable-if-hover-enabled} &:hover {
    @include oColorsFor(link-hover, text);
  }
}

@if not $o-ft-typography-is-silent{
  .o-ft-typography-body--bold{
    @include oFtTypographyBold;
  }
  .o-ft-typography-body--italic{
    @include oFtTypographyItalic;
  }
  .o-ft-typography-boldy--small{
    @include oFtTypographySmall;
  }
  .o-ft-typography-body--sup{
    @include oFtTypographySuper;
  }
  .o-ft-typography-body--sub{
    @include oFtTypographySub;
  }
  .o-ft-typography-body--link{
    @include oFtTypographyBodyLink;
  }
}





