// A lot of the mixins in this file seem pointless to me
// surely it would be better to simply provide a base stylesheet with simple tag only rules?

@mixin oFtTypographyBold{
  font-weight: bold;
}

@mixin oFtTypographyItalic{
  font-style: italic;
}

@mixin oFtTypographySmall{
  font-size: 0.75em;
}

@mixin oFtTypographySuper{
  display: inline-block;
  margin-top: -3px;
  font-size: 0.75em;
  vertical-align: super;
}

@mixin oFtTypographySub{
  display: inline-block;
  margin-bottom: -5px;
  font-size: 0.75em;
  vertical-align: sub;
}

@mixin oFtTypographyBodyLink{
  text-decoration: none;
  @include oColorsFor(link, text);
  cursor: pointer;
  #{$o-hoverable-if-hover-enabled} &:hover {
    @include oColorsFor(link-hover, text);
  }
}





