
@include oFtButtonSelectors(o-ft-buttons) {
  @include oFtButtonsBoxSizing(border-box);
  display: inline-block;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  font-family: $o-fonts-bentonsans-normal;
  text-decoration: none;
  & + .o-ft-buttons {
    margin-left: 4px;
  }
}

@include oFtButtonSelectors(o-ft-buttons--big) {
  padding-left: 18px;
  padding-right: 18px;
  font-size: 16px;
  line-height: 34px;
}

@include oFtButtonSelectors(o-ft-buttons--small) {
  padding-left: 14px;
  padding-right: 14px;
  font-size: 14px;
  line-height: 22px;
}

@include oFtButtonSelectors(o-ft-buttons--theme1) {
  border-color: $_o-ft-buttons-color-theme1-standard-border;
  background-color: $_o-ft-buttons-color-theme1-standard-bg;
  color: $_o-ft-buttons-color-theme1-standard-fg;
  &:hover {
    border-color: $_o-ft-buttons-color-theme1-hover-border;
    background-color: $_o-ft-buttons-color-theme1-hover-bg;
    color: $_o-ft-buttons-color-theme1-hover-fg;
  }
  &:active, &:focus, &.o-ft-buttons--selected {
    border-color: $_o-ft-buttons-color-theme1-active-border;
    background-color: $_o-ft-buttons-color-theme1-active-bg;
    color: $_o-ft-buttons-color-theme1-active-fg;
  }
  &.o-ft-buttons--disabled {
    border-color: $_o-ft-buttons-color-theme1-disabled-border;
    background-color: $_o-ft-buttons-color-theme1-disabled-bg;
    color: $_o-ft-buttons-color-theme1-disabled-fg;
  }
}

@include oFtButtonSelectors(o-ft-buttons--theme2) {
  border-color: $_o-ft-buttons-color-theme2-standard-border;
  background-color: $_o-ft-buttons-color-theme2-standard-bg;
  color: $_o-ft-buttons-color-theme2-standard-fg;
  &:hover {
    border-color: $_o-ft-buttons-color-theme2-hover-border;
    background-color: $_o-ft-buttons-color-theme2-hover-bg;
    color: $_o-ft-buttons-color-theme2-hover-fg;
  }
  &:active, &:focus, &.o-ft-buttons--selected {
    border-color: $_o-ft-buttons-color-theme2-active-border;
    background-color: $_o-ft-buttons-color-theme2-active-bg;
    color: $_o-ft-buttons-color-theme2-active-fg;
  }
  &.o-ft-buttons--disabled {
    border-color: $_o-ft-buttons-color-theme2-disabled-border;
    background-color: $_o-ft-buttons-color-theme2-disabled-bg;
    color: $_o-ft-buttons-color-theme2-disabled-fg;
  }
}

@include oFtButtonSelectors(o-ft-buttons--faux) {
  border-width: 0;
  padding-left: 10px;
  padding-right: 10px;
  background-color: transparent;
  color: $_o-ft-buttons-color-theme2-standard-fg;
}

@include oFtButtonSelectors(o-ft-buttons__group) {
  .o-ft-buttons {
    border-radius: 0;
  }
  .o-ft-buttons + .o-ft-buttons {
    margin-left: 0;
  }
  .o-ft-buttons.o-ft-buttons--theme1 + .o-ft-buttons {
    border-left-color: #fff1e0; // Assumed background color
  }
  .o-ft-buttons.o-ft-buttons--theme2 + .o-ft-buttons {
    border-left-width: 0;
  }
  .o-ft-buttons:first-child {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-left-width: 1px;
  }
  .o-ft-buttons:last-child {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
  }
}

@include oFtButtonSelectors(o-ft-buttons__tabs) {
  border-bottom: 1px solid $_o-ft-buttons-color-theme2-standard-border;
  .o-ft-buttons {
    border-radius: 0;
    border-bottom-width: 0;
  }
  .o-ft-buttons + .o-ft-buttons {
    margin-left: 0;
  }
  .o-ft-buttons.o-ft-buttons--theme1 + .o-ft-buttons {
    border-left-color: #fff1e0; // Assumed background color
  }
  .o-ft-buttons.o-ft-buttons--theme2 + .o-ft-buttons {
    border-left-width: 0;
  }
  .o-ft-buttons:first-child {
    border-top-left-radius: 5px;
    border-left-width: 1px;
  }
  .o-ft-buttons:last-child {
    border-top-right-radius: 5px;
  }
}

@include oFtButtonSelectors(o-ft-buttons__icon) {
  @include oFtIconsBaseIconStyles();
  .o-ft-buttons--big > & {
    line-height: 33px;
  }
  .o-ft-buttons--small > & {
    line-height: 21px;
  }
}

@include oFtButtonSelectors(o-ft-buttons__icon--left) {
  @extend %o-ft-icons-icon--arrow-left;
}

@include oFtButtonSelectors(o-ft-buttons__icon--right) {
  @extend %o-ft-icons-icon--arrow-right;
}

@include oFtButtonSelectors(o-ft-buttons__icon--more) {
  @extend %o-ft-icons-icon--more;
}