@include oFtButtonSelectors(o-ft-buttons) {
  @include oFtButtonsBoxSizing(border-box);
  display: inline-block;
  margin: 0;
  padding: 0 14px;
  font-family: $o-fonts-bentonsans-normal;
  font-size: 14px;
  line-height: 22px;
  text-decoration: none;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  border-color: $_o-ft-buttons-color-standard-border;
  background-color: $_o-ft-buttons-color-standard-bg;
  color: $_o-ft-buttons-color-standard-fg;
  & + .o-ft-buttons {
    margin-left: 4px;
  }
  &.o-ft-buttons--selected {
    border-color: $_o-ft-buttons-color-selected-border;
    background-color: $_o-ft-buttons-color-selected-bg;
    color: $_o-ft-buttons-color-selected-fg;
    pointer-events: none;
  }
  &.o-ft-buttons--disabled,
  &[disabled] {
    border-color: $_o-ft-buttons-color-disabled-border;
    background-color: $_o-ft-buttons-color-disabled-bg;
    color: $_o-ft-buttons-color-disabled-fg;
    pointer-events: none;
  }
}

@include oFtButtonSelectors(o-ft-buttons--standout) {
  border-color: $_o-ft-buttons-color-standout-standard-border;
  background-color: $_o-ft-buttons-color-standout-standard-bg;
  color: $_o-ft-buttons-color-standout-standard-fg;
  &.o-ft-buttons--selected {
    border-color: $_o-ft-buttons-color-standout-selected-border;
    background-color: $_o-ft-buttons-color-standout-selected-bg;
    color: $_o-ft-buttons-color-standout-selected-fg;
    pointer-events: none;
  }
  &.o-ft-buttons--disabled {
    border-color: $_o-ft-buttons-color-standout-disabled-border;
    background-color: $_o-ft-buttons-color-standout-disabled-bg;
    color: $_o-ft-buttons-color-standout-disabled-fg;
    pointer-events: none;
  }
}

@include oFtButtonSelectors(o-ft-buttons--big) {
  padding-left: 18px;
  padding-right: 18px;
  font-size: 16px;
  line-height: 34px;
}

@include oFtButtonSelectors(o-ft-buttons--faux) {
  border-width: 0;
  padding-left: 10px;
  padding-right: 10px;
  background-color: transparent;
  color: $_o-ft-buttons-color-standard-fg;
}