.o-dialog--dropdown,
.o-dialog--dropup {
	position: absolute;
}

.o-dialog--dropdown__content,
.o-dialog--dropup__content {
  	position: absolute;
	display: none;
}

.o-dialog--dropdown__content {
	top: 0;
}

.o-dialog--dropup__content {
	bottom: 0;
}

.is-open {
	.o-dialog--dropdown__content,
	.o-dialog--dropup__content {
		display: block;
	}
}

.csstransforms {

	.o-dialog--dropdown__content,
	.o-dialog--dropup__content {
		position: static;
		display: block;
		opacity: 0.5;
		-webkit-transition: -webkit-transform 0.3s;
		-moz-transition: -moz-transform 0.3s;
		-ms-transition: -ms-transform 0.3s;
		-o-transition: -o-transform 0.3s;
		transition: transform 0.3s;
		-webkit-transform: scaleY(0);
		-moz-transform: scaleY(0);
		-ms-transform: scaleY(0);
		-o-transform: scaleY(0);
		transform: scaleY(0);
	}
	
	.o-dialog--dropdown__content {
		-webkit-transform-origin: top;
		-moz-transform-origin: top;
		-ms-transform-origin: top;
		-o-transform-origin: top;
		transform-origin: top;
		top: auto;
	} 

	.o-dialog--dropup__content {
		-webkit-transform-origin: bottom;
		-moz-transform-origin: bottom;
		-ms-transform-origin: bottom;
		-o-transform-origin: bottom;
		transform-origin: bottom;
		bottom: auto;
	}

	.is-open {

		.o-dialog--dropdown__content,
		.o-dialog--dropup__content {
			opacity: 1;
			-webkit-transform: scaleY(1);
			-moz-transform: scaleY(1);
			-ms-transform: scaleY(1);
			-o-transform: scaleY(1);
			transform: scaleY(1);
			-webkit-transition-duration: 0.2s;
			-moz-transition-duration: 0.2s;
			-ms-transition-duration: 0.2s;
			-o-transition-duration: 0.2s;
			transition-duration: 0.2s;
		}
	}
}

.o-dialog--dropdown--right .o-dialog__content {
    right: 0;
}

.o-dialog--dropdown--left .o-dialog__content {
    left: 0;
}