@mixin oFtButtonsButtonFaux($buttonClass, $force-non-silent: true) {

  @include oFtButtonSelectors($buttonClass, $force-non-silent) {
    &.#{$buttonClass}--faux {
      border-width: 0;
      padding-left: 10px;
      padding-right: 10px;
      @include oFtButtonsColors(transparent, transparent, $_o-ft-buttons-color-standard-fg);
    }
  }

}