@mixin oFtButtonsGroup($buttonClass: o-ft-buttons) {
	.#{$buttonClass} {
		border-radius: 0;

		+ .#{$buttonClass} {
			border-left-width: 0;
		}
	}

	:first-child {
		border-bottom-left-radius: 5px;
		border-top-left-radius: 5px;
		border-left-width: 1px;
	}

	:last-child {
		border-bottom-right-radius: 5px;
		border-top-right-radius: 5px;
	}
}
