@include oFtTypographySelectors(heading1-layout) {
  margin: 0 0 16px 0;
  padding: 8px 0 7px 0;
  border-top: 4px solid oColorsGetColorFor(heading1 heading-large heading, border); // Add new use case to o-colors
  border-bottom: 1px dotted oColorsGetColorFor(heading1 heading-large heading, border); // Add new use case to o-colors
}

@include oFtTypographySelectors(heading1-text) {
  @include _oFtTypographyFont(BentonSans, bold);
  @include oFtTypographyFontSize(16, 20);
  color: oColorsGetColorFor(heading-xlarge heading, text);
  @include _oFtTypographyLinkStyle(oColorsGetColorFor(heading-large heading, text), oColorsGetColorFor(link, text));
}

@include oFtTypographySelectors(heading1) {
  @extend #{oFtGetPrefixedPlaceholders(heading1-layout)};
  @extend #{oFtGetPrefixedPlaceholders(heading1-text)};
}

@include oFtTypographySelectors(heading2-layout) {
  margin: 0 0 16px 0;
  padding: 8px 0 7px 0;
  border-top: 4px solid oColorsGetColorFor(heading2 heading-large heading, border);
  border-bottom: 1px dotted oColorsGetColorFor(heading2 heading-large heading, border);
}

@include oFtTypographySelectors(heading2-text) {
  @include _oFtTypographyFont(BentonSans, bold);
  text-transform: uppercase;
  @include oFtTypographyFontSize(13, 20);
  color: oColorsGetColorFor(heading-large heading, text);
  @include _oFtTypographyLinkStyle(oColorsGetColorFor(heading2 heading-large heading, text), oColorsGetColorFor(link, text));
}

@include oFtTypographySelectors(heading2) {
  @extend #{oFtGetPrefixedPlaceholders(heading2-layout)};
  @extend #{oFtGetPrefixedPlaceholders(heading2-text)};
}

@mixin oFtTypographyHeading3and4Layout() {
  margin-bottom: 15px;
  padding: 5px 0;
}

@mixin oFtTypographyHeading3and4Text() {
  @include oFtTypographyFontSize(16, 20);
  @include oFtTypographyExtend(body__block);
  @include _oFtTypographyFont(BentonSans, bold);
  color: oColorsGetColorFor(article-subheading-text);
}


@include oFtTypographySelectors(heading3-layout) {
  @include oFtTypographyHeading3and4Layout();
  border-top: 1px dotted oColorsGetColorFor(article-subheading-border);
  border-bottom: 1px dotted oColorsGetColorFor(article-subheading-border);
  & + * {
    margin-top: 0;
  }
}

@include oFtTypographySelectors(heading3-text) {
  @include oFtTypographyHeading3and4Text();
  @include _oFtTypographyLinkStyle(oColorsGetColorFor(heading3 article-subheading, text), oColorsGetColorFor(link, text));
}

@include oFtTypographySelectors(heading3) {
  @extend #{oFtGetPrefixedPlaceholders(heading3-layout)};
  @extend #{oFtGetPrefixedPlaceholders(heading3-text)};
}

@include oFtTypographySelectors(heading4-layout) {
  @include oFtTypographyHeading3and4Layout();
  & + * {
    margin-top: 0;
  }
}

@include oFtTypographySelectors(heading4-text) {
  @include oFtTypographyHeading3and4Text();
  @include _oFtTypographyLinkStyle(oColorsGetColorFor(heading4 article-subheading, text), oColorsGetColorFor(link, text));
}

@include oFtTypographySelectors(heading4) {
  @extend #{oFtGetPrefixedPlaceholders(heading4-layout)};
  @extend #{oFtGetPrefixedPlaceholders(heading4-text)};
}


@mixin oFtTypographyHeading5TextStyles() {
  @include _oFtTypographyFont(BentonSans, bold);
  @include oFtTypographyFontSize(13, 20);
  color: oColorsGetColorFor(heading5 heading, text);
  text-transform: uppercase;
  @include _oFtTypographyLinkStyle(oColorsGetColorFor(link, text), oColorsGetColorFor(link-hover, text));
}

@mixin oFtTypographyHeading5LayoutStyles() {
  margin: 0 0 16px 0;
}

@include oFtTypographySelectors(heading5-layout) {
  @include oFtTypographyHeading5LayoutStyles();
  background-position: bottom right;
  background-repeat: no-repeat;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAABdwAAAAPAQMAAADEaZ8BAAAABlBMVEUAAADs3s8R/6e7AAAAAXRSTlMAQObYZgAAADBJREFUSMdj+D90QcNQdvyDUccPEPgw6njiwKjjh43jh3SGHdKOb2AYBaNgFAwdAACrOE9c1sAQpgAAAABJRU5ErkJggg==');

}

@include oFtTypographySelectors(heading5-text) {
  @include oFtTypographyHeading5TextStyles();
  @include oFtTypographyFauxTextBackground(oColorsGetColorFor(page, background));
}

@include oFtTypographySelectors(heading5) {
  @extend #{oFtGetPrefixedPlaceholders(heading5-layout)};
  @extend #{oFtGetPrefixedPlaceholders(heading5-text)};
}

@include oUseragentTarget(ie7 ie8 ie9) {
  @include oFtTypographySelectors(heading5-layout) {
    // @include oFtTypographyHeading5Styles();
    border-bottom: 1px solid oColorsGetColorFor(heading5 heading-medium heading, border);
    background-image: none;
  }
}

@include oFtTypographySelectors(heading6-layout) {
  margin: 0 0 8px 0;
}

@include oFtTypographySelectors(heading6-text) {
  margin: 0 0 8px 0;
  @include _oFtTypographyFont(BentonSans, bold);
  @include oFtTypographyFontSize(14, 20);
  color: oColorsGetColorFor(heading6 heading, text);
  @include _oFtTypographyLinkStyle(oColorsGetColorFor(link, text), oColorsGetColorFor(link-hover, text));
}

@include oFtTypographySelectors(heading6) {
  @extend #{oFtGetPrefixedPlaceholders(heading6-layout)};
  @extend #{oFtGetPrefixedPlaceholders(heading6-text)};
}

// Deprecated placeholders & classes for backwards compatibility
@include oFtTypographySelectors(heading-xlarge) {
  @extend %o-ft-typography-heading1;
}
@include oFtTypographySelectors(heading-large) {
  @extend %o-ft-typography-heading2;
}
@include oFtTypographySelectors(article-subheading1) {
  @extend %o-ft-typography-heading3;
}
@include oFtTypographySelectors(article-subheading2) {
  @extend %o-ft-typography-heading4;
}
@include oFtTypographySelectors(heading-medium) {
  @extend %o-ft-typography-heading5;
}
@include oFtTypographySelectors(heading-small) {
  @extend %o-ft-typography-heading6;
}