/**
 * @group o-ft-typography
 * @link http://registry.origami.ft.com/components/o-ft-typography
**/

/**
 * Layout styles for heading level 1
 */
@mixin oFtTypographyHeading1Layout {
	margin: 0 0 16px;
	padding: 8px 0 7px;
	border-top: 4px solid oColorsGetColorFor(o-ft-typography-heading1 o-ft-typography-heading-large body, border);
	border-bottom: 1px dotted oColorsGetColorFor(o-ft-typography-heading1 o-ft-typography-heading-large body, border);
}

/**
 * Text styles for heading level 1
 */
@mixin oFtTypographyHeading1Text {
	@include _oFtTypographyFont(BentonSans, bold);
	@include oFtTypographyFontSize(16, 20);
	@include oColorsFor(o-ft-typography-heading1 o-ft-typography-heading-large body, text);
	@include _oFtTypographyLinkStyle(oColorsGetColorFor(o-ft-typography-heading-large body, text), oColorsGetColorFor(link, text));
}

/**
 * Layout styles for heading 2
 */
@mixin oFtTypographyHeading2Layout {
	margin: 0 0 16px;
	padding: 8px 0 7px;
	border-top: 4px solid oColorsGetColorFor(o-ft-typography-heading2 o-ft-typography-heading-large body, border);
	border-bottom: 1px dotted oColorsGetColorFor(o-ft-typography-heading2 o-ft-typography-heading-large body, border);
}

/**
 * Text styles for heading level 2
 */
@mixin oFtTypographyHeading2Text {
	@include _oFtTypographyFont(BentonSans, bold);
	text-transform: uppercase;
	@include oFtTypographyFontSize(13, 20);
	@include oColorsFor(o-ft-typography-heading-large body, text);
	@include _oFtTypographyLinkStyle(oColorsGetColorFor(o-ft-typography-heading-large body, text), oColorsGetColorFor(link, text));
}

@mixin oFtTypographyHeading3And4Layout {
	margin-bottom: 15px;
	padding: 5px 0;
}


@mixin oFtTypographyHeading3And4Text {
	@include oFtTypographyFontSize(16, 20);
	@include oFtTypographyBodyBlock;
	@include _oFtTypographyFont(BentonSans, bold);
	@include oColorsFor(o-ft-typography-article-subheading, text);
}

/**
 * Layout for level 3 heading
 */
@mixin oFtTypographyHeading3Layout {
	@include oFtTypographyHeading3And4Layout;
	border-top: 1px dotted oColorsGetColorFor(o-ft-typography-article-subheading, border);
	border-bottom: 1px dotted oColorsGetColorFor(o-ft-typography-article-subheading, border);
	+ * {
		margin-top: 0;
	}
}

/**
 * Text styles for level 3 heading
 */
@mixin oFtTypographyHeading3Text {
	@include oFtTypographyHeading3And4Text;
	@include _oFtTypographyLinkStyle(oColorsGetColorFor(o-ft-typography-heading3 o-ft-typography-article-subheading, text), oColorsGetColorFor(link, text));

}

/**
 * Layout styles for level 4 heading
 */
@mixin oFtTypographyHeading4Layout {
	@include oFtTypographyHeading3And4Layout;

	+ * {
		margin-top: 0;
	}

}

/**
 * Text styles for level 4 heading
 */
@mixin oFtTypographyHeading4Text {
	@include _oFtTypographyLinkStyle(oColorsGetColorFor(o-ft-typography-heading4 o-ft-typography-article-subheading body, text), oColorsGetColorFor(link, text));

}

/**
 * Layout styles for level 5 heading
 */
@mixin oFtTypographyHeading5Layout {
	margin: 0 0 16px;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAABdwAAAAPAQMAAADEaZ8BAAAABlBMVEUAAADs3s8R/6e7AAAAAXRSTlMAQObYZgAAADBJREFUSMdj+D90QcNQdvyDUccPEPgw6njiwKjjh43jh3SGHdKOb2AYBaNgFAwdAACrOE9c1sAQpgAAAABJRU5ErkJggg==') bottom right no-repeat;
	// browser hack taken from here : http://browserhacks.com/#hack-e6b158b7e27bcb157326348efb5c0bb2

	*border-bottom: 1px solid oColorsGetColorFor(o-ft-typography-heading5 o-ft-typography-heading-medium body, border);
	*background-image: none;
}

/**
 * Text styles for level 5 heading
 */
@mixin oFtTypographyHeading5Text {
	@include _oFtTypographyFont(BentonSans, bold);
	@include oFtTypographyFontSize(13, 20);
	color: oColorsGetColorFor(o-ft-typography-heading5 o-ft-typography-article-subheading body, text);
	text-transform: uppercase;
	@include _oFtTypographyLinkStyle(oColorsGetColorFor(link, text), oColorsGetColorFor(link-hover, text));
	@include oFtTypographyFauxTextBackground(oColorsGetColorFor(page, background));
}

/**
 * Layout styles for heading level 6
 */
@mixin oFtTypographyHeading6Layout {
	margin: 0 0 8px;
}

/**
 * Text styles for level 6 heading
 */
@mixin oFtTypographyHeading6Text {
	margin: 0 0 8px;
	@include _oFtTypographyFont(BentonSans, bold);
	@include oFtTypographyFontSize(14, 20);
	color: oColorsGetColorFor(o-ft-typography-heading6 body, text);
	@include _oFtTypographyLinkStyle(oColorsGetColorFor(link, text), oColorsGetColorFor(link-hover, text));
}

/**
 * h1 styles
 */
@mixin oFtTypographyHeading1 {
	@include oFtTypographyHeading1Layout;
	@include oFtTypographyHeading1Text;
}

/**
 * h2 styles
 */
@mixin oFtTypographyHeading2 {
	@include oFtTypographyHeading2Layout;
	@include oFtTypographyHeading2Text;
}

/**
 * h3 styles
 */
@mixin oFtTypographyHeading3 {
	@include oFtTypographyHeading3Text;
	@include oFtTypographyHeading3Layout;
}

/**
 * h4 styles
 */
@mixin oFtTypographyHeading4 {
	@include oFtTypographyHeading4Layout;
	@include oFtTypographyHeading4Text;
}

/**
 * h5 styles
 */
@mixin oFtTypographyHeading5 {
	@include oFtTypographyHeading5Layout;
	@include oFtTypographyHeading5Text;
}

/**
 * h6 styles
 */
@mixin oFtTypographyHeading6 {
	@include oFtTypographyHeading6Layout;
	@include oFtTypographyHeading6Text;
}
