@mixin oFtButtonsInverse() {
	@include oColorsFor(o-ft-buttons-inverse);

	&[aria-selected=true] {
		@include oColorsFor(o-ft-buttons-inverse-selected);

		&:focus {
			box-shadow: inset 0 0 3px 1px oColorsGetColorFor(o-ft-buttons-inverse-focus, background);
		}
	}

	&:focus {
		box-shadow: inset 0 0 3px 1px oColorsGetColorFor(o-ft-buttons-inverse, border);
	}

	#{$o-hoverable-if-hover-enabled} & {
		@include _oFtButtonsButtonHover() {
			background-color: rgba(oColorsGetColorFor(o-ft-buttons-inverse-hover, background), 0.3);
		}
	}
}

@if not $o-ft-buttons-is-silent {
	.o-ft-buttons--inverse {
		@include oFtButtonsInverse();
	}
}
