@mixin oFtTypographyBrand {
	margin: 0;
	@include oFtTypographyFontSize(12, 14);
	@include _oFtTypographyFont(BentonSans, bold);
	@include oColorsFor(o-ft-typography-brand body, text);
	@include _oFtTypographyLinkStyle(oColorsGetColorFor(link, text), oColorsGetColorFor(link-hover, text));
}

@mixin oFtTypographyByline {
	margin: 0;
	@include oFtTypographyFontSize(14, 24);
	@include _oFtTypographyFont(BentonSans);
	@include oColorsFor(o-ft-typography-byline, text);
}

@mixin oFtTypographyTimestamp {
	margin: 0;
	@include oFtTypographyFontSize(14, 24);
	@include _oFtTypographyFont(BentonSans);
	@include oColorsFor(o-ft-typography-timestamp, text);
}

@if not $o-ft-typography-is-silent {
	.o-ft-typography-brand {
		@include oFtTypographyBrand;
	}
	.o-ft-typography-byline {
		@include oFtTypographyByline;
	}
	.o-ft-typography-timestamp {
		@include oFtTypographyTimestamp;
	}
}
