@include oFtTypographySelectors(title-large) {
  @include _oFtTypographyFont(Georgia);
  @include oFtTypographyFontSize(30, 36, -5);
  color: oColorsGetColorFor(title, text);
  @include _oFtTypographyLinkStyle(oColorsGetColorFor(title, text), oColorsGetColorFor(link, text));
}

@include oFtTypographySelectors(title-medium) {
  @include _oFtTypographyFont(Georgia);
  @include oFtTypographyFontSize(21, 26);
  color: oColorsGetColorFor(title, text);
  @include _oFtTypographyLinkStyle(oColorsGetColorFor(title, text), oColorsGetColorFor(link, text));
}

@include oFtTypographySelectors(title-small) {
  @include _oFtTypographyFont(Georgia);
  font-weight: bold;
  @include oFtTypographyFontSize(15, 17);
  color: oColorsGetColorFor(title, text);
  @include _oFtTypographyLinkStyle(oColorsGetColorFor(title, text), oColorsGetColorFor(link, text));
}