@include oFtTypographySelectors(title-large) {
  font-family: $_o-ft-typography-title-large-font;
  font-weight: normal;
  @include oFtTypographyFontSize(30, 36, -5);
  color: oColorsGetColorFor(title-text);
}

@include oFtTypographySelectors(title-medium) {
  font-family: $_o-ft-typography-title-medium-font;
  font-weight: normal;
  @include oFtTypographyFontSize(21, 26);
  color: oColorsGetColorFor(title-text);
}

@include oFtTypographySelectors(title-small) {
  font-family: $_o-ft-typography-title-small-font;
  font-weight: bold;
  @include oFtTypographyFontSize(15, 17);
  color: oColorsGetColorFor(title-text);
}

@include oFtTypographySelectors(title-large__link title-medium__link title-small__link) {
  text-decoration: none;
  color: oColorsGetColorFor(title-text);
  cursor: pointer;
  #{$o-hoverable-if-hover-enabled} &:hover {
      color: oColorsGetColorFor(link-text);
  }
}