$o-ft-typography-is-silent: false !default;
$_o-ft-typography-default-wrapper-class: 'body-wrapper';
$o-ft-typography-wrapper-class: $_o-ft-typography-default-wrapper-class !default;

$o-ft-typography-body-font: $o-fonts-serif;
$o-ft-typography-body-bold-font: $o-fonts-serif;
$o-ft-typography-title-font: $o-fonts-millerdisplay-normal;
$o-ft-typography-subheading-font: $o-fonts-bentonsans-bold;
$o-ft-typography-ui-font: $o-fonts-bentonsans-normal;
