<ul class="demo-examples">
	<li class="demo-example">
        <span class="demo-icon-custom"></span>
        <span class="demo-label">lock</span>
	</li>
	<li class="demo-example">
        <span class="demo-icon-custom-color"></span>
        <span class="demo-label">lock tinted</span>
	</li>
	<li class="demo-example">
        <span class="demo-icon-custom-color-resized"></span>
        <span class="demo-label">lock resized and tinted</span>
	</li>
</ul>
