<ul class="demo-examples">
	{{#icons}}
	<li class="demo-example">
		<span class="o-icons-icon o-icons-icon--{{name}} demo-icon"></span>
		<span class="demo-label">{{name}}</span>
	</li>
	{{/icons}}
</ul>
