---
import {TooltipOnboarding} from '@financial-times/o3-tooltip';
import {Button} from '@financial-times/o3-button';

import '@financial-times/o3-tooltip/css/whitelabel.css';
import '@financial-times/o3-tooltip/css/internal.css';
import '@financial-times/o3-tooltip/css/core.css';
import '@financial-times/o3-tooltip/css/professional.css';
import '@financial-times/o3-tooltip/css/sustainable-views.css';
---

<svg
	class="not-content"
	aria-describedby="An annotated image of an onboarding tooltip."
	width="700"
	height="220"
	viewBox="0 0 700 220"
	fill="none"
	xmlns="http://www.w3.org/2000/svg"
>
	<foreignObject width="700" height="220">
		<div style="position: relative; width: 500px; height: 300px;">
			<Button
				attributes={{
					id: 'demo-onboarding-tooltip',
					style: {
						position: 'absolute',
						right: '60px',
						top: '100px',
					},
				}}
				label="Tooltip target"
				type="secondary"
			/>
			<TooltipOnboarding
				targetId="demo-onboarding-tooltip"
				content="Lorem ipsum muta est. Scribere possum quicquid hic volo, et nihil potes de illo."
				title="Heading"
				contentId="demo-onboarding-tooltip-contnent"
				placement="left"
			/>
		</div>
	</foreignObject>
	<path
		d="M86.0723 10.5C86.0723 4.97715 90.5494 0.5 96.0723 0.5V0.5C101.595 0.5 106.072 4.97715 106.072 10.5V10.5C106.072 16.0228 101.595 20.5 96.0723 20.5V20.5C90.5494 20.5 86.0723 16.0228 86.0723 10.5V10.5Z"
		fill="#990F3D"></path>
	<path
		d="M97.4103 6.884V15.5H95.9823V8.636L94.0863 9.596V8.12L96.5583 6.884H97.4103Z"
		fill="white"></path>
	<path
		d="M95.0723 20.5H97.0723V64.5C97.0723 65.0523 96.6246 65.5 96.0723 65.5V65.5C95.52 65.5 95.0723 65.0523 95.0723 64.5V20.5Z"
		fill="#990F3D"></path>
	<path
		d="M203.072 157.5C203.072 156.948 203.52 156.5 204.072 156.5V156.5C204.625 156.5 205.072 156.948 205.072 157.5V199.5H203.072V157.5Z"
		fill="#990F3D"></path>
	<path
		d="M194.072 209.5C194.072 203.977 198.549 199.5 204.072 199.5V199.5C209.595 199.5 214.072 203.977 214.072 209.5V209.5C214.072 215.023 209.595 219.5 204.072 219.5V219.5C198.549 219.5 194.072 215.023 194.072 209.5V209.5Z"
		fill="#990F3D"></path>
	<path
		d="M203.668 208.98C204.252 208.98 204.78 209.088 205.252 209.304C205.724 209.52 206.096 209.84 206.368 210.264C206.648 210.68 206.788 211.192 206.788 211.8C206.788 212.4 206.648 212.912 206.368 213.336C206.088 213.76 205.708 214.084 205.228 214.308C204.748 214.532 204.204 214.644 203.596 214.644C203.116 214.644 202.696 214.58 202.336 214.452C201.984 214.324 201.668 214.156 201.388 213.948V212.424C201.692 212.72 202.02 212.952 202.372 213.12C202.724 213.288 203.108 213.372 203.524 213.372C203.876 213.372 204.196 213.316 204.484 213.204C204.78 213.084 205.012 212.908 205.18 212.676C205.356 212.436 205.444 212.144 205.444 211.8C205.444 211.456 205.356 211.168 205.18 210.936C205.012 210.704 204.78 210.528 204.484 210.408C204.196 210.28 203.872 210.216 203.512 210.216C203.168 210.216 202.852 210.252 202.564 210.324C202.284 210.388 201.984 210.484 201.664 210.612L202.18 205.884H206.356V207.156H203.26L203.056 209.04C203.192 209.016 203.304 209 203.392 208.992C203.48 208.984 203.572 208.98 203.668 208.98Z"
		fill="white"></path>
	<path
		d="M0.0722656 127.5C0.0722656 121.977 4.54942 117.5 10.0723 117.5V117.5C15.5951 117.5 20.0723 121.977 20.0723 127.5V127.5C20.0723 133.023 15.5951 137.5 10.0723 137.5V137.5C4.54942 137.5 0.0722656 133.023 0.0722656 127.5V127.5Z"
		fill="#990F3D"></path>
	<path
		d="M9.75192 131.228H12.7999V132.5H7.19592L9.70392 129.224C9.97592 128.864 10.2279 128.528 10.4599 128.216C10.6919 127.896 10.8759 127.584 11.0119 127.28C11.1559 126.968 11.2279 126.648 11.2279 126.32C11.2279 125.944 11.1119 125.64 10.8799 125.408C10.6559 125.168 10.3159 125.048 9.85992 125.048C9.53192 125.048 9.21592 125.108 8.91192 125.228C8.61592 125.34 8.33992 125.488 8.08392 125.672C7.82792 125.848 7.59992 126.036 7.39992 126.236V124.796C7.69592 124.484 8.07192 124.232 8.52792 124.04C8.99192 123.84 9.47992 123.74 9.99192 123.74C10.5279 123.74 10.9919 123.844 11.3839 124.052C11.7839 124.252 12.0919 124.544 12.3079 124.928C12.5319 125.304 12.6439 125.752 12.6439 126.272C12.6439 126.656 12.5639 127.036 12.4039 127.412C12.2519 127.788 12.0479 128.164 11.7919 128.54C11.5359 128.916 11.2559 129.3 10.9519 129.692L9.75192 131.228Z"
		fill="white"></path>
	<path
		d="M20.0723 126.5H63.0723C63.6246 126.5 64.0723 126.948 64.0723 127.5V127.5C64.0723 128.052 63.6246 128.5 63.0723 128.5H20.0723V126.5Z"
		fill="#990F3D"></path>
	<path
		d="M265.072 10.5C265.072 4.97715 269.549 0.5 275.072 0.5V0.5C280.595 0.5 285.072 4.97715 285.072 10.5V10.5C285.072 16.0228 280.595 20.5 275.072 20.5V20.5C269.549 20.5 265.072 16.0228 265.072 10.5V10.5Z"
		fill="#990F3D"></path>
	<path
		d="M272.482 8.156V6.884H277.618L275.722 10.376C276.114 10.464 276.454 10.62 276.742 10.844C277.038 11.068 277.266 11.348 277.426 11.684C277.586 12.02 277.666 12.404 277.666 12.836C277.666 13.412 277.53 13.912 277.258 14.336C276.994 14.752 276.642 15.076 276.202 15.308C275.762 15.532 275.282 15.644 274.762 15.644C274.202 15.644 273.734 15.576 273.358 15.44C272.99 15.296 272.67 15.12 272.398 14.912V13.424C272.702 13.72 273.05 13.952 273.442 14.12C273.842 14.288 274.25 14.372 274.666 14.372C275.01 14.372 275.306 14.32 275.554 14.216C275.802 14.104 275.994 13.936 276.13 13.712C276.274 13.488 276.346 13.2 276.346 12.848C276.346 12.472 276.238 12.164 276.022 11.924C275.806 11.676 275.51 11.496 275.134 11.384C274.766 11.264 274.35 11.204 273.886 11.204L275.53 8.156H272.482Z"
		fill="white"></path>
	<path
		d="M274.072 20.5H276.072V64.5C276.072 65.0523 275.625 65.5 275.072 65.5V65.5C274.52 65.5 274.072 65.0523 274.072 64.5V20.5Z"
		fill="#990F3D"></path>
	<path
		transform="translate(123 -5)"
		d="M203.072 157.5C203.072 156.948 203.52 156.5 204.072 156.5V156.5C204.625 156.5 205.072 156.948 205.072 157.5V199.5H203.072V157.5Z"
		fill="#990F3D"></path>
	<path
		transform="translate(123 -5)"
		d="M194.072 209.5C194.072 203.977 198.549 199.5 204.072 199.5V199.5C209.595 199.5 214.072 203.977 214.072 209.5V209.5C214.072 215.023 209.595 219.5 204.072 219.5V219.5C198.549 219.5 194.072 215.023 194.072 209.5V209.5Z"
		fill="#990F3D"></path>
	<path
		transform="translate(-23 94)"
		d="M351.263 105.884L348.731 111.296H350.831V109.472H352.151V111.296H353.375V112.532H352.151V114.5H350.831V112.532H346.679L349.787 105.884H351.263Z"
		fill="#ffffff"></path>
</svg>

<script>
	import '@financial-times/o3-tooltip';
</script>
