---
import {TooltipToggle} from '@financial-times/o3-tooltip';

import '@financial-times/o3-tooltip/css/whitelabel.css';
import '@financial-times/o3-tooltip/css/internal.css';
import '@financial-times/o3-tooltip/css/core.css';
import '@financial-times/o3-tooltip/css/professional.css';
import '@financial-times/o3-tooltip/css/sustainable-views.css';
---

<svg
	class="not-content"
	aria-describedby="An annotated image of a toggletip. The button text is marked (1, label); the outer box of the button marked to (2, container); the left aligned icon of the button marked (3)."
	style="display: block; margin: 0 auto"
	width="700"
	height="220"
	viewBox="0 0 700 220"
	fill="none"
	xmlns="http://www.w3.org/2000/svg"
>
	<foreignObject width="700" height="220">
		<div
			style="position: relative; width: 500px; height: 300px; overflow: hidden;"
		>
			<div style="position: relative; top: 78px; left: 295px">
				<TooltipToggle
					title=""
					content="Lorem ipsum muta est. Scribere possum quicquid hic volo, et nihil potes de illo."
					placement="left"
				/>
			</div>
		</div>
	</foreignObject>
	<path
		d="M319.072 90.5C319.072 89.9477 319.52 89.5 320.072 89.5H340.072V91.5H320.072C319.52 91.5 319.072 91.0523 319.072 90.5V90.5Z"
		fill="#990F3D"></path>
	<path
		d="M340.072 90.5C340.072 84.9772 344.549 80.5 350.072 80.5V80.5C355.595 80.5 360.072 84.9772 360.072 90.5V90.5C360.072 96.0228 355.595 100.5 350.072 100.5V100.5C344.549 100.5 340.072 96.0228 340.072 90.5V90.5Z"
		fill="#990F3D"></path>
	<path
		d="M351.41 86.884V95.5H349.982V88.636L348.086 89.596V88.12L350.558 86.884H351.41Z"
		fill="white"></path>
	<path
		transform="translate(0 -40)"
		d="M0.0722656 92C0.0722656 86.4772 4.54942 82 10.0723 82V82C15.5951 82 20.0723 86.4772 20.0723 92V92C20.0723 97.5228 15.5951 102 10.0723 102V102C4.54942 102 0.0722656 97.5228 0.0722656 92V92Z"
		fill="#990F3D"></path>
	<path
		transform="translate(0 -40)"
		d="M9.75192 95.728H12.7999V97H7.19592L9.70392 93.724C9.97592 93.364 10.2279 93.028 10.4599 92.716C10.6919 92.396 10.8759 92.084 11.0119 91.78C11.1559 91.468 11.2279 91.148 11.2279 90.82C11.2279 90.444 11.1119 90.14 10.8799 89.908C10.6559 89.668 10.3159 89.548 9.85992 89.548C9.53192 89.548 9.21592 89.608 8.91192 89.728C8.61592 89.84 8.33992 89.988 8.08392 90.172C7.82792 90.348 7.59992 90.536 7.39992 90.736V89.296C7.69592 88.984 8.07192 88.732 8.52792 88.54C8.99192 88.34 9.47992 88.24 9.99192 88.24C10.5279 88.24 10.9919 88.344 11.3839 88.552C11.7839 88.752 12.0919 89.044 12.3079 89.428C12.5319 89.804 12.6439 90.252 12.6439 90.772C12.6439 91.156 12.5639 91.536 12.4039 91.912C12.2519 92.288 12.0479 92.664 11.7919 93.04C11.5359 93.416 11.2559 93.8 10.9519 94.192L9.75192 95.728Z"
		fill="white"></path>
	<path
		transform="translate(0 -40)"
		d="M20.0723 91H54.0723C54.6246 91 55.0723 91.4477 55.0723 92V92C55.0723 92.5523 54.6246 93 54.0723 93H20.0723V91Z"
		fill="#990F3D"></path>
	<path
		d="M285.072 10C285.072 4.47715 289.549 0 295.072 0V0C300.595 0 305.072 4.47715 305.072 10V10C305.072 15.5228 300.595 20 295.072 20V20C289.549 20 285.072 15.5228 285.072 10V10Z"
		fill="#990F3D"></path>
	<path
		d="M292.482 7.656V6.384H297.618L295.722 9.876C296.114 9.964 296.454 10.12 296.742 10.344C297.038 10.568 297.266 10.848 297.426 11.184C297.586 11.52 297.666 11.904 297.666 12.336C297.666 12.912 297.53 13.412 297.258 13.836C296.994 14.252 296.642 14.576 296.202 14.808C295.762 15.032 295.282 15.144 294.762 15.144C294.202 15.144 293.734 15.076 293.358 14.94C292.99 14.796 292.67 14.62 292.398 14.412V12.924C292.702 13.22 293.05 13.452 293.442 13.62C293.842 13.788 294.25 13.872 294.666 13.872C295.01 13.872 295.306 13.82 295.554 13.716C295.802 13.604 295.994 13.436 296.13 13.212C296.274 12.988 296.346 12.7 296.346 12.348C296.346 11.972 296.238 11.664 296.022 11.424C295.806 11.176 295.51 10.996 295.134 10.884C294.766 10.764 294.35 10.704 293.886 10.704L295.53 7.656H292.482Z"
		fill="white"></path>
	<path
		d="M294.072 20H296.072V85C296.072 85.5523 295.625 86 295.072 86V86C294.52 86 294.072 85.5523 294.072 85V20Z"
		fill="#990F3D"></path>
	<path
		d="M170.964 135C170.964 134.448 171.412 134 171.964 134V134C172.516 134 172.964 134.448 172.964 135V161H170.964V135Z"
		fill="#990F3D"></path>
	<path
		d="M161.964 171C161.964 165.477 166.441 161 171.964 161V161C177.487 161 181.964 165.477 181.964 171V171C181.964 176.523 177.487 181 171.964 181V181C166.441 181 161.964 176.523 161.964 171V171Z"
		fill="#990F3D"></path>
	<path
		d="M173.155 167.384L170.623 172.796H172.723V170.972H174.043V172.796H175.267V174.032H174.043V176H172.723V174.032H168.571L171.679 167.384H173.155Z"
		fill="white"></path>
</svg>

<script>
	import '@financial-times/o3-tooltip';
</script>
