/// Notice Message
///
/// Outputs styling for an notice or notice-bleed type message
/// @example
/// @include oMessageNotice('my-class');
///
/// @param {String} $class - base class name

@mixin oMessageNotice ($class) {
	.#{$class}--notice,
	.#{$class}--notice-bleed .#{$class}__container, {
		@extend %o-message-alert-notice-grid;
	}

	.#{$class}--notice,
	.#{$class}--notice-bleed {
		.#{$class}__content {
			@extend %o-message-alert-notice-content;
			padding: 0 oTypographySpacingSize(5);

			&-main {
				@extend %o-message-alert-notice-content-main;
			}
		}

		.#{$class}__actions {
			@include oTypographyPadding($bottom: 1);
			display: inline-block;

			@include oGridRespondTo($until: M) {
				display: none;
			};
		}
	}
}
