---
import Preview from '../../utils/Preview.astro'
import FigmaSbLinks from '../../utils/FigmaSbLinks.astro';

import * as CheckboxGrouptsx from '../preview/Checkbox-group'

const {brand} = Astro.props
const component = CheckboxGrouptsx
const storybookId = `${brand}-o3-form--check-box-group`


---

<div>
	<Preview {component} />
	<FigmaSbLinks storybookId={storybookId} />
</div>

