---
import Preview from '../../utils/Preview.astro'
import FigmaSbLinks from '../../utils/FigmaSbLinks.astro';

import * as InputPasswordJSX from '../preview/Input-password-disabled'

const {brand} = Astro.props
const component = InputPasswordJSX
const storybookId = `${brand}-o3-form--password-input`
---

<div>
	<Preview {component} />
	<FigmaSbLinks storybookId={storybookId} />
</div>

