---
import Preview from '../../utils/Preview.astro'
import FigmaSbLinks from '../../utils/FigmaSbLinks.astro';

import * as InputShortJSX from '../preview/Input-short-text-four'

const {brand} = Astro.props
const component = InputShortJSX
const storybookId = `${brand}-o3-form--short-text-input`
---

<div>
	<Preview {component} />
	<FigmaSbLinks storybookId={storybookId}  />
</div>

