---
import Preview from '../../utils/Preview.astro'
import FigmaSbLinks from '../../utils/FigmaSbLinks.astro';

import * as SelectInputErrorStateJSX from '../preview/Select-input-error-state';

const {brand} = Astro.props
const component = SelectInputErrorStateJSX
const storybookId = `${brand}-o3-form--select-input`
---

<div>
	<Preview {component} />
	<FigmaSbLinks storybookId={storybookId} />
</div>

