<div>
	<h1>Basic Demo</h1>
	<div class="o-lazy o-lazy-load--transition" data-o-component="o-lazy"></div>
</div>

<div>
	<h1>Basic Demo:hover</h1>
	<div class="o-lazy o-lazy-load--transition" data-o-component="o-lazy"></div>
</div>
