<div class="container-inverse">

<div data-o-component="o-tabs" class="o-tabs o-tabs--buttontabs o-tabs--secondary o-tabs--inverse" role="tablist">
	<a role="tab" href="#tabContent1">Tab 1</a>
	<a role="tab" href="#tabContent2">Tab 2</a>
	<a role="tab" href="#tabContent3">Tab 3</a>
</div>
<div id="tabContent1" class="o-tabs__tabpanel">
	<h3>Tab content 1</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, ipsum.</p>
</div>
<div id="tabContent2" class="o-tabs__tabpanel">
	<h3>Tab content 2</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, ipsum.</p>
</div>
<div id="tabContent3" class="o-tabs__tabpanel">
	<h3>Tab content 3</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, ipsum.</p>
</div>

</div>
