<ul data-o-component="o-tabs" class="o-tabs" role="tablist" data-o-tabs-update-url>
	<li role="tab"><a href="#tabContent1">Tab 1</a></li>
	<li role="tab"><a href="#tabContent2">Tab 2</a></li>
	<li role="tab"><a href="#tabContent3">Tab 3</a></li>
</ul>
<div id="tabContent1" class="o-tabs__tabpanel">
	<h3>Tab content 1</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, ipsum.</p>
</div>
<div id="tabContent2" class="o-tabs__tabpanel">
	<h3>Tab content 2</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, ipsum.</p>
</div>
<div id="tabContent3" class="o-tabs__tabpanel">
	<h3>Tab content 3</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, ipsum.</p>
</div>

<ul data-o-component="o-tabs" class="o-tabs o-tabs--big o-tabs--buttontabs" role="tablist">
	<li role="tab"><a href="#tabContent1A">Tab 1</a></li>
	<li role="tab"><a href="#tabContent2A">Tab 2</a></li>
	<li role="tab" aria-selected="true"><a href="#tabContent3A">Tab 3</a></li>
</ul>
<div id="tabContent1A" class="o-tabs__tabpanel">
	<h3>Tab content 1</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, ipsum.</p>
</div>
<div id="tabContent2A" class="o-tabs__tabpanel">
	<h3>Tab content 2</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, ipsum.</p>
</div>
<div id="tabContent3A" class="o-tabs__tabpanel">
	<h3>Tab content 3</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, ipsum.</p>
</div>

<ul data-o-component="o-tabs" class="o-tabs o-tabs--buttontabs" role="tablist">
	<li role="tab"><a href="#tabContent1B">Tab 1</a></li>
	<li role="tab"><a href="#tabContent2B">Tab 2</a></li>
	<li role="tab" aria-selected="true"><a href="#tabContent3B">Tab 3</a></li>
</ul>
<div id="tabContent1B" class="o-tabs__tabpanel">
	<h3>Tab content 1</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, ipsum.</p>
</div>
<div id="tabContent2B" class="o-tabs__tabpanel">
	<h3>Tab content 2</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, ipsum.</p>
</div>
<div id="tabContent3B" class="o-tabs__tabpanel">
	<h3>Tab content 3</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, ipsum.</p>
</div>

<div class="demo-inverse">
	<ul data-o-component="o-tabs" class="o-tabs o-tabs--buttontabs o-tabs--inverse" role="tablist">
		<li role="tab"><a href="#tabContent1C">Tab 1</a></li>
		<li role="tab"><a href="#tabContent2C">Tab 2</a></li>
		<li role="tab" aria-selected="true"><a href="#tabContent3C">Tab 3</a></li>
	</ul>
	<div id="tabContent1C" class="o-tabs__tabpanel">
		<h3>Tab content 1</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, ipsum.</p>
	</div>
	<div id="tabContent2C" class="o-tabs__tabpanel">
		<h3>Tab content 2</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, ipsum.</p>
	</div>
	<div id="tabContent3C" class="o-tabs__tabpanel">
		<h3>Tab content 3</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, ipsum.</p>
	</div>
</div>
