<div data-o-component="o-tabs" class="o-tabs" role="tablist" data-o-tabs-update-url>
	<a role="tab" aria-controls="#tabContent1" href="#tabContent1" >Tab 1</a>
	<a role="tab" aria-controls="#tabContent2" href="#tabContent2">Tab 2</a>
	<a role="tab" aria-controls="#tabContent3" href="#tabContent3">Tab 3</a>
</div>
<div id="tabContent1" class="o-tabs__tabpanel">
	<h3>Tab content 1</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, ipsum.</p>
</div>
<div id="tabContent2" class="o-tabs__tabpanel">
	<h3>Tab content 2</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, ipsum.</p>
</div>
<div id="tabContent3" class="o-tabs__tabpanel">
	<h3>Tab content 3</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, ipsum.</p>
</div>

<div data-o-component="o-tabs" class="o-tabs o-tabs--big o-tabs--buttontabs" role="tablist">
	<a role="tab" href="#tabContent1A" aria-controls="#tabContent1A">Tab 1</a>
	<a role="tab" href="#tabContent2A" aria-controls="#tabContent2A">Tab 2</a>
	<a role="tab" href="#tabContent3A" aria-controls="#tabContent3A">Tab 3</a>
</div>
<div id="tabContent1A" class="o-tabs__tabpanel">
	<h3>Tab content 1</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, ipsum.</p>
</div>
<div id="tabContent2A" class="o-tabs__tabpanel">
	<h3>Tab content 2</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, ipsum.</p>
</div>
<div id="tabContent3A" class="o-tabs__tabpanel">
	<h3>Tab content 3</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, ipsum.</p>
</div>

<div data-o-component="o-tabs" class="o-tabs o-tabs--buttontabs" role="tablist">
	<a role="tab" href="#tabContent1B" aria-controls="#tabContent1B">Tab 1</a>
	<a role="tab" href="#tabContent2B" aria-controls="#tabContent2B">Tab 2</a>
	<a role="tab" aria-selected="true" href="#tabContent3B" aria-controls="#tabContent3B">Tab 3</a>
</div>
<div id="tabContent1B" class="o-tabs__tabpanel">
	<h3>Tab content 1</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, ipsum.</p>
</div>
<div id="tabContent2B" class="o-tabs__tabpanel">
	<h3>Tab content 2</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, ipsum.</p>
</div>
<div id="tabContent3B" class="o-tabs__tabpanel">
	<h3>Tab content 3</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, ipsum.</p>
</div>

<div class="demo-inverse">
	<div data-o-component="o-tabs" class="o-tabs o-tabs--buttontabs o-tabs--inverse" role="tablist">
		<a role="tab" href="#tabContent1C" aria-controls="#tabContent1C">Tab 1</a>
		<a role="tab" href="#tabContent2C" aria-controls="#tabContent2C">Tab 2</a>
		<a role="tab" aria-selected="true" href="#tabContent3C" aria-controls="#tabContent3C">Tab 3</a>
	</div>
	<div id="tabContent1C" class="o-tabs__tabpanel">
		<h3>Tab content 1</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, ipsum.</p>
	</div>
	<div id="tabContent2C" class="o-tabs__tabpanel">
		<h3>Tab content 2</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, ipsum.</p>
	</div>
	<div id="tabContent3C" class="o-tabs__tabpanel">
		<h3>Tab content 3</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, ipsum.</p>
	</div>
</div>
