<label class="o-forms-field" for="my-autocomplete">
    <span class="o-forms-title">
        <span class="o-forms-title__main">Select your country</span>
    </span>
    <span class="o-forms-input o-forms-input--select o-forms-input--text">
        <div data-o-component="o-autocomplete" data-o-autocomplete-highlighter="customHighlighter" class="o-autocomplete" id="my-autocomplete">
            <select id="my-autocomplete">
                <option value=""></option>
                <option value="fr">France</option>
                <option value="de">Germany</option>
                <option value="gb">United Kingdom</option>
            </select>
        </div>
    </span>
</label>
