<label for="my-autocomplete">Select your country</label>
<div data-o-component="o-autocomplete" class="o-autocomplete" data-o-autocomplete-highlighter="customHighlighter">
    <select id="my-autocomplete">
        <option value=""></option>
        <option value="fr">France</option>
        <option value="de">Germany</option>
        <option value="gb">United Kingdom</option>
    </select>
</div>
