<label for="my-autocomplete">Select your country</label>
<select class="o-autocomplete" data-o-component="o-autocomplete" id="my-autocomplete">
    <option value="fr">France</option>
    <option value="de">Germany</option>
    <option value="gb">United Kingdom</option>
</select>
