// sass-lint:disable mixins-before-declarations

@mixin _oTopperThemeSplitTextPortraitLeft($colors) {
	.o-topper__read-next {
		display: none;
	}

	@include oGridRespondTo($until: M) {
		display:grid;
		grid-template-rows: 1fr 1fr auto;
		padding: 0;
		
		.o-topper__content {
			order: 3;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 20px 10px;
			grid-row: 3 / span 1;
		}

		.o-topper__background {
			order: 2;
			grid-row: 2 / span 2;
		}

		.o-topper__visual {
			order: 1;
			min-height: 350px;
			grid-row: 1 / span 2; 
		}

		@each $color-name in $colors {
			&.o-topper--color-#{$color-name} {
				.o-topper__image-caption {
					$background: oColorsByName($color-name);
					$foreground: oColorsGetTextColor($background, $opacity: 100);
					color: oColorsMix($foreground, $color-name, 73);
					background-color: $background;
				}
			}
		}

		.o-topper__picture {
			position: relative;
			width: 100%;
			height: 350px;
			float: right;
		}

		.o-topper__image-caption {
			padding-bottom: 10px;
		}
	}

	@include oGridRespondTo(M) {
		display: grid;
		grid-template-columns: 1fr 1fr; 
		grid-template-rows: minmax(0, 100%) 1fr;

		.o-topper__content {
			grid-column: 1 / span 2;
			grid-row: 1;
			width: 55%;
			box-sizing: border-box;
			align-self: center;
			padding-right: 20px;
		}

		.o-topper__background {
			grid-row: 1;
		}

		.o-topper__visual {
			grid-row: 1/span 2;
		}

		.o-topper__picture {
			width: 45%;
			float: right;
			height: 100%;
			position: relative;
		}

		.o-topper__image {
			@include oGridRespondTo($until: M) {
				max-height: 480px;
			}
		}

		.o-topper__image-caption {
			margin-bottom: 0;
			margin-top: 10px;
			border-top: solid 1px oColorsGetTextColor($background: black, $opacity: 50);
			color: oColorsByName("black-70"); 
		}
	}

	@include oGridRespondTo(L) {
		grid-template-rows: minmax(0, 100%) 1fr;
	}

	@supports (object-fit: cover) {
		.o-topper__image {
			position: absolute;
		}

		.o-topper__visual {

			@include oGridRespondTo(M) {
				.o-topper__picture {
					aspect-ratio: 2 / 3;
				}
			}
		}
	}
	
	.o-topper__image-credit {
		top: 350px;
		@include oGridRespondTo(M) {
			top: 480px;
		}
		@include oGridRespondTo(L) {
			top: 600px;
		}
	}
	
	.o-topper__image-caption {
		position: relative;
		width: 100%;
		float: right;
		box-sizing: border-box;
	}
}
