@import "../../main";

@include oVideo();
@import '@financial-times/o-fonts/main';
@include oFonts();
@import '@financial-times/o-private-foundation/o-normalise/main';
@include oNormalise();

body {
	font-family: MetricWeb, sans-serif;
}

.demo-video-container {
	position: relative;
	margin: 0 0 20px;
}

.demo-video-container--small {
	width: 240px;
	height: 135px;
}

.demo-video-container--medium {
	width: 400px;
	height: 225px;
}

.demo-video-container--large {
	width: 640px;
	height: 360px;
}
