<div class="demo-video-container demo-video-container--large">
	<div class="o-video o-video--large"
		data-o-component="o-video"
		data-o-video-systemcode="origami-build-tools"
		data-o-video-id="21d77b6c-1901-4d1d-9c3b-84dfe9904fd2"
		data-o-video-advertising="true">
	</div>
</div>
<label>
	Select video:
	<select class"demo-playlist">
		<option value="773a4c8b-8b3f-4508-8ac5-1eae49a13476">Fox News scandal threatens Sky deal</option>
		<option value="a20cfa9a-6d89-4eb0-97ea-18442259401b">S Korea’s new president set to rebalance region</option>
		<option value="21d77b6c-1901-4d1d-9c3b-84dfe9904fd2">FT's Editor on Macron and the UK elections</option>
	</select>
</label>
