////
/// @group o-message
/// @link http://registry.origami.ft.com/components/o-message
////

/// Alert Messages
///
/// Outputs styling for all alert type messages
/// @example
/// @include oMessageAlerts('my-class');
///
/// @param {String} $class - base class name
/// @param {String} $type - message type ('all', 'alert', 'alert-bleed' or 'alert-inner')
/// @param {String} $status - message status ('all', 'success', 'neutral', 'error')

@mixin oMessageAlerts($class, $type, $status) {
	@if $type == 'all' {
		@include oMessageAlert($class);
		@include oMessageAlertInner($class);
	} @else if $type == 'alert' or $type == 'alert-bleed' {
			@include oMessageAlert($class);
	} @else if $type == 'alert-inner' {
			@include oMessageAlertInner($class);
	} @else {
		@include _oMessageError("#{$type} is not a type, the options are 'alert', 'alert-bleed' or 'alert-inner'");
	}

	@if $status == 'all' {
		@each $status in $o-message-status {
			@include oMessageStatus($status, $class)
		}
	} @else if index($o-message-status, $status) != null {
			@include oMessageStatus($status, $class);
	} @else {
		@include _oMessageError("#{$status} is not a status, the options are 'success', 'neutral' or 'error'");
	}
}

/// Alert Message
///
/// Outputs styling for an alert or alert-bleed type message
/// @example
/// @include oMessageAlert('my-class');
///
/// @param {String} $class - base class name

@mixin oMessageAlert ($class) {
	.#{$class}--alert,
	.#{$class}--alert-bleed {
		height: $_o-message-alert-height;

		.#{$class}__container:before {
			top: ($_o-message-alert-height - $_o-message-alert-icon-size) / 2;
		}

		.#{$class}__content {
			@include oMessageAlertContent;
		}

		.#{$class}__highlight {
			@include oTypographyMargin($top: 0, $bottom: 0);
		}

		.#{$class}__detail {
			@include oGridRespondTo($until: M) {
				display: none;
			};
		}

		.#{$class}__actions {
			display: inline-block;
		}

		.#{$class}__action--secondary {
			@include oGridRespondTo($until: S) {
				display: none;
			};
		}
	}

	.#{$class}--alert,
	.#{$class}--alert-bleed .#{$class}__container {
		@include oMessageAlertGrid;
	}
}

// Customised Icon for Alert messages
//
// @param {String} $icon-name - name of the icon (accepts any icon name from fticons)
// @param {String} $icon-color - name of the icon color (accepts any color from o-colors)
// @param {String} $icon-size - size of the icon

@mixin oMessageAlertIcon ($icon-name, $icon-color, $icon-size) {
	@include oIconsGetIcon(
		$icon-name,
		$icon-color,
		$icon-size
	);
	content: '';
}

// Alert message content styles
// Outputs content layout

@mixin oMessageAlertContent () {
	@include oTypographyMargin($top: 0, $bottom: 0);
	padding-left: oTypographySpacingSize(10);
	position: relative;
	top: ($_o-message-alert-height - $_o-message-action-height) / 2;
}

// Alert message button style
//
// @param {String} $background - name of the button background color (accepts any color from o-colors)
// @param {String} $text - name of the button text color (accepts any color from o-colors)

@mixin oMessageAlertButtonState ($background, $text) {
	@include oMessageButtonBase;
	@include oButtonsCustomTheme($background, $text);
}


// Alert message link style
//
//
// @param {String} $custom-link-base - name of the link text color (required by oTypographyLinkCustom, accepts any color from o-colors)
// @param {String} $custom-link-hover - name of the link hover color (required by oTypographyLinkCustom,accepts any color from o-colors)
// @param {String} $custom-link-background - name of the link background color (required by oTypographyLinkCustom, accepts any color from o-colors)
// @param {String} $link-hover - name of the link hover color (overrides default states from oTypographyLinkCustom, accepts any color from o-colors)
// @param {String} $link-background - name of the link background color (overrides default states from oTypographyLinkCustom, accepts any color from o-colors)

@mixin oMessageAlertLink ($custom-link-base, $custom-link-hover, $custom-link-background, $link-hover, $link-focus) {
	@include oTypographyLinkCustom(
		$custom-link-base,
		$custom-link-hover,
		$custom-link-background
	);
	line-height: $_o-message-action-height;
	white-space: nowrap;

	&:hover {
		border-bottom-color: $link-hover; // is different to custom link hover by design.
	}

	&:focus {
		outline: 3px solid $link-focus;
		border-bottom-color: transparent;
	}
}


// Alert message grid
// Outputs grid layout for alert message

@mixin oMessageAlertGrid () {
	@include oGridContainer();
	@include oGridRespondTo($from: S) {
		padding: 0 oGridGutter();
	}
}
