/// Alert Message
///
/// Outputs styling for an alert or alert-bleed type message
/// @example
/// @include oMessageAlert('my-class');
///
/// @param {String} $class - base class name

@mixin oMessageAlert ($class) {
	.#{$class}--alert,
	.#{$class}--alert-bleed .#{$class}__container, {
		@extend %o-message-alert-notice-grid;
	}

	.#{$class}--alert,
	.#{$class}--alert-bleed {

		.#{$class}__container:before {
			top: $_o-message-text-spacing / 2;
		}

		.#{$class}__content {
			@extend %o-message-alert-notice-content;
			padding: 0 oTypographySpacingSize(10);

			&-main {
				@extend %o-message-alert-notice-content-main;
			}

			&-highlight {
				@extend %o-message-content-highlight;
			}
		}

		.#{$class}__actions {
			padding-bottom: $_o-message-text-spacing;
			display: inline-block;
		}
	}
}
