/// Alert Message
///
/// Outputs styling for an alert or alert-bleed type message
/// @example
/// @include oMessageAlert('my-class');
///
/// @param {String} $class - base class name

@mixin oMessageAlert ($class) {
	.#{$class}--alert,
	.#{$class}--alert-bleed .#{$class}__container, {
		@extend %o-message-alert-notice-grid;
	}

	.#{$class}--alert,
	.#{$class}--alert-bleed {
		height: $_o-message-alert-height;

		.#{$class}__container:before {
			top: ($_o-message-alert-height - $_o-message-alert-icon-size) / 2;
		}

		.#{$class}__content {
			@extend %o-message-alert-notice-content;
			padding: 0 oTypographySpacingSize(10);

			&-main {
				@extend %o-message-alert-notice-content-main;
			}

			&-highlight {
				@include oMessageContentHighlight;
			}

			&-detail {
				@include oGridRespondTo($until: M) {
					display: none;
				};
			}
		}

		.#{$class}__actions {
			@extend %o-message-alert-notice-actions;

			&__secondary {
				@include oGridRespondTo($until: S) {
					display: none;
				};
			}
		}
	}
}
