@if $o-header-is-silent == false {

	.o-header__mega-column--articles {

		.o-header__mega-item {
			&:before {
				@include oIconsGetIcon('arrow-right', oColorsGetPaletteColor('claret-1'), $_o-header-icon-size-small, $iconset-version: 1);
				vertical-align: text-top;
				content: '';
			}
		}

		.o-header__mega-link {
			white-space: none;
		}

	}

}
