@if $o-header-is-silent == false {

	.o-header__mega {
		@include oTypographySansSize('s');
		@include oEffectsShadowsElevation('low');
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 1;
		box-sizing: border-box;
		width: 100%;
		padding: $_o-header-mega-padding-y $_o-header-mega-padding-x;
		border-top: 1px solid oColorsGetColorFor('o-header', 'border');
		background-color: oColorsGetColorFor('o-header', 'background');

		// full screen width regardless of the container width...
		.enhanced & {
			left: 50%;
			width: 100vw;
			transform: translateX(-50%);
		}

		// to be enhanced with JS in future
		:hover > & {
			display: block;
		}
	}

	.o-header__mega-wrapper {
		display: table;
		table-layout: fixed;
		width: 100%;
	}

	.o-header__mega-column {
		display: table-cell;
		padding: 0 $_o-header-mega-padding-x * 2;
		border-left: 1px solid oColorsGetColorFor('o-header', 'border');

		&:first-child {
			padding-left: 0;
			border-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}
	}

	.o-header__mega-heading {
		margin: 0 0 $_o-header-padding-y;
		font-size: inherit;
		text-transform: uppercase;
	}

	.o-header__mega-content {}

	.o-header__mega-list {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.o-header__mega-item {
		line-height: 1.5;
	}

	.o-header__mega-link {
		@include oHeaderLink();

		&:hover {
			text-decoration: underline;
		}
	}

}
