root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true

[package.json]
indent_style = space
indent_size = 2

[*.y{,a}ml]
indent_style = space
indent_size = 2

[.release-please-manifest.json]
insert_final_newline = false
