node_modules/
**/package-lock.json
origami.ft.com/
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
*_flymake.*
*.rel
.projectile
.dir-locals.el
.fuse_hidden*
.directory
.Trash-*
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
.apdisk
.nyc_output
.eslintcache
.clj-kondo/
.lsp/
.log/
