// Generates css for a fixed position header at the top of the page
@mixin ftHeaderPositionFixed () {
	.ft-header-module {
		margin-bottom: 10px;
		min-height: 77 + $ft-header-top-offset + px;
	}

	.ft-header-nav-bar{
		position: fixed;
		top: $ft-header-top-offset + px;
		right: 0;
		left: 0;
	   	height: 50px;
	   	background-color: $ftColor-DarkDarkGrey;
	}	
}

// Generates css for a static header at the top of the page
@mixin ftHeaderPositionStatic () {
	.ft-header-module {
		margin-bottom: 10px;
		min-height: 77px;
	}

	.ft-header-nav-bar{
	   	height: 50px;
	   	background-color: $ftColor-DarkDarkGrey;
	}
}