$o-ft-header-name: o-ft-header;
$o-ft-header-version: null !default;
$o-ft-header-assets-path: $o-ft-header-name !default;
$o-ft-header-top-offset: 0 !default;
$o-ft-header-sticky: true !default;
$o-ft-header-z-index: false !default;
$o-ft-header-is-silent: true !default;
