/**
 * Colour palette
 *
 * Avoid using these colours directly in products.  Instead, prefer the colour
 * use case variables in main.scss
 */

/* Primary Palette */
$ftColor-Pink: #fff1e0;
$ftColor-Blue: #2e6e9e;
$ftColor-Claret: #9b164f;
$ftColor-??????: #e3dfca;
$ftColor-Orange: #d66d06;
$ftColor-??????: #9e2f50;

/* Greys */
$ftColor-WarmGrey1: #a7a59b;
$ftColor-WarmGrey2: #74736c;
$ftColor-CoolGrey1: #777;
$ftColor-CoolGrey2: #dfded8;
$ftColor-DarkGrey: #505050;

/* Tints */
$ftColor-Tint1: #f6e9d8;
$ftColor-Tint2: #e9decf;
$ftColor-Tint3: #cec6b9;

/* Colours */
$ftColor-Red: #c00;
$ftColor-Green: #458b00;
