<div class="o-grid-row">
	<div data-o-grid-colspan="5">
		<h1 class="demo-heading">General</h1>
	</div>
	<div data-o-grid-colspan="2">&nbsp;</div>
	<div data-o-grid-colspan="5">
		<h1 class="demo-heading">Article</h1>
	</div>
</div>
<div class="o-grid-row">
	<div data-o-grid-colspan="5">
		<h2 class="o-ft-typography-heading">Heading</h2>
		<h2 class="o-ft-typography-heading"><span class="o-ft-typography-heading__link">HEADING LINK</span> <span class="o-ft-typography-heading__link--hover">HEADING LINK HOVER</span></h2>
	</div>
	<div data-o-grid-colspan="2">
		<h1 class="demo-heading">h1</h1>
	</div>
	<div data-o-grid-colspan="5">
		<div class="o-ft-typography-article-title--primary">
			article-title--primary
		</div>
		<div class="o-ft-typography-article-title--primary">
			<span class="o-ft-typography-article-title__link">article-title__link</span>
			<span class="o-ft-typography-article-title__link--hover">article-title__link--hover</span>
		</div>
	</div>
</div>
<div class="o-grid-row">
	<div data-o-grid-colspan="5">
		<h3 class="o-ft-typography-subheading">SUBHEADING</h3>
		<h3 class="o-ft-typography-subheading"><span class="o-ft-typography-subheading__link">SUBHEADING LINK</span> <span class="o-ft-typography-subheading__link--hover">SUBHEADING LINK HOVER</span></h3>
	</div>
	<div data-o-grid-colspan="2">
		<h1 class="demo-heading">h2</h1>
	</div>
	<div data-o-grid-colspan="5">
		<div class="o-ft-typography-article-lead">
			article lead
			<span class="o-ft-typography-article-lead__link">article-lead__link</span>
			<span class="o-ft-typography-article-lead__link--hover">article-lead__link--hover</span>
		</div>
	</div>
</div>
<div class="o-grid-row">
	<div data-o-grid-colspan="5">
		<h4 class="o-ft-typography-item-title">Item title</h4>
		<h4 class="o-ft-typography-item-title"><span class="o-ft-typography-item-title__link">Item title link</span> <span class="o-ft-typography-item-title__link--hover">Item title link hover</span></h4>
	</div>
	<div data-o-grid-colspan="2">
		<h1 class="demo-heading">h3 (&amp; subhead)</h1>
	</div>
	<div data-o-grid-colspan="5">
		<div class="o-ft-typography-article-subhead">
			article lead
			<span class="o-ft-typography-article-subhead__link">article-subhead__link</span>
			<span class="o-ft-typography-article-subhead__link--hover">article-subhead__link--hover</span>
		</div>
	</div>
</div>
<div class="o-grid-row">
	<div data-o-grid-colspan="5">
		&nbsp;
	</div>
	<div data-o-grid-colspan="2">
		<h1 class="demo-heading">Metadata</h1>
	</div>
	<div data-o-grid-colspan="5">
		<div class="o-ft-typography-article-byline">article-byline</div>
		<div class="o-ft-typography-article-timestamp">article-timestamp</div>
	</div>
</div>
<div class="o-grid-row">
	<div data-o-grid-colspan="5">
		<p class="o-ft-typography-body--lead o-ft-typography-body__block">Lead body. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras viverra auctor nisi, nec aliquet metus. Pellentesque enim lacus, feugiat sit amet erat a, mollis lacinia lacus.</p>
	</div>
	<div data-o-grid-colspan="2">
		<h1 class="demo-heading">Lead body</h1>
	</div>
	<div data-o-grid-colspan="5">
		&nbsp;
	</div>
</div>
<div class="o-grid-row">
	<div data-o-grid-colspan="5">
		<p class="o-ft-typography-body o-ft-typography-body__block">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras viverra auctor nisi, nec aliquet metus. Pellentesque enim lacus, feugiat sit amet erat a, mollis lacinia lacus. Curabitur suscipit congue ornare. Vestibulum ac tortor vel elit porttitor mattis nec id lectus. Suspendisse luctus nulla at enim blandit, at dictum sapien mattis. Donec id tellus ac libero tempor rutrum eu vel lacus. Mauris fringilla justo id purus placerat condimentum.</p>
		<p class="o-ft-typography-body o-ft-typography-body__block">Body sub-paragraph styles: <span class="o-ft-typography-body--bold">body--bold</span>, <span class="o-ft-typography-body--italic">body--italic</span>, <span class="o-ft-typography-body--small">body--small</span>, <span class="o-ft-typography-body--super">body--super</span>, <span class="o-ft-typography-body--sub">body--sub</span>, <span class="o-ft-typography-body__link">body__link</span>, <span class="o-ft-typography-body__link--hover">body__link--hover</span> and back to normal. Cras viverra auctor nisi, nec aliquet metus. Pellentesque enim lacus, feugiat sit amet erat a, mollis lacinia lacus.</p>
	</div>
	<div data-o-grid-colspan="2">
		<h1 class="demo-heading">Body</h1>
	</div>
	<div data-o-grid-colspan="5">
		<p class="o-ft-typography-article-body o-ft-typography-article-body__block">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras viverra auctor nisi, nec aliquet metus. Pellentesque enim lacus, feugiat sit amet erat a, mollis lacinia lacus. Curabitur suscipit congue ornare. Vestibulum ac tortor vel elit porttitor mattis nec id lectus. Suspendisse luctus nulla at enim blandit, at dictum sapien mattis. Donec id tellus ac libero tempor rutrum eu vel lacus. Mauris fringilla justo id purus placerat condimentum.</p>
		<p class="o-ft-typography-article-body o-ft-typography-article-body__block">Article body sub-paragraph styles: <span class="o-ft-typography-body--bold">body--bold</span>, <span class="o-ft-typography-body--italic">body--italic</span>, <span class="o-ft-typography-body--small">body--small</span>, <span class="o-ft-typography-body--super">body--super</span>, <span class="o-ft-typography-body--sub">body--sub</span>, <span class="o-ft-typography-body__link">body__link</span>, <span class="o-ft-typography-body__link--hover">body__link--hover</span> and back to normal. Cras viverra auctor nisi, nec aliquet metus. Pellentesque enim lacus, feugiat sit amet erat a, mollis lacinia lacus.</p>
	</div>
</div>
<div class="o-grid-row">
	<div data-o-grid-colspan="5">
		<ol class="o-ft-typography-body__list o-ft-typography-body__list--ordered">
			<li>body__list--ordered</li>
			<li>body__list--ordered</li>
			<li>body__list--ordered</li>
		</ol>
		<ul class="o-ft-typography-body__list o-ft-typography-body__list--unordered">
			<li>body__list--unordered</li>
			<li>body__list--unordered</li>
			<li>body__list--unordered</li>
		</ul>
	</div>
	<div data-o-grid-colspan="2">
		<h1 class="demo-heading">Lists</h1>
	</div>
	<div data-o-grid-colspan="5">
		<ol class="o-ft-typography-article-body__list o-ft-typography-body__list--ordered">
			<li>article-body__list--ordered</li>
			<li>article-body__list--ordered</li>
			<li>article-body__list--ordered</li>
		</ol>
		<ul class="o-ft-typography-article-body__list o-ft-typography-body__list--unordered">
			<li>article-body__list--unordered</li>
			<li>article-body__list--unordered</li>
			<li>article-body__list--unordered</li>
		</ul>
	</div>
</div>