<footer class="o-ft-footer" data-version="0.4.2" data-component="ft-footer">
	<div class="o-grid-row">
		{{#footer.links}}
		<div class="o-grid-col|s6|m6|">
			<a href="{{href}}" class="o-ft-footer-link">{{{text}}}</a>
		</div>
		{{/footer.links}}
	</div>
	<div class="o-grid-row o-grid-col|12| o-ft-footer-copyright">
		<div class="o-ft-footer-copyright-text">&#169; THE FINANCIAL TIMES LTD {{footer.copyrightYear}}. </div>
		<div class="o-ft-footer-copyright-text">{{{footer.copyrightText}}}</div>
	</div>
	<div class="o-ft-footer-pearson">
		<div class="o-grid-row">
			<div class="o-grid-col|6|">&#xF001;</div>
			<div class="o-grid-col|6| o-ft-footer-pearsonlogo">&#xF002;</div>
		</div>
	</div>
</footer>