<footer class="ft-footer-module" data-version="0.3.11" data-component="footer">
	<div class="ft-grid-row">
		{{#footer.links}}
		<div class="ft-grid-col|s6|m6|">
			<a href="{{href}}" class="ft-footer-link">{{{text}}}</a>
		</div>
		{{/footer.links}}
	</div>
	<div class="ft-grid-row ft-grid-col|12| ft-footer-copyright">
		<div class="ft-footer-copyright-text">&#169; THE FINANCIAL TIMES LTD {{footer.copyrightYear}}. </div>
		<div class="ft-footer-copyright-text">{{{footer.copyrightText}}}</div>
	</div>
	<div class="ft-footer-pearson">
		<div class="ft-grid-row">
			<div class="ft-grid-col|6|">&#xF001;</div>
			<div class="ft-grid-col|6| ft-footer-pearsonlogo">&#xF002;</div>
		</div>
	</div>
</footer>