<footer class="ft-footer-module">
	<div class="ft-grid-row">
		{{#footer.links}}
		<div class="ft-grid-col-s6-m6">
			<a href="{{href}}" class="ft-footer-link">{{{text}}}</a>
		</div>
		{{/footer.links}}
	</div>
	<div class="ft-grid-row">
		<div class="ft-grid-col-d12 ft-footer-copyright">
			{{{footer.copyrightText}}}
		</div>
	</div>
	<div class="ft-footer-pearson">
		<div class="ft-grid-row">
			<div class="ft-grid-col-d6">
				ALWAYS LEARNING
			</div>
			<div class="ft-grid-col-d6">
				PEARSON
			</div>
		</div>
	</div>
</footer>