body {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.nav {
  position: fixed;
  width: 100%;
  height: 30px;
  background: red;
  top: 0;
}

.bottom {
  top: auto;
  bottom: 0;
}

.dialog__content {
  background-color: #ccc;
  padding: 5px;
   -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.dialog--dropdown {
  position: absolute;
  overflow: hidden;
  display: none;
}

.dialog--dropdown {
  position: absolute;
}

.dialog--dropdown.is-open {
  display: block;
}





.dialog--dropdown__content {
  
}

.right {
  float: right;
}

.left {
  float: left;
}

// .top-right,
// .top-left {
//   margin-bottom: 30px;
// }

.top-right {
  right: 0;
  top: 30px;
  margin-left: 100px;
}

.top-right .dialog__content {
  min-width: 250px;
}

.top-left {
  left: 0;
  top: 30px;
  margin-right: 50px;
}

.top-left .dialog__content {
  min-width: 400px;
}

// .bottom-right,
// .bottom-left {
//   margin-top: 30px;
// }

.bottom-right {
  right: 0;
  bottom: 30px;
  margin-left: 100px;
}

.bottom-right .dialog__content {
  min-width: 250px;
}

.bottom-left {
  left: 0;
  bottom: 30px;
  margin-right: 50px;
}

.bottom-left .dialog__content {
  min-width: 400px;
}



.dialog--overlay {
  position:fixed;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.dialog--overlay {
  display: none;
}

.dialog--overlay.is-open {
  display: block;
}

.dialog--overlay__content {
    min-height: 10px;
    min-width: 10px;
    margin-top: 100px;
    margin: 0 auto;
    background-color: #fff;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    border: 1px solid #a5a5a5;
    position: relative;
}

.flexbox,
.flexboxlegacy {
  .dialog--overlay {
    -webkit-box-align: center;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
   
    -webkit-box-pack: center; 
    -moz-box-pack: center; 
    -ms-flex-pack: center; 
    -webkit-justify-content: center;
    justify-content: center;
   
   
   
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .dialog--overlay.is-open {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex;
    display: flex;
  }

  .dialog--overlay__content {
    margin: auto;
    -webkit-align-self: center;
    align-self: center;
    -webkit-align-content: center;
    align-content: center;
  }
}
 



.dialog--full-width {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
} 

.dialog--full-height {
  padding-top: 0;
  padding-bottom: 0;
  height: 100%;
  position: fixed;
} 

.dialog--full-width .dialog__content{
  border-left: none;
  border-right: none;
  border-radius: 0;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  overflow-x: scroll;
  
}

.dialog--full-height .dialog__content{
  border-top: none;
  border-bottom: none;
  border-radius: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100%;
  overflow-y: scroll;
}