<o-share data-o-component="o-share" class="o-share" data-o-share-links="twitter facebook linkedin googleplus reddit pinterest url" data-o-share-url="http://on.ft.com/1mUdgA2" data-o-share-title="Pfizer+says+its+AstraZeneca+vow+over+big+UK+presence+is+binding" data-o-share-titleExtra="FT.com+&+Pharmaceuticals" data-o-share-summary="US+drugs+group+vows+to+maintain+big+British+presence" data-o-share-relatedTwitterAccounts="ftcompanies">

</o-share>
