// this file is to collate all the next-specific stuff i come across

.o-topper--opinion,
.o-topper--package {
	.n-myft-ui--follow {
		margin-left: 20px;
	}
}

.o-topper__tags {
	.o-tooltip {
		color: oColorsGetPaletteColor('black');
		width: 275px;
	}

	.o-tooltip-close {
		// Override this being set in n-ui-foundations for all links.
		border-bottom: 0;
	}

	.o-tooltip-content {
		@include oTypographySans($scale: 0);
	}
}
