<u class="o-tracking-module o-noscript" data-o-version="0.0.3" data-o-component="tracking" style="height:0;line-height:0;overflow:hidden;">
    <div style="background:url('{{tracking.domain}}?{{tracking.queryString}}');"></div>
</u>