<div class="o-tracking o--if-nojs" data-o-version="0.0.14" data-o-component="tracking" style="height:0;line-height:0;overflow:hidden;">
    <div style="background:url('{{tracking.domain}}?{{tracking.queryString}}');"></div>
</div>