@import '../../main';
@import '@financial-times/o-forms/main';
@import '@financial-times/o-normalise/main';

@include oForms();
@include oNormalise();

body {
	background: oColorsByUsecase(page, background);
}

.o-multi-select {
	margin: 12px;
	max-width: 500px;
}

@include oMultiSelect();
