<div class="o-multi-select" data-o-component="o-multi-select">
	<div class="o-form o-multi-select_core">
		<span class="o-forms-field">
			<span class="o-forms-title">
				<label class="o-forms-title__main" for="multiple"
					>Multiple select box</label
				>
			</span>

			<span class="o-forms-input o-forms-input--select">
				<select name="multiple" id="multiple" multiple>
					{{#multiSelectOptions}}
					<option value="{{.}}">{{.}}</option>
					{{/multiSelectOptions}}
				</select>
			</span>
		</span>
	</div>
	<div class="o-form o-multi-select_enhanced">
		<span class="o-forms-field">
			<span class="o-forms-title">
				<label
					class="o-forms-title__main"
					for="multiple-enhanced"
					id="o-multi-select-label"
					>Multiple select box</label
				>
			</span>
		</span>

		<ul
			class="o-multi-select__selected-options"
			id="o-multi-select-selected"
		></ul>
		<div
			class="o-forms-input o-forms-input--text o-forms-input--select o-multi-select-input-wrapper"
		>
			<input
				aria-activedescendant=""
				aria-autocomplete="none"
				aria-controls="o-multi-select-listbox"
				aria-expanded="false"
				aria-haspopup="listbox"
				aria-labelledby="o-multi-select-label o-multi-select-selected"
				id="o-multi-select-listbox"
				role="combobox"
				type="text"
				name="multiple-enhanced"
				class="o-multi-select-input"
				placeholder="Click to select options"
			/>
			<button
				class="o-multi-select__clear"
				type="button"
				aria-controls="o-multi-select-listbox"
				title="Clear options"
			>
				<span class="o-icons-icon o-icons-icon--cross"></span>Clear
			</button>
			<div
				class="o-multi-select-dropdown"
				role="listbox"
				id="o-multi-select-listbox"
				aria-label="multi select options"
			></div>
		</div>
	</div>
</div>
