<div class="o-multi-select o-multi-select--core" data-o-component="o-multi-select">
		<span class="o-forms-field">
			<span class="o-forms-title">
				<label class="o-forms-title__main" for="multiple"
				>Multiple select box</label
				>
			</span>

			<select name="multiple" id="multiple" multiple>
				{{#multiSelectOptions}}
					<option value="{{.}}">{{.}}</option>
				{{/multiSelectOptions}}
			</select>
		</span>
</div>

