{{#if @root.flags.globalNavigation}}
	<nav id="primary-nav" class="o-header__primary-nav" data-trackable="primary-nav" role="navigation" aria-label="Primary navigation">
		<ol class="navigation__menu navigation__menu--nav js-global-nav">
			<li
				class="navigation__menu__group navigation__menu__group--more"
				data-trackable="group--more"
				data-on-expanded="noscroll-body"
			>
				<a class="navigation__menu__toggle navigation__menu__toggle--no-js n-util-hide-js" href="#footer-nav" data-trackable="footer-menu-link">
					<span class="navigation__menu__link navigation__menu__link--top-level">
						<span class="navigation__menu__link__text--mobile">
							<span class="navigation__menu__link__inner-text--open">Menu</span>
						</span>
					</span>
				</a>
				<div class="n-util-hide-no-js">
					<div class="navigation__menu__container" data-tour-stage="navigation">
						<button class="navigation__menu__toggle button-style-reset js-toggle js-sub-nav-toggle" aria-hidden="true" data-trackable="menu-toggle">
							<span class="navigation__menu__link navigation__menu__link--top-level">
								<span class="navigation__menu__link__text--mobile">
									<span class="navigation__menu__link__inner-text--open">Menu</span>
									<span class="navigation__menu__link__inner-text--close">Close</span>
								</span>
							</span>
						</button>
						<ol id="secondary-navigation" class="navigation__menu__group__items navigation__menu__group__items--nested o-expander__content" data-trackable="secondary-navigation">
							{{> o-header/templates/partials/all nav=topLevelNav all=nav}}
						</ol>
					</div>
				</div>
			</li>

			{{> o-header/templates/partials/nav nav=topLevelNav all=nav}}
		</ol>
	</nav>
{{/if}}
