<div class="o-header__search__container">
	<a class="o-header__search-toggle n-util-hide-js" href="#footer-search" data-trackable="footer-search-link">
		<span class="o-header__search-toggle-text o-header__search-toggle-text--open">Search</span>
	</a>
	<div class="n-util-hide-no-js">
		<button class="o-header__search-toggle button-style-reset js-search-toggle js-toggle" aria-hidden="true" data-trackable="search-toggle" data-tour-stage="search">
			<span class="o-header__search-toggle-text o-header__search-toggle-text--open">Search</span>
			<span class="o-header__search-toggle-text o-header__search-toggle-text--close">Close</span>
		</button>
		<form action="/search" id="search-form" class="o-header__search-form js-search" data-trackable="search-form" role="search">
			<input id="search-term" type="search" name="q" class="o-header__search-form__input o-forms-text js-search-input" {{#if searchQuery}} value="{{searchQuery}}"{{/if}} autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
			data-trackable="search-input" {{#ifAll headerData headerData.searchTerm}}{{#ifEquals headerData.searchTerm true}}{{else}} value="{{headerData.searchTerm}}"{{/ifEquals}}{{/ifAll}}/>
			<label for="search-term" class="js-search-placeholder o-header__search-form__label">Type to search the Financial Times</label>
			<button class="o-header__search-form__button" for="search" data-trackable="search-button">
				<span>Search</span>
			</button>
		</form>
	</div>
</div>
