.o3-form-input__checkbox-input + label::before {
	content: '';
	display: inline-block;
	width: var(--o3-spacing-s);
	height: var(--o3-spacing-s);
	margin-right: var(--o3-spacing-3xs);
	border: 2px solid var(--o3-color-palette-black-50);
	border-radius: var(--o3-spacing-5xs);
	box-sizing: border-box;
}

.o3-form-input__checkbox-input:hover + label::before {
	border-color: var(--o3-color-palette-black-40);
}

.o3-form-input__checkbox-input:active + label::before {
	border-color: var(--o3-color-palette-black-30);
}

.o3-form-input__checkbox-input:disabled + label::before {
	border-color: var(--o3-color-palette-black-30);
}

.o3-form-input__checkbox-input:disabled + label {
	color: var(--o3-color-palette-black-30);
}

.o3-form-input__checkbox-input.o3-form-input-error + label::before {
	border-color: var(--o3-color-palette-crimson);
	background-color: rgba(204, 0, 0, 0.06); /* TOKEN NEEDED */
}

.o3-form-input__checkbox-label {
	display: flex;
	align-items: center;
	margin-top: var(--o3-spacing-3xs);
	font-size: var(--o3-font-size-metric2-0);
	line-height: var(--o3-font-lineheight-metric2-0);
	font-weight: var(--o3-font-weight-regular);
	color: var(--o3-color-use-case-body-text);
}

.o3-form-input__checkbox-input:checked + label::before {
	background-color: var(--o3-color-palette-black-50);
}

.o3-form-input__checkbox-input:checked:hover + label::before {
	background-color: var(--o3-color-palette-black-40);
}

.o3-form-input__checkbox-input:checked:active + label::before {
	background-color: var(--o3-color-palette-black-30);
}

.o3-form-input__checkbox-input:checked:disabled + label::before {
	background-color: var(--o3-color-palette-black-30);
}

.o3-form-input__checkbox-input:checked + label::after {
	position: absolute;
	content: '';
	width: var(--o3-spacing-s);
	height: var(--o3-spacing-s);
	background-color: var(--o3-color-palette-white);
	mask-image: var(--o3-icons-ft-icon-tick);
	mask-repeat: no-repeat;
	mask-size: contain;
}
