.o3-form-feedback__error {
	display: flex;
	align-items: center;
	font-family: var(--o3-typography-use-case-detail-font-family);
	font-size: var(--o3-typography-use-case-detail-font-size);
	font-weight: var(--o3-typography-use-case-detail-font-weight);
	line-height: var(--o3-typography-use-case-detail-line-height);
	color: var(--o3-color-use-case-error-text);
}

.o3-form-feedback__error-message {
	display: flex;
	&::before {
		content: '';
		display: inline-block;
		align-self: center;
		margin-right: var(--o3-spacing-5xs);
		background-color: var(--o3-color-use-case-error);
		width: var(--o3-font-size-metric2-negative-1);
		height: var(--o3-font-size-metric2-negative-1);
		mask-image: var(--_o3-form-icon-error);
		mask-repeat: no-repeat;
		mask-size: contain;
	}
}
