.o3-form-field {
	display: flex;
	flex-direction: column;
	font-family: var(--o3-font-family-metric);
	gap: var(--o3-spacing-3xs);
}

.o3-form-field__feedback--error {
	color: var(--o3-color-use-case-error);
	font-size: var(--o3-font-size-metric2-0);
}

.o3-form-field__title {
	font-size: var(--o3-font-size-metric2-0);
	font-weight: 500;
}

fieldset.o3-form-field {
	margin: 0;
	padding: 0;
	border: 0;

	legend {
		margin: 0;
		padding: 0;
	}
}
