.o3-password-input__container {
	width: 100%;
	display: inline-block;
	position: relative;
	--o3-grid-columns-to-span-count: 4;
	max-width: var(--o3-grid-columns-to-span-width, 100%);
	margin-top: var(--o3-spacing-3xs);
}

.o3-password-input__container input {
	width: 100%;
	padding-right: 48px;
}

.o3-password-input__show-password-toggle {
	width: 24px;
	height: 24px;
	position: absolute;
	right: 14px;
	top: 50%;
	transform: translateY(-50%);
	background-repeat: no-repeat;
	border: none;
}

.o3-password-input__show-password-toggle--show {
	background: var(--o3-icon-eye-open);
}
.o3-password-input__show-password-toggle--hide {
	background: var(--o3-icon-eye-closed);
}

.o3-password-input__controls {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	--o3-grid-columns-to-span-count: 4;
	max-width: var(--o3-grid-columns-to-span-width, 100%);

	font-family: var(--o3-type-body-base-font-family);
	font-size: var(--o3-type-body-base-font-size);
	font-weight: var(--o3-type-body-base-font-weight);
	line-height: var(--o3-type-body-base-line-height);

	&> a {
		color: var(--o3-color-use-case-body-text);
		text-decoration-color: unset;
	}
}

.o3-form-text-input--password {
	padding-right: var(--o3-spacing-s);
}
