.o3-password-input__controls {
    display: flex;
    justify-content: space-between;
    --o3-grid-columns-to-span-count: 4;
    max-width: var(--o3-grid-columns-to-span-width, 100%);
    margin-top: var(--o3-spacing-3xs);

    font-family: var(--o3-typography-use-case-body-base-font-family);
    font-size: var(--o3-typography-use-case-body-base-font-size);
    font-weight: var(--o3-typography-use-case-body-base-font-weight);
    line-height: var(--o3-typography-use-case-body-base-line-height);
}
