.o3-typography-body-standard,
.o3-typography-wrapper > p {
	font-family: var(--_o3-typography-body-standard-font-family);
	font-weight: var(--_o3-typography-body-standard-font-weight);
	font-size: var(--_o3-typography-body-standard-font-size);
	line-height: var(--_o3-typography-body-standard-line-height);
	margin: 0 0 var(--o3-spacing-s);
	color: var(--o3-color-use-case-body-text);
}

.o3-typography-body--small {
	font-family: var(--_o3-typography-body-small-font-family);
	font-weight: var(--_o3-typography-body-small-font-weight);
	font-size: var(--_o3-typography-body-small-font-size);
	line-height: var(--_o3-typography-body-small-line-height);
}

.o3-typography-body--small-caps {
	font-family: var(--_o3-typography-body-small-caps-font-family);
	font-weight: var(--_o3-typography-body-small-caps-font-weight);
	font-size: var(--_o3-typography-body-small-caps-font-size);
	line-height: var(--_o3-typography-body-small-caps-line-height);
}

.o3-typography-body--small-bold {
	font-family: var(--_o3-typography-body-small-bold-font-family);
	font-weight: var(--_o3-typography-body-small-bold-font-weight);
	font-size: var(--_o3-typography-body-small-bold-font-size);
	line-height: var(--_o3-typography-body-small-bold-line-height);
}

.o3-typography-body,
.o3-typography-wrapper > p {
	[data-o3-theme='inverse']&,
	:where([data-o3-theme='inverse']) & {
		color: var(--o3-color-use-case-body-inverse-text);
	}
}

.o3-typography-sub,
.o3-typography-wrapper > sub,
.o3-typography-wrapper > p > sub {
	font-size: 0.666em;
	position: static;
	vertical-align: sub;
	line-height: 0;
	display: inline-block;
	margin-bottom: -1em;
}

.o3-typography-sup,
.o3-typography-wrapper > sup,
.o3-typography-wrapper > p > sup {
	font-size: 0.666em;
	position: static;
	vertical-align: super;
	line-height: 0;
	display: inline-block;
	margin-top: -1em;
}
