.o3-typography-link,
.o3-typography-wrapper a {
	color: var(--_o3-typography-link-standard-color);
	border-bottom-color: var(--_o3-typography-link-standard-bottom-color);
	text-decoration-color: var(--_o3-typography-link-standard-bottom-color);
	text-decoration-thickness: 2px;

	&:hover {
		color: var(--_o3-typography-link-standard-hover-color);
		border-bottom-color: var(--_o3-typography-link-standard-hover-bottom-color);
		text-decoration-color: var(--_o3-typography-link-standard-hover-bottom-color);
		text-decoration-thickness: 2px;
	}
}

.o3-typography-link[data-o3-theme='inverse'],
.o3-typography-wrapper:where([data-o3-theme='inverse']) a {
	color: var(--_o3-typography-link-inverse-color);
	border-bottom-color: var(--_o3-typography-link-inverse-bottom-color);
	text-decoration-color: var(--_o3-typography-link-inverse-bottom-color);
	text-decoration-thickness: 2px;

	&:hover {
		color: var(--_o3-typography-link-inverse-hover-color);
		border-bottom-color: var(--_o3-typography-link-inverse-hover-bottom-color);
		text-decoration-color: var(--_o3-typography-link-inverse-hover-bottom-color);
		text-decoration-thickness: 2px;
	}
}
