<div class="o-colors-page-background">
	<div class='demo-tooltip-container' id="box-tooltip">

		<button class='o-buttons o-buttons--secondary o-buttons--big demo-tooltip-target' id="demo-tooltip-target">
			Share
		</button>

		<div data-o-component="o-tooltip"
		data-o-tooltip-position="right"
		data-o-tooltip-target="demo-tooltip-target"
		data-o-tooltip-show-on-click="true">
			<div class='o-tooltip-content'>
				<p>Share this article via email</p>
			</div>
		</div>
	</div>
</div>
