<div class="o-colors-page-background">
	<div class='demo-tooltip-container' id="box-tooltip" style="margin-top:200px;margin-left:20%">

		<button class='o-buttons o-buttons--secondary o-buttons--big demo-tooltip-target' id="demo-tooltip-target">
			Share
		</button>

		<div data-o-component="o-tooltip"
		data-o-tooltip-position="above"
		data-o-tooltip-position-s="right"
		data-o-tooltip-position-m="below"
		data-o-tooltip-position-l="left"
		data-o-tooltip-position-xl="above"
		data-o-tooltip-target="demo-tooltip-target"
		data-o-tooltip-show-on-construction="true">
			<div class='o-tooltip-content'>
				<p>Spin me right round..</p>
			</div>
		</div>
	</div>
</div>
