<div class="o-colors-page-background">
    <div class='demo-tooltip-container' id="box-tooltip">
        <p>This tooltip will close after 3 seconds</p>
        <button class='o-buttons o-buttons--secondary o-buttons--big demo-tooltip-target' id="demo-tooltip-target">
            Share
        </button>

        <div data-o-component="o-tooltip"
             data-o-tooltip-position="right"
             data-o-tooltip-target="demo-tooltip-target"
             data-o-tooltip-show-on-construction="true"
             data-o-tooltip-close-after="3">
            <div class='o-tooltip-content'>
                <p>Share this article via email</p>
            </div>
        </div>
        <p>This tooltip will show after 3 seconds</p>
        <button class='o-buttons o-buttons--secondary o-buttons--big demo-tooltip-target' id="demo-tooltip-target-2">
            Share
        </button>

        <div data-o-component="o-tooltip"
             data-o-tooltip-position="right"
             data-o-tooltip-target="demo-tooltip-target-2"
             data-o-tooltip-show-after="3">
            <div class='o-tooltip-content'>
                <p>Share this article via email</p>
            </div>
        </div>
    </div>
</div>
