<span class="o-forms-title__main">Palette</span>
{{#primary}}
	<label for="palette-{{name}}" title="{{name}}"></label>
	<input id="palette-{{name}}" type=radio name="foreground" style="background-color: var(--o-colors-{{name}})" value="{{name}}" {{#baseText}}checked{{/baseText}}>
{{/primary}}
<br>
{{#secondary}}
	<label for="palette-{{name}}" title="{{name}}"></label>
	<input id="palette-{{name}}" type=radio name="foreground" style="background-color: var(--o-colors-{{name}})" value="{{name}}" {{#baseText}}checked{{/baseText}}>
{{/secondary}}
<br>
{{#tertiary}}
	<label for="palette-{{name}}" title="{{name}}"></label>
	<input id="palette-{{name}}" type=radio name="foreground" style="background-color: var(--o-colors-{{name}})" value="{{name}}" {{#baseText}}checked{{/baseText}}>
{{/tertiary}}

<span class="o-forms-title__main">Tones</span>
{{#tones}}
	{{#values}}
		<label for="palette-{{name}}-{{.}}" title="{{name}}-{{.}}"></label>
		<input id="palette-{{name}}-{{.}}" type=radio name="foreground" style="background-color: var(--o-colors-{{name}}-{{.}})" value="{{name}}-{{.}}">
	{{/values}}
	<br>
{{/tones}}
