<script type="text/template" id="mixer-overlay">
	<button class="o-overlay__close"></button>
	<fieldset form="color-selectors" id="overlay-fieldset">
		<span class="o-forms-title__main">Mixer</span>
		{{#primary}}
			<label title="{{name}}">
				<input type=radio form="color-selectors" name="mixer" style="background-color: var(--o-colors-{{name}})" value="{{name}}" {{#baseText}}checked{{/baseText}}>
			</label>
		{{/primary}}
		<br>
		{{#secondary}}
			<label title="{{name}}">
				<input type=radio form="color-selectors" name="mixer" style="background-color: var(--o-colors-{{name}})" value="{{name}}" {{#baseText}}checked{{/baseText}}>
			</label>
		{{/secondary}}
		<br>
		{{#tertiary}}
			<label title="{{name}}">
				<input type=radio form="color-selectors" name="mixer" style="background-color: var(--o-colors-{{name}})" value="{{name}}" {{#baseText}}checked{{/baseText}}>
			</label>
		{{/tertiary}}

		<span class="o-forms-title__main">Base</span>
		{{#primary}}
			<label title="{{name}}">
				<input type=radio form="color-selectors" name="base" style="background-color: var(--o-colors-{{name}})" value="{{name}}" {{#baseBackground}}checked{{/baseBackground}}>
			</label>
		{{/primary}}
		<br>
		{{#secondary}}
			<label title="{{name}}">
				<input type=radio form="color-selectors" name="base" style="background-color: var(--o-colors-{{name}})" value="{{name}}" {{#baseBackground}}checked{{/baseBackground}}>
			</label>
		{{/secondary}}
		<br>
		{{#tertiary}}
			<label title="{{name}}">
				<input type=radio form="color-selectors" name="base" style="background-color: var(--o-colors-{{name}})" value="{{name}}" {{#baseBackground}}checked{{/baseBackground}}>
			</label>
		{{/tertiary}}

		<span class="o-forms-title__main">Range</span>
		<label title="0%">
			<input type=radio form="color-selectors" name="range" value="{{name}}" checked>
		</label>
		<label title="10%">
			<input type=radio form="color-selectors" name="range" value="{{name}}">
		</label>
		<label title="20%">
			<input type=radio form="color-selectors" name="range" value="{{name}}">
		</label>
		<label title="30%">
			<input type=radio form="color-selectors" name="range" value="{{name}}">
		</label>
		<label title="40%">
			<input type=radio form="color-selectors" name="range" value="{{name}}">
		</label>
		<label title="50%">
			<input type=radio form="color-selectors" name="range" value="{{name}}">
		</label>
		<label title="60%">
			<input type=radio form="color-selectors" name="range" value="{{name}}">
		</label>
		<label title="70%">
			<input type=radio form="color-selectors" name="range" value="{{name}}">
		</label>
		<label title="80%">
			<input type=radio form="color-selectors" name="range" value="{{name}}">
		</label>
		<label title="90%">
			<input type=radio form="color-selectors" name="range" value="{{name}}">
		</label>
		<label title="100%">
			<input type=radio form="color-selectors" name="range" value="{{name}}">
		</label>
		<button class="o-buttons o-buttons--secondary o-buttons--mono o-overlay__close" id="add-mix">Add</button>
	</fieldset>
</script>
