<div class="o-big-number">
	<div class="o-big-number__title">&pound;13.7m</div>
	<div class="o-big-number__content">Cost of the rights expected to increase by one-third — or about £13.7m a year — although some anticipate inflation of up to 70%</div>
</div>
