@if $o-header-is-silent == false {

	.o-header__nav {
		@include oTypographySans('s');
	}

	.o-header__nav--mobile {
		white-space: nowrap;
		background-color: oColorsGetColorFor('o-header-nav', 'background');

		@include oGridRespondTo('L') {
			display: none;
		}
	}

	.o-header__nav--desktop {
		display: none;

		@include oGridRespondTo('L') {
			display: block;
		}

		@include oGridRespondTo('XL') {
			font-size: 18px;
		}
	}

	.o-header__nav-list {
		display: table;
		margin: 0 auto;
		padding: 0;
	}

	.o-header__nav-list--left {
		float: left;
	}

	.o-header__nav-list--right {
		float: right;
	}

	.o-header__nav-item {
		display: table-cell;
		vertical-align: middle;

		&:first-child {
			padding-left: 0 !important;
		}

		.o-header__nav--mobile & {
			padding-left: $_o-header-padding-x * 2;
		}

		.o-header__nav--desktop & {
			padding-left: $_o-header-padding-x;
		}
	}

	.o-header__nav-link {
		@include oHeaderLink();
		@include oHeaderFancyLink();
	}

	.o-header__nav-link--primary {
		font-weight: bold;
		text-transform: uppercase;
		-webkit-font-smoothing: antialiased;
	}

	.o-header__nav-link--utility {}

	.o-header__nav-button {
		@include oButtons($theme: $_o-header-buttons-theme);
	}

}
