@if $o-header-is-silent == false {

	.o-header__top {
		padding: 8px 0;
	}

	.o-header__top-wrapper {
		display: table;
		table-layout: fixed;
		width: 100%;
	}

	.o-header__top-column {
		display: table-cell;
		vertical-align: middle;
	}

	.o-header__top-column--left,
	.o-header__top-column--right {
		// to keep the logo horizontally centered relative to the page these columns must be equal...
		// I think this is easier than removing them from layout with absolute positioning etc.
		// anyway, it's rock solid.
		width: 0;
		white-space: nowrap;
	}

	.o-header__top-column--left {
		text-align: left;
	}

	.o-header__top-column--right {
		text-align: right;
		direction: rtl;
	}

	.o-header__top-column--center {
		text-align: center;
	}

	// takeovers will hide all subsequent columns
	.o-header__top-column--takeover {
		padding-left: 40px;

		@include oGridRespondTo($from: 'M') {
			padding-left: 60px;
		}

		@include oGridRespondTo($from: 'L') {
			padding-left: 100px;
		}

		@include oGridRespondTo($from: 'XL') {
			padding-left: 120px;
		}
	}

	.o-header__top-column--takeover-tablet {
		@include oGridRespondTo($until: 'M') {
			display: none;
		}

		@include oGridRespondTo($from: 'M') {
			// hide other columns
			& ~ .o-header__top-column {
				display: none;
			}
		}
	}

	.o-header__top-column--takeover-desktop {
		@include oGridRespondTo($until: 'L') {
			display: none;
		}

		@include oGridRespondTo($from: 'L') {
			// hide other columns
			& ~ .o-header__top-column {
				display: none;
			}
		}
	}

	.o-header__top-link {
		@include oHeaderLink();
		display: inline-block;
		margin-left: 10px;
		text-transform: uppercase;
		font-size: 0.6em;
		text-align: center;

		&:before {
			@include oIconsBaseStyles();
			content: ' ';
			width: 20px;
			height: 20px;
		}

		@include oGridRespondTo('L') {
			margin-left: 20px;
			font-size: 0.8em;

			&:before {
				width: 24px;
				height: 24px;
			}
		}

		// first child for old IE
		&:first-child {
			margin-left: 0;
		}
	}

	.o-header__top-link--menu {
		&:before {
			// container size (24) is only included for the fallback image.
			// IE8 has a static stylesheet generated for the L breakpoint.
			@include oIconsGetIcon('hamburger', oColorsGetColorFor('o-header-icon'), 24, $apply-base-styles: false, $apply-width-height: false);
		}
	}

	.o-header__top-link--search {
		&:before {
			@include oIconsGetIcon('search', oColorsGetColorFor('o-header-icon'), 24, $apply-base-styles: false, $apply-width-height: false);
		}

		// when used in tandem with the menu toggle, hide this on smaller screen sizes
		.o-header__top-link--menu + & {
			@include oGridRespondTo($until: 'L') {
				display: none;
			}
		}
	}

	.o-header__top-link--myft {
		&:before {
			@include oHeaderBrandImage('brand-myft', oColorsGetColorFor('o-header-icon'), 52);
			// this is not a very square icon
			width: 35px;

			@include oGridRespondTo('M') {
				width: 44px;
			}

			@include oGridRespondTo('L') {
				width: 52px;
			}
		}
	}

	.o-header__top-link-label {
		display: block;
		margin-top: 2px;
	}

	.o-header__top-logo {
		@include oHeaderBrandImage('brand-ft-masthead', oColorsGetColorFor('o-header-icon'), 500);
		@include oHeaderLogoSize('XS');

		display: block;
		border: 0;
		margin: 0 auto;
		background-size: contain;
		background-position: 50%;
		background-repeat: no-repeat;

		@include oGridRespondTo('S') {
			@include oHeaderLogoSize('S');
			// margin-top: 18px;
			// margin-bottom: 18px;
		}

		@include oGridRespondTo('M') {
			@include oHeaderLogoSize('M');
			margin-top: 16px;
			margin-bottom: 16px;
		}

		@include oGridRespondTo('L') {
			@include oHeaderLogoSize('L');
			margin-top: 24px;
			margin-bottom: 24px;
		}
	}

}
