@import '@financial-times/o-icons/main';
@import '@financial-times/o-colors/main';
@import 'src/scss/variables';
@import 'src/scss/mixins';

/// Output g-audio
///
/// @example All default g-audio styles.
///     @include gAudio();
///
/// @example Include teal theme.
///    @include oButtons($opts: (
///        'themes': ('teal')
///    ));
///
/// @example Include teal theme with a block player
///    @include oButtons($opts: (
///        'themes': ('teal'),
///        'variants': ('block')
///    ));
///
/// @param {List} $opts
/// @access public
@mixin gAudio(
	$opts: (
		'themes': $_g-audio-themes,
		'variants': $_g-audio-variants,
	)
) {
	$themes: map-get($opts, 'themes');
	$themes: if($themes, $themes, ());
	$variants: map-get($opts, 'variants');
	$variants: if($variants, $variants, ());

	// Include theme variables
	@each $theme in $themes {
		@if index($_g-audio-themes, $theme) {
			@include _gAudioAddTheme($theme);
		}
	}

	// Always include base styles
	.g-audio.g-audio--initialized {
		@include _gAudioBaseContent();
	}

	// Additional styles if we're including the block variant
	@if index($variants, 'block') {
		.g-audio.g-audio--initialized.g-audio--block {
			@include _gAudioBlockVariant();
		}
	}
}

@if ($g-audio-is-silent == false) {
	@include gAudio();

	// Set to silent again to avoid being output twice
	$g-audio-is-silent: true !global;
}
