---
import {EMAIL, SLACK} from "@/helpers/variables"

import DocLayout from "@/layouts/DocLayout.astro"
const title = "404: Page not found"
---

<DocLayout title={title}>
	<h1 id="404-page-not-found" class="o-layout__linked-heading">
		<a
			href="#404-page-not-found"
			title="Link directly to this section of the page"
			class="o-layout__linked-heading__link"
		>
			<span class="o-layout__linked-heading__content">404: Page not found</span>
			<span class="o-layout__linked-heading__label">#</span>
		</a>
	</h1>
	<ul>
		<li>
			If you found this page by clicking on a link, please contact the site that
			linked here to sort things out
		</li>
		<li>If you typed in the URL manually, check your spelling</li>
		<li>
			If you just want to get to safety, <a href="/"
				>click here for the home page</a
			>
		</li>
		<li>
			As a last resort, if you think there’s something wrong with this website,
			then please contact Origami on community Slack channel named <a
			href={`https://financialtimes.slack.com/messages/${SLACK}`}
			target="_blank">#{SLACK}</a> or there is a <a href={`mailto:${EMAIL}`}>mailing list</a> for contacting
			the Origami Core Team.
		</li>
	</ul>
</DocLayout>
