---
import Layout from "@/layouts/Layout.astro"
import RacingBars from "@/components/racingBarChart/RacingBars.svelte"
import {hotnessData} from "@/content/barchart-data/clean-data"
const title = "Origami data visualisation"
const description =
	"Racing bar charts that tell a story of Origami component development over time"

---

<Layout title={title} description={description}>
	<div class="o-layout__main o-layout-typography">
			<p>
				Origami as a project started over 9 years ago. We’ve come a long way
				since then with all sorts of new components, tools, and services. Bellow
				we have racing bar chart to show how components changed over time. You
				can observe component changes in two ways:

				<span>
					- <strong>Total data</strong> which is accumulative data and increases
					based on release numbers over time
				</span>
				<span>
					- And <strong>quarterly data</strong> which is number of releases in a
					given quarter
				</span>
			</p>
		<RacingBars {...hotnessData} client:only="svelte" />
	</div>
</Layout>
