/// Helper for `o-brand` function.
/// @access private
@function _oTableGet($variables, $from: null) {
	@return oBrandGet($component: 'o-table', $variables: $variables, $from: $from);
}

/// Helper for `o-brand` function.
/// @access private
@function _oTableSupports($variant) {
	@return oBrandSupportsVariant($component: 'o-table', $variant: $variant);
}

@if oBrandIs('core') {
	@include oBrandDefine('o-table', 'core', (
		'variables': (
			table-background: oPrivateFoundationGet('o3-color-palette-paper'),
			table-alternate-background: oPrivateFoundationGet('o3-color-palette-white-60'),
			table-border-color: oPrivateFoundationGet('o3-color-palette-black-20'),
			table-data-color: oPrivateColorsByUseCase('body', 'text'),
			table-footnote-color: oPrivateFoundationGet('o3-color-palette-black-60'),
			'flat': (
				table-item-alternate-background: oPrivateColorsMix('wheat', 'paper', 40)
			)
		),
		'supports-variants': (
			'stripes',
			'compact'
		)
	));
}

@if oBrandIs('internal') {
	@include oBrandDefine('o-table', 'internal', (
		'variables': (
			table-background: oPrivateFoundationGet('o3-color-palette-white'),
			table-alternate-background: oPrivateFoundationGet('o3-color-palette-slate-white-5'),
			table-border-color: oPrivateFoundationGet('o3-color-palette-black-20'),
			table-data-color: oPrivateColorsByUseCase('body', 'text'),
			table-footnote-color: oPrivateFoundationGet('o3-color-palette-black-60'),
			'flat': (
				table-item-alternate-background: oPrivateFoundationGet('o3-color-palette-slate-white-5')
			)
		),
		'supports-variants': (
			'stripes',
			'compact',
			'row-headings'
		)
	));
}

@if oBrandIs('whitelabel') {
	@include oBrandDefine('o-table', 'whitelabel', (
		'variables': (),
		'supports-variants': (
			'compact'
		)
	));
}
