/// Add this to the table element to get row stripes
/// @access private
@mixin _oTableRowStripes() {
	.o-table--row-stripes {
		background-color: _oTableGet('table-background');

		caption {
			background-color: _oTableGet('table-background');
		}

		tbody tr:nth-child(even) {
			background-color: _oTableGet('table-alternate-background');
			th {
				// For sticky "responsive-scroll" headers.
				background-color: _oTableGet('table-alternate-background');
			}
		}
	}
}
