@mixin _oTeaserPackage {
	@include _oTeaserInverse;
	@include _oTeaserPackageList;
	width: 100%;
	flex-flow: column nowrap;

	.o-teaser__image-placeholder {
		z-index: -1;
	}

	.o-teaser__content {
		background: oColorsByUsecase('o-teaser/package-basic', 'background');
	}

	.o-teaser__meta {
		color: oColorsByUsecase('o-teaser/package-basic', 'text');
		padding: 15px 0 0 20px;
		width: calc(100% - 40px);
		position: relative;
		top: -50px;
		background: inherit;

		&:after {
			content: "";
			display: block;
			width: 60px;
			border-bottom: oSpacingByIncrement(1) solid oColorsByUsecase('o-teaser/package-basic', 'border');
			margin-top: oSpacingByName('s1');
		}
	}

	.o-teaser__heading {
		@include oTypographyDisplay($scale: 4);
		color: $_o-teaser-base-color;
		background: inherit;
		padding: 20px;
		margin-top: -55px;
		width: 100%;

		a:hover,
		&:focus {
			color: $_o-teaser-focus-hover;
		}
	}
}

@mixin _oTeaserSpecialReportPackage {
	@include _oTeaserSpecialReportPackageList;

	.o-teaser__content {
		background: oColorsByUsecase('o-teaser/package-special-report', 'background');
	}

	.o-teaser__meta {
		color: oColorsByName('white');

		&:after {
			border-color: oColorsByName('white');
		}
	}

	.o-teaser__heading {
		color: oColorsByName('white');

		a:hover,
		a:visited,
		&:focus {
			$special-report-color: oColorsByUsecase('o-teaser/package-special-report', 'text');
			$special-report-background: oColorsByUsecase('o-teaser/package-special-report', 'background');
			color: oColorsMix($special-report-color, $special-report-background, $percentage: 78);
		}
	}
}

@mixin _oTeaserExtraPackage {
	@include _oTeaserExtraPackageList;

	.o-teaser__content {
		background: oColorsByUsecase('o-teaser/theme-hero-extra', 'background');
	}

	.o-teaser__meta {
		color: oColorsByUsecase('o-teaser/theme-hero-extra-highlight', 'text');

		&:after {
			border-color: oColorsByUsecase('o-teaser/theme-hero-extra-highlight', 'border');
		}
	}

	.o-teaser__heading {
		color: oColorsByName('white');

		a:hover,
		&:focus {
			color: oColorsByUsecase('o-teaser/theme-hero-extra-highlight', 'text');
		}
	}

	.o-teaser__timestamp {
		color: oColorsByName('white');
	}
}

@mixin _oTeaserPackageList {
	.package-teaser {
		&__list {
			margin: -12px 0 0;
			padding: 0 20px 12px;
			background: inherit;
			list-style: none;
		}

		&__list-item,
		&__landing-link {
			@include oTypographySans(0, 20px);
			padding: 12px 0;

			> a {
				text-decoration: none;
				border: 0;
			}
		}

		&__list-item a {
			color: oColorsMix($_o-teaser-base-color, $percentage: 80);

			&:hover {
				color: $_o-teaser-focus-hover;
			}
		}

		&__landing-link a {
			color: oColorsByUsecase('o-teaser/package-basic', 'text');

			&:hover,
			&:visited,
			&:focus {
				$special-report-color: oColorsByUsecase('o-teaser/package-special-report', 'text');
				$special-report-background: oColorsByUsecase('o-teaser/package-special-report', 'background');
				color: oColorsMix($special-report-color, $special-report-background, $percentage: 78);
			}

			&:after {
				@include oIconsContent('arrow-right', oColorsByUsecase('o-teaser/package-basic', 'text'), $size: 30);
				content: '';
				position: absolute;
				bottom: 18px;
			}
		}
	}
}

@mixin _oTeaserSpecialReportPackageList {
	.package-teaser {
		$package-special-report-color: oColorsByUsecase('o-teaser/package-special-report', 'text');
		$package-special-report-background: oColorsByUsecase('o-teaser/package-special-report', 'background');
		&__list-item a {
			color: oColorsByName('white');

			&:hover {
				color: oColorsMix($package-special-report-color, $package-special-report-background, $percentage: 78);
			}
		}

		&__landing-link a {
			color: oColorsMix($package-special-report-color, $package-special-report-background, $percentage: 80);

			&:hover {
				color: oColorsByName('white');
			}

			&:after {
				@include oIconsContent('arrow-right', oColorsByName('white'), $size: 30);
			}
		}
	}
}

@mixin _oTeaserExtraPackageList {
	.package-teaser {
		$hero-extra-highlight-color: oColorsByUsecase('o-teaser/theme-hero-extra-highlight', 'text');
		&__list-item a {
			color: oColorsByName('white');

			&:hover {
				color: $hero-extra-highlight-color;
			}
		}

		&__landing-link a {
			color: $hero-extra-highlight-color;

			&:hover {
				color: oColorsByName('white');
			}

			&:after {
				@include oIconsContent('arrow-right', $hero-extra-highlight-color, $size: 30);
			}
		}
	}
}
