/// Small teaser styles
@mixin _oTeaserSmall {
	display: flex;
	padding-bottom: oPrivateSpacingByName('s3');
	border-bottom: 1px solid oColorsByUsecase('o-teaser/base', 'border');

	.o-teaser__content {
		// IE needs a unit to apply flex-basis correctly 😐
		flex: 1 0 0%;
		order: 2;
	}

	.o-teaser__image-container {
		width: 30%;
		// because flex items are allowed to shrink implicitly
		flex-shrink: 0;
		padding-right: oPrivateGridGutter(M);

		@include oPrivateGridRespondTo($until: M) {
			// Mobile screens only
			display: none;
		}
	}

	&.o-teaser--post {
		@include _oTeaserPost;
	}

	&.o-teaser--post.o-teaser--opinion {
		@include _oTeaserPostOpinion;
	}
}

/// Small teaser styles for a stacked image
/// image will appear 100% width at the top of the teaser
@mixin _oTeaserSmallStacked {
	flex-direction: column;

	.o-teaser__content {
		flex-basis: auto; // must override original .o-teaser__content flex-basis
	}

	@include oPrivateGridRespondTo(M) {
		border-bottom: 0;
		padding-bottom: 0;
	}

	.o-teaser__image-container {
		margin-bottom: oPrivateSpacingByName('s3');
		width: 100%;
		// <https://connect.microsoft.com/IE/feedbackdetail/view/891815>
		min-height: 1px;
		padding-top: 0;
		padding-right: 0;
	}
}

@mixin _oTeaserSmallImagePositionRight {
	&.o-teaser--has-image .o-teaser__image-container {
		order: 2;
		padding-left: oPrivateGridGutter(M);
		padding-right: inherit;
	}
}

@mixin _oTeaserPost {
	border-bottom: 0;
	.o-teaser__meta {
		margin-bottom: oPrivateSpacingByName('s2');
	}
	.o-teaser__tag-prefix {
		@include oPrivateTypographySans($scale: 0, $weight: 'semibold');
		color: oColorsByName('claret');
		margin-right: oPrivateSpacingByName('s1');
	}
	.o-teaser__tag {
		@include oPrivateTypographySans($scale: 0, $weight: 'regular');
		color: oColorsByName('claret');
	}
	.o-teaser__standfirst {
		display: none;
	}
	.o-teaser__image-placeholder {
		width: 100%;
		height: auto;
		padding: 0;
		display: flex;
		img {
			width: 100%;
		}
	}
	.o-teaser__timestamp {
		display: none;
	}
	.o-teaser__content {
		background: oColorsByName('wheat');
		padding: oPrivateSpacingByName('s3');
		box-sizing: border-box;
		a {
			text-decoration: none;
		}
	}
	.o-teaser__image-container {
		a {
			width: 100%;
		}

		background: oColorsByName('wheat');
		display: flex;
		flex: 1 0 50%;
		width: 100%;
		padding: 0;
	}
	.o-teaser__content {
		flex: 1 0 50%;
	}

	.o-teaser__heading,
	.o-teaser__heading a {
		@include oPrivateTypographyDisplay($scale: 2, $weight: 'medium');
		color: oColorsByName('black');
	}

	@include oPrivateGridRespondTo($until: S) {
		flex-direction: column;
		.o-teaser__image-container {
			display: block;
			width: 100%;
			padding: 0;
		}
	}
}

@mixin _oTeaserPostOpinion {
	@include _oTeaserPost;

	.o-teaser__heading:before {
		@include oIconsContent(
			'speech-left',
			oColorsByName('oxford'),
			30,
			$iconset-version: 1
		);
		content: '';
		height: 13px;
		position: relative;
		background-size: cover;
		margin-left: -5px;
	}
	.o-teaser__tag {
		color: oColorsByName('oxford');
	}
	.o-teaser__tag-prefix {
		color: oColorsByName('oxford');
	}

	@include oPrivateGridRespondTo($until: S) {
		flex-direction: column;
		.o-teaser__image-container {
			display: block;
			width: 100%;
			padding: 0;
		}
	}
}
