@mixin _oHeaderBase() {
	.o-header {
		color: _oHeaderGet('header-text');
		background-color: _oHeaderGet('header-background');
	}

	.o-header__row {
		border-bottom: 1px solid _oHeaderGet('header-border');
	}


	.o-header__container {
		@include oGridContainer();
		@include oNormaliseClearfix();
	}

	.o-header__visually-hidden {
		@include oNormaliseVisuallyHidden;
	}
}
