/// Helper `o-brand` wrapper.
/// @access private
@function _oHeaderGet($variables, $from: null) {
	@return oBrandGet($component: 'o-header',  $variables: $variables, $from: $from);
}

/// Helper `o-brand` wrapper.
/// @access private
@function _oHeaderSupports($variant) {
	@return oBrandSupportsVariant($component: 'o-header', $variant: $variant);
}

@if oBrandIs('core') {
	@include oBrandDefine('o-header', 'core', (
		'variables': (
			header-text: oPrivateFoundationGet('o3-color-palette-black-80'),
			header-border: oPrivateFoundationGet('o3-color-palette-black-20'),
			header-background: oPrivateFoundationGet('o3-color-palette-paper'),
			header-icon: oPrivateFoundationGet('o3-color-palette-black-80'),
			header-ask-ft-button-text: oPrivateFoundationGet('o3-color-palette-black-80'),
			header-ask-ft-button-icon: oPrivateFoundationGet('o3-color-palette-black-80'),
			header-ask-ft-button-background: oPrivateFoundationGet('o3-color-palette-black-5'),
			link-hover-text: oPrivateFoundationGet('o3-color-palette-black-80'),
			link-highlight-text: oPrivateFoundationGet('o3-color-palette-teal-40'),

			search-border: oPrivateFoundationGet('o3-color-palette-teal-40'),
			search-background: oPrivateFoundationGet('o3-color-palette-black-20'),
			search-close: oPrivateFoundationGet('o3-color-palette-black-80'),

			mega-menu-background: oPrivateFoundationGet('o3-color-palette-white-60'),

			subnav-background: oPrivateFoundationGet('o3-color-palette-white-60'),
			subnav-border: oPrivateFoundationGet('o3-color-palette-black-20'),
			subnav-link: oPrivateFoundationGet('o3-color-palette-black-80'),
			subnav-button-text: oPrivateFoundationGet('o3-color-palette-black-80'),
			subnav-button-background: oPrivateFoundationGet('o3-color-palette-black-10'),
			subnav-button-hover-background: oPrivateFoundationGet('o3-color-palette-black-20'),

			drawer-background: oPrivateFoundationGet('o3-color-palette-paper'),
			drawer-border: oPrivateFoundationGet('o3-color-palette-black-20'),
			drawer-tools-background: transparent,
			drawer-tools-text: oPrivateFoundationGet('o3-color-palette-black-80'),
			drawer-tools-close: oPrivateFoundationGet('o3-color-palette-black-80'),
			drawer-search-term-background: oPrivateFoundationGet('o3-color-palette-white'),
			drawer-search-term-border: oPrivateFoundationGet('o3-color-palette-black-20'),
			drawer-search-term-highlight-border: oPrivateFoundationGet('o3-color-palette-teal-40'),
			drawer-search-submit-background: oPrivateFoundationGet('o3-color-palette-teal-40'),
			drawer-search-submit-border: transparent,
			drawer-menu-text: oPrivateFoundationGet('o3-color-palette-black-80'),
			drawer-menu-border: oPrivateFoundationGet('o3-color-palette-black-10'),
			drawer-menu-user-background: oPrivateFoundationGet('o3-color-palette-black-10'),
			drawer-menu-user-border: oPrivateFoundationGet('o3-color-palette-black-20'),
			drawer-menu-list-background: oPrivateFoundationGet('o3-color-palette-white-60'),
			drawer-menu-link-text: inherit,
			drawer-menu-link-background: oPrivateFoundationGet('o3-color-palette-white-60'),
			drawer-menu-link-hover-text: oPrivateFoundationGet('o3-color-palette-teal-40'),
			drawer-menu-selected-link-text: oPrivateFoundationGet('o3-color-palette-white'),
			drawer-menu-selected-link-background: oPrivateFoundationGet('o3-color-palette-teal-40'),
			drawer-menu-selected-link-hover-text: oPrivateFoundationGet('o3-color-palette-white-60'),
			drawer-menu-item-background: oPrivateFoundationGet('o3-color-palette-black-10'),
			drawer-selected-toggle-text: oPrivateFoundationGet('o3-color-palette-white'),
			drawer-selected-toggle-background: oPrivateFoundationGet('o3-color-palette-white'),
			drawer-unselected-toggle-text: oPrivateFoundationGet('o3-color-palette-teal-40'),
			drawer-unselected-toggle-background: oPrivateFoundationGet('o3-color-palette-black-10'),
			'transparent': (
				header-text: oPrivateFoundationGet('o3-color-palette-white'),
				header-border: rgba(oPrivateFoundationGet('o3-color-palette-white'), 0.4),
				header-background: transparent,
				header-icon: oPrivateFoundationGet('o3-color-palette-white'),
				link-hover-text: oPrivateFoundationGet('o3-color-palette-white'),
				link-highlight-text: oPrivateFoundationGet('o3-color-palette-white'),
			)
		),
		'supports-variants': (
			'transparent',
			'subnav',
			'search',
			'nav',
			'anon',
			'drawer',
			'megamenu',
			'sticky',
			'simple',
			'top'
		)
	));
}

@if oBrandIs('core') {
	@import '@financial-times/o3-button/css/core.css';
  } @else if oBrandIs('professional') {
	@import '@financial-times/o3-button/css/professional.css';
  } @else if oBrandIs('internal') {
	@import '@financial-times/o3-button/css/internal.css';
  } @else if oBrandIs('sustainable-views') {
	@import '@financial-times/o3-button/css/sustainable-views.css';
  } @else if oBrandIs('whitelabel') {
	@import '@financial-times/o3-button/css/whitelabel.css';
  }
  