/// @access private
/// @output styles for inverse toggle based on a checkbox input
@mixin _oFormsInverse {
	.o-forms-field--inverse {
		color: _oFormsGet('toggle-inverse');

		.o-forms-title {
			.o-forms-title__main:after,
			.o-forms-title__prompt {
				color: rgba(_oFormsGet('toggle-inverse'), 0.7);
			}
		}

		.o-forms-input__label:before {
			background-color: _oFormsGet('toggle-inverse');
		}

		.o-forms-input__label:after {
			background-color: _oFormsGet('toggle-inverse-knob');
			border-color: _oFormsGet('toggle-inverse');
		}

		input[type=checkbox]:checked { // stylelint-disable-line selector-no-qualifying-type
			+ .o-forms-input__label:before {// stylelint-disable-line selector-no-qualifying-type
				background-color: _oFormsGet('toggle-inverse-selected');
			}

			+ .o-forms-input__label:after {// stylelint-disable-line selector-no-qualifying-type
				border-color: _oFormsGet('toggle-inverse-selected');
			}
		}
	}
}
