<blockquote class="o-quote o-quote--standard">
	<p>Origami is about empowering developers of all levels to build robust, on-brand products ranging from simple static sites through to rich, dynamic web applications, to do it faster, to do it cheaper, and leave them more supportable and more maintainable.</p>
	<cite class="o-quote__cite"><span class="o-quote__author">The Origami Spec</span><span class="o-quote__source">Financial Times</span></cite>
</blockquote>

<blockquote class="o-quote o-quote--editorial">
	<p>Origami is about empowering developers of all levels to build robust, on-brand products ranging from simple static sites through to rich, dynamic web applications, to do it faster, to do it cheaper, and leave them more supportable and more maintainable.</p>
	<cite class="o-quote__cite"><span class="o-quote__author">The Origami Spec</span><span class="o-quote__source">Financial Times</span></cite>
</blockquote>
