<span class="o-forms-title__main">Palette</span>
{{#primary}}
	<label title="{{name}}">
		<input type=radio name="background" style="background-color: var(--o-colors-{{name}})" value="{{name}}" {{#baseBackground}}checked{{/baseBackground}}>
	</label>
{{/primary}}
<br>
{{#secondary}}
	<label title="{{name}}">
		<input type=radio name="background" style="background-color: var(--o-colors-{{name}})" value="{{name}}">
	</label>
{{/secondary}}
<br>
{{#tertiary}}
	<label title="{{name}}">
		<input type=radio name="background" style="background-color: var(--o-colors-{{name}})" value="{{name}}">
	</label>
{{/tertiary}}

<span class="o-forms-title__main">Tones</span>
{{#tones}}
	{{#values}}
		<label title="{{name}}-{{.}}">
			<input type=radio name="background" style="background-color: var(--o-colors-{{name}}-{{.}})" value="{{name}}-{{.}}">
		</label>
	{{/values}}
	<br>
{{/tones}}
