---
import SecondaryNav from './SecondaryNav.astro';
import NavItem from './NavItem.astro';
const currentPage = Astro.url.pathname;
const {secondaryNav} = Astro.props;

const primaryNav = [
	{
		label: 'Home',
		url: '/',
		'aria-current': currentPage === '/' ? 'page' : undefined,
	},
	{
		label: 'Documentation',
		url: '/documentation/',
		'aria-current': currentPage === '/documentation/' ? 'page' : undefined,
	},
	{
		label: 'Storybook',
		url: '/storybook/',
		'aria-current': currentPage === '/storybook/' ? 'page' : undefined,
	},
	{
		label: 'Blog',
		url: '/blog/',
		'aria-current': currentPage === '/blog/' ? 'page' : undefined,
	},
];
---

<header class="o-header-services" data-o-component="o-header-services">
	<div class="o-header-services__top">
		<div class="o-header-services__hamburger">
			<a class="o-header-services__hamburger-icon" href="#" role="button">
				<span class="o-header-services__visually-hidden"
					>Open primary navigation</span
				>
			</a>
		</div>
		<a href="/" class="o-header-services__logo"
			><span class="o-header-services__visually-hidden">To homepage</span></a
		>
		<div class="o-header-services__title">
			<a class="o-header-services__product-name" href="/">Origami</a>
			<span class="o-header-services__product-tagline"
				>Frontend Components &amp; Services</span
			>
		</div>
	</div>

	<nav class="o-header-services__primary-nav" aria-label="primary">
		<ul class="o-header-services__primary-nav-list">
			{primaryNav.map(nav => <NavItem nav={nav} />)}
		</ul>
	</nav>
	<SecondaryNav secondaryNav={secondaryNav} {primaryNav} />
</header>
<div
	id="decomission-warning"
	class="o-message o-message--notice o-message--warning"
	data-o-component="o-message"
	data-o-message-close="false"
>
	<div class="o-message__container">
		<div class="o-message__content">
			<p class="o-message__content-main">
				<span class="o-message__content-highlight"
					>The Origami Registry is being decommissioned</span
				>
				<span
					>&nbsp;by the end of March 2024 and replaced with <a
						href="https://origami.ft.com/storybook/">Storybook</a
					>. For more information please read our <a
						href="https://origami.ft.com/blog/2024/02/12/newsletter/#goodbye-registry"
						>blog post</a
					>.</span
				>
			</p>
			<p class="o-message__content-additional">
				Please share any feedback in our #origami-chat Slack channel.
			</p>
		</div>
	</div>
</div>
