---
import SecondaryNav from './SecondaryNav.astro';
import NavItem from './NavItem.astro';
const currentPage = Astro.url.pathname;
const {secondaryNav} = Astro.props;

const primaryNav = [
	{
		label: 'Home',
		url: '/',
		'aria-current': currentPage === '/' ? 'page' : undefined,
	},
	{
		label: 'Documentation',
		url: '/documentation/',
		'aria-current': currentPage === '/documentation/' ? 'page' : undefined,
	},
	{
		label: 'Storybook',
		url: '/storybook/',
		'aria-current': currentPage === '/storybook/' ? 'page' : undefined,
	},
	{
		label: 'Blog',
		url: '/blog/',
		'aria-current': currentPage === '/blog/' ? 'page' : undefined,
	},
];
---

<header class="o-header-services" data-o-component="o-header-services">
	<div class="o-header-services__top">
		<div class="o-header-services__hamburger">
			<a class="o-header-services__hamburger-icon" href="#" role="button">
				<span class="o-header-services__visually-hidden"
					>Open primary navigation</span
				>
			</a>
		</div>
		<a href="/" class="o-header-services__logo"
			><span class="o-header-services__visually-hidden">To homepage</span></a
		>
		<div class="o-header-services__title">
			<a class="o-header-services__product-name" href="/">Origami</a>
			<span class="o-header-services__product-tagline"
				>Frontend Components &amp; Services</span
			>
		</div>
	</div>

	<nav class="o-header-services__primary-nav" aria-label="primary">
		<ul class="o-header-services__primary-nav-list">
			{primaryNav.map(nav => <NavItem nav={nav} />)}
		</ul>
	</nav>
	<SecondaryNav secondaryNav={secondaryNav} {primaryNav} />
</header>
