.o3-button-icon::before {
	content: '';
	width: 21px;
	height: 21px;
	-webkit-mask-image: var(--o3-button-icon);
	mask-image: var(--o3-button-icon);
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-size: contain;
	mask-repeat: no-repeat;
	mask-size: contain;
	display: inline-block;
	/* padding-left: 24px; */
	background-color: currentColor;
	margin: -5.25px; /* to offset icon spacing */
	padding-right: 6px;
}

.o3-button-icon.o3-button-icon--icon-only {
	min-width: 40px;
}

.o3-button-icon.o3-button-icon--icon-only::before {
	padding-right: 0;
	padding-left: 0;
}

.o3-button-icon__label {
	position: absolute;
	clip: rect(0 0 0 0);
	clip-path: polygon(0 0, 0 0);
	margin: -1px;
	border: 0;
	overflow: hidden;
	padding: 0;
	width: 2px;
	height: 2px;
	white-space: nowrap;
}

.o3-button-icon.o3-button-icon--cross::before {
	--o3-button-icon: var(--icons-ft-icon-cross);
}
