.o3-button.o3-button--ghost {
	color: var(--_o3-button-ghost-standard-color);
	background-color: var(--_o3-button-ghost-standard-background);
	border-color: var(--_o3-button-ghost-standard-border);
}

.o3-button.o3-button--ghost:hover {
	color: var(--_o3-button-ghost-standard-hover-color);
	background-color: var(--_o3-button-ghost-standard-hover-background);
	border-color: var(--_o3-button-ghost-standard-hover-border);
}

.o3-button.o3-button--ghost:focus {
	color: var(--_o3-button-ghost-standard-focus-color);
	background-color: var(--_o3-button-ghost-standard-focus-background);
	border-color: var(--_o3-button-ghost-standard-focus-border);
}

.o3-button.o3-button--ghost:active {
	color: var(--_o3-button-ghost-standard-active-color);
	background-color: var(--_o3-button-ghost-standard-active-background);
	border-color: var(--_o3-button-ghost-standard-active-border);
}

/* GHOST INVERSE BUTTON STYLES */

.o3-button.o3-button--ghost.o3-button--inverse {
	color: var(--_o3-button-ghost-inverse-color);
	background-color: var(--_o3-button-ghost-inverse-background);
	border-color: var(--_o3-button-ghost-inverse-border);
}

.o3-button.o3-button--ghost.o3-button--inverse:hover {
	color: var(--_o3-button-ghost-inverse-hover-color);
	background-color: var(--_o3-button-ghost-inverse-hover-background);
	border-color: var(--_o3-button-ghost-inverse-hover-border);
}

.o3-button.o3-button--ghost.o3-button--inverse:focus {
	color: var(--_o3-button-ghost-inverse-focus-color);
	background-color: var(--_o3-button-ghost-inverse-focus-background);
	border-color: var(--_o3-button-ghost-inverse-focus-border);
}

.o3-button.o3-button--ghost.o3-button--inverse:active {
	color: var(--_o3-button-ghost-inverse-active-color);
	background-color: var(--_o3-button-ghost-inverse-active-background);
	border-color: var(--_o3-button-ghost-inverse-active-border);
}

/* GHOST MONO BUTTON STYLES */

.o3-button.o3-button--ghost.o3-button--mono {
	color: var(--_o3-button-ghost-mono-color);
	background-color: var(--_o3-button-ghost-mono-background);
	border-color: var(--_o3-button-ghost-mono-border);
}

.o3-button.o3-button--ghost.o3-button--mono:hover {
	color: var(--_o3-button-ghost-mono-hover-color);
	background-color: var(--_o3-button-ghost-mono-hover-background);
	border-color: var(--_o3-button-ghost-mono-hover-border);
}

.o3-button.o3-button--ghost.o3-button--mono:focus {
	color: var(--_o3-button-ghost-mono-focus-color);
	background-color: var(--_o3-button-ghost-mono-focus-background);
	border-color: var(--_o3-button-ghost-mono-focus-border);
}

.o3-button.o3-button--ghost.o3-button--mono:active {
	color: var(--_o3-button-ghost-mono-active-color);
	background-color: var(--_o3-button-ghost-mono-active-background);
	border-color: var(--_o3-button-ghost-mono-active-border);
}
