.o3-button.o3-button--primary {
	color: var(--_o3-button-primary-standard-color);
	background-color: var(--_o3-button-primary-standard-background);
	border-color: var(--_o3-button-primary-standard-border);
}

.o3-button.o3-button--primary:hover {
	color: var(--_o3-button-primary-standard-hover-color);
	background-color: var(--_o3-button-primary-standard-hover-background);
	border-color: var(--_o3-button-primary-standard-hover-border);
}

.o3-button.o3-button--primary:focus {
	color: var(--_o3-button-primary-standard-focus-color);
	background-color: var(--_o3-button-primary-standard-focus-background);
	border-color: var(--_o3-button-primary-standard-focus-border);
}

.o3-button.o3-button--primary:active {
	color: var(--_o3-button-primary-standard-active-color);
	background-color: var(--_o3-button-primary-standard-active-background);
	border-color: var(--_o3-button-primary-standard-active-border);
}

/* PRIMARY INVERSE BUTTON STYLES */
.o3-button.o3-button--primary.o3-button--inverse {
	color: var(--_o3-button-primary-inverse-color);
	background-color: var(--_o3-button-primary-inverse-background);
	border-color: var(--_o3-button-primary-inverse-border);
}

.o3-button.o3-button--primary.o3-button--inverse:hover {
	color: var(--_o3-button-primary-inverse-hover-color);
	background-color: var(--_o3-button-primary-inverse-hover-background);
	border-color: var(--_o3-button-primary-inverse-hover-border);
}

.o3-button.o3-button--primary.o3-button--inverse:focus {
	color: var(--_o3-button-primary-inverse-focus-color);
	background-color: var(--_o3-button-primary-inverse-focus-background);
	border-color: var(--_o3-button-primary-inverse-focus-border);
}

.o3-button.o3-button--primary.o3-button--inverse:active {
	color: var(--_o3-button-primary-inverse-active-color);
	background-color: var(--_o3-button-primary-inverse-active-background);
	border-color: var(--_o3-button-primary-inverse-active-border);
}

/* PRIMARY MONO STYLES */

.o3-button.o3-button--primary.o3-button--mono {
	color: var(--_o3-button-primary-mono-color);
	background-color: var(--_o3-button-primary-mono-background);
	border-color: var(--_o3-button-primary-mono-border);
}

.o3-button.o3-button--primary.o3-button--mono:hover {
	color: var(--_o3-button-primary-mono-hover-color);
	background-color: var(--_o3-button-primary-mono-hover-background);
	border-color: var(--_o3-button-primary-mono-hover-border);
}

.o3-button.o3-button--primary.o3-button--mono:focus {
	color: var(--_o3-button-primary-mono-focus-color);
	background-color: var(--_o3-button-primary-mono-focus-background);
	border-color: var(--_o3-button-primary-mono-focus-border);
}

.o3-button.o3-button--primary.o3-button--mono:active {
	color: var(--_o3-button-primary-mono-active-color);
	background-color: var(--_o3-button-primary-mono-active-background);
	border-color: var(--_o3-button-primary-mono-active-border);
}
