@mixin _oSyntaxHighlightDiff {
	.o-syntax-highlight--diff {
		.token.deleted {
			color: oPrivateColorsMix('o3-color-palette-black', 'o3-color-palette-crimson', 75);
			background-color: oPrivateColorsMix('o3-color-palette-crimson', 'o3-color-palette-white', 30);
		}
		.token.inserted {
			color: oPrivateColorsMix('o3-color-palette-black', 'o3-color-palette-jade', 75);
			background-color: oPrivateColorsMix('o3-color-palette-jade', 'o3-color-palette-white', 30);
		}
	}
}
