@import 'bash';
@import 'css';
@import 'html';
@import 'js';
@import 'json';
@import 'scss';
@import 'diff';
@import 'yaml';

@mixin _oSyntaxHighlightBase() {
	[data-o-component='o-syntax-highlight'] {
		pre {
			background: $_o-syntax-highlight-grey-5;
			padding: 1rem;
			word-break: break-all;
			tab-size: 4;
			overflow-x: auto;

			.token.comment { color: $_o-syntax-highlight-oxford-grey-60; }
			.token.punctuation { color: $_o-syntax-highlight-grey-70; }
			.token.string { color: $_o-syntax-highlight-oxford-jade-60; }
		}

		code,
		var {
			background: $_o-syntax-highlight-grey-5;
			color: oColorsByName('black');
			font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
			font-size: 14px;
			line-height: 1.5;
			white-space: inherit;
		}

		:not(pre) > code,
		:not(pre) > var {
			padding: 0.2em 0.3em; //for inline <code> tags
		}

		var {
			color: $_o-syntax-highlight-teal;
			font-weight: 600;
		}
	}
}
