@import "o-colors/main";

@include oColorsSetUseCase(product-brand, background, claret);

@import "../../../main";

// Default font and styles
html {
	font-family: BentonSans, sans-serif;

	// Prevent navigation menus from creating
	// extra space on sides of the page
	overflow-x: hidden;
}


// Place icons on top of their labels
.demo__icon {
	display: block;
	font-size: 20px;
	line-height: 24px;
	color: #ffffff;
}

// Outline header zones in the skeleton
.demo__logo--placeholder > span {
	vertical-align: top;
	display: inline-block;
	width: 40px;
	height: 40px;
	outline: 2px dotted red;
	background-color: rgba(255, 100, 100, 0.2);
	font-size: 13px;
}

.demo__primary--placeholder {
	outline: 2px dotted green;
}

.demo__secondary--placeholder {
	outline: 2px dotted orange;
	height: 25px;
}

// State
.demo__mega-dropdown[aria-hidden=true] {
	display: none;
}

// Promo
.demo__promo {
	vertical-align: bottom;

	img {
		vertical-align: bottom;
	}
}

// Placeholder content (blurry text below demos)
.demo__content-wrapper {
	@include oGridRow;
}
.demo__content {
	@include oGridColumn(12);
	font-size: 15px;
	line-height: 20px;
	color: transparent;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

// Hide / Show on mobile
// scss-lint:disable ImportantRule
.demo__mobile-only {
	@include oGridRespondTo(M) {
		display: none !important;
	}
}
.demo__hide-on-mobile {
	@include oGridRespondTo($until: M) {
		display: none !important;
	}
}
// scss-lint:enable ImportantRule

// Fix SVG logo position
.demo__fix-svg-logo-position i {
	// The SVG Logo background is declared as the first of multiple backgrounds
	// So we align both backgrounds to not interfere with the png fallback
	background-position: -6px bottom, 0 0;
}
