@import "o-colors/main";

@include oColorsSetUseCase(product-brand, background, claret);

@import "../../../main";

// Default font and styles
html {
	font-family: BentonSans, sans-serif;

	// Prevent navigation menus from creating
	// extra space on sides of the page
	overflow-x: hidden;
}

// Place icons on top of their labels
.demo__icon {
	display: block;
	font-size: 20px;
	line-height: 24px;
	color: #ffffff;
}

// Outline header zones in the skeleton
.demo__logo--placeholder > span {
	display: inline-block;
	width: 60px;
	height: 60px;
	outline: 2px dotted red;
	background-color: rgba(255, 100, 100, 0.2);
}

.demo__primary--placeholder {
	outline: 2px dotted green;
}

.demo__secondary--placeholder {
	outline: 2px dotted orange;
	height: 25px;
}

// State
.demo__mega-dropdown[aria-hidden=true] {
	display: none;
}

// Promo
.demo__promo {
	vertical-align: bottom;

	img {
		vertical-align: bottom;
	}
}

// Placeholder content (blurry text below demos)
.demo__content-wrapper {
	@include oGridRow;
}
.demo__content {
	@include oGridColumn(12);
	font-size: 15px;
	line-height: 20px;
	color: transparent;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
