<form class="color-selectors">
	<label class="o-forms-field">
		<span class="o-forms-title">
			<span class="o-forms-title__main">Mixer</span>
		</span>

		<span class="o-forms-input o-forms-input--select">
			<select id="mixer">
				{{#primary}}
					<option value="{{name}}" {{#baseText}}selected {{/baseText}}>{{name}}</option>
				{{/primary}}
				{{> select-options }}
			</select>
		</span>
	</label>

	<label class="o-forms-field">
		<span class="o-forms-title">
			<span class="o-forms-title__main">Base</span>
		</span>

		<span class="o-forms-input o-forms-input--select">
			<select id="base">
				{{#primary}}
					<option value="{{name}}" {{#baseBackground}}selected {{/baseBackground}}>{{name}}</option>
				{{/primary}}
				{{> select-options }}
			</select>
		</span>
	</label>
</form>

<form class="mix-range">
	<label>
		<input type="radio" name="range">
		<span class="o-forms-input__label">0%</span>
	</label>
	<label>
		<input type="radio" name="range">
		<span class="o-forms-input__label">10%</span>
	</label>
	<label>
		<input type="radio" name="range">
		<span class="o-forms-input__label">20%</span>
	</label>
	<label>
		<input type="radio" name="range">
		<span class="o-forms-input__label">30%</span>
	</label>
	<label>
		<input type="radio" name="range">
		<span class="o-forms-input__label">40%</span>
	</label>
	<label>
		<input type="radio" name="range">
		<span class="o-forms-input__label">50%</span>
	</label>
	<label>
		<input type="radio" name="range">
		<span class="o-forms-input__label">60%</span>
	</label>
	<label>
		<input type="radio" name="range">
		<span class="o-forms-input__label">70%</span>
	</label>
	<label>
		<input type="radio" name="range">
		<span class="o-forms-input__label">80%</span>
	</label>
	<label>
		<input type="radio" name="range">
		<span class="o-forms-input__label">90%</span>
	</label>
	<label>
		<input type="radio" name="range">
		<span class="o-forms-input__label">100%</span>
	</label>
</form>

<div class="details" data-o-component="o-syntax-highlight">
	<label aria-describedby="hex-value" class="o-forms-title__main">Hex Value</label>
	<span class="o-forms-title__prompt">This value is a result of the Sass function below. Feel free to use this value in Sketch files, etc, but please pass on the function to the developer to use in production.</span>
	<output><pre><code id="hex-value" class='o-syntax-highlight--scss'></code></pre></output>

	<label class="o-forms-title__main">Sass function</label>
	<span class="o-forms-title__prompt">Returns the hex value above</span>
	<output><pre><code id='code-snippet' class='o-syntax-highlight--scss'></code></pre></output>
</div>
