<!DOCTYPE html>
<html lang="en-GB" class="core o-typography--loading-sans o-typography--loading-sans-bold o-typography--loading-display o-typography--loading-display-bold" data-o-component="o-typography">
<head>

	<!-- Page meta-information -->
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>{{page.title}}</title>
	<meta name="description" content="{{page.description}}" />

	<!-- Cuts the mustard test -->
	<script>
		var cutsTheMustard = ('querySelector' in document && 'localStorage' in window && 'addEventListener' in window);
		if (cutsTheMustard) {
			document.documentElement.className = document.documentElement.className.replace(/\bcore\b/g, 'enhanced');
		}
	</script>

	<!-- Favicons -->
	<link rel="icon" type="image/svg+xml" href="https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo-v1%3Aorigami?source=origami-docs&format=svg" sizes="any">
	<link rel="alternate icon" type="image/png" href="https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo-v1%3Aorigami?source=origami-docs&width=16&height=16&format=png" sizes="16x16">
	<link rel="alternate icon" type="image/png" href="https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo-v1%3Aorigami?source=origami-docs&width=32&height=32&format=png" sizes="32x32">
	<link rel="alternate icon" type="image/png" href="https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo-v1%3Aorigami?source=origami-docs&width=96&height=96&format=png" sizes="96x96">
	<link rel="alternate icon" type="image/png" href="https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo-v1%3Aorigami?source=origami-docs&width=128&height=128&format=png" sizes="128x128">
	<link rel="alternate icon" type="image/png" href="https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo-v1%3Aorigami?source=origami-docs&width=196&height=196&format=png" sizes="196x196">
	<link rel="alternate icon" type="image/png" href="https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo-v1%3Aorigami?source=origami-docs&width=310&height=310&format=png" sizes="310x310">

	<!-- Site links -->
	<link rel="sitemap" type="application/xml" href="/sitemap.xml" title="Sitemap" />
	<link rel="canonical" href="https://origami.ft.com{{ page.url | replace: 'index.html', '' }}" />

	<!-- Feed -->
	{% feed_meta %}

	<!-- Progressive Font Loading -->
	<!-- https://github.com/Financial-Times/o-typography/tree/v6.1.3#setup-progressive-loading -->
	<script>
		var rootElement = document.querySelector('html')
		if (/(^|\s)o-typography-fonts-loaded=1(;|$)/.test(document.cookie)) {
			var fontLabels = ['sans', 'sans-bold', 'display', 'display-bold']
			for (var i = 0; i < fontLabels.length; i++) {
				rootElement.className = rootElement.className.replace('o-typography--loading-' + fontLabels[i], '')
			}
		}
	</script>

	<!-- Styles -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<style>
		/* Hide any enhanced experience content when in core mode, and vice versa. */
		.core .o--if-js,
		.enhanced .o--if-no-js {
			display: none !important;
		}
	</style>
	<link rel="stylesheet" href="https://www.ft.com/__origami/service/build/v3/bundles/css?components=o-normalise@^3.0.3,o-typography@^7.0.3,o-layout@^5.0.6,o-header-services@^5.1.0,o-footer-services@^4.0.3,o-syntax-highlight@^4.0.1,o-message@^5.1.0,o-table@^9.0.3,o-autoinit@^3.0.1&brand=internal&system_code=origami" />
	<link rel="stylesheet" href="/assets/main.css" />

	<!-- JS -->
	<script>
		(function(src) {
			if (cutsTheMustard) {
				var o = document.createElement('script');
				o.async = o.defer = true;
				o.src = src;
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(o, s);
			}
		}('https://www.ft.com/__origami/service/build/v3/bundles/js?components=o-normalise@^3.1.0,o-typography@^7.1.0,o-layout@^5.1.0,o-header-services@^5.1.0,o-footer-services@^4.1.0,o-syntax-highlight@^4.1.0,o-message@^5.1.0,o-table@^9.1.0,o-autoinit@^3.0.1&system_code=origami'));
	</script>
</head>
<body>
	<div class="o-layout {% if layout.o_layout_type %}o-layout--{{layout.o_layout_type}}{% else %}o-layout--docs{% endif %}" data-o-component="o-layout" data-o-layout-nav-heading-selector="{% if page.nav_heading_selector %}{{page.nav_heading_selector}}{% else %}h1, h2{% endif %}">
		{% unless header %}
		<div class="o-layout__header">
			{% include header.html %}
		</div>
		{% endunless %}

		{{content}}

		{% unless footer %}
		<div class="o-layout__footer">
			{% include footer.html %}
		</div>
		{% endunless %}
	</div>

	{% if page.hasCharts %}
		<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js" integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous" defer></script>
		<script src="/assets/charts.js" defer></script>
	{% endif %}

</body>
</html>
