<button class="o-buttons o-buttons--primary o-buttons--ft-live">Primary FT Live Theme</button>
<button class="o-buttons o-buttons--primary o-buttons--ft-live">Primary FT Live Theme</button>
<button class="o-buttons o-buttons--primary o-buttons--ft-live o-buttons-icon o-buttons-icon--arrow-right">Primary FT Live Theme</button>
<button class="o-buttons o-buttons--primary o-buttons--big o-buttons--ft-live" disabled>Primary FT Live Theme</button>
<hr>
<button class="o-buttons o-buttons--secondary o-buttons--ft-live">secondary FT Live Theme</button>
<button class="o-buttons o-buttons--secondary o-buttons--ft-live">secondary FT Live Theme</button>
<button class="o-buttons o-buttons--secondary o-buttons--ft-live o-buttons-icon o-buttons-icon--arrow-right">secondary FT Live Theme</button>
<button class="o-buttons o-buttons--secondary o-buttons--big o-buttons--ft-live" disabled>secondary FT Live Theme</button>
<hr>
<button class="o-buttons o-buttons--ghost o-buttons--ft-live">Ghost FT Live Theme</button>
<button class="o-buttons o-buttons--ghost o-buttons--ft-live">Ghost FT Live Theme</button>
<button class="o-buttons o-buttons--ghost o-buttons--ft-live o-buttons-icon o-buttons-icon--arrow-right">Ghost FT Live Theme</button>
<button class="o-buttons o-buttons--ghost o-buttons--big o-buttons--ft-live" disabled>Ghost FT Live Theme</button>
