<button class="o-buttons o-buttons--primary o-buttons--mono">Primary Mono</button>
<button class="o-buttons o-buttons--primary o-buttons--mono o-buttons--big">Primary Mono</button>
<button class="o-buttons o-buttons--primary o-buttons--mono o-buttons--big o-buttons-icon o-buttons-icon--arrow-right">Primary Mono</button>
<button class="o-buttons o-buttons--primary o-buttons--mono o-buttons--big" disabled>Primary Mono</button>
