<button class="o-buttons o-buttons--primary o-buttons--professional-inverse">Primary Inverse Professional Theme</button>
<button class="o-buttons o-buttons--primary o-buttons--professional-inverse">Primary Inverse Professional Theme</button>
<button class="o-buttons o-buttons--primary o-buttons--professional-inverse o-buttons-icon o-buttons-icon--arrow-right">Primary Inverse Professional Theme</button>
<button class="o-buttons o-buttons--primary o-buttons--big o-buttons--professional-inverse" disabled>Primary Inverse Professional Theme</button>
<hr>
<button class="o-buttons o-buttons--secondary o-buttons--professional-inverse">secondary Inverse Professional Theme</button>
<button class="o-buttons o-buttons--secondary o-buttons--professional-inverse">secondary Inverse Professional Theme</button>
<button class="o-buttons o-buttons--secondary o-buttons--professional-inverse o-buttons-icon o-buttons-icon--arrow-right">secondary Inverse Professional Theme</button>
<button class="o-buttons o-buttons--secondary o-buttons--big o-buttons--professional-inverse" disabled>secondary Inverse Professional Theme</button>
<hr>
<button class="o-buttons o-buttons--ghost-inverse o-buttons--professional-inverse">Ghost Inverse Professional Theme</button>
<button class="o-buttons o-buttons--ghost-inverse o-buttons--professional-inverse">Ghost Inverse Professional Theme</button>
<button class="o-buttons o-buttons--ghost-inverse o-buttons--professional-inverse o-buttons-icon o-buttons-icon--arrow-right">Ghost Inverse Professional Theme</button>
<button class="o-buttons o-buttons--ghost-inverse o-buttons--big o-buttons--professional-inverse" disabled>Ghost Inverse Professional Theme</button>
