<button class="o-buttons o-buttons--primary o-buttons--professional">Mock Professional Theme</button>
<button class="o-buttons o-buttons--primary o-buttons--professional">Mock Professional Theme</button>
<button class="o-buttons o-buttons--primary o-buttons--professional o-buttons-icon o-buttons-icon--arrow-right">Mock Professional Theme</button>
<button class="o-buttons o-buttons--primary o-buttons--big o-buttons--professional">Mock Professional Theme</button>
<hr>
<button class="o-buttons o-buttons--secondary o-buttons--professional">Mock Professional Theme</button>
<button class="o-buttons o-buttons--secondary o-buttons--professional">Mock Professional Theme</button>
<button class="o-buttons o-buttons--secondary o-buttons--professional o-buttons-icon o-buttons-icon--arrow-right">Mock Professional Theme</button>
<button class="o-buttons o-buttons--secondary o-buttons--big o-buttons--professional">Mock Professional Theme</button>
