<button class="o-buttons o-buttons--primary o-buttons--professional">Primary Professional Theme</button>
<button class="o-buttons o-buttons--primary o-buttons--professional">Primary Professional Theme</button>
<button class="o-buttons o-buttons--primary o-buttons--professional o-buttons-icon o-buttons-icon--arrow-right">Primary Professional Theme</button>
<button class="o-buttons o-buttons--primary o-buttons--big o-buttons--professional" disabled>Primary Professional Theme</button>
<hr>
<button class="o-buttons o-buttons--secondary o-buttons--professional">secondary Professional Theme</button>
<button class="o-buttons o-buttons--secondary o-buttons--professional">secondary Professional Theme</button>
<button class="o-buttons o-buttons--secondary o-buttons--professional o-buttons-icon o-buttons-icon--arrow-right">secondary Professional Theme</button>
<button class="o-buttons o-buttons--secondary o-buttons--big o-buttons--professional" disabled>secondary Professional Theme</button>
<hr>
<button class="o-buttons o-buttons--ghost o-buttons--professional">Ghost Professional Theme</button>
<button class="o-buttons o-buttons--ghost o-buttons--professional">Ghost Professional Theme</button>
<button class="o-buttons o-buttons--ghost o-buttons--professional o-buttons-icon o-buttons-icon--arrow-right">Ghost Professional Theme</button>
<button class="o-buttons o-buttons--ghost o-buttons--big o-buttons--professional" disabled>Ghost Professional Theme</button>
