////
/// A selection of mixins to output o-forms CSS by key features.
/// @group Labels
////

/// @access public
/// @output Styles for a label.
@mixin oFormsLabel {
	@include oTypographySansBold($scale: 0);
	color: _oFormsGet('field-label-text');
	display: block;
	padding: 0; // Reset legend default styling
	p {
		@include oTypographyMargin($top: 0, $bottom: 2);

		&:last-child {
			@include oTypographyMargin($bottom: 0);
		}
	}
}

/// @access public
/// @output Styles for a label within a group (i.e. fieldset of checkboxes, multi-input date capture).
@mixin oFormsGroupLabel {
    @include oTypographySize(0);
    display: inline-block;
    font-weight: oFontsWeight('normal');
}

/// @access public
/// @output Styles for addional input information (typically below a label).
@mixin oFormsAdditionalInfo {
	@include oTypographySans($scale: -1);
	color: _oFormsGet('field-additional-info-text');
	display: block;
}

/// @access public
/// @output Styles for error text.
@mixin oFormsErrorText {
	@include oTypographySans($scale: -1);
	color: _oFormsGet('field-invalid-text');
	clear: both;
	display: block;
	margin-top: $_o-forms-default-error-text-margin;
}

/// @access public
/// @require {mixin} oFormsLabel - Foundation label styles are required.
/// @output Modifying styles for labels of optional fields.
@mixin oFormsLabelOptional {
	@include oTypographySize(-1);
	color: _oFormsGet('field-additional-info-text');
	content: ' (optional)';
	font-weight: oFontsWeight('normal');
}
