////
/// A selection of mixins to output o-forms CSS by key features.
/// @group Labels
////

/// @access public
/// @output Styles for a label.
@mixin oFormsLabel {
	@include oBrandConfigureFor('o-forms') {
		@include oTypographyBold('sans');
		color: oBrandGet('field-label-text');
		display: block;
		padding: 0; // Reset legend default styling
		p {
			@include oTypographyMargin($top: 0, $bottom: 2);

			&:last-child {
				@include oTypographyMargin($bottom: 0);
			}
		}
	}
}

/// @access public
/// @output Styles for addional input information (typically below a label).
@mixin oFormsAdditionalInfo {
	@include oBrandConfigureFor('o-forms') {
		@include oTypographySize($_o-forms-typography-scale-small);
		color: oBrandGet('field-additional-info-text');
		display: block;
	}
}

/// @access public
/// @output Styles for error text.
@mixin oFormsErrorText {
	@include oBrandConfigureFor('o-forms') {
		@include oTypographySize($_o-forms-typography-scale-small);
		color: oBrandGet('field-invalid-text');
		clear: both;
		display: block;
		margin-top: -1px;
		padding: 3px 0;
	}
}

/// @access public
/// @require {mixin} oFormsLabel - Foundation label styles are required.
/// @output Modifying styles for labels of optional fields.
@mixin oFormsLabelOptional {
	@include oBrandConfigureFor('o-forms') {
		@include oTypographySize($_o-forms-typography-scale-small);
		color: oBrandGet('field-additional-info-text');
		content: ' (optional)';
		font-weight: oFontsWeight('normal');
	}
}
