/// Select styles
///
/// To be used in combination with oFormsCommonField
@mixin oFormsSelect {
	$icon-color: oColorsGetPaletteColor('black-80');
	cursor: pointer;
	color: oColorsGetPaletteColor('black-80');
	background-image: url(str-replace("https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:arrow-down?source=o-icons&tint=%23#{$icon-color}&format=svg", "#", ""));
	// For iOS 6 that doesn't support 4-value background-position
	// sass-lint:disable no-duplicate-properties
	background-position: right center;
	background-position: $_o-forms-field-default-padding-leftright $_o-forms-field-default-padding-leftright center;
	// sass-lint:enable no-duplicate-properties
	background-repeat: no-repeat;
	background-origin: border-box;
	background-size: $_o-forms__select-iconsize $_o-forms__select-iconsize;
	padding-right: $_o-forms__select-iconsize;
	padding-top: $_o-forms-field-default-padding-bottom - 2px;

	// Normalise line-height across browsers,
	// which makes sure bottom of glyps are visible in Firefox in particular
	line-height: 110%;

	// Improve readability of descending glpys in old IE
	padding-bottom: #{$_o-forms-field-default-padding-bottom - 2px}\9;

	// In old IE, since we can't hide the stock browser arrow, we'll just keep it:
	// 1. Remove additional padding
	// 2. Remove the custom arrow
	// sass-lint:disable no-duplicate-properties
	padding-right: #{$_o-forms-field-default-padding-leftright}\9; // [1]
	background-image: none\9; // [2]
	// sass-lint:enable no-duplicate-properties

	// Hide stock browser select arrow in Firefox
	text-indent: 0.01px;
	text-overflow: '';

	// Hide stock browser arrow in IE 10+
	// sass-lint:disable no-vendor-prefixes
	&::-ms-expand {
		display: none;
		color: oColorsGetPaletteColor('white');
	}
	// sass-lint:enable no-vendor-prefixes

	&:disabled {
		$icon-color: oColorsGetPaletteColor('black-60');
		background-image: url(str-replace("https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:arrow-down?source=o-icons&tint=%23#{$icon-color}&format=svg", "#", ""));
	}
}

@mixin oFormsSelectMulti() {
	cursor: pointer;
	// Reset the height to auto after the common field styles are applied
	height: auto;
	// Remove the background image set in the regular select box styles
	background-image: none;
	// Reset the padding to the default field padding
	padding: $_o-forms-field-default-padding-top $_o-forms-field-default-padding-leftright $_o-forms-field-default-padding-bottom;

	// Normalise line-height across browsers,
	// which makes sure bottom of glyps are visible in Firefox in particular
	line-height: 110%;

	// Improve readability of descending glpys in old IE
	padding-bottom: #{$_o-forms-field-default-padding-bottom - 2px}\9;
}
