/// @access public
/// @output Style to unskin a text input field entirely, but keep its structure intact.
/// @ignore This is a candidate for deprecation. Support is patchy and it is barely used, if at all.
@mixin oFormsUnskin {
	// sass-lint:disable no-vendor-prefixes no-important
	-moz-appearance: none !important;
	-webkit-appearance: none !important;
	border: 0 !important;
	background-color: transparent !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
	box-shadow: none !important;

	// for iOS
	-webkit-text-fill-color: _oFormsGet('field-label-text') !important;
	opacity: 1 !important;
	border-radius: 0 !important;
	// sass-lint:disable no-vendor-prefixes no-important
}
