<section class="o-social-follow"  aria-label="Follow on social media">
	<a href="#" class="o-social-follow-icon {{#standalone}}o-social-follow-icon--standalone {{/standalone}}{{#inverse}}o-social-follow-icon--inverse {{/inverse}}o-social-follow-icon--twitter">
		<span class="o-social-follow-icon__label">on X, formerly known as Twitter</span>
	</a>
	<a href="#" class="o-social-follow-icon {{#standalone}}o-social-follow-icon--standalone {{/standalone}}{{#inverse}}o-social-follow-icon--inverse {{/inverse}}o-social-follow-icon--facebook">
		<span class="o-social-follow-icon__label">on facebook</span>
	</a>
	<a href="#" class="o-social-follow-icon {{#standalone}}o-social-follow-icon--standalone {{/standalone}}{{#inverse}}o-social-follow-icon--inverse {{/inverse}}o-social-follow-icon--linkedin">
		<span class="o-social-follow-icon__label">on linkedin</span>
	</a>
	<a href="#" class="o-social-follow-icon {{#standalone}}o-social-follow-icon--standalone {{/standalone}}{{#inverse}}o-social-follow-icon--inverse {{/inverse}}o-social-follow-icon--youtube">
		<span class="o-social-follow-icon__label">on youtube</span>
	</a>
	<a href="#" class="o-social-follow-icon {{#standalone}}o-social-follow-icon--standalone {{/standalone}}{{#inverse}}o-social-follow-icon--inverse {{/inverse}}o-social-follow-icon--instagram">
		<span class="o-social-follow-icon__label">on instagram</span>
	</a>
</section>
