<div class="o-topper o-topper--centered-image o-topper--color-slate">
	<div class="o-topper__content">
		<h1 class="o-topper__headline">
			Falling UK inflation paves way for December cut
		</h1>
		<div class="o-topper__standfirst">Headline inflation fell to 3.6% as expected</div>
	</div>
	<figure class="o-topper__visual">
		<picture class="o-topper__picture">
			<source media="(min-width: 700px)" srcset="https://images.ft.com/v3/image/raw/ftcms%3Ad236d036-7eba-42af-a368-a6156da24c98?source=next-article&amp;fit=scale-down&amp;quality=highest&amp;width=700&amp;dpr=1 1x,https://images.ft.com/v3/image/raw/ftcms%3Ad236d036-7eba-42af-a368-a6156da24c98?source=next-article&amp;fit=scale-down&amp;quality=highest&amp;width=700&amp;dpr=2 2x,https://images.ft.com/v3/image/raw/ftcms%3Ad236d036-7eba-42af-a368-a6156da24c98?source=next-article&amp;fit=scale-down&amp;quality=highest&amp;width=700&amp;dpr=3 3x" width="2286" height="1285">
			<img class="o-topper__image" src="https://images.ft.com/v3/image/raw/https%3A%2F%2Fd1e00ek4ebabms.cloudfront.net%2Fproduction%2Fd236d036-7eba-42af-a368-a6156da24c98.jpg?source=next-article&amp;fit=scale-down&amp;quality=highest&amp;width=700&amp;dpr=1" alt="Andrew Bailey wearing a suit, glasses and a red poppy pin" data-image-type="image" width="2286" height="1285" loading="eager">
		</picture>
		<figcaption class="o-topper__image-caption">
				<span>BoE governor Andrew Bailey was the Monetary Policy Committee’s swing voter on interest rates last time</span>
				<span> <!-- -->© AP</span>
			</figcaption>
		</figure>
	<div class="o-topper__background"></div>
</div>