<div class="o-topper o-topper--full-bleed-image-center o-topper--color-slate">
	<div class="o-topper__content">
		<div class="o-topper__tags">
			<a href="https://www.ft.com/life-arts" class="o-topper__topic">Life &amp; Arts</a>
		</div>
		<h1 class="o-topper__headline o-topper__headline--large" data-trackable="header">
			<span class="article-classifier__gap">Feeling the strain: stress and anxiety weigh on world’s workers</span>
		</h1>
		<div class="o-topper__standfirst">Henry Marsh and Stephen Westaby on ‘100 per cent mortality’, the embattled NHS and why self-deception is a clinical skill</div>
	</div>

	<div class="o-topper__background"></div>

	<figure class="o-topper__visual">
		<picture class="o-topper__picture">
			<source media="(min-width: 491px) and (max-width: 1220px)" srcset="https://www.ft.com/__origami/service/image/v2/images/raw/https://d1e00ek4ebabms.cloudfront.net/production/70d20ddc-f8d6-4d47-a448-0f40b48c0985.jpg?source=origami-build-tools&amp;fit=scale-down&amp;quality=highest&amp;width=1220 1220w">
			<source media="(max-width: 490px)" srcset="https://www.ft.com/__origami/service/image/v2/images/raw/https://d1e00ek4ebabms.cloudfront.net/production/d170d4af-a0b9-4bcc-bb0a-59327dc4e7bf.jpg?source=origami-build-tools&amp;fit=scale-down&amp;quality=highest&amp;width=490 490w">
			<source media="(min-width: 1220px)" srcset="https://www.ft.com/__origami/service/image/v2/images/raw/https://d1e00ek4ebabms.cloudfront.net/production/0c368ecb-3d2d-4bf2-be88-2befb42c45f8.jpg?source=origami-build-tools&amp;fit=scale-down&amp;quality=highest&amp;width=1440 1440w">
			<img alt="" class="o-topper__image" src="https://www.ft.com/__origami/service/image/v2/images/raw/https://d1e00ek4ebabms.cloudfront.net/production/c41b7e70-fe88-4789-818e-3bacf0f65980.jpg?source=origami-build-tools&amp;fit=scale-down&amp;quality=highest&amp;width=1440">
		</picture>
	</figure>
</div>
