<div class="o-topper o-topper--split-text-left o-topper--package o-topper--color-wheat">
	<div class="o-topper__content">
		<div class="o-topper__tags">
			<a href="https://www.ft.com/ft-guides" class="o-topper__topic tags--large">FT Guides</a>
		</div>
		<h1 class="o-topper__headline o-topper__headline--large">
			<span class="article-classifier__gap">Collecting: Frieze Week 2017</span>
		</h1>
		<div class="o-topper__standfirst"><p>The arrival of Frieze London and Frieze Masters in Regent’s Park kick-starts a week of art fairs and exhibition openings in the capital. Here’s our guide to what’s on</p></div>
	</div>

	<div class="o-topper__background"></div>

	<figure class="o-topper__visual">
		<picture class="o-topper__picture">
			<source media="(max-width: 1440px)" srcset="https://www.ft.com/__origami/service/image/v2/images/raw/http://prod-upp-image-read.ft.com/87c44eba-a823-11e7-ab55-27219df83c97?source=origami-build-tools&amp;fit=scale-down&amp;quality=highest&amp;width=720 720w">
			<source media="(min-width: 1440px)" srcset="https://www.ft.com/__origami/service/image/v2/images/raw/http://prod-upp-image-read.ft.com/8c35d22a-a823-11e7-ab55-27219df83c97?source=origami-build-tools&amp;fit=scale-down&amp;quality=highest&amp;width=800 800w">
			<img alt="" class="o-topper__image" src="https://www.ft.com/__origami/service/image/v2/images/raw/http://prod-upp-image-read.ft.com/aed45398-a99e-11e7-93c5-648314d2c72c?source=origami-build-tools&amp;fit=scale-down&amp;quality=highest&amp;width=800">
		</picture>
	</figure>
</div>
