<div class="o-topper o-topper--branded o-topper--has-headshot o-topper--opinion o-topper--color-slate">
	<div class="o-topper__content">
		<div class="o-topper__tags">
			<a href="https://www.ft.com/topics/themes/US_Treasury_Bonds" class="o-topper__topic">
				FT News Briefing
			</a>
		</div>

		<h1 class="o-topper__headline">
			<span class="article-classifier__gap">Monday, December 3</span>
		</h1>

		<div class="o-topper__standfirst">A rundown of the most important global business stories you need to know for the coming day, from the newsroom of the Financial Times. Available every weekday morning.</div>


		<div class="o-topper__headshot">
			<img
				class="o-topper__headshot-image"
				src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fthumborcdn.acast.com%2FAav5xgfc2N_Vq1iQ75Njpb28DPU%3D%2F3000x3000%2Fhttps%3A%2F%2Fmediacdn.acast.com%2Fassets%2F73fe3ede-5c5c-4850-96a8-30db8dbae8bf%2F-jn0lbpr9-news_briefing_logo.jpg?source=app&width=500&fit=scale-down"
				role="presentation">
		</div>
	</div>

	<div class="o-topper__background"></div>
</div>
