<div class="o-topper o-topper--split-text-center o-topper--color-black">
	<div class="o-topper__content">
		<div class="o-topper__tags">
			<a href="https://www.ft.com/comment/the-big-read" class="o-topper__brand">
				The Big Read
			</a>
			<a href="https://www.ft.com/topics/themes/Renewable_Energy" class="o-topper__topic">
				Renewable Energy
			</a>
		</div>
		<h1 class="o-topper__headline o-topper__headline--large" data-trackable="header">
			<span class="article-classifier__gap">The Big Green Bang: how renewable energy became unstoppable</span>
		</h1>
		<div class="o-topper__standfirst">The shift to cleaner power is disrupting entire industries. Will the 21st century be the last one for fossil fuels?</div>
	</div>

	<div class="o-topper__background"></div>

	<figure class="o-topper__visual">
	<div class="o-topper__picture">
			<video class="o-topper__image" autoplay playsinline loop disableremoteplayback x-webkit-airplay="deny" preload="auto" poster="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fft-ig-images-prod.s3-website-eu-west-1.amazonaws.com%2Fv1%2F8344261219-t5ify.png?source=ig&amp;fit=scale-down&amp;quality=highest&amp;width=100" >
				<source src="https://ig.ft.com/rebuilding-one-street-in-ukraine/dist/videos/opening_video.mp4">
				<p>Your browser doesn't support HTML5 video.</p>
				
			</video>
</div>
		<figcaption class="o-topper__image-credit">© Ollanski</figcaption>
	</figure>
</div>
