<div class="o-topper o-topper--split-text-left o-topper--color-claret">
	<div class="o-topper__content">
		<div class="o-topper__tags">
			<a href="/uk-general-election" class="o-topper__topic">
				UK general election
			</a>
		</div>
		<h1 class="o-topper__headline o-topper__headline--large">
			<span class="article-classifier__gap">Canterbury tale: why a true blue corner of Britain turned to Labour</span>
		</h1>
		<div class="o-topper__standfirst">After a general election that redrew the political map, Sebastian Payne heads to a city at the heart of a historic upset in search of answers</div>
	</div>

	<div class="o-topper__background"></div>

	<figure class="o-topper__visual">
		<picture class="o-topper__picture">
			<source media="(max-width: 1440px)" srcset="https://www.ft.com/__origami/service/image/v2/images/raw/http://prod-upp-image-read.ft.com/3eceaf1e-61a3-11e7-91a7-502f7ee26895?source=origami-build-tools&amp;fit=scale-down&amp;quality=highest&amp;width=720 720w">

			<source media="(min-width: 1440px)" srcset="https://www.ft.com/__origami/service/image/v2/images/raw/http://prod-upp-image-read.ft.com/6b7b8578-61a3-11e7-91a7-502f7ee26895?source=origami-build-tools&amp;fit=scale-down&amp;quality=highest&amp;width=800 800w">

			<img alt="" class="o-topper__image" src="https://www.ft.com/__origami/service/image/v2/images/raw/http://prod-upp-image-read.ft.com/97a49d16-61e8-11e7-8814-0ac7eb84e5f1?source=origami-build-tools&amp;fit=scale-down&amp;quality=highest&amp;width=800">
		</picture>
		<figcaption class="o-topper__image-credit">© KMG/SWNS.com</figcaption>
	</figure>
</div>
