<div class="o-topper o-topper--video-landscape o-topper--color-slate">
	<div class="o-topper__content o-topper__content--box-shadow">
		<div class="o-topper__tags">
			<a href="https://www.ft.com/life-arts" class="o-topper__topic">Life &amp; Arts</a>
		</div>
		<h1 class="o-topper__headline o-topper__headline--large" data-trackable="header">
			<span class="article-classifier__gap">Feeling the strain: stress and anxiety weigh on world’s workers</span>
		</h1>
		<div class="o-topper__standfirst">Henry Marsh and Stephen Westaby on ‘100 per cent mortality’, the embattled NHS and why self-deception is a clinical skill</div>
	</div>

	<div class="o-topper__background"></div>

	<figure class="o-topper__visual">
			
			<video class="o-topper__video" autoplay playsinline loop disableremoteplayback x-webkit-airplay="deny" preload="auto" poster="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fft-ig-images-prod.s3-website-eu-west-1.amazonaws.com%2Fv1%2F8344261219-t5ify.png?source=ig&amp;fit=scale-down&amp;quality=highest&amp;width=100" >
				<source src="https://ig.ft.com/rebuilding-one-street-in-ukraine/dist/videos/opening_video.mp4">
				<p>Your browser doesn't support HTML5 video.</p>
				
			</video>
		<figcaption class="o-topper__image-caption">S @FT</figcaption>
	</figure>
</div>
