<form action data-o-component="o-forms">

			<span class="o-forms-field o-forms-field--optional">


        <span class="o-forms-title">


          <label class="o-forms-title__main" for="optional">Optional text input</label>
          <span class="o-forms-title__prompt">Optional prompt text</span>
        </span>
        <span class="o-forms-input o-forms-input--text">
          <input id="optional" type="text" name="text" value>


        </span>


      </span>







      <span class="o-forms-field">
        <span class="o-forms-title">
          <label class="o-forms-title__main" for="valid">Text input with a valid entry</label>
        </span>

        <span class="o-forms-input o-forms-input--text o-forms-input--valid">
          <input id="valid" type="text" name="text" value="Valid Input" required>
        </span>
      </span>
      <span class="o-forms-field">
        <span class="o-forms-title">
          <label class="o-forms-title__main" for="invalid">Text input with an invalid entry</label>
        </span>

        <span class="o-forms-input o-forms-input--text o-forms-input--invalid">
          <input id="invalid" type="text" name="text" value required>

          <span role="alert" class="o-forms-input__error">Please fill out this field</span>
        </span>
      </span>
      <span class="o-forms-field">
        <span class="o-forms-title">
          <label class="o-forms-title__main" for="disabled">Disabled text input</label>
        </span>

        <span class="o-forms-input o-forms-input--text">
          <input id="disabled" type="text" name="text" value="Disabled" disabled>
        </span>
      </span>
      <span class="o-forms-field">
        <span class="o-forms-title">
          <label class="o-forms-title__main" for="small">Small text input</label>
        </span>

        <span class="o-forms-input o-forms-input--text o-forms-input--small">
          <input id="small" type="text" name="text" value="Value" required>
        </span>
      </span>
      <span class="o-forms-field o-forms-field--optional">
        <span class="o-forms-title">
          <label class="o-forms-title__main" for="suffix">Text input with suffix</label>
        </span>

        <span class="o-forms-input o-forms-input--text o-forms-input--suffix">
          <input id="suffix" type="text" name="text" value>

          <button class="o-buttons o-buttons--secondary o-buttons--big">
            Submit
          </button>
        </span>
      </span>
      <span class="o-forms-field">
        <span class="o-forms-title">
          <label class="o-forms-title__main" for="small-suffix">Small text input with suffix</label>
        </span>

        <span class="o-forms-input o-forms-input--text o-forms-input--small o-forms-input--suffix">
          <input id="small-suffix" type="text" name="text" value required>

          <button class="o-buttons o-buttons--secondary">Submit</button>
        </span>
      </span>
      <span class="o-forms-field o-forms-field--inline o-forms-field--optional">
        <span class="o-forms-title o-forms-title--shrink o-forms-title--vertical-center">
          <label class="o-forms-title__main" for="shrunken">Shrunken title</label>
          <span class="o-forms-title__prompt">Vertically centered</span>
        </span>

        <span class="o-forms-input o-forms-input--text">
          <input id="shrunken" type="text" name="text" value>
        </span>
      </span>
      <span class="o-forms-field">
        <span class="o-forms-title">
          <label class="o-forms-title__main" for="password">Password input</label>
        </span>

        <span class="o-forms-input o-forms-input--password">
          <input id="password" type="password" name="text" value="password" required>
        </span>
      </span>
    </form>
