$o-colors-is-silent: false;

// Import colors module
@import '../../../main';

.container {
	max-width: 980px;
	margin: 0 auto;
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);


	@media (max-width: 630px) {
		grid-template-columns: 1fr;
	}
}

.color-selectors {
	padding: 20px;
}

body {
	font-family: MetricWeb, sans-serif;
}

.rating-result--aaa,
.rating-result--aa {
	color: oColorsGetPaletteColor('jade');
}

.rating-result--aa18 {
	color: oColorsMix('crimson', 'lemon', 50);
}

.rating-result--fail {
	color: oColorsGetPaletteColor('crimson');
}

.contrast-result {
	display: flex;
	flex-direction: column;
	padding: 20px 10px 0;
	border-top: 1px solid oColorsMix('black', 'white', 5);
	font-size: 18px;

	div {
		display: flex;
		justify-content: space-between;
		font-weight: 600;
	}
}

.contrast-showcase {
	padding: 20px;
	border: 1px solid oColorsMix('black', 'white', 5);

	&--text {
		font-size: 14px;
	}
}
