@import "./../../main";
@include oTable();
@import '@financial-times/o-fonts/main';
@include oFonts();

@import "@financial-times/o-normalise/main";
@include oNormalise();
@import "@financial-times/o-typography/main";
@include oTypography();
@import "@financial-times/o-forms/main";
@include oForms();
@import "@financial-times/o-buttons/main";
@include oButtons();
html {
	background: oColorsByUsecase('page', 'background');
}

.o-forms-field--demo {
	max-width: 24rem;
}

.o-table-demo-constrain {
	max-width: 600px;
}

.o-table-demo-pad {
	padding-bottom: 1000px;
}
