<div class="o-table-container">
	<div class="o-table-scroll-wrapper">
		<table class="o-table o-table--row-headings o-table--vertical-lines" data-o-component="o-table">
			<tr>
				<th scope="row" role="rowheader">Item</th>
				<td>Holiday</td>
				<td>Lunch</td>
				<td>Coffee</td>
			</tr>
			<tr>
				<th scope="row" role="rowheader">Cost</th>
				<td>£123.45</td>
				<td>£7</td>
				<td>£2.34</td>
			</tr>
		</table>
	</div>
</div>
