@mixin _oHeaderSearch() {
	.o-header__search {
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		padding-bottom: $_o-header-padding-y;
		text-align: center;

		&[aria-hidden="false"] {
			display: block;
		}
	}

	[data-o-header-search] {
		display: none;
	}

	.o-header__search-form {
		display: flex;
		align-items: center;
		margin: 0 auto;
	}

	.o-header__search-term {
		@include oTypographySans($scale: -1);
		box-sizing: border-box;
		height: 32px; // match overridden o-buttons height
		padding: 0 8px;
		vertical-align: middle;
		// normalize
		appearance: none;
		border-style: solid;
		border-color: transparent;
		box-shadow: none;
		border-radius: 0;
		// fill!
		min-width: 50%;
		flex-grow: 1;
		align-items: center;

		.o-forms-input--text.o-forms-input--suffix {
			width: 90%;
		}
	}

	.o-header__search-submit {
		@include oButtonsContent($opts: (
			'type': 'primary',
			'icon-only': true,
			'icon': 'search',
			'size': 'big'
		));
		margin-left: $_o-header-padding-x;
		padding-left: 40px;
		background-position: inherit;
	}

	.o-header__search-close {
		@include oIconsContent('cross', _oHeaderGet('search-close'), $size: $_o-header-icon-size-large);
		border: 0;
		margin-left: $_o-header-padding-x;
		vertical-align: middle;
		// Match the search button's hover/focus state.
		&:hover {
			opacity: 0.75;
		}

		@include oGridRespondTo($until: 'M') {
			display: none;
		}
	}
}
