@mixin _oHeaderSearch() {
	.o-header__search {
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		padding-bottom: $_o-header-padding-y;
		text-align: center;

		&[aria-hidden='false'] {
			display: block;
		}
	}

	[data-o-header-search] {
		display: none;
	}

	.o-header__search-form {
		display: flex;
		align-items: center;
		margin: 0 auto;
		max-width: 640px;
		position: relative;
	}

	.o-header__search-term {
		@include oTypographySans($scale: -1);
		box-sizing: border-box;
		height: 32px; // match overridden o-buttons height
		padding: 0 8px;
		vertical-align: middle;
		// normalize
		appearance: none;
		border-style: solid;
		border-color: transparent;
		box-shadow: none;
		border-radius: 0;
		// fill!
		min-width: 50%;
		flex-grow: 1;
		align-items: center;

		.o-forms-input--text.o-forms-input--suffix {
			width: 100%;
			margin-top: 10px;
		}
	}

	.o-header__search-icon {
		@include oIconsContent($icon-name: 'search', $size: 40, $color: white);
	}

	.o-header__search-submit {
		@include oButtonsContent(
			$opts: (
				'type': 'primary',
				'size': 'big',
			)
		);
		display: flex;
		gap: 10px;
		align-items: center;
		margin-left: $_o-header-padding-x;
		padding: 0px oSpacingByName('s6') 0px oSpacingByName('s4');
		background-position: inherit;
	}

	.o-header__search-close {
		@include oTypographySans($scale: 1);
		text-decoration: underline;
		background: none;
		padding: 0;
		border: 0;
		margin-left: $_o-header-padding-x;
	}
}
