@mixin oSubsCardB2B {
	.o-subs-card__top {
		background: oPrivateFoundationGet("o3-color-palette-slate");
		color: oPrivateFoundationGet("o3-color-palette-white");
	}

	.o-subs-card__copy-benefits {
		background: oPrivateFoundationGet("o3-color-palette-slate");
		color: oPrivateFoundationGet("o3-color-palette-white");
	}

	.o-subs-card__copy-title:first-child {
		margin-bottom: oPrivateSpacingByName("s1");
		padding-top: oPrivateSpacingByName("s6");
		padding-right: $o-subs-card-horizontal-padding;
		padding-left: $o-subs-card-horizontal-padding;
	}

	.o-subs-card__select-button {
		@include oPrivateButtonsContent($opts: ("type": "primary",
				"size": "big",
				"theme": "inverse",
			));
	}
}

@mixin oSubsCardDiscount {
	.o-subs-card__copy-title {
		margin-bottom: oPrivateSpacingByName("s4");
	}

	.o-subs-card__copy-offer {
		@include oPrivateTypographySans(3);
		padding-top: oPrivateSpacingByIncrement(5);
		line-height: 1;
		color: oPrivateFoundationGet("o3-color-palette-claret-80");
	}

	.o-subs-card__select-button {
		@include oPrivateButtonsContentWithThemeOverride($opts: ("type": "primary",
				"size": "big",
			),
			$theme-override: (color: oPrivateFoundationGet("o3-color-palette-claret-80"),
				context: oPrivateFoundationGet("o3-color-palette-white"),
			));
	}

	.o-subs-card__charge__value {
		color: oPrivateFoundationGet("o3-color-palette-claret-80");
	}
}
