
<div class="o-banner demo-banner-static">
	<div class="o-banner__outer">
		<div class="o-banner__inner">
			<div class="o-banner__content">
				<p>Banner content.</p>
			</div>
			<div class="o-banner__actions">
				<div class="o-banner__action">
					<a href="#" class="o-banner__button">Button</a>
				</div>
				<div class="o-banner__action o-banner__action--secondary">
					<a href="#" class="o-banner__link">Link</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="o-banner o-banner--marketing demo-banner-static">
	<div class="o-banner__outer">
		<div class="o-banner__inner">
			<div class="o-banner__content">
				<p>Banner content.</p>
			</div>
			<div class="o-banner__actions">
				<div class="o-banner__action">
					<a href="#" class="o-banner__button">Button</a>
				</div>
				<div class="o-banner__action o-banner__action--secondary">
					<a href="#" class="o-banner__link">Link</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="o-banner o-banner--product demo-banner-static">
	<div class="o-banner__outer">
		<div class="o-banner__inner">
			<div class="o-banner__content">
				<p>Banner content.</p>
			</div>
			<div class="o-banner__actions">
				<div class="o-banner__action">
					<a href="#" class="o-banner__button">Button</a>
				</div>
				<div class="o-banner__action o-banner__action--secondary">
					<a href="#" class="o-banner__link">Link</a>
				</div>
			</div>
		</div>
	</div>
</div>
