$hyphenated-lowercase: '';

$_leading-underscore: '';

// the following are allowed but probably should not be
$_camelCaseWithLeadingUnderscore: '';

$snake_case: '';

$a_great-BIG--mess2345678: '';

$oComponentThing: '';

$oComponentThing2: '';
