<form class="color-selectors" id="color-selectors">
	<div data-o-component="o-tabs" class="o-tabs o-tabs--buttontabs o-tabs--secondary" role="tablist">
		<a role="tab" aria-controls="foreground" aria-selected="true" href="#foreground">Foreground Colour</a>
		<a role="tab" aria-controls="background" href="#background">Background Colour</a>
	</div>

	<div id="foreground" class="o-tabs__tabpanel">
	<fieldset class="swatches swatches--foreground o-tabs__tabpanel">
		{{> fieldsets/foreground }}
		<span class="o-forms-title__main">Mixes</span>
		<label for="mixer-color-overlay" title="Add mixed colour"></label>
		<input type="radio"
			id="mixer-color-overlay"
			class="o-overlay-trigger"
			data-o-overlay-src="#mixer-overlay"
			data-o-overlay-id="mixer-overlay"
			data-o-overlay-customclose="true">
	</fieldset>
	</div>

	<div id="background" class="o-tabs__tabpanel">
	<fieldset class="swatches swatches--background o-tabs__tabpanel">
		{{> fieldsets/background}}
		<span class="o-forms-title__main">Mixes</span>
		<label title="Add mixed colour">
			<input type="radio" class="trigger-input">
		</label>
	</fieldset>
	</div>

	{{> fieldsets/mixer }}
</form>

<div class="contrast-info" data-o-component="o-syntax-highlight">
	<div class="contrast-combination">
		<span class="o-forms-title__main">Combination</span>
		<span class="combination"></span>
	</div>
	<div class="contrast-details">
		<span class="o-forms-title__main">Contrast Details</span>
		<span class="contrast-ratio"></span>
		<span class="wcag-rating rating-result"></span>
		<p class="rating-message rating-result"></p>
	</div>
</div>

<div class="contrast-showcase">
	<h3>This is an example of text at 18px</h3>
	<p>Everything else is 14px</p>
	<p>This contrast checker is constrained to the colours that exist within the <a href="https://registry.origami.ft.com/components/o-colors#primary-palette">o-colors color palette</a>. It also provides the option to include 'mixed' colours, which allow the original palette colours to be mixed with each other at different percentages.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec ultrices arcu. Donec faucibus euismod condimentum. Donec pharetra diam nunc, accumsan tempus est pellentesque nec. Vivamus eget fermentum lacus. Integer quis luctus leo, sed placerat mi.</p>
</div>
