<!-- pa11y error, no contrast-->
<button style="background-color:blue; color:blue">No contrast</button>
<!-- pa11y warning, not logically nested-->
<h2>Not logically nested</h2>
<!-- no errors -->
<button>Click me</button>
