<form data-o-component="o-forms">
    <label class="o-forms-field">
        <span class="o-forms-title">
            <span class="o-forms-title__main">Select your country</span>
        </span>
        <span class="o-forms-input o-forms-input--text">
            <div data-o-component="o-autocomplete" data-o-autocomplete-source="customSuggestions" class="o-autocomplete">
                <!-- If the JavaScript executes, then this input will be progressively enhanced to an autocomplete component -->
                <input required type="text" name="text-example" id="my-autocomplete">
            </div>
            <span class="o-forms-input__error">Please fill out this field</span>
        </span>
    </label>
</form>
