.o3-tooltip-demo-wrapper {
	position: relative;
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80%;
}

.o3-tooltip-demo-message {
	position: absolute;
	bottom: -10px;
	left: -10px;
	background-color: rgba(255, 255, 255, 0.7);
	padding: 0px 10px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
