<label for="my-autocomplete">Select your country</label>
<div data-o-component="o-autocomplete" data-o-autocomplete-source="customSort" data-o-autocomplete-highlighter="customHighlighter" class="o-autocomplete" id="my-autocomplete">
    {{! If the JavaScript executes, then this input will be progressively enhanced to an autocomplete component }}
    <input type="text" value="">
</div>
