---
import links from "@financial-times/o3-figma-sb-links";
const {storybook, figma} = Astro.props;
---

{
	storybook && (
		<a
			style="display: inline-block; margin: var(--o3-spacing-2xs) 0;"
			href={storybook}>
			Open in StoryBook
		</a>
	)
}
{storybook && figma && ' | '}
{
	figma && (
		<a
			style="display: inline-block; margin: var(--o3-spacing-2xs) 0;"
			href={figma}>
			Open in Figma
		</a>
	)
}
