---
import * as Component from './preview/Byline.tsx';
import FigmaSbLinks from '../utils/FigmaSbLinks.astro';
import Preview from '../utils/Preview.astro';

const {brand} = Astro.props;
const storybookId = `${brand}-o3-editorial-typography--byline`
---

<p>
	Byline component tells information about the author of a piece. The elements
	that constitute a byline include, author name, location and timestamp.
</p>

<Preview component={Component} themes={['standard', 'inverse']}/>

<FigmaSbLinks {storybookId} />
