<!DOCTYPE html>
<html lang="en-GB" class="core o-typography--loading-sans o-typography--loading-sans-bold o-typography--loading-display o-typography--loading-display-bold" data-o-component="o-typography">
<head>

	<!-- Page meta-information -->
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Sass Specification</title>
	<meta name="description" content="An overview of how the Origami team writes Sass." />

	<!-- Cuts the mustard test -->
	<script>
		var cutsTheMustard = ('querySelector' in document && 'localStorage' in window && 'addEventListener' in window);
		if (cutsTheMustard) {
			document.documentElement.className = document.documentElement.className.replace(/\bcore\b/g, 'enhanced');
		}
	</script>

	<!-- Favicons -->
	<link rel="icon" type="image/svg+xml" href="https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo-v1%3Aorigami?source=origami-docs&format=svg" sizes="any">
	<link rel="alternate icon" type="image/png" href="https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo-v1%3Aorigami?source=origami-docs&width=16&height=16&format=png" sizes="16x16">
	<link rel="alternate icon" type="image/png" href="https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo-v1%3Aorigami?source=origami-docs&width=32&height=32&format=png" sizes="32x32">
	<link rel="alternate icon" type="image/png" href="https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo-v1%3Aorigami?source=origami-docs&width=96&height=96&format=png" sizes="96x96">
	<link rel="alternate icon" type="image/png" href="https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo-v1%3Aorigami?source=origami-docs&width=128&height=128&format=png" sizes="128x128">
	<link rel="alternate icon" type="image/png" href="https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo-v1%3Aorigami?source=origami-docs&width=196&height=196&format=png" sizes="196x196">
	<link rel="alternate icon" type="image/png" href="https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo-v1%3Aorigami?source=origami-docs&width=310&height=310&format=png" sizes="310x310">

	<!-- Site links -->
	<link rel="sitemap" type="application/xml" href="/sitemap.xml" title="Sitemap" />
	<link rel="canonical" href="https://origami.ft.com/spec/v1/components/sass/" />

	<!-- Feed -->
	<link type="application/atom+xml" rel="alternate" href="https://origami.ft.com/feed.xml" title="Origami Newsletter" />

	<!-- Progressive Font Loading -->
	<!-- https://github.com/Financial-Times/o-typography/tree/v6.1.3#setup-progressive-loading -->
	<script>
		var rootElement = document.querySelector('html')
		if (/(^|\s)o-typography-fonts-loaded=1(;|$)/.test(document.cookie)) {
			var fontLabels = ['sans', 'sans-bold', 'display', 'display-bold']
			for (var i = 0; i < fontLabels.length; i++) {
				rootElement.className = rootElement.className.replace('o-typography--loading-' + fontLabels[i], '')
			}
		}
	</script>

	<!-- Styles -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<style>
		/* Hide any enhanced experience content when in core mode, and vice versa. */
		.core .o--if-js,
		.enhanced .o--if-no-js {
			display: none !important;
		}
	</style>
	<link rel="stylesheet" href="https://www.ft.com/__origami/service/build/v3/bundles/css?components=o-normalise@^3.0.3,o-typography@^7.0.3,o-layout@^5.0.6,o-header-services@^5.1.0,o-footer-services@^4.0.3,o-syntax-highlight@^4.0.1,o-message@^5.1.0,o-table@^9.0.3,o-autoinit@^3.0.1&brand=internal&system_code=origami" />
	<link rel="stylesheet" href="/assets/main.css" />

	<!-- JS -->
	<script>
		(function(src) {
			if (cutsTheMustard) {
				var o = document.createElement('script');
				o.async = o.defer = true;
				o.src = src;
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(o, s);
			}
		}('https://www.ft.com/__origami/service/build/v3/bundles/js?components=o-normalise@^3.1.0,o-typography@^7.1.0,o-layout@^5.1.0,o-header-services@^5.1.0,o-footer-services@^4.1.0,o-syntax-highlight@^4.1.0,o-message@^5.1.0,o-table@^9.1.0,o-autoinit@^3.0.1&system_code=origami'));
	</script>
</head>
<body>
	<div class="o-layout o-layout--docs" data-o-component="o-layout" data-o-layout-nav-heading-selector="h1, h2">
		
		<div class="o-layout__header">
			
<header class="o-header-services" data-o-component="o-header-services">
	<div class="o-header-services__top">
			<div class="o-header-services__hamburger">
				<a class="o-header-services__hamburger-icon" href="#" role="button">
					<span class="o-header-services__visually-hidden">Open primary navigation</span>
				</a>
			</div>
		<a href="/" class="o-header-services__logo"><span class="o-header-services__visually-hidden">To homepage</span></a>
		<div class="o-header-services__title">
			<a class="o-header-services__product-name" href="/">Origami</a>
			<span class="o-header-services__product-tagline">Frontend Components &amp; Services</span>
		</div>
	</div>

	<nav class="o-header-services__primary-nav" aria-label="primary">
		<ul class="o-header-services__primary-nav-list">
			<li>
				<a href="/" >
					Home
				</a>
			</li>
			<li>
				<a href="/docs/" >
					Docs
				</a>
			</li>
			<li>
				<a href="https://registry.origami.ft.com/components"> Registry</a>
			</li>
			<li>
				<a href="/blog/" >
					Blog
				</a>
			</li>
		</ul>
	</nav>



	

	
	<nav class="o-header-services__secondary-nav" aria-label="secondary" data-o-header-services-nav="">
		<div class="o-header-services__secondary-nav-content" data-o-header-services-nav-list="">
			<ol class="o-header-services__secondary-nav-list o-header-services__secondary-nav-list--ancestors" aria-label="Ancestor sections">
			

			
				<!-- Collection item page -->
				<li>
					
					<a href="/spec/v1/">
						
							Spec
						
					</a>
				</li>
			

			
				<li>
					<a href="/spec/v1/components/" >
						Components
					</a>
				</li>
			
			</ol>

			<ul class="o-header-services__secondary-nav-list o-header-services__secondary-nav-list--children" aria-label="Child sections">
			

				<li>
					<a href="/spec/v1/components/markup/" >
						Markup
					</a>
				</li>
				<li>
					<a href="/spec/v1/components/javascript/" >
						JavaScript
					</a>
				</li>
				<li>
					<a href="/spec/v1/components/sass/" aria-current="page">
						Sass
					</a>
				</li>

			
			</ul>
		</div>
		<button class="o-header-services__scroll-button o-header-services__scroll-button--left" title="scroll left" aria-hidden="true" disabled></button>
		<button class="o-header-services__scroll-button o-header-services__scroll-button--right" title="scroll right" aria-hidden="true" disabled></button>
	</nav>
	
</header>



		</div>
		

		<div class="o-layout__header">
	
<header class="o-header-services" data-o-component="o-header-services">
	<div class="o-header-services__top">
			<div class="o-header-services__hamburger">
				<a class="o-header-services__hamburger-icon" href="#" role="button">
					<span class="o-header-services__visually-hidden">Open primary navigation</span>
				</a>
			</div>
		<a href="/" class="o-header-services__logo"><span class="o-header-services__visually-hidden">To homepage</span></a>
		<div class="o-header-services__title">
			<a class="o-header-services__product-name" href="/">Origami</a>
			<span class="o-header-services__product-tagline">Frontend Components &amp; Services</span>
		</div>
	</div>

	<nav class="o-header-services__primary-nav" aria-label="primary">
		<ul class="o-header-services__primary-nav-list">
			<li>
				<a href="/" >
					Home
				</a>
			</li>
			<li>
				<a href="/docs/" >
					Docs
				</a>
			</li>
			<li>
				<a href="https://registry.origami.ft.com/components"> Registry</a>
			</li>
			<li>
				<a href="/blog/" >
					Blog
				</a>
			</li>
		</ul>
	</nav>



	

	
	<nav class="o-header-services__secondary-nav" aria-label="secondary" data-o-header-services-nav="">
		<div class="o-header-services__secondary-nav-content" data-o-header-services-nav-list="">
			<ol class="o-header-services__secondary-nav-list o-header-services__secondary-nav-list--ancestors" aria-label="Ancestor sections">
			

			
				<!-- Collection item page -->
				<li>
					
					<a href="/spec/v1/">
						
							Spec
						
					</a>
				</li>
			

			
				<li>
					<a href="/spec/v1/components/" >
						Components
					</a>
				</li>
			
			</ol>

			<ul class="o-header-services__secondary-nav-list o-header-services__secondary-nav-list--children" aria-label="Child sections">
			

				<li>
					<a href="/spec/v1/components/markup/" >
						Markup
					</a>
				</li>
				<li>
					<a href="/spec/v1/components/javascript/" >
						JavaScript
					</a>
				</li>
				<li>
					<a href="/spec/v1/components/sass/" aria-current="page">
						Sass
					</a>
				</li>

			
			</ul>
		</div>
		<button class="o-header-services__scroll-button o-header-services__scroll-button--left" title="scroll left" aria-hidden="true" disabled></button>
		<button class="o-header-services__scroll-button o-header-services__scroll-button--right" title="scroll right" aria-hidden="true" disabled></button>
	</nav>
	
</header>




	<div
		class="o-message o-message--notice o-message--inner o-message--warning-light"
		data-o-component="o-message"
		data-o-message-close="false"
		>
		<div class="o-message__container">
		<div class="o-message__content">
			<p class="o-message__content-main">
				<span class="o-message__content-highlight">
					The Origami specification is deprecated.
				</span>
				Origami projects may diverge from the specification, however, any new divergence will be released as a major version.
			</p>
			<p class="o-message__content-additional">
				Read our <a href="/TODO">blogpost on why the Origami specificaiton</a> has been deprecated for more information.
			</p>
		</div>
		</div>
	</div>
</div>


<div class="o-layout__sidebar"></div>

<div class="o-layout__main o-layout-typography" data-o-component="o-syntax-highlight">
	<h1 id="sass-specification">Sass Specification</h1>

<p>Origami component styles are authored in <a href="http://sass-lang.com/" class="o-typography-link--external">Sass</a>, specifically the SCSS syntax. Sass features <strong>should</strong> be used only where they result in increased clarity and reuse. Care should be taken that the resulting CSS is not compromised by unnecessary Sass nesting.</p>

<h2 id="syntax-convention">Syntax Convention</h2>

<p>Sass <strong>must</strong> be linted with <a href="https://stylelint.io/">Stylelint</a>.</p>

<p>Developers <strong>should</strong> stick to the <a href="https://github.com/Financial-Times/stylelint-config-origami-component" class="o-typography-link--external">Origami Stylelint rules</a>, since this represents a common standard across FT teams. Custom linting <strong>may</strong> be defined at the component level with a <code class="language-plaintext highlighter-rouge">.stylelintrc.js</code> file, or at the file level with <a href="https://stylelint.io/user-guide/rules/comment-empty-line-before#stylelint-commands" class="o-typography-link--external">Stylelint comments</a>.</p>

<p>By default the <a href="https://github.com/Financial-Times/stylelint-config-origami-component" class="o-typography-link--external">Origami Stylelint rules</a> enforce a tab indentation style. However indentation style (tabs or spaces) is not standardised: developers <strong>must</strong> respect whatever indent type is already in use when editing existing components. To change indentation style update the component’s <a href="https://stylelint.io/user-guide/configure"><code class="language-plaintext highlighter-rouge">.stylelintrc.js</code> configuration</a>.</p>

<p>In addition, component CSS <strong>should not</strong> use <code class="language-plaintext highlighter-rouge">!important</code>. Valid use cases for <code class="language-plaintext highlighter-rouge">!important</code> exist, but usually only at the product level. If <code class="language-plaintext highlighter-rouge">!important</code> is used in a component, a comment must be left in code to explain why it was necessary.</p>

<h2 id="naming-conventions">Naming Conventions</h2>

<p>CSS/Sass has limited encapsulation, so strict adherence to namespacing rules is essential.</p>

<p>CSS selectors <strong>should</strong> follow the <a href="https://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/" class="o-typography-link--external">BEM</a> naming convention. They <strong>must</strong> also be prefixed with the component name and written as hyphen separated, lowercase strings:</p>
<ul>
  <li>Good: <code class="language-plaintext highlighter-rouge">.o-thing--large</code>, <code class="language-plaintext highlighter-rouge">.o-thing__content</code></li>
  <li>Bad: <code class="language-plaintext highlighter-rouge">.largething</code>, <code class="language-plaintext highlighter-rouge">.oThingContent</code></li>
</ul>

<p>Sass variables <strong>must</strong> be prefixed with the component name and written as hyphen separated, lowercase strings:</p>
<ul>
  <li>Good: <code class="language-plaintext highlighter-rouge">$o-grid-is-responsive: true;</code></li>
  <li>Bad: <code class="language-plaintext highlighter-rouge">$GridIsResponsive: true;</code></li>
</ul>

<p>Sass variables <strong>should</strong> also be named by their purpose, rather than their value:</p>
<ul>
  <li>Good: <code class="language-plaintext highlighter-rouge">$o-colors-skyline-bg</code></li>
  <li>Bad <code class="language-plaintext highlighter-rouge">$o-colors-beige</code></li>
</ul>

<p>Sass mixins and functions <strong>must</strong> also be prefixed with the component name, and be written in camel-case:</p>
<ul>
  <li>Good: <code class="language-plaintext highlighter-rouge">@mixin oGalleryCalculatePadding()</code></li>
  <li>Bad: <code class="language-plaintext highlighter-rouge">@mixin calculate-padding()</code></li>
</ul>

<h2 id="css-selectors">CSS Selectors</h2>

<p>A component <strong>must not</strong> style an element unless it, or any ancestor element, has a CSS class which starts with the name of the component e.g. <code class="language-plaintext highlighter-rouge">o-componentname</code> (see <a href="/spec/v1/components/sass/#naming-conventions">naming conventions</a>).</p>

<ul>
  <li>Good: <code class="language-plaintext highlighter-rouge">.o-thing {}</code></li>
  <li>Bad: <code class="language-plaintext highlighter-rouge">body {}</code></li>
</ul>

<p>ID selectors (<code class="language-plaintext highlighter-rouge">#</code>) <strong>must not</strong> be used at all:</p>

<ul>
  <li>Good: <code class="language-plaintext highlighter-rouge">.o-thing</code></li>
  <li>Bad: <code class="language-plaintext highlighter-rouge">#o-thing</code></li>
</ul>

<p>Unprefixed tag selectors (e.g. <code class="language-plaintext highlighter-rouge">h1</code>) <strong>must not</strong> be used alone. But tag selectors <strong>may</strong> be used if prefixed with a correctly namespaced selector:</p>

<ul>
  <li>Good: <code class="language-plaintext highlighter-rouge">.o-thing__content &gt; h1</code></li>
  <li>Bad: <code class="language-plaintext highlighter-rouge">h1</code></li>
</ul>

<p>Combination selectors, those that specify a combination of tag name, class and/or ID in the same selector token <strong>must not</strong> be used:</p>

<ul>
  <li>Good: <code class="language-plaintext highlighter-rouge">.o-thing</code></li>
  <li>Bad: <code class="language-plaintext highlighter-rouge">div.o-thing</code>, <code class="language-plaintext highlighter-rouge">span#output-area</code></li>
</ul>

<p>Selectors <strong>should</strong> contain a single operand, with the following exceptions:</p>

<ul>
  <li>To apply styles to child tags <code class="language-plaintext highlighter-rouge">.o-thing__content h1</code>. In these cases, a child operator <strong>should</strong> be used <code class="language-plaintext highlighter-rouge">.o-thing__content &gt; h1</code> to minimise the chance of interference with other components.</li>
  <li>To use the adjacent element operator <code class="language-plaintext highlighter-rouge">.o-thing__input + .o-thing__label</code>.</li>
  <li>To prefix a class for feature targeting (see <a href="#feature-flags">feature flags</a>).</li>
</ul>

<p>High specificity <strong>should</strong> be minimised. For instance, the pseudo class <code class="language-plaintext highlighter-rouge">:not</code> <strong>should not</strong> be used to avoid high specificity. Increased specificity <strong>must not</strong> be used to overcome an existing overly-specific selector - make the existing one less specific, or use new class names. Prefer classes and duplicated properties over specificity:</p>

<ul>
  <li>Good: <code class="language-plaintext highlighter-rouge">.o-thing-input {} .o-thing-radio {}</code></li>
  <li>Bad: <code class="language-plaintext highlighter-rouge">.o-thing-input {} .o-thing-input:not([type=radio]) {} .o-thing-input[type=radio] {}</code></li>
</ul>

<p>Pseudo selectors such as <code class="language-plaintext highlighter-rouge">:focus</code> or <code class="language-plaintext highlighter-rouge">:hover</code> <strong>should</strong> be used to style a component’s state. In the case of <code class="language-plaintext highlighter-rouge">:focus</code>, Origami components <strong>must</strong> enable a focused style that is distinct from its normal style (the focus style is usually provided by <a href="https://github.com/Financial-Times/o-normalise" class="o-typography-link--external">o-normalise</a>).</p>

<p>Where an ARIA role is appropriate (<a href="https://www.w3.org/TR/2019/NOTE-wai-aria-practices-1.1-20190207/" class="o-typography-link--external">no ARIA is better than bad ARIA)</a>), it <strong>should</strong> be used to style a component’s state. For example <a href="https://www.w3.org/TR/wai-aria-1.1/#aria-expanded" class="o-typography-link--external">aria-expanded</a>, with a correctly namespaced selector, <strong>should</strong> be used to style an expandable element:</p>

<ul>
  <li>Good: <code class="language-plaintext highlighter-rouge">.o-example[aria-expanded=true]</code></li>
  <li>Bad <em>(if an aria role is available)</em>: <code class="language-plaintext highlighter-rouge">.o-example--expanded</code></li>
</ul>

<h2 id="private-sass">Private Sass</h2>

<p>As Sass has limited encapsulation, any Sass (e.g. mixin, function, variable) that is intended for private use by the component only <strong>must be</strong> prefixed with an underscore character. Private Sass <strong>must not</strong> be documented in the README but <strong>may</strong> be documented in code comments.</p>

<h2 id="sass-includes">Sass Includes</h2>

<p>If a component contains SCSS files other than the main file listed in <code class="language-plaintext highlighter-rouge">bower.json</code>:</p>

<ul>
  <li>Files for import <strong>must</strong> be prefixed with an underscore, to <a href="#private-sass">indicate privacy</a>.</li>
  <li>All import statements <strong>must</strong> be imported before any other Sass.</li>
  <li>All import statements <strong>should</strong> be in the components’s main file.</li>
  <li>Sass variables, mixins, and functions <strong>should</strong> be in their own files.</li>
</ul>

<h2 id="sass-variables">Sass Variables</h2>

<p>If a variable is public and could be used as a configurable option in products consuming the component, the variable <strong>must</strong> be defined with <code class="language-plaintext highlighter-rouge">!default</code>, and added to the component’s documentation.</p>

<p>Components <strong>must not</strong> overwrite variables defined by another component. Instead, a component <strong>may</strong> define a new variable in its own namespace and set it to the value of the dependency’s variable.</p>

<h2 id="sass-placeholders">Sass Placeholders</h2>

<p>Placeholder selectors (<code class="language-plaintext highlighter-rouge">%</code>) <strong>must not</strong> be used to reference other components, but <strong>may</strong> be used within a component, see <a href="https://github.com/Financial-Times/ft-origami/issues/254" class="o-typography-link--external">Issue #254</a>.</p>

<p>The <code class="language-plaintext highlighter-rouge">@extends</code> command <strong>must not</strong> be used to extend placeholders defined in other components, unless the component can only be consumed via <code class="language-plaintext highlighter-rouge">@extends</code> for historical reasons. This is because extending placeholders defined in other components creates unpredictable cascades and unreliable results, as the order components are included is unpredictable. A placeholder <strong>may</strong> be extended if defined within the same component.</p>

<h2 id="sass-silent-mode">Sass Silent Mode</h2>

<p>Silent mode means a component’s Sass will compile to an empty string, but provides mixins or variables which <strong>may</strong> be used by dependent code. Silent mode enables projects to include styles granularly, and components to include styles from other components.</p>

<p>Components that make use of styles defined in other components which support silent mode <strong>must</strong> use those styles silently, e.g. for a component <code class="language-plaintext highlighter-rouge">o-foo</code> which depends on <code class="language-plaintext highlighter-rouge">o-bar</code>:</p>
<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>@import ‘o-bar/main’;

@mixin oFoo {
    .o-foo {
	    @include oBarContent();
	    margin-top: 1em;
    }
}
</code></pre></div></div>

<p>To support silent mode, components <strong>must</strong> include a public, silent mode variable which is <code class="language-plaintext highlighter-rouge">true</code> by default <code class="language-plaintext highlighter-rouge">$o-{componentname}-is-silent: true !default;</code>. That is, no styles are output by default. When silent mode has been turned off and the component’s CSS has been output, the component must reset the silent mode variable:</p>
<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>@if ($o-thing-is-silent == false) {
	@include oThing();

	// Prevent o-thing styles being output again
	$o-thing-is-silent: true !global;
}
</code></pre></div></div>

<p>This prevents the accidental output of styles if the component is included twice in the same product. For example, given component A and component B both include a dependency of component C.</p>

<h2 id="primary-mixin">Primary Mixin</h2>

<p>Components <strong>should</strong> provide a primary mixin with a name that matches the component name. E.g. a component <code class="language-plaintext highlighter-rouge">o-thing</code> <strong>should</strong> provide a mixin <code class="language-plaintext highlighter-rouge">oThing</code>. If defined, a primary mixin <strong>must</strong> output all component CSS when no arguments are given as if <a href="#sass-silent-mode">silent mode</a> was turned off. A primary mixin <strong>may</strong> accept a list or map of options <code class="language-plaintext highlighter-rouge">$opts</code> to control what CSS is output. E.g.</p>

<div class="language-scss highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="c1">// outputs all o-thing css</span>
<span class="c1">// .o-thing {}</span>
<span class="c1">// .o-thing--primary {}</span>
<span class="c1">// .o-thing--secondary {}</span>
<span class="c1">// .o-thing--inverse {}</span>
<span class="k">@include</span> <span class="nd">oThing</span><span class="p">();</span>

<span class="c1">// outputs base o-thing css, required by all o-thing features</span>
<span class="c1">// but only outputs the css for one inverse theme</span>
<span class="c1">// these example options are arbitrary and are decided by the component</span>
<span class="c1">// .o-thing {}</span>
<span class="c1">// .o-thing--inverse {}</span>
<span class="k">@include</span> <span class="nd">oThing</span><span class="p">(</span><span class="nv">$opts</span><span class="o">:</span> <span class="p">(</span>
    <span class="s1">'theme'</span><span class="o">:</span> <span class="p">(</span><span class="s1">'inverse'</span><span class="p">)</span>
<span class="p">));</span>
</code></pre></div></div>

<h2 id="customisation">Customisation</h2>

<p>Components <strong>may</strong> support <a href="#brands">brands</a> and or <a href="#themes">themes</a>. Brands change the appearance of existing component elements globally, e.g. change the appearance of all “primary” buttons, including where they are used by other components. Themes add new variations of a component, e.g. a new kind of button, which may be unique to a single project.</p>

<h3 id="brands">Brands</h3>

<p>Origami components are used by products across the Financial Times Group. Some of these products or product groups require a distinct appearance or feature. To cater for these usecases Origami components <strong>may</strong> change their appearance by supporting one or more of the following brands:</p>

<ul>
  <li>master: FT branding for public ft.com sites and affiliates.</li>
  <li>internal: Style suitable for internal products, tools, and documentation.</li>
  <li>whitelabel: Base, structural styles only to build on and customise.</li>
</ul>

<p>See <a href="/docs/components/branding/">component brand documentation</a> for more details.</p>

<h3 id="register-supported-brands">Register Supported Brands</h3>

<p>If a component supports brands, it <strong>must</strong> register the brands it supports under the <code class="language-plaintext highlighter-rouge">brands</code> property in its <a href="/spec/v1/manifest/"><code class="language-plaintext highlighter-rouge">origami.json</code></a> file. E.g. to support all three Origami brands add:</p>

<div class="language-json highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nl">"brands"</span><span class="w"> </span><span class="p">:</span><span class="w"> </span><span class="p">[</span><span class="w">
    </span><span class="s2">"master"</span><span class="p">,</span><span class="w">
    </span><span class="s2">"internal"</span><span class="p">,</span><span class="w">
    </span><span class="s2">"whitelabel"</span><span class="w">
</span><span class="p">]</span><span class="err">,</span><span class="w">
</span></code></pre></div></div>

<h4 id="include-o-brand">Include o-brand</h4>

<p>Components which support brands and have brand specific features/designs <strong>must</strong> include the <a href="https://registry.origami.ft.com/components/o-brand/readme">o-brand</a> component as a dependency, which provides functions and mixins to customise a component per brand.</p>

<p>The <code class="language-plaintext highlighter-rouge">o-brand</code> component <strong>must not</strong> be used directly by projects, it is intended for use within Origami components.</p>

<p>All functions and mixins which delegate to the <code class="language-plaintext highlighter-rouge">o-brand</code> component, and brand configuration, <strong>should</strong> be placed in the component’s <code class="language-plaintext highlighter-rouge">src/scss/_brand.scss</code> file.</p>

<h4 id="brand-customisation">Brand Customisation</h4>

<p>To support whitelabel brand customisation components <strong>may</strong> provide a customisation mixin which <strong>should</strong> be named after the component and end in <code class="language-plaintext highlighter-rouge">Customize</code> (<code class="language-plaintext highlighter-rouge">[oComponentName]Customize</code>). The mixin <strong>should</strong> accept a map of brand variables. E.g. For a component <code class="language-plaintext highlighter-rouge">o-example</code>:</p>
<div class="language-scss highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="k">@mixin</span> <span class="nf">oExampleCustomize</span><span class="p">(</span><span class="nv">$variables</span><span class="p">)</span> <span class="p">{</span>
	<span class="k">@include</span> <span class="nd">oBrandCustomize</span><span class="p">(</span><span class="nv">$component</span><span class="o">:</span> <span class="s1">'o-example'</span><span class="o">,</span> <span class="nv">$variables</span><span class="p">);</span>
<span class="p">}</span>
</code></pre></div></div>

<p>See the <a href="https://registry.origami.ft.com/components/o-brand/readme">o-brand README</a> to learn how to add brand support to a component.</p>

<h2 id="themes">Themes</h2>

<p>A component <strong>may</strong> support themes within a <a href="#brands">brand</a> to allow new variations of the component, which may be unique to a single project. Themes <strong>should</strong> be added with an “add” mixin named after the component and the thing to be added, <code class="language-plaintext highlighter-rouge">[oComponentName]Add[Something]</code>. For example <code class="language-plaintext highlighter-rouge">oButtonsAddTheme</code>, <code class="language-plaintext highlighter-rouge">oLabelsAddState</code>.</p>

<p>If a theme mixin is provided, it <strong>must</strong> accept the variant name and output a modifier class which includes that name <code class="language-plaintext highlighter-rouge">o-component--[theme-name]</code>. This indicates that the modifier class was generated by the component.</p>

<p>E.g.</p>
<div class="language-scss highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="c1">// outputs .o-buttons--my-special-button {}</span>
<span class="k">@include</span> <span class="nd">oButtonsAddTheme</span><span class="p">(</span>
    <span class="s1">'my-special-button'</span><span class="o">,</span>
    <span class="p">(</span><span class="s1">'color'</span><span class="o">:</span> <span class="s1">'claret-80'</span><span class="p">)</span>
<span class="p">);</span>

<span class="c1">// outputs .o-labels--citrus-fruit {}</span>
<span class="k">@include</span> <span class="nd">oLabelsAddState</span><span class="p">(</span><span class="s1">'citrus-fruit'</span><span class="o">,</span> <span class="p">(</span>
    <span class="n">background-color</span><span class="o">:</span> <span class="s1">'lemon'</span>
<span class="p">));</span>
</code></pre></div></div>

<h2 id="feature-flags">Feature Flags</h2>

<p>To support a <a href="/docs/components/compatibility/#core--enhanced-experiences">core and enhanced experience</a> components must render acceptably without JavaScript avalible. Styles which only apply if JavaScript is available <strong>must</strong> be applied with a feature detect such as <code class="language-plaintext highlighter-rouge">.o--if-js</code>, and to hide an element of a component when JavaScript is available use <code class="language-plaintext highlighter-rouge">o--if-no-js</code>. If the component provides its own JavaScript feature flag, it <strong>must</strong> be named <code class="language-plaintext highlighter-rouge">.o-componentname--js</code>.</p>

<p>To detect other features, standardised feature detects <strong>should</strong> be used as a preference, such as the CSS <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/@supports" class="o-typography-link--external">@supports</a> at-rule. Otherwise a CSS class on the <code class="language-plaintext highlighter-rouge">documentElement</code> <strong>may</strong> be used to indicate feature support. The class name <strong>should</strong> be configurable, and default to the class name used by <a href="https://modernizr.com/" class="o-typography-link--external">Modernizr</a>:</p>
<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>$o-thing-inline-svg-support: ‘.inlinesvg’ !default;
$o-thing-inline-svg-support .o-thing__feature {
    // inline svg
}
</code></pre></div></div>

<p>Component developers <strong>must not</strong> use feature flags that need to be set manually by a product developer (i.e. those outside <a href="https://modernizr.com/" class="o-typography-link--external">Modernizr</a> or Origami). Component developers <strong>must</strong> assume that feature flag classes will be set on the <code class="language-plaintext highlighter-rouge">documentElement</code>, i.e. the HTML tag.</p>

<h2 id="browser-targeting">Browser Targeting</h2>

<p>Where a <a href="#feature-flags">feature flag</a> is not possible, developers <strong>may</strong> choose to target specific browsers (a graceful degradation technique).</p>

<p>In order of preference, when targeting styles at a specific browser or user-agent, component developers <strong>should</strong>:</p>

<ul>
  <li>Assess if the proportion of impacted users is worth the fix.</li>
  <li>Tweak designs to accommodate most browsers instead.</li>
  <li>Use <a href="http://browserhacks.com/" class="o-typography-link--external">browser hacks</a>:
    <div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>.el {
  background: url(‘data:image/png;base64,/* data */’) bottom right no-repeat;

  // IE &lt; 8 don't support data-uri, fallback to border bottom instead:
  *border-bottom: 1px solid #eeeeee;
  *background-image: none;
}
</code></pre></div>    </div>
  </li>
  <li>Rely on JavaScript user-agent sniffing (as a last resort, in some rare edge cases).</li>
</ul>

<p>Component developers <strong>must not</strong> use <a href="https://www.quirksmode.org/css/condcom.html" class="o-typography-link--external">IE conditional comments</a> to target user agents (use <a href="http://browserhacks.com/" class="o-typography-link--external">browser hacks</a> instead).</p>


	
</div>


		
		<div class="o-layout__footer">
			<footer class="o-footer-services">
	<div class="o-footer-services__container">
		<div class="o-footer-services__wrapper o-footer-services__wrapper--top">
			<a class="o-footer-services__icon-link o-footer-services__icon-link--github" href="https://github.com/Financial-Times/origami">View project on GitHub</a>
			<a class="o-footer-services__icon-link o-footer-services__icon-link--github" href="https://github.com/Financial-Times/origami/pulls?q=is%3Apr+is%3Aopen+sort%3Aupdated-desc">View proposals to Origami</a>
			<a class="o-footer-services__icon-link o-footer-services__icon-link--slack" href="https://financialtimes.slack.com/messages/origami-support">#origami-support</a>
			<p class="o-footer-services__content">Get in touch at <a href="mailto:origami.support@ft.com">origami.support@ft.com</a> for help or advice. Feel free to
				<a class="o-footer-services__content--external"   href='https://github.com/Financial-Times/origami/edit/main/_specification-v1/sass.md'>suggest an edit to this page</a>.</p>
		</div>
	</div>
	<div class="o-footer-services__container">
		<div class="o-footer-services__wrapper o-footer-services__wrapper--legal">
			<div class="o-footer-services__links">
			<a href="http://help.ft.com/help/legal-privacy/cookies/">Cookies</a>
			<a href="http://help.ft.com/help/legal-privacy/copyright/copyright-policy/">Copyright</a>
			<a href="http://help.ft.com/help/legal-privacy/privacy/">Privacy</a>
			<a href="http://help.ft.com/help/legal-privacy/terms-conditions">Terms & Conditions</a>
		</div>
		<p><span>&copy; THE FINANCIAL TIMES LTD 2021.</span> FT and 'Financial Times' are trademarks of The Financial Times Ltd.</p>
	</div>
</footer>

		</div>
		
	</div>

	

</body>
</html>
