$o-editorial-layout-is-silent: true !default;
$_o-editorial-layout-placeholders-output: false !default;

/// If true, include fonts from o-fonts.
/// Deprecated, fonts are always included.
///
/// @deprecated - Fonts are always included
$o-editorial-layout-load-fonts: null !default;
