<h1 class="o-normalise-visually-hidden">Origami Colour Mixer</h1>

<h2 class="o-normalise-visually-hidden">Mixer Options</h2>

<form id="color-mix-form" class="color-mix-form">
	<div class="color-selectors">
		<label class="o-forms-field">
			<span class="o-forms-title">
				<span class="o-forms-title__main">Colour</span>
			</span>

			<span class="o-forms-input o-forms-input--select">
				<select id="mixer">
					{{#primary}}
						<option value="{{name}}" {{#baseText}}selected{{/baseText}}>{{name}}</option>
					{{/primary}}
					{{#secondary}}
						<option value={{name}} {{#baseText}}selected{{/baseText}}>{{name}}</option>
					{{/secondary}}
					{{#tertiary}}
						<option value={{name}} {{#baseText}}selected{{/baseText}}>{{name}}</option>
					{{/tertiary}}
				</select>
			</span>
		</label>

		<label class="o-forms-field">
			<span class="o-forms-title">
				<span class="o-forms-title__main">Background</span>
			</span>

			<span class="o-forms-input o-forms-input--select">
				<select id="base">
					{{#primary}}
						<option value="{{name}}" {{#baseBackground}}selected{{/baseBackground}}>{{name}}</option>
					{{/primary}}
					{{#secondary}}
						<option value={{name}} {{#baseBackground}}selected{{/baseBackground}}>{{name}}</option>
					{{/secondary}}
					{{#tertiary}}
						<option value={{name}} {{#baseBackground}}selected{{/baseBackground}}>{{name}}</option>
					{{/tertiary}}
				</select>
			</span>
		</label>
	</div>


	<fieldset id="ranges" class="mix-range-container">
		<legend class="o-normalise-visually-hidden">colour mix percentage</legend>
		<div class="mix-range">
			<label>
				<input type="radio" name="range">
				<span class="o-forms-input__label">0%</span>
			</label>
			<label>
				<input type="radio" name="range">
				<span class="o-forms-input__label">10%</span>
			</label>
			<label>
				<input type="radio" name="range">
				<span class="o-forms-input__label">20%</span>
			</label>
			<label>
				<input type="radio" name="range">
				<span class="o-forms-input__label">30%</span>
			</label>
			<label>
				<input type="radio" name="range">
				<span class="o-forms-input__label">40%</span>
			</label>
			<label>
				<input type="radio" name="range">
				<span class="o-forms-input__label">50%</span>
			</label>
			<label>
				<input type="radio" name="range">
				<span class="o-forms-input__label">60%</span>
			</label>
			<label>
				<input type="radio" name="range">
				<span class="o-forms-input__label">70%</span>
			</label>
			<label>
				<input type="radio" name="range">
				<span class="o-forms-input__label">80%</span>
			</label>
			<label>
				<input type="radio" name="range">
				<span class="o-forms-input__label">90%</span>
			</label>
			<label>
				<input type="radio" name="range">
				<span class="o-forms-input__label">100%</span>
			</label>
		</div>
	</fieldset>

	<div class="details" data-o-component="o-syntax-highlight">
		<h2 class="o-normalise-visually-hidden">Mix Result</h2>

		<h3>Hex Value</h3>
		<span class="o-forms-title__prompt">This value is a result of the Sass function below. Feel free to use this value in Sketch files, etc, but please pass on the function to the developer to use in production.</span>
		<pre><output for="mixer base ranges"><code id="hex-value" class='o-syntax-highlight--scss'></code></output></pre>

		<h3>Sass Function</h3>
		<span class="o-forms-title__prompt">Returns the hex value above</span>
		<pre><output for="mixer base ranges"><code id='code-snippet' class='o-syntax-highlight--scss'></code></output></pre>
	</div>

</form>
