@import '../../main';
@include oSteppedProgress();
@import '@financial-times/o-fonts/main';
@include oFonts();
@import '@financial-times/o-icons/main';
@include oIcons();
@import '@financial-times/o-private-foundation/o-normalise/main';
@include oNormalise();

body {
	background: oColorsByUsecase('page', 'background');
	margin: 1em;
}

.demo-container {
	margin-bottom: 2em;
	max-width: 600px;
}
.demo-container:last-of-type {
	margin-bottom: 0;
}
