$_o-autocomplete-icon-size: 25px;
$_o-autocomplete-icon-size-excess-whitespace: div($_o-autocomplete-icon-size, 4);
$_o-autocomplete-input-space: oPrivateSpacingByName("s2"); // match o-forms, without a direct dependency
