@mixin oMessageActions($class, $types, $status) {
	@include oMessageBase($class);
	@include oMessageStatusApply($status, $class);

	@each $type in $types {
		@if $type != 'all' and not index($o-message-action-types, $type) {
			@include _oMessageError("o-message action messages don't support #{$type}.
			The available types are:
			- action
			- action-bleed");
		}

		.#{$class}--action,
		.#{$class}--action-bleed .#{$class}__container, {
			@include oGridContainer();
		}

		.#{$class}--action,
		.#{$class}--action-bleed {
			.#{$class}__content {
				padding: oTypographySpacingSize(4) 0;
                @include oGridRespondTo($from: S) {
					padding: oTypographySpacingSize(10) 0;
				    text-align: center;
				}

				&-main {
					display: inline-block;
					margin-right: oTypographySpacingSize(6);
					margin-top: oTypographySpacingSize(2);
					margin-bottom: oTypographySpacingSize(2);
				}

				&-highlight {
					@extend %o-message-content-highlight;
				}
			}

			.#{$class}__actions {
				display: inline-block;
				margin-top: oTypographySpacingSize(2);
				margin-bottom: oTypographySpacingSize(2);
			}
		}
	}
}
