{{#anon}}
<div class="o-header__row o-header__anon">
	<ul class="o-header__anon-list">
		<li class="o-header__anon-item">
			<a class="o-header__anon-link" href="#">Subscribe</a>
		</li>
		<li class="o-header__anon-item">
			<a class="o-header__anon-link" href="#">Sign In</a>
		</li>
	</ul>
</div>
{{/anon}}
