<div id="o-header-search" class="o-header__row o-header__search" role="search">
	<div class="o-header__container">
		<form class="o-header__search-form" action="/search" role="search" aria-label="Site search">
			<label class="o-header__visually-hidden" for="o-header-search-term">Search the <abbr title="Financial Times">FT</abbr></label>
			<input class="o-header__search-term" id="o-header-search-term" name="q" type="text" placeholder="Search the FT">
			<button class="o-header__search-submit" type="submit">
				Search
			</button>
			<button class="o-header__search-close" type="button" aria-controls="o-header-search">
				<span class="o-header__visually-hidden">Close</span>
			</button>
		</form>
	</div>
</div>
