{{#top}}
<div class="o-header__row o-header__top">
	<div class="o-header__container">
		<div class="o-header__top-wrapper">
			<div class="o-header__top-column o-header__top-column--left">
				{{#hasDrawer}}
				<a href="#o-drawer" class="o-header__top-link o-header__top-link--menu" aria-controls="o-drawer">
					<span class="o-header__top-link-label">Menu</span>
				</a>
				{{/hasDrawer}}
				<a href="#o-header-search" class="o-header__top-link o-header__top-link--search" aria-controls="o-header-search">
					<span class="o-header__top-link-label">Search</span>
				</a>
			</div>
			<div class="o-header__top-column o-header__top-column--center">
				<a class="o-header__top-logo" href="/" title="Go to Financial Times homepage">
					<span class="o-header__visually-hidden">Financial Times</span>
				</a>
			</div>
			<div class="o-header__top-column o-header__top-column--right" role="navigation" aria-label="Account and personalisation links">
				{{#hasMyFT}}
				<a class="o-header__top-link o-header__top-link--myft" href="/myft">
					<span class="o-header__visually-hidden">myFT</span>
				</a>
				{{/hasMyFT}}
			</div>
		</div>
	</div>
</div>
{{/top}}
