<h3 id="third-party-components">Third party components: the A list</h3>
<p>Origami components may have dependencies (via Bower) on third party components.  This page documents which third party libraries are preferred where there may be multiple libraries that achieve the same goal.</p>
<p>Like the rest of the Origami spec (except for the developer guide) these guidelines do not apply to products, only to components.</p>

<h2 id="this-is-a-list">This is a list</h2>
<ol>
	<li>This is a list item! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut porta augue. Etiam mollis feugiat risus, non rutrum velit pharetra vitae. </li>
	<li>This is a list item! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut porta augue. Etiam mollis feugiat risus, non rutrum velit pharetra vitae.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut porta augue. Etiam mollis feugiat risus, non rutrum velit pharetra vitae. </li>
	<li>This is a list item! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut porta augue. Etiam mollis feugiat risus, non rutrum velit pharetra vitae. </li>
	<li>This is a list item! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut porta augue. Etiam mollis feugiat risus, non rutrum velit pharetra vitae. </li>
	<li>This is a list item! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut porta augue. Etiam mollis feugiat risus, non rutrum velit pharetra vitae. </li>
	<li>This is a list item! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut porta augue. Etiam mollis feugiat risus, non rutrum velit pharetra vitae. </li>
</ol>

<h2 id="this-is-a-table">This is a table</h2>
<table class="o-table o-table o-table--row-stripes" data-o-component="o-table">
	<thead>
		<tr><th>For this</th><th>Use this</th><th>Not these</th><th>Because</th></tr>
	</thead>
	<tbody>
		<tr>
			<td>DOM manipulation</td>
			<td>o-dom (TBC)</td>
			<td>jQuery<br/>Mootools<br/>Dojo<br/>Prototype<br/>YUI</td>
			<td>A general purpose DOM manipulation library is invariably a common request, but large DOM libraries should be avoided since they contain numerous other features beyond simple DOM manipulation.  See also <a href="#why-not-jquery">Why not jQuery</a></td>
		</tr><tr>
			<td>AJAX</td>
			<td><a href="https://github.com/whatwg/fetch">fetch</a></td>
			<td>jQuery, superagent</td>
			<td>Components should <a href="#">not use jQuery</a>, fetch is better and will be supported natively by browsers.  In the meantime a <a href="https://github.com/github/fetch">polyfill exists</a> and is <a href="https://cdn.polyfill.io/">available through the Polyfill Service</a>.</td>
		</tr><tr>
			<td>Event delegation</td>
			<td><a href="https://github.com/ftlabs/ftdomdelegate">ftdomdelegate</a></td>
			<td>jQuery</td>
			<td>Components should <a href="#">not use jQuery</a>.</td>
		</tr><tr>
	 		<td>JavaScript utils</td>
	 		<td><a href="https://github.com/lodash/lodash">Lodash</a></td>
	 		<td>Underscore, lodash-node</td>
	 		<td>Lodash V3 allows each method to be individually requireable e.g. <code>require('lodash/function/defer')</code>, which is more preferable than requiring the whole library. Lodash is roughly functionally equivalent to Underscore, but generally delivers faster performance, and includes some useful things not available in Underscore. Lodash-node was deprecated with the release of Lodash V3.</td>
	 	</tr><tr>
	 		<td>Throttle/debounce</td>
	 		<td><a href="https://github.com/Financial-Times/o-utils">o-utils</a></td>
	 		<td>Lodash</td>
	 		<td>o-utils has its own throttle and debounce functions.</td>
	 	</tr><tr>
			<td>Template engine</td>
			<td><a href="https://github.com/twitter/hogan.js">Hogan</a></td>
			<td>Mustache<br/>Handlebars</td>
			<td>
				It's compatible with Mustache templates, but offers additional features on top of Mustache's syntax. Origami has no opinion on how product developers should build applications, so when a component's purpose is to offer a raw template to the developer, it must use only fully Mustache-compatible syntax (but these components would also not actually require the template engine themselves).
				<p>Components that contain templates but only use them internally in order to render a UI element, may use the more advanced template syntax offered by Hogan, and prefer Hogan as the template engine.</p>
			</td>
		</tr><tr>
			<td>Touch interactions</td>
			<td><a href="http://hammerjs.github.io/">Hammer.JS</a></td>
			<td></td>
			<td>
				<p>It offers a highly extensible, well tested and lightweight way to interact with touch events, including both single- and multi-touch gestures.</p>
			</td>
		</tr>
	</tbody>
</table>
