
body {
	background-color: grey;
}

.container {
	background-color: rgba(0,0,200,0.4)
}


.grid-wrapper {
	display: grid;
	grid-template-columns: var(--o3-foundation-grid-template);
	grid-template-areas: var(--o3-foundation-grid-area);
	gap: var(--o3-foundation-grid-gap);
	background-color: rgba(0,140, 30, 0.6);
	margin: var(--o3-foundation-grid-margin);
}

.item-1 {
	grid-column: content-start / 4;
}

.grid-wrapper div {
	background-color: rgba(255,0,0,0.8);

}
