<div class="o-header__mega">
	<div class="o-header__container">
		<div class="o-header__mega-wrapper">
			<div class="o-header__mega-column">
				<h3 class="o-header__mega-heading">
					Sub-sections
				</h3>
				<div class="o-header__mega-content o-header__mega-content--subsections">
					<ul class="o-header__mega-list">
						{{#subsections}}
						<li class="o-header__mega-item">
							<a class="o-header__mega-link" href="{{href}}" aria-selected="{{selected}}">
								{{name}}
							</a>
						</li>
						{{/subsections}}
					</ul>
				</div>
			</div>
			<div class="o-header__mega-column">
				<h3 class="o-header__mega-heading">
					Top Stories
				</h3>
				<div class="o-header__mega-content o-header__mega-content--articles">
					<ul class="o-header__mega-list">
						<li class="o-header__mega-item">
							<a class="o-header__mega-link" href="#">
								The UK expats voting for Brexit no matter what the cost
							</a>
						</li>
						<li class="o-header__mega-item">
							<a class="o-header__mega-link" href="#">
								Lunch with the FT: Adair Turner
							</a>
						</li>
						<li class="o-header__mega-item">
							<a class="o-header__mega-link" href="#">
								English carpenter who makes beehives that sell across the world
							</a>
						</li>
						<li class="o-header__mega-item">
							<a class="o-header__mega-link" href="#">
								French ambassador urges UK to help shape a ‘reformed Europe’
							</a>
						</li>
						<li class="o-header__mega-item">
							<a class="o-header__mega-link" href="#">
								Where do politicians live? How MPs across the world find city digs
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
