<div data-o-component="o-share" class="o-share o-share--vertical">
	<ul>
		<li class="o-share__action o-share__action--labelled">
			<!-- demo only: forms with a submit button may be used for custom share features -->
			<form method="post" action="#">
				<button type="submit" class="o-share__icon o-share__icon--share" title="Save this article to your bookmarks" aria-label="Save this article to your bookmarks">
					<span class="o-share__icon__image">
						<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024'>
							<path d="M588.8 460.8V512H640v204.8H384V512h51.2v-51.2H332.8V768h358.4V460.8z"/>
							<path d="M486.4 354v311.6h51.2V354l64.9 64.9 36.2-36.2L512 256 385.3 382.7l36.2 36.2z"/>
						</svg>
					</span>
					<span class="o-share__text" data-variant-label="">Share</span>
				</button>
			</form>
		</li>
	</ul>
</div>
