<div data-o-component="o-share" class="o-share">
	<ul>
		<li class="o-share__action o-share__action--labelled">
			<!-- demo only: forms with a submit button may be used for custom share features -->
			<form method="post" action="#">
				<button type="submit" class="o-share__icon o-share__icon--share" title="Save this article to your bookmarks" aria-label="Save this article to your bookmarks">
					<span class="o-share__text" data-variant-label="">Save</span>
				</button>
			</form>
		</li>
	</ul>
</div>
