<div data-o-component="o-share" class="o-share o-share--inverse">
  <ul>
   {{#socialNetworks}}
		<li class="o-share__action">
			<a
				class="o-share__icon o-share__icon--{{className}}"
				href="{{link}}"
				rel="noopener"
			>
				<svg class="o-share__icon__image" xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024'>
				{{{svgPath}}}
				</svg>
				<span class="o-share__text">
					Share {{title}} on {{name}} (opens a new window)
				</span>
			</a>
    </li>
		{{/socialNetworks}}
  </ul>
</div>
