<div data-o-component="o-share" class="o-share o-share--inverse">
  <ul>
   {{#socialNetworks}}
		<li class="o-share__action">
			<a
				class="o-share__icon o-share__icon--{{name}}"
				href="{{link}}"
				rel="noopener"
			>
				<span class="o-share__text">
					Share {{title}} on {{name}} (opens a new window)
				</span>
			</a>
    </li>
		{{/socialNetworks}}
  </ul>
</div>
