<div
	data-o-component="o-share"
	class="o-share o-share--inverse"
	data-o-share-links="twitter facebook linkedin whatsapp pinterest"
	data-o-share-url="http://on.ft.com/1mUdgA2"
	data-o-share-titleExtra="FT.com | Pharmaceuticals"
	data-o-share-summary="US drugs group vows to maintain big British presence"
	data-o-share-relatedTwitterAccounts="ftcompanies"
>
</div>
