@import './variables';

@mixin oCommentsBorderRadiusClear {
	border-radius: 0;
}

@mixin oCommentsBoxShadowClear {
	box-shadow: none;
}

@mixin oCommentsTextShadowClear {
	text-shadow: none;
}

@mixin oCommentsGradientClear {
	background-image: none;
	filter: none;
}

@mixin oCommentsTag {
	display: inline-block;
	border: 0;
	font-weight: normal;
	height: auto;
	width: auto;

	color: oColorsGetPaletteColor("paper");
	padding: 3px 10px;
	font-size: 13px;
	line-height: 15px;
	font-family: $o-comments-font-family;
	border-radius: 10px;
}

@mixin oCommentsShowMoreCommentsCommon {
	background: url(oAssetsResolve('src/images/comment_reply_arrows.png', o-comments)) no-repeat;
	width: 11px;
};


@mixin oCommentsOverlayClose {
	background: none;
	@include oOverlayClose; // sass-lint:disable-line mixins-before-declarations
	position: absolute;
	margin: 0;
}
