@import './variables';

@mixin oCommentsBorderRadiusClear {
	border-radius: 0;
}

@mixin oCommentsBoxShadowClear {
	box-shadow: none;
}

@mixin oCommentsTextShadowClear {
	text-shadow: none;
}

@mixin oCommentsGradientClear {
	background-image: none;
	filter: none;
}

@mixin oCommentsTag {
	display: inline-block;
	border: 0;
	font-weight: normal;
	height: auto;
	width: auto;

	color: oColorsGetPaletteColor("pink");
	padding: 3px 10px;
	font-size: 13px;
	line-height: 15px;
	font-family: $o-comments-font-family;
	border-radius: 10px;
}

@mixin oCommentsShowMoreCommentsCommon {
	background: url(oAssetsResolve('src/images/comment_reply_arrows.png', o-comments)) no-repeat;
	width: 11px;
};


@mixin oCommentsOverlayClose {
	width: 18px;
	height: 18px;
	font-size: 10px;
	line-height: 19px;
	border: 1px solid oColorsGetPaletteColor('pink-tint5');
	border-radius: 50%;
	background: oColorsGetPaletteColor('pink-tint5');
	color: oColorsGetPaletteColor('white');
	text-align: center;

	&:after {
		@include oIconsGetIcon('cross', oColorsGetPaletteColor('white'), 12);
	}

	&:hover {
		background: oColorsGetPaletteColor('white');

		&:after {
			@include oIconsGetIcon('cross', oColorsGetPaletteColor('pink-tint5'), 12);
		}
	}
}
