$o-comments-font-family: oFontsGetFontFamilyWithFallbacks(BentonSans) !default;

$o-comments-link-color: oColorsGetPaletteColor('blue');
$o-comments-link-color-hover: oColorsGetPaletteColor('black');
