$o-comments-include-fonts: true !default;
$o-comments-font-family: oFontsGetFontFamilyWithFallbacks(MetricWeb) !default;
$o-comments-link-color: oColorsGetPaletteColor('oxford');
$o-comments-link-color-hover: oColorsGetPaletteColor('black');
