<div class="o-meter-container">
	<meter class="o-meter" aria-label="demo meter {{meterValue}}" data-o-component="o-meter" min="0" max="10"value="{{meterValue}}">
	{{meterValue}}
	</meter>
	<span class="o-meter-value" aria-hidden="true" style="left: {{percentValue}}%">
		{{meterValue}}
	</span>
</div>
