<h1 class="o-editorial-typography-heading-level-1">Headline (h1) &mdash; Don&rsquo;t settle for black and white</h1>
<h2 class="o-editorial-typography-heading-level-2">Chapter (h2) &mdash; Don&rsquo;t settle for black and white</h2>
<h3 class="o-editorial-typography-heading-level-3">Subhead (h3) &mdash; Don&rsquo;t settle for black and white</h3>
<h4 class="o-editorial-typography-heading-level-4">Features xhead (h4) &mdash; Don&rsquo;t settle for black and white</h4>
<h5 class="o-editorial-typography-heading-level-5">Label (h5) &mdash; Don&rsquo;t settle for black and white</h5>
