<h1 class="o-editorial-typography-heading-level-1">Heading level 1 &mdash; Don&rsquo;t settle for black and white</h1>
<h2 class="o-editorial-typography-heading-level-2">Heading level 2 &mdash; Don&rsquo;t settle for black and white</h2>
<h3 class="o-editorial-typography-heading-level-3">Heading level 3 &mdash; Don&rsquo;t settle for black and white</h3>
<h4 class="o-editorial-typography-heading-level-4">Heading level 4 &mdash; Don&rsquo;t settle for black and white</h4>
<h5 class="o-editorial-typography-heading-level-5">Heading level 5 &mdash; Don&rsquo;t settle for black and white</h5>
