<p class="o-editorial-typography-standfirst">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam autem dignissimos perspiciatis odio dolorum aut cumque eaque excepturi quia error.
</p>
