<span class="o-labels-indicator o-labels-indicator--live{{#modifiers}} o-labels-indicator--{{.}}{{/modifiers}}">
    <span class="o-labels-indicator__status">
        live
    </span>
</span>

<br>

<span class="o-labels-indicator o-labels-indicator--closed{{#modifiers}} o-labels-indicator--{{.}}{{/modifiers}}">
    <span class="o-labels-indicator__status">
        closed
    </span>
</span>
