
{{#states}}
		<span class="o-labels o-labels--{{.}}">Testing</span>
		<span class="o-labels o-labels--{{.}} o-labels--big">Testing</span>
		<span class="o-labels o-labels--{{.}} o-labels--small">Testing</span>
{{/states}}
