/// Set your projects chosen brand.
$o-brand: null !default;

// The "master" brand has been renamed the "core" brand.
// If an Origami user has set the brand to "master" use
// "core" instead.
// @link https://github.com/Financial-Times/origami/issues/243
// @deprecated - Remove this in a future major release.
@if $o-brand == 'master' {
	@warn 'The "master" brand is deprecated, it has been renamed to "core". Please set the "$o-brand" Sass variable to "core" instead. See https://github.com/Financial-Times/origami/issues/243';
	$o-brand: 'core';
}

/// Output extra `debug` notices. For example to see when component brands
/// are customised.
$o-brand-debug: false !default;

$_o-brands: () !default; // A map of components to their defined brands.
$_o-brand-available-brands: ('core', 'internal', 'whitelabel'); // A list of available brands to use for a component
$_o-brand-default: 'core'; // The fallback current brand.
$_o-brand-define-readme: "https://github.com/Financial-Times/o-brand/#obranddefine";

$_o-brand-test-environment: false !default;
