
/// Helper for `o-brand` function.
/// @access private
@function _oSteppedProgressGet($variables, $from: null) {
	@return oBrandGet($component: 'o-stepped-progress', $variables: $variables, $from: $from);
}

/// Helper for `o-brand` function.
/// @access private
@function _oSteppedProgressSupports($variant) {
	@return oBrandSupportsVariant($component: 'o-stepped-progress', $variant: $variant);
}

// Define shared brand configurations
$_o-stepped-progress-shared-brand-config: (
	font-scale: -1,
	step-size: 22px,
	step-border-size: 2px,
	label-max-width: 10em,
	bar-weight: 2px,
	container-background: oColorsByUsecase('page', 'background'),
	default-color: oColorsByName('black-40'),
	error-color: oColorsMix('crimson', $percentage: 90)
);

// Define shared master/internal brand configurations
@if oBrandGetCurrentBrand() == 'master'  or oBrandGetCurrentBrand() == 'internal' {
	$_o-stepped-progress-shared-brand-config: map-merge($_o-stepped-progress-shared-brand-config, (interacted-color: oColorsByName('slate')));
}

// Define masterbrand
@if oBrandGetCurrentBrand() == 'master' {
	@include oBrandDefine('o-stepped-progress', 'master', (
		'variables': map-merge($_o-stepped-progress-shared-brand-config, ()),
		'supports-variants': ()
	));
}

// Define internal brand
@if oBrandGetCurrentBrand() == 'internal' {
	@include oBrandDefine('o-stepped-progress', 'internal', (
		'variables': map-merge($_o-stepped-progress-shared-brand-config, (
			'heavy': (
				font-scale: 0,
				step-size: 26px,
				step-border-size: 5px,
				bar-weight: 6px
			)
		)),
		'supports-variants': (
			'heavy'
		)
	));
}

// Define whitelabel brand
@if oBrandGetCurrentBrand() == 'whitelabel' {
	@include oBrandDefine('o-stepped-progress', 'whitelabel', (
		'variables': map-merge($_o-stepped-progress-shared-brand-config, (
			interacted-color: oColorsByName('black'),
		)),
		'supports-variants': ()
	));
}
