<div>
	<audio
		controls
		data-o-component="o-audio"
		data-root-content-id="abc-123">
		<source
			src="https://media.acast.com/ftnewsbriefing/wednesday-november14/media.mp3"
			type="audio/mpeg" />
	</audio>
	<p>oTracking events will be shown in the JS console</p>
</div>