<div class="demo-container">

	<div class="o-teaser-collection">
		<h2 class="o-teaser-collection__heading"><a class="o-teaser-collection__heading-link" href="#">Brexit</a></h2>
		<ol class="o-teaser-collection__items">
			<li class="o-teaser-collection__item">
				teaser goes here
			</li>
			<li class="o-teaser-collection__item">
				teaser goes here
			</li>
			<li class="o-teaser-collection__item">
				teaser goes here
			</li>
			<li class="o-teaser-collection__item">
				teaser goes here
			</li>
			<li class="o-teaser-collection__item">
				teaser goes here
			</li>
			<li class="o-teaser-collection__item">
				teaser goes here
			</li>
			<li class="o-teaser-collection__item">
				teaser goes here
			</li>
			<li class="o-teaser-collection__item">
				teaser goes here
			</li>
		</ol>
	</div>

	<div class="o-teaser-collection o-teaser-collection--special">
		<h2 class="o-teaser-collection__heading">Brexit</h2>
		<ol class="o-teaser-collection__items">
			<li class="o-teaser-collection__item">
				teaser goes here
			</li>
			<li class="o-teaser-collection__item">
				teaser goes here
			</li>
			<li class="o-teaser-collection__item">
				teaser goes here
			</li>
			<li class="o-teaser-collection__item">
				teaser goes here
			</li>
			<li class="o-teaser-collection__item">
				teaser goes here
			</li>
			<li class="o-teaser-collection__item">
				teaser goes here
			</li>
			<li class="o-teaser-collection__item">
				teaser goes here
			</li>
			<li class="o-teaser-collection__item">
				teaser goes here
			</li>
		</ol>
	</div>

	<div class="o-teaser-collection o-teaser-collection--numbered demo-slim-collection">
		<h2 class="o-teaser-collection__heading o-teaser-collection__heading--full-width">Most Popular of a really long topic that goes on two lines</h2>
		<ol class="o-teaser-collection__items">
			<li class="o-teaser-collection__item">
				teaser goes here<br/><br/><br/>
			</li>
			<li class="o-teaser-collection__item">
				teaser goes here<br/><br/><br/>
			</li>
			<li class="o-teaser-collection__item">
				teaser goes here<br/><br/><br/>
			</li>
			<li class="o-teaser-collection__item">
				teaser goes here<br/><br/><br/>
			</li>
			<li class="o-teaser-collection__item">
				teaser goes here<br/><br/><br/>
			</li>
			<li class="o-teaser-collection__item">
				teaser goes here<br/><br/><br/>
			</li>
		</ol>
	</div>

	<div class="o-teaser-collection demo-slim-collection">
		<h2 class="o-teaser-collection__heading o-teaser-collection__heading--small"><a class="o-teaser-collection__heading-link" href="#">Brexit</a></h2>
		<ol class="o-teaser-collection__items">
			<li class="o-teaser-collection__item">
				teaser goes here
			</li>
			<li class="o-teaser-collection__item">
				teaser goes here
			</li>
			<li class="o-teaser-collection__item">
				teaser goes here
			</li>
			<li class="o-teaser-collection__item">
				teaser goes here
			</li>
			<li class="o-teaser-collection__item">
				teaser goes here
			</li>
			<li class="o-teaser-collection__item">
				teaser goes here
			</li>
			<li class="o-teaser-collection__item">
				teaser goes here
			</li>
			<li class="o-teaser-collection__item">
				teaser goes here
			</li>
			<li class="o-teaser-collection__item">
				teaser goes here
			</li>
		</ol>
	</div>
</div>
