<div class="demo" data-o-component='o-syntax-highlight'>
<pre><code class='o-syntax-highlight--bash'>echo $1
string="I'm a fan of Origami."
echo ${string:6:3}

expr 3 + 12

declare -i number
number = (2 + 4) * 10

cat file1 file2 > combined

exec < file

this && that

foo | grep bar
du -cks * | sort -rn | head

echo *.txt
#some comment</code></pre>
</div>
