<div class="demo" data-o-component='o-syntax-highlight'>
	<pre tabindex="0"><code class='o-syntax-highlight--diff'>
&lt;div class="o-example o-example--alert o-example--error" data-o-component="o-example"&gt;
	&lt;div class="o-example__container"&gt;
		&lt;div class="o-example__content"&gt;
-			&lt;p class="o-example__highlight"&gt;Something went wrong!
+			&lt;p class="o-example__content-main"&gt;
+				&lt;span class="o-example__content-highlight"&gt;Something went wrong!&lt;/span&gt;
-				&lt;span class="o-example__detail"&gt;The quick brown fox did not jump over the lazy dogs.&lt;/span&gt;
+				&lt;span class="o-example__content-detail"&gt;The quick brown fox did not jump over the lazy dogs.&lt;/span&gt;
			&lt;/p&gt;
+			&lt;p class="o-example__additional-info"&gt;Did you know that that sentence uses all of the letters in the alphabet at least once?&lt;/p&gt;
-			&lt;p class="o-example__content-additional"&gt;Did you know that that sentence uses all of the letters in the alphabet at least once?&lt;/p&gt;

			&lt;div class="o-example__actions"&gt;
-				&lt;a href="#" class="o-example__action--primary"&gt;Button&lt;/a&gt;
+				&lt;a href="#" class="o-example__actions__primary"&gt;Button&lt;/a&gt;
-				&lt;a href="#" class="o-example__action--secondary"&gt;Text link&lt;/a&gt;
+				&lt;a href="#" class="o-example__actions__secondary"&gt;Text link&lt;/a&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;
</code></pre>
</div>
