<div class="demo" data-o-component='o-syntax-highlight'>
<pre><code class='o-syntax-highlight--diff'>
&lt;div class="o-example o-example--alert o-example--error" data-o-component="o-example">
	&lt;div class="o-example__container">
		&lt;div class="o-example__content">
-			&lt;p class="o-example__highlight">Something went wrong!
+			&lt;p class="o-example__content-main">
+				&lt;span class="o-example__content-highlight">Something went wrong!&lt;/span>
-				&lt;span class="o-example__detail">The quick brown fox did not jump over the lazy dogs.&lt;/span>
+				&lt;span class="o-example__content-detail">The quick brown fox did not jump over the lazy dogs.&lt;/span>
			&lt;/p>
+			&lt;p class="o-example__additional-info">Did you know that that sentence uses all of the letters in the alphabet at least once?&lt;/p>
-			&lt;p class="o-example__content-additional">Did you know that that sentence uses all of the letters in the alphabet at least once?&lt;/p>

			&lt;div class="o-example__actions">
-				&lt;a href="#" class="o-example__action--primary">Button&lt;/a>
+				&lt;a href="#" class="o-example__actions__primary">Button&lt;/a>
-				&lt;a href="#" class="o-example__action--secondary">Text link&lt;/a>
+				&lt;a href="#" class="o-example__actions__secondary">Text link&lt;/a>
			&lt;/div>
		&lt;/div>
	&lt;/div>
&lt;/div>
</code></pre>
</div>
