<div class="demo" data-o-component='o-syntax-highlight'>
	<pre tabindex="0"><code class="o-syntax-highlight--html">
&lt;div class="some-class" data-attribute="value"&gt;
	&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque consectetur est in urna iaculis tempus.&lt;/p&gt;
	&lt;p&gt;Nam faucibus feugiat lectus, &lt;a href="#"&gt;sit amet blandit&lt;/a&gt; purus bibendum et.&lt;/p&gt;
	&lt;button type="button" name="button"&gt;Button.&lt;/button&gt;
	&lt;!-- &lt;span&gt;Comment&lt;/span&gt; --&gt;
&lt;/div&gt;</code></pre>
</div>
