<div class="demo" data-o-component='o-syntax-highlight'>
	<p>This is some text, and it is here to illustrate that if you use a <code>&lt;code&gt;</code> tag,
		it will get treatment regardless of what language is inside it.
		But only if it is an inline <code>&lt;code&gt;</code> tag</p>
	<p>This is some text, and it is here to illustrate that if you use a <var>&lt;var&gt;</var> tag,
		it will get treatment regardless of what language is inside it.
		But only if it is an inline <var>&lt;var&gt;</var> tag</p>
		<pre tabindex="0">
			<code class="o-syntax-highlight--html">
&lt;html&gt;
	&lt;head&gt;
		&lt;!-- links and scripts --&gt;
	&lt;/head&gt;
	&lt;body&gt;
		&lt;div class="some-class" data-attribute="value"&gt;
			&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque consectetur est in urna iaculis tempus.&lt;/p&gt;
			&lt;p&gt;Nam faucibus feugiat lectus, &lt;a href="#"&gt;sit amet blandit&lt;/a&gt; purus bibendum et.&lt;/p&gt;
			&lt;button type="button" name="button"&gt;Button.&lt;/button&gt;
			&lt;span&gt;Comment&lt;/span&gt;

		&lt;/div&gt;
	&lt;/body&gt;
&lt;/html&gt;</code>
		</pre>
</div>
