<div class="demo" data-o-component='o-syntax-highlight'>
	<p>This is some text, and it is here to illustrate that if you use a <code>&lt;code></code> tag,
		it will get treatment regardless of what language is inside it.
		But only if it is an inline <code>&lt;code></code> tag</p>
	<p>This is some text, and it is here to illustrate that if you use a <var>&lt;var></var> tag,
		it will get treatment regardless of what language is inside it.
		But only if it is an inline <var>&lt;var></var> tag</p>
		<pre>
			<code class="o-syntax-highlight--html">
&lt;html>
	&lt;head>
		&lt;!-- links and scripts -->
	&lt;/head>
	&lt;body>
		&lt;div class="some-class" data-attribute="value">
			&lt;p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque consectetur est in urna iaculis tempus.&lt;/p>
			&lt;p>Nam faucibus feugiat lectus, &lt;a href="#">sit amet blandit&lt;/a> purus bibendum et.&lt;/p>
			&lt;button type="button" name="button">Button.&lt;/button>
			&lt;span>Comment&lt;/span>

		&lt;/div>
	&lt;/body>
&lt;/html></code>
		</pre>
</div>
