export function <%= props.camelCase(props.titleCase(props.withoutPrefix(props.name))) %>() {
	return (<div className="<%= props.name %>"<% if (props.javascript) { %>data-o-component="<%= props.name %>"<% } %>></div>)
}
