@mixin _oHeaderAnon() {
	.o-header__anon {
		text-align: center;

		@include oGridRespondTo('L') {
			display: none;
		}
	}

	.o-header__anon-list {
		margin: 0;
		padding: 0;
	}

	.o-header__anon-item {
		@include _oHeaderItemSeparator();
		display: inline-block;
	}

	.o-header__anon-link {
		@include oTypographySans(-1);
		@include _oHeaderLink();
		@include _oHeaderFancyLink();
	}
}
