// scss-lint:disable SelectorFormat
.topper--full-bleed-text {

	margin-top: 0;

	@include alignText(center);
	@include resizeTextbox;

	.topper__visual {
		display: none;
	}

	.topper__text {
		width: inherit;
	}

	.topper__headline {
		@include oGridRespondTo(M, L) {
			@include headlineFontSize(52px);
		}

		@include oGridRespondTo(L) {
			@include headlineFontSize(84px);
		}
	}
}
