.topper--full-bleed-offset {

	margin-top: 0;

	@include alignText(left);
	@include fullBleedImage;

	@include oGridRespondTo(S) {
		@include overlayText;
	}

	margin-bottom: 20px;

	@include oGridRespondTo($until: S) {
		.topper__slot-1 {
			height: 0;
			min-height: 0;
		}

		.topper__text-wrapper {
			padding-top: 15px;
		}
	};

	@include oGridRespondTo(M) {
		.topper__offset-container {
			margin-top: -100px;
		}
	}

	@include oGridRespondTo(L) {
		.topper__offset-container {
			margin-top: -105px;
		}

		.topper__visual {
			margin-bottom: 30px;
		}
	}

	.topper__offset-container {
		margin: -90px -10px 0;
		padding: 0 10px;
		position: relative;
		&:before {
			content: '';
			position: absolute;
			left: 50%;
			width: 150vw; //go extra wide to ensure its always covered
			margin-left: -55vw; //compensate for the offset on Xl
			background: inherit;
			top: 45px;
			height: calc(100% - 45px);
		}
	}

	@include oGridRespondTo($from: M) {
		.topper__offset-container {
			margin-left: -20px;
			margin-right: -20px;
			padding-left: 20px;
			padding-right: 20px;
		}
	}

	.topper__text-wrapper {
		width: 100%;
		padding: 20px 0;
	}

}
