.topper--full-bleed-image-right {
	@include alignText(left);

	padding: 0;

	@include oGridRespondTo(S) {
		@include overlayText;
		@include fullBleedImage;
		@include alignText(right);

		.topper__text {
			width: 50%;
			float: right;
		}
	}

	.topper__text {
		width: 100%;
	}

	.topper__text-wrapper {
		float: right;
	}
}
