// scss-lint:disable SelectorFormat
.topper--full-bleed-text {
	@include alignText(center);
	@include resizeTextbox;

	padding: 0;

	.topper__visual {
		display: none;
	}

	.topper__text {
		width: inherit;
	}

	.topper__headline {
		@include oGridRespondTo(M, L) {
			@include oTypographyFallbackFontSize('serifDisplayBold', 52px);
		}

		@include oGridRespondTo(L) {
			@include oTypographyFallbackFontSize('serifDisplayBold', 84px);
		}
	}
}
