@import '../../package/colors';

.topper__anchor-link {
	display: inline-block;
	margin-top: 30px;
	width: 110px;
	padding: 5px 0 0 10px;
	border-top: 1px solid oColorsGetColorFor('link', 'text');
	border-left: 1px solid oColorsGetColorFor('link', 'text');
	border-bottom-width: 0;
	white-space: nowrap;
	overflow: visible;

	@include oGridRespondTo(S) {
		width: 140px;
	}

	&:after {
		@include oIconsGetIcon('arrow-down', oColorsGetColorFor('link', 'text'), 20);
		content: '';
		display: block;
		position: relative;
		top: 4px;
		left: -4px;
		margin-top: -2px;
	}
}



.topper--package {

	margin-bottom: 20px;

	.n-myft-ui--follow {
		margin-bottom: 20px;
	}

	.topper__tags .n-content-tag,
	.topper__headline {
		@include oTypographySans(xl, $load-progressively: true);
		line-height: 1;

		@include oGridRespondTo(L) {
			@include oTypographyFallbackFontSize('sans', 56px);
		}

	}

	.topper__headline:after {
		border-bottom-width: 1px;
	}
}

.topper__package-sequence-id {
	@include oTypographySans(s, $load-progressively: true);
	@include oTypographyFallbackFontSize('sans', 18px);
}

.topper--package-extra,
.topper--package-extra-wide {
	.topper__package-sequence-id,
	&.topper--package .topper__headline {
		color: $yellow;
	}

	.topper__anchor-link {
		color: $yellow;
		border-color: $yellow;
		&:after {
			@include oIconsGetIcon('arrow-down', $yellow, 20, null, false, false);
		}
		&:hover {
			color: darken($yellow, 20%);
		}
	}
}

.topper--package-special-report {

	.topper__tags .n-content-tag {
		opacity: 0.6;
	}

	.topper__anchor-link {
		border-color: getColor('white');
		color: getColor('white');
		&:after {
			@include oIconsGetIcon('arrow-down', getColor('white'), 20, null, false, false);
		}
		&:hover {
			color: darken(getColor('white'), 20%);
		}
	}
}
