$pkgYellow: #ffec1a;

.topper--package {

	.topper__headline {
		@include oTypographySans(xl, $load-progressively: true);
		line-height: 1;

		@include oGridRespondTo(L) {
			@include oTypographyFallbackFontSize('sans', 56px);
		}

		&:after {
			border-bottom-width: 1px;
		}

	}

}

.topper__package-sequence-id {
	@include oTypographySans(s, $load-progressively: true);
	@include oTypographyFallbackFontSize('sans', 18px);
}

.topper--package-extra,
.topper--package-extra-wide {
	.topper__package-sequence-id,
	&.topper--package .topper__headline {
		color: $pkgYellow;
	}
}
