// .o-topper--branded
@include _oTopperProvide((theme: branded)) {
	@include _oTopperProvide(layout content) {
		grid-row: 2 / span 3;
		@include oGridRespondTo($until: L) {
			padding: 20px 0;
		}
	}

	@include _oTopperProvide((layout: read-next)) {
		grid-row: 2 / span 3;
	}

	@include oGridRespondTo($until: L) {
		//Make the background really full width
		@include _oTopperProvide((layout: background)) {
			position: absolute;
		}
	}
}

// .o-topper--has-headshot
@mixin oTopperHasHeadshot {
	@include _oTopperProvide(
		(element: tags),
		(element: standfirst)
	) {
		box-sizing: border-box;
		padding-right: 100px;

		@include oGridRespondTo(M) {
			padding-right: 150px;
		}
	}

	@include _oTopperProvide((element: headline)) {
		@include oGridRespondTo(M) {
			padding-right: 150px;
		}
	}
}

// .o-topper--opinion {
@include _oTopperProvide((theme: opinion)) {
	// keep in next-article
	.n-myft-ui--follow {
		margin-left: 20px;
	}

	@include _oTopperProvide((element: opinion-genre)) {
		@include oTypographySans(2);
		font-weight: 200;
		color: oColorsGetPaletteColor('oxford');
	}

	.n-content-tag--with-follow {
		vertical-align: baseline;
	}
}

@mixin oTopperHeadshot {
	@include _oTopperReceive((element: headshot));
}

@include _oTopperProvide((element: headshot)) {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100px;
	overflow: hidden;

	@include oGridRespondTo(M) {
		width: 150px;
	}

	@include oGridRespondTo(L) {
		bottom: -20px;
	}
}

@mixin oTopperHeadshotImage {
	@include _oTopperReceive((element: headshot-image));
}

@include _oTopperProvide((element: headshot-image)) {
	max-width: 100%;
	display: block;
	margin-left: 8px;
}
