// sass-lint:disable mixins-before-declarations

@include _oTopperProvide(
	(theme: full-bleed-image-center),
	(theme: full-bleed-image-left)
) {

	@include _oTopperProvide((layout: read-next)) {
		display: none;
	}

	@include oGridRespondTo($until: M) {
		@include _oTopperProvide((layout: content)) {
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 20px;
			min-height: 350px;
		}

		@include _oTopperProvide((layout: visual)) {
			min-height: 350px;
		}
	}

	@include oGridRespondTo(M) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;

		@include _oTopperProvide((layout: content)) {
			grid-row: 1;
			grid-column: 1 / span 2;
			width: 50%;
			box-sizing: border-box;
			align-self: center;
			padding-right: 20px;
			background: transparent;
		}

		@include _oTopperProvide((layout: visual)) {
			grid-row: 1;
		}
	}

	@supports (object-fit: cover) {
		@include _oTopperProvide((layout: visual)) {
			height: auto;
			max-height: 480px;

			@include oGridRespondTo(L) {
				height: 600px;
				max-height: 600px;
			}
		}
	}
}
