// sass-lint:disable mixins-before-declarations

@include _oTopperProvide((theme: news-package)) {
	@include oGridRespondTo($until: M) {
		padding: 0;
	}

	@include _oTopperProvide((layout: content)) {
		padding: oGridGutter();
	}

	@include _oTopperProvide(
		(element: tags),
		(layout: read-next)
	) {
		display: none;
	}

	@include _oTopperProvide((element: headline)) {
		@include oTypographyDisplay($scale: (default: 6, S: 4, M: 6, L: 8));
	}

	@include _oTopperProvide((element: picture)) {
		height: auto;
	}

	@include oGridRespondTo(M) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 20px 1fr 20px;

		@include _oTopperProvide((layout: content)) {
			grid-column: 1 / span 2;
			grid-row: 2;
			width: 50%;
			box-sizing: border-box;
			padding: 0 20px 0 0;
		}

		@include _oTopperProvide((layout: visual)) {
			grid-row: 2 / span 1;
			grid-column: 2 / span 2;
			height: auto;
			width: auto;
			margin: 0;
			position: static;
		}
	}
}
