// sass-lint:disable mixins-before-declarations

@include _oTopperProvide(
	(theme: split-text-left),
	(theme: split-text-center)
) {
	@include _oTopperProvide((layout: read-next)) {
		display: none;
	}

	@include oGridRespondTo($until: M) {
		padding: 0;
		@include _oTopperProvide((layout: content)) {
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 20px 10px;
			min-height: 350px;
		}

		@include _oTopperProvide((layout: visual)) {
			min-height: 350px;
		}
	}

	@include oGridRespondTo(M) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;

		@include _oTopperProvide((layout: content)) {
			grid-column: 1 / span 2;
			grid-row: 1;
			width: 50%;
			box-sizing: border-box;
			align-self: center;
			padding-right: 20px;
		}

		@include _oTopperProvide((layout: visual)) {
			grid-row: 1;
		}

		.o-topper__picture {
			width: 50%;
			float: right;
			height: 100%;
			position: relative;
		}

		.o-topper__image {
			position: absolute;
			@include oGridRespondTo($until: M) {
				max-height: 480px;
			}
		}
	}

	@supports (object-fit: cover) {
		@include _oTopperProvide((layout: visual)) {
			@include oGridRespondTo(M) {
				height: 480px;
			}
			@include oGridRespondTo(L) {
				height: 600px;
			}
		}
	}

}

@include _oTopperProvide((theme: split-text-center)) {
	@include oGridRespondTo(S) {
		@include _oTopperAlignText(center);
	}
}
