<div class="o-top-banner o-top-banner--new-world">
    <div class="o-top-banner__container">
        <div class="o-top-banner__content">
            <h2 class="o-top-banner__heading">Make sense of it all.</h2>
            <p class="o-top-banner__copy">Become an FT subscriber. Pay annually and save 20%</p>
        </div>

        <div class="o-top-banner__actions">
            <a href="#" class="o-top-banner__button">Subscribe now</a>
        </div>
    </div>
</div>
