<div class="o-top-banner o-top-banner--professional-inverse">
    <div class="o-top-banner__container">
        <div class="o-top-banner__content">
            <h2 class="o-top-banner__heading">You can now access Workspace</h2>
            <p class="o-top-banner__copy">Only available with your FT Professional subscription</p>
        </div>

        <div class="o-top-banner__actions">
            <a href="#" class="o-top-banner__button">Visit Workspace</a>
        </div>
    </div>
</div>
