/// Helper for `o-brand` function.
/// @access private
@function _oHeaderServicesGet($variables, $from: null) {
	@return oBrandGet($component: 'o-header-services', $variables: $variables, $from: $from);
}

/// Helper for `o-brand` function.
/// @access private
@function _oHeaderServicesSupports($variant) {
	@return oBrandSupportsVariant($component: 'o-header-services', $variant: $variant);
}

/// Helper for `whitelabel` varibale customisation
/// @brand whitelabel
/// @param {Map} $variables - Brand variables to customise
/// @access public
/// @example scss
///		@include oHeaderServicesCustomize((
///			'nav-background': hotpink;
///			'nav-hover-background': candy;
///		))
@mixin oHeaderServicesCustomize($variables) {
	@include oBrandCustomize('o-header-services', $variables);
}

@if oBrandGetCurrentBrand() == 'master' {
	@include oBrandDefine('o-header-services', 'master', (
		'variables': (
			logo: 'ftlogo-v1:brand-ft-logo-square-coloured',
			top-text: oColorsByName('white'),
			top-background: oColorsByName('black'),
			nav-text: oColorsByName('black'),
			nav-background: oColorsByName('white-60'),
			nav-border: oColorsByName('black-20'),
			nav-hover-background: oColorsByName('black-5'),
			nav-underline-color: oColorsByName('black'),
			arrow-icon-color: oColorsByName('black'),
			button-hover-color: oColorsByName('black-20'),
			'b2b': (
				product-title: oColorsByName('white'),
				nav-text: oColorsByName('white'),
				nav-background: oColorsByName('claret'),
				nav-hover-background: oColorsByName('claret-30'),
				arrow-icon-color: oColorsByName('white'),
			),
			'b2c': (
				product-title: oColorsByName('org-b2c-light'),
				nav-text: oColorsByName('white'),
				nav-background: oColorsByName('org-b2c'),
				nav-hover-background: oColorsByName('org-b2c-dark'),
				arrow-icon-color: oColorsByName('white'),
			)
		),
		'supports-variants': (
			'b2b',
			'b2c'
		)
	));
}

@if oBrandGetCurrentBrand() == 'internal' {
	@include oBrandDefine('o-header-services', 'internal', (
		'variables': (
			logo: 'ftlogo-v1:brand-ft-logo-squared-bw',
			top-text: oColorsByName('white'),
			top-background: oColorsByName('slate'),
			nav-text: oColorsByName('black'),
			nav-background: oColorsByName('slate-white-5'),
			nav-border: oColorsByName('black-20'),
			nav-hover-background: oColorsByName('slate-white-15'),
			nav-underline-color: oColorsByName('black'),
			arrow-icon-color: oColorsByName('slate'),
			button-hover-color: oColorsByName('black-20')
		),
		'supports-variants': ()
	));
}

@if oBrandGetCurrentBrand() == 'whitelabel' {
	@include oBrandDefine('o-header-services', 'whitelabel', (
		'variables': (
			logo: null,
			top-text: oColorsByName('white'),
			top-background: oColorsByName('black'),
			nav-text: oColorsByName('black'),
			nav-background: oColorsByName('white'),
			nav-border: oColorsByName('black'),
			nav-hover-background: oColorsByName('white'),
			nav-underline-color: oColorsByName('black'),
			arrow-icon-color: oColorsByName('black'),
			arrow-icon-hover-color: oColorsByName('white'),
			button-hover-color: oColorsByName('black')
		),
		'supports-variants': ()
	));
}
