/// Helper for `o-brand` function.
/// @access private
@function _oHeaderServicesGet($variables, $from: null) {
	@return oBrandGet($component: 'o-header-services', $variables: $variables, $from: $from);
}

/// Helper for `o-brand` function.
/// @access private
@function _oHeaderServicesSupports($variant) {
	@return oBrandSupportsVariant($component: 'o-header-services', $variant: $variant);
}

/// Helper for `whitelabel` varibale customisation
/// @brand whitelabel
/// @param {Map} $variables - Brand variables to customise
/// @access public
/// @example scss
///		@include oHeaderServicesCustomize((
///			'nav-background': hotpink;
///			'nav-hover-background': candy;
///		))
@mixin oHeaderServicesCustomize($variables) {
	@include oBrandCustomize('o-header-services', $variables);
}

@if oBrandIs('core') {
	@include oBrandDefine('o-header-services', 'core', (
		'variables': (
			logo: 'ftlogo-v1:brand-ft-logo-square-coloured',
			top-text: oPrivateFoundationGet('o3-color-palette-white'),
			top-background: oPrivateFoundationGet('o3-color-palette-black'),
			nav-text: oPrivateFoundationGet('o3-color-palette-black'),
			nav-background: oPrivateFoundationGet('o3-color-palette-white-60'),
			nav-border: oPrivateFoundationGet('o3-color-palette-black-20'),
			nav-hover-background: oPrivateFoundationGet('o3-color-palette-black-5'),
			nav-underline-color: oPrivateFoundationGet('o3-color-palette-black'),
			arrow-icon-color: oPrivateFoundationGet('o3-color-palette-black'),
			button-hover-color: oPrivateFoundationGet('o3-color-palette-black-20'),
			'b2b': (
				product-title: oPrivateFoundationGet('o3-color-palette-white'),
				nav-text: oPrivateFoundationGet('o3-color-palette-white'),
				nav-background: oPrivateFoundationGet('o3-color-palette-claret'),
				nav-hover-background: oPrivateFoundationGet('o3-color-palette-claret-30'),
				arrow-icon-color: oPrivateFoundationGet('o3-color-palette-white'),
			),
			'b2c': (
				product-title: #99c6fb,
				nav-text: oPrivateFoundationGet('o3-color-palette-white'),
				nav-background: #4e96eb,
				nav-hover-background: #3a70af,
				arrow-icon-color: oPrivateFoundationGet('o3-color-palette-white'),
			)
		),
		'supports-variants': (
			'b2b',
			'b2c'
		)
	));
}

@if oBrandIs('internal') {
	@include oBrandDefine('o-header-services', 'internal', (
		'variables': (
			logo: 'ftlogo-v1:brand-ft-logo-squared-bw',
			top-text: oPrivateFoundationGet('o3-color-palette-white'),
			top-background: oPrivateFoundationGet('o3-color-palette-slate'),
			nav-text: oPrivateFoundationGet('o3-color-palette-black'),
			nav-background: oPrivateFoundationGet('o3-color-palette-slate-white-5'),
			nav-border: oPrivateFoundationGet('o3-color-palette-black-20'),
			nav-hover-background: oPrivateFoundationGet('o3-color-palette-slate-white-15'),
			nav-underline-color: oPrivateFoundationGet('o3-color-palette-black'),
			arrow-icon-color: oPrivateFoundationGet('o3-color-palette-slate'),
			button-hover-color: oPrivateFoundationGet('o3-color-palette-black-20')
		),
		'supports-variants': ()
	));
}

@if oBrandIs('whitelabel') {
	@include oBrandDefine('o-header-services', 'whitelabel', (
		'variables': (
			logo: null,
			top-text: oPrivateFoundationGet('o3-color-palette-white'),
			top-background: oPrivateFoundationGet('o3-color-palette-black'),
			nav-text: oPrivateFoundationGet('o3-color-palette-black'),
			nav-background: oPrivateFoundationGet('o3-color-palette-white'),
			nav-border: oPrivateFoundationGet('o3-color-palette-black'),
			nav-hover-background: oPrivateFoundationGet('o3-color-palette-white'),
			nav-underline-color: oPrivateFoundationGet('o3-color-palette-black'),
			arrow-icon-color: oPrivateFoundationGet('o3-color-palette-black'),
			arrow-icon-hover-color: oPrivateFoundationGet('o3-color-palette-white'),
			button-hover-color: oPrivateFoundationGet('o3-color-palette-black')
		),
		'supports-variants': ()
	));
}
