@import "./../../main";
@import '@financial-times/o-fonts/main';
@include oFonts();
@import '@financial-times/o-buttons/main';
@include oButtons();
@import '@financial-times/o-private-foundation/o-normalise/main';
@include oNormalise();
body {
	background: oColorsByUsecase(page, background);
}

.demo {
	margin: 12px;
	max-width: 500px;
}

.demo-inverse {
	margin-top: 16px;
	background-color: if(
		oBrandIs('core') or oBrandIs('internal'),
		oColorsByName('slate'),
		oColorsByName('black')
	);
	padding: 10px;

	.o-forms {
		margin: 0;
	}
}

$custom-theme: (
	controls-base: 'crimson',
	controls-checked-base: 'white',
	controls-border: 'crimson'
);

$icon-list: ('grid', 'list');

@include oFormsAddCustom(
	$input: 'radio',
	$class: 'demo-radio',
	$icons: $icon-list,
	$theme: $custom-theme
);

@include oForms();
