{{#variants}}
	<label class="o-forms-field{{#inline-field}} o-forms-field--inline{{/inline-field}}{{#optional}} o-forms-field--optional{{/optional}}">

		<span class="o-forms-title{{#title.modifiers}} o-forms-title--{{.}}{{/title.modifiers}}">
			<span class="o-forms-title__main">{{title.main}}</span>
			{{#title.prompt}}<span class="o-forms-title__prompt">{{.}}</span>{{/title.prompt}}
		</span>

		<span class="o-forms-input o-forms-input--{{input.type}}{{#input.modifiers}} o-forms-input--{{.}}{{/input.modifiers}}">

			<input
				type="{{input.type}}"
				name="text"
				value="{{input.value}}"
			>

			{{#input.error}}<span class="o-forms-input__error">{{.}}</span>{{/input.error}}
		</span>

	</label>
{{/variants}}
