<div class="demo-inverse">
	<form action data-o-component="o-forms">
		<div class="o-forms-field o-forms-field--optional o-forms-field--ft-live" role="group" aria-labelledby="radio-group-title">
			<span class="o-forms-title" aria-hidden="true">
				<span class="o-forms-title__main" id="radio-group-title">Round-style radio buttons for proffessional-inverse theme </span>
				<span class="o-forms-title__prompt" id="radio-round-group-info">Optional prompt/description text</span>
			</span>

			<span class="o-forms-input o-forms-input--radio-round">
				<span class="o-forms-input--radio-round__container">
					<label for="radio-yes">
						<input id="radio-yes" type="radio" name="round">
						<span class="o-forms-input__label">Yes</span>
					</label>
					<label for="radio-no">
						<input id="radio-no" type="radio" name="round" checked>
						<span class="o-forms-input__label">No</span>
					</label>
				</span>
			</span>
		</div>

		<div class="o-forms-field o-forms-field--optional o-forms-field--ft-live" role="group" aria-labelledby="disabled-radio-group-title">
			<span class="o-forms-title" aria-hidden="true">
				<span class="o-forms-title__main" id="disabled-radio-group-title"> Disabled Round-style radio buttons for proffessional-inverse theme </span>
				<span class="o-forms-title__prompt" id="disabled-radio-round-group-info">Optional prompt/description text</span>
			</span>

			<span class="o-forms-input o-forms-input--radio-round">
				<span class="o-forms-input--radio-round__container">
					<label for="disabled-radio-yes">
						<input id="disabled-radio-yes" type="radio" name="disabled-round" disabled>
						<span class="o-forms-input__label">Yes</span>
					</label>
					<label for="disabled-radio-no">
						<input id="disabled-radio-no" type="radio" name="disabled-round" checked disabled>
						<span class="o-forms-input__label">No</span>
					</label>
				</span>
			</span>
		</div>


		<div class="o-forms-field o-forms-field--optional o-forms-field--ft-live" role="group" aria-labelledby="checkbox-title">
			<span class="o-forms-title" aria-hidden="true">
				<span class="o-forms-title__main" id="checkbox-title">Checkboxes for professional theme</span>
				<span class="o-forms-title__prompt" id="checkbox-group-info">Optional prompt/description text</span>
			</span>
			<span class="o-forms-input o-forms-input--checkbox">
					<label for="checkbox-daily">
						<input id="checkbox-daily" type="checkbox" name="checkbox" checked>
						<span class="o-forms-input__label">Daily</span>
					</label>
					<label for="checkbox-monthly">
						<input id="checkbox-montly" type="checkbox" name="checkbox">
						<span class="o-forms-input__label">Monthly</span>
					</label>
					<label for="checkbox-yearly">
						<input id="checkbox-yearly" type="checkbox" name="checkbox" disabled checked>
						<span disabled class="o-forms-input__label">Yearly (diabled)</span>
					</label>
			</span>
		</div>

		<div
		class="o-forms-field o-forms-field--optional o-forms-field--ft-live"
		role="group"
		aria-labelledby="o-forms-labelledby_7634680990004467"
		aria-describedby="o-forms-describedby_48039907598536646"
		>
		<span class="o-forms-title">
			<span class="o-forms-title__main" id="o-forms-labelledby_7634680990004467">
			Box style radio buttons
			</span>
			<span
			class="o-forms-title__prompt"
			id="o-forms-describedby_48039907598536646"
			>
			Optional prompt text
			</span>
		</span>
		<span class="o-forms-input o-forms-input--radio-box">
			<span class="o-forms-input--radio-box__container">
			<label for="o-forms-radio_button_03846211359091578">
				<input
				type="radio"
				id="o-forms-radio_button_03846211359091578"
				name="default"
				value="Daily"
				checked=""
				/>
				<span class="o-forms-input__label">Daily</span>
			</label>
			<label for="o-forms-radio_button_84933557360032">
				<input
				type="radio"
				id="o-forms-radio_button_84933557360032"
				name="default"
				value="Weekly"
				/>
				<span class="o-forms-input__label">Weekly</span>
			</label>
			</span>
		</span>
		</div>

	</form>
</div>
