<form action="" data-o-component="o-forms">
	<label class="o-forms-field">
		<span class="o-forms-title">
			<span class="o-forms-title__main">Text input with suffix</span>
		</span>

		<span class="o-forms-input o-forms-input--text o-forms-input--suffix">
			<input type="text" name="text" value="" required>
			<button class="o-buttons o-buttons--secondary o-buttons--big">Go</button>
		</span>
	</label>
</form>
