<form action="" data-o-component="o-forms">

	<div class="o-forms-field o-forms-field--optional" role="group" aria-labelledby="date-group-title">
		<span class="o-forms-title">
			<span class="o-forms-title__main" id="date-group-title">Date input</span>
			<span class="o-forms-title__prompt">Optional prompt text</span>
		</span>

		<span class="o-forms-input o-forms-input--date">
			<label for="date">
				<input class="o-forms-input__day-part" id="date" type="text" name="date" value="" pattern="(0[1-9]|1[0-9]|2[0-9]|3[01])" required>
				<span class="o-forms-input__label">DD</span>
			</label>
			<label for="month">
				<input class="o-forms-input__month-part" id="month" type="text" name="date" value="" pattern="(0[1-9]|1[012])" required>
				<span class="o-forms-input__label">MM</span>
			</label>
			<label for="year">
				<input class="o-forms-input__year-part" id="year" type="text" name="date" value="" pattern="[0-9]{4}" required>
				<span class="o-forms-input__label">YYYY</span>
			</label>
			<span role=alert class="o-forms-input__error">Please use the format (DD/MM/YYYY)</span>
		</span>
	</div>

	<div class="o-forms-field" role="group" aria-labelledby="radio-group-title">
		<span class="o-forms-title" aria-hidden="true">
			<span class="o-forms-title__main" id="radio-group-title">Radio box input</span>
		</span>

		<span class="o-forms-input o-forms-input--radio-box">
			<span class="o-forms-input--radio-box__container">
				<label for="radio-yes">
					<input id="radio-yes" type="radio" name="box">
					<span class="o-forms-input__label">Yes</span>
				</label>
				<label for="radio-no">
					<input id="radio-no" type="radio" name="box" checked>
					<span class="o-forms-input__label o-forms-input__label--negative">No</span>
				</label>
			</span>
		</span>
	</div>

	<label class="o-forms-field" for="required">
		<span class="o-forms-title">
			<span class="o-forms-title__main">Required text input</span>
		</span>

		<span class="o-forms-input o-forms-input--text">
			<input id="required" type="text" name="text" value="" required>
			<span role=alert class="o-forms-input__error">Please fill out this field</span>
		</span>
	</label>

	<span class="o-forms-field o-forms-field--optional">
		<span class="o-forms-title">
			<label for="optional" class="o-forms-title__main">Optional text input</label>
			<span class="o-forms-title__prompt">Optional prompt text</span>
		</span>

		<span class="o-forms-input o-forms-input--text">
			<input id="optional" type="text" name="optional" value="">
		</span>
	</span>

	<!-- with no o-forms-title this is not able to show in the error summary -->
	<div class="o-forms-field">
		<span class="o-forms-input o-forms-input--checkbox">
			<label for="my-single-checkbox">
				<input id="my-single-checkbox" type="checkbox" name="my-single-checkbox" required/>
				<span class="o-forms-input__label">I accept these terms.</span>
			</label>
		</span>
	</div>

  	<input id="hidden-demo" name="hidden-demo" type="hidden" value="123">

	<button class="demo-submit-button" type="submit">Let's get started</button>

</form>
