<form action="" data-o-component="o-forms">
	<span class="o-forms-field">
		<span class="o-forms-title">
			<label for="suffix" class="o-forms-title__main">Text input with suffix</label>
		</span>

		<span class="o-forms-input o-forms-input--text o-forms-input--suffix">
			<input id="suffix" type="text" name="text" value="" required>
			<button class="demo-submit-button">Submit</button>
		</span>
	</span>
</form>
