$gaudio-horz-padding-inline: 5px;
$gaudio-vert-padding-inline: 3px;

$gaudio-horz-padding-block: 15px;
$gaudio-vert-padding-block: 10px;

$gaudio-button-background: #9e2f50;
$gaudio-button-color: #f6e9d8;

@mixin gAudio() {
	.g-audio.g-audio--initialized {
		border-radius: 6px;
		cursor: pointer;
		margin: 0 5px;
		padding: 0 $gaudio-horz-padding-inline 0 0;
		vertical-align: top;

		// inline player

		.g-audio--playbutton {
			background: $gaudio-button-background;
			border-radius: 6px 0 0 6px;
			color: $gaudio-button-color;
			margin-right: 2px;
			padding-left: $gaudio-horz-padding-inline;
			padding-right: calc($gaudio-horz-padding-inline / 2);
		}

		.g-audio--playbutton:before {
			@include oIconsContent('play', $gaudio-button-color, 25);
			content: '';
			font-size: 0.8em;
			margin: -3px $gaudio-horz-padding-inline;
			vertical-align: bottom;
		}

		&.pause .g-audio--playbutton:before {
			@include oIconsContent('pause', $gaudio-button-color, 25);
			content: '';
			font-size: 0.8em;
			margin: -3px $gaudio-horz-padding-inline;
			vertical-align: bottom;
		}

		.g-audio-content {
			background: rgba(175, 81, 108, 0.15);
			display: inline;
			padding: 0 $gaudio-horz-padding-inline;
			position: relative;

			.g-audio-content-progressbar {
				background: $gaudio-button-background;
				height: 100%;
				left: 0;
				opacity: 0.3;
				pointer-events: none;
				position: absolute;
				top: 0;
			}
		}


		// block player

		&.g-audio--block {
			border-radius: 0;
			display: block;
			margin: 1em 0;
			padding: $gaudio-vert-padding-block 0;
			width: 100%;

			.g-audio--playbutton {
				background: $gaudio-button-background;
				border-radius: 0;
				color: $gaudio-button-color;
				padding: $gaudio-vert-padding-block $gaudio-horz-padding-inline;
			}

			.g-audio-content {
				padding: $gaudio-vert-padding-block $gaudio-horz-padding-block;
			}
		}

	}
}
