$g-audio-is-silent: true !default;

$g-audio-horz-margin: 5px;

$g-audio-horz-padding-inline: 6px;
$g-audio-vert-padding-inline: 3px;

$g-audio-horz-padding-block: 15px;
$g-audio-vert-padding-block: 10px;

// Teal theme
$g-audio-teal-button-background: oColorsByName('teal');
$g-audio-teal-button-background-hover: oColorsByName('teal-30');
$g-audio-teal-button-color: oColorsByName('white');

$g-audio-teal-content-background: oColorsMix('teal', 'paper', 10);
$g-audio-teal-content-color: oColorsByName('teal-30');

// Pink theme
$g-audio-pink-button-background: oColorsByName('claret-90');
$g-audio-pink-button-background-hover: oColorsByName('claret');
$g-audio-pink-button-color: oColorsByName('white');

$g-audio-pink-content-background: oColorsMix('claret-90', 'paper', 10);
$g-audio-pink-content-color: oColorsByName('black-90');
