$g-audio-is-silent: true !default;

$g-audio-horz-padding-inline: 5px;
$g-audio-vert-padding-inline: 3px;

$g-audio-horz-padding-block: 15px;
$g-audio-vert-padding-block: 10px;

$g-audio-button-background: #9e2f50;
$g-audio-button-color: #f6e9d8;
