@import '@financial-times/o-brand/main';
@import '@financial-times/o-colors/main';
@import '@financial-times/o-typography/main';
@import '@financial-times/o-icons/main';
@import '@financial-times/o-normalise/main';

@import './src/scss/brand';
@import './src/scss/variables';
@import './src/scss/functions';
@import './src/scss/mixins';
@import '../src/css/core/_variables.css';
@import '../src/css/whitelabel/_variables.css';

@import '../../../apps/dictionary/build/css/base/color/_variables.css';
@import '../../../apps/dictionary/build/css/icons/_variables.css';
@import '../../../apps/dictionary/build/css/usecase/core/_variables.css';
@import '../../../apps/dictionary/build/css/usecase/professional/_variables.css';
@import '../../../apps/dictionary/build/css/usecase/whitelabel/_variables.css';
@import '../../../apps/dictionary/build/css/usecase/internal/_variables.css';

/// Output o-buttons classes.
///
/// @example All default o-buttons styles.
///     @include oButtons();
///
/// @example Primary and secondary button classes, plus the big button modifier class.
///    @include oButtons($opts: (
///        'types': ('primary', 'secondary', 'ghost'),
///        'sizes': ('big')
///    ));
///
/// @example Primary and secondary button classes, plus an inverse theme modifier class, and classes for arrow left and arrow right icon buttons.
///    @include oButtons($opts: (
///        'types': ('primary', 'secondary', 'ghost'),
///        'themes': ('inverse'),
///        'icons': ('arrow-left', 'arrow-right')
///    ));
///
/// @example Secondary button classes, plus classes to support button groups and pagination.
///    @include oButtons($opts: (
///        'types': ('secondary', 'ghost'),
///        'pagination': true,
///        'groups': true
///    ));
///
/// @param {List} $opts
@mixin oButtonsExperimental($opts: (
	'sizes': $_o-buttons-sizes,
	'types': $_o-buttons-types,
	'themes': $_o-buttons-themes,
	'icons': $_o-buttons-icons,
	'pagination': true,
	'groups': true
)) {
  $types: map-get($opts, 'types');
  $types: if($types, $types, ());
  $sizes: map-get($opts, 'sizes');
  $sizes: if($sizes, $sizes, ());
  $themes: map-get($opts, 'themes');
  $themes: if($themes, $themes, ());
  $icons: map-get($opts, 'icons');
  $icons: if($icons, $icons, ());
  $pagination-enabled: map-get($opts, 'pagination');
  $groups-enabled: map-get($opts, 'groups');
  // Base button class.
  .o-buttons-experimental {
	@include _oButtonsBaseContent();

	background-color: var(--_o-primary-active-background-color);
	color: var(--_o-primary-active-color);
	border: var(--_o-primary-active-border);
	//
	&:hover {
	  //next up, define colours for all of these
	  background-color: var(--_o-primary-hover-background-color);
	  color: var(--_o-primary-hover-color);
	  border: var(--_o-primary-hover-border);
	  text-decoration: none;
	}
  }

	.o-buttons-experimental-icon--facebook {
		background-image: var(--o-icons-facebook);
		background-repeat: no-repeat;
		width: 100px;
		width: 100px;
	}

  .o-buttons-experimental--secondary {
	background-color: var(--_o-secondary-active-background-color);
	color: var(--_o-secondary-active-color);
	border: var(--_o-secondary-active-border);

	&:hover {
	  //next up, define colours for all of these
	  background-color: var(--_o-secondary-hover-background-color);
	  color: var(--_o-secondary-hover-color);
	  border: var(--_o-secondary-hover-border);
	  text-decoration: none;
	}
  }

  .o-buttons-experimental--ghost {
	background-color: var(--_o-ghost-active-background-color);
	color: var(--_o-ghost-active-color);
	border: var(--_o-ghost-active-border);

	&:hover {
	  //next up, define colours for all of these
	  background-color: var(--_o-ghost-hover-background-color);
	  color: var(--_o-ghost-hover-color);
	  border: var(--_o-ghost-hover-border);
	  text-decoration: none;
	}
  }

  // Helper class to hide disabled buttons.
  .o-buttons--hide-disabled[disabled] {
	visibility: hidden;
  }

  .o-buttons-experimental-icon__label {
	@include oNormaliseVisuallyHidden();
  }
}

@if ($o-buttons-is-silent == false) {
  @include oButtonsExperimental();

  // Set module to silent again
  $o-buttons-is-silent: true !global;
}
