.o3-editorial-typography-body__small,
.o3-editorial-typography-body__large {
	margin: 0 0 var(--o3-spacing-s);
}
.o3-editorial-typography-body__small {
	font-family: var(--_o3-editorial-typography-use-case-body-s-font-family);
	font-weight: var(--_o3-editorial-typography-use-case-body-s-font-weight);
	font-size: var(--_o3-editorial-typography-use-case-body-s-font-size);
	line-height: var(--_o3-editorial-typography-use-case-body-s-line-height);
}

.o3-editorial-typography-body__large {
	font-family: var(--_o3-editorial-typography-use-case-body-l-font-family);
	font-weight: var(--_o3-editorial-typography-use-case-body-l-font-weight);
	font-size: var(--_o3-editorial-typography-use-case-body-l-font-size);
	line-height: var(--_o3-editorial-typography-use-case-body-l-line-height);
}
