[class^='o3-editorial-typography-list-'] {
	display: flex;
	flex-direction: column;
	gap: var(--o3-spacing-4xs);
	padding: 0px;
	color: var(--_o3-editorial-typography-text-color);
	list-style: none;
}

[class^='o3-editorial-typography-list-'] li::before {
	margin-right: var(--o3-spacing-xs);
	font-family: var(--o3-font-family-metric);
}

.o3-editorial-typography-list-unordered li::before {
	content: '\2022'; /* dot character */
	transform: scale(1.5);
	transform-origin: center left;
	display: inline-block;
}

.o3-editorial-typography-list-ordered {
	counter-reset: item;
}

.o3-editorial-typography-list-ordered li::before {
	content: counter(item);
	counter-increment: item;
	font-feature-settings: 'tnum';
	font-weight: var(--o3-font-weight-semibold);
	font-size: var(--o3-font-size-metric2-2);
}
