[class^='o3-editorial-typography-list-'] {
	display: flex;
	flex-direction: column;
	padding: 0px;
	color: var(--o3-color-use-case-body-text);
	list-style: none;
	font-family: var(--_o3-body-font-family);
	font-weight: var(--_o3-body-font-weight);
	font-size: var(--_o3-body-font-size);
	line-height: var(--_o3-body-line-height);
}

[class^='o3-editorial-typography-list-'] li::before {
	margin-right: var(--o3-spacing-xs);
	font-family: var(--o3-font-family-metric);
	min-width: 0.7rem;
}

[class^='o3-editorial-typography-list-'] li {
	display: inline-flex;
}

.o3-editorial-typography-list-unordered li::before {
	content: '';
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='10' cy='10' r='10' /%3E%3C/svg%3E");
	background-size: 0.7ch;
	background-repeat: no-repeat;
	background-position: left center;
	height: var(--_o3-body-line-height);
	display: inline-block;
	flex-shrink: 0;
}

.o3-editorial-typography-list-ordered {
	counter-reset: item;
}

.o3-editorial-typography-list-ordered li::before {
	content: counter(item);
	counter-increment: item;
	font-feature-settings: 'tnum';
	font-weight: var(--o3-font-weight-semibold);
	font-size: var(--o3-font-size-metric2-1);
}
