@mixin _oMultiSelectButton() {
	border-style: none;
	color: _oMultiSelectGet('button-text-color');
	background-color: _oMultiSelectGet('button-bg-color');
	margin-right: oSpacingByIncrement(2);
	font-size: inherit;
	padding: div(oSpacingByIncrement(1), 2) oSpacingByIncrement(2);
	span {
		@include oIconsContent(
			$icon-name: 'cross',
			$color: _oMultiSelectGet('button-text-color'),
			$size: $_o-multi-select-icon-size
		);
		vertical-align: middle; // override default style from oIconsContent mixin
	}
}
