@mixin _oMultiSelectButton() {
	border-style: none;
	color: _oMultiSelectGet('button-text-color');
	background-color: _oMultiSelectGet('button-bg-color');
	margin-right: $_o-multi-select-spacing-two;
	font-size: inherit;
	padding: $_o-multi-select-button-top-padding $_o-multi-select-spacing-two;
	span {
		@include oIconsContent(
			$icon-name: 'cross',
			$color: _oMultiSelectGet('button-text-color'),
			$size: $_o-multi-select-icon-size
		);
		vertical-align: middle; // override default style from oIconsContent mixin
	}
}
