<a class="n-util-visually-hidden" href="#primary-nav">Skip to navigation</a>
<a class="n-util-visually-hidden" href="#site-content">Skip to content</a>

<div class="header-ad-placeholder__top ad-placeholder">
</div>

{{#if content.before}}
	<div class="o-header-before">{{{content.before}}}</div>
{{/if}}

<header class="o-header o-header--light-on-dark js-header" data-trackable="header">
	<div class="o-grid-container">
		<div class="o-grid-row">
			<div class="o-header__masthead" data-o-grid-colspan="12">
				{{#ifAll flags.editionSwitcher editions}}
					<div class="edition-switcher n-util-hide-no-js">
						<button class="edition-switcher__button js-edition-switcher-button" data-trackable="edition-switcher-toggler">{{editions.current.name}} Edition</button>
						<ul class="edition-switcher__editions" aria-hidden>
							<li class="edition-switcher__edition">
								{{#each editions.others}}
									<a href="/{{id}}?edition={{id}}" class="edition-switcher__edition__link" data-trackable="{{id}}">{{name}} Edition</a>
								{{/each}}
							</li>
						</ul>
					</div>
				{{/ifAll}}
				<div class="o-header__masthead__logo">
					<a class="o-header__logo__link" data-trackable="logo-large" href="/" title="Go to Financial Times homepage">
						<span class="n-util-visually-hidden">
							Financial Times
						</span>
					</a>
				</div>
				<nav class="o-header__primary-tools o-header__primary-tools--masthead js-primary-tools" role="navigation" aria-label="Useful tools">
					<ul class="o-header__primary-tools__items">
						{{> o-header/templates/partials/myft-tools }}
						{{> o-header/templates/partials/membership-tools }}
					</ul>
				</nav>
			</div>

			<div class="o-header__row o-header__row--primary" data-o-grid-colspan="12">
				<div class="o-header__row--inner js-suggestions-container">
					{{>o-header/templates/partials/primary-tools}}
					<div class="o-header__masthead__logo--mobile">
						<a class="o-header__logo__link" data-trackable="logo-large" href="/" title="Go to Financial Times homepage">
							<span class="n-util-visually-hidden">
								Financial Times
							</span>
						</a>
					</div>
					{{>o-header/templates/partials/primary-nav}}
				</div>
			</div>
		</div>
	</div>
</header>

<div class="header-ad-placeholder__bottom ad-placeholder">
</div>
