---
import Header from "@/components/header/Header.astro"
import Footer from "@/components/Footer.astro"

import {getStyles} from "@/helpers/getStyles"
const styles = getStyles(["o-layout", "o-fonts", "o-normalise"])
---

<Fragment set:html={styles} />

<div class="o-layout o-layout--landing">
	<div class="o-layout__header">
		<Header />
	</div>
	<slot />
	<div class="o-layout__footer">
		<Footer />
	</div>
</div>
