/// Helper for `o-brand` function.
/// @access private
@function _oFooterServicesGet($variables, $from: null) {
	@return oBrandGet($component: 'o-footer-services', $variables: $variables, $from: $from);
}

/// Helper for `o-brand` function.
/// @access private
@function _oFooterServicesSupports($variant) {
	@return oBrandSupportsVariant($component: 'o-footer-services', $variant: $variant);
}

/// Helper for `whitelabel` varibale customisation
/// @brand whitelabel
/// @param {Map} $variables - Brand variables to customise
/// @access public
/// @example scss
///     @include oFooterServicesCustomize((
///     	'text-color': rgb(73, 0, 39),
///     	'background-color': rgb(251, 238, 240),
///     	'border-color': hotpink,
///     	'link-color': rgb(156, 4, 85),
///     	'link-hover-color': rgb(156, 4, 85),
///     	'legal-text-color': rgb(214, 73, 148),
///     	'brand-background-color': oPrivateFoundationGet('o3-color-palette-black'),
///     	'brand-foreground-color': oPrivateFoundationGet('o3-color-palette-white'),
///     ));
@mixin oFooterServicesCustomize($variables) {
	@include oBrandCustomize('o-footer-services', $variables);
}

$_o-footer-services-shared-brand-config: (
	text-color: oPrivateFoundationGet('o3-color-palette-black'),
	background-color: oPrivateFoundationGet('o3-color-palette-black-5'),
	border-color: oPrivateFoundationGet('o3-color-palette-black-20'),
	link-color: oPrivateFoundationGet('o3-color-palette-black-80'),
	link-hover-color: oPrivateFoundationGet('o3-color-palette-black-60'),
	legal-text-color: oPrivateFoundationGet('o3-color-palette-black-60'),
	brand-background-color: oPrivateFoundationGet('o3-color-palette-black'),
);

@if oBrandIs('core') {
	@include oBrandDefine('o-footer-services', 'core', (
		'variables': map-merge($_o-footer-services-shared-brand-config, (
			brand-background-color: oPrivateFoundationGet('o3-color-palette-black-20'),
			'dark': (
				text-color: oPrivateFoundationGet('o3-color-palette-white'),
				background-color: oPrivateFoundationGet('o3-color-palette-slate'),
				border-color: oPrivateColorsMix('o3-color-palette-white', 'o3-color-palette-slate', 20),
				link-color: oPrivateFoundationGet('o3-color-palette-white'),
				link-hover-color: oPrivateFoundationGet('o3-color-palette-white'),
				legal-text-color: oPrivateColorsMix('o3-color-palette-white', 'o3-color-palette-slate', 60),
				brand-background-color: oPrivateFoundationGet('o3-color-palette-black')
			)
		)),
		'supports-variants': (
			'dark'
		)
	));
}

@if oBrandIs('internal') {
	@include oBrandDefine('o-footer-services', 'internal', (
		'variables': map-merge($_o-footer-services-shared-brand-config, (
			'background-color': oPrivateFoundationGet('o3-color-palette-slate-white-5'),
			'border-color': oPrivateFoundationGet('o3-color-palette-slate-white-15'),
			'brand-background-color': oPrivateFoundationGet('o3-color-palette-slate')
		)),
		'supports-variants': ()
	));
}

@if oBrandIs('whitelabel') {
	@include oBrandDefine('o-footer-services', 'whitelabel', (
		'variables': $_o-footer-services-shared-brand-config,
		'supports-variants': ()
	));
}
