.o-header__masthead {
	display: none;
	position: relative;

	@include oGridRespondTo(M) {
		display: block;
	}
	&:before {
		content: ' ';
		display: table;
	}
}

.o-header--light-on-dark {
	background-color: getColor('grey-tint5');
}

.o-header__masthead__logo {
	text-align: center;

	.o-header__logo__link {
		@include nextIcon(brand-ft-masthead, getColor('white'), 336);
		display: block;
		margin: 17px auto;
		height: 27px;

		&:after {
			content: none;
		}
	}
}

.o-header__masthead__logo--mobile {
	display: block;
	padding: 18px 0;

	@include oGridRespondTo(XS) {
		padding: 15px 0;
	}

	@include oGridRespondTo(S) {
		padding: 12px 0;
	}

	@include oGridRespondTo(M) {
		display: none;
	}

	.o-header__logo__link {
		@include nextIcon(brand-ft-masthead, getColor('white'), 138);
		display: block;
		height: 11px;
		margin: 0 auto;

		@include oGridRespondTo(XS) {
			@include nextIcon(brand-ft-masthead, getColor('white'), 177);
			display: block;
			height: 14px;
		}

		@include oGridRespondTo(S) {
			@include nextIcon(brand-ft-masthead, getColor('white'), 265);
			display: block;
			height: 21px;
		}
	}
}
