/// @access private
/// @output styles for error summary
@mixin _oFormsErrorSummary() {  
	.o-forms__error-summary {
		@include oTypographySans($scale: 0);
		background-color: oColorsMix('crimson', $percentage: 10);
		margin-bottom: $_o-forms-spacing-four;
		padding: $_o-forms-spacing-three;

		h4 {
			@include oTypographyBold('sans');
			color: oColorsMix('black', 'crimson', $percentage: 12.5);
			margin: 0 0 $_o-forms-spacing-one;
		}

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;

			span {
				@include oTypographyBold('sans');
			}
		}

		a {
			color: oColorsMix('black', 'crimson', $percentage: 12.5);
			display: inline-block;
			font-weight: 400;
			margin-top: $_o-forms-spacing-one;
			text-decoration: none;
			border-bottom: 1px solid _oFormsGet('invalid-base');
		}
	}
}
