@if $o-header-services-is-silent == false {
	.o-header-services--b2b {
		.o-header-services__product-name {
			color: oColorsGetColorFor(o-header-services-b2b-top-title, text);
		}

		.o-header-services__hamburger {
			background-color: oColorsGetColorFor(o-header-services-b2b-primary-nav, background);
		}

		.o-header-services__primary-nav {
			background-color: oColorsGetColorFor(o-header-services-b2b-primary-nav, background);
		}

		.o-header-services__nav-link {
			color: oColorsGetColorFor(o-header-services-b2b-primary-nav, text);

			&:hover,
			&--selected,
			&[aria-selected=true] {
				@include oColorsFor(o-header-services-b2b-primary-nav-item-hover, background text);
			}
		}
	}
}
