// .topper--branded
@mixin oTopperThemeBranded {
	.topper__content {
		-ms-grid-row: 2;
		-ms-grid-row-span: 3;
		grid-row: 2 / span 3;
		@include oGridRespondTo($until: L) {
			padding: 20px 0;
		}
	}

	.topper__read-next {
		-ms-grid-row: 2;
		-ms-grid-row-span: 3;
		grid-row: 2 / span 3;
	}

	@include oGridRespondTo($until: L) {
		//Make the background really full width
		.topper__background {
			position: absolute;
		}
	}
}

// .topper--has-headshot
@mixin oTopperHasHeadshot {
	.topper__tags,
	.topper__standfirst {
		box-sizing: border-box;
		padding-right: 100px;

		@include oGridRespondTo(M) {
			padding-right: 150px;
		}
	}

	.topper__headline {
		@include oGridRespondTo(M) {
			padding-right: 150px;
		}
	}
}

// .topper--opinion {
@mixin oTopperOpinion {
	.n-myft-ui--follow {
		margin-left: 20px;
	}

	.topper__opinion-genre {
		@include oTypographySans(2);
		font-weight: 200;
		color: oColorsGetPaletteColor('oxford');
	}

	.n-content-tag--with-follow {
		vertical-align: baseline;
	}

	&[data-textbox-background="sky"] {
		.topper__tags .o-typography-topic,
		.topper__columnist-name {
			color: oColorsGetPaletteColor('oxford');
			&:hover {
				color: oColorsGetPaletteColor('black-80');
			}
		}
	}
}

// .topper__headshot {
@mixin oTopperHeadshot {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100px;
	overflow: hidden;

	@include oGridRespondTo(M) {
		width: 150px;
	}

	@include oGridRespondTo(L) {
		bottom: -20px;
	}
}

// .topper__headshot-image {
@mixin oTopperHeadshotImage {
	max-width: 100%;
	display: block;
	margin-left: 8px;
}
