/// Base styles for a hero layout teaser
@mixin oTeaserHero {
	display: flex;
	flex-flow: column nowrap;

	.o-teaser__content {
		border: 0;
		background-color: $_o-teaser-color-hero-background;
	}

	.o-teaser__meta:after {
		content: '';
		display: block;
		width: 60px;
		margin-top: 5px;
		margin-bottom: 10px;
		border-bottom: 4px solid oColorsGetPaletteColor('claret-1');
	}
}

/// Base styles for themed hero teasers
@mixin oTeaserHeroThemeBase {
	@include oTeaserInverse;

	&.o-teaser--hero {
		.o-teaser__content,
		.o-teaser__image-container:after {
			border: 0;
		}

		.o-teaser__content:after {
			@include oGridRespondTo(S, L) {
				top: 0;
				border: 0;
			}
		}
	}
}

/// Hero opinion theme - blue background white based text
@mixin oTeaserHeroOpinion {
	&.o-teaser--hero {
		.o-teaser__content,
		.o-teaser__image-container:after {
			background-color: $_o-teaser-color-hero-opinion-background;
		}

		.o-teaser__content:after {
			@include oGridRespondTo(S, L) {
				background-color: $_o-teaser-color-hero-opinion-background;
			}
		}
	}
}

/// Hero image theme styles - full size image with text overlay
@mixin oTeaserHeroImage {

	@include oGridRespondTo($until: M) {
		@include oTeaserHeroCentre
		@include oTeaserHeroCentreImage
	}

	@include oGridRespondTo(M) {
		position: relative;

		.o-teaser__image-container {
			position: relative;
			padding-left: 0;
			z-index: 0;

			&:after {
				display: none;
			}
		}

		.o-teaser__content {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			width: 100%;
			min-height: 60%;
			background-color: transparent;
			background-image: linear-gradient(to bottom, rgba(oColorsGetPaletteColor('black'), 0.75), transparent);
		}

		.o-teaser__heading,
		.o-teaser__meta,
		.o-teaser__standfirst,
		.o-teaser__timestamp {
			color: oColorsGetPaletteColor('white');
		}

		.o-teaser__meta:after {
			border-bottom-color: oColorsGetPaletteColor('white');
		}
	}
}

/// Hero teaser image container - for standard hero teasers
@mixin oTeaserHeroImageContainer {
	.o-teaser__image-container {
		order: -1;
		width: 100%;
		padding-left: 30%;

		&:after {
			display: block;
			top: 50%;
			border: 0;
			background-color: $_o-teaser-color-hero-background;
		}
	}

	.o-teaser__image {
		max-width: 100%;
	}
}

/// Centred hero teaser styles for centering content
@mixin oTeaserHeroCentre {
	.o-teaser__content {
		text-align: center;
	}

	.o-teaser__meta:after {
		margin-left: auto;
		margin-right: auto;
	}
}

/// Centred hero teaser styles to centre image
@mixin oTeaserHeroCentreImage {
	.o-teaser__image-container {
		padding-left: 15%;
		padding-right: 15%;
		@include oGridRespondTo(M) {
			padding-left: 30%;
			padding-right: 30%;
		}
		@include oGridRespondTo(L) {
			padding-left: 15%;
			padding-right: 15%;
		}
	}
}

/// Hero standalone theme styles
@mixin oTeaserHeroStandalone {
	.o-teaser__heading {
		@include font-size(30, 30);
	}

	.o-teaser__image-container {
		padding-left: 20%;

		&:after {
			top: 25%;
			height: 75%;
		}
	}
}
