@mixin _oBannerThemeMarketingOuter() {
	@include oColorsFor(o-banner-marketing, text background);
}

@mixin _oBannerThemeMarketingSmallOuter() {
	@include oColorsFor(o-banner-marketing, text);
	background-color: transparent;
}

@mixin _oBannerThemeMarketingSmallInner() {
	@include oColorsFor(o-banner-marketing, background);
}

@mixin _oBannerThemeMarketingContent() {
	a {
		@include oTypographyLinkCustom(
			$baseColor: oColorsGetUseCase(o-banner-marketing-link, text),
			$hoverColor: oColorsGetUseCase(o-banner-marketing-link, text),
			$outlineColor: oColorsGetUseCase(o-banner-marketing-link, text),
			$backgroundColor: oColorsGetUseCase(o-banner-marketing, background)
		);
	}
}

@mixin _oBannerThemeMarketingHeading() {
	&:after {
		border-color: oColorsGetColorFor(o-banner-marketing-heading-rule, background);
	}
}

@mixin _oBannerThemeMarketingButton() {
	@include oButtonsTheme($theme: (
		'background': oColorsGetUseCase(o-banner-marketing-button, background),
		'accent': oColorsGetUseCase(o-banner-marketing-button, text),
		'colorizer': 'primary'
	));

	// This is a hack around the fact that custom buttons do not
	// support buttons with three colours. TODO: add this to o-buttons
	// https://github.com/Financial-Times/o-buttons/issues/128
	&,
	&:not([disabled]):active {
		@include oColorsFor(o-banner-marketing-button-active, text);
	}
}

@mixin _oBannerThemeMarketingLink() {
	@include oTypographyLinkCustom(
		$baseColor: oColorsGetUseCase(o-banner-marketing-link, text),
		$hoverColor: oColorsGetUseCase(o-banner-marketing-link, text),
		$outlineColor: oColorsGetUseCase(o-banner-marketing-link, text),
		$backgroundColor: oColorsGetUseCase(o-banner-marketing, background)
	);
}

@mixin _oBannerThemeMarketingCloseButton() {
	@include oIconsGetIcon('cross', oColorsGetColorFor(o-banner-marketing-close, text), $_o-banner-close-button-size, $iconset-version: 1);
}

@mixin _oBannerThemeMarketing {
	.o-banner--marketing {
		.o-banner__outer {
			@include _oBannerThemeMarketingOuter;
		}
		.o-banner__content {
			@include _oBannerThemeMarketingContent;
		}
		.o-banner__heading {
			@include _oBannerThemeMarketingHeading;
		}
		.o-banner__button {
			@include _oBannerThemeMarketingButton;
		}
		.o-banner__link {
			@include _oBannerThemeMarketingLink;
		}
		.o-banner__close {
			@include _oBannerThemeMarketingCloseButton;
		}

		// When combined with the "small" and "compact" themes
		&.o-banner--small,
		&.o-banner--compact {
			.o-banner__outer {
				@include _oBannerThemeMarketingSmallOuter;
			}
			.o-banner__inner {
				@include _oBannerThemeMarketingSmallInner;
			}
		}
	}
}
