// @deprecated This theme has been deprecated, and will be removed in the
// next major version of o-banner

@mixin oBannerThemeMarketingPrimaryOuter {
	@include oColorsFor(o-banner-marketing-primary, text background);
}

@mixin oBannerThemeMarketingPrimarySmallOuter {
	@include oColorsFor(o-banner-marketing-primary, text);
	background-color: transparent;
}

@mixin oBannerThemeMarketingPrimarySmallInner {
	@include oColorsFor(o-banner-marketing-primary, background);
}

@mixin oBannerThemeMarketingPrimaryHeading {
	&:after {
		border-color: oColorsGetColorFor(o-banner-marketing-primary-heading-rule, background);
	}
}

@mixin oBannerThemeMarketingPrimaryButton {
	@include oButtonsCustomTheme(oColorsGetUseCase(o-banner-marketing-primary-button, background), oColorsGetUseCase(o-banner-marketing-primary-button, text), primary);
	// This is a hack around the fact that custom buttons do not
	// support buttons with three colours. TODO: add this to o-buttons
	// https://github.com/Financial-Times/o-buttons/issues/128
	&,
	&:not([disabled]):active {
		@include oColorsFor(o-banner-marketing-primary-button-active, text);
	}
}

@mixin oBannerThemeMarketingPrimaryLink {
	@include oTypographyLinkCustom(
		$baseColor: oColorsGetUseCase(o-banner-marketing-primary-link, text),
		$hoverColor: oColorsGetUseCase(o-banner-marketing-primary-link, text),
		$outlineColor: oColorsGetUseCase(o-banner-marketing-primary-link, text),
		$backgroundColor: oColorsGetUseCase(o-banner-marketing-primary, background)
	);
}

@mixin oBannerThemeMarketingPrimaryCloseButton {
	@include oIconsGetIcon('cross', oColorsGetColorFor(o-banner-marketing-primary-close, text), $_o-banner-close-button-size);
}

@mixin oBannerThemeMarketingPrimary($class: 'o-banner') {
	@warn "The marketing-primary theme has been deprecated and will be removed in the next major release. Please use the marketing theme instead";
	.#{$class}--marketing-primary {
		.#{$class}__outer {
			@include oBannerThemeMarketingPrimaryOuter;
		}
		.#{$class}__heading {
			@include oBannerThemeMarketingPrimaryHeading;
		}
		.#{$class}__button {
			@include oBannerThemeMarketingPrimaryButton;
		}
		.#{$class}__link {
			@include oBannerThemeMarketingPrimaryLink;
		}
		.#{$class}__close {
			@include oBannerThemeMarketingPrimaryCloseButton;
		}

		// When combined with the "small" theme
		&.#{$class}--small {
			.#{$class}__outer {
				@include oBannerThemeMarketingPrimarySmallOuter;
			}
			.#{$class}__inner {
				@include oBannerThemeMarketingPrimarySmallInner;
			}
		}
	}
}
