@mixin _oBannerThemeProductOuter() {
	@include oColorsFor(o-banner-product, text background);
}

@mixin _oBannerThemeProductSmallOuter() {
	@include oColorsFor(o-banner-product, text);
	background-color: transparent;
}

@mixin _oBannerThemeProductSmallInner() {
	@include oColorsFor(o-banner-product, background);
}

@mixin _oBannerThemeProductContent() {
	a {
		@include oTypographyLinkCustom(
			$baseColor: oColorsGetUseCase(o-banner-product-link, text),
			$hoverColor: oColorsGetUseCase(o-banner-product-link, text),
			$outlineColor: oColorsGetUseCase(o-banner-product-link, text),
			$backgroundColor: oColorsGetUseCase(o-banner-product, background)
		);
	}
}

@mixin _oBannerThemeProductHeading {
	&:after {
		border-color: oColorsGetColorFor(o-banner-product-heading-rule, background);
	}
}

@mixin _oBannerThemeProductButton {
	@include oButtonsTheme($theme: (
		'background': oColorsGetUseCase(o-banner-product-button, background),
		'accent': oColorsGetUseCase(o-banner-product-button, text),
		'colorizer': 'primary'
	));

	// This is a hack around the fact that custom buttons do not
	// support buttons with three colours. TODO: add this to o-buttons
	// https://github.com/Financial-Times/o-buttons/issues/128
	&,
	&:not([disabled]):active {
		@include oColorsFor(o-banner-product-button-active, text);
	}
}

@mixin _oBannerThemeProductLink {
	@include oTypographyLinkCustom(
		$baseColor: oColorsGetUseCase(o-banner-product-link, text),
		$hoverColor: oColorsGetUseCase(o-banner-product-link, text),
		$outlineColor: oColorsGetUseCase(o-banner-product-link, text),
		$backgroundColor: oColorsGetUseCase(o-banner-product, background)
	);
}

@mixin _oBannerThemeProductCloseButton {
	@include oIconsGetIcon('cross', oColorsGetColorFor(o-banner-product-close, text), $_o-banner-close-button-size, $iconset-version: 1);
}

@mixin _oBannerThemeProduct() {
	.o-banner--product {
		.o-banner__outer {
			@include _oBannerThemeProductOuter;
		}
		.o-banner__content {
			@include _oBannerThemeProductContent;
		}
		.o-banner__heading {
			@include _oBannerThemeProductHeading;
		}
		.o-banner__button {
			@include _oBannerThemeProductButton;
		}
		.o-banner__link {
			@include _oBannerThemeProductLink;
		}
		.o-banner__close {
			@include _oBannerThemeProductCloseButton;
		}

		// When combined with the "small" and "compact" themes
		&.o-banner--small,
		&.o-banner--compact {
			.o-banner__outer {
				@include _oBannerThemeProductSmallOuter;
			}
			.o-banner__inner {
				@include _oBannerThemeProductSmallInner;
			}
		}
	}
}
