@mixin _oBannerThemeSmallBase {
	width: 100%;
	margin: 0;

	@include oGridRespondTo(S) {
		width: oGridColspan(8);
		margin: $_o-banner-spacing / 2;
	}

	@include oGridRespondTo(M) {
		width: oGridColspan(7);
	}

	@include oGridRespondTo(L) {
		width: oGridColspan(6);
	}

	@include oGridRespondTo(XL) {
		width: map-get($o-grid-layouts, XL) / 2; // width is 50% grid
		left: calc((100vw - #{map-get($o-grid-layouts, XL)}) / 2); // ((viewport - grid width) / 2)
	}
}

@mixin _oBannerThemeSmallOuter {
	background-color: transparent;
	box-shadow: none;
}

@mixin _oBannerThemeSmallInner {
	@include oColorsFor(o-banner, background);
	@include oVisualEffectsShadowsElevation('high');
	@include oTypographySans($scale: 2);
	display: block;
	padding: $_o-banner-spacing;
	padding-top: oSpacingByIncrement(7);
	max-width: none;
}

@mixin _oBannerThemeSmallContent {
	padding: 0;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	ul li {
		@include oTypographySans($scale: 2);
	}
	@include oGridRespondTo($until: M) {
		&,
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		ul li {
			@include oTypographySans($scale: 0);
		}
	}
}

@mixin _oBannerThemeSmallHeading {
	@include oTypographySans($scale: 4);
	padding-right: $_o-banner-spacing;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@include oTypographySans($scale: 4);
		@include oTypographyBold($font: 'sans');
	}
	@include oGridRespondTo($until: M) {
		&,
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			@include oTypographySans($scale: 3);
		}
	}
}

@mixin _oBannerThemeSmallActions {
	margin-top: oSpacingByName('s6');

	@include oGridRespondTo($until: M) {
		flex-direction: column;
		align-items: flex-start;
		margin-top: oSpacingByName('s6');
	}
}

@mixin _oBannerThemeSmallAction {
	padding-right: $_o-banner-spacing / 2;
}

@mixin _oBannerThemeSmallActionSecondary {
	@include oGridRespondTo($until: M) {
		margin-top: $_o-banner-spacing / 4;
	}
}

@mixin _oBannerThemeSmall() {
	.o-banner--small {
		@include _oBannerThemeSmallBase;

		.o-banner__outer {
			@include _oBannerThemeSmallOuter;
		}
		.o-banner__inner {
			@include _oBannerThemeSmallInner;
		}
		.o-banner__content {
			@include _oBannerThemeSmallContent;
		}
		.o-banner__heading {
			@include _oBannerThemeSmallHeading;
		}
		.o-banner__actions {
			@include _oBannerThemeSmallActions;
		}
		.o-banner__action {
			@include _oBannerThemeSmallAction;
		}
		.o-banner__action--secondary {
			@include _oBannerThemeSmallActionSecondary;
		}
	}
}
