/// Small teaser styles
@mixin oTeaserSmall {
	@include oTypographyPadding($bottom: 4);
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	border-bottom: 1px solid oColorsGetColorFor('o-teaser', border);

	.o-teaser__content {
		flex: 1 0 70%;
		order: 2;
	}

	.o-teaser__image-container {
		flex: 0 0 30%;
		width: 30%;
		padding-top: 4px; // to line up with tag cap-height
		padding-right: oGridGutter(M);

		@include oGridRespondTo($until: M) { // Mobile screens only
			display: none;
		}
	}
}

/// Small teaser styles for a stacked image
/// image will appear 100% width at the top of the teaser
@mixin oTeaserSmallStacked {
	flex-wrap: wrap;

	@include oGridRespondTo(M) {
		border-bottom: 0;
		padding-bottom: 0px;
	}

	.o-teaser__image-container {
		margin-bottom: 16px;

		@include oGridRespondTo(M) {
			flex: 1 0 100%;
			padding-top: 0;
			padding-right: 0;
		}
	}
}

@mixin oTeaserSmallImagePositionRight {
	&.o-teaser--has-image .o-teaser__image-container {
		order: 2;
		padding-left: oGridGutter(M);
		padding-right: inherit;
	}
}
