[class*="topper--split-text"] {

	.topper__read-next {
		display: none;
	}

	@include oGridRespondTo($until: M) {
		padding: 0;
		.topper__content {
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 20px 10px;
			min-height: 350px;
		}
		.topper__visual {
			min-height: 350px;
		}
	}

	@include oGridRespondTo(M) {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 1fr 1fr;
		-ms-grid-rows: 1fr;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;

		.topper__content {
			-ms-grid-column: 1;
			-ms-grid-column-span: 2;
			-ms-grid-row: 1;
			grid-column: 1 / span 2;
			grid-row: 1;
			width: 50%;
			box-sizing: border-box;
			-ms-grid-row-align: center;
			align-self: center;
			padding-right: 20px;
		}

		.topper__visual {
			grid-row: 1;
		}

		.topper__picture {
			width: 50%;
			float: right;
			height: 100%;
			position: relative;
		}

		.topper__image {
			position: absolute;
			@include oGridRespondTo($until: M) {
				max-height: 480px;
			}
		}
	}

	@supports (object-fit: cover) {

		.topper__visual {
			@include oGridRespondTo(M) {
				height: 480px;
			}
			@include oGridRespondTo(L) {
				height: 600px;
			}
		}
	}

}

.topper--split-text-center {
	@include oGridRespondTo(S) {
		@include alignText(center);
	}
}
