@mixin _oBannerTheme($theme, $include-layout-styles: true) {

	// Get and default some of the theme properties. Link, button, and rule colors
	// default to text color, because we know this at least should be set to have
	// a high enough contrast against the background
	$text-color: _oBannerGet('text-color', $from: $theme);
	$background-color: _oBannerGet('background-color', $from: $theme);
	$link-text-color: _oBannerGet('link-text-color', $from: $theme);
	$link-text-color: if($link-text-color, $link-text-color, $text-color);
	$button-background-color: _oBannerGet('button-background-color', $from: $theme);
	$button-background-color: if($button-background-color, $button-background-color, $text-color);
	$button-background-color: _oBannerGet('button-background-color', $from: $theme);
	$button-background-color: if($button-background-color, $button-background-color, $text-color);
	$heading-rule-color: _oBannerGet('heading-rule-color', $from: $theme);
	$heading-rule-color: if($heading-rule-color, $heading-rule-color, $text-color);

	.o-banner__outer {
		background: $background-color;
		color: $text-color;
	}
	.o-banner__content {
		a {
			@include oTypographyLink($theme: (
				'base': $link-text-color,
				'hover': $link-text-color,
				'context': $background-color
			));
		}
	}
	.o-banner__heading {
		&:after {
			border-color: $heading-rule-color;
		}
	}
	.o-banner__button {
		@include oButtonsContent((
			'size': 'big',
			'type': 'primary',
			'theme': (
				'color': $button-background-color,
				'context': $background-color
			)
		));
	}
	.o-banner__link {
		@include oTypographyLink($theme: (
			'base': $link-text-color,
			'hover': $link-text-color,
			'context': $background-color
		));
	}
	.o-banner__close {
		@include oIconsContent('cross', $text-color, $size: $_o-banner-close-button-size);
	}

	// When combined with the "small" and "compact" themes
	@if $include-layout-styles {
		&.o-banner--small,
		&.o-banner--compact {
			.o-banner__outer {
				color: $text-color;
				background-color: transparent;
			}
			.o-banner__inner {
				background: $background-color;
			}
		}
	}
}
