@mixin _oBannerTheme($theme, $include-layout-styles) {
	.o-banner__outer {
		background: _oBannerGet('background', $from: $theme);
		color: _oBannerGet('text', $from: $theme);
	}
	.o-banner__content {
		a {
			@include oTypographyLink($theme: (
				'base': _oBannerGet('link-text', $from: $theme),
				'hover': _oBannerGet('link-text', $from: $theme),
				'context': _oBannerGet('background', $from: $theme)
			));
		}
	}
	.o-banner__heading {
		&:after {
			border-color: _oBannerGet('heading-rule', $from: $theme);
		}
	}
	.o-banner__button {
		@include oButtonsContent((
			'size': 'big',
			'type': 'primary',
			'theme': (
				'color': _oBannerGet('button-background', $from: $theme),
				'context': _oBannerGet('background', $from: $theme)
			)
		));
	}
	.o-banner__link {
			@include oTypographyLink($theme: (
				'base': _oBannerGet('link-text', $from: $theme),
				'hover': _oBannerGet('link-text', $from: $theme),
				'context': _oBannerGet('background', $from: $theme)
			));
	}
	.o-banner__close {
		@include oIconsContent('cross', _oBannerGet('text', $from: $theme), $size: $_o-banner-close-button-size);
	}

	// When combined with the "small" and "compact" themes
	@if $include-layout-styles {
		&.o-banner--small,
		&.o-banner--compact {
			.o-banner__outer {
				color: _oBannerGet('text', $from: $theme);
				background-color: transparent;
			}
			.o-banner__inner {
				background: _oBannerGet('background', $from: $theme);
			}
		}
	}
}
