/// Base Top story styles for all variants
@mixin oTeaserTopStoryBase {
	.o-teaser__content {
		padding: 0 0 30px;
		border: 0;
	}

	.o-teaser__heading {
		@include oTypographyProgressiveFont(serifDisplay, l);
		@include oTypographyFallbackFontSize(serifDisplay, 34px);
		@include font-size(34, 34);

		@include oGridRespondTo(L) {
			@include font-size(48, 48);
			@include oTypographyFallbackFontSize(serifDisplay, 48px);
		}
	}

	.o-teaser__standfirst {
		@include font-size(20, 24);
	}
}

/// Standalone top story theme styles
@mixin oTeaserTopStoryStandalone {
	.o-teaser__image-container {
		margin-bottom: 20px;
	}
}

/// Landscape top story theme styles
@mixin oTeaserTopStoryLandscape {
	@include oTeaserClearfix;
	@include oColorsFor('o-teaser-hero', background);
	padding: 10px;

	@include oGridRespondTo(M) {
		padding: 20px 0 0 20px;

		.o-teaser__content {
			float: left;
			width: 50%;
			padding-right: 20px;
		}

		.o-teaser__image-container,
		.o-teaser__related {
			float: right;
			width: 50%;
		}

		.o-teaser__related {
			padding-right: 20px;
		}
	}
}

/// Big Story top story theme styles
@mixin oTeaserTopStoryBigStory {
	margin-bottom: 0;
	padding: 0;
	border-bottom: 0;

	.o-teaser__image-placeholder {
		padding-bottom: 100%;
	}

	.o-teaser__content {
		padding: 60px 0 10px;
	}

	@include oGridRespondTo(M) {
		.o-teaser__content {
			float: left;
			width: 50%;
			padding: 60px 20px 10px 0;
		}

		.o-teaser__image-container {
			width: 50%;
			float: right;
		}
	}

	@include oGridRespondTo(L) {
		.o-teaser__image-container {
			margin-bottom: 0;
		}
	}
}
