@mixin oTeaserVideo {
	.o-teaser__heading:before {
		@include oIconsGetIcon('play', oColorsGetPaletteColor('white'), 15, $apply-width-height: false, $iconset-version: 1);
		content: '';
		background-color: oColorsGetPaletteColor('slate');
		margin-right: 0.15em;
		width: 0.7em;
		height: 0.7em;
		min-width: 12px;
		min-height: 12px;
	}

	&.o-teaser--has-image {
		.o-teaser__heading:before {
			content: none;
		}
	}

	&.o-teaser--small {
		.o-teaser__standfirst {
			display: none;
		}
	}

	// Add play icon overlay
	.o-teaser__image-placeholder {
		position: relative;

		&:after {
			@include oIconsGetIcon('play', oColorsGetPaletteColor('white'), 30, $apply-width-height: false, $iconset-version: 1);
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			background-color: oColorsGetPaletteColor('slate');
			width: 15%;
			padding-top: 15%;
			z-index: 1;
		}
	}
}

@mixin oTeaserBigVideo {
	// this variation assumes no --has-image variation...
	// it's way too specific and quirky to try and override
	.o-teaser__heading:before {
		content: none;
	}

	&.o-teaser--hero {
		// this teaser has a little underline below the metadata element with a margin...
		.o-teaser__meta {
			// ...but if this teaser is used with --stretch variation then the metadata
			// element will contain this margin, creating a double-height gap.
			&:after {
				margin-bottom: 0;
			}
		}
	}

	.o-teaser__image-container {
		margin: 1em 0 0.5em;
	}
}
