<div class="demo" role="application">
	<p>
		Clicking the button will show the loading indicator for a set time. The indicator has been marked up with all the appropriate ARIA attributes.
	</p>
	<button class="demo-toggle demo-off">Start example</button>
	<br>
	<div class="o-loading o-loading--dark" role="progressbar" aria-valuetext="loading" tabindex="0"></div>
</div>
