<div class="o-message o-message--action-bleed o-message--inform-inverse" data-o-component="o-message" data-close="false">
    <div class="o-message__container">
        <div class="o-message__content">
            <p class="o-message__content-main">
                The quick brown fox did <span class="o-message__content-highlight">not</span> jump over the lazy dogs.
            </p>
            <div class="o-message__actions">
                <a href="#" class="o-message__actions__primary">Button</a>
            </div>
        </div>
    </div>
</div>
