<div class="o-message o-message--alert-bleed o-message--success" data-o-component="o-message">
	<div class="o-message__container">
		<div class="o-message__content">
			<p class="o-message__content-main">
				<span class="o-message__content-highlight">Hooray!</span>
				The quick brown fox jumped over the lazy dogs!
			</p>
		</div>
	</div>
</div>
