<h6>Alert Messages</h6>
<div class="demo-message">
	<div class="o-message o-message--alert o-message--error" data-o-component="o-message">
		<div class="o-message__container">
			<div class="o-message__content">
				<p class="o-message__content-main">
					<span class="o-message__content-highlight">Something went wrong!</span>
					<span class="o-message__content-detail">The quick brown fox did not jump over the lazy dogs.</span>
				</p>
				<div class="o-message__actions">
					<a href="#" class="o-message__actions__primary">Button</a>
					<a href="#" class="o-message__actions__secondary">Text link</a>
				</div>
			</div>
		</div>
	</div>

	<div class="o-message o-message--alert o-message--neutral" data-o-component="o-message">
		<div class="o-message__container">
			<div class="o-message__content">
				<p class="o-message__content-main">
					<span class="o-message__content-highlight">Meh.</span>
					<span class="o-message__content-detail">There's a fox, and some lazy dogs. Many lazy dogs. Many, many, many lazy dogs. Only one fox. Many, many, many lazy dogs.</span>
				</p>
				<div class="o-message__actions">
					<a href="#" class="o-message__actions__primary">Button</a>
					<a href="#" class="o-message__actions__secondary">Text link</a>
				</div>
			</div>
		</div>
	</div>

	<div class="o-message o-message--alert o-message--success" data-o-component="o-message">
		<div class="o-message__container">
			<div class="o-message__content">
				<p class="o-message__content-main">
					<span class="o-message__content-highlight">Hooray!</span>
					<span class="o-message__content-detail">The quick brown fox jumped over the lazy dogs!</span>
				</p>
				<div class="o-message__actions">
					<a href="#" class="o-message__actions__primary">Button</a>
					<a href="#" class="o-message__actions__secondary">Text link</a>
				</div>
			</div>
		</div>
	</div>

	<div class="o-message o-message--alert-bleed o-message--success" data-o-component="o-message">
		<div class="o-message__container">
			<div class="o-message__content">
				<p class="o-message__content-main">
					<span class="o-message__content-highlight">Hooray!</span>
					<span class="o-message__content-detail">The quick brown fox jumped over the lazy dogs!</span>
				</p>
			</div>
		</div>
	</div>
