<div class="demo-message">
	<div class="o-message o-message--alert o-message--error" data-o-component="o-message">
		<div class="o-message__container">
			<div class="o-message__content">
				<p class="o-message__highlight">Something went wrong!<span class="o-message__detail">The quick brown fox did not jump over the lazy dogs.</span></p>
				<div class="o-message__actions">
					<a href="#" class="o-message__action--primary">Button</a>
					<a href="#" class="o-message__action--secondary">Text link</a>
				</div>
			</div>
		</div>
	</div>

	<div class="o-message o-message--alert o-message--neutral" data-o-component="o-message">
		<div class="o-message__container">
			<div class="o-message__content">
				<p class="o-message__highlight">Meh.<span class="o-message__detail">There's a fox, and some lazy dogs</span>.</p>
				<div class="o-message__actions">
					<a href="#" class="o-message__action--primary">Button</a>
					<a href="#" class="o-message__action--secondary">Text link</a>
				</div>
			</div>
		</div>
	</div>

	<div class="o-message o-message--alert o-message--success" data-o-component="o-message">
		<div class="o-message__container">
			<div class="o-message__content">

				<p class="o-message__highlight">Hooray!<span class="o-message__detail">The quick brown fox jumped over the lazy dogs!</span></p>
				<div class="o-message__actions">
					<a href="#" class="o-message__action--primary">Button</a>
					<a href="#" class="o-message__action--secondary">Text link</a>
				</div>
			</div>
		</div>
	</div>

	<div class="o-message o-message--alert-bleed o-message--success" data-o-component="o-message">
		<div class="o-message__container">
			<div class="o-message__content">
				<p class="o-message__highlight">Hooray!<span class="o-message__detail">The quick brown fox jumped over the lazy dogs!</span></p>
			<div class="o-message__actions">
				<a href="#" class="o-message__action--primary">Button</a>
				<a href="#" class="o-message__action--secondary">Text link</a>
			</div>
		</div>
		</div>
	</div>
</div>
