<div class="demo-inner-message">
	<div class="o-message o-message--alert-inner o-message--success" data-o-component="o-message">
		<div class="o-message__container">
			<div class="o-message__content">
				<p class="o-message__content-main">
					<span class="o-message__content-highlight">Hooray!</span>
					<span class="o-message__content-detail">The quick brown fox jumped over the lazy dogs!</span>
				</p>
				<p class="o-message__content--additional">Did you know that that sentence uses all of the letters in the alphabet at least once?</p>

				<div class="o-message__actions">
					<a href="#" class="o-message__actions__primary">Button</a>
					<a href="#" class="o-message__actions__secondary">Text link</a>
				</div>
			</div>
		</div>
	</div>
</div>
