
<div class="demo-buttons">
	<button class="demo-button" id="banner-standard">Standard banner</button>
	<button class="demo-button" id="banner-small">Small banner</button>
	<button class="demo-button" id="banner-compact">Compact banner</button>
</div>

<div class="demo-buttons">
	<button class="demo-button" id="banner-marketing">Marketing banner</button>
	<button class="demo-button" id="banner-marketing-small">Marketing banner (small)</button>
	<button class="demo-button" id="banner-marketing-compact">Marketing banner (compact)</button>
</div>

<div class="demo-buttons">
	<button class="demo-button" id="banner-product">Product banner</button>
	<button class="demo-button" id="banner-product-small">Product banner (small)</button>
	<button class="demo-button" id="banner-product-compact">Product banner (compact)</button>
</div>

<div class="demo-buttons">
	<button class="demo-button" id="banner-form">Banner with a form</button>
</div>
