<button class="o-buttons o-buttons--secondary demo-notification--method">Notification from Method</button>
<button class="o-buttons o-buttons--secondary demo-notification--error">Notification with error style</button>
<button class="o-buttons o-buttons--secondary demo-notification--success">Notification with success style</button>
<button class="o-buttons o-buttons--secondary demo-notification--keep">Notification requries explicit dismissal</button>