<div class="o-forms">
    <div class="o-forms__group o-forms__group--inline-together">
        <a href="#" class="o-forms__radio-button o-forms__radio-button--current">
            Anchor Link A
        </a>
        <a href="#" class="o-forms__radio-button">
            Anchor Link B
        </a>
    </div>
</div>
