<article class="o-grid-row demo demo-article">
	<div data-o-grid-colspan="12 S11 Scenter M9 L8 XL7">
		<aside class="demo-article__body o-typography-aside-wrapper">
			<h3>This is the aside title</h3>
			<article>
				<h4>
					<a href="#">Headline link to another article</a>
				</h4>
			</article>
			<div>
				<p>Here's some content in the aside.</p>
				<p>There could be a few paragraphs.</p>
			</div>
			<blockquote>
				<p>Here's a blockquote that's pulled out into an aside</p>
				<footer>This is who said it</footer>
			</blockquote>
		</aside>
		<br>
		<aside>
			<div class="o-typography-big-number">222m</div>
			<footer class="o-typography-footer o-typography-bold">This is quite a big number</footer>
		</aside>
		<br>
		<aside>
			<h3 class="o-typography-aside__title">This is the aside title - standard</h3>
			<h3 class="o-typography-aside__title--large">This is the aside title - large</h3>
			<br>
			<article>
				<h4 class="o-typography-aside__headline">Headline to another article no link - standard</h4>
				<h4 class="o-typography-aside__headline--large">Headline to another article no link - large</h4>
				<h4 class="o-typography-aside__headline--small">Headline to another article no link - small</h4>
			</article>
			<br>
			<div>
				<p class="o-typography-aside__body">Aside content in standard size.</p>
				<p class="o-typography-aside__body--small">Aside content in small size.</p>
			</div>
		</aside>
	</div>
</article>
