<button class="o-buttons o-buttons--primary o-buttons--b2c">B2C theme</button>
<button class="o-buttons o-buttons--primary o-buttons--b2c">B2C theme</button>
<button class="o-buttons o-buttons--primary o-buttons--b2c o-buttons-icon o-buttons-icon--arrow-right">B2C theme</button>
<button class="o-buttons o-buttons--primary o-buttons--big o-buttons--b2c">B2C theme</button>
