<span class="o-labels-badge">Label</span>
<span class="o-labels-badge o-labels--active">Active</span>
<span class="o-labels-badge o-labels--error">Error</span>

<br />
<br />

<span class="o-labels-badge o-labels--big">Big Label</span>
<span class="o-labels-badge o-labels--big o-labels--active">Big Active</span>
<span class="o-labels-badge o-labels--big o-labels--error">Big Error</span>
