<div class="o-layout" data-o-component="o-layout">
	{{> shared/header}}

	<div class="o-layout__main o-layout-typography" data-o-component="o-syntax-highlight">
        <h1>Lorem, ipsum.</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum quam iure quas velit animi sunt aliquid quos esse ea, dolor eaque non repellendus commodi id inventore quae, dicta ducimus? Similique.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, sapiente.</p>
	</div>

	{{> shared/footer}}
</div>
