<h3>Light theme</h3>
<div class="demo">
	<div class="demo-card demo-card--light">
		<div class="o-loading o-loading--dark o-loading--small"></div>
	</div>
	<div class="demo-card demo-card--light">
		<div class="o-loading o-loading--dark o-loading--medium"></div>
	</div>
	<div class="demo-card demo-card--light">
		<div class="o-loading o-loading--dark o-loading--large"></div>
	</div>
</div>
