<script src='//polyfill.webservices.ft.com/v1/polyfill.min.js'></script>
<table class="o-table {{modifierClass}}">
    <tr>
        <th>Column heading</th>
        <th>Column heading</th>
        <th data-o-table-data-type="numeric">Column heading</th>
        <th data-o-table-data-type="numeric">Column heading</th>
    </tr>
    <tr>
        <td>text data</td>
        <td>text data</td>
        <td data-o-table-data-type="numeric">123</td>
        <td data-o-table-data-type="numeric">123.45</td>
    </tr>
    <tr>
        <td>text data</td>
        <td>text data</td>
        <td data-o-table-data-type="numeric">22</td>
        <td data-o-table-data-type="numeric">22.2</td>
    </tr>
    <tr>
        <td>text data</td>
        <td>text data</td>
        <td data-o-table-data-type="numeric">3</td>
        <td data-o-table-data-type="numeric">3.0</td>
    </tr>
</table>

<table class="o-table {{modifierClass}}">
    <tr>
        <th scope="row">Row heading</th>
        <td>text data</td>
        <td>text data</td>
        <td data-o-table-data-type="numeric">123</td>
        <td data-o-table-data-type="numeric">123.45</td>
    </tr>
    <tr>
        <th scope="row">Row heading</th>
        <td>text data</td>
        <td>text data</td>
        <td data-o-table-data-type="numeric">123</td>
        <td data-o-table-data-type="numeric">123.45</td>
    </tr>
    <tr>
        <th scope="row">Row heading</th>
        <td>text data</td>
        <td>text data</td>
        <td data-o-table-data-type="numeric">123</td>
        <td data-o-table-data-type="numeric">123.45</td>
    </tr>
    <tr>
        <th scope="row">Row heading</th>
        <td>text data</td>
        <td>text data</td>
        <td data-o-table-data-type="numeric">123</td>
        <td data-o-table-data-type="numeric">123.45</td>
    </tr>
</table>