<h3>Dark theme</h3>
<div class="demo">
	<div class="demo-card demo-card--dark">
		<div class="o-loading o-loading--light o-loading--small"></div>
	</div>
	<div class="demo-card demo-card--dark">
		<div class="o-loading o-loading--light o-loading--medium"></div>
	</div>
	<div class="demo-card demo-card--dark">
		<div class="o-loading o-loading--light o-loading--large"></div>
	</div>
</div>
