<h1>Basic usage</h1>
<div class="demo">
	<div class="demo-card demo-card--light">
		<div class="o-loading o-loading--dark"></div>
	</div>
	<div class="demo-card demo-card--dark">
		<div class="o-loading o-loading--light"></div>
	</div>
</div>
