<table class="o-table {{modifierClass}}" data-o-component="o-table">
	<thead>
		<th>Cheese</th>
		<th>Bread</th>
		<th data-o-table-data-type="numeric">Cost (GBP)</th>
		<th data-o-table-data-type="numeric">Cost (EUR)</th>
	</thead>
	<tbody>
		<tr>
			<td>cheddar</td>
			<td>rye</td>
			<td data-o-table-data-type="numeric">2</td>
			<td data-o-table-data-type="numeric">1.56</td>
		</tr>
		<tr>
			<td>stilton</td>
			<td>wholemeal</td>
			<td data-o-table-data-type="numeric">2</td>
			<td data-o-table-data-type="numeric">1.85</td>
		</tr>
		<tr>
			<td>red leicester</td>
			<td>white</td>
			<td data-o-table-data-type="numeric">3</td>
			<td data-o-table-data-type="numeric">2.72</td>
		</tr>
	</tbody>
</table>

<table class="o-table {{modifierClass}}" data-o-component="o-table">
	<thead>
		<th>Cheese</th>
		<th>Bread</th>
		<th data-o-table-data-type="numeric">Cost (GBP)</th>
		<th data-o-table-data-type="numeric">Cost (EUR)</th>
	</thead>
	<tbody>
		<tr>
			<td data-o-table-order=0>cheddar</td>
			<td data-o-table-order=1>rye</td>
			<td data-o-table-order=2>2</td>
			<td data-o-table-order=3>1.56</td>
		</tr>
		<tr>
			<td data-o-table-order=3>stilton</td>
			<td data-o-table-order=2>wholemeal</td>
			<td data-o-table-order=1>2</td>
			<td  data-o-table-order=0>1.85</td>
		</tr>
		<tr>
			<td data-o-table-order=1>red leicester</td>
			<td data-o-table-order=3>white</td>
			<td data-o-table-order=2>3</td>
			<td data-o-table-order=0>2.72</td>
		</tr>
	</tbody>
</table>
