<blockquote class="o-typography-blockquote">
	<p>Blockquote - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis ea suscipit iusto perspiciatis harum, qui maxime necessitatibus facilis, quo natus rem accusamus autem! Magnam pariatur, perferendis molestiae et tenetur repudiandae.</p>
	<footer>by Oliver Powell</footer>
</blockquote>
