<article class="o-grid-row demo demo-article">
	<div data-o-grid-colspan="12 S11 Scenter M9 L8 XL7">
		<div class="demo-article__body o-typography-body-wrapper">
			<p>3<sup>rd</sup> h<sub>2</sub>o <strong>Anheuser-Busch</strong> <em>InBev</em> raised its proposed takeover offer for SABMiller to £43.50 a share <small>on Monday</small>, upping the stakes in a takeover battle to create the world’s dominant brewing company, according to people familiar with the latest bid.</p>
			<p>News of the fourth proposal by <a href="#">AB InBev</a> for its London-listed rival, which values SABMiller’s equity at $70bn, came with less than 52 hours before a UK bid deadline.</p>
			<h2>In Article Subhead Lorem ipsum dolor sit amet.</h2>
			<p>Glencore has fired the starting gun on a sales process for two copper assets after the miner-cum-trader was approached by several suitors.</p>

			<h3>Heading 3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam!</h3>
			<p>People close to the company said there was no guarantee that Glencore would sell either the Cobar mine in Australia or Lomas Bayas in Chile, which analysts said could be worth between $500m to $1bn.</p>

			<h4>Heading 4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam!</h4>
			<p>Nemo, aspernatur. Quae delectus necessitatibus recusandae corporis, dolorem, molestiae vel pariatur, perspiciatis nisi in saepe non asperiores iure quo, blanditiis.</p>
			<ul>
				<li>Lorem ipsum dolor sit amet.</li>
				<li>Officia sequi autem in explicabo.</li>
				<li>Dolores placeat, <a href="#void">at distinctio</a> non!</li>
				<li>Quo totam numquam, molestias consequatur.</li>
				<li>Quasi libero fuga soluta quisquam!</li>
			</ul>
			<ol>
				<li>Article ordered list item</li>
				<li>Officia sequi autem in explicabo.</li>
				<li>Dolores placeat, <a href="#void">at distinctio</a> non!</li>
				<li>Quo totam numquam, molestias consequatur.</li>
				<li>Quasi libero fuga soluta quisquam!</li>
			</ol>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas aperiam magni, sint ut minus omnis eligendi velit non dolor odio optio quaerat dignissimos assumenda excepturi impedit, modi molestias iste. Suscipit tempora nemo, id ducimus vero voluptates omnis cumque provident. Eum velit temporibus consectetur officia! Sit saepe deserunt at nisi necessitatibus!</p>
			<figure>
				<img alt="" src="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fim.ft-static.com%2Fcontent%2Fimages%2Fa60ae24b-b87f-439c-bf1b-6e54946b4cf2.img?source=otype">
				<figcaption>
					<a href="#void">©Lorem</a> John Doe
				</figcaption>
			</figure>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas aperiam magni, sint ut minus omnis eligendi velit non dolor odio optio quaerat dignissimos assumenda excepturi impedit, modi molestias iste. Suscipit tempora nemo, id ducimus vero voluptates omnis cumque provident. Eum velit temporibus consectetur officia! Sit saepe deserunt at nisi necessitatibus!</p>
			<hr />
			<p><em><strong>Letter in response to this article:</strong></em></p>
			<p><em><a href="#void">Spending €1.4bn for the ‘Rosetta stone’ is a tragic misappropriation of resources / From J Antoni Rafalski</a></em></p>
			<footer>Footer such as copyright notice.</footer>
		</div>
	</div>
</article>
