<article class="o-grid-row demo demo-article">
	<div data-o-grid-colspan="12 S11 Scenter M9 L8 XL7">
		<div class="demo-article__body">
			<p class="o-typography-body">Anheuser-Busch InBev raised its proposed takeover offer for SABMiller to £43.50 a share on Monday, upping the stakes in a takeover battle to create the world’s dominant brewing company, according to people familiar with the latest bid.</p>
			<p class="o-typography-body">News of the fourth proposal by <a href="#" class="o-typography-link">AB InBev</a> for its London-listed rival, which values SABMiller’s equity at $70bn, came with less than 52 hours before a UK bid deadline.</p>
			<p class="o-typography-body">Glencore has fired the starting gun on a sales process for two copper assets after the miner-cum-trader was approached by several suitors.</p>
			<p class="o-typography-body">People close to the company said there was no guarantee that Glencore would sell either the Cobar mine in Australia or Lomas Bayas in Chile, which analysts said could be worth between $500m to $1bn.</p>
			<p class="o-typography-body">Nemo, aspernatur. Quae delectus necessitatibus recusandae corporis, dolorem, molestiae vel pariatur, perspiciatis nisi in saepe non asperiores iure quo, blanditiis.</p>
			<p class="o-typography-body">
				Bold: <strong class="o-typography-bold">o-typography-bold</strong><br />
				Italic: <em class="o-typography-italic">o-typography-italic</em><br />
				Superscript: <sup class="o-typography-sup">o-typography-sup</sup><br />
				Subscript: <sub class="o-typography-sub">o-typography-sub</sub><br />
			</p>

			<ul class="o-typography-body o-typography-list">
				<li>Lorem ipsum dolor sit amet.</li>
				<li>Officia sequi autem in explicabo.</li>
				<li>Dolores placeat, <a class="o-typography-link" href="#void">at distinctio</a> non!</li>
				<li>Quo totam numquam, molestias consequatur.</li>
				<li>Quasi libero fuga soluta quisquam!</li>
			</ul>
			<ol class="o-typography-body o-typography-list">
				<li>Article ordered list item</li>
				<li>Officia sequi autem in explicabo.</li>
				<li>Dolores placeat, <a class="o-typography-link" href="#void">at distinctio</a> non!</li>
				<li>Quo totam numquam, molestias consequatur.</li>
				<li>Quasi libero fuga soluta quisquam!</li>
			</ol>
			<footer class="o-typography-footer">Footer such as copyright notice.</footer>
		</div>
	</div>
</article>
