<p class="o-typography-body">Body - Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#" class="o-typography-link">Link</a> a rem <strong class="o-typography-bold">excepturi</strong> consequuntur commodi dolores ad <em class="o-typography-italic">laboriosam</em> qui odit ipsum distinctio quos laborum dolore magnam iure rerum, enim deleniti saepe sunt.</p>
<p class="o-typography-body">Lorem ipsum dolor sit amet<sup class="o-typography-sup">Sup</sup>, consectetur adipisicing elit<sub class="o-typography-sub">Sub</sub>. <a class="o-typography-link" href="#">Link Necessitatibus asperiores</a></p>
<p class="o-typography-body">Lorem ipsum dolor <a href="#" class="o-typography-link--external">sit amet consectetur</a> adipisicing elit. Non atque doloribus quaerat, esse ipsum doloremque.</p>
