<div class="o-topper o-topper--branded o-topper--color-wheat">
	<div class="o-topper__content">
		<div class="o-topper__tags">
			<a href="https://www.ft.com/stream/c65ad97e-ccf0-4b6a-b34a-0e03744a9431" class="o-topper__brand">
				#techFT
			</a>
			<a href="https://www.ft.com/technology" class="o-topper__topic">Technology</a>
		</div>

		<h1 class="o-topper__headline" data-trackable="header">
			<span class="article-classifier__gap">Facebook's newsfeed revamp angers publishers (again)</span>
		</h1>

		<div class="o-topper__standfirst">AI’s techmate, CES’s slow-burning trends&nbsp;&nbsp;</div>
	</div>

	<div class="o-topper__background"></div>
</div>
