<div class="demo-video-container demo-video-container--large">
  <div class="o-video o-video--large"
    data-o-component="o-video"
    data-o-video-id="eebe9cb5-8d4c-3bd7-8dd9-50e869e2f526"
    data-o-video-advertising="false">
  </div>
</div>
