<table class="o-table" data-o-component="o-table">
	<caption class="o-table__caption--top">
		Top caption (default)
	</caption>
	<caption class="o-table__caption--bottom">
		Bottom caption
	</caption>
	<tr>
		<th>Fruit</th>
		<th>Genus</th>
		<th data-o-table-data-type="numeric" class="o-table__cell--numeric">Cost <span class="o-table__cell--content-secondary">(GBP)</span></th>
		<th data-o-table-data-type="numeric" class="o-table__cell--numeric">Cost <span class="o-table__cell--content-secondary">(EUR)</span></th>
	</tr>
	<tr>
		<td>Dragonfruit</td>
		<td>Stenocereus</td>
		<td data-o-table-data-type="numeric" class="o-table__cell--numeric">3</td>
		<td data-o-table-data-type="numeric" class="o-table__cell--numeric"></td>
	</tr>
	<tr>
		<td>Durian</td>
		<td>Durio</td>
		<td data-o-table-data-type="numeric" class="o-table__cell--numeric">2</td>
		<td data-o-table-data-type="numeric" class="o-table__cell--numeric">1.85</td>
	</tr>
	<tr>
		<td>Naseberry</td>
		<td>Manilkara</td>
		<td data-o-table-data-type="numeric" class="o-table__cell--numeric">1</td>
		<td data-o-table-data-type="numeric" class="o-table__cell--numeric">1.56</td>
	</tr>
</table>
