<div class="demo-video-container demo-video-container--large">
  <div class="o-video o-video--large"
    data-o-component="o-video"
    data-o-video-systemcode="origami-build-tools"
    data-o-video-id="f834a6d2-c84c-4c17-90fd-2b8593b1f8ba"
    data-o-video-advertising="true">
  </div>
</div>
