<h2>Overlay triggers </h2>
<button class="o-overlay-trigger" data-o-overlay-id="overlay" data-o-overlay-src="#overlay" data-o-overlay-heading-title="Overlay" data-o-overlay-heading-shaded="false" data-o-overlay-modal="false">Launch overlay</button>

<p>Overlay content.</p>
	<p>Overlay content.</p>
	<input id="username" />
	<br>
	<input id="password" type="password" />
	<p>Overlay content.</p>
	<p>Overlay content.</p>
	<p>Overlay content.</p>
	<p>Overlay content.</p>
	<input id="username" />
	<br>
	<input id="password" type="password" />
	<p>Overlay content.</p>
	<p>Overlay content.</p>
	<p>Overlay content.</p>
	<p>Overlay content.</p>
	<input id="username" />
	<br>
	<input id="password" type="password" />
	<p>Overlay content.</p>
	<p>Overlay content.</p>
	<p>Overlay content.</p>
	<p>Overlay content.</p>
	<input id="username" />
	<br>
	<input id="password" type="password" />
	<p>Overlay content.</p>
	<p>Overlay content.</p>
	<p>Overlay content.</p>
	<p>Overlay content.</p>
	<input id="username" />
	<br>
	<input id="password" type="password" autofocus="true"/>
	<p>Overlay content.</p>
	<p>Overlay content.</p>
	<p>Overlay content.</p>
	<p>Overlay content.</p>
	<input id="username" />
	<br>
	<input id="password" type="password" />
	<p>Overlay content.</p>
	<p>Overlay content.</p>
	<p>Overlay content.</p>
	<p>Overlay content.</p>
	<input id="username" />
	<br>
	<input id="password" type="password" />
	<p>Overlay content.</p>
	<p>Overlay content.</p>
	<p>Overlay content.</p>
	<p>Overlay content.</p>
	<input id="username" />
	<br>
	<input id="password" type="password" />
	<p>Overlay content.</p>
	<p>Overlay content.</p>
	<p>Overlay content.</p>
	<p>Overlay content.</p>
	<input id="username" />
	<br>
	<input id="password" type="password" />
	<p>Overlay content.</p>
	<p>Overlay content.</p>
	<p>Overlay content.</p>
	<p>Overlay content.</p>
	<input id="username" />
	<br>
	<input id="password" type="password" />
	<p>Overlay content.</p>
	<p>Overlay content.</p>

<script type="text/template" id="overlay">
	<p>Overlay content.</p>
	<p>Overlay content.</p>
	<input id="username" />
	<br>
	<input id="password" type="password" autofocus="true"/>
	<p>Overlay content.</p>
	<p>Overlay content.</p>
	<p>Overlay content.</p>
	<p>Overlay content.</p>
	<input id="username" />
	<br>
	<input id="password" type="password" />
	<p>Overlay content.</p>
	<p>Overlay content.</p>
</script>
