<fieldset class="o-forms">
	<legend class="o-forms__label">Default checkboxes</legend>
	<input type="checkbox" name="checkbox" value="1" class="o-forms__checkbox" id="checkbox11" checked="checked" />
	<label for="checkbox11" class="o-forms__label">Checkbox 1</label>
	<input type="checkbox" name="checkbox" value="2" class="o-forms__checkbox" id="checkbox12" />
	<label for="checkbox12" class="o-forms__label">Checkbox 2</label>
</fieldset>
<fieldset class="o-forms o-forms--error">
	<legend class="o-forms__label">Error</legend>
	<input type="checkbox" name="checkbox3" value="1" class="o-forms__checkbox" id="checkbox31" checked="checked" />
	<label for="checkbox31" class="o-forms__label">Checkbox 1</label>
	<input type="checkbox" name="checkbox3" value="2" class="o-forms__checkbox" id="checkbox32" />
	<label for="checkbox32" class="o-forms__label">Checkbox 2</label>
	<div class="o-forms__errortext">Invalid entry</div>
</fieldset>
<div class="o-forms">
	<label class="o-forms__label">Disabled</label>
	<input type="checkbox" name="checkbox2" value="1" class="o-forms__checkbox" id="checkbox21" checked="checked" disabled="disabled" />
	<label for="checkbox21" class="o-forms__label">Checkbox 1</label>
	<input type="checkbox" name="checkbox2" value="2" class="o-forms__checkbox" id="checkbox22" disabled="disabled" />
	<label for="checkbox22" class="o-forms__label">Checkbox 2</label>
</div>
