<fieldset class="o-forms">
	<legend class="o-forms__label">Checkbox with long text</legend>
	<input type="checkbox" name="checkbox51" value="1" class="o-forms__checkbox" id="checkbox51" checked="checked" />
	<label for="checkbox51" class="o-forms__label"><p>I confirm I have read and agree to the terms &amp; conditions, privacy policy and cookie policy*.</p></label>
</fieldset>

<fieldset class="o-forms o-forms--wide">
	<legend class="o-forms__label">Checkbox with long text (wide)</legend>
	<input type="checkbox" name="checkbox52" value="1" class="o-forms__checkbox" id="checkbox52" checked="checked" />
	<label for="checkbox52" class="o-forms__label"><p>I confirm I have read and agree to the terms &amp; conditions, privacy policy and cookie policy*.</p></label>
</fieldset>
