<form action="" data-o-component="o-forms">
	<fieldset class="o-forms">
		<legend class="o-forms__label">Checkbox Toggle</legend>
		<div class="o-forms__checkbox-toggle">
			<input class="o-forms__checkbox-toggle__checkbox" data-o-form-toggle type="checkbox" name="checkbox" value="1" id="checkboxToggle1" />
			<label for="checkboxToggle1" class="o-forms__label">Checkbox Toggle 1</label>
		</div>
		<div class="o-forms__checkbox-toggle">
			<input class="o-forms__checkbox-toggle__checkbox" data-o-form-toggle type="checkbox" name="checkbox" value="1" id="checkboxToggle2" checked="checked" />
			<label for="checkboxToggle2" class="o-forms__label">Checkbox Toggle 2</label>
		</div>
		<div class="inverse-demo">
			<div class="o-forms__checkbox-toggle o-forms__checkbox-toggle--inverse">
				<input class="o-forms__checkbox-toggle__checkbox" data-o-form-toggle type="checkbox" name="checkbox" value="1" id="checkboxToggle3" />
				<label for="checkboxToggle3" class="o-forms__label">Checkbox Toggle 3 (Inverse)</label>
			</div>
			<div class="o-forms__checkbox-toggle o-forms__checkbox-toggle--inverse">
				<input class="o-forms__checkbox-toggle__checkbox" data-o-form-toggle type="checkbox" name="checkbox" value="1" id="checkboxToggle4" checked="checked" />
				<label for="checkboxToggle4" class="o-forms__label">Checkbox Toggle 4 (Inverse)</label>
			</div>
		</div>
	</fieldset>
</form>
