<fieldset class="o-forms-group">
	<label class="o-forms-label">Checkbox with long text</label>
	<input type="checkbox" name="checkbox51" value="1" class="o-forms-checkbox" id="checkbox51" checked="checked" />
	<label for="checkbox51" class="o-forms-label"><p>I confirm I have read and agree to the terms &amp; conditions, privacy policy and cookie policy*.</p></label>
</fieldset>
