<div class="o-forms">
	<legend aria-describedby="default-checkboxes-info" class="o-forms__label">Default checkboxes</legend>
	<div id="default-checkboxes-info" class="o-forms__additional-info">Prompt text follows the ledgend if required.</div>
	<div class="o-forms__group">
		<input type="checkbox" name="checkbox" value="1" class="o-forms__checkbox" id="checkbox11" checked="checked" />
		<label for="checkbox11" class="o-forms__label">Checkbox 1</label>
		<input type="checkbox" name="checkbox" value="2" class="o-forms__checkbox" id="checkbox12" />
		<label for="checkbox12" class="o-forms__label">Checkbox 2</label>
		<input type="checkbox" name="checkbox" value="3" class="o-forms__checkbox" id="checkbox13" />
		<label for="checkbox13" class="o-forms__label">Checkbox 3</label>
	</div>
</div>

<fieldset class="o-forms">
	<legend class="o-forms__label">Inline checkboxes</legend>
	<div class="o-forms__group o-forms__group--inline">
		<input type="checkbox" name="checkbox" value="1" class="o-forms__checkbox" id="checkbox61" checked="checked" />
		<label for="checkbox61" class="o-forms__label">Checkbox 1</label>
		<input type="checkbox" name="checkbox" value="2" class="o-forms__checkbox" id="checkbox62" />
		<label for="checkbox62" class="o-forms__label">Checkbox 2</label>
		<input type="checkbox" name="checkbox" value="3" class="o-forms__checkbox" id="checkbox63" />
		<label for="checkbox63" class="o-forms__label">Checkbox 3</label>
	</div>
</fieldset>

<div class="o-forms">
	<label aria-describedby="right-checkboxes-info" for="form-secret" class="o-forms__label">Right side control checkbox</label>
	<div id="right-checkboxes-info" class="o-forms__additional-info">Interface demo only, password hide/show functionality is not currently included in o-forms.</div>
	<input type="password" id="form-secret" class="o-forms__text" required />
	<div class="o-forms__group o-forms__group--inline">
		<input type="checkbox" name="checkbox" value="2" class="o-forms__checkbox o-forms__checkbox--right" id="controlCheckbox" />
		<label for="controlCheckbox" class="o-forms__label">Show password</label>
	</div>
</div>

<fieldset class="o-forms o-forms--error">
	<legend class="o-forms__label">Error</legend>
	<div class="o-forms__group">
		<input type="checkbox" name="checkbox3" value="1" class="o-forms__checkbox" id="checkbox31" checked="checked" />
		<label for="checkbox31" class="o-forms__label">Checkbox 1</label>
		<input type="checkbox" name="checkbox3" value="2" class="o-forms__checkbox" id="checkbox32" />
		<label for="checkbox32" class="o-forms__label">Checkbox 2</label>
	</div>
	<div class="o-forms__errortext">Invalid entry</div>
</fieldset>

<fieldset class="o-forms">
	<legend class="o-forms__label">Disabled</legend>
	<div class="o-forms__group">
		<input type="checkbox" name="checkbox2" value="1" class="o-forms__checkbox" id="checkbox21" checked="checked" disabled="disabled" />
		<label for="checkbox21" class="o-forms__label">Checkbox 1</label>
		<input type="checkbox" name="checkbox2" value="2" class="o-forms__checkbox" id="checkbox22" disabled="disabled" />
		<label for="checkbox22" class="o-forms__label">Checkbox 2</label>
	</div>
</fieldset>

<fieldset class="o-forms">
	<legend class="o-forms__label">Checkbox with long text</legend>
		<div class="o-forms__group">
		<input type="checkbox" name="checkbox51" value="1" class="o-forms__checkbox" id="checkbox51" checked="checked" />
		<label for="checkbox51" class="o-forms__label">
			<p>I confirm I have read and agree to the terms &amp; conditions, privacy policy and cookie policy*.</p>
			<p>We will send you occasional emails to improve your experience of the Financial Times.</p>
		</label>
		<input type="checkbox" name="checkbox52" value="1" class="o-forms__checkbox" id="checkbox52" />
		<label for="checkbox52" class="o-forms__label">
			<p>By submitting this form, you indicate your consent to also being contacted by the Financial Times by email. post or phone about our other products, services or special offers unless you untick this box. You can change your preferences anytime in the My Account section.</p>
		</label>
	</div>
</fieldset>

<fieldset class="o-forms o-forms--wide">
	<legend class="o-forms__label">Checkbox with long text (wide)</legend>
	<div class="o-forms__group">
		<input type="checkbox" name="checkbox53" value="1" class="o-forms__checkbox" id="checkbox53" checked="checked" />
		<label for="checkbox53" class="o-forms__label"><p>I confirm I have read and agree to the terms &amp; conditions, privacy policy and cookie policy*.</p></label>
	</div>
</fieldset>
