<div data-o-component="o-expander" class="o-expander items" data-o-expander-shrink-to="2" data-o-expander-item-selector="p" data-o-expander-expanded-toggle-text="less">
	<div class="o-expander__content">
		<p>
			In this demo we see an expander which hides based on the `p` selector, which we have configured using data attributes.
		</p>
		<p>
			Here is a second paragraph.
		</p>
		<p>
			And finally we see a third paragraph.
		</p>
	</div>
	<a href="#" class="o-expander__toggle">read more</a>
</div>
