<div data-o-component="o-expander" class="o-expander" data-o-expander-shrink-to="2">
	<ul class="o-expander__content">
		<li>item 1</li>
		<li>item 2</li>
		<li>item 3</li>
		<li>item 4</li>
	</ul>
	<button class="o-expander__toggle">Toggle</button>
</div>
