<div class="container">
	<div class="color-selectors">
		<div class="o-forms o-forms--inline">
			<label aria-describedby="select-box-info" for="select-standard" class="o-forms__label">Text/foreground color</label>
			<select id="text-selector" class="o-forms__select">

				{{#primary.colors}}
					<option value="{{name}}" {{#baseText}}selected {{/baseText}}>{{name}}</option>
				{{/primary.colors}}

				{{#secondary.colors}}
					<option value={{name}}>{{name}}</option>
				{{/secondary.colors}}

				{{#tertiary.colors}}
					<option value={{name}}>{{name}}</option>
				{{/tertiary.colors}}

				{{#b2c.colors}}
					<option value={{name}}>{{name}}</option>
				{{/b2c.colors}}

			</select>
		</div>
		<div class="o-forms o-forms--inline">
			<label aria-describedby="select-box-info" for="select-standard" class="o-forms__label">Background color</label>
			<select id="background-selector" class="o-forms__select">

				{{#primary.colors}}
					<option value={{name}} {{#baseBackground}}selected {{/baseBackground}}>{{name}}</option>
				{{/primary.colors}}

				{{#secondary.colors}}
					<option value={{name}}>{{name}}</option>
				{{/secondary.colors}}

				{{#tertiary.colors}}
					<option value={{name}}>{{name}}</option>
				{{/tertiary.colors}}

				{{#b2c.colors}}
					<option value={{name}}>{{name}}</option>
				{{/b2c.colors}}

			</select>
		</div>
		<div class="contrast-result">
			<div>
				<span class='contrast-ratio'></span>
				<span class="wcag-rating rating-result"></span>
			</div>
			<p class="rating-message rating-result"></p>
		</div>
	</div>

	<div class="contrast-showcase">
		<p>This is an example of text at 14px</p>
		<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean elit odio, ornare quis efficitur quis,
			gravida ut tortor. Fusce tempus tellus ut elementum pharetra. Proin at molestie nulla.</p>
		<p>Pellentesque fermentum diam id dui lacinia, id ultrices risus egestas. Vivamus ante elit, elementum
			at quam eget, feugiat lacinia ex.Nam lacinia cursus enim, at dapibus diam posuere a. In hac habitasse
			platea dictumst. Curabitur scelerisque augue leo, eu pulvinar nisi vestibulum vitae.</p>
		<p>Quisque non diam id quam dictum viverra. In hac habitasse platea dictumst. Integer non dui porta,
			egestas justo quis, pretium orci. Mauris commodo ipsum lacinia tellus gravida, ac condimentum mi dictum.
			Sed magna ante, auctor sit amet sapien gravida, suscipit hendrerit mauris. Proin sed ex justo.</p>
	</div>

</div>
