<div class="demo">
	<footer class="o-footer-services">
		<div class="o-footer-services__container">
			<div class="o-footer-services__info">
				<span class="o-footer-services__logo">Origami</span>
				<p class="o-footer-services__copyright">&copy; THE FINANCIAL TIMES LTD. FT and 'Financial Times' are trademarks of The Financial Times Ltd.</p>
			</div>
		</div>
	</footer>
</div>
