<div class="custom-font">
    <h1>Lorem ipsum dolor sit amet.</h1>
    <h2>Lorem ipsum dolor sit amet consectetur.</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus, sequi. Aspernatur hic aut quae eveniet sequi sed voluptates quis consequatur sit, earum omnis dolore natus suscipit. Blanditiis alias perspiciatis iste?</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi velit similique totam corporis temporibus magni harum nobis rem nam dolore!</p>
    <h2>Lorem, ipsum dolor.</h2>
    <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit, ipsa.</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur, ullam?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda reiciendis, magnam repudiandae totam magni iusto. Maiores suscipit animi explicabo voluptas?</p>
</div>
