<div data-o-component="o-comments"
  data-o-comments-count
  data-o-comments-config-article-id="{{articleId}}"
  data-o-comments-config-template="This article has {count} comment{plural}.">
  Comments
</div>
