
<p>
	<a href="#" class="o-typography-link">Standard link</a>
</p>

<p>
	<a href="#" class="o-typography-link--external">External link</a>
</p>

<p>
	Here is content with an <a href="#" class="o-typography-link--external">external link</a>. And more content.
</p>

<p>
	<a href="#" class="o-typography-link--custom">Custom link</a>
</p>
