<button class="o-buttons o-buttons--secondary o-buttons--big o-buttons-icon o-buttons-icon--book">
	Book!
</button>

<button class="o-buttons o-buttons--big o-buttons--primary o-buttons-icon o-buttons-icon--book">
	Book!
</button>

<button class="o-buttons o-buttons--big o-buttons--primary o-buttons-icon o-buttons-icon--icon-only o-buttons-icon--book">
	<span class="o-buttons-icon__label">
		Book!
	</span>
</button>

<button class="o-buttons o-buttons--big o-buttons--primary o-buttons--custom-claret o-buttons-icon o-buttons-icon--book">
	Book!
</button>

<button class="o-buttons o-buttons--secondary o-buttons--big o-buttons--custom-claret o-buttons-icon o-buttons-icon--book">
	Book!
</button>

<button class="o-buttons o-buttons--big o-buttons--primary o-buttons--custom-claret o-buttons-icon o-buttons-icon--icon-only o-buttons-icon--book">
	<span class="o-buttons-icon__label">
		Book!
	</span>
</button>
