<div data-o-component="o-cookie-message" class="o-cookie-message">
	<div class="o-cookie-message__outer">
		<div class="o-cookie-message__inner" data-o-banner-inner="">
			<div class="o-cookie-message__content">
				<div class="o-cookie-message__heading">
					<h2>Custom Cookie Message</h2>
				</div>
				<p>
					We use cookies on the FT.
				</p>

			</div>
			<div class="o-cookie-message__actions">
				<div class="o-cookie-message__action">
					<a href="#" class="o-cookie-message__button">Accept &amp; continue</a>
				</div>
				<div class="o-cookie-message__action o-cookie-message__action--secondary">
					<a href="#" class="o-cookie-message__link">Manage cookies</a>
				</div>
			</div>
		</div>
	</div>
</div>
