<button class="demo__custom-icon-button--book">
	Book!
</button>

<button class="demo__custom-icon-button--book--primary">
	Book!
</button>

<button class="demo__custom-icon-button--book--icon-only">
	<span class="o-buttons-icon__label">
		Book!
	</span>
</button>

<div class='demo__custom-theme--slate'>
<button class="demo__custom-theme-primary-icon-button--book">
	Book!
</button>

<button class="demo__custom-theme-secondary-icon-button--book">
	Book!
</button>
</div>
