{{#standard}}
<span class="my-label">
    custom markup
</span>
{{/standard}}

{{#indicator}}
<span class="my-indicator-label my-indicator-label--live">
    <span class="my-indicator-label__status">
        custom markup
    </span>
</span>
{{/indicator}}
