<div data-o-component="o-cookie-message" class="o-cookie-message">
	<div class="o-cookie-message__outer">
		<div class="o-cookie-message__inner">
			<div class="o-cookie-message__content">

				<div class="o-cookie-message__heading">
					<h2>Cookies on the FT</h2>
				</div>
				<p>
					We use <a href="http://help.ft.com/help/legal-privacy/cookies/"
						class="o-cookie-message__link o-cookie-message__link--external"
						target="_blank"
						rel="noopener">cookies</a> for a number of reasons, such as keeping FT Sites reliable and
					secure, personalising content and ads, providing social media features and to analyse how our Sites
					are used.
				</p>
			</div>
			<div class="o-cookie-message__actions">

				<!-- note: update action redirect, see README for more details -->
				<div class="o-cookie-message__action">
					<a href="https://consent.ft.com/__consent/consent-record-cookie?redirect=#"
						class="o-cookie-message__button">
						Accept &amp; continue
					</a>
				</div>

				<!-- note: update action redirect, see README for more details -->
				<div class="o-cookie-message__action o-cookie-message__action--secondary">
					<a href="https://cookies.ft.com/preferences/manage-cookies?redirect=#"
						class="o-cookie-message__link">Manage cookies</a>
				</div>
			</div>
		</div>
	</div>
</div>
