<div class="o-forms">
    <div class="o-forms__group o-forms__group--inline-together">
        <a href="#" class="o-forms__radio-button o-forms__radio-button--current o-forms__radio-button--custom-theme o-forms__radio-button--custom-grid-icon">
            a
        </a>
        <a href="#" class="o-forms__radio-button o-forms__radio-button--custom-theme o-forms__radio-button--custom-list-icon">
            b
        </a>
    </div>
</div>
