<fieldset class="o-forms o-forms--date">
	<legend aria-describedby="date-info" for="o-forms-standard" class="o-forms__label">Example Date</legend>
	<div id="date-info" class="o-forms__additional-info">Prompt text follows the label if required..</div>
	<div class="o-forms__group">
		<label for="o-forms-date-d" aria-label="Day (DD)" class="o-forms__label o-forms__label--day">DD</label>
		<label for="o-forms-date-m" aria-label="Month (MM)" class="o-forms__label o-forms__label--month">MM</label>
		<label for="o-forms-date-y" aria-label="Year (YYYY)" class="o-forms__label o-forms__label--year">YYYY</label>
		<input id="o-forms-date-d" type="text" pattern="[1-9]{2}" class="o-forms__text o-forms__text--day" />
		<input id="o-forms-date-m" type="text" pattern="0?[1-9]|1[012]" class="o-forms__text o-forms__text--month" />
		<input id="o-forms-date-y" type="text" pattern="[0-9]{4}" class="o-forms__text o-forms__text--year" />
	</div>
</fieldset>
