<script type="application/json" data-o-errors-config>
{
	"sentryEndpoint": "https://0a654da2f7844789b9f771ced4c39039@app.getsentry.com/30103",
	"siteVersion":    "v1.0.0"
}
</script>

<a href="#" id="o-errors__demo-trigger-error">Trigger Error</a>
