<link rel="oErrors:sentryEndpoint" href="https://app.getsentry.com/30103" />
<meta name="oErrors:sentryAuth" content="0a654da2f7844789b9f771ced4c39039" />
<meta name="oErrors:siteVersion" content="v1.0.0">

<a href="#" id="o-errors__demo-trigger-error">Trigger Error</a>
