<div data-o-component="o-comments-count" data-o-comments-count-config-article-id="{{articleId}}" data-o-comments-count-auto-init="false">
Comments
</div>

<script>
	setTimeout(function () {
		oCommentsCount.init();
	}, 4000);
</script>
