<div data-o-component="o-comments"
  data-o-comments-count
  data-o-comments-config-article-id="{{articleId}}"
  data-o-comments-auto-init="false">
  Comments
</div>

<script>
  setTimeout(function () {
    oComments.init();
  }, 4000);
</script>
