<meter class="o-meter" aria-label="demo meter {{meterValue}}" style="
	--o-meter-background-color: hotpink;
	--o-meter-optimum-color: deeppink;
	--o-meter-low-color: pink;
	--o-meter-high-color: red;
	data-o-component="o-meter" min="0" max="100" value="{{meterValue}}">
{{meterValue}}
</meter>
