<div class="demo-container">
	<div class="o-teaser-collection o-teaser-collection--horizontal demo-slim-collection">
		<h2 class="o-teaser-collection__heading">Recent News</h2>
		<ul class="o-teaser-collection__items">
			<li class="o-teaser-collection__item">
				<p style="padding-right:16px;">First teaser goes here</p>
			</li>
			<li class="o-teaser-collection__item">
				<p style="padding-right:16px;">Second teaser goes here</p>
			</li>
			<li class="o-teaser-collection__item">
				<p style="padding-right:16px;">Third teaser goes here</p>
			</li>
			<li class="o-teaser-collection__item">
				<p style="padding-right:16px;">Fourth teaser goes here</p>
			</li>
			<li class="o-teaser-collection__item">
				<p style="padding-right:16px;">Fifth teaser goes here</p>
			</li>
			<li class="o-teaser-collection__item">
				<p style="padding-right:16px;">Sixth teaser goes here</p>
			</li>
		</ul>
	</div>
</div>
