<div class="demo_container">
	<div class="demo_subscard-row">
		<div class="demo_subs-card-container">
			<div class="o-subs-card">
				<div class="o-subs-card__top">
					<div class="o-subs-card__title">Subscription title</div>
					<img class="o-subs-card__image" src='/demos/src/demo-paceholder.png' alt='photo of FT subscription options'>
					<div class="o-subs-card__price-tag">
						<span class="o-subs-card__price-tag__price">£XX.XX</span> per week
					</div>
					<button class="o-subs-card__select-button">Select</button>
				</div>
				<div class="o-subs-card__short-description">Access to FT.com on your desktop, mobile and tablet.</div>
				<div class="o-subs-card__detailed-description">
					<div class="o-subs-card__detailed-description__show-hide" data-o-component="o-toggle" data-o-toggle-target="">Read more about the benefits of Standard Digital</div>
					<div class="o-toggle__toggle-target">
						<div class="o-subs-card__detailed-description__title">Standard Digital benefits</div>
						<ul class="o-subs-card__detailed-description__list">
							<li>Access to FT's award-winning news on desktop, mobile and tablet</li>
							<li>Personalised email briefings by industry, journalist or sector</li>
							<li>Portfolio tools to help manage your investments</li>
							<li>FastFT - market-moving news and views, 24 hours a day</li>
							<li>Brexit Briefing - your essential guide to the impact of the UK-EU split</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
