<div class="o-meter-container">
	<meter class="o-meter" data-o-component="o-meter" min="0" max="100" value="{{meterValue}}">
	{{meterValue}}
	</meter>
	<span class="o-meter-value" style="left: {{meterValue}}%">
		{{meterValue}}
	</span>
</div>
