$o-typography-is-silent: false;
@import 'o-typography/main';

$o-topper-is-silent: false;
@import '../../main';

@include oTopperOutput(theme);

.o-topper {
	// TODO: add to next-article, discuss whether o-topper should do it itself
	-webkit-font-smoothing: antialiased;
}
