<div class="demo-container demo-container--large {{#article-modifier}} demo-container--{{.}} {{/article-modifier}}">

	<div class="o-teaser {{#article-modifier}} o-teaser--{{.}} {{/article-modifier}}" data-o-component="o-teaser">
		{{#article-image-url}}
			<div class="o-teaser__image-container">
				<div class="o-teaser__image-placeholder image-placeholder">
					<img src="{{article-image-url}}" class="o-teaser__image" alt="demo image"/>
				</div>
			</div>
		{{/article-image-url}}

		<div class="o-teaser__content">
			<div class="o-teaser__meta">
				<span>{{article-tag-prefix}}</span>
			</div>
			<h2 class="o-teaser__heading"><a href="#">{{article-heading}}</a></h2>

			<ul class="package-teaser__list">
				{{#article-package-list}}
					<li class="package-teaser__list-item"><a href="#">{{article-title}}</a></li>
				{{/article-package-list}}
				<li class="package-teaser__list-item package-teaser__landing-link">
					<a href="#">Visit Series</a>
				</li>
			</ul>
		</div>
	</div>
</div>
