<div class="demo-container">
	<div class="o-teaser-collection o-teaser-collection--numbered o-teaser-collection--horizontal demo-slim-collection">
		<h2 class="o-teaser-collection__heading o-teaser-collection__heading">Most Popular</h2>
		<ol class="o-teaser-collection__items">
			<li class="o-teaser-collection__item">
				teaser goes here<br/><br/><br/>
			</li>
			<li class="o-teaser-collection__item">
				teaser goes here<br/><br/><br/>
			</li>
			<li class="o-teaser-collection__item">
				teaser goes here<br/><br/><br/>
			</li>
			<li class="o-teaser-collection__item">
				teaser goes here<br/><br/><br/>
			</li>
			<li class="o-teaser-collection__item">
				teaser goes here<br/><br/><br/>
			</li>
			<li class="o-teaser-collection__item">
				teaser goes here<br/><br/><br/>
			</li>
		</ol>
	</div>
</div>
