<div class="o-meter-container" aria-label="demo meter {{meterValue}}" style="--o-meter-width: 70%; --o-meter-height: 2em">
	<meter class="o-meter" data-o-component="o-meter" min="0" max="100" value="{{meterValue}}">
	{{meterValue}}
	</meter>
	<span class="o-meter-value" aria-hidden="true" style="left: {{percentValue}}%">
		{{percentValue}}
	</span>
</div>
