<div class="demo-container">
	<div class="o-teaser-collection">
		<h2 class="o-teaser-collection__heading"><a class="o-teaser-collection__heading-link" href="#">Brexit</a></h2>
		<p>teasers go here</p>
	</div>
</div>
