<div class='demos-container'>
  <div data-o-component="o-comments"
    data-o-comments-config-title="{{title}}"
    data-o-comments-config-url="{{url}}"
    data-o-comments-config-articleId="{{articleId}}">
    <div class="o--if-no-js">To participate in this chat, you need to upgrade to a newer web browser. <a href="http://help.ft.com/tools-services/browser-compatibility/">Learn more.</a></div>
  </div>
</div>
