<div class="demo-container {{#article-modifier}} demo-container--{{.}} {{/article-modifier}}">

	<div class="o-teaser o-teaser--small {{#article-modifier}} o-teaser--{{.}} {{/article-modifier}} {{#article-image-url}}o-teaser--has-image{{/article-image-url}}" data-o-component="o-teaser">
		<div class="o-teaser__content">
			<div class="o-teaser__meta">
				{{#article-tag-prefix}}<span class="o-teaser__tag-prefix">{{.}}</span>{{/article-tag-prefix}}
				<a href="#" class="o-teaser__tag">{{article-tag}}</a>
				{{#article-duration}}
					<time class="o-teaser__tag-suffix" datetime="PT3M07S">3:07min</time>
				{{/article-duration}}

				{{#article-promoted-by}}
					<span class="o-teaser__promoted-prefix">{{article-promoted-prefix}}</span>
					by <span class="o-teaser__promoted-by">{{article-promoted-by}}</span>
				{{/article-promoted-by}}
			</div>

			<h2 class="o-teaser__heading">
				{{#article-canBeSyndicated}}
					<a href="#" class="o-teaser__syndication-indicator o-teaser__syndication-indicator--{{article-canBeSyndicated}} syndi"><span>Syndication allowed</span></a>
				{{/article-canBeSyndicated}}
				<a href="#">{{article-heading}}</a>
			</h2>

			{{#article-standfirst}}
				<p class="o-teaser__standfirst">
					<a href="#">
						{{article-standfirst}}
					</a>
				</p>
			{{/article-standfirst}}

			{{#article-timestamp}}
				<div class="o-teaser__timestamp o-teaser__timestamp--inprogress">
					<span class="o-teaser__timestamp-prefix">Live</span>
					<time data-o-component="o-date" class="o-date" datetime="{{article-timestamp}}">{{article-timestamp}}</time>
				</div>
			{{/article-timestamp}}

			{{#article-headshot}}
				<img src="{{article-headshot}}" alt=" " class="o-teaser__headshot">
			{{/article-headshot}}
		</div>
		{{#article-image-url}}
			<div class="o-teaser__image-container">
				<div class="o-teaser__image-placeholder image-placeholder">
					<img src="{{article-image-url}}" class="o-teaser__image" alt="demo image"/>
				</div>
			</div>
		{{/article-image-url}}
	</div>

</div>
