$o-share-is-silent: false;
@import '../../main';

.demo {
	background-color: oColorsByUsecase('page', 'background');
	margin: 1rem;
	padding: 1rem;
}

.demo--inverse {
	background-color: oColorsByName('slate');
}
