<meter class="o-meter" style="
	--o-meter-background-color: hotpink;
	--o-meter-optimum-color: deeppink;
	--o-meter-sub-optimum-colo: pink;
	--o-meter-sub-sub-optimum-color: red;
	data-o-component="o-meter" min="0" max="100" value="{{meterValue}}">
{{meterValue}}
</meter>
