<div class="demo-container">
	<div class="o-teaser-collection demo-slim-collection">
		<h2 class="o-teaser-collection__heading o-teaser-collection__heading--small"><a class="o-teaser-collection__heading-link" href="#">Brexit</a></h2>
		<p>teasers go here</p>
	</div>
</div>
