
<div class="o-banner" data-o-component="o-banner">
	<div class="o-banner__outer">
		<div class="o-banner__inner" data-o-banner-inner="">
			<div class="o-banner__content o-banner__content--long">
                <div class="demo-custom-content">
                    <p>Here's an informative banner with disabled actions and custom content style.<br><a href="#">take me to place</a></p>
                </div>
			</div>
			<div class="o-banner__content o-banner__content--short">
                <div class="demo-custom-content">
                    <p>A custom banner with disabled actions.<br><a href="#">take me to place</a></p>
                </div>
			</div>
		</div>
	</div>
</div>
