<link rel="stylesheet" href="http://build.origami.ft.com/bundles/css?modules=o-grid@^2.0.7" />
<div class="o-grid-row">
    <div data-o-grid-colspan="6 S12 M6">
        <div class="o-ft-forms-globalMsg--error">
            <p>This is a global error message that relates to the entire form</p>
        </div>
        <div class="o-ft-forms-field-group">
            <label class="o-ft-forms__label">Text input<small>prompt text ie password need 6 characters</small></label>
            <input type="text" placeholder="placeholder" class="o-ft-forms__field" />
        </div>
        <div class="o-ft-forms-field-group">
            <label class="o-ft-forms__label">Text input<small>prompt text ie password need 6 characters</small></label>
            <input type="text" placeholder="placeholder" class="o-ft-forms__field" />
        </div>
        <div class="o-ft-forms-field-group">
            <label class="o-ft-forms__label">Text input<small>prompt text ie password need 6 characters</small></label>
            <input type="text" placeholder="placeholder" class="o-ft-forms__field" />
        </div>
    </div> 
    <div data-o-grid-colspan="6 S12 M6">
        <fieldset class="o-ft-forms__section o-ft-forms__section--error">
            <div class="o-ft-forms-section__errorMsg">
                <p>This is a section error message that highlights a group of fields</p>
            </div>
            <div class="o-ft-forms-field-group">
                <label class="o-ft-forms__label">Text input<small>prompt text ie password need 6 characters</small></label>
                <input type="text" placeholder="placeholder" class="o-ft-forms__field" />
            </div>
            <div class="o-ft-forms-field-group">
                <label class="o-ft-forms__label">Text input<small>prompt text ie password need 6 characters</small></label>
                <input type="text" placeholder="placeholder" class="o-ft-forms__field" />
            </div>
            <div class="o-ft-forms-field-group">
                <label class="o-ft-forms__label">Text input<small>prompt text ie password need 6 characters</small></label>
                <input type="text" placeholder="placeholder" class="o-ft-forms__field" />
            </div>
        </fieldset>    
    </div>
</div>
