<div class="demo-container demo-family-{{font}}">

	<div class="demo-row">
		<div class="demo-col">
			<div class="demo-example demo-size-medium">
				{{font}}
			</div>
		</div>
		<div class="demo-col">
			<div class="demo-example demo-size-small">
				ABCDEFGHIJKLMNOPQRSTUVWXYZ<br />
				abcdefghijklmnopqrstuvwxyz<br />
				0123456789<br />
				.,!?:;()&amp;%£$@-+*<br />
				Normal <strong>strong</strong>, normal <em>emphasis</em>.
			</div>
		</div>
	</div>

</div>
