
<div class="demo-positioning-container">

	<button class="o-buttons o-buttons--big position-fixed position-top position-left" id="demo-tooltip-target-1">
		Top Left
	</button>

	<button class="o-buttons o-buttons--big position-fixed position-top position-center" id="demo-tooltip-target-2">
		Top Center
	</button>

	<button class="o-buttons o-buttons--big position-fixed position-top position-right" id="demo-tooltip-target-3">
		Top Right
	</button>

	<button class="o-buttons o-buttons--big position-fixed position-middle position-left" id="demo-tooltip-target-4">
		Middle Left
	</button>

	<button class="o-buttons o-buttons--big position-fixed position-middle position-center" id="demo-tooltip-target-5">
		Middle Center
	</button>

	<button class="o-buttons o-buttons--big position-fixed position-middle position-right" id="demo-tooltip-target-6">
		Middle Right
	</button>

	<button class="o-buttons o-buttons--big position-fixed position-bottom position-left" id="demo-tooltip-target-7">
		Bottom Left
	</button>

	<button class="o-buttons o-buttons--big position-fixed position-bottom position-center" id="demo-tooltip-target-8">
		Bottom Center
	</button>

	<button class="o-buttons o-buttons--big position-fixed position-bottom position-right" id="demo-tooltip-target-9">
		Bottom Right
	</button>

</div>

<div class="demo-positioning-container">
	<div class="demo-positioning-explainer">
		Keep scrolling&hellip;
	</div>
</div>

<div class="demo-positioning-container">
	<div class="demo-positioning-explainer">
		Keep scrolling&hellip;
	</div>
</div>

<div class="demo-positioning-container">
	<div class="demo-positioning-explainer">
		OK you can stop scrolling
	</div>
</div>

<div data-o-component="o-tooltip"
	data-o-tooltip-target="demo-tooltip-target-1"
	data-o-tooltip-show-on-click="true">
	<div class="o-tooltip-content">
		Example tooltip
	</div>
</div>

<div data-o-component="o-tooltip"
	data-o-tooltip-target="demo-tooltip-target-2"
	data-o-tooltip-show-on-click="true">
	<div class="o-tooltip-content">
		Example tooltip
	</div>
</div>

<div data-o-component="o-tooltip"
	data-o-tooltip-target="demo-tooltip-target-3"
	data-o-tooltip-show-on-click="true">
	<div class="o-tooltip-content">
		Example tooltip
	</div>
</div>

<div data-o-component="o-tooltip"
	data-o-tooltip-target="demo-tooltip-target-4"
	data-o-tooltip-show-on-click="true">
	<div class="o-tooltip-content">
		Example tooltip
	</div>
</div>

<div data-o-component="o-tooltip"
	data-o-tooltip-target="demo-tooltip-target-5"
	data-o-tooltip-show-on-click="true">
	<div class="o-tooltip-content">
		Example tooltip
	</div>
</div>

<div data-o-component="o-tooltip"
	data-o-tooltip-target="demo-tooltip-target-6"
	data-o-tooltip-show-on-click="true">
	<div class="o-tooltip-content">
		Example tooltip
	</div>
</div>

<div data-o-component="o-tooltip"
	data-o-tooltip-target="demo-tooltip-target-7"
	data-o-tooltip-show-on-click="true">
	<div class="o-tooltip-content">
		Example tooltip
	</div>
</div>

<div data-o-component="o-tooltip"
	data-o-tooltip-target="demo-tooltip-target-8"
	data-o-tooltip-show-on-click="true">
	<div class="o-tooltip-content">
		Example tooltip
	</div>
</div>

<div data-o-component="o-tooltip"
	data-o-tooltip-target="demo-tooltip-target-9"
	data-o-tooltip-show-on-click="true">
	<div class="o-tooltip-content">
		Example tooltip
	</div>
</div>
