<footer class="o-footer o-footer--{{theme}}" data-o-component="o-footer" data-o-footer--no-js>
	<div class="o-footer__container">

		<h2 class="o-footer-visually-hidden">Useful links</h2>

		<div class="o-footer__row">
			<nav class="o-footer__matrix" role="navigation" aria-label="Useful links">
				{{#matrix}}
				<div class="o-footer__matrix-group o-footer__matrix-group--{{layout}}">
					<h3 class="o-footer__matrix-title" {{#collapsible}}aria-controls="o-footer-section-{{index}}"{{/collapsible}}>
						{{{title}}}
					</h3>
					<div class="o-footer__matrix-content" id="o-footer-section-{{index}}">
						{{#columns}}
							<div class="o-footer__matrix-column">
								{{#.}}
									<a class="o-footer__matrix-link" {{#aria-label}}aria-label="{{aria-label}}"{{/aria-label}} href="{{href}}">{{{text}}}</a>
								{{/.}}
							</div>
						{{/columns}}
					</div>
				</div>
				{{/matrix}}
			</nav>

			<h3 class="o-footer__external-link o-footer__matrix-title">
				<a class ='o-footer__more-from-ft o-footer__matrix-title' href="http://ft.com/more-from-ft-group">More from the FT Group</a>
			</h3>
		</div>

		<div class="o-footer__copyright">
			<small>
				Markets data delayed by at least 15 minutes. &#169; THE FINANCIAL TIMES LTD {{copyrightYear}}.
				<abbr title="Financial Times" aria-label="F T">FT</abbr> and ‘Financial Times’ are trademarks of The Financial Times Ltd.<br>
				The Financial Times and its journalism are subject to a self-regulation regime under the <a href="http://aboutus.ft.com/en-gb/ft-editorial-code/" aria-label="F T Editorial Code of Practice">FT Editorial Code of Practice</a>.
			</small>
		</div>

	</div>
	<div class="o-footer__brand">
		<div class="o-footer__container">
			<div class="o-footer__brand-logo"></div>
		</div>
	</div>
</footer>
