<div class="demo">
	<footer class="o-footer-services">
		<div class="o-footer-services__container">
			<div class="o-footer-services__info">
				<span class="o-footer-services__logo">Origami</span>
				<p class="o-footer-services__contact-email">Help or advice can be found here <a href="mailto:an.email@someplace.com">an.email@someplace.com</a> and there are other places, <a href='/somewhere'>like this one</a> where you can find help, too.</p>
				<p class="o-footer-services__contact-slack"><a href="https://slack.com/messages/[id]/">#slack-channel</a></p>
			</div>
			<div class="o-footer-services__base">
				<p class="o-footer-services__source-code"><a href="http://github.com/financial-times/o-footer-services">View project on GitHub</a></p>
				<p class="o-footer-services__copyright">&copy; THE FINANCIAL TIMES LTD. FT and 'Financial Times' are trademarks of The Financial Times Ltd.</p>
			</div>
		</div>
	</footer>
</div>
