<div class="o-topper o-topper--full-bleed-offset o-topper--color-paper">
	<div class="o-topper__content">
		<div class="o-topper__tags">
			<a href="https://www.ft.com/comment/the-big-read" class="o-topper__brand">
				The Big Read
			</a>
			<a href="https://www.ft.com/topics/people/George_Soros" class="o-topper__topic">
				George Soros
			</a>
		</div>
		<h1 class="o-topper__headline o-topper__headline--large">
			<span class="article-classifier__gap">George Soros fights back against populist foes</span>
		</h1>
		<div class="o-topper__standfirst">Once a symbol of the spread of democracy in Europe, the billionaire’s foundation is now the target of resurgent nationalism</div>
	</div>

	<div class="o-topper__background"></div>

	<figure class="o-topper__visual">
		<picture class="o-topper__picture">
			<source media="(max-width: 490px)" srcset="https://www.ft.com/__origami/service/image/v2/images/raw/http://prod-upp-image-read.ft.com/42da357a-f78e-11e7-8715-e94187b3017e?source=origami-build-tools&amp;fit=scale-down&amp;quality=highest&amp;width=490 490w">
			<source media="(max-width: 1220px)" srcset="https://www.ft.com/__origami/service/image/v2/images/raw/http://prod-upp-image-read.ft.com/05fff02c-f78e-11e7-8715-e94187b3017e?source=origami-build-tools&amp;fit=scale-down&amp;quality=highest&amp;width=1220 1220w">
			<source media="(min-width: 1220px)" srcset="https://www.ft.com/__origami/service/image/v2/images/raw/http://prod-upp-image-read.ft.com/402afdfa-f78e-11e7-8715-e94187b3017e?source=origami-build-tools&amp;fit=scale-down&amp;quality=highest&amp;width=1440 1440w">
			<img alt="" class="o-topper__image" src="https://www.ft.com/__origami/service/image/v2/images/raw/http://prod-upp-image-read.ft.com/05fff02c-f78e-11e7-8715-e94187b3017e?source=origami-build-tools&amp;fit=scale-down&amp;quality=highest&amp;width=1440">
		</picture>
		<figcaption class="o-topper__image-credit">© Bloomberg</figcaption>
	</figure>
</div>
