<div class="o-topper o-topper--full-bleed-image-left">
	<div class="o-topper__content">
		<div class="o-topper__tags">
			<a href="https://www.ft.com/life-arts" class="o-topper__topic">Life &amp; Arts</a>
		</div>
		<h1 class="o-topper__headline o-topper__headline--large" data-trackable="header">
			<span class="article-classifier__gap">What makes a great surgeon? Two of Britain’s best discuss</span>
		</h1>
		<div class="o-topper__standfirst">Henry Marsh and Stephen Westaby on ‘100 per cent mortality’, the embattled NHS and why self-deception is a clinical skill</div>
	</div>

	<div class="o-topper__background"></div>

	<figure class="o-topper__visual">
		<picture class="o-topper__picture">
			<source media="(max-width: 490px)" srcset="https://www.ft.com/__origami/service/image/v2/images/raw/http://prod-upp-image-read.ft.com/194b5a92-9486-11e7-a9e6-11d2f0ebb7f0?source=origami-build-tools&amp;fit=scale-down&amp;quality=highest&amp;width=490 490w">
			<source media="(max-width: 1220px)" srcset="https://www.ft.com/__origami/service/image/v2/images/raw/http://prod-upp-image-read.ft.com/37f4c8fc-9486-11e7-a9e6-11d2f0ebb7f0?source=origami-build-tools&amp;fit=scale-down&amp;quality=highest&amp;width=1220 1220w">
			<source media="(min-width: 1220px)" srcset="https://www.ft.com/__origami/service/image/v2/images/raw/http://prod-upp-image-read.ft.com/13d2136c-9486-11e7-a9e6-11d2f0ebb7f0?source=origami-build-tools&amp;fit=scale-down&amp;quality=highest&amp;width=1440 1440w">
			<img alt="" class="o-topper__image" src="https://www.ft.com/__origami/service/image/v2/images/raw/http://prod-upp-image-read.ft.com/37f4c8fc-9486-11e7-a9e6-11d2f0ebb7f0?source=origami-build-tools&amp;fit=scale-down&amp;quality=highest&amp;width=1440">
		</picture>
	</figure>
</div>
