<div class="topper topper--full-bleed-offset">
	<div class="topper__content" data-textbox-background="paper">
		<div class="topper__tags">

					<div class="topper__primary-theme">
									<a href="/comment/the-big-read" class="n-content-tag n-content-tag--medium n-content-tag--brand" data-trackable="primary-brand" aria-label="part of the The Big Read column">The Big Read</a>
								<a href="/topics/people/George_Soros" class="n-content-tag  n-content-tag--with-follow " data-trackable="primary-theme" aria-label="posted in category George Soros" data-concept-id="ab3d7928-cffe-3380-9c4a-7ccbc6501580">George Soros</a>
					</div>

		</div>
		<h1 class="topper__headline topper__headline--large" data-trackable="header">
			<span class="article-classifier__gap">George Soros fights back against populist foes</span>
		</h1>
				<div class="topper__standfirst">Once a symbol of the spread of democracy in Europe, the billionaire’s foundation is now the target of resurgent nationalism</div>

	</div>

	<div class="topper__background" data-textbox-background="paper"></div>

			<figure class="topper__visual">
				<picture class="topper__picture">
						<source media="(max-width: 490px)" srcset="https://www.ft.com/__origami/service/image/v2/images/raw/http://prod-upp-image-read.ft.com/42da357a-f78e-11e7-8715-e94187b3017e?source=next&amp;fit=scale-down&amp;quality=highest&amp;width=490 490w">



						<source media="(max-width: 1220px)" srcset="https://www.ft.com/__origami/service/image/v2/images/raw/http://prod-upp-image-read.ft.com/05fff02c-f78e-11e7-8715-e94187b3017e?source=next&amp;fit=scale-down&amp;quality=highest&amp;width=1220 1220w">



						<source media="(min-width: 1220px)" srcset="https://www.ft.com/__origami/service/image/v2/images/raw/http://prod-upp-image-read.ft.com/402afdfa-f78e-11e7-8715-e94187b3017e?source=next&amp;fit=scale-down&amp;quality=highest&amp;width=1440 1440w">

					<img alt="" class="topper__image" src="https://www.ft.com/__origami/service/image/v2/images/raw/http://prod-upp-image-read.ft.com/05fff02c-f78e-11e7-8715-e94187b3017e?source=next&amp;fit=scale-down&amp;quality=highest&amp;width=1440">
				</picture>
				<figcaption class="topper__image-credit">© Bloomberg</figcaption>
			</figure>


</div>
