<div class="o-ft-forms__global-message--error">
    <p>This is a global error message that relates to the entire form</p>
</div>
<fieldset class="o-ft-forms__section">
    <div class="o-ft-forms__field-group">
        <label class="o-ft-forms__label">Field label</label>
        <small class="o-ft-forms__additional-info">Additional field information</small>
        <input type="text" placeholder="placeholder" class="o-ft-forms__field o-ft-forms__field--text--text" />
    </div>
</fieldset>