<div class="o-buttons-group">
	<button class="o-buttons o-buttons--secondary" aria-selected="true">John</button>
	<button class="o-buttons o-buttons--secondary">Paul</button>
	<button class="o-buttons o-buttons--secondary">George</button>
	<button class="o-buttons o-buttons--secondary">Ringo</button>
</div>
