<div class="o-buttons__group">
    <button class="o-buttons" aria-selected="true">John</button><!--
 --><button class="o-buttons">Paul</button><!--
 --><button class="o-buttons">George</button><!--
 --><button class="o-buttons">Ringo</button>
</div>
