<table class="o-table">
    <tr>
        <th>Repo name</th>
        <th>Host name</th>
    </tr>
    <tr>
        <td>tweet-service</td>
        <td>tweet.webservices.ft.com</td>
    </tr>
    <tr>
        <td>nav-service</td>
        <td>nav.webservices.ft.com</td>
    </tr>
    <tr>
        <td>mostpopular-service</td>
        <td>mostpopular.webservices.ft.com</td>
    </tr>
</table>