
<div class="o-ft-typography-heading1">Heading 1 <a href="#">Link</a></div>
<div class="o-ft-typography-heading2">Heading 2 <a href="#">Link</a></div>
<div class="o-ft-typography-heading3">Heading 3 <a href="#">Link</a></div>
<div class="o-ft-typography-heading4">Heading 4 <a href="#">Link</a></div>
<div class="o-ft-typography-heading5">Heading 5 <a href="#">Link</a></div>
<div class="o-ft-typography-heading6">Heading 6 <a href="#">Link</a></div>