
<h2 class="o-ft-typography-heading-xlarge">Heading Extra Large <a href="#">Link</a></h2>
<h2 class="o-ft-typography-heading-large">Heading Large <a href="#">Link</a></h2>
<h3 class="o-ft-typography-heading-medium">Heading Medium <a href="#">Link</a></h3>
<h4 class="o-ft-typography-heading-small">Heading Small <a href="#">Link</a></h4>