<table class="o-table">
    <tr>
        <th scope="row">Repo name</th>
        <td>tweet-service</td>
    </tr>
    <tr>
        <th scope="row">Last updated</th>
        <td>27 Feb 2014</td>
    </tr>
    <tr>
        <th scope="row">Support status</th>
        <td>Active</td>
    </tr>
    <tr>
        <th scope="row">Validity</th>
        <td>Valid</td>
    </tr>
</table>