<h1 class="o-typography-heading1">Heading 1</h1>
<h2 class="o-typography-heading2">Heading 2</h2>
<h3 class="o-typography-heading3">Heading 3</h3>
<h3 class="o-typography-heading4">Heading 4</h3>
<h2 class="o-typography-subhead">In Article Subheading</h2>
<h2 class="o-typography-subhead--crosshead">In Article Crosshead</h2>
