<div data-o-component="o-expander" class="o-expander" data-o-expander-shrink-to="height">
	<h2>Enough room</h2>
	<div class="o-expander__content">
		line<br>
		line
	</div>
	<button class="o-expander__toggle"></button>
</div>

<div data-o-component="o-expander" class="o-expander" data-o-expander-shrink-to="height">
	<h2>Not enough room</h2>
	<div class="o-expander__content">
		line<br>
		line<br>
		line<br>
		line<br>
		line
	</div>
	<button class="o-expander__toggle"></button>
</div>

<div data-o-component="o-expander" class="o-expander" data-o-expander-shrink-to="height" aria-expanded="true">
	<h2>Not enough room, expanded on load</h2>
	<div class="o-expander__content">
		line<br>
		line<br>
		line<br>
		line<br>
		line
	</div>
	<button class="o-expander__toggle"></button>
</div>

<div data-o-component="o-expander" class="o-expander" data-o-expander-shrink-to="height">
	<h2>Enough roomness varies with page width (open in a new window and resize to see)</h2>
	<div class="o-expander__content">
		word word word word word word word word word word word word word word word word word word word word word word
	</div>
	<button class="o-expander__toggle"></button>
</div>
