<div class="demo" data-o-component='o-syntax-highlight'>
	<h2>Highlighted Syntax Demos</h2>
	<h4>HTML</h4>
		<pre><code class="o-syntax-highlight--html">
<div class="some-class" data-attribute="value">
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque consectetur est in urna iaculis tempus.</p>
	<p>Nam faucibus feugiat lectus, <a href="#">sit amet blandit</a> purus bibendum et.</p>
	<button type="button" name="button">Button.</button>
	<!-- <span>Comment</span> -->
</div></code></pre>
</div>
