<div class="demo" data-o-component='o-syntax-highlight'>
	<h2>Highlighted Syntax Demos</h2>
	<h4>HTML</h4>
		<pre>
			<code class="syntax-html">
&lt;div class="some-class" data-attribute="value">
	&lt;p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque consectetur est in urna iaculis tempus.&lt;/p>
	&lt;p>Nam faucibus feugiat lectus, &lt;a href="#">sit amet blandit&lt;/a> purus bibendum et.&lt;/p>
	&lt;button type="button" name="button">Button.&lt;/button>
	&lt;!-- <span>Comment</span> -->
&lt;/div></code>
		</pre>
</div>
