
<div class="demo-block">
  <button class="o-buttons o-buttons--small o-buttons-icon o-buttons-icon--arrow-left o-buttons-icon--icon-only"><span class="o-buttons-icon__label">Go back</span></button>
  <button class="o-buttons o-buttons--small o-buttons-icon o-buttons-icon--arrow-left">Go back</button>
  <br>
  <br>
  <button class="o-buttons o-buttons--small o-buttons-icon o-buttons--uncolored o-buttons-icon--arrow-left o-buttons-icon--icon-only"><span class="o-buttons-icon__label">Go back</span></button>
  <button class="o-buttons o-buttons--small o-buttons-icon o-buttons--uncolored o-buttons-icon--arrow-left">Go back</button>
  <br>
  <br>
  <button class="o-buttons o-buttons--small o-buttons-icon o-buttons--standout o-buttons-icon--arrow-left o-buttons-icon--icon-only"><span class="o-buttons-icon__label">Go back</span></button>
  <button class="o-buttons o-buttons--small o-buttons-icon o-buttons--standout o-buttons-icon--arrow-left">Go back</button>
</div>
<div class='demo-block inverse'>
  <button class="o-buttons o-buttons--small o-buttons-icon o-buttons--inverse o-buttons-icon--arrow-left o-buttons-icon--icon-only"><span class="o-buttons-icon__label">Go back</span></button>
  <button class="o-buttons o-buttons--small o-buttons-icon o-buttons--inverse o-buttons-icon--arrow-left">Go back</button>
</div>
<div class="demo-block">
  <button class="o-buttons o-buttons-icon o-buttons-icon--arrow-left o-buttons-icon--icon-only"><span class="o-buttons-icon__label">Go back</span></button>
  <button class="o-buttons o-buttons-icon o-buttons-icon--arrow-left">Go back</button>
  <br>
  <br>
  <button class="o-buttons o-buttons-icon o-buttons--uncolored o-buttons-icon--arrow-left o-buttons-icon--icon-only"><span class="o-buttons-icon__label">Go back</span></button>
  <button class="o-buttons o-buttons-icon o-buttons--uncolored o-buttons-icon--arrow-left">Go back</button>
  <br>
  <br>
  <button class="o-buttons o-buttons-icon o-buttons--standout o-buttons-icon--arrow-left o-buttons-icon--icon-only"><span class="o-buttons-icon__label">Go back</span></button>
  <button class="o-buttons o-buttons-icon o-buttons--standout o-buttons-icon--arrow-left">Go back</button>
</div>
<div class="demo-block inverse">
  <button class="o-buttons o-buttons-icon o-buttons--inverse o-buttons-icon--arrow-left o-buttons-icon--icon-only"><span class="o-buttons-icon__label">Go back</span></button>
  <button class="o-buttons o-buttons-icon o-buttons--inverse o-buttons-icon--arrow-left">Go back</button>
</div>
<div class="demo-block">
  <button class="o-buttons o-buttons--big o-buttons-icon o-buttons-icon--arrow-left o-buttons-icon--icon-only"><span class="o-buttons-icon__label">Go back</span></button>
  <button class="o-buttons o-buttons--big o-buttons-icon o-buttons-icon--arrow-left">Go back</button>
  <br>
  <br>
  <button class="o-buttons o-buttons--big o-buttons-icon o-buttons--uncolored o-buttons-icon--arrow-left o-buttons-icon--icon-only"><span class="o-buttons-icon__label">Go back</span></button>
  <button class="o-buttons o-buttons--big o-buttons-icon o-buttons--uncolored o-buttons-icon--arrow-left">Go back</button>
  <br>
  <br>
  <button class="o-buttons o-buttons--big o-buttons-icon o-buttons--standout o-buttons-icon--arrow-left o-buttons-icon--icon-only"><span class="o-buttons-icon__label">Go back</span></button>
  <button class="o-buttons o-buttons--big o-buttons-icon o-buttons--standout o-buttons-icon--arrow-left">Go back</button>
</div>
<div class="demo-block inverse">
<button class="o-buttons o-buttons--big o-buttons-icon o-buttons--inverse o-buttons-icon--arrow-left o-buttons-icon--icon-only"><span class="o-buttons-icon__label">Go back</span></button>
<button class="o-buttons o-buttons--big o-buttons-icon o-buttons--inverse o-buttons-icon--arrow-left">Go back</button>
</div>
