<h2>Currently supported icons</h2>
	{{#icons}}
		<button class="o-buttons o-buttons--secondary o-buttons-icon o-buttons-icon--{{name}}">
			{{text}}
		</button>
	{{/icons}}
	<br>
	<br>
	{{#icons}}
		<button class="o-buttons o-buttons--secondary o-buttons--big o-buttons-icon o-buttons-icon--{{name}}">
			{{text}}
		</button>
	{{/icons}}
<h2>Icon buttons without text</h2>
{{#icons}}
<button class="o-buttons o-buttons--secondary o-buttons-icon o-buttons-icon--{{name}} o-buttons-icon--icon-only">
	<span class="o-buttons-icon__label">{{text}}</span>
</button>
{{/icons}}
<br>
<br>
{{#icons}}
<button class="o-buttons o-buttons--secondary o-buttons-icon o-buttons--big o-buttons-icon--{{name}} o-buttons-icon--icon-only">
	<span class="o-buttons-icon__label">{{text}}</span>
</button>
{{/icons}}

<h2>Icon buttons with different themes</h2>
	{{#themes}}
		<div class='theme-box {{name}}'>
			<button class="o-buttons o-buttons--secondary o-buttons--{{name}} o-buttons-icon o-buttons-icon--arrow-down">
				Show
			</button>
		</div>
	{{/themes}}
	<br>
	</br>
	{{#themes}}
		<div class='theme-box {{name}}'>
			<button class="o-buttons o-buttons--secondary o-buttons--big o-buttons--{{name}} o-buttons-icon o-buttons-icon--arrow-down">
				Show
			</button>
		</div>
	{{/themes}}
