
<div class="demo-buttons">
	<button class="demo-button" id="banner-standard">Standard banner</button>
	<button class="demo-button" id="banner-promo">Promo banner</button>
	<button class="demo-button" id="banner-promo-standout">Promo standout banner</button>
</div>
