<h6>Alert messages</h6>
<div class="list-of-demo-buttons">
	<button class="demo-button" id="alert-success">Success Alert</button>
	<button class="demo-button" id="alert-neutral">Neutral Alert</button>
	<button class="demo-button" id="alert-error">Error Alert</button>

	<button class="demo-button" id="inner-alert-success">Success Alert (Inner)</button>
	<button class="demo-button" id="inner-alert-neutral">Information Alert (Inner)</button>
	<button class="demo-button" id="inner-alert-error">Error Alert (Inner)</button>
</div>

<h6>Notice messages</h6>
<div class="list-of-demo-buttons">
	<button class="demo-button" id="notice-inform">Inform Notice</button>
	<button class="demo-button" id="notice-warning">Warning Notice</button>
	<button class="demo-button" id="notice-warning-light">Light Warning Notice</button>


	<button class="demo-button" id="inner-notice-inform">Inform Notice (Inner)</button>
	<button class="demo-button" id="inner-notice-warning">Warning Notice (Inner)</button>
	<button class="demo-button" id="inner-notice-warning-light">Light Warning Notice (Inner)</button>
</div>

<h6>Action messages</h6>
<div class="list-of-demo-buttons">
	<button class="demo-button" id="action-inform-inverse">Inform-Inverse Action</button>
</div>

<div class="demo-inner"></div>
