
<div class="demo-buttons">
	<button class="demo-button" id="banner-standard">Standard banner</button>
	<button class="demo-button" id="banner-small">Small banner</button>
	<button class="demo-button" id="banner-marketing-secondary">Secondary marketing banner</button>
	<button class="demo-button" id="banner-marketing-primary">Primary marketing banner</button>
</div>
