<button class="o-ft-buttons o-ft-buttons--uncolored">Standard</button><!--
--><button class="o-ft-buttons o-ft-buttons--uncolored" aria-selected="true">Selected</button><!--
--><button class="o-ft-buttons o-ft-buttons--uncolored" disabled="disabled">Disabled</button>

<br />
<br />

<button class="o-ft-buttons o-ft-buttons--uncolored o-ft-buttons--big">Standard</button><!--
--><button class="o-ft-buttons o-ft-buttons--uncolored o-ft-buttons--big" aria-selected="true">Selected</button><!--
--><button class="o-ft-buttons o-ft-buttons--uncolored o-ft-buttons--big" disabled="disabled">Disabled</button>
