<span class="demo-scale-m1 o-labels-indicator o-labels-indicator--live{{#modifiers}} o-labels-indicator--{{.}}{{/modifiers}}">
    <span class="o-labels-indicator__status">
        live
    </span>
</span>

<br>

<span class="demo-scale-m1 o-labels-indicator o-labels-indicator--closed{{#modifiers}} o-labels-indicator--{{.}}{{/modifiers}}">
    <span class="o-labels-indicator__status">
        closed
    </span>
</span>

<br>

<span class="demo-scale-m1 o-labels-indicator o-labels-indicator--new{{#modifiers}} o-labels-indicator--{{.}}{{/modifiers}}">
    <span class="o-labels-indicator__status">
        new
    </span>
    <time class="o-labels-indicator__timestamp">
        <!-- demo time element only (the datetime is not 1 hour ago): use o-date for dynamic datetime formatting -->
        <time datetime="2020-07-09T12:52:33+0000" title="July 9 2020 1:52 pm" aria-label="1 hours ago">1 hour ago</time>
    </time>
</span>

<br>

<span class="demo-scale-m1 o-labels-indicator o-labels-indicator--updated{{#modifiers}} o-labels-indicator--{{.}}{{/modifiers}}">
    <span class="o-labels-indicator__status">
        updated
    </span>
    <time class="o-labels-indicator__timestamp">
        <!-- demo time element only (the datetime is not 1 hour ago): use o-date for dynamic datetime formatting -->
        <time datetime="2020-07-09T12:52:33+0000" title="July 9 2020 1:52 pm" aria-label="1 hours ago">1 hour ago</time>
    </time>
</span>

<hr>

<span class="demo-scale-0 o-labels-indicator o-labels-indicator--live{{#modifiers}} o-labels-indicator--{{.}}{{/modifiers}}">
    <span class="o-labels-indicator__status">
        live
    </span>
</span>

<br>

<span class="demo-scale-0 o-labels-indicator o-labels-indicator--closed{{#modifiers}} o-labels-indicator--{{.}}{{/modifiers}}">
    <span class="o-labels-indicator__status">
        closed
    </span>
</span>

<br>

<span class="demo-scale-0 o-labels-indicator o-labels-indicator--new{{#modifiers}} o-labels-indicator--{{.}}{{/modifiers}}">
    <span class="o-labels-indicator__status">
        new
    </span>
    <time class="o-labels-indicator__timestamp">
        <!-- demo time element only (the datetime is not 1 hour ago): use o-date for dynamic datetime formatting -->
        <time datetime="2020-07-09T12:52:33+0000" title="July 9 2020 1:52 pm" aria-label="1 hours ago">1 hour ago</time>
    </time>
</span>

<br>

<span class="demo-scale-0 o-labels-indicator o-labels-indicator--updated{{#modifiers}} o-labels-indicator--{{.}}{{/modifiers}}">
    <span class="o-labels-indicator__status">
        updated
    </span>
    <time class="o-labels-indicator__timestamp">
        <!-- demo time element only (the datetime is not 1 hour ago): use o-date for dynamic datetime formatting -->
        <time datetime="2020-07-09T12:52:33+0000" title="July 9 2020 1:52 pm" aria-label="1 hours ago">1 hour ago</time>
    </time>
</span>

<hr>

<span class="demo-scale-1 o-labels-indicator o-labels-indicator--live{{#modifiers}} o-labels-indicator--{{.}}{{/modifiers}}">
    <span class="o-labels-indicator__status">
        live
    </span>
</span>

<br>

<span class="demo-scale-1 o-labels-indicator o-labels-indicator--closed{{#modifiers}} o-labels-indicator--{{.}}{{/modifiers}}">
    <span class="o-labels-indicator__status">
        closed
    </span>
</span>

<br>

<span class="demo-scale-1 o-labels-indicator o-labels-indicator--new{{#modifiers}} o-labels-indicator--{{.}}{{/modifiers}}">
    <span class="o-labels-indicator__status">
        new
    </span>
    <time class="o-labels-indicator__timestamp">
        <!-- demo time element only (the datetime is not 1 hour ago): use o-date for dynamic datetime formatting -->
        <time datetime="2020-07-09T12:52:33+0000" title="July 9 2020 1:52 pm" aria-label="1 hours ago">1 hour ago</time>
    </time>
</span>

<br>

<span class="demo-scale-1 o-labels-indicator o-labels-indicator--updated{{#modifiers}} o-labels-indicator--{{.}}{{/modifiers}}">
    <span class="o-labels-indicator__status">
        updated
    </span>
    <time class="o-labels-indicator__timestamp">
        <!-- demo time element only (the datetime is not 1 hour ago): use o-date for dynamic datetime formatting -->
        <time datetime="2020-07-09T12:52:33+0000" title="July 9 2020 1:52 pm" aria-label="1 hours ago">1 hour ago</time>
    </time>
</span>

<hr>

<span class="demo-scale-2 o-labels-indicator o-labels-indicator--live{{#modifiers}} o-labels-indicator--{{.}}{{/modifiers}}">
    <span class="o-labels-indicator__status">
        live
    </span>
</span>

<br>

<span class="demo-scale-2 o-labels-indicator o-labels-indicator--closed{{#modifiers}} o-labels-indicator--{{.}}{{/modifiers}}">
    <span class="o-labels-indicator__status">
        closed
    </span>
</span>

<br>

<span class="demo-scale-2 o-labels-indicator o-labels-indicator--new{{#modifiers}} o-labels-indicator--{{.}}{{/modifiers}}">
    <span class="o-labels-indicator__status">
        new
    </span>
    <time class="o-labels-indicator__timestamp">
        <!-- demo time element only (the datetime is not 1 hour ago): use o-date for dynamic datetime formatting -->
        <time datetime="2020-07-09T12:52:33+0000" title="July 9 2020 1:52 pm" aria-label="1 hours ago">1 hour ago</time>
    </time>
</span>

<br>

<span class="demo-scale-2 o-labels-indicator o-labels-indicator--updated{{#modifiers}} o-labels-indicator--{{.}}{{/modifiers}}">
    <span class="o-labels-indicator__status">
        updated
    </span>
    <time class="o-labels-indicator__timestamp">
        <!-- demo time element only (the datetime is not 1 hour ago): use o-date for dynamic datetime formatting -->
        <time datetime="2020-07-09T12:52:33+0000" title="July 9 2020 1:52 pm" aria-label="1 hours ago">1 hour ago</time>
    </time>
</span>
