<button class="o-buttons o-buttons--small">Standard</button>
<button class="o-buttons o-buttons--small" aria-selected="true">Selected</button>
<button class="o-buttons o-buttons--small" aria-pressed="true">Pressed</button>
<button class="o-buttons o-buttons--small" disabled="disabled">Disabled</button>

<br />
<br />

<button class="o-buttons o-buttons--small o-buttons-icon o-buttons-icon--arrow-left o-buttons-icon--icon-only"></button>
<button class="o-buttons o-buttons--small o-buttons-icon o-buttons-icon--arrow-left o-buttons-icon--icon-only" aria-selected="true"></button>
<button class="o-buttons o-buttons--small o-buttons-icon o-buttons-icon--arrow-left o-buttons-icon--icon-only" aria-pressed="true"></button>
<button class="o-buttons o-buttons--small o-buttons-icon o-buttons-icon--arrow-left o-buttons-icon--icon-only" disabled="disabled"></button>


<br />
<br />

<button class="o-buttons">Standard</button>
<button class="o-buttons" aria-selected="true">Selected</button>
<button class="o-buttons" aria-pressed="true">Pressed</button>
<button class="o-buttons" disabled="disabled">Disabled</button>

<br />
<br />

<button class="o-buttons o-buttons o-buttons-icon o-buttons-icon--arrow-left o-buttons-icon--icon-only"></button>
<button class="o-buttons o-buttons o-buttons-icon o-buttons-icon--arrow-left o-buttons-icon--icon-only" aria-selected="true"></button>
<button class="o-buttons o-buttons o-buttons-icon o-buttons-icon--arrow-left o-buttons-icon--icon-only" aria-pressed="true"></button>
<button class="o-buttons o-buttons o-buttons-icon o-buttons-icon--arrow-left o-buttons-icon--icon-only" disabled="disabled"></button>


<br />
<br />

<button class="o-buttons o-buttons--big">Standard</button>
<button class="o-buttons o-buttons--big" aria-selected="true">Selected</button>
<button class="o-buttons o-buttons--big" aria-pressed="true">Pressed</button>
<button class="o-buttons o-buttons--big" disabled="disabled">Disabled</button>

<br />
<br />

<button class="o-buttons o-buttons--big o-buttons-icon o-buttons-icon--arrow-left o-buttons-icon--icon-only"></button>
<button class="o-buttons o-buttons--big o-buttons-icon o-buttons-icon--arrow-left o-buttons-icon--icon-only" aria-selected="true"></button>
<button class="o-buttons o-buttons--big o-buttons-icon o-buttons-icon--arrow-left o-buttons-icon--icon-only" aria-pressed="true"></button>
<button class="o-buttons o-buttons--big o-buttons-icon o-buttons-icon--arrow-left o-buttons-icon--icon-only" disabled="disabled"></button>
