<button class="o-ft-buttons o-ft-buttons--inverse">Standard</button>
<button class="o-ft-buttons o-ft-buttons--inverse" aria-selected="true">Selected</button>
<button class="o-ft-buttons o-ft-buttons--inverse" disabled="disabled">Disabled</button>

<br />
<br />

<button class="o-ft-buttons o-ft-buttons--inverse o-ft-buttons--big">Standard</button>
<button class="o-ft-buttons o-ft-buttons--inverse o-ft-buttons--big" aria-selected="true">Selected</button>
<button class="o-ft-buttons o-ft-buttons--inverse o-ft-buttons--big" disabled="disabled">Disabled</button>
