<button class="o-ft-buttons o-ft-buttons--standout">Standard</button><!--
--><button class="o-ft-buttons o-ft-buttons--standout o-ft-buttons--selected">Selected</button><!--
--><button class="o-ft-buttons o-ft-buttons--standout o-ft-buttons--disabled">Disabled</button>

<br />
<br />

<button class="o-ft-buttons o-ft-buttons--standout o-ft-buttons--big">Standard</button><!--
--><button class="o-ft-buttons o-ft-buttons--standout o-ft-buttons--big o-ft-buttons--selected">Selected</button><!--
--><button class="o-ft-buttons o-ft-buttons--standout o-ft-buttons--big o-ft-buttons--disabled">Disabled</button>
