<button class="o-buttons o-buttons--small o-buttons--inverse">Standard</button>
<button class="o-buttons o-buttons--small o-buttons--inverse" aria-selected="true">Selected</button>
<button class="o-buttons o-buttons--small o-buttons--inverse" aria-pressed="true">Pressed</button>
<button class="o-buttons o-buttons--small o-buttons--inverse" disabled="disabled">Disabled</button>

<br />
<br />

<button class="o-buttons o-buttons--inverse">Standard</button>
<button class="o-buttons o-buttons--inverse" aria-selected="true">Selected</button>
<button class="o-buttons o-buttons--inverse" aria-pressed="true">Pressed</button>
<button class="o-buttons o-buttons--inverse" disabled="disabled">Disabled</button>

<br />
<br />

<button class="o-buttons o-buttons--inverse o-buttons--big">Standard</button>
<button class="o-buttons o-buttons--inverse o-buttons--big" aria-selected="true">Selected</button>
<button class="o-buttons o-buttons--inverse o-buttons--big" aria-pressed="true">Pressed</button>
<button class="o-buttons o-buttons--inverse o-buttons--big" disabled="disabled">Disabled</button>
