<button class="o-buttons o-buttons--standout o-buttons--small">Standard</button>
<button class="o-buttons o-buttons--standout o-buttons--small" aria-selected="true">Selected</button>
<button class="o-buttons o-buttons--standout o-buttons--small" aria-pressed="true">Pressed</button>
<button class="o-buttons o-buttons--standout o-buttons--small" disabled="disabled">Disabled</button>

<br />
<br />

<button class="o-buttons o-buttons--standout">Standard</button>
<button class="o-buttons o-buttons--standout" aria-selected="true">Selected</button>
<button class="o-buttons o-buttons--standout" aria-pressed="true">Pressed</button>
<button class="o-buttons o-buttons--standout" disabled="disabled">Disabled</button>

<br />
<br />

<button class="o-buttons o-buttons--standout o-buttons--big">Standard</button>
<button class="o-buttons o-buttons--standout o-buttons--big" aria-selected="true">Selected</button>
<button class="o-buttons o-buttons--standout o-buttons--big" aria-pressed="true">Pressed</button>
<button class="o-buttons o-buttons--standout o-buttons--big" disabled="disabled">Disabled</button>
