<button class="o-buttons o-buttons--small o-buttons--uncolored">Standard</button>
<button class="o-buttons o-buttons--small o-buttons--uncolored" aria-selected="true">Selected</button>
<button class="o-buttons o-buttons--small o-buttons--uncolored" aria-pressed="true">Pressed</button>
<button class="o-buttons o-buttons--small o-buttons--uncolored" disabled="disabled">Disabled</button>

<br />
<br />

<button class="o-buttons o-buttons--uncolored">Standard</button>
<button class="o-buttons o-buttons--uncolored" aria-selected="true">Selected</button>
<button class="o-buttons o-buttons--uncolored" aria-pressed="true">Pressed</button>
<button class="o-buttons o-buttons--uncolored" disabled="disabled">Disabled</button>

<br />
<br />

<button class="o-buttons o-buttons--uncolored o-buttons--big">Standard</button>
<button class="o-buttons o-buttons--uncolored o-buttons--big" aria-selected="true">Selected</button>
<button class="o-buttons o-buttons--uncolored o-buttons--big" aria-pressed="true">Pressed</button>
<button class="o-buttons o-buttons--uncolored o-buttons--big" disabled="disabled">Disabled</button>
