<button class="o-buttons o-buttons o-buttons--b2c">Standard</button>
<button class="o-buttons o-buttons o-buttons--b2c" aria-selected="true">Selected</button>
<button class="o-buttons o-buttons o-buttons--b2c" aria-pressed="true">Pressed</button>
<button class="o-buttons o-buttons o-buttons--b2c" disabled="disabled">Disabled</button>
