<div class="o-grid-row">
    <div data-o-grid-colspan="2">
        &nbsp;
    </div>
    <div data-o-grid-colspan="5">
        <h2 class="demo__heading demo__heading--medium">default</h2>
    </div>
    <div data-o-grid-colspan="5">
        <h2 class="demo__heading demo__heading--medium">standout</h2>
    </div>
</div>
<div class="o-grid-row">
    <div data-o-grid-colspan="2">
        <h2 class="demo__heading demo__heading--small">Standard (default)</h2>
    </div>
    <div data-o-grid-colspan="5" class="demo__example">
        <button class="o-ft-buttons">Button</button>
    </div>
    <div data-o-grid-colspan="5" class="demo__example">
        <button class="o-ft-buttons o-ft-buttons--standout">Button</button>
    </div>
</div>
<div class="o-grid-row">
    <div data-o-grid-colspan="2">
        <h2 class="demo__heading demo__heading--small">Selected (default)</h2>
    </div>
    <div data-o-grid-colspan="5" class="demo__example">
        <button class="o-ft-buttons o-ft-buttons--selected">Button</button>
    </div>
    <div data-o-grid-colspan="5" class="demo__example">
        <button class="o-ft-buttons o-ft-buttons--standout o-ft-buttons--selected">Button</button>
    </div>
</div>
<div class="o-grid-row">
    <div data-o-grid-colspan="2">
        <h2 class="demo__heading demo__heading--small">Disabled (default)</h2>
    </div>
    <div data-o-grid-colspan="5" class="demo__example">
        <button class="o-ft-buttons o-ft-buttons--disabled">Button</button>
    </div>
    <div data-o-grid-colspan="5" class="demo__example">
        <button class="o-ft-buttons o-ft-buttons--disabled">Button</button>
    </div>
</div>
<div class="o-grid-row">
    <div data-o-grid-colspan="2">
        <h2 class="demo__heading demo__heading--small">Multiple (default)</h2>
    </div>
    <div data-o-grid-colspan="5">
        <button class="o-ft-buttons">Button</button><!--
     --><button class="o-ft-buttons">Button</button><!--
     --><button class="o-ft-buttons">Button</button><!--
     --><button class="o-ft-buttons">Button</button>
    </div>
    <div data-o-grid-colspan="5">
        <button class="o-ft-buttons o-ft-buttons--standout">Button</button><!--
     --><button class="o-ft-buttons o-ft-buttons--standout">Button</button><!--
     --><button class="o-ft-buttons o-ft-buttons--standout">Button</button><!--
     --><button class="o-ft-buttons o-ft-buttons--standout">Button</button>
    </div>
</div>
<div class="o-grid-row">
    <div data-o-grid-colspan="2">
        <h2 class="demo__heading demo__heading--small">Standard (big)</h2>
    </div>
    <div data-o-grid-colspan="5" class="demo__example">
        <button class="o-ft-buttons o-ft-buttons--big">Button</button>
    </div>
    <div data-o-grid-colspan="5" class="demo__example">
        <button class="o-ft-buttons o-ft-buttons--standout o-ft-buttons--big">Button</button>
    </div>
</div>
<div class="o-grid-row">
    <div data-o-grid-colspan="2">
        <h2 class="demo__heading demo__heading--small">Selected (big)</h2>
    </div>
    <div data-o-grid-colspan="5" class="demo__example">
        <button class="o-ft-buttons o-ft-buttons--big o-ft-buttons--selected">Button</button>
    </div>
    <div data-o-grid-colspan="5" class="demo__example">
        <button class="o-ft-buttons o-ft-buttons--standout o-ft-buttons--big o-ft-buttons--selected">Button</button>
    </div>
</div>
<div class="o-grid-row">
    <div data-o-grid-colspan="2">
        <h2 class="demo__heading demo__heading--small">Disabled (big)</h2>
    </div>
    <div data-o-grid-colspan="5" class="demo__example">
        <button class="o-ft-buttons o-ft-buttons--big o-ft-buttons--disabled">Button</button>
    </div>
    <div data-o-grid-colspan="5" class="demo__example">
        <button class="o-ft-buttons o-ft-buttons--big o-ft-buttons--disabled">Button</button>
    </div>
</div>
<div class="o-grid-row">
    <div data-o-grid-colspan="2">
        <h2 class="demo__heading demo__heading--small">Multiple (big)</h2>
    </div>
    <div data-o-grid-colspan="5">
        <button class="o-ft-buttons o-ft-buttons--big">Button</button><!--
     --><button class="o-ft-buttons o-ft-buttons--big">Button</button><!--
     --><button class="o-ft-buttons o-ft-buttons--big">Button</button><!--
     --><button class="o-ft-buttons o-ft-buttons--big">Button</button>
    </div>
    <div data-o-grid-colspan="5">
        <button class="o-ft-buttons o-ft-buttons--standout o-ft-buttons--big">Button</button><!--
     --><button class="o-ft-buttons o-ft-buttons--standout o-ft-buttons--big">Button</button><!--
     --><button class="o-ft-buttons o-ft-buttons--standout o-ft-buttons--big">Button</button><!--
     --><button class="o-ft-buttons o-ft-buttons--standout o-ft-buttons--big">Button</button>
    </div>
</div>