<div class="o-grid-row">
	<div data-o-grid-colspan="6 S12 M12">
		<div class="o-grid-row o-grid-row-compact">
			<div data-o-grid-colspan="3">
				<label class="o-forms__label o-forms__label--inline">Inline label</label>
			</div>
			<div data-o-grid-colspan="9">
				<textarea placeholder="placeholder" class="o-forms__field--textarea"></textarea>
			</div>
		</div>
	</div>
	<div data-o-grid-colspan="6 S12 M12">
		<div class="o-grid-row o-grid-row-compact o-forms--error">
			<div data-o-grid-colspan="3">
				<label class="o-forms__label o-forms__label--inline">Inline label (error)</label>
			</div>
			<div data-o-grid-colspan="9">
				<textarea placeholder="placeholder" class="o-forms__field--textarea"></textarea>
				<small class="o-forms__errortext">Invalid entry</small>
			</div>
		</div>
	</div>
</div>
