<fieldset class="o-forms o-forms--inline">
    <div class="o-forms__inline-container">
        <legend class="o-forms__label">No default selection</legend>
        <div class="o-forms__group o-forms__group--inline-together">
            <input type="radio" name="radio4" value="daily" class="o-forms__radio-button" id="radio41" />
            <label for="radio41" class="o-forms__label">Daily</label>
            <input type="radio" name="radio4" value="weekly" class="o-forms__radio-button" id="radio42" />
            <label for="radio42" class="o-forms__label">Weekly</label>
        </div>
    </div>
</fieldset>

<fieldset class="o-forms o-forms--inline">
    <div class="o-forms__inline-container">
        <legend class="o-forms__label">Positive / negative choice with a default selection</legend>
        <div class="o-forms__group o-forms__group--inline-together">
            <input type="radio" name="radio8" value="yes" class="o-forms__radio-button" id="radio81" />
            <label for="radio81" class="o-forms__label">Yes</label>
            <input type="radio" name="radio8" value="no" class="o-forms__radio-button o-forms__radio-button--negative" id="radio82" checked />
            <label for="radio82" class="o-forms__label">No</label>
        </div>
    </div>
</fieldset>

<fieldset class="o-forms o-forms--inline o-forms--checkboxes">
    <div class="o-forms__inline-container">
        <legend class="o-forms__label">Checkbox Toggle</legend>
        <div class="o-forms__group">
            <div class="o-forms__toggle">
                <input class="o-forms__toggle__checkbox" data-o-form-toggle type="checkbox" name="checkbox" value="1" id="checkboxToggle1" />
                <label for="checkboxToggle1" class="o-forms__label">Checkbox Toggle 1</label>
            </div>
            <div class="o-forms__toggle">
                <input class="o-forms__toggle__checkbox" data-o-form-toggle type="checkbox" name="checkbox" value="1" id="checkboxToggle2" checked="checked" />
                <label for="checkboxToggle2" class="o-forms__label">Checkbox Toggle 2</label>
            </div>
        </div>
    </div>
</fieldset>

<div class="o-forms o-forms--inline o-forms--checkboxes">
    <div class="o-forms__inline-item">
        <legend aria-describedby="default-checkboxes-info" class="o-forms__label">Default checkboxes</legend>
        <div id="default-checkboxes-info" class="o-forms__additional-info">Prompt text follows the ledgend if required.</div>
    </div>
    <div class="o-forms__group">
        <input type="checkbox" name="checkbox" value="1" class="o-forms__checkbox" id="checkbox11" checked="checked" />
        <label for="checkbox11" class="o-forms__label">Checkbox 1</label>
        <input type="checkbox" name="checkbox" value="2" class="o-forms__checkbox" id="checkbox12" />
        <label for="checkbox12" class="o-forms__label">Checkbox 2</label>
        <input type="checkbox" name="checkbox" value="3" class="o-forms__checkbox" id="checkbox13" />
        <label for="checkbox13" class="o-forms__label">Checkbox 3</label>
    </div>
</div>

<fieldset class="o-forms o-forms--inline o-forms--radios o-forms--error">
    <div class="o-forms__inline-container">
        <legend class="o-forms__label">Error</legend>
        <div class="o-forms__group">
            <input type="checkbox" name="checkbox3" value="1" class="o-forms__checkbox" id="checkbox31" checked="checked" />
            <label for="checkbox31" class="o-forms__label">Checkbox 1</label>
            <input type="checkbox" name="checkbox3" value="2" class="o-forms__checkbox" id="checkbox32" />
            <label for="checkbox32" class="o-forms__label">Checkbox 2</label>
        </div>
        <div class="o-forms__errortext">Invalid entry</div>
    </div>
</fieldset>

<fieldset class="o-forms o-forms--inline o-forms--radios">
    <div class="o-forms__inline-container">
        <div class="o-forms__inline-item">
            <legend aria-describedby="default-radio-controls" class="o-forms__label">Default radio controls</legend>
            <div id="default-radio-controls" class="o-forms__additional-info">Prompt text follows the ledgend if required.</div>
        </div>
        <div class="o-forms__group">
            <input type="radio" name="radio" value="1" class="o-forms__radio" id="radio11" checked="checked" />
            <label for="radio11" class="o-forms__label">Radio 1</label>
            <input type="radio" name="radio" value="2" class="o-forms__radio" id="radio12" />
            <label for="radio12" class="o-forms__label">Radio 2</label>
        </div>
    </div>
</fieldset>

<fieldset class="o-forms o-forms--inline o-forms--radios o-forms--error">
    <div class="o-forms__inline-container">
        <legend class="o-forms__label">Error</legend>
        <div class="o-forms__group">
            <input type="radio" name="radio3" value="1" class="o-forms__radio" id="radio31" checked="checked" />
            <label for="radio31" class="o-forms__label">Radio 1</label>
            <input type="radio" name="radio3" value="2" class="o-forms__radio" id="radio32" />
            <label for="radio32" class="o-forms__label">Radio 2</label>
        </div>
        <div class="o-forms__errortext">Invalid entry</div>
    </div>
</fieldset>

<div class="o-forms o-forms--inline">
    <div class="o-forms__inline-item">
	    <label aria-describedby="select-box-info" for="select-standard" class="o-forms__label">Select box</label>
	    <div id="select-box-info" class="o-forms__additional-info">Prompt text follows the label if required.</div>
    </div>
	<select id="select-standard" class="o-forms__select">
		<option value="option1" selected>Option 1</option>
		<option value="option2">Option 2</option>
		<option value="option3">Option 3</option>
		<option value="option4">Option 4</option>
	</select>
</div>

<div class="o-forms o-forms--inline o-forms--error">
	<label for="select-invalid" class="o-forms__label">Select box (error)</label>
    <select id="select-invalid" class="o-forms__select">
        <option value="option1" selected>Option 1</option>
        <option value="option2">Option 2</option>
        <option value="option3">Option 3</option>
        <option value="option4">Option 4</option>
    </select>
    <div class="o-forms__errortext">Invalid entry</div>
</div>

<div class="o-forms o-forms--inline">
    <div class="o-forms__inline-item">
	    <label aria-describedby="text-input-info" for="o-forms-standard" class="o-forms__label">Text input</label>
	    <div id="text-input-info" class="o-forms__additional-info">Prompt text follows the label if required..</div>
    </div>
	<input type="text" id="o-forms-standard" class="o-forms__text" required />
</div>

<div class="o-forms o-forms--inline o-forms--error">
	<label for="o-forms-invalid" class="o-forms__label">URL input :invalid</label>
    <input type="url" id="o-forms-invalid" class="o-forms__text" value="hp://invalid.com" />
    <div class="o-forms__errortext">Please enter a valid url</div>
</div>

<div class="o-forms o-forms--inline">
    <div class="o-forms__inline-item o-forms__inline-item--long">
	    <label aria-describedby="long-label-content-info" for="o-forms-long" class="o-forms__label">A long label and additional content</label>
	    <div id="long-label-content-info" class="o-forms__additional-info">Inline inputs with long labels / additonal content have a unique class to align them to the start and span error messages.</div>
    </div>
	<input type="text" id="o-forms-long" class="o-forms__text" required />
</div>

<div class="o-forms o-forms--inline o-forms--error">
    <div class="o-forms__inline-item o-forms__inline-item--long">
	    <label aria-describedby="long-label-content-invalid-info" for="o-forms-invalid-long" class="o-forms__label">A long label and additional content</label>
	    <div id="long-label-content-invalid-info" class="o-forms__additional-info">Inline inputs with long labels / additonal content have a unique class to align them to the start and span error messages.</div>
    </div>
    <input type="url" id="o-forms-invalid-long" class="o-forms__text" value="hp://invalid.com" />
    <div class="o-forms__errortext">Please enter a valid url</div>
</div>

<div class="o-forms o-forms--inline">
    <div class="o-forms__inline-item">
	    <label aria-describedby="textarea-info" for="o-forms__textarea" class="o-forms__label">Textarea</label>
	    <div id="textarea-info" class="o-forms__additional-info">Prompt text follows the label if required.</div>
    </div>
	<textarea id="o-forms__textarea" class="o-forms__textarea"></textarea>
</div>

<div class="o-forms o-forms--inline o-forms--error">
	<label for="o-forms__textarea-invalid" class="o-forms__label">Textarea (error)</label>
	<textarea id="o-forms__textarea-invalid" class="o-forms__textarea"></textarea>
    <div class="o-forms__errortext">Invalid entry</div>
</div>

