<div class="demo" data-o-component='o-syntax-highlight'>
	<h2>Highlighted Syntax Demos</h2>
	<h4>HTML</h4>

	<p>This is some text, and it is here to illustrate that if you use a <code>&lt;code></code> tag, it will get light treatment regardless of what language is inside it. But only if it is an inline <code>&lt;code></code> block</p>
		<pre>
			<code class="o-syntax-highlight--html">
<div class="some-class" data-attribute="value">
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque consectetur est in urna iaculis tempus.</p>
	<p>Nam faucibus feugiat lectus, <a href="#">sit amet blandit</a> purus bibendum et.</p>
	<button type="button" name="button">Button.</button>
	<!-- <span>Comment</span> -->
</div></code>
		</pre>
</div>
