<div class="demo-column o-grid-row">
    <div data-o-grid-colspan="3 S12 M12">
        <div class="o-grid-row" class="o-ft-forms__field-group">
            <div data-o-grid-colspan="4" >
                <label class="o-ft-forms__label o-ft-forms__label--inline">Inline label</label>
            </div>
            <div data-o-grid-colspan="8">
                <input type="text" placeholder="placeholder" class="o-ft-forms__field--text" />
            </div>
        </div>
    </div>
    <div data-o-grid-colspan="3 S12 M12">&nbsp;</div>
    <div data-o-grid-colspan="3 S12 M12" class="o-ft-forms--error">
        <div class="o-grid-row" class="o-ft-forms__field-group">
            <div data-o-grid-colspan="4">
                <label class="o-ft-forms__label o-ft-forms__label--inline">Inline label</label>
            </div>
            <div data-o-grid-colspan="8">
                <input type="text" placeholder="placeholder" class="o-ft-forms__field--text" />
                <small class="o-ft-forms__errortext">Invalid entry</small>
            </div>
        </div>
    </div>
</div>

