<fieldset class="o-forms o-forms--inline-controls">
    <div class="o-forms__inline-container">
        <legend class="o-forms__label">Standard</legend>
        <div class="o-forms__group o-forms__group--inline-together">
            <input type="radio" name="radio1" value="yes" class="o-forms__radio-button" id="radio10" />
            <label for="radio10" class="o-forms__label">Yes</label>
            <input type="radio" name="radio1" value="no" class="o-forms__radio-button" id="radio11" />
            <label for="radio11" class="o-forms__label">No</label>
        </div>
    </div>
</fieldset>

<fieldset class="o-forms o-forms--inline-controls o-forms--error">
    <div class="o-forms__inline-container">
        <legend class="o-forms__label">With Error</legend>
        <div class="o-forms__group o-forms__group--inline-together">
            <input type="radio" name="radio2" value="daily" class="o-forms__radio-button" id="radio20" />
            <label for="radio20" class="o-forms__label">Yes</label>
            <input type="radio" name="radio2" value="weekly" class="o-forms__radio-button" id="radio21" />
            <label for="radio21" class="o-forms__label">No</label>
        </div>
        <div class="o-forms__errortext">Sorry there was a problem.</div>
    </div>
</fieldset>
