<div class="o-grid-row">
    <div data-o-grid-colspan="6 S12 M12">
        <div class="o-grid-row">
            <div data-o-grid-colspan="3">
                <label class="o-forms__label o-forms__label--inline">Label</label>
            </div>
            <div data-o-grid-colspan="9">
                <input type="checkbox" name="checkbox4" value="1" class="o-forms__field" id="checkbox41"><label for="checkbox41" class="o-forms__label"><span class="o-forms__field--pseudo"></span>Checkbox 1</label>
                <input type="checkbox" name="checkbox4" value="2" class="o-forms__field" id="checkbox42"><label for="checkbox42" class="o-forms__label"><span class="o-forms__field--pseudo"></span>Checkbox 2</label>
                <input type="checkbox" name="checkbox4" value="3" class="o-forms__field" id="checkbox43"><label for="checkbox43" class="o-forms__label"><span class="o-forms__field--pseudo"></span>Checkbox 3</label>
            </div>
        </div>
    </div>
    <div class="o-forms--error" data-o-grid-colspan="6 S12 M12">
        <div class="o-grid-row">
            <div data-o-grid-colspan="3">
                <label class="o-forms__label o-forms__label--inline">Inline label (error)</label>
            </div>
            <div data-o-grid-colspan="9">
                <input type="checkbox" name="checkbox5" value="1" class="o-forms__field" id="checkbox51"><label for="checkbox51" class="o-forms__label"><span class="o-forms__field--pseudo"></span>Checkbox 1</label>
                <input type="checkbox" name="checkbox5" value="2" class="o-forms__field" id="checkbox52"><label for="checkbox52" class="o-forms__label"><span class="o-forms__field--pseudo"></span>Checkbox 2</label>
                <input type="checkbox" name="checkbox5" value="3" class="o-forms__field" id="checkbox53"><label for="checkbox53" class="o-forms__label"><span class="o-forms__field--pseudo"></span>Checkbox 3</label>
                <small class="o-forms__errortext">Invalid entry</small>
            </div>
        </div>
    </div>
</div>

