<button class="o-buttons o-buttons--small o-buttons--inverse">Inverse</button>
<button class="o-buttons o-buttons--inverse">Inverse</button>
<button class="o-buttons o-buttons--inverse o-buttons--big">Inverse</button>
