<button class="o-buttons o-buttons--secondary o-buttons--inverse">Inverse</button>
<button class="o-buttons o-buttons--secondary o-buttons--inverse o-buttons--big">Inverse</button>
<button class="o-buttons o-buttons--secondary o-buttons--inverse o-buttons-icon o-buttons-icon--arrow-right o-buttons--big">Inverse</button>
<button class="o-buttons o-buttons--secondary o-buttons--inverse o-buttons--big" disabled>Inverse</button>
