<div class="demo" data-o-component='o-syntax-highlight'>
	<h4>JSON</h4>
	<pre>
		<code class='syntax-json'>
"object": {
	"string": "string",
	"array": [
		"name",
		"names"
	],
	"object" : {
		"nested": "<div>html</div>"
	}
	"numbers": 1
}</code>
	</pre>
<div>
