<div class="demo" data-o-component='o-syntax-highlight'>
	<pre>
		<code class='o-syntax-highlight--json'>
"object": {
	"string": "string",
	"array": [
		"name",
		"names"
	],
	"object" : {
		"nested": "&lt;div>html&lt;/div>"
	}
	"numbers": 1
}</code>
	</pre>
<div>
