
<div class="o-ft-typography-label-large">Label Large <a href="#">Link</a></div>
<div class="o-ft-typography-label-medium">Label Medium <a href="#">Link</a></div>
<div class="o-ft-typography-label-small">Label Small <a href="#">Link</a></div>
