<link rel="stylesheet" href="http://build.origami.ft.com/bundles/css?modules=o-grid@^2.0.7" />
<div class="o-grid-row">
    <div data-o-grid-colspan="2">
        <h1 class="demo-heading-row">Label Large</h1>
    </div>
    <div data-o-grid-colspan="5">
        <div class="demo-example">
            <div class="o-ft-typography-label-large">Label Large</div>
        </div>
    </div>
    <div data-o-grid-colspan="5">
        <div class="demo-example">
            <div class="o-ft-typography-label-large"><a href="#">Label Large link</a></div>
        </div>
    </div>
</div>
<div class="o-grid-row">
    <div data-o-grid-colspan="2">
        <h1 class="demo-heading-row">Label Medium</h1>
    </div>
    <div data-o-grid-colspan="5">
        <div class="demo-example">
            <div class="o-ft-typography-label-medium">Label Medium</div>
        </div>
    </div>
    <div data-o-grid-colspan="5">
        <div class="demo-example">
            <div class="o-ft-typography-label-medium"><a href="#">Label Medium link</a></div>
        </div>
    </div>
</div>
<div class="o-grid-row">
    <div data-o-grid-colspan="2">
        <h1 class="demo-heading-row">Label Small</h1>
    </div>
    <div data-o-grid-colspan="5">
        <div class="demo-example">
            <div class="o-ft-typography-label-small">Label Small</div>
        </div>
    </div>
    <div data-o-grid-colspan="5">
        <div class="demo-example">
            <div class="o-ft-typography-label-small"><a href="#">Label Small link</a></div>
        </div>
    </div>
</div>