<link rel="stylesheet" href="http://build.origami.ft.com/bundles/css?modules=o-grid@^2.0.7" />
<div class="o-grid-row">
    <div data-o-grid-colspan="2">
        <h1 class="demo-heading-row">Lead Large</h1>
    </div>
    <div data-o-grid-colspan="5">
        <div class="demo-example">
            <div class="o-ft-typography-lead-large">Lead Large</div>
        </div>
    </div>
    <div data-o-grid-colspan="5">
        <div class="demo-example">
            <div class="o-ft-typography-lead-large"><span class="o-ft-typography-lead-large__link">Lead Large link</span></div>
        </div>
    </div>
</div>
<div class="o-grid-row">
    <div data-o-grid-colspan="2">
        <h1 class="demo-heading-row">Lead Medium</h1>
    </div>
    <div data-o-grid-colspan="5">
        <div class="demo-example">
            <div class="o-ft-typography-lead-medium">Lead Medium</div>
        </div>
    </div>
    <div data-o-grid-colspan="5">
        <div class="demo-example">
            <div class="o-ft-typography-lead-medium"><span class="o-ft-typography-lead-medium__link">Lead Medium link</span></div>
        </div>
    </div>
</div>
<div class="o-grid-row">
    <div data-o-grid-colspan="2">
        <h1 class="demo-heading-row">Lead Small</h1>
    </div>
    <div data-o-grid-colspan="5">
        <div class="demo-example">
            <div class="o-ft-typography-lead-small">Lead Small</div>
        </div>
    </div>
    <div data-o-grid-colspan="5">
        <div class="demo-example">
            <div class="o-ft-typography-lead-small"><span class="o-ft-typography-lead-small__link">Lead Small link</span></div>
        </div>
    </div>
</div>