
<div class="o-typography-lead-large">Lead Large <a href="#">Link</a></div>
<div class="o-typography-lead-medium">Lead Medium <a href="#">Link</a></div>
<div class="o-typography-lead-small">Lead Small <a href="#">Link</a></div>
