<p class="o-typography-lead">Belgian-Brazilian brewer ups the stakes in beer takeover battle</p>
<p class="o-typography-lead--small">Belgian-Brazilian brewer ups the stakes in beer takeover battle</p>