<div class="line-width-demo">
	<div class="line-width-demo__ selection">
		Scale: <select id="select-scale">
			<option value="-2">-2</option>
			<option value="-1">-1</option>
			<option value="0" selected>0</option>
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8">8</option>
			<option value="9">9</option>
			<option value="10">10</option>
		</select>
	</div>

	<p class="line-width-demo__scale line-width-demo__scale--0">
		dictum, ultrices eros non, varius enim. Aenean quis porttitor magna, quis rutrum eros. Proin elementum justo a massa suscipit iaculis vel eget ex. Mauris non est non quam vestibulum scelerisque in a purus. Donec varius augue at est vulputate convallis. Proin accumsan varius nulla, nec sagittis tortor aliquet vitae. Praesent nunc diam, cursus vitae tellus ac, lobortis posuere quam. Mauris nibh arcu, aliquam quis ultricies non, ultrices in sapien. Quisque placerat ipsum a metus consectetur, vel sagittis velit sodales.
		Morbi a nulla in mi tincidunt ultricies. Morbi mollis maximus est. Sed non elit bibendum, auctor orci lacinia, interdum augue. Sed pharetra id urna vel luctus. Phasellus elementum pulvinar leo et porta. Proin blandit id diam at ullamcorper. Nunc id blandit justo. Nam et vestibulum sem.
	</p>
</div>
