<table class="o-table o-table--horizontal-lines">
    <tr>
        <th>Heading</th>
        <th>Heading</th>
        <th data-type="numeric">Heading</th>
        <th data-type="numeric">Heading</th>
    </tr>
    <tr>
        <td>text data</td>
        <td>text data</td>
        <td data-type="numeric">123</td>
        <td data-type="numeric">123.45</td>
    </tr>
    <tr>
        <td>text data</td>
        <td>text data</td>
        <td data-type="numeric">22</td>
        <td data-type="numeric">22.2</td>
    </tr>
    <tr>
        <td>text data</td>
        <td>text data</td>
        <td data-type="numeric">3</td>
        <td data-type="numeric">3.0</td>
    </tr>
</table>

<table class="o-table o-table--vertical-lines">
    <tr>
        <th scope="row">Heading</th>
        <td>text data</td>
        <td>text data</td>
        <td data-type="numeric">123</td>
        <td data-type="numeric">123.45</td>
    </tr>
    <tr>
        <th scope="row">Heading</th>
        <td>text data</td>
        <td>text data</td>
        <td data-type="numeric">123</td>
        <td data-type="numeric">123.45</td>
    </tr>
    <tr>
        <th scope="row">Heading</th>
        <td>text data</td>
        <td>text data</td>
        <td data-type="numeric">123</td>
        <td data-type="numeric">123.45</td>
    </tr>
    <tr>
        <th scope="row">Heading</th>
        <td>text data</td>
        <td>text data</td>
        <td data-type="numeric">123</td>
        <td data-type="numeric">123.45</td>
    </tr>
</table>

<table class="o-table o-table--horizontal-lines o-table--vertical-lines">
    <tr>
        <th>Heading</th>
        <th>Heading</th>
        <th data-type="numeric">Heading</th>
        <th data-type="numeric">Heading</th>
    </tr>
    <tr>
        <td>text data</td>
        <td>text data</td>
        <td data-type="numeric">123</td>
        <td data-type="numeric">123.45</td>
    </tr>
    <tr>
        <td>text data</td>
        <td>text data</td>
        <td data-type="numeric">22</td>
        <td data-type="numeric">22.2</td>
    </tr>
    <tr>
        <td>text data</td>
        <td>text data</td>
        <td data-type="numeric">3</td>
        <td data-type="numeric">3.0</td>
    </tr>
</table>