
<div class="o-layout" data-o-component="o-layout">
	{{> shared/header}}

	<div class="o-layout__sidebar"></div>

	<div class="o-layout__main" data-o-component="o-syntax-highlight">
		{{> content/3-party-table}}
	</div>

	{{> shared/footer}}
</div>
