<div class="o-topper o-topper--full-bleed-offset o-topper--color-paper">
    <div class="o-topper__content">
        <div class="o-topper__tags"></div>
        <h1 class="o-topper__headline o-topper__headline--large"><span class="article-classifier__gap">Coronavirus
                latest: UK lowers Covid alert level from highest category</span></h1>
        <div class="o-topper__summary">
            <div class="o-topper__summary--body" data-testid="summary">
                <p>Today’s main headlines:</p>
                <ul>
                    <li>
                        <a href="#">Pfizer to test use of third dose of vaccine in fight against Covid variants</a>
                    </li>
                    <li>
                        <a href="#">New US jobless claims fall to lowest level in three months</a>
                    </li>
                    <li>
                        <a href="#">WHO issues alert over ‘long Covid’ impact</a>
                    </li>
                    <li>
                        <a href="#">Moderna expects $18.4bn in Covid vaccine sales in 2021</a>
                    </li>
                    <li>
                        <a href="#">Some UK commuters may never return, says Network Rail chairman</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="o-topper__background"></div>
    <figure class="o-topper__visual">
        <picture class="o-topper__picture">
            <source media="(max-width: 1220px)"
                srcset="https://www.ft.com/__origami/service/image/v2/images/raw/https://d1e00ek4ebabms.cloudfront.net/production/8f105cfc-306a-4d63-b8ba-f25e64ffeef6.jpg?source=next&amp;amp;fit=scale-down&amp;amp;quality=highest&amp;amp;width=1220 1220w"
                data-testid="responsive-source">
            <source media="(max-width: 490px)"
                srcset="https://www.ft.com/__origami/service/image/v2/images/raw/https://d1e00ek4ebabms.cloudfront.net/production/ceb8f94e-f136-415a-b813-59edf7304031.jpg?source=next&amp;amp;fit=scale-down&amp;amp;quality=highest&amp;amp;width=490 490w"
                data-testid="responsive-source">
            <source media="(min-width: 1220px)"
                srcset="https://www.ft.com/__origami/service/image/v2/images/raw/https://d1e00ek4ebabms.cloudfront.net/production/b237a4ec-91b3-4082-984a-adf651c27465.jpg?source=next&amp;amp;fit=scale-down&amp;amp;quality=highest&amp;amp;width=1440 1440w"
                data-testid="responsive-source"><img alt="" class="o-topper__image"
                src="https://www.ft.com/__origami/service/image/v2/images/raw/https://d1e00ek4ebabms.cloudfront.net/production/8f105cfc-306a-4d63-b8ba-f25e64ffeef6.jpg?source=next&amp;amp;fit=scale-down&amp;amp;quality=highest&amp;amp;width=1440">
        </picture>
        <figcaption class="o-topper__image-credit">© REUTERS</figcaption>
    </figure>
</div>