<body class="demo--{{theme}}">
	<div class="o-loading o-loading--{{theme}} o-loading--mini"></div>
	<div class="o-loading o-loading--{{theme}} o-loading--small"></div>
	<div class="o-loading o-loading--{{theme}} o-loading--medium"></div>
	<div class="o-loading o-loading--{{theme}} o-loading--large"></div>
</body>
