<p>Lower values are best in the following meter. It has a value > high, value > low, optimum < low.</p>
<meter class="o-meter" aria-label="demo meter {{meterValue}}" data-o-component="o-meter" min="0" max="100" low="25" high="50" optimum="0" value="60">
	{{meterValue}}
</meter>

<p>Lower values are best in the following meter. It has a value < high, value > low, optimum < low.</p>
<meter class="o-meter" aria-label="demo meter {{meterValue}}" data-o-component="o-meter" min="0" max="100" low="25" high="50" optimum="0" value="40">
	{{meterValue}}
</meter>

<p>Lower values are best in the following meter. It has a value < high, value < low, optimum < low.</p>
<meter class="o-meter" aria-label="demo meter {{meterValue}}" data-o-component="o-meter" min="0" max="100" low="25" high="50" optimum="0" value="10">
	{{meterValue}}
</meter>
