@import '../../main';
@include oHeaderServices();

body {
	font-family: arial;
}

.dummy-text {
	@include oTypographySans(1);
	max-width: 800px;
	margin: auto;
	padding: 0 20px;

	a { @include oTypographyLink();}
}
