<div data-o-component="o-share" class="o-share{{#o-share.isVertical}} o-share--vertical{{/o-share.isVertical}} {{#o-share.isSmall}} o-share--small{{/o-share.isSmall}} {{#o-share.isInverse}} o-share--inverse{{/o-share.isInverse}}">
	<ul>
		{{#o-share.withTwitter}}
		<li class="o-share__action">
			<a class="o-share__icon o-share__icon--twitter" href="https://twitter.com/intent/tweet?url={{o-share.url}}&amp;text={{o-share.title}}&amp;related={{o-share.relatedTwitterAccounts}}&amp;via=FT" rel="noopener">
				<span class="o-share__text">Twitter</span>
			</a>
		</li>
		{{/o-share.withTwitter}}
		{{#o-share.withFacebook}}
		<li class="o-share__action">
			<a class="o-share__icon o-share__icon--facebook" href="http://www.facebook.com/sharer.php?u={{o-share.url}}" rel="noopener">
				<span class="o-share__text">Facebook</span>
			</a>
		</li>
		{{/o-share.withFacebook}}
		{{#o-share.withLinkedin}}
		<li class="o-share__action">
			<a class="o-share__icon o-share__icon--linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{o-share.url}}&title={{o-share.title}}%2B%7C%2B{{o-share.titleExtra}}&summary={{o-share.summary}}&source=Financial%20Times" rel="noopener">
				<span class="o-share__text">LinkedIn</span>
			</a>
		</li>
		{{/o-share.withLinkedin}}
		{{#o-share.withWhatsapp}}
		<li class="o-share__action">
			<a class="o-share__icon o-share__icon--whatsapp" target="_blank" href="whatsapp://send?text={{o-share.title}}%20-%20{{o-share.url}}" data-trackable="whatsapp" rel="noopener">
				<span class="o-share__text">Whatsapp</span>
			</a>
		</li>
		{{/o-share.withWhatsapp}}
		{{#o-share.withPinterest}}
		<li class="o-share__action">
			<a class="o-share__icon o-share__icon--pinterest" href="http://www.pinterest.com/pin/create/button/?url={{o-share.url}}&amp;description={{o-share.title}}" rel="noopener">
				<span class="o-share__text">Pinterest</span>
			</a>
		</li>
		{{/o-share.withPinterest}}
		{{#o-share.withMail}}
		<li class="o-share__action">
			<button class="o-share__icon o-share__icon--mail">
				<span class="o-share__text">Mail</span>
			</button>
		</li>
		{{/o-share.withMail}}
		{{#o-share.withLink}}
		<li class="o-share__action">
			<a href="{{{o-share.url}}}" class="o-share__icon o-share__icon--link">
				<span class="o-share__text">URL</span>
			</a>
		</li>
		{{/o-share.withLink}}
		{{#o-share.withShare}}
		<li class="o-share__action o-share__action--labelled">
			<form method="POST" action="#">
				<button type="submit" class="o-share__icon o-share__icon--share">
					<span class="o-share__text">Save</span>
				</button>
			</form>
		</li>

		<li class="o-share__action o-share__action--labelled">
			<a href="{{{o-share.url}}}" class="o-share__icon o-share__icon--share">
				<span class="o-share__text">Share</span>
			</a>
		</li>
		{{/o-share.withShare}}

	</ul>
</div>
