<div class="container">
	<div data-o-component="o-share" class="o-share{{#o-share.isVertical}} o-share--vertical{{/o-share.isVertical}}">
		<ul>
			{{#o-share.withTwitter}}
			<li class="o-share__action o-share__action--twitter">
				<a href="https://twitter.com/intent/tweet?url={{o-share.url}}&amp;text={{o-share.title}}&amp;related={{o-share.relatedTwitterAccounts}}&amp;via=FT" rel="noopener"><i>Twitter</i></a>
			</li>
			{{/o-share.withTwitter}}
			{{#o-share.withFacebook}}
			<li class="o-share__action o-share__action--facebook">
				<a href="http://www.facebook.com/sharer.php?u={{o-share.url}}&amp;t={{o-share.title}}+|+{{o-share.titleExtra}}" rel="noopener"><i>Facebook</i></a>
			</li>
			{{/o-share.withFacebook}}
			{{#o-share.withLinkedin}}
			<li class="o-share__action o-share__action--linkedin">
				<a href="https://www.linkedin.com/shareArticle?mini=true&url={{o-share.url}}&title={{o-share.title}}%2B%7C%2B{{o-share.titleExtra}}&summary={{o-share.summary}}&source=Financial%20Times" rel="noopener"><i>LinkedIn</i></a>
			</li>
			{{/o-share.withLinkedin}}
			{{#o-share.withWhatsapp}}
			<li class="o-share__action o-share__action--whatsapp">
				<a target="_blank" href="whatsapp://send?text={{o-share.title}}%20-%20{{o-share.url}}" data-trackable="whatsapp" rel="noopener"><i>Whatsapp</i></a>
			</li>
			{{/o-share.withWhatsapp}}
			{{#o-share.withGoogleplus}}
			<li class="o-share__action o-share__action--googleplus">
				<a href="https://plus.google.com/share?url={{o-share.url}}" rel="noopener"><i>Google+</i></a>
			</li>
			{{/o-share.withGoogleplus}}
			{{#o-share.withPinterest}}
			<li class="o-share__action o-share__action--pinterest">
				<a href="http://www.pinterest.com/pin/create/button/?url={{o-share.url}}&amp;description={{o-share.title}}" rel="noopener"><i>Pinterest</i></a>
			</li>
			{{/o-share.withPinterest}}
			{{#o-share.withLink}}
			<li class="o-share__action o-share__action--link">
				<a href="{{{o-share.url}}}" rel="noopener"><i>URL</i></a>
			</li>
			{{/o-share.withLink}}
			{{#o-share.withMail}}
			<li class="o-share__action o-share__action--mail">
				<button><i>Mail</i></button>
			</li>
			{{/o-share.withMail}}
		</ul>
	</div>
</div>
