<div class="o-grid-container demo ">
	<div class="o-grid-row">
		<div data-o-grid-colspan="12 M8">
			<h1 class="o-typography-heading1">Manage account</h1>
			<p class="o-typography-body">View and edit your personal information that is used by FT.com</p>
			<h2 class="section-heading">Login details</h2>

			<ul class="key-value-list">
				<li class="key-value-list__item">
					<div class="key-value-list__label">Email address</div>
					<div class="key-value-list__value">john.doe@ft.com</div>
				</li>
				<li class="key-value-list__item">
					<div class="key-value-list__label">Password</div>
					<div class="key-value-list__value">***********</div>
				</li>
			</ul>

			<h2 class="section-heading">Your details</h2>
			<ul class="key-value-list">
				<li class="key-value-list__item">
					<div class="key-value-list__label">Title</div>
					<div class="key-value-list__value">Ms</div>
				</li>
				<li class="key-value-list__item">
					<div class="key-value-list__label">First name</div>
					<div class="key-value-list__value">Amy</div>
				</li>
				<li class="key-value-list__item">
					<div class="key-value-list__label">Last name</div>
					<div class="key-value-list__value">Smith</div>
				</li>
				<li class="key-value-list__item">
					<div class="key-value-list__label">Phone number</div>
					<div class="key-value-list__value">+44 (0)207 775 6248</div>
				</li>
				<li class="key-value-list__item">
					<div class="key-value-list__label">Address</div>
					<div class="key-value-list__value">
						<address>
							1 Southwark Bridge Road<br />
							London
						</address>
					</div>
				</li>
				<li class="key-value-list__item">
					<div class="key-value-list__label">PostCode</div>
					<div class="key-value-list__value">SE1 9HL</div>
				</li>
				<li class="key-value-list__item">
					<div class="key-value-list__label">Country</div>
					<div class="key-value-list__value">United Kingdom</div>
				</li>
				<li class="key-value-list__item">
					<div class="key-value-list__label">Your position</div>
					<div class="key-value-list__value">Professional</div>
				</li>
				<li class="key-value-list__item">
					<div class="key-value-list__label">Job responsibility</div>
					<div class="key-value-list__value">Operations</div>
				</li>
				<li class="key-value-list__item">
					<div class="key-value-list__label">Your industry</div>
					<div class="key-value-list__value">Comms/Publishing/Media</div>
				</li>
			</ul>

			<h2 class="section-heading">Marketing preferences</h2>
			<p>Help us keep you one step ahead: Don't miss out on exclusive offers, news and promotions from the FT.</p>
			<ul>
				<li>I would like to receive details of products and services from the Financial Times by email.</li>
				<li>I would not like to receive details of products and services from the Financial Times by post.</li>
			</ul>

			<p>The FT group takes your privacy seriously. We may also use your information for analytical research.</p>
			<p>We will not disclose your data outside the FT group unless we have your permission and as detailed in our <a href="http://www.ft.com/servicestools/help/privacy">Privacy Policy</a>. As we are an international group, your data may be transferred globally. The Financial Times Ltd, Number One Southwark Bridge, London SE1 9HL. Registered number, 227590, England. Subscriptions purchased under the terms of this offer cannot be resold.</p>
		</div>
		
		<div data-o-grid-colspan="12 M4">
			<h2 class="section-heading">Summary</h2>

			<dl class="left-right-list">
				<dt class="left-right-list__term">Email address</dt>
					<dd class="left-right-list__description">john.doe@ft.com</dd>
				<dt class="left-right-list__term">Subscription</dt>
					<dd class="left-right-list__description">Premium</dd>
			</dl>
			

			<p>For advice on how to upgrade your subscription or for any other enquiries please contact our dedicated Customer Service team.</p>

			<div class="demo-pod--grey">
				<h2 class="section-heading">Would you like help from our Customer Service team?</h2>
				<h3 class="section-sub-heading">Call us</h3>
				<dl class="left-right-list">
					<dt class="left-right-list__term">UK &amp; CEMEA</dt>
						<dd class="left-right-list__description">+44 (0)207 775 6248</dd>
					<dt class="left-right-list__term">US &amp; Canada</dt>
						<dd class="left-right-list__description">+1 917 551 5005</dd>
					<dt class="left-right-list__term">US &amp; Canada Toll Free</dt>
						<dd class="left-right-list__description">+1 855 685 2372</dd>
					<dt class="left-right-list__term">Asia Pacific</dt>
						<dd class="left-right-list__description">+632 982 5780</dd>
					<dt class="left-right-list__term">India Toll Free</dt>
						<dd class="left-right-list__description">000 800 001 6817</dd>
					<dt class="left-right-list__term">Japan</dt>
						<dd class="left-right-list__description">0120 341 468</dd>
					<dt class="left-right-list__term">International Toll Free</dt>
						<dd class="left-right-list__description">+800 0705 6477</dd>
				</dl>

				<h3 class="section-sub-heading">Email us</h3>
				<p><a href="mailto:help@ft.com">help@ft.com</a></p>
				
				<h3 class="section-sub-heading">Tweet us</h3>
				<p><a href="http://www.twitter.com/FTcare">@FTcare</a></p>

				<h3 class="section-sub-heading">Live chat</h3>
				<p>Chat online to one of our Customer Service Representatives</p>
				<p><button>Chat now</button></p>
			</div>
		</div>
	</div>

</div>