
<div class="o-banner o-banner--small o-banner--marketing-primary" data-o-component="o-banner">
	<div class="o-banner__outer">
		<div class="o-banner__inner" data-o-banner-inner="">
			<div class="o-banner__content o-banner__content--long">
				<h1>You qualify for a 25% subscription discount.</h1>
				<p>Pay just £3.99 per week for annual Standard  Digital access.</p>
				<ul>
					<li>Access FT.com on your desktop, tablet &amp; mobile</li>
					<li>5 year company financials archive</li>
					<li>Personalised email briefings and market moving news</li>
				</ul>
			</div>
			<div class="o-banner__content o-banner__content--short">
				<p>
					<strong>You qualify for a 25% subscription discount.</strong>
					Pay just £3.99 per week for annual Standard  Digital access.
				</p>
			</div>
			<div class="o-banner__actions">
				<div class="o-banner__action">
					<a href="#" class="o-banner__button">Save 25% now</a>
				</div>
			</div>
		</div>
	</div>
</div>
