<div class="o-forms-message o-forms-message--highlight">
	<p>This is a global message that highlights some text</p>
</div>
<div class="o-forms-group">
	<label class="o-forms-label">Field label</label>
	<small class="o-forms-additional-info">Additional field information</small>
	<input type="text" placeholder="placeholder" class="o-forms-text" />
</div>

<div class="o-forms-message o-forms-message--error">
	<p>This is a global error message that relates to the entire form</p>
</div>
<div class="o-forms-group">
	<label class="o-forms-label">Field label</label>
	<small class="o-forms-additional-info">Additional field information</small>
	<input type="text" placeholder="placeholder" class="o-forms-text" />
</div>
