{{#inner}}<div class="demo-inner-message">{{/inner}}
	<div class="o-message o-message--{{type}} {{#inner}}o-message--inner{{/inner}} o-message--{{state}}" data-o-component="o-message" {{#noCloseButton}}data-close="false"{{/noCloseButton}}>
		<div class="o-message__container">
			<div class="o-message__content {{#centralised}}o-message__content--center-align{{/centralised}}">
				<p class="o-message__content-main">
					{{#highlight.length}}
						<span class="o-message__content-highlight">
						{{#highlight}}
							{{#color}}
								<span class="o-message__content-highlight-color">{{copy}}</span>
							{{/color}}
							{{^color}}
								{{copy}}
							{{/color}}
						{{/highlight}}
						</span>
					{{/highlight.length}}
					{{#detail}}
						<span class="o-message__content-detail">The quick brown fox did not jump over the lazy dogs.</span>
					{{/detail}}
					{{{content}}}
				</p>
				{{#additionalContent}}<p class="o-message__content-additional">{{additionalContent}}</p>{{/additionalContent}}

				{{#actions}}
					<div class="o-message__actions">
						{{#button}}<a href="#" class="o-message__actions__primary">Button</a>{{/button}}
						{{#link}}<a href="#" class="o-message__actions__secondary">Text link</a>{{/link}}
					</div>
				{{/actions}}
			</div>
		</div>
	</div>
{{#inner}}</div>{{/inner}}
