<div class="o-forms__message">
	<p>This is a global message</p>
</div>
<div class="o-forms">
	<label class="o-forms__label">Field label</label>
	<small class="o-forms__additional-info">Additional field information</small>
	<input type="text" placeholder="placeholder" class="o-forms__text" />
</div>

<div class="o-forms__message o-forms__message--error">
	<p>This is a global error message</p>
</div>
<div class="o-forms">
	<label class="o-forms__label">Field label</label>
	<small class="o-forms__additional-info">Additional field information</small>
	<input type="text" placeholder="placeholder" class="o-forms__text" />
</div>

<div class="o-forms__message o-forms__message--wide o-forms__message--error">
	<p>This is a global error message (wide)</p>
</div>
<div class="o-forms o-forms--wide">
	<label class="o-forms__label">Field label</label>
	<small class="o-forms__additional-info">Additional field information</small>
	<input type="text" placeholder="placeholder" class="o-forms__text" />
</div>
