<div class="container" data-o-component="o-syntax-highlight">
	<div class="color-selectors">
		<div class="o-forms">
			<label aria-describedby="select-box-info" for="select-standard" class="o-forms__label">Mixer</label>
			<select id="mixer-selector" class="o-forms__select">

				{{#primary.colors}}
					<option value="{{name}}" {{#baseText}}selected {{/baseText}}>{{name}}</option>
				{{/primary.colors}}

				{{#secondary.colors}}
					<option value={{name}}>{{name}}</option>
				{{/secondary.colors}}

				{{#tertiary.colors}}
					<option value={{name}}>{{name}}</option>
				{{/tertiary.colors}}

				{{#b2c.colors}}
					<option value={{name}}>{{name}}</option>
				{{/b2c.colors}}

			</select>
		</div>
		<div class="o-forms">
			<label aria-describedby="select-box-info" for="select-standard" class="o-forms__label">Base color</label>
			<select id="base-selector" class="o-forms__select">

				{{#primary.colors}}
					<option value={{name}} {{#baseBackground}}selected {{/baseBackground}}>{{name}}</option>
				{{/primary.colors}}

				{{#secondary.colors}}
					<option value={{name}}>{{name}}</option>
				{{/secondary.colors}}

				{{#tertiary.colors}}
					<option value={{name}}>{{name}}</option>
				{{/tertiary.colors}}

				{{#b2c.colors}}
					<option value={{name}}>{{name}}</option>
				{{/b2c.colors}}

			</select>
		</div>
	</div>

	<div class="mix-range">
		<div class="percent-0">
			<div class="sqr"></div>
			<div class="text">
				0%
			</div>
		</div>
		<div class="percent-10">
			<div class="sqr"></div>
			<div class="text">
				10%
			</div>
		</div>
		<div class="percent-20">
			<div class="sqr"></div>
			<div class="text">
				20%
			</div>
		</div>
		<div class="percent-30">
			<div class="sqr"></div>
			<div class="text">
				30%
			</div>
		</div>
		<div class="percent-40">
			<div class="sqr"></div>
			<div class="text">
				40%
			</div>
		</div>
		<div class="percent-50">
			<div class="sqr"></div>
			<div class="text">
				50%
			</div>
		</div>
		<div class="percent-60">
			<div class="sqr"></div>
			<div class="text">
				60%
			</div>
		</div>
		<div class="percent-70">
			<div class="sqr"></div>
			<div class="text">
				70%
			</div>
		</div>
		<div class="percent-80">
			<div class="sqr"></div>
			<div class="text">
				80%
			</div>
		</div>
		<div class="percent-90">
			<div class="sqr"></div>
			<div class="text">
				90%
			</div>
		</div>
		<div class="percent-100">
			<div class="sqr"></div>
			<div class="text">
				100%
			</div>
		</div>
	</div>

	<div class="details">
		<label aria-describedby="hex-value" class="o-forms__label">Hex Value</label>
		<div class="o-forms__additional-info">This value is a result of the Sass function below. Feel free to use this value in Sketch files, etc, but please pass on the function to the developer to use in production.</div>
		<output><pre><code id="hex-value" class='o-syntax-highlight--scss'></code></pre></output>

		<label aria-describedby="sass-function" class="o-forms__label">Sass function</label>
		<div class="o-forms__additional-info">Returns the hex value above</div>
		<output><pre><code id='code-snippet' class='o-syntax-highlight--scss'></code></pre></output>
	</div>
</div>
