<button class="o-overlay-trigger o-buttons o-buttons--secondary o-buttons--big" data-o-overlay-id="overlay" data-o-overlay-src="#overlay" data-o-overlay-heading-title="Welcome to this fullscreen overlay" data-o-overlay-heading-shaded="false" data-o-overlay-fullscreen="true" data-o-overlay-modal="true" data-o-overlay-preventclosing="false" data-o-overlay-zIndex="20" aria-pressed="false" aria-haspopup="true">Launch fullscreen overlay</button>

<script type="text/template" id="overlay">
	<p>This fullscreen overlay may be dismissed with the back button or with the cross icon.</p>
	<button onclick="window.location.reload(true)" class="o-buttons o-buttons--secondary">OK</button>
</script>
