<h2>Overlay triggers </h2>
<button class="o-overlay-trigger" data-o-overlay-src="#wide-squat" data-o-overlay-heading-title="Wide squat" data-o-overlay-heading-shaded="true" data-o-overlay-modal="true">wide-squat</button>

    <script type="text/template" id="wide-squat">
        <p>Overlay content.</p>
        <p>Overlay content.</p>
        <input id="username" />
            <br>
            <input id="pasword" type="password" />
            <p>Overlay content.</p>
        <p>Overlay content.</p>
                    <p>Overlay content.</p>
        <p>Overlay content.</p>
        <input id="username" />
            <br>
            <input id="pasword" type="password" />
            <p>Overlay content.</p>
        <p>Overlay content.</p>
    </script>