<button class="o-overlay-trigger o-buttons o-buttons--secondary o-buttons--big" data-o-overlay-id="overlay" data-o-overlay-src="#overlay" data-o-overlay-heading-title="You've changed region" data-o-overlay-heading-shaded="true" data-o-overlay-modal="true" data-o-overlay-preventclosing="true" aria-pressed="false" aria-haspopup="true">Launch overlay</button>

<script type="text/template" id="overlay">
	<div class='demo-overlay'>
		<p>We've detected that your location has changed. Would you like to switch to the International Edition?</p>
		<button class='demo-button o-buttons o-buttons--secondary' onclick="window.location.reload(true)">Stay with UK edition</button><button class='demo-button o-buttons o-buttons--secondary'>Switch to International</button>
	</div>
</script>
