<button class="o-overlay-trigger o-buttons o-buttons--secondary o-buttons--big" data-o-overlay-id="overlay" data-o-overlay-src="#overlay" data-o-overlay-heading-title="We're not having trouble updating" data-o-overlay-heading-shaded="false" data-o-overlay-modal="true" data-o-overlay-preventclosing="false" data-o-overlay-zIndex="20" aria-pressed="false" aria-haspopup="true">Launch overlay</button>

<script type="text/template" id="overlay">
	<div class='demo-overlay'>
		<p>Everything is great. This demo modal is here to tell you we're currently experiencing no technical difficulties.</p>
		<button onclick="window.location.reload(true)" class="o-buttons o-buttons--secondary">OK</button>
	</div>
</script>
