<h2>Overlay triggers </h2>
<button class="o-overlay-trigger" data-o-overlay-id="overlay" data-o-overlay-src="#overlay" data-o-overlay-heading-title="Overlay" data-o-overlay-heading-shaded="true" data-o-overlay-modal="true" data-o-overlay-preventclosing="true" data-o-overlay-zIndex="20" aria-pressed="false" aria-haspopup="true">Launch overlay</button>

<script type="text/template" id="overlay">
	<p>Overlay content.</p>
	<p>Overlay content.</p>
	<input id="username" />
	<br>
	<input id="password" type="password" />
	<p>Overlay content.</p>
	<p>Overlay content.</p>
	<p>Overlay content.</p>
	<p>Overlay content.</p>
	<input id="username" />
	<br>
	<input id="pasword" type="password" />
	<p>Overlay content.</p>
	<p>Overlay content.</p>
	<br>
	<p>The preventclosing option suppresses all ways of closing the overlay, so you can specify an action in the html, such as a button / link.</p>
	<br>
	<button onclick="window.location.reload(true)">Close this overlay</button>
</script>
