<button class="o-buttons o-buttons--secondary o-buttons--mono">Mono</button>
<button class="o-buttons o-buttons--secondary o-buttons--mono o-buttons--big">Mono</button>
<button class="o-buttons o-buttons--secondary o-buttons--mono o-buttons-icon o-buttons-icon--arrow-right o-buttons--big">Mono</button>
<button class="o-buttons o-buttons--secondary o-buttons--mono o-buttons--big" disabled>Mono</button>
