<button class="o-buttons o-buttons--mono">Mono</button>
<button class="o-buttons o-buttons--mono o-buttons--big">Mono</button>
<button class="o-buttons o-buttons--mono o-buttons--big" disabled>Mono</button>
