<h1>Base</h1>

<nav class="o-ft-header__nav">
    <ul data-nav-level="1">
        <li><a href="#">Item 1</a>
        <li><a href="#">Item 1</a>
        <li class="nav--parent"><a href="#">Parent Item 1</a>
            <ul data-nav-level="2">
                <li><a href="#">Item 1.1</a></li>
                <li><a href="#">Item 1.2</a></li>
                <li><a href="#">Item 1.3</a></li>
                <li><a href="#">Item 1.4</a></li>
            </ul>
        </li>
        <li><a href="#">Item 1</a>
        </li>
        <li class="nav--parent"><a href="#">Parent Item 1</a>
            <ul data-nav-level="2">
                <li><a href="#">Item 1.1</a></li>
                <li class="nav--parent"><a href="#">Parent Item 1.2</a>
                    <ul data-nav-level="3">
                        <li><a href="#">Item 1.2.1</a></li>
                        <li><a href="#">Item 1.2.2</a></li>
                        <li><a href="#">Item 1.2.3</a></li>
                        <li><a href="#">Item 1.2.4</a></li>
                    </ul>
                </li>
                <li><a href="#">Item 1.3</a></li>
                <li><a href="#">Item 1.4</a></li>
            </ul>
        </li>
    </ul>
</nav>

<br />
<br />

<h1>Primary theme</h1>

<nav class="o-ft-header__nav o-ft-header__nav--primary-theme" style="background-color: #333;">
    <ul data-nav-level="1">
        <li><a href="#">Item 1</a></li>
        <li><a href="#">Item 1</a></li>
        <li class="nav--parent"><a href="#">Parent Item 1</a>
            <ul data-nav-level="2">
                <li><a href="#">Item 1.1</a></li>
                <li><a href="#">Item 1.2</a></li>
                <li><a href="#">Item 1.3</a></li>
                <li><a href="#">Item 1.4</a></li>
            </ul>
        </li>
        <li><a href="#">Item 1</a></li>
        <li class="nav--parent"><a href="#">Parent Item 1</a>
            <ul data-nav-level="2">
                <li><a href="#">Item 1.1</a></li>
                <li class="nav--parent"><a href="#">Parent Item 1.2</a>
                    <ul data-nav-level="3">
                        <li><a href="#">Item 1.2.1</a></li>
                        <li><a href="#">Item 1.2.2</a></li>
                        <li><a href="#">Item 1.2.3</a></li>
                        <li><a href="#">Item 1.2.4</a></li>
                    </ul>
                </li>
                <li><a href="#">Item 1.3</a></li>
                <li><a href="#">Item 1.4</a></li>
            </ul>
        </li>
    </ul>
</nav>

<br />
<br />

<h1>Secondary theme</h1>

<nav class="o-ft-header__nav  o-ft-header__nav--secondary-theme">
    <ul data-nav-level="1">
        <li><a href="#">Item 1</a></li>
        <li><a href="#">Item 1</a></li>
        <li class="nav--parent"><a href="#">Parent Item 1</a>
            <ul data-nav-level="2">
                <li><a href="#">Item 1.1</a></li>
                <li><a href="#">Item 1.2</a></li>
                <li><a href="#">Item 1.3</a></li>
                <li><a href="#">Item 1.4</a></li>
            </ul>
        </li>
        <li><a href="#">Item 1</a></li>
        <li class="nav--parent"><a href="#">Parent Item 1</a>
            <ul data-nav-level="2">
                <li><a href="#">Item 1.1</a></li>
                <li class="nav--parent"><a href="#">Parent Item 1.2</a>
                    <ul data-nav-level="3">
                        <li><a href="#">Item 1.2.1</a></li>
                        <li><a href="#">Item 1.2.2</a></li>
                        <li><a href="#">Item 1.2.3</a></li>
                        <li><a href="#">Item 1.2.4</a></li>
                    </ul>
                </li>
                <li><a href="#">Item 1.3</a></li>
                <li><a href="#">Item 1.4</a></li>
            </ul>
        </li>
    </ul>
</nav>

<br />
<br />

<h1>Primary theme with megadropdown</h1>

<nav class="o-ft-header__nav o-ft-header__nav--primary-theme" style="background-color: #333;">
    <ul data-nav-level="1">
        <li><a href="#">Item 1</a></li>
        <li aria-controls="megadropdown1"><a>Mega 1</a></li>
        <li class="nav--parent"><a href="#">Item 2</a>
            <ul data-nav-level="2">
                <li><a href="#">Item 2.1</a></li>
                <li><a href="#">Item 2.2</a></li>
                <li><a href="#">Item 2.3</a></li>
            </ul>
        </li>
        <li aria-controls="megadropdown2"><a>Mega 2</a></li>
        <li aria-controls="megadropdown3"><a>Mega 3</a></li>
    </ul>
</nav>
<div id="megadropdown1" class="o-ft-header__mega-dropdown demo__mega-dropdown" aria-hidden="true">Megadropdown 1</div>
<div id="megadropdown2" class="o-ft-header__mega-dropdown demo__mega-dropdown" aria-hidden="true">Megadropdown 2</div>
<div id="megadropdown3" class="o-ft-header__mega-dropdown demo__mega-dropdown" aria-hidden="true">Megadropdown 3</div>
