<div class="o-topper o-topper--news-package o-topper--color-wheat">
	<div class="o-topper__content">
		<h1 class="o-topper__headline" data-trackable="header">
			<span class="article-classifier__gap">Men Only: Inside the charity fundraiser where hostesses are put on show</span>
		</h1>
		<div class="o-topper__summary ">
			<p>A furore has erupted over a men-only fundraising dinner in London for the Presidents Club charity after an FT investigation revealed hostesses at the event were groped, sexually harassed and propositioned. Here is the FT coverage of the event and its aftermath</p>
		</div>
	</div>

	<div class="o-topper__background"></div>
		<figure class="o-topper__visual">
			<picture class="o-topper__picture">
				<source media="(max-width: 1440px)" srcset="https://www.ft.com/__origami/service/image/v2/images/raw/http://prod-upp-image-read.ft.com/cd815c94-0053-11e8-9650-9c0ad2d7c5b5?source=origami-build-tools&amp;fit=scale-down&amp;quality=highest&amp;width=720 720w">


				<source media="(min-width: 1440px)" srcset="https://www.ft.com/__origami/service/image/v2/images/raw/http://prod-upp-image-read.ft.com/a25832ea-0053-11e8-9650-9c0ad2d7c5b5?source=origami-build-tools&amp;fit=scale-down&amp;quality=highest&amp;width=800 800w">

			<img alt="" class="o-topper__image" src="https://www.ft.com/__origami/service/image/v2/images/raw/http://prod-upp-image-read.ft.com/a25832ea-0053-11e8-9650-9c0ad2d7c5b5?source=origami-build-tools&amp;fit=scale-down&amp;quality=highest&amp;width=800">
		</picture>
		<figcaption class="o-topper__image-credit">© Tolga Akmen/FT</figcaption>
	</figure>
</div>
