<!--
<div class='demo-notes'>
  The simplest version of the subbrand header is a single bar with the FT square logo and the title.
  At smaller screen sizes any items at the far right will collapse down into a hamburger positioned to the left of the logo which opens a 'drawer'.
  <p><strong>Required:</strong></p>
  <ul>
    <li>
      The FT logo
    </li>
    <li>
      The product title. This should be the same on all of your pages
    </li>
  </ul>

  <p><strong>Optional</strong></p>
  <ul>
    <li>At desktop widths, the right of the nav may be used for links like "Sign in".</li>
    <li>If there is a "Sign in" option it should always appear on the far right</li>
    <li>For consistency with other FT products, use "Sign in" over "Log in" or "Login"</li>
  </ul>
</div>
-->
<header id='o-header-subbrand' class='o-header-subbrand' data-o-component='o-header'>
  <div class='o-header-subbrand__top'>
    <div class='o-header-subbrand__container'>
      <div class='o--if-js o-header-subbrand__hamburger'>
        <a class='o-header-subbrand__hamburger-link' href="#o-header-drawer"  aria-controls="o-header-drawer"></a>
      </div>
      <div class='o-header-subbrand__ftlogo'></div>
      <div class='o-header-subbrand__title'>
        <h1 class='o-header-subbrand__product-name'>Tool or Service name</h1><span class='o-header-subrand__product-tagline '>Tagline to explain the product here</span>
      </div>
      <div class='o-header-subbrand__related-content'>
        <a href='#'>XXXX</a>
        <a href='#'>Sign in</a>
      </div>
    </div>
  </div>
</header>
<div class="o-header__drawer--subbrand o-header__drawer o--if-js" id="o-header-drawer" data-o-header-drawer data-o-header-drawer--no-js>
  <div class="o-header__drawer-inner">
    <div class="o-header__drawer-tools">
      <span>Tool or Service name</span>
      <button type="button" class="o-header__drawer-tools-close" aria-controls="o-header-drawer">
        <span class="o-header_visually-hidden">Close</span>
      </button>
    </div>
    <nav class="o-header__drawer-menu o-header__drawer-menu--user" role="navigation" aria-label="User navigation">
      <ul class="o-header__drawer-menu-list">
        <li class="o-header__drawer-menu-item">
          <a class="o-header__drawer-menu-link" href="#">XXXX</a>
        </li>
        <li class="o-header__drawer-menu-item">
          <a class="o-header__drawer-menu-link" href="#">Sign in</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
