<h6 class="center">Notice Messages</h6>
<div class="demo-inner-message">
	<div class="o-message o-message--notice-inner o-message--inform" data-o-component="o-message">
		<div class="o-message__container">
			<div class="o-message__content">
				<p class="o-message__content-main">There are lazy dogs, maybe in a field, maybe not. It's important that you are informed of this fact. There may also be a fox. This is unconfirmed.</p>
				<div class="o-message__actions">
					<a href="#" class="o-message__actions__primary">Button</a>
					<a href="#" class="o-message__actions__secondary">Text link</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="demo-inner-message">
	<div class="o-message o-message--notice-inner o-message--warning" data-o-component="o-message">
		<div class="o-message__container">
			<div class="o-message__content">
				<p class="o-message__content-main">There are lazy dogs, maybe in a field, maybe not. It's important that you are informed of this fact. There may also be a fox. This is unconfirmed.</p>
			</div>
		</div>
	</div>
</div>

<div class="demo-inner-message">
	<div class="o-message o-message--notice-inner o-message--warning-light" data-o-component="o-message">
		<div class="o-message__container">
			<div class="o-message__content">
				<p class="o-message__content-main">There are lazy dogs, maybe in a field, maybe not. It's important that you are informed of this fact. There may also be a fox. This is unconfirmed.</p>
				<div class="o-message__actions">
					<a href="#" class="o-message__actions__primary">Button</a>
					<a href="#" class="o-message__actions__secondary">Text link</a>
				</div>
			</div>
		</div>
	</div>
</div>
