<div class="o-message o-message--notice-bleed o-message--warning-light" data-o-component="o-message">
	<div class="o-message__container">
		<div class="o-message__content">
			<p class="o-message__content-main">There are lazy dogs, maybe in a field, maybe not. It's important that you are informed of this fact.</p>
		</div>
	</div>
</div>
