<div class="topper topper--branded topper--has-headshot topper--opinion">
	<div class="topper__content" data-textbox-background="sky">
		<div class="topper__tags">
			<div class="topper__primary-theme">
				<span class="topper__opinion-genre n-content-tag n-content-tag--large">Opinion</span>
				<a href="/topics/themes/US_Treasury_Bonds" class="n-content-tag n-content-tag--large">US Treasury Bonds</a>
			</div>
		</div>

		<h1 class="topper__headline">
			<span class="article-classifier__gap">Watch the bond market, not equities</span>
		</h1>

		<div class="topper__standfirst">Governments and leveraged borrowers would suffer if interest rates rise quickly</div>

		<div class="topper__columnist">
			<a class="topper__columnist-name n-content-tag " href="/gillian-tett">Gillian Tett</a>
		</div>

		<div class="topper__headshot">
			<img class="topper__headshot-image" src="https://www.ft.com/__origami/service/image/v2/images/raw/fthead-v1:gillian-tett?source=next&amp;fit=scale-down&amp;width=150&amp;compression=best&amp;quality=highest&amp;dpr=2" role="presentation">
		</div>
	</div>

	<div class="topper__background" data-textbox-background="sky"></div>
</div>
