<script src='//polyfill.webservices.ft.com/v1/polyfill.min.js'></script>
<h2>Overlay triggers </h2>
<button class="o-overlay-trigger" data-o-overlay-src="#wide-squat" data-o-overlay-id="wideSquat" data-o-overlay-compact="true" data-o-overlay-heading-title="Wide squat" data-o-overlay-arrow-position="bottom">wide-squat</button>

	<script type="text/template" id="wide-squat">
		<p>Overlay content.</p>
		<p>Overlay content.</p>
	</script>