<div class="o-table-container">
	<div class="o-table-overlay-wrapper">
		<div class="o-table-scroll-wrapper">
			<table aria-describedby="demo-footnote-overflow" class="o-table o-table--horizontal-lines o-table--responsive-overflow" data-o-component="o-table" data-o-table-responsive="overflow" data-o-table-minimum-row-count="2" data-o-table-expanded="false">
				<thead>
					<tr>
						<th scope="col" role="columnheader">Fruit</th>
						<th scope="col" role="columnheader">Genus</th>
						<th scope="col" role="columnheader">Characteristic</th>
						<th scope="col" role="columnheader" data-o-table-data-type="numeric" class="o-table__cell--numeric">Cost&nbsp;(GBP)</th>
						<th scope="col" role="columnheader" data-o-table-data-type="numeric" class="o-table__cell--numeric">Cost&nbsp;(EUR)</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Dragonfruit</td>
						<td>Stenocereus</td>
						<td>Juicy</td>
						<td class="o-table__cell--numeric">3</td>
						<td class="o-table__cell--numeric">2.72</td>
					</tr>
					<tr>
						<td>Durian</td>
						<td>Durio</td>
						<td>Smelly</td>
						<td class="o-table__cell--numeric">1.75</td>
						<td class="o-table__cell--numeric">1.33</td>
					</tr>
					<tr>
						<td>Naseberry</td>
						<td>Manilkara</td>
						<td>Chewy</td>
						<td class="o-table__cell--numeric">2</td>
						<td class="o-table__cell--numeric">1.85</td>
					</tr>
					<tr>
						<td>Strawberry</td>
						<td>Fragaria</td>
						<td>Sweet</td>
						<td class="o-table__cell--numeric">1.5</td>
						<td class="o-table__cell--numeric">1.69</td>
					</tr>
					<tr>
						<td>Apple</td>
						<td>Malus</td>
						<td>Crunchy</td>
						<td class="o-table__cell--numeric">0.5</td>
						<td class="o-table__cell--numeric">0.56</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div id="demo-footnote-overflow" class="o-table-footnote">
		Source: The Origami team's love of fruit.
	</div>
</div>

<div class="o-table-container">
	<div class="o-table-overlay-wrapper">
		<div class="o-table-scroll-wrapper">
			<table aria-describedby="demo-footnote-flat" class="o-table o-table--horizontal-lines o-table--responsive-flat" data-o-component="o-table" data-o-table-responsive="flat">
				<thead>
					<tr>
						<th scope="col" role="columnheader">Fruit</th>
						<th scope="col" role="columnheader">Genus</th>
						<th scope="col" role="columnheader">Characteristic</th>
						<th scope="col" role="columnheader" data-o-table-data-type="numeric" class="o-table__cell--numeric">Cost&nbsp;(GBP)</th>
						<th scope="col" role="columnheader" data-o-table-data-type="numeric" class="o-table__cell--numeric">Cost&nbsp;(EUR)</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Dragonfruit</td>
						<td>Stenocereus</td>
						<td>Juicy</td>
						<td class="o-table__cell--numeric">3</td>
						<td class="o-table__cell--numeric">2.72</td>
					</tr>
					<tr>
						<td>Durian</td>
						<td>Durio</td>
						<td>Smelly</td>
						<td class="o-table__cell--numeric">1.75</td>
						<td class="o-table__cell--numeric">1.33</td>
					</tr>
					<tr>
						<td>Naseberry</td>
						<td>Manilkara</td>
						<td>Chewy</td>
						<td class="o-table__cell--numeric">2</td>
						<td class="o-table__cell--numeric">1.85</td>
					</tr>
					<tr>
						<td>Strawberry</td>
						<td>Fragaria</td>
						<td>Sweet</td>
						<td class="o-table__cell--numeric">1.5</td>
						<td class="o-table__cell--numeric">1.69</td>
					</tr>
					<tr>
						<td>Apple</td>
						<td>Malus</td>
						<td>Crunchy</td>
						<td class="o-table__cell--numeric">0.5</td>
						<td class="o-table__cell--numeric">0.56</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div id="demo-footnote-flat" class="o-table-footnote">
		Source: The Origami team's love of fruit.
	</div>
</div>

<div class="o-table-container">
	<div class="o-table-overlay-wrapper">
		<div class="o-table-scroll-wrapper">
			<table aria-describedby="demo-footnote-scroll" class="o-table o-table--horizontal-lines o-table--responsive-scroll" data-o-component="o-table" data-o-table-responsive="scroll">
				<thead>
					<tr>
						<th scope="col" role="columnheader">Fruit</th>
						<th scope="col" role="columnheader">Genus</th>
						<th scope="col" role="columnheader">Characteristic</th>
						<th scope="col" role="columnheader" data-o-table-data-type="numeric" class="o-table__cell--numeric">Cost&nbsp;(GBP)</th>
						<th scope="col" role="columnheader" data-o-table-data-type="numeric" class="o-table__cell--numeric">Cost&nbsp;(EUR)</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Dragonfruit</td>
						<td>Stenocereus</td>
						<td>Juicy</td>
						<td class="o-table__cell--numeric">3</td>
						<td class="o-table__cell--numeric">2.72</td>
					</tr>
					<tr>
						<td>Durian</td>
						<td>Durio</td>
						<td>Smelly</td>
						<td class="o-table__cell--numeric">1.75</td>
						<td class="o-table__cell--numeric">1.33</td>
					</tr>
					<tr>
						<td>Naseberry</td>
						<td>Manilkara</td>
						<td>Chewy</td>
						<td class="o-table__cell--numeric">2</td>
						<td class="o-table__cell--numeric">1.85</td>
					</tr>
					<tr>
						<td>Strawberry</td>
						<td>Fragaria</td>
						<td>Sweet</td>
						<td class="o-table__cell--numeric">1.5</td>
						<td class="o-table__cell--numeric">1.69</td>
					</tr>
					<tr>
						<td>Apple</td>
						<td>Malus</td>
						<td>Crunchy</td>
						<td class="o-table__cell--numeric">0.5</td>
						<td class="o-table__cell--numeric">0.56</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div id="demo-footnote-scroll" class="o-table-footnote">
		Source: The Origami team's love of fruit.
	</div>
</div>

<table class="o-table o-table--compact o-table--row-stripes" data-o-component="o-table">
	<tfoot>
		<tr>
			<td colspan=5 class="o-table-footnote">
				Source: The Origami team's love of fruit.
			</td>
		</tr>
	</tfoot>
    <thead>
        <tr>
            <th scope="col" role="columnheader">Fruit</th>
            <th scope="col" role="columnheader">Genus</th>
            <th scope="col" role="columnheader">Characteristic</th>
            <th scope="col" role="columnheader" data-o-table-data-type="numeric" class="o-table__cell--numeric">Cost&nbsp;(GBP)</th>
            <th scope="col" role="columnheader" data-o-table-data-type="numeric" class="o-table__cell--numeric">Cost&nbsp;(EUR)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Dragonfruit</td>
            <td>Stenocereus</td>
            <td>Juicy</td>
            <td class="o-table__cell--numeric">3</td>
            <td class="o-table__cell--numeric">2.72</td>
        </tr>
        <tr>
            <td>Durian</td>
            <td>Durio</td>
            <td>Smelly</td>
            <td class="o-table__cell--numeric">1.75</td>
            <td class="o-table__cell--numeric">1.33</td>
        </tr>
        <tr>
            <td>Naseberry</td>
            <td>Manilkara</td>
            <td>Chewy</td>
            <td class="o-table__cell--numeric">2</td>
            <td class="o-table__cell--numeric">1.85</td>
        </tr>
        <tr>
            <td>Strawberry</td>
            <td>Fragaria</td>
            <td>Sweet</td>
            <td class="o-table__cell--numeric">1.5</td>
            <td class="o-table__cell--numeric">1.69</td>
        </tr>
        <tr>
            <td>Apple</td>
            <td>Malus</td>
            <td>Crunchy</td>
            <td class="o-table__cell--numeric">0.5</td>
            <td class="o-table__cell--numeric">0.56</td>
        </tr>
    </tbody>
</table>

<table class="o-table o-table--row-stripes" data-o-component="o-table">
	<tfoot>
		<tr>
			<td colspan=5 class="o-table-footnote">
				Source: The Origami team's love of fruit.
			</td>
		</tr>
	</tfoot>
    <thead>
        <tr>
            <th scope="col" role="columnheader">Fruit</th>
            <th scope="col" role="columnheader">Genus</th>
            <th scope="col" role="columnheader">Characteristic</th>
            <th scope="col" role="columnheader" data-o-table-data-type="numeric" class="o-table__cell--numeric">Cost&nbsp;(GBP)</th>
            <th scope="col" role="columnheader" data-o-table-data-type="numeric" class="o-table__cell--numeric">Cost&nbsp;(EUR)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Dragonfruit</td>
            <td>Stenocereus</td>
            <td>Juicy</td>
            <td class="o-table__cell--numeric">3</td>
            <td class="o-table__cell--numeric">2.72</td>
        </tr>
        <tr>
            <td>Durian</td>
            <td>Durio</td>
            <td>Smelly</td>
            <td class="o-table__cell--numeric">1.75</td>
            <td class="o-table__cell--numeric">1.33</td>
        </tr>
        <tr>
            <td>Naseberry</td>
            <td>Manilkara</td>
            <td>Chewy</td>
            <td class="o-table__cell--numeric">2</td>
            <td class="o-table__cell--numeric">1.85</td>
        </tr>
        <tr>
            <td>Strawberry</td>
            <td>Fragaria</td>
            <td>Sweet</td>
            <td class="o-table__cell--numeric">1.5</td>
            <td class="o-table__cell--numeric">1.69</td>
        </tr>
        <tr>
            <td>Apple</td>
            <td>Malus</td>
            <td>Crunchy</td>
            <td class="o-table__cell--numeric">0.5</td>
            <td class="o-table__cell--numeric">0.56</td>
        </tr>
    </tbody>
</table>

<table class="o-table o-table--horizontal-lines" data-o-component="o-table">
	<tfoot>
		<tr>
			<td colspan=5 class="o-table-footnote">
				Source: The Origami team's love of fruit.
			</td>
		</tr>
	</tfoot>
    <thead>
        <tr>
            <th scope="col" role="columnheader">Fruit</th>
            <th scope="col" role="columnheader">Genus</th>
            <th scope="col" role="columnheader">Characteristic</th>
            <th scope="col" role="columnheader" data-o-table-data-type="numeric" class="o-table__cell--numeric">Cost&nbsp;(GBP)</th>
            <th scope="col" role="columnheader" data-o-table-data-type="numeric" class="o-table__cell--numeric">Cost&nbsp;(EUR)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Dragonfruit</td>
            <td>Stenocereus</td>
            <td>Juicy</td>
            <td class="o-table__cell--numeric">3</td>
            <td class="o-table__cell--numeric">2.72</td>
        </tr>
        <tr>
            <td>Durian</td>
            <td>Durio</td>
            <td>Smelly</td>
            <td class="o-table__cell--numeric">1.75</td>
            <td class="o-table__cell--numeric">1.33</td>
        </tr>
        <tr>
            <td>Naseberry</td>
            <td>Manilkara</td>
            <td>Chewy</td>
            <td class="o-table__cell--numeric">2</td>
            <td class="o-table__cell--numeric">1.85</td>
        </tr>
        <tr>
            <td>Strawberry</td>
            <td>Fragaria</td>
            <td>Sweet</td>
            <td class="o-table__cell--numeric">1.5</td>
            <td class="o-table__cell--numeric">1.69</td>
        </tr>
        <tr>
            <td>Apple</td>
            <td>Malus</td>
            <td>Crunchy</td>
            <td class="o-table__cell--numeric">0.5</td>
            <td class="o-table__cell--numeric">0.56</td>
        </tr>
    </tbody>
</table>
