<div class="o-topper o-topper--split-text-left o-topper--package o-topper--package-extra o-topper--color-slate">
	<div class="o-topper__content">
		<div class="o-topper__tags">
			<a href="https://www.ft.com/ft-series" class="o-topper__topic tags--large">FT Series</a>
		</div>
		<h1 class="o-topper__headline o-topper__headline--large" data-trackable="header">
			<span class="article-classifier__gap">The Election Outsider</span>
		</h1>
		<div class="o-topper__standfirst"><p>American Joshua Chaffin has left London and gone on a tour of the UK looking for a deeper perspective on the election</p></div>
	</div>

	<div class="o-topper__background"></div>

	<figure class="o-topper__visual">
		<picture class="o-topper__picture">
			<source media="(max-width: 1440px)" srcset="https://www.ft.com/__origami/service/image/v2/images/raw/http://prod-upp-image-read.ft.com/4fe8c9c0-36f5-11e7-bce4-9023f8c0fd2e?source=origami-build-tools&amp;fit=scale-down&amp;quality=highest&amp;width=720 720w">

			<source media="(min-width: 1440px)" srcset="https://www.ft.com/__origami/service/image/v2/images/raw/http://prod-upp-image-read.ft.com/1e786f9e-36f5-11e7-99bd-13beb0903fa3?source=origami-build-tools&amp;fit=scale-down&amp;quality=highest&amp;width=800 800w">

			<img alt="" class="o-topper__image" src="https://www.ft.com/__origami/service/image/v2/images/raw/http://prod-upp-image-read.ft.com/1e786f9e-36f5-11e7-99bd-13beb0903fa3?source=origami-build-tools&amp;fit=scale-down&amp;quality=highest&amp;width=800">
		</picture>
		<figcaption class="o-topper__image-credit">© FT montage</figcaption>
	</figure>
</div>
