<div class="o-buttons-pagination">
	<a href="#" class="o-buttons o-buttons--secondary o-buttons-icon o-buttons-icon--arrow-left o-buttons-icon--icon-only" disabled><span class='o-buttons-icon__label'>Fewer results</span></a>
	<a href="#" class="o-buttons o-buttons--secondary" aria-current="page">1</a>
	<a href="#" class="o-buttons o-buttons--secondary">2</a>
	<a href="#" class="o-buttons o-buttons--secondary">3</a>
	<span>...</span>
	<a href="#" class="o-buttons o-buttons--secondary">25</a>
	<a href="#" class="o-buttons o-buttons--secondary">26</a>
	<a href="#" class="o-buttons o-buttons--secondary">27</a>
	<a href="#" class="o-buttons o-buttons--secondary o-buttons-icon o-buttons-icon--arrow-right o-buttons-icon--icon-only"><span class='o-buttons-icon__label'>More results</span></a>
</div>

<br />

<div class="o-buttons-pagination">
	<a href="#" class="o-buttons o-buttons--secondary o-buttons--big o-buttons-icon o-buttons-icon--big o-buttons-icon--arrow-left o-buttons-icon--icon-only" disabled><span class='o-buttons-icon__label'>Fewer results</span></a>
	<a href="#" class="o-buttons o-buttons--secondary o-buttons--big" aria-current="page">1</a>
	<a href="#" class="o-buttons o-buttons--secondary o-buttons--big">2</a>
	<a href="#" class="o-buttons o-buttons--secondary o-buttons--big">3</a>
	<span>...</span>
	<a href="#" class="o-buttons o-buttons--secondary o-buttons--big">25</a>
	<a href="#" class="o-buttons o-buttons--secondary o-buttons--big">26</a>
	<a href="#" class="o-buttons o-buttons--secondary o-buttons--big">27</a>
	<a href="#" class="o-buttons o-buttons--secondary o-buttons--big o-buttons-icon o-buttons-icon--arrow-right o-buttons-icon--icon-only"><span class='o-buttons-icon__label'>More results</span></a>
</div>
