<div class="o-buttons__pagination">
	<button class="o-buttons o-buttons-icon o-buttons-icon--arrow-left o-buttons-icon--icon-only" disabled="disabled"><span class='o-buttons-icon__label'>Fewer results</span></button>
	<button class="o-buttons" aria-selected="true">1</button>
	<button class="o-buttons">2</button>
	<button class="o-buttons">3</button>
	<div class="faux-inline-block">...</div>
	<button class="o-buttons">25</button>
	<button class="o-buttons">26</button>
	<button class="o-buttons">27</button>
	<button class="o-buttons o-buttons-icon o-buttons-icon--arrow-right o-buttons-icon--icon-only"><span class='o-buttons-icon__label'>More results</span></button>
</div>

<br />
<br />

<div class="o-buttons__pagination">
	<button class="o-buttons o-buttons--big o-buttons-icon o-buttons-icon--big o-buttons-icon--arrow-left o-buttons-icon--icon-only" disabled="disabled"><span class='o-buttons-icon__label'>Fewer results</span></button>
	<button class="o-buttons o-buttons--big" aria-selected="true">1</button>
	<button class="o-buttons o-buttons--big">2</button>
	<button class="o-buttons o-buttons--big">3</button>
	<div class="faux-inline-block">...</div>
	<button class="o-buttons o-buttons--big">25</button>
	<button class="o-buttons o-buttons--big">26</button>
	<button class="o-buttons o-buttons--big">27</button>
	<button class="o-buttons o-buttons--big o-buttons-icon o-buttons-icon--arrow-right o-buttons-icon--icon-only"><span class='o-buttons-icon__label'>More results</span></button>
</div>
