<div class="o-ft-buttons__pagination">
    <button class="o-ft-buttons o-ft-buttons--disabled"><span class="o-ft-buttons__icon o-ft-buttons__icon--left"></span></button>
    <button class="o-ft-buttons o-ft-buttons--selected">1</button>
    <button class="o-ft-buttons">2</button>
    <button class="o-ft-buttons">3</button>
    <div class="o-ft-buttons o-ft-buttons--faux"><span class="o-ft-buttons__icon o-ft-buttons__icon--more"></span></div>
    <button class="o-ft-buttons">25</button>
    <button class="o-ft-buttons">26</button>
    <button class="o-ft-buttons">27</button>
    <button class="o-ft-buttons"><span class="o-ft-buttons__icon o-ft-buttons__icon--right"></span></button>
</div>

<br />
<br />

<div class="o-ft-buttons__group">
    <button class="o-ft-buttons"><span class="o-ft-buttons__icon o-ft-buttons__icon--left"></span></button><!--
 --><button class="o-ft-buttons"><span class="o-ft-buttons__icon o-ft-buttons__icon--right"></span></button>
</div>

<br />
<br />

<div class="o-ft-buttons__pagination">
    <button class="o-ft-buttons o-ft-buttons--big o-ft-buttons--disabled"><span class="o-ft-buttons__icon o-ft-buttons__icon--left"></span></button>
    <button class="o-ft-buttons o-ft-buttons--big o-ft-buttons--selected">1</button>
    <button class="o-ft-buttons o-ft-buttons--big">2</button>
    <button class="o-ft-buttons o-ft-buttons--big">3</button>
    <div class="o-ft-buttons o-ft-buttons--faux o-ft-buttons--big"><span class="o-ft-buttons__icon o-ft-buttons__icon--more"></span></div>
    <button class="o-ft-buttons o-ft-buttons--big">25</button>
    <button class="o-ft-buttons o-ft-buttons--big">26</button>
    <button class="o-ft-buttons o-ft-buttons--big">27</button>
    <button class="o-ft-buttons o-ft-buttons--big"><span class="o-ft-buttons__icon o-ft-buttons__icon--right"></span></button>
</div>

<br />
<br />

<div class="o-ft-buttons__group">
    <button class="o-ft-buttons o-ft-buttons--big"><span class="o-ft-buttons__icon o-ft-buttons__icon--left"></span></button><!--
 --><button class="o-ft-buttons o-ft-buttons--big"><span class="o-ft-buttons__icon o-ft-buttons__icon--right"></span></button>
</div>