<div class="demo-container" style="text-align: center;">
	<br style="margin-bottom: 20em;">

	<div class="o-lazy-load-placeholder o-lazy-load-placeholder--16x9">
		<img class="o-lazy-load o-lazy-load--transition" data-src="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fprod-upp-image-read.ft.com%2F30ae5186-9f88-11e8-b196-da9d6c239ca8?source=next&fit=scale-down&compression=best&width=500" alt="">
	</div>

	<br style="margin-bottom: 20em;">

	<div class="o-lazy-load-placeholder o-lazy-load-placeholder--16x9">
		<img class="o-lazy-load o-lazy-load--transition" data-src="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fprod-upp-image-read.ft.com%2F39f63a86-9738-11e8-95f8-8640db9060a7?source=next&fit=scale-down&compression=best&width=500" alt="">
	</div>

	<br style="margin-bottom: 20em;">

	<div class="o-lazy-load-placeholder o-lazy-load-placeholder--16x9">
		<img class="o-lazy-load o-lazy-load--transition" data-src="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fprod-upp-image-read.ft.com%2F2dc6d18e-9eeb-11e8-85da-eeb7a9ce36e4?source=next&fit=scale-down&compression=best&width=500" alt="">
	</div>

	<br style="margin-bottom: 20em;">

	<div class="o-lazy-load-placeholder">
		<!-- custom placeholder sizing -->
		<div style="padding-bottom: 56.25%"></div>
		<img class="o-lazy-load o-lazy-load--transition" data-src="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fprod-upp-image-read.ft.com%2F25de4598-9c88-11e8-88de-49c908b1f264?source=next&fit=scale-down&compression=best&width=500" alt="">
	</div>
</div>
