<div class="video-container">
	<div class="o-video" data-o-component="o-video"
		data-o-video-source="Brightcove"
		data-o-video-id="4165329773001"
		data-o-video-advertising="true"
		data-o-video-placeholdertitle="true"
		data-o-video-placeholder="true"></div>
</div>
