<div class="demo-video-container demo-video-container--large">
	<div class="o-video o-video--large"
		data-o-component="o-video"
		data-o-video-id="21d77b6c-1901-4d1d-9c3b-84dfe9904fd2"
		data-o-video-systemcode="origami-build-tools"
		data-o-video-advertising="true"
		data-o-video-placeholder="true"
		data-o-video-placeholder-hint="Related video"
		data-o-video-placeholder-info="['title','description','brand']"></div>
</div>
