<div class="demo-video-container demo-video-container--large">
	<div class="o-video o-video--large" data-o-component="o-video"></div>
</div>

<button name="prev" class="demo-button">Previous</button>
<button name="next" class="demo-button">Next</button>

<br>

<select size="3" disabled class="demo-playlist">
	<option value="5072828916001">Nationhood and the Edinburgh festivals</option>
	<option value="4907997821001">Austrian far-right candidate narrowly defeated</option>
	<option value="4165329773001">Teaching real-world economics to undergraduates</option>
</select>
