<div class="o-forms-group">
	<label class="o-forms-label">Text input with prefix label</label>
	<small class="o-forms-additional-info">Optional prompt text goes here</small>
	<div class="o-forms-affix-wrapper">
		<span class="o-forms-prefix">http://</span>
		<input type="text" placeholder="placeholder" class="o-forms-text" />
	</div>
</div>
<div class="o-forms-group">
	<label class="o-forms-label">Text input with suffix label</label>
	<div class="o-forms-affix-wrapper">
		<input type="text" placeholder="placeholder" class="o-forms-text o-forms-text--suffixed" />
		<span class="o-forms-suffix">.com</span>
	</div>
</div>
<div class="o-forms-group o-forms--error">
	<label class="o-forms-label">Text input with prefix label (error)</label>
	<div class="o-forms-affix-wrapper">
		<span class="o-forms-prefix">http://</span>
		<input type="text" placeholder="placeholder" class="o-forms-text" />
	</div>
	<div class="o-forms-errortext">Invalid entry</div>
</div>
<div class="o-forms-group">
	<label class="o-forms-label">Select box with prefix label</label>
	<div class="o-forms-affix-wrapper">
		<span class="o-forms-prefix">Choose:</span>
		<select class="o-forms-select">
			<option value="option1">Option 1</option>
			<option value="option2">Option 2</option>
			<option value="option3">Option 3</option>
			<option value="option4">Option 4</option>
		</select>
	</div>
</div>

<div class="o-forms-group">
	<label class="o-forms-label">Text input with suffix button</label>
	<div class="o-forms-affix-wrapper">
		<input type="text" placeholder="placeholder" class="o-forms-text" />
		<div class="o-forms-suffix">
			<button type="button" class="o-buttons">Go</button>
		</div>
	</div>
</div>
<div class="o-forms-group">
	<label class="o-forms-label">Text input with prefix button</label>
	<div class="o-forms-affix-wrapper">
		<div class="o-forms-prefix">
			<button type="button" class="o-buttons">Go</button>
		</div>
		<input type="text" placeholder="placeholder" class="o-forms-text" />
	</div>
</div>
<div class="o-forms-group">
	<label class="o-forms-label">Select box with suffix button</label>
	<div class="o-forms-affix-wrapper">
		<select class="o-forms-select">
			<option value="option1">Option 1</option>
			<option value="option2">Option 2</option>
			<option value="option3">Option 3</option>
			<option value="option4">Option 4</option>
		</select>
		<div class="o-forms-suffix">
			<button type="button" class="o-buttons">Go</button>
		</div>
	</div>
</div>
<div class="o-forms-group">
	<label class="o-forms-label">Text input with prefix label and suffix button</label>
	<div class="o-forms-affix-wrapper">
		<span class="o-forms-prefix">http://</span>
		<input type="text" placeholder="placeholder" class="o-forms-text" />
		<div class="o-forms-suffix">
			<button type="button" class="o-buttons">Go</button>
		</div>
	</div>
</div>
