<div class="o-forms">
	<label class="o-forms__label">Text input with prefix label</label>
	<small class="o-forms__additional-info">Optional prompt text goes here</small>
	<div class="o-forms__affix-wrapper">
		<span class="o-forms__prefix">http://</span>
		<input type="text" placeholder="placeholder" class="o-forms__text" />
	</div>
</div>
<div class="o-forms">
	<label class="o-forms__label">Text input with suffix label</label>
	<div class="o-forms__affix-wrapper">
		<input type="text" placeholder="placeholder" class="o-forms__text o-forms__text--suffixed" />
		<span class="o-forms__suffix">.com</span>
	</div>
</div>

<div class="o-forms">
	<label class="o-forms__label">Text input with suffix checkbox</label>
	<div class="o-forms__affix-wrapper">
		<input type="text" placeholder="placeholder" class="o-forms__text o-forms__text--suffixed" />
		<div class="o-forms__suffix">
			<input type="checkbox" name="checkbox" value="2" class="o-forms__checkbox" id="checkbox12" />
			<label for="checkbox12" class="o-forms__label">Checkbox 2</label>
		</div>
	</div>
</div>

<div class="o-forms o-forms--error">
	<label class="o-forms__label">Text input with prefix label (error)</label>
	<div class="o-forms__affix-wrapper">
		<span class="o-forms__prefix">http://</span>
		<input type="text" placeholder="placeholder" class="o-forms__text" />
	</div>
	<div class="o-forms__errortext">Invalid entry</div>
</div>
<div class="o-forms">
	<label class="o-forms__label">Select box with prefix label</label>
	<div class="o-forms__affix-wrapper">
		<span class="o-forms__prefix">Choose:</span>
		<select class="o-forms__select">
			<option value="option1">Option 1</option>
			<option value="option2">Option 2</option>
			<option value="option3">Option 3</option>
			<option value="option4">Option 4</option>
		</select>
	</div>
</div>

<div class="o-forms">
	<label class="o-forms__label">Text input with suffix button</label>
	<div class="o-forms__affix-wrapper">
		<input type="text" placeholder="placeholder" class="o-forms__text" />
		<div class="o-forms__suffix">
			<button type="button" class="o-buttons">Go</button>
		</div>
	</div>
</div>
<div class="o-forms">
	<label class="o-forms__label">Text input with prefix button</label>
	<div class="o-forms__affix-wrapper">
		<div class="o-forms__prefix">
			<button type="button" class="o-buttons">Go</button>
		</div>
		<input type="text" placeholder="placeholder" class="o-forms__text" />
	</div>
</div>
<div class="o-forms">
	<label class="o-forms__label">Select box with suffix button</label>
	<div class="o-forms__affix-wrapper">
		<select class="o-forms__select">
			<option value="option1">Option 1</option>
			<option value="option2">Option 2</option>
			<option value="option3">Option 3</option>
			<option value="option4">Option 4</option>
		</select>
		<div class="o-forms__suffix">
			<button type="button" class="o-buttons">Go</button>
		</div>
	</div>
</div>
<div class="o-forms">
	<label class="o-forms__label">Text input with prefix label and suffix button</label>
	<div class="o-forms__affix-wrapper">
		<span class="o-forms__prefix">http://</span>
		<input type="text" placeholder="placeholder" class="o-forms__text" />
		<div class="o-forms__suffix">
			<button type="button" class="o-buttons">Go</button>
		</div>
	</div>
</div>

<div class="o-forms o-forms--wide">
	<label class="o-forms__label">Text input with prefix label and suffix button (wide)</label>
	<div class="o-forms__affix-wrapper">
		<span class="o-forms__prefix">http://</span>
		<input type="text" placeholder="placeholder" class="o-forms__text" />
		<div class="o-forms__suffix">
			<button type="button" class="o-buttons">Go</button>
		</div>
	</div>
</div>
