<button class="o-buttons o-buttons--primary o-buttons--inverse">Primary Inverse</button>
<button class="o-buttons o-buttons--primary o-buttons--inverse o-buttons--big">Primary Inverse</button>
<button class="o-buttons o-buttons--primary o-buttons-icon o-buttons-icon--arrow-right o-buttons--inverse o-buttons--big">Primary Inverse</button>
<button class="o-buttons o-buttons--primary o-buttons--inverse o-buttons--big" disabled>Primary Inverse</button>
