<button class="o-buttons o-buttons--primary o-buttons--inverse">Inverse</button>
<button class="o-buttons o-buttons--primary o-buttons--inverse o-buttons--big">Inverse</button>
<button class="o-buttons o-buttons--primary o-buttons-icon o-buttons-icon--arrow-right o-buttons--inverse o-buttons--big">Inverse</button>
<button class="o-buttons o-buttons--primary o-buttons--inverse o-buttons--big" disabled>Inverse</button>
