<a href="/" class="o-buttons o-buttons--primary">Primary</a>
<a href="/" class="o-buttons o-buttons--primary o-buttons--big">Primary</a>
<a href="/" class="o-buttons o-buttons--primary o-buttons-icon o-buttons-icon--arrow-right o-buttons--big">Primary</a>
<a href="/" class="o-buttons o-buttons--primary o-buttons--big" disabled>Primary</a>

