<!-- TODO: remove file when time is up — https://github.com/Financial-Times/o-cookie-message/issues/65 -->
<div data-o-component="o-cookie-message" data-o-cookie-message-privacy-message="true" ></div>
