
<div class="o-banner o-banner--promo" data-o-component="o-banner">
	<div class="o-banner__outer">
		<div class="o-banner__inner" data-o-banner-inner="">
			<div class="o-banner__content o-banner__content--long">
				<p><b>Save 25% today</b> Limited time only.  Resubscribe now and get:</p>
				<ul>
					<li>Reduced price full Standard FT digital package</li>
					<li>Access to the FT on your desktop and mobile devices</li>
					<li>Our 5-year company financials archive</li>
				</ul>
			</div>
			<div class="o-banner__content o-banner__content--short">
				<p><b>Save 25% today</b> Limited time only.</p>
			</div>
			<div class="o-banner__actions">
				<div class="o-banner__action">
					<a href="#" class="o-banner__button">Subscribe now</a>
				</div>
			</div>
		</div>
	</div>
</div>
