<div>
    <div class="o-ft-forms__field-group">
        <label class="o-ft-forms__label">Label</label>
        <input type="radio" name="radio" value="1" class="o-ft-forms__field" id="radio11" checked="checked">
        <label for="radio11" class="o-ft-forms__label">Radio 1</label>
        <input type="radio" name="radio" value="2" class="o-ft-forms__field" id="radio12">
        <label for="radio12" class="o-ft-forms__label">Radio 2</label>
        <input type="radio" name="radio" value="3" class="o-ft-forms__field" id="radio13">
        <label for="radio13" class="o-ft-forms__label">Radio 3</label>
    </div>
</div>
<div>
    <div class="o-ft-forms__field-group o-ft-forms--valid">
        <label class="o-ft-forms__label">Label (valid)</label>
        <input type="radio" name="radio2" value="1" class="o-ft-forms__field" id="radio21" checked="checked">
        <label for="radio21" class="o-ft-forms__label">Radio 1</label>
        <input type="radio" name="radio2" value="2" class="o-ft-forms__field" id="radio22">
        <label for="radio22" class="o-ft-forms__label">Radio 2</label>
        <input type="radio" name="radio2" value="3" class="o-ft-forms__field" id="radio23">
        <label for="radio23" class="o-ft-forms__label">Radio 3</label>
    </div>
</div>
<div>
    <div class="o-ft-forms__field-group o-ft-forms--error">
        <label class="o-ft-forms__label">Label (error)</label>
        <input type="radio" name="radio3" value="1" class="o-ft-forms__field" id="radio31" checked="checked">
        <label for="radio31" class="o-ft-forms__label">Radio 1</label>
        <input type="radio" name="radio3" value="2" class="o-ft-forms__field" id="radio32">
        <label for="radio32" class="o-ft-forms__label">Radio 2</label>
        <input type="radio" name="radio3" value="3" class="o-ft-forms__field" id="radio33">
        <label for="radio33" class="o-ft-forms__label">Radio 3</label>
        <div class="o-ft-forms__errortext">Invalid entry</div>
    </div>
</div>
<div>
    <div class="o-ft-forms__field-group o-ft-forms--error">
        <label class="o-ft-forms__label">Small radio buttons</label>
        <input type="radio" name="radio3" value="1" class="o-ft-forms__field o-ft-forms__field--small" id="radio41" checked="checked">
        <label for="radio41" class="o-ft-forms__label">Radio 1</label>
        <input type="radio" name="radio3" value="2" class="o-ft-forms__field o-ft-forms__field--small" id="radio42">
        <label for="radio42" class="o-ft-forms__label">Radio 2</label>
        <input type="radio" name="radio3" value="3" class="o-ft-forms__field o-ft-forms__field--small" id="radio43">
        <label for="radio43" class="o-ft-forms__label">Radio 3</label>
    </div>
</div>
