<fieldset class="o-forms">
	<legend class="o-forms__label">Default radio controls</legend>
	<div class="o-forms__additional-info">Prompt text follows the legend if required.</div>
	<div class="o-forms__group">
		<input type="radio" name="radio-a" value="1" class="o-forms__radio" id="radio11" checked="checked" />
		<label for="radio11" class="o-forms__label">Radio 1</label>
		<input type="radio" name="radio-a" value="2" class="o-forms__radio" id="radio12" />
		<label for="radio12" class="o-forms__label">Radio 2</label>
	</div>
</fieldset>

<fieldset class="o-forms">
	<legend class="o-forms__label">Radio controls inline</legend>
	<div class="o-forms__group o-forms__group--inline">
		<input type="radio" name="radio-b" value="1" class="o-forms__radio" id="radio41" checked="checked" />
		<label for="radio41" class="o-forms__label">Radio 1</label>
		<input type="radio" name="radio-b" value="2" class="o-forms__radio" id="radio42" />
		<label for="radio42" class="o-forms__label">Radio 2</label>
	</div>
</fieldset>

<fieldset class="o-forms o-forms--error">
	<legend class="o-forms__label">Error</legend>
	<div class="o-forms__group">
		<input type="radio" name="radio-c" value="1" class="o-forms__radio" id="radio31" checked="checked" />
		<label for="radio31" class="o-forms__label">Radio 1</label>
		<input type="radio" name="radio-c" value="2" class="o-forms__radio" id="radio32" />
		<label for="radio32" class="o-forms__label">Radio 2</label>
	</div>
	<div class="o-forms__errortext">Invalid entry</div>
</fieldset>

<div class="o-forms">
	<label class="o-forms__label" id="radio-disabled">Disabled</label>
	<div class="o-forms__group" for="radio-disabled">
		<input type="radio" name="radio-d" value="1" class="o-forms__radio" id="radio21" disabled="disabled" />
		<label for="radio21" class="o-forms__label">Radio 1</label>
		<input type="radio" name="radio-d" value="2" class="o-forms__radio" id="radio22" disabled="disabled" />
		<label for="radio22" class="o-forms__label">Radio 2</label>
	</div>
</div>
