<div class="o-forms">
	<label class="o-forms__label">Default radio controls</label>
	<input type="radio" name="radio" value="1" class="o-forms__radio" id="radio11" checked="checked" />
	<label for="radio11" class="o-forms__label">Radio 1</label>
	<input type="radio" name="radio" value="2" class="o-forms__radio" id="radio12" />
	<label for="radio12" class="o-forms__label">Radio 2</label>
</div>

<div class="o-forms o-forms--error">
	<label class="o-forms__label">Error</label>
	<input type="radio" name="radio3" value="1" class="o-forms__radio" id="radio31" checked="checked" />
	<label for="radio31" class="o-forms__label">Radio 1</label>
	<input type="radio" name="radio3" value="2" class="o-forms__radio" id="radio32" />
	<label for="radio32" class="o-forms__label">Radio 2</label>
	<div class="o-forms__errortext">Invalid entry</div>
</div>

<div class="o-forms">
	<label class="o-forms__label">Disabled</label>
	<input type="radio" name="radio2" value="1" class="o-forms__radio" id="radio21" disabled="disabled" />
	<label for="radio21" class="o-forms__label">Radio 1</label>
	<input type="radio" name="radio2" value="2" class="o-forms__radio" id="radio22" disabled="disabled" />
	<label for="radio22" class="o-forms__label">Radio 2</label>
</div>
