<fieldset class="o-forms">
    <legend class="o-forms__label">No default selection</legend>
    <div class="o-forms__group o-forms__group--inline-together">
        <input type="radio" name="radio4" value="daily" class="o-forms__radio-button" id="radio41" />
        <label for="radio41" class="o-forms__label">Daily</label>
        <input type="radio" name="radio4" value="weekly" class="o-forms__radio-button" id="radio42" />
        <label for="radio42" class="o-forms__label">Weekly</label>
    </div>
</fieldset>

<fieldset class="o-forms">
	<legend class="o-forms__label">Positive / negative choice with a default selection</legend>
	<div class="o-forms__group o-forms__group--inline-together">
		<input type="radio" name="radio8" value="yes" class="o-forms__radio-button" id="radio81" />
		<label for="radio81" class="o-forms__label">Yes</label>
		<input type="radio" name="radio8" value="no" class="o-forms__radio-button o-forms__radio-button--negative" id="radio82" checked />
		<label for="radio82" class="o-forms__label">No</label>
	</div>
</fieldset>

<fieldset class="o-forms">
    <legend class="o-forms__label">Default selected</legend>
    <div class="o-forms__group o-forms__group--inline-together">
        <input type="radio" name="radio5" value="daily" class="o-forms__radio-button" id="radio51"
               checked="checked" />
        <label for="radio51" class="o-forms__label">Daily</label>
        <input type="radio" name="radio5" value="weekly" class="o-forms__radio-button" id="radio52" />
        <label for="radio52" class="o-forms__label">Weekly</label>
        <input type="radio" name="radio5" value="monthly" class="o-forms__radio-button" id="radio53" />
        <label for="radio53" class="o-forms__label">Monthly</label>
    </div>
</fieldset>

<fieldset class="o-forms o-forms--error">
    <legend class="o-forms__label">Error</legend>
    <div class="o-forms__group o-forms__group--inline-together">
        <input type="radio" name="radio6" value="yes" class="o-forms__radio-button" id="radio61" />
        <label for="radio61" class="o-forms__label">Yes</label>
        <input type="radio" name="radio6" value="no" class="o-forms__radio-button" id="radio62" />
        <label for="radio62" class="o-forms__label">No</label>
    </div>
    <div class="o-forms__errortext">Please select either Yes or No</div>
</fieldset>

<fieldset class="o-forms">
    <legend class="o-forms__label">Disabled</legend>
    <div class="o-forms__group o-forms__group--inline-together">
        <input type="radio" name="radio7" value="yes" class="o-forms__radio-button" id="radio71"
               disabled="disabled" />
        <label for="radio71" class="o-forms__label">Yes</label>
        <input type="radio" name="radio7" value="no" class="o-forms__radio-button" id="radio72"
               disabled="disabled" />
        <label for="radio72" class="o-forms__label">No</label>
    </div>
</fieldset>
