<table class="o-table o-table--responsive-flat" data-o-component="o-table" data-o-table-responsive="flat">
	<thead>
		<tr>
			<th>Cheese</th>
			<th>Bread</th>
			<th data-o-table-data-type="numeric" class="o-table__cell--numeric">Cost (GBP)</th>
			<th data-o-table-data-type="numeric" class="o-table__cell--numeric">Cost (EUR)</th>
			<th>Taste Note</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>cheddar</td>
			<td>rye</td>
			<td data-o-table-data-type="numeric" class="o-table__cell--numeric">1</td>
			<td data-o-table-data-type="numeric" class="o-table__cell--numeric">1.56</td>
			<td>sharp</td>
		</tr>
		<tr>
			<td>stilton</td>
			<td>wholemeal</td>
			<td data-o-table-data-type="numeric" class="o-table__cell--numeric">2</td>
			<td data-o-table-data-type="numeric" class="o-table__cell--numeric">1.85</td>
			<td>strong</td>
		</tr>
		<tr>
			<td>red leicester</td>
			<td>white</td>
			<td data-o-table-data-type="numeric" class="o-table__cell--numeric">3</td>
			<td data-o-table-data-type="numeric" class="o-table__cell--numeric">2.72</td>
			<td>sweet</td>
		</tr>
		<tr>
			<td>gruyère</td>
			<td>sourdough</td>
			<td data-o-table-data-type="numeric" class="o-table__cell--numeric">7</td>
			<td data-o-table-data-type="numeric" class="o-table__cell--numeric">7.89</td>
			<td>blue</td>
		</tr>
	</tbody>
</table>
