<table class="o-table o-table--responsive-overflow o-table--row-stripes" data-o-component="o-table">
	<thead>
		<th>Cheese</th>
		<th>Bread</th>
		<th>Cost (GBP)</th>
		<th>Cost (EUR)</th>
	</thead>
	<tbody>
		<tr>
			<td>cheddar</td>
			<td>rye</td>
			<td>2</td>
			<td>1.56</td>
		</tr>
		<tr>
			<td>stilton</td>
			<td>wholemeal</td>
			<td>2</td>
			<td>1.85</td>
		</tr>
		<tr>
			<td>red leicester</td>
			<td>white</td>
			<td>3</td>
			<td>2.72</td>
		</tr>
	</tbody>
</table>
