<table class="o-table o-table--responsive-overflow" data-o-component="o-table">
	<thead>
		<tr>
			<th>Fruit</th>
			<th>Genus</th>
			<th data-o-table-data-type="numeric" class="o-table__cell--numeric">Cost (GBP)</th>
			<th data-o-table-data-type="numeric" class="o-table__cell--numeric">Cost (EUR)</th>
			<th>Characteristic</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Dragonfruit</td>
			<td>Stenocereus</td>
			<td data-o-table-data-type="numeric" class="o-table__cell--numeric">3</td>
			<td data-o-table-data-type="numeric" class="o-table__cell--numeric">2.72</td>
			<td>juicy</td>
		</tr>
		<tr>
			<td>Durian</td>
			<td>Durio</td>
			<td data-o-table-data-type="numeric" class="o-table__cell--numeric">1.75</td>
			<td data-o-table-data-type="numeric" class="o-table__cell--numeric">1.33</td>
			<td>smelly</td>
		</tr>
		<tr>
			<td>Naseberry</td>
			<td>Manilkara</td>
			<td data-o-table-data-type="numeric" class="o-table__cell--numeric">2</td>
			<td data-o-table-data-type="numeric" class="o-table__cell--numeric">1.85</td>
			<td>chewy</td>
		</tr>
	</tbody>
</table>
