<table class="o-table o-table--row-stripes">
    <caption>
        Row stripes
    </caption>
    <thead>
        <tr>
            <th>Heading</th>
            <th>Heading</th>
            <th data-o-table-data-type="numeric">Heading</th>
            <th data-o-table-data-type="numeric">Heading</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>text data</td>
            <td>text data</td>
            <td data-o-table-data-type="numeric">123</td>
            <td data-o-table-data-type="numeric">123.45</td>
        </tr>
        <tr>
            <td>text data</td>
            <td>text data</td>
            <td data-o-table-data-type="numeric">22</td>
            <td data-o-table-data-type="numeric">22.2</td>
        </tr>
        <tr>
            <td>text data</td>
            <td>text data</td>
            <td data-o-table-data-type="numeric">3</td>
            <td data-o-table-data-type="numeric">3.0</td>
        </tr>
    </tbody>
</table>

<table class="o-table o-table--row-stripes o-table--horizontal-lines o-table--vertical-lines">
    <caption>
        Row stripes and both horizontal and vertical lines
    </caption>
    <thead>
    <tr>
        <th>Heading</th>
        <th>Heading</th>
        <th data-o-table-data-type="numeric">Heading</th>
        <th data-o-table-data-type="numeric">Heading</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>text data</td>
        <td>text data</td>
        <td data-o-table-data-type="numeric">123</td>
        <td data-o-table-data-type="numeric">123.45</td>
    </tr>
    <tr>
        <td>text data</td>
        <td>text data</td>
        <td data-o-table-data-type="numeric">22</td>
        <td data-o-table-data-type="numeric">22.2</td>
    </tr>
    <tr>
        <td>text data</td>
        <td>text data</td>
        <td data-o-table-data-type="numeric">3</td>
        <td data-o-table-data-type="numeric">3.0</td>
    </tr>
    </tbody>
</table>