<table class="o-table o-table--row-headings" data-o-component="o-table">
	<tr>
		<th>Item</th>
		<td>Holiday</td>
		<td>Lunch</td>
	</tr>
	<tr>
		<th>Cost</th>
		<td data-o-table-data-type="numeric">£123.45</td>
		<td data-o-table-data-type="numeric">£7</td>
	</tr>
</table>
