<div class="demo-container" style="text-align: center;">
	<p>Scroll to see each square turn purple when moved fully into view →</p>
	<div
		class="demo-scrollable"
		data-o-component="o-lazy-load"
		data-o-lazy-load-threshold="1"
		data-o-lazy-load-selector=".demo-target">
		<div class="demo-target" data-toggle-class="loaded"></div>
		<div class="demo-target" data-toggle-class="loaded"></div>
		<div class="demo-target" data-toggle-class="loaded"></div>
		<div class="demo-target" data-toggle-class="loaded"></div>
		<div class="demo-target" data-toggle-class="loaded"></div>
		<div class="demo-target" data-toggle-class="loaded"></div>
		<div class="demo-target" data-toggle-class="loaded"></div>
		<div class="demo-target" data-toggle-class="loaded"></div>
		<div class="demo-target" data-toggle-class="loaded"></div>
		<div class="demo-target" data-toggle-class="loaded"></div>
	</div>
</div>
