<a href="/" class="o-buttons o-buttons--secondary">Secondary</a>
<a href="/" class="o-buttons o-buttons--secondary o-buttons--big">Secondary</a>
<a href="/" class="o-buttons o-buttons--secondary o-buttons--big o-buttons-icon o-buttons-icon--arrow-right">Secondary</a>
<a href="/" class="o-buttons o-buttons--secondary o-buttons--big" disabled>Secondary</a>
