<button class="o-buttons o-buttons--secondary">Secondary</button>
<button class="o-buttons o-buttons--secondary o-buttons--big">Secondary</button>
<button class="o-buttons o-buttons--secondary o-buttons--big o-buttons-icon o-buttons-icon--arrow-right">Secondary</button>
<button class="o-buttons o-buttons--secondary o-buttons--big" disabled>Secondary</button>
