<div class="o-forms-section o-forms-section--highlight">
	<div class="o-forms">
		<label for="o-forms-section-highlight" class="o-forms__label">Field Label</label>
		<input type="text" id="o-forms-section-highlight" class="o-forms__text" required />
	</div>
</div>

<div class="o-forms-section">
	<div class="o-forms-section__message">
		<p>This is a section message.</p>
	</div>
	<div class="o-forms">
		<label for="o-forms-message" class="o-forms__label">Field Label</label>
		<input type="text" id="o-forms-message" class="o-forms__text" required />
	</div>
</div>

<div class="o-forms-section o-forms-section--wide">
	<div class="o-forms-section__message">
		<p>This is a section message (wide).</p>
	</div>
	<div class="o-forms">
		<label for="o-forms-message-wide" class="o-forms__label">Field Label</label>
		<input type="text" id="o-forms-message-wide" class="o-forms__text" required />
	</div>
</div>

<div class="o-forms-section o-forms-section--error">
	<div class="o-forms-section__message">
		<p>This is a section error message</p>
	</div>
	<div class="o-forms o-forms--error">
		<label for="o-forms-section-error" class="o-forms__label">Field Label</label>
		<input type="text" id="o-forms-section-error" class="o-forms__text" required />
		<div class="o-forms__errortext">Invalid entry</div>
	</div>
</div>

<div class="o-forms-section o-forms-section--error o-forms-section--wide">
	<div class="o-forms-section__message">
		<p>This is a section error message (wide)</p>
	</div>
	<div class="o-forms o-forms--error o-forms--wide">
		<label for="o-forms-section-error-wide" class="o-forms__label">Field Label</label>
		<input type="text" id="o-forms-section-error-wide" class="o-forms__text" required />
		<div class="o-forms__errortext">Invalid entry</div>
	</div>
</div>
