<fieldset class="o-forms__section o-forms__section--error">
    <div class="o-forms-section__message--error">
        <p>This is a section error message that highlights a group of fields</p>
    </div>
    <div class="o-forms__field-group">
        <label class="o-forms__label">Field label</label>
        <small class="o-forms__additional-info">Additional field information</small>
        <input type="text" placeholder="placeholder" class="o-forms__field--text" />
    </div>
</fieldset>
