<div class="o-forms-group">
	<label class="o-forms-label">Select box</label>
	<select class="o-forms-select">
		<option value="option1">Option 1</option>
		<option value="option2">Option 2</option>
		<option value="option3">Option 3</option>
		<option value="option4">Option 4</option>
	</select>
</div>
<div class="o-forms-group o-forms--valid">
	<label class="o-forms-label">Select box (valid)</label>
	<select class="o-forms-select">
		<option value="option1">Option 1 (low chars: jpqy)</option>
		<option value="option2">Option 2</option>
		<option value="option3">Option 3</option>
		<option value="option4">Option 4</option>
	</select>
</div>
</div>
<div data-o-grid-colspan="12 M6">
<div class="o-forms-group">
	<label class="o-forms-label">Select box</label>
	<select class="o-forms-select" disabled="disabled">
		<option value="option1">Option 1</option>
		<option value="option2">Option 2</option>
		<option value="option3">Option 3</option>
		<option value="option4">Option 4</option>
	</select>
</div>
<div class="o-forms-group o-forms--error">
	<label class="o-forms-label">Select box (error)</label>
	<select class="o-forms-select">
		<option value="option1">Option 1</option>
		<option value="option2">Option 2</option>
		<option value="option3">Option 3</option>
		<option value="option4">Option 4</option>
	</select>
	<div class="o-forms-errortext">Invalid entry</div>
</div>
<div class="o-forms-group">
	<label class="o-forms-label">Small select box</label>
	<select class="o-forms-select o-forms-select--small">
		{{! Low glyphs should be visible }}
		<option value="option1">Option 1 (low chars: jpqy)</option>
		<option value="option2">Option 2</option>
		<option value="option3">Option 3</option>
		<option value="option4">Option 4</option>
	</select>
</div>
