<div class="demo-column">
    <div class="o-ft-forms__field-group">
        <label class="o-ft-forms__label">Select box</label>
        <select class="o-ft-forms__field--select">
            <option value="option1">Option 1</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
            <option value="option4">Option 4</option>
        </select>
    </div>
    <div class="o-ft-forms__field-group o-ft-forms--valid">
        <label class="o-ft-forms__label">Select box (valid)</label>
        <select class="o-ft-forms__field--select">
            <option value="option1">Option 1</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
            <option value="option4">Option 4</option>
        </select>
    </div>
 </div>
<div class="demo-column">
    <div class="o-ft-forms__field-group">
        <label class="o-ft-forms__label">Select box</label>
        <select class="o-ft-forms__field--select" disabled="disabled">
            <option value="option1">Option 1</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
            <option value="option4">Option 4</option>
        </select>
    </div>
    <div class="o-ft-forms__field-group o-ft-forms--error">
        <label class="o-ft-forms__label">Select box (error)</label>
        <select class="o-ft-forms__field--select">
            <option value="option1">Option 1</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
            <option value="option4">Option 4</option>
        </select>
        <div class="o-ft-forms__errortext">Invalid entry</div>
    </div>
</div>
