<div class="o-visual-effects-shadow-ultralow">ultralow</div>

<div class="o-visual-effects-shadow-low">low</div>

<div class="o-visual-effects-shadow-mid">mid</div>

<div class="o-visual-effects-shadow-high">high</div>

