<footer class="o-footer{{#modifier}} {{{modifier}}}{{/modifier}}" data-o-component="o-footer">
	<div class="o-footer__container">
		<div class="o-footer__row o-footer__copyright">
			<div class="o-footer__col o-footer__col--full-width">
				<span>&#169; THE FINANCIAL TIMES LTD {{o-footer.copyrightYear}}.</span>
				<span><abbr title="Financial Times">FT</abbr> and ‘Financial Times’ are trademarks of The Financial Times Ltd.</span>
			</div>
		</div>
	</div>

	<div class="o-footer__brand">
		<div class="o-footer__container">
			<div class="o-footer__row">
				<div class="o-footer__col o-footer__col--full-width">
					<div class="o-footer__brand-logo" aria-label="A Nikkei Company"></div>
				</div>
			</div>
		</div>
	</div>
</footer>
