<div class="demo">
	<footer class="o-footer-services">
		<div class="o-footer-services__container">
			<p class="o-footer-services__source-code"><a href="http://github.com/financial-times/o-footer-services">View project on GitHub</a></p>
			<p class="o-footer-services__copyright">&copy; THE FINANCIAL TIMES LTD. FT and 'Financial Times' are trademarks of The Financial Times Ltd.</p>
		</div>
	</footer>
</div>
