
<header class="o-ft-header">
    <div class="o-ft-header__container">
        <div class="o-ft-header__content">
            <div class="o-ft-header__primary">
                <div class="o-ft-header__primary__left demo__primary--placeholder">
                    <div class="o-ft-header__logo demo__logo--placeholder">
                        <span>[logo]</span>
                    </div>
                    [primary left]
                </div>
                <div class="o-ft-header__primary__center demo__primary--placeholder">
                    [primary center]
                </div>
                <div class="o-ft-header__primary__right demo__primary--placeholder">
                    [primary right]
                </div>
                <div class="o-ft-header__primary__featured demo__primary--placeholder">
                    [primary featured]
                </div>
            </div>
            <div class="o-ft-header__secondary">
                <div class="o-ft-header__secondary__left demo__secondary--placeholder">
                    [secondary left]
                </div>
                <div class="o-ft-header__secondary__right demo__secondary--placeholder">
                    [secondary right]
                </div>
            </div>
        </div>
    </div>
</header>