<header data-o-component="o-ft-header" data-o-version="{{o-ft-header.module-version}}" class="o-ft-header">
    <div class="o-ft-header__content">
        <div class="o-ft-header__logo demo__logo--placeholder">
            [logo]
        </div>
        <div class="o-ft-header__primary">
            <div class="o-ft-header__primary__left demo__primary--placeholder">
                [primary__left]
            </div>
            <div class="o-ft-header__primary__centre demo__primary--placeholder">
                [primary_centre]
            </div>
            <div class="o-ft-header__primary__right demo__primary--placeholder">
                [primary_right]
            </div>
        </div>
        <div class="o-ft-header__secondary demo__secondary--placeholder">
            [secondary]
        </div>
    </div>
</header>