<div class="o-table-container">
	<div class="o-table-scroll-wrapper">
		<table class="o-table o-table--horizontal-lines" data-o-component="o-table" data-o-table-sortable="false">
			<thead>
				<tr>
					<th scope="col" role="columnheader">Links</th>
					<th scope="col" role="columnheader" data-o-table-data-type="date">Date</th>
					<th scope="col" role="columnheader" data-o-table-data-type="date"><abbr title="Abbreviated">ABBR</abbr>&nbsp;Date</th>
					<th scope="col" role="columnheader" data-o-table-data-type="date">Date&nbsp;&amp;&nbsp;Time</th>
					<th scope="col" role="columnheader" data-o-table-data-type="date">Time</th>
					<th scope="col" role="columnheader" data-o-table-data-type="number">Formatted&nbsp;numbers</th>
					<th scope="col" role="columnheader" data-o-table-data-type="number"><abbr title="Abbreviated">ABBR</abbr>&nbsp;numbers</th>
					<th scope="col" role="columnheader" data-o-table-data-type="number">Ranged&nbsp;numbers</th>
					<th scope="col" role="columnheader" data-o-table-data-type="currency">Ranged&nbsp;currency</th>
					<th scope="col" role="columnheader" data-o-table-data-type="currency"><abbr title="Abbreviated">ABBR</abbr>&nbsp;currency</th>
					<th scope="col" role="columnheader" data-o-table-data-type="percent">Percentage</th>
					<!-- do not show the actions column as sortable -->
					<th scope="col" role="columnheader" data-o-table-heading-disable-sort>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><a class="o-typography-link" href="https://en.wikipedia.org/wiki/Pitaya">Dragonfruit <i class="list-view__icon o-icons-icon o-icons-icon--tick"></i></a></td>
					<td>August 17 2018</td>
					<td>Aug 17</td>
					<td>Aug 17 9pm</td>
					<td>1.30am</td>
					<td>138,000</td>
					<td>84m</td>
					<td>5m&ndash;10m</td>
					<td>$84m&ndash;$86m</td>
					<td>$84m</td>
					<td>30%</td>
					<td><a class="o-typography-link" href="#">Edit</a></td>
				</tr>
				<tr>
					<td><a class="o-typography-link" href="https://en.wikipedia.org/wiki/Durian">Durian*</a></td>
					<td>August 02 2012</td>
					<td>Aug 7</td>
					<td>Aug 17 10am</td>
					<td>1.30pm</td>
					<td>1,439,165.43**</td>
					<td>36bn</td>
					<td>5bn&ndash;8bn</td>
					<td>£36bn&ndash;£40bn</td>
					<td>£36bn</td>
					<td>50%</td>
					<td><a class="o-typography-link" href="#">Edit</a></td>
				</tr>
				<tr>
					<td><a class="o-typography-link" href="https://en.wikipedia.org/wiki/Manilkara_zapota">Naseberry</a></td>
					<td>August 10 2012</td>
					<td>Dec 21</td>
					<td>February 12 4.05pm</td>
					<td>2.45pm</td>
					<td>1.28</td>
					<td>1.5bn</td>
					<td>8.6tn&ndash;12tn</td>
					<td>HK$74.9bn&ndash;HK$90bn</td>
					<td>HK$74.9bn</td>
					<td>15%</td>
					<td><a class="o-typography-link" href="#">Edit</a></td>
				</tr>
				<tr>
					<td><a class="o-typography-link" href="https://en.wikipedia.org/wiki/Gruy%C3%A8re_cheese">Gruyère</a></td>
					<td>February 03 2018</td>
					<td>Feb 16</td>
					<td>February 12 4.20pm</td>
					<td>5.00am</td>
					<td>138,000.45</td>
					<td>8.27tn</td>
					<td>1.3&ndash;5</td>
					<td>Rp14.595&ndash;Rp20</td>
					<td>Rp14.595</td>
					<td>60%</td>
					<td><a class="o-typography-link" href="#">Edit</a></td>
				</tr>
				<tr>
					<td><a class="o-typography-link" href="https://en.wikipedia.org/wiki/Pitaya">Dragonfruit <i class="list-view__icon o-icons-icon o-icons-icon--tick"></i></a></td>
					<td>August 17 2018</td>
					<td>Aug 17</td>
					<td>Aug 17 9pm</td>
					<td>1.30am</td>
					<td>138,000</td>
					<td>84m</td>
					<td>5m&ndash;10m</td>
					<td>$84m&ndash;$86m</td>
					<td>$84m</td>
					<td>30%</td>
					<td><a class="o-typography-link" href="#">Edit</a></td>
				</tr>
				<tr>
					<td><a class="o-typography-link" href="https://en.wikipedia.org/wiki/Durian">Durian*</a></td>
					<td>August 02 2012</td>
					<td>Aug 7</td>
					<td>Aug 17 10am</td>
					<td>1.30pm</td>
					<td>1,439,165.43**</td>
					<td>36bn</td>
					<td>5bn&ndash;8bn</td>
					<td>£36bn&ndash;£40bn</td>
					<td>£36bn</td>
					<td>50%</td>
					<td><a class="o-typography-link" href="#">Edit</a></td>
				</tr>
				<tr>
					<td><a class="o-typography-link" href="https://en.wikipedia.org/wiki/Manilkara_zapota">Naseberry</a></td>
					<td>August 10 2012</td>
					<td>Dec 21</td>
					<td>February 12 4.05pm</td>
					<td>2.45pm</td>
					<td>1.28</td>
					<td>1.5bn</td>
					<td>8.6tn&ndash;12tn</td>
					<td>HK$74.9bn&ndash;HK$90bn</td>
					<td>HK$74.9bn</td>
					<td>15%</td>
					<td><a class="o-typography-link" href="#">Edit</a></td>
				</tr>
				<tr>
					<td><a class="o-typography-link" href="https://en.wikipedia.org/wiki/Gruy%C3%A8re_cheese">Gruyère</a></td>
					<td>February 03 2018</td>
					<td>Feb 16</td>
					<td>February 12 4.20pm</td>
					<td>5.00am</td>
					<td>138,000.45</td>
					<td>8.27tn</td>
					<td>1.3&ndash;5</td>
					<td>Rp14.595&ndash;Rp20</td>
					<td>Rp14.595</td>
					<td>60%</td>
					<td><a class="o-typography-link" href="#">Edit</a></td>
				</tr>
			</tbody>
	</table>
	</div>
</div>
