<div class="o-topper o-topper--split-text-center o-topper--color-black">
	<div class="o-topper__content">
		<div class="o-topper__tags">

					<div class="o-topper__primary-theme">
									<a href="/comment/the-big-read" class="n-content-tag n-content-tag--medium n-content-tag--brand" data-trackable="primary-brand" aria-label="part of the The Big Read column">The Big Read</a>
								<a href="/topics/themes/Renewable_Energy" class="n-content-tag  n-content-tag--with-follow " data-trackable="primary-theme" aria-label="posted in category Renewable Energy" data-concept-id="7aad419b-765e-34bd-bb8d-5d84cd6b596d">Renewable Energy</a>
					</div>

		</div>
		<h1 class="o-topper__headline o-topper__headline--large" data-trackable="header">
			<span class="article-classifier__gap">The Big Green Bang: how renewable energy became unstoppable</span>
		</h1>
				<div class="o-topper__standfirst">The shift to cleaner power is disrupting entire industries. Will the 21st century be the last one for fossil fuels?</div>

	</div>

	<div class="o-topper__background"></div>


			<figure class="o-topper__visual">
				<picture class="o-topper__picture">
						<source media="(max-width: 1440px)" srcset="https://www.ft.com/__origami/service/image/v2/images/raw/http://prod-upp-image-read.ft.com/87dd1db8-3ba5-11e7-821a-6027b8a20f23?source=next&amp;fit=scale-down&amp;quality=highest&amp;width=720 720w">


						<source media="(min-width: 1440px)" srcset="https://www.ft.com/__origami/service/image/v2/images/raw/http://prod-upp-image-read.ft.com/6ddeb85e-3ba5-11e7-ac89-b01cc67cfeec?source=next&amp;fit=scale-down&amp;quality=highest&amp;width=800 800w">

					<img alt="" class="o-topper__image" src="https://www.ft.com/__origami/service/image/v2/images/raw/http://prod-upp-image-read.ft.com/6ddeb85e-3ba5-11e7-ac89-b01cc67cfeec?source=next&amp;fit=scale-down&amp;quality=highest&amp;width=800">
				</picture>
				<figcaption class="o-topper__image-credit">© Ollanski</figcaption>
			</figure>

</div>
