<button class="o-buttons o-buttons--standout o-buttons--small">Standout</button>
<button class="o-buttons o-buttons--standout">Standout</button>
<button class="o-buttons o-buttons--standout o-buttons--big">Standout</button>
