<fieldset class="o-forms o-forms--inline o-forms--saving" data-o-component="o-forms">
    <div class="o-forms__inline-container">
        <legend class="o-forms__label">inline saving status</legend>
        <div class="o-forms__group o-forms__group--inline-together">
            <input type="radio" name="saving" value="daily" class="o-forms__radio-button" id="radio-saving-1" />
            <label for="radio-saving-1" class="o-forms__label">Daily</label>
            <input type="radio" name="saving" value="weekly" class="o-forms__radio-button" id="radio-saving-2" />
            <label for="radio-saving-2" class="o-forms__label">Weekly</label>
        </div>
        <div class="o-forms__status o-forms__status--left" aria-hidden="false" aria-live="assertive"></div>
    </div>
</fieldset>

<fieldset class="o-forms o-forms--inline o-forms--saved">
    <div class="o-forms__inline-container">
        <legend class="o-forms__label">inline saved status</legend>
        <div class="o-forms__group o-forms__group--inline-together">
            <input type="radio" name="saved" value="daily" class="o-forms__radio-button" id="radio-saved-1" />
            <label for="radio-saved-1" class="o-forms__label">Daily</label>
            <input type="radio" name="saved" value="weekly" class="o-forms__radio-button" id="radio-saved-2" />
            <label for="radio-saved-2" class="o-forms__label">Weekly</label>
        </div>
        <div class="o-forms__status o-forms__status--left" aria-hidden="false" aria-live="assertive"></div>
    </div>
</fieldset>

<fieldset class="o-forms o-forms--inline o-forms--loading o-forms--saving" data-o-component="o-forms">
    <div class="o-forms__inline-container">
        <legend class="o-forms__label">icon only inline status</legend>
        <div class="o-forms__group o-forms__group--inline-together">
            <input type="radio" name="saving-icon" value="daily" class="o-forms__radio-button" id="radio-saving-icon-1" />
            <label for="radio-saving-icon-1" class="o-forms__label">Daily</label>
            <input type="radio" name="saving-icon" value="weekly" class="o-forms__radio-button" id="radio-saving-icon-2" />
            <label for="radio-saving-icon-2" class="o-forms__label">Weekly</label>
        </div>
        <div class="o-forms__status o-forms__status--left o-forms__status--icon-only" aria-hidden="false" aria-live="assertive"></div>
    </div>
</fieldset>

<fieldset class="o-forms o-forms--inline o-forms--saving">
    <div class="o-forms__inline-container">
        <legend class="o-forms__label">inline saving status (below)</legend>
        <div class="o-forms__group o-forms__group--inline-together">
            <input type="radio" name="below" value="daily" class="o-forms__radio-button" id="radio-status-below-1" />
            <label for="radio-status-below-1" class="o-forms__label">Daily</label>
            <input type="radio" name="below" value="weekly" class="o-forms__radio-button" id="radio-status-below-2" />
            <label for="radio-status-below-2" class="o-forms__label">Weekly</label>
        </div>
        <div class="o-forms__status" aria-hidden="false" aria-live="assertive"></div>
    </div>
</fieldset>

<fieldset class="o-forms o-forms--saving" data-o-component="o-forms">
    <legend class="o-forms__label">stacked saving status</legend>
    <div class="o-forms__group o-forms__group--inline-together">
        <input type="radio" name="saving-stacked" value="daily" class="o-forms__radio-button" id="radio-saving-stacked-1" />
        <label for="radio-saving-stacked-1" class="o-forms__label">Daily</label>
        <input type="radio" name="saving-stacked" value="weekly" class="o-forms__radio-button" id="radio-saving-stacked-2" />
        <label for="radio-saving-stacked-2" class="o-forms__label">Weekly</label>
    </div>
    <div class="o-forms__status o-forms__status--left" aria-hidden="false" aria-live="assertive"></div>
</fieldset>
