<div class="o-comments"
	id="o-comments-stream"
	data-o-component="o-comments"
	data-o-comments-article-id="{{articleId}}"
	data-o-comments-article-url="https://www.ft.com/content/{{articleId}}">
</div>
