<div class="o-forms">
	<label class="o-forms__label" for="text-suffix">Text input with suffix button</label>
	<div class="o-forms__affix-wrapper">
		<input id="text-suffix" type="text" placeholder="placeholder" class="o-forms__text" />
		<div class="o-forms__suffix">
			<button type="button" class="o-buttons o-buttons--secondary o-buttons--big">Go</button>
		</div>
	</div>
</div>

<div class="o-forms">
	<label class="o-forms__label" for="select-suffix">Select box with suffix button</label>
	<div class="o-forms__affix-wrapper">
		<select class="o-forms__select" id="select-suffix">
			<option value="option1">Option 1</option>
			<option value="option2">Option 2</option>
			<option value="option3">Option 3</option>
			<option value="option4">Option 4</option>
		</select>
		<div class="o-forms__suffix">
			<button type="button" class="o-buttons o-buttons--secondary o-buttons--big">Go</button>
		</div>
	</div>
</div>

<div class="o-forms">
	<label class="o-forms__label" for="small-text-suffix">Small text input with suffix button</label>
	<div class="o-forms__affix-wrapper">
		<input id="small-text-suffix" type="text" placeholder="placeholder" class="o-forms__text o-forms__text--small" />
		<div class="o-forms__suffix">
			<button type="button" class="o-buttons o-buttons--secondary">Go</button>
		</div>
	</div>
</div>

<div class="o-forms">
	<label class="o-forms__label" for="small-select-suffix">Small select box with suffix button</label>
	<div class="o-forms__affix-wrapper">
		<select id="small-select-suffix" class="o-forms__select o-forms__select--small">
			<option value="option1">Option 1</option>
			<option value="option2">Option 2</option>
			<option value="option3">Option 3</option>
			<option value="option4">Option 4</option>
		</select>
		<div class="o-forms__suffix">
			<button type="button" class="o-buttons o-buttons--secondary">Go</button>
		</div>
	</div>
</div>
