<div class="o-grid-row">
    <div data-o-grid-colspan="2">
        &nbsp;
    </div>
    <div data-o-grid-colspan="5">
        <h2 class="demo__heading demo__heading--medium">SET1</h2>
    </div>
    <div data-o-grid-colspan="5">
        <h2 class="demo__heading demo__heading--medium">SET2</h2>
    </div>
</div>
<div class="o-grid-row">
    <div data-o-grid-colspan="2">
        <h2 class="demo__heading demo__heading--small">Tabbed (big)</h2>
    </div>
    <div data-o-grid-colspan="5">
        <div class="o-ft-buttons__tabs">
            <button class="o-ft-buttons o-ft-buttons--set1 o-ft-buttons--big o-ft-buttons--selected">John</button><!--
         --><button class="o-ft-buttons o-ft-buttons--set1 o-ft-buttons--big">Paul</button><!--
         --><button class="o-ft-buttons o-ft-buttons--set1 o-ft-buttons--big">George</button><!--
         --><button class="o-ft-buttons o-ft-buttons--set1 o-ft-buttons--big">Ringo</button>
        </div>
    </div>
    <div data-o-grid-colspan="5">
        <div class="o-ft-buttons__tabs">
            <button class="o-ft-buttons o-ft-buttons--set2 o-ft-buttons--big o-ft-buttons--selected">John</button><!--
         --><button class="o-ft-buttons o-ft-buttons--set2 o-ft-buttons--big">Paul</button><!--
         --><button class="o-ft-buttons o-ft-buttons--set2 o-ft-buttons--big">George</button><!--
         --><button class="o-ft-buttons o-ft-buttons--set2 o-ft-buttons--big">Ringo</button>
        </div>
    </div>
</div>
<div class="o-grid-row">
    <div data-o-grid-colspan="2">
        <h2 class="demo__heading demo__heading--small">Tabbed (small)</h2>
    </div>
    <div data-o-grid-colspan="5">
        <div class="o-ft-buttons__tabs">
            <button class="o-ft-buttons o-ft-buttons--set1 o-ft-buttons--small o-ft-buttons--selected">John</button><!--
         --><button class="o-ft-buttons o-ft-buttons--set1 o-ft-buttons--small">Paul</button><!--
         --><button class="o-ft-buttons o-ft-buttons--set1 o-ft-buttons--small">George</button><!--
         --><button class="o-ft-buttons o-ft-buttons--set1 o-ft-buttons--small">Ringo</button>
        </div>
    </div>
    <div data-o-grid-colspan="5">
        <div class="o-ft-buttons__tabs">
            <button class="o-ft-buttons o-ft-buttons--set2 o-ft-buttons--small o-ft-buttons--selected">John</button><!--
         --><button class="o-ft-buttons o-ft-buttons--set2 o-ft-buttons--small">Paul</button><!--
         --><button class="o-ft-buttons o-ft-buttons--set2 o-ft-buttons--small">George</button><!--
         --><button class="o-ft-buttons o-ft-buttons--set2 o-ft-buttons--small">Ringo</button>
        </div>
    </div>
</div>