<h1>Icon tests</h1>
<p>1. Check all the icons are loading using the stylesheet and local assets</p>
<ul class="demo-examples">
	{{#icons}}
	<li class="demo-example">
		<i class="o-icons-icon o-icons-icon--{{name}} demo-icon"></i>
		<span class="demo-label">{{name}}</span>
	</li>
	{{/icons}}
</ul>

<p class="demo-count">{{icons.length}} classes found for icons.</p>
<p> 2. Check the icons work with the generated icon mixin</p>
<i class="demo-icon demo-icon-special"></i>
<span class="demo-label">lock</span>
<i class="demo-icon demo-icon-special--coloured"></i>
<span class="demo-label">lock tinted</span>
<i class="demo-icon demo-icon-special--coloured demo-icon-special--coloured--resized"></i>
<span class="demo-label">lock resized and tinted</span>
