<h2>Default</h2>
<h3>With anchors</h3>
<a href="#void" role="button" class="o-buttons">Standard</a>
<a href="#void" role="button" class="o-buttons" aria-current="true">Selected</a>
<a href="#void" role="button" class="o-buttons" aria-pressed="true">Pressed</a>
<a href="#void" role="button" class="o-buttons" disabled="disabled" tabindex="-1">Disabled</a>

<br />
<br />

<a href="#void" role="button" class="o-buttons o-buttons--big">Standard</a>
<a href="#void" role="button" class="o-buttons o-buttons--big" aria-current="true">Selected</a>
<a href="#void" role="button" class="o-buttons o-buttons--big" aria-pressed="true">Pressed</a>
<a href="#void" role="button" class="o-buttons o-buttons--big" disabled="disabled" tabindex="-1">Disabled</a>

<br />
<br />

<div class="demo-block white">
	<a href="#void" role="button" class="o-buttons">Standard</a>
	<a href="#void" role="button" class="o-buttons" aria-current="true">Selected</a>
	<a href="#void" role="button" class="o-buttons" aria-pressed="true">Pressed</a>
	<a href="#void" role="button" class="o-buttons" disabled="disabled" tabindex="-1">Disabled</a>

	<br />
	<br />

	<a href="#void" role="button" class="o-buttons o-buttons--big">Standard</a>
	<a href="#void" role="button" class="o-buttons o-buttons--big" aria-current="true">Selected</a>
	<a href="#void" role="button" class="o-buttons o-buttons--big" aria-pressed="true">Pressed</a>
	<a href="#void" role="button" class="o-buttons o-buttons--big" disabled="disabled" tabindex="-1">Disabled</a>
</div>

<h3>With input[type=submit]</h3>
<input type="submit" class="o-buttons" value="Standard" />
<input type="submit" class="o-buttons" aria-selected="true" value="Selected" />
<input type="submit" class="o-buttons" aria-pressed="true" value="Pressed" />
<input type="submit" class="o-buttons" disabled="disabled" value="Disabled" />

<br />
<br />

<input type="submit" class="o-buttons o-buttons--big" value="Standard" />
<input type="submit" class="o-buttons o-buttons--big" aria-selected="true" value="Selected" />
<input type="submit" class="o-buttons o-buttons--big" aria-pressed="true" value="Pressed" />
<input type="submit" class="o-buttons o-buttons--big" disabled="disabled" value="Disabled" />

<h3>With input[type=button]</h3>
<input type="button" class="o-buttons" value="Standard" />
<input type="button" class="o-buttons" aria-selected="true" value="Selected" />
<input type="button" class="o-buttons" aria-pressed="true" value="Pressed" />
<input type="button" class="o-buttons" disabled="disabled" value="Disabled" />

<br />
<br />

<input type="button" class="o-buttons o-buttons--big" value="Standard" />
<input type="button" class="o-buttons o-buttons--big" aria-selected="true" value="Selected" />
<input type="button" class="o-buttons o-buttons--big" aria-pressed="true" value="Pressed" />
<input type="button" class="o-buttons o-buttons--big" disabled="disabled" value="Disabled" />

<h3>With buttons</h3>
<button class="o-buttons">Standard</button>
<button class="o-buttons" aria-selected="true">Selected</button>
<button class="o-buttons" aria-pressed="true">Pressed</button>
<button class="o-buttons" disabled="disabled">Disabled</button>

<br />
<br />
<button class="o-buttons o-buttons--big">Standard</button>
<button class="o-buttons o-buttons--big" aria-selected="true">Selected</button>
<button class="o-buttons o-buttons--big" aria-pressed="true">Pressed</button>
<button class="o-buttons o-buttons--big" disabled="disabled">Disabled</button>

<br />
<br />

<div class="demo-block white">
	<button class="o-buttons">Standard</button>
	<button class="o-buttons" aria-selected="true">Selected</button>
	<button class="o-buttons" aria-pressed="true">Pressed</button>
	<button class="o-buttons" disabled="disabled">Disabled</button>

	<br />
	<br />

	<button class="o-buttons o-buttons--big">Standard</button>
	<button class="o-buttons o-buttons--big" aria-selected="true">Selected</button>
	<button class="o-buttons o-buttons--big" aria-pressed="true">Pressed</button>
	<button class="o-buttons o-buttons--big" disabled="disabled">Disabled</button>

</div>


<h2>Grouped</h2>
<h3>With anchors</h3>
<div class="o-buttons-group">
	<a href="#void" class="o-buttons" aria-current="true">John</a><!--
 --><a href="#void" class="o-buttons">Paul</a><!--
 --><a href="#void" class="o-buttons">George</a><!--
 --><a href="#void" class="o-buttons">Ringo</a>
</div>

<br />

<div class="o-buttons-group">
	<a href="#void" class="o-buttons o-buttons--big" aria-current="true">John</a><!--
 --><a href="#void" class="o-buttons o-buttons--big">Paul</a><!--
 --><a href="#void" class="o-buttons o-buttons--big">George</a><!--
 --><a href="#void" class="o-buttons o-buttons--big">Ringo</a>
</div>

<br />
<br />

<div class="demo-block white">
	<div class="o-buttons-group">
		<a href="#void" class="o-buttons" aria-current="true">John</a><!--
	 --><a href="#void" class="o-buttons">Paul</a><!--
	 --><a href="#void" class="o-buttons">George</a><!--
	 --><a href="#void" class="o-buttons">Ringo</a>
	</div>

	<br />

	<div class="o-buttons-group">
		<a href="#void" class="o-buttons o-buttons--big" aria-current="true">John</a><!--
	 --><a href="#void" class="o-buttons o-buttons--big">Paul</a><!--
	 --><a href="#void" class="o-buttons o-buttons--big">George</a><!--
	 --><a href="#void" class="o-buttons o-buttons--big">Ringo</a>
	</div>
</div>

<br />
<br />



<h3>With buttons</h3>
<div class="o-buttons-group">
	<button class="o-buttons" aria-selected="true">John</button><!--
 --><button class="o-buttons">Paul</button><!--
 --><button class="o-buttons">George</button><!--
 --><button class="o-buttons">Ringo</button>
</div>

<br />

<div class="o-buttons-group">
	<button class="o-buttons o-buttons--big" aria-selected="true">John</button><!--
 --><button class="o-buttons o-buttons--big">Paul</button><!--
 --><button class="o-buttons o-buttons--big">George</button><!--
 --><button class="o-buttons o-buttons--big">Ringo</button>
</div>

<br />
<br />

<div class="demo-block white">
	<div class="o-buttons-group">
		<button class="o-buttons" aria-selected="true">John</button><!--
	 --><button class="o-buttons">Paul</button><!--
	 --><button class="o-buttons">George</button><!--
	 --><button class="o-buttons">Ringo</button>
	</div>

	<br />

	<div class="o-buttons-group">
		<button class="o-buttons o-buttons--big" aria-selected="true">John</button><!--
	 --><button class="o-buttons o-buttons--big">Paul</button><!--
	 --><button class="o-buttons o-buttons--big">George</button><!--
	 --><button class="o-buttons o-buttons--big">Ringo</button>
	</div>
</div>

<h2>Standout</h2>
<h3>With anchors</h3>
<a href="#void" role="button" class="o-buttons o-buttons--standout">Standard</a>
<a href="#void" role="button" class="o-buttons o-buttons--standout" aria-current="true">Selected</a>
<a href="#void" role="button" class="o-buttons o-buttons--standout" aria-pressed="true">Pressed</a>
<a href="#void" role="button" class="o-buttons o-buttons--standout" disabled="disabled" tabindex="-1">Disabled</a>

<br />
<br />

<a href="#void" role="button" class="o-buttons o-buttons--standout o-buttons--big">Standard</a>
<a href="#void" role="button" class="o-buttons o-buttons--standout o-buttons--big" aria-current="true">Selected</a>
<a href="#void" role="button" class="o-buttons o-buttons--standout o-buttons--big" aria-pressed="true">Pressed</a>
<a href="#void" role="button" class="o-buttons o-buttons--standout o-buttons--big" disabled="disabled" tabindex="-1">Disabled</a>

<br />
<br />

<div class="demo-block white">
	<a href="#void" role="button" class="o-buttons o-buttons--standout">Standard</a>
	<a href="#void" role="button" class="o-buttons o-buttons--standout" aria-current="true">Selected</a>
	<a href="#void" role="button" class="o-buttons o-buttons--standout" aria-pressed="true">Pressed</a>
	<a href="#void" role="button" class="o-buttons o-buttons--standout" disabled="disabled" tabindex="-1">Disabled</a>

	<br />
	<br />

	<a href="#void" role="button" class="o-buttons o-buttons--standout o-buttons--big">Standard</a>
	<a href="#void" role="button" class="o-buttons o-buttons--standout o-buttons--big" aria-current="true">Selected</a>
	<a href="#void" role="button" class="o-buttons o-buttons--standout o-buttons--big" aria-pressed="true">Pressed</a>
	<a href="#void" role="button" class="o-buttons o-buttons--standout o-buttons--big" disabled="disabled" tabindex="-1">Disabled</a>
</div>

<h3>With buttons</h3>
<button class="o-buttons o-buttons--standout">Standard</button>
<button class="o-buttons o-buttons--standout" aria-selected="true">Selected</button>
<button class="o-buttons o-buttons--standout" aria-pressed="true">Pressed</button>
<button class="o-buttons o-buttons--standout" disabled="disabled">Disabled</button>

<br />
<br />

<button class="o-buttons o-buttons--standout o-buttons--big">Standard</button>
<button class="o-buttons o-buttons--standout o-buttons--big" aria-selected="true">Selected</button>
<button class="o-buttons o-buttons--standout o-buttons--big" aria-pressed="true">Pressed</button>
<button class="o-buttons o-buttons--standout o-buttons--big" disabled="disabled">Disabled</button>

<br />
<br />

<div class="demo-block white">
	<button class="o-buttons o-buttons--standout">Standard</button>
	<button class="o-buttons o-buttons--standout" aria-selected="true">Selected</button>
	<button class="o-buttons o-buttons--standout" aria-pressed="true">Pressed</button>
	<button class="o-buttons o-buttons--standout" disabled="disabled">Disabled</button>

	<br />
	<br />

	<button class="o-buttons o-buttons--standout o-buttons--big">Standard</button>
	<button class="o-buttons o-buttons--standout o-buttons--big" aria-selected="true">Selected</button>
	<button class="o-buttons o-buttons--standout o-buttons--big" aria-pressed="true">Pressed</button>
	<button class="o-buttons o-buttons--standout o-buttons--big" disabled="disabled">Disabled</button>
</div>

<h2>Uncolored</h2>
<h3>With anchors</h3>
<a href="#void" role="button" class="o-buttons o-buttons--uncolored">Standard</a>
<a href="#void" role="button" class="o-buttons o-buttons--uncolored" aria-current="true">Selected</a>
<a href="#void" role="button" class="o-buttons o-buttons--uncolored" aria-pressed="true">Pressed</a>
<a href="#void" role="button" class="o-buttons o-buttons--uncolored" disabled="disabled" tabindex="-1">Disabled</a>

<br />
<br />

<a href="#void" role="button" class="o-buttons o-buttons--uncolored o-buttons--big">Standard</a>
<a href="#void" role="button" class="o-buttons o-buttons--uncolored o-buttons--big" aria-current="true">Selected</a>
<a href="#void" role="button" class="o-buttons o-buttons--uncolored o-buttons--big" aria-pressed="true">Pressed</a>
<a href="#void" role="button" class="o-buttons o-buttons--uncolored o-buttons--big" disabled="disabled" tabindex="-1">Disabled</a>

<br />
<br />

<div class="demo-block white">
	<a href="#void" role="button" class="o-buttons o-buttons--uncolored">Standard</a>
	<a href="#void" role="button" class="o-buttons o-buttons--uncolored" aria-current="true">Selected</a>
	<a href="#void" role="button" class="o-buttons o-buttons--uncolored" aria-pressed="true">Pressed</a>
	<a href="#void" role="button" class="o-buttons o-buttons--uncolored" disabled="disabled" tabindex="-1">Disabled</a>

	<br />
	<br />

	<a href="#void" role="button" class="o-buttons o-buttons--uncolored o-buttons--big">Standard</a>
	<a href="#void" role="button" class="o-buttons o-buttons--uncolored o-buttons--big" aria-current="true">Selected</a>
	<a href="#void" role="button" class="o-buttons o-buttons--uncolored o-buttons--big" aria-pressed="true">Pressed</a>
	<a href="#void" role="button" class="o-buttons o-buttons--uncolored o-buttons--big" disabled="disabled" tabindex="-1">Disabled</a>
</div>
<h3>With buttons</h3>
<button class="o-buttons o-buttons--uncolored">Standard</button>
<button class="o-buttons o-buttons--uncolored" aria-selected="true">Selected</button>
<button class="o-buttons o-buttons--uncolored" aria-pressed="true">Pressed</button>
<button class="o-buttons o-buttons--uncolored" disabled="disabled">Disabled</button>

<br />
<br />

<button class="o-buttons o-buttons--uncolored o-buttons--big">Standard</button>
<button class="o-buttons o-buttons--uncolored o-buttons--big" aria-selected="true">Selected</button>
<button class="o-buttons o-buttons--uncolored o-buttons--big" aria-pressed="true">Pressed</button>
<button class="o-buttons o-buttons--uncolored o-buttons--big" disabled="disabled">Disabled</button>

<br />
<br />

<div class="demo-block white">
	<button class="o-buttons o-buttons--uncolored">Standard</button>
	<button class="o-buttons o-buttons--uncolored" aria-selected="true">Selected</button>
	<button class="o-buttons o-buttons--uncolored" aria-pressed="true">Pressed</button>
	<button class="o-buttons o-buttons--uncolored" disabled="disabled">Disabled</button>

	<br />
	<br />

	<button class="o-buttons o-buttons--uncolored o-buttons--big">Standard</button>
	<button class="o-buttons o-buttons--uncolored o-buttons--big" aria-selected="true">Selected</button>
	<button class="o-buttons o-buttons--uncolored o-buttons--big" aria-pressed="true">Pressed</button>
	<button class="o-buttons o-buttons--uncolored o-buttons--big" disabled="disabled">Disabled</button>
</div>
<h2>Inverse</h2>
<h3>With anchors</h3>
<div class="demo-block inverse">
	<a href="#void" role="button" class="o-buttons o-buttons--inverse">Standard</a>
	<a href="#void" role="button" class="o-buttons o-buttons--inverse" aria-current="true">Selected</a>
	<a href="#void" role="button" class="o-buttons o-buttons--inverse" aria-pressed="true">Pressed</a>
	<a href="#void" role="button" class="o-buttons o-buttons--inverse" disabled="disabled" tabindex="-1">Disabled</a>

	<br />
	<br />

	<a href="#void" role="button" class="o-buttons o-buttons--inverse o-buttons--big">Standard</a>
	<a href="#void" role="button" class="o-buttons o-buttons--inverse o-buttons--big" aria-current="true">Selected</a>
	<a href="#void" role="button" class="o-buttons o-buttons--inverse o-buttons--big" aria-pressed="true">Pressed</a>
	<a href="#void" role="button" class="o-buttons o-buttons--inverse o-buttons--big" disabled="disabled" tabindex="-1">Disabled</a>
</div>

<h3>With buttons</h3>
<div class="demo-block inverse">
	<button class="o-buttons o-buttons--inverse">Standard</button>
	<button class="o-buttons o-buttons--inverse" aria-selected="true">Selected</button>
	<button class="o-buttons o-buttons--inverse" aria-pressed="true">Pressed</button>
	<button class="o-buttons o-buttons--inverse" disabled="disabled">Disabled</button>

	<br />
	<br />

	<button class="o-buttons o-buttons--inverse o-buttons--big">Standard</button>
	<button class="o-buttons o-buttons--inverse o-buttons--big" aria-selected="true">Selected</button>
	<button class="o-buttons o-buttons--inverse o-buttons--big" aria-pressed="true">Pressed</button>
	<button class="o-buttons o-buttons--inverse o-buttons--big" disabled="disabled">Disabled</button>
</div>

<h2>Pagination</h2>
<h3>With anchors:</h3>
<div class="o-buttons-pagination">
	<a href="#void" class="o-buttons o-buttons-icon o-buttons-icon--arrow-left" disabled="disabled"><span class='o-buttons-icon__label'>Fewer results</span></a>
	<a href="#void" class="o-buttons" aria-current="true">1</a>
	<a href="#void" class="o-buttons">2</a>
	<a href="#void" class="o-buttons">3</a>
	<span class="faux-inline-block">...</span>
	<a href="#void" class="o-buttons">25</a>
	<a href="#void" class="o-buttons">26</a>
	<a href="#void" class="o-buttons">27</a>
	<a href="#void" class="o-buttons o-buttons-icon o-buttons-icon--arrow-right"><span class='o-buttons-icon__label'>More results</span></a>
</div>

<br />
<br />

<h3>With buttons:</h3>
<div class="o-buttons-pagination">
	<button class="o-buttons o-buttons-icon o-buttons-icon--arrow-left" disabled="disabled"><span class='o-buttons-icon__label'>Fewer results</span></button>
	<button class="o-buttons" aria-selected="true">1</button>
	<button class="o-buttons">2</button>
	<button class="o-buttons">3</button>
	<span class="faux-inline-block">...</span>
	<button class="o-buttons">25</button>
	<button class="o-buttons">26</button>
	<button class="o-buttons">27</button>
	<button class="o-buttons o-buttons-icon o-buttons-icon--arrow-right"><span class='o-buttons-icon__label'>More results</span></button>
</div>

<br />
<br />

<div class="o-buttons-group">
	<button class="o-buttons o-buttons-icon o-buttons-icon--arrow-left o-buttons-icon--icon-only"><span class='o-buttons-icon__label'>Fewer results</span></button><!--
 --><button class="o-buttons o-buttons-icon o-buttons-icon--arrow-right o-buttons-icon--icon-only"><span class='o-buttons-icon__label'>More results</span></button>
</div>

<br />
<br />
<br />
<br />

<div class="o-buttons-pagination">
	<button class="o-buttons o-buttons--big o-buttons-icon o-buttons-icon--arrow-left o-buttons-icon--icon-only" disabled="disabled"><span class='o-buttons-icon__label'>Fewer results</span></button>
	<button class="o-buttons o-buttons--big" aria-selected="true">1</button>
	<button class="o-buttons o-buttons--big">2</button>
	<button class="o-buttons o-buttons--big">3</button>
	<span class="faux-inline-block">...</span>
	<button class="o-buttons o-buttons--big">25</button>
	<button class="o-buttons o-buttons--big">26</button>
	<button class="o-buttons o-buttons--big">27</button>
	<button class="o-buttons o-buttons--big o-buttons-icon o-buttons-icon--arrow-right o-buttons-icon--icon-only"><span class='o-buttons-icon__label'>More results</span></button>
</div>

<br />
<br />

<div class="o-buttons-group">
	<button class="o-buttons o-buttons--big o-buttons-icon o-buttons-icon--arrow-left o-buttons-icon--icon-only"><span class='o-buttons-icon__label'>Fewer results</span></button><!--
 --><button class="o-buttons o-buttons--big o-buttons-icon o-buttons-icon--arrow-right o-buttons-icon--icon-only"><span class='o-buttons-icon__label'>More results</span></button>
</div>

<h2>Multiple lines</h2>

<input type="submit" class="o-buttons" value="input[type=submit]&#10;This is a very long&#10;text in a tiny space" />
<button class="o-buttons">Multiline button<br />second line is longer</button>
<button class="o-buttons o-buttons--big">Big multiline button<br />second line is much longer</button>
