<div class="o-forms">
	<label for="o-forms__textarea" class="o-forms__label">Textarea</label>
	<small class="o-forms__additional-info">Optional prompt text goes here</small>
	<textarea placeholder="Placeholder" id="o-forms__textarea" class="o-forms__textarea"></textarea>
</div>
<div class="o-forms o-forms--error">
	<label for="o-forms__textarea-invalid" class="o-forms__label">Textarea (error)</label>
	<textarea placeholder="Placeholder" id="o-forms__textarea-invalid" class="o-forms__textarea"></textarea>
	<div class="o-forms__errortext">Invalid entry</div>
</div>
<div class="o-forms">
	<label for="o-forms__textarea-disabled" class="o-forms__label">Textarea disabled</label>
	<textarea placeholder="Placeholder" id="o-forms__textarea-disabled" class="o-forms__textarea" disabled="disabled"></textarea>
</div>

<div class="o-forms o-forms--wide">
	<label for="o-forms__textarea" class="o-forms__label">Textarea (wide)</label>
	<small class="o-forms__additional-info">Optional prompt text goes here</small>
	<textarea placeholder="Placeholder" id="o-forms__textarea" class="o-forms__textarea"></textarea>
</div>
