<div class="o-ft-forms__field-group">
    <label class="o-ft-forms__label">Textarea</label>
    <textarea placeholder="placeholder" class="o-ft-forms__field--textarea"></textarea>
</div>
<div class="o-ft-forms__field-group">
    <label class="o-ft-forms__label">Textarea disabled</label>
    <textarea placeholder="placeholder" class="o-ft-forms__field--textarea" disabled="disabled"></textarea>
</div>
<div class="o-ft-forms__field-group o-ft-forms--valid">
    <label class="o-ft-forms__label">Textarea (valid)</label>
    <textarea placeholder="placeholder" class="o-ft-forms__field--textarea"></textarea>
</div>
<div class="o-ft-forms__field-group o-ft-forms--error">
    <label class="o-ft-forms__label">Textarea (error)</label>
    <textarea placeholder="placeholder" class="o-ft-forms__field--textarea"></textarea>
    <div class="o-ft-forms__errortext">Invalid entry</div>
</div>

