<div class="demo-column">
    <div class="o-ft-forms__field-group">
        <label class="o-ft-forms__label">Text input</label>
        <small class="o-ft-forms__additional-info">prompt text ie password needs 6 characters</small>
        <input type="text" placeholder="placeholder" class="o-ft-forms__field" />
    </div>
    <div class="o-ft-forms__field-group o-ft-forms--valid">
        <label class="o-ft-forms__label">Text input with valid entry</label>
        <input type="text" placeholder="placeholder" class="o-ft-forms__field o-ft-forms__field--valid" value="Field value" />
    </div>
    <div class="o-ft-forms__field-group o-ft-forms--error">
        <label class="o-ft-forms__label">URL input :invalid</label>
        <input type="url" placeholder="placeholder" class="o-ft-forms__field" value="hp://invalid.com" />
        <div class="o-ft-forms__errortext">Please enter a valid url</div>
    </div>
</div>
<div class="demo-column">
    <div class="o-ft-forms__field-group">
        <label class="o-ft-forms__label">Text input disabled</label>
        <input type="text" placeholder="placeholder" class="o-ft-forms__field o-ft-forms__field--valid" value="Field value" disabled="disabled" />
    </div>
    <div class="o-ft-forms__field-group o-ft-forms--error">
        <label class="o-ft-forms__label">Text input (error)</label>
        <input type="text" placeholder="placeholder" class="o-ft-forms__field" value="Field value" />
        <div class="o-ft-forms__errortext">Invalid entry</div>
    </div>
</div>
