<div class="o-forms">
	<label for="o-forms-standard" class="o-forms__label">Text input</label>
	<div class="o-forms__additional-info">Prompt text follows the label if required..</div>
	<input type="text" id="o-forms-standard" class="o-forms__text" required />
</div>

<div class="o-forms">
	<label for="o-forms-optional" class="o-forms__label o-forms__label--optional">Optional text input</label>
	<input type="text" id="o-forms-optional" class="o-forms__text" />
</div>

<div class="o-forms o-forms--valid">
	<label for="o-forms-valid" class="o-forms__label">Text input with valid entry</label>
	<input type="text" id="o-forms-valid" class="o-forms__text o-forms__text--valid" value="Field value" />
</div>

<div class="o-forms o-forms--error">
	<label for="o-forms-invalid" class="o-forms__label">URL input :invalid</label>
	<input type="url" id="o-forms-invalid" class="o-forms__text" value="hp://invalid.com" />
	<div class="o-forms__errortext">Please enter a valid url</div>
</div>

<div class="o-forms">
	<label for="o-forms-disabled" class="o-forms__label">Text input disabled</label>
	<input type="text" id="o-forms-disabled" class="o-forms__text o-forms__text--valid" value="Field value" disabled="disabled" />
</div>

<div class="o-forms o-forms--wide">
	<label for="o-forms-full" class="o-forms__label">Text input full width</label>
	<input type="text" id="o-forms-full" class="o-forms__text o-forms__text--valid" value="Field value" />
</div>

<div class="o-forms">
	<label for="o-forms-small" class="o-forms__label">Text input small</label>
	<input type="text" id="o-forms-small" class="o-forms__text o-forms__text--small" />
</div>
