<link rel="stylesheet" href="http://build.origami.ft.com/bundles/css?modules=o-grid@^2.0.7" />
<div class="o-grid-row">
    <div data-o-grid-colspan="3 S12 M6" class="o-ft-forms-field-group">
        <label class="o-ft-forms__label">Text input</label>
        <small class="o-ft-forms__additional-info">prompt text ie password need 6 characters</small>
        <input type="text" placeholder="placeholder" class="o-ft-forms__field" />
    </div>
    <div data-o-grid-colspan="3 S12 M6" class="o-ft-forms-field-group o-ft-forms--valid">
        <label class="o-ft-forms__label">Text input with valid entry</label>
        <input type="text" placeholder="placeholder" class="o-ft-forms__field o-ft-forms__field--valid" value="Field value" />
    </div>
    <div data-o-grid-colspan="3 S12 M6" class="o-ft-forms-field-group o-ft-forms--error">
        <label class="o-ft-forms__label">Text input (error)</label>
        <input type="text" placeholder="placeholder" class="o-ft-forms__field" value="Field value" />
        <div class="o-ft-forms__errortext">Invalid entry</div>
    </div>
    <div data-o-grid-colspan="3 S12 M6" class="o-ft-forms-field-group o-ft-forms--error">
        <label class="o-ft-forms__label">URL input :invalid</label>
        <input type="url" placeholder="placeholder" class="o-ft-forms__field" value="hp://invalid.com" />
        <div class="o-ft-forms__errortext">Please enter a valid url</div>
    </div>
</div>


<!-- Designers currently say that inline labels will not exist -->
<!--
<div class="o-grid-row">
    <div data-o-grid-colspan="3 S12 M12">
        <div class="o-grid-row" class="o-ft-forms-field-group">
            <div data-o-grid-colspan="4" >
                <label class="o-ft-forms__label o-ft-forms__label--inline">Inline label</label>
            </div>
            <div data-o-grid-colspan="8">
                <input type="text" placeholder="placeholder" class="o-ft-forms__field" />
            </div>
        </div>
    </div>
    <div data-o-grid-colspan="3 S12 M12">&nbsp;</div>
    <div data-o-grid-colspan="3 S12 M12" class="o-ft-forms--error">
        <div class="o-grid-row" class="o-ft-forms-field-group">
            <div data-o-grid-colspan="4">
                <label class="o-ft-forms__label o-ft-forms__label--inline">Inline label</label>
            </div>
            <div data-o-grid-colspan="8">
                <input type="text" placeholder="placeholder" class="o-ft-forms__field" />
                <small class="o-ft-forms__errortext">Invalid entry</small>
            </div>
        </div>
    </div>
</div>
-->
