<h2>B2C product theme</h2>
<header class='o-header-services o-header-services--b2c' data-o-component='o-header'>
	<div class='o-header-services__top o-header-services__container'>
		<div class='o-header-services__hamburger'>
			<a class='o-header-services__hamburger-icon' href="#o-header-drawer"	aria-controls="o-header-drawer"><span class="o-header__visually-hidden">Menu</span></a>
		</div>
		<div class='o-header-services__ftlogo'></div>
		<div class='o-header-services__title'>
			<h1 class='o-header-services__product-name'><a href="/">B2C Tool or Service name</a></h1><span class='o-header-subrand__product-tagline '>Tagline to explain the product here</span>
		</div>
	</div>
	<nav class='o-header-services__primary-nav'>
		<div class='o-header-services__container'>
			<ul class='o-header-services__nav-list'>
				<li class='o-header-services__nav-item'>
					<a class='o-header-services__nav-link o-header-services__nav-link--selected' href='#'>
						Nav item 1
					</a>
				</li>
				<li class='o-header-services__nav-item'>
					<a class='o-header-services__nav-link' href='#'>
						Nav 2
					</a>
				</li>
				<li class='o-header-services__nav-item'>
					<a class='o-header-services__nav-link' href='#'>
						Nav 3
					</a>
				</li>
				<li class='o-header-services__nav-item'>
					<a class='o-header-services__nav-link' href='#'>
						Nav 4
					</a>
				</li>
			</ul>
		</div>
	</nav>
	<!-- sub nav markup -->
	<nav class="o-header__subnav" role="navigation" aria-label="Sub navigation" data-o-header-subnav>
		<div class="o-header-services__container">
			<div class="o-header__subnav-wrap-outside">
				<div class="o-header__subnav-wrap-inside" data-o-header-subnav-wrapper>
					<div class="o-header__subnav-content">
						<ol class="o-header__subnav-list o-header__subnav-list--breadcrumb" aria-label="Breadcrumb">
							<li class="o-header__subnav-item">
								<a class="o-header__subnav-link" href="#">
									ancestor section
								</a>
							</li>
							<li class="o-header__subnav-item">
								<a class="o-header__subnav-link" href="#">
									ancestor section
								</a>
							</li>
							<li class="o-header__subnav-item">
								<a class="o-header__subnav-link" href="#" aria-selected="true" aria-label="Current page">
									current section
								</a>
							</li>
						</ol>

						<ul class="o-header__subnav-list o-header__subnav-list--children" aria-label="Subsections">
							<li class="o-header__subnav-item">
								<a class="o-header__subnav-link" href="{{href}}">
									child page
								</a>
							</li>
							<li class="o-header__subnav-item">
								<a class="o-header__subnav-link" href="{{href}}">
									child page
								</a>
							</li>
							<li class="o-header__subnav-item">
								<a class="o-header__subnav-link" href="{{href}}">
									child page
								</a>
							</li>
						</ul>
					</div>
				</div>
				<button class="o-header__subnav-button o-header__subnav-button--left" title="scroll left" aria-hidden="true" disabled></button>
				<button class="o-header__subnav-button o-header__subnav-button--right" title="scroll right" aria-hidden="true" disabled></button>
			</div>
		</div>
	</nav>
</header>

<h2>B2B product theme</h2>
<header class='o-header-services o-header-services--b2b' data-o-component='o-header'>
	<div class='o-header-services__top o-header-services__container'>
		<div class='o-header-services__hamburger'>
			<a class='o-header-services__hamburger-icon' href="#o-header-drawer"	aria-controls="o-header-drawer"><span class="o-header__visually-hidden">Menu</span></a>
		</div>
		<div class='o-header-services__ftlogo'></div>
		<div class='o-header-services__title'>
			<h1 class='o-header-services__product-name'><a href="/">B2B Tool or Service name</a></h1><span class='o-header-subrand__product-tagline '>Tagline to explain the product here</span>
		</div>
	</div>
	<nav class='o-header-services__primary-nav'>
		<div class='o-header-services__container'>
			<ul class='o-header-services__nav-list'>
				<li class='o-header-services__nav-item'>
					<a class='o-header-services__nav-link o-header-services__nav-link--selected' href='#'>
						Nav item 1
					</a>
				</li>
				<li class='o-header-services__nav-item'>
					<a class='o-header-services__nav-link' href='#'>
						Nav 2
					</a>
				</li>
				<li class='o-header-services__nav-item'>
					<a class='o-header-services__nav-link' href='#'>
						Nav 3
					</a>
				</li>
				<li class='o-header-services__nav-item'>
					<a class='o-header-services__nav-link' href='#'>
						Nav 4
					</a>
				</li>
			</ul>
		</div>
	</nav>
	<!-- sub nav markup -->
		<nav class="o-header__subnav" role="navigation" aria-label="Sub navigation" data-o-header-subnav>
			<div class="o-header-services__container">
				<div class="o-header__subnav-wrap-outside">
					<div class="o-header__subnav-wrap-inside" data-o-header-subnav-wrapper>
						<div class="o-header__subnav-content">
							<ol class="o-header__subnav-list o-header__subnav-list--breadcrumb" aria-label="Breadcrumb">
								<li class="o-header__subnav-item">
									<a class="o-header__subnav-link" href="#">
										ancestor section
									</a>
								</li>
								<li class="o-header__subnav-item">
									<a class="o-header__subnav-link" href="#">
										ancestor section
									</a>
								</li>
								<li class="o-header__subnav-item">
									<a class="o-header__subnav-link" href="#" aria-selected="true" aria-label="Current page">
										current section
									</a>
								</li>
							</ol>

							<ul class="o-header__subnav-list o-header__subnav-list--children" aria-label="Subsections">
								<li class="o-header__subnav-item">
									<a class="o-header__subnav-link" href="{{href}}">
										child page
									</a>
								</li>
								<li class="o-header__subnav-item">
									<a class="o-header__subnav-link" href="{{href}}">
										child page
									</a>
								</li>
								<li class="o-header__subnav-item">
									<a class="o-header__subnav-link" href="{{href}}">
										child page
									</a>
								</li>
							</ul>
						</div>
					</div>
					<button class="o-header__subnav-button o-header__subnav-button--left" title="scroll left" aria-hidden="true" disabled></button>
					<button class="o-header__subnav-button o-header__subnav-button--right" title="scroll right" aria-hidden="true" disabled></button>
				</div>
			</div>
		</nav>
	</header>
