<div class="container">
	{{#tints}}
		<div class="demo-header">
			<h2>Tinting</h2>
			<p>{{description}}</p>
		</div>

		<div class="demo-wrapper demo-wrapper--tints">
			{{#colors}}
				<div class="demo-tint-column">
					<h3>{{name}}</h3>
					{{#tint-levels}}
						<div class="swatch swatch--tint o-colors-palette-{{name}}-{{.}}" data-o-color="{{name}}-{{.}}">
							<label for="o-color-input-{{name}}-{{.}}">{{name}}-{{.}}</label>
							<input type="text" class="hex" id="o-color-input-{{name}}-{{.}}" value="" readonly>
						</div>
					{{/tint-levels}}
				</div>
			{{/colors}}
		</div>
	{{/tints}}
</div>
