<div class="o-grid-row">
    <div data-o-grid-colspan="2">
        <h1 class="demo-heading-row">Title Large</h1>
    </div>
    <div data-o-grid-colspan="5">
        <div class="demo-example">
            <h1 class="o-ft-typography-title-large">Title Large</h1>
        </div>
    </div>
    <div data-o-grid-colspan="5">
        <div class="demo-example">
            <h1 class="o-ft-typography-title-large"><span class="o-ft-typography-title-large__link">Title Large link</span></h1>
        </div>
    </div>
</div>
<div class="o-grid-row">
    <div data-o-grid-colspan="2">
        <h1 class="demo-heading-row">Title Medium</h1>
    </div>
    <div data-o-grid-colspan="5">
        <div class="demo-example">
            <div class="o-ft-typography-title-medium">Title Medium</div>
        </div>
    </div>
    <div data-o-grid-colspan="5">
        <div class="demo-example">
            <div class="o-ft-typography-title-medium"><span class="o-ft-typography-title-medium__link">Title Medium link</span></div>
        </div>
    </div>
</div>
<div class="o-grid-row">
    <div data-o-grid-colspan="2">
        <h1 class="demo-heading-row">Title Small</h1>
    </div>
    <div data-o-grid-colspan="5">
        <div class="demo-example">
            <div class="o-ft-typography-title-small">Title Small</div>
        </div>
    </div>
    <div data-o-grid-colspan="5">
        <div class="demo-example">
            <div class="o-ft-typography-title-small"><span class="o-ft-typography-title-small__link">Title Small link</span></div>
        </div>
    </div>
</div>