
<div class="o-ft-typography-title-large">Title Large <a href="#">Link</a></div>
<div class="o-ft-typography-title-medium">Title Medium <a href="#">Link</a></div>
<div class="o-ft-typography-title-small">Title Small <a href="#">Link</a></div>
