<div class="demo-overlay-container">
	<h2>Overlay triggers </h2>
	<button class="o-overlay-trigger" data-o-overlay-src="#overlay" data-o-overlay-tooltip="true" data-o-overlay-id="overlay" data-o-overlay-arrow-position="top" aria-pressed="false" aria-haspopup="true">Launch overlay</button>
</div>

<script type="text/template" id="overlay">
	<p><strong>tooltip title</strong><br/>Useful for annotating new features.</p>
</script>
