<header class="o-header o-header--simple o-header--transparent" data-o-component="o-header" data-o-header--no-js>
	<div class="o-header__row o-header__top">
		<div class="o-header__container">
			<div class="o-header__top-wrapper">

				<div class="o-header__top-column o-header__top-column--left">
					{{#top.hasMenu}}
					<a href="#o-header-drawer" class="o-header__top-link o-header__top-link--menu" aria-controls="o-header-drawer" title="Open side navigation menu">
						<span class="o-header__top-link-label">Open side navigation menu</span>
					</a>
					{{/top.hasMenu}}
					<a href="#o-header-search" class="o-header__top-link o-header__top-link--search" aria-controls="o-header-search" title="Open search bar">
						<span class="o-header__top-link-label">Open search bar</span>
					</a>
				</div>

				<div class="o-header__top-column o-header__top-column--center">
					<!--<div class="o-header__top-takeover"></div>-->
					<a class="o-header__top-logo" href="/" title="Go to Financial Times homepage">
						<span class="o-header__visually-hidden">Financial Times</span>
					</a>
				</div>

				<div class="o-header__top-column o-header__top-column--right">
					<!--<div class="o-header__top-takeover"></div>-->
					{{#top.hasMyFT}}
					<a class="o-header__top-link o-header__top-link--myft" href="/myft" aria-label="My F T">
						<span class="o-header__visually-hidden">myFT</span>
					</a>
					{{/top.hasMyFT}}
				</div>
			</div>
		</div>
	</div>

	<div id="o-header-search" class="o-header__row o-header__search o--if-js" role="search" data-o-header-search>
		<div class="o-header__container">
			<form class="o-header__search-form" action="/search" role="search" aria-label="Site search">
				<label class="o-header__visually-hidden" for="o-header-search-term-js">Search the <abbr title="Financial Times">FT</abbr></label>
				<input class="o-header__search-term" id="o-header-search-term-js" name="q" type="text" placeholder="Search the FT">
				<button class="o-header__search-submit" type="submit">
					Search
				</button>
				<button class="o-header__search-close" type="button" aria-controls="o-header-search" title="Close search bar">
					<span class="o-header__visually-hidden">Close search bar</span>
				</button>
			</form>
		</div>
	</div>

	{{#nav}}
	<nav id="o-header-nav-desktop" class="o-header__row o-header__nav o-header__nav--desktop" role="navigation" aria-label="Main navigation">
		<div class="o-header__container">
			<ul class="o-header__nav-list o-header__nav-list--left">
				{{#desktop}}
				<li class="o-header__nav-item">
					<a class="o-header__nav-link o-header__nav-link--primary" href="{{href}}" {{#selected}}aria-label="Current page" aria-current="page"{{/selected}} id="o-header-link-{{index}}" {{#hasMega}}aria-controls="o-header-mega-{{index}}"{{/hasMega}}>{{name}}</a>
					{{#hasMega}}
					<div class="o-header__mega" id="o-header-mega-{{index}}" role="group" aria-labelledby="o-header-link-{{index}}" data-o-header-mega>
						<div class="o-header__container">
							<div class="o-header__mega-wrapper">
								<div class="o-header__mega-column o-header__mega-column--subsections">
									<div class="o-header__mega-heading">
										Sub-sections
									</div>
									<div class="o-header__mega-content">
										<ul class="o-header__mega-list">
											{{#subsections}}
											<li class="o-header__mega-item">
												<a class="o-header__mega-link" href="{{href}}" {{#selected}}aria-label="Current page" aria-current="page"{{/selected}}>
													{{name}}
												</a>
											</li>
											{{/subsections}}
										</ul>
									</div>
								</div>
								<div class="o-header__mega-column o-header__mega-column--articles">
									<div class="o-header__mega-heading">
										Top Stories
									</div>
									<div class="o-header__mega-content">
										<ul class="o-header__mega-list">
											{{#articles}}
											<li class="o-header__mega-item">
												<a class="o-header__mega-link" href="{{href}}">
													{{title}}
												</a>
											</li>
											{{/articles}}
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					{{/hasMega}}
				</li>
				{{/desktop}}
			</ul>
			<ul class="o-header__nav-list o-header__nav-list--right">
				{{#isSignedIn}}
					<li class="o-header__nav-item">
						<a class="o-header__nav-link o-header__nav-link--utility" href="https://markets.ft.com/data/portfolio/dashboard">Portfolio</a>
					</li>
					<li class="o-header__nav-item">
						<a class="o-header__nav-link o-header__nav-link--utility" href="https://myaccount.ft.com/details/core/view">My Account</a>
					</li>
				{{/isSignedIn}}
				{{^isSignedIn}}
					<li class="o-header__nav-item">
						<a class="o-header__nav-link o-header__nav-link--utility" href="/login">Sign In</a>
					</li>
					<li class="o-header__nav-item">
						<a class="o-header__nav-button" href="/products">Subscribe</a>
					</li>
				{{/isSignedIn}}
			</ul>
		</div>
	</nav>
	{{/nav}}
</header>

{{#drawer}}
<div class="o-header__drawer" id="o-header-drawer" role="navigation" aria-label="Drawer menu" data-o-header-drawer data-o-header-drawer--no-js>
	<div class="o-header__drawer-inner">

		<div class="o-header__drawer-tools">
			<a class="o-header__drawer-tools-logo" href="/">
				<span class="o-header__visually-hidden">Financial Times</span>
			</a>
			<button type="button" class="o-header__drawer-tools-close" aria-controls="o-header-drawer" title="Close drawer menu">
				<span class="o-header__visually-hidden">Close drawer menu</span>
			</button>
		</div>

		{{#editions}}
		<nav class="o-header__drawer-editions" aria-label="Edition switcher">
			{{#editions.current}}
			<a class="o-header__drawer-editions-link" href="/{{id}}?edition={{id}}" aria-label="Current edition" aria-current="page">{{name}} Edition</a>
			{{/editions.current}}
			{{#editions.others}}
			<a class="o-header__drawer-editions-link" href="/{{id}}?edition={{id}}">{{name}} Edition</a>
			{{/editions.others}}
		</nav>
		{{/editions}}

		<div class="o-header__drawer-search">
			<form class="o-header__drawer-search-form" action="/search" role="search" aria-label="Site search">
				<label class="o-header__visually-hidden" for="o-header-drawer-search-term">Search the <abbr title="Financial Times">FT</abbr></label>
				<input class="o-header__drawer-search-term" id="o-header-drawer-search-term" name="q" type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder="Search the FT">
				<button class="o-header__drawer-search-submit" type="submit">
					<span class="o-header__visually-hidden">Search</span>
				</button>
			</form>
		</div>

		<nav class="o-header__drawer-menu o-header__drawer-menu--primary">
			<ul class="o-header__drawer-menu-list">
				{{#nav}}
						{{#heading}}
						<li class="o-header__drawer-menu-item o-header__drawer-menu-item--heading">{{name}}</li>
						{{/heading}}
						{{#items}}
						<li class="o-header__drawer-menu-item {{#divide}}o-header__drawer-menu-item--divide{{/divide}}">
							{{#hasChildren}}
								<div class="o-header__drawer-menu-toggle-wrapper">
									<a class="o-header__drawer-menu-link o-header__drawer-menu-link--parent o-header__drawer-menu-link--{{#selected}}selected{{/selected}}{{^selected}}unselected{{/selected}}" href="{{href}}" {{#selected}}aria-label="Current page" aria-current="page"{{/selected}}>{{name}}</a>
									<button class="o-header__drawer-menu-toggle o-header__drawer-menu-toggle--{{#selected}}selected{{/selected}}{{^selected}}unselected{{/selected}}" aria-controls="o-header-drawer-child-{{index}}">
										Show more {{name}} links
									</button>
								</div>
								<ul class="o-header__drawer-menu-list o-header__drawer-menu-list--child" id="o-header-drawer-child-{{index}}">
									{{#children}}
									<li class="o-header__drawer-menu-item">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--{{#selected}}selected{{/selected}}{{^selected}}unselected{{/selected}}" href="{{href}}" {{#selected}}aria-label="Current page" aria-current="page"{{/selected}}>{{name}}</a>
									</li>
									{{/children}}
								</ul>
							{{/hasChildren}}
							{{^hasChildren}}
								<a class="o-header__drawer-menu-link o-header__drawer-menu-link--{{variation}} o-header__drawer-menu-link--{{#selected}}selected{{/selected}}{{^selected}}unselected{{/selected}}" href="{{href}}" {{#selected}}aria-label="Current page" aria-current="page"{{/selected}}>{{name}}</a>
							{{/hasChildren}}
						</li>
						{{/items}}
				{{/nav}}
			</ul>
		</nav>

		<nav class="o-header__drawer-menu o-header__drawer-menu--user">
			<ul class="o-header__drawer-menu-list">
				{{^user.isSignedIn}}
						<li class="o-header__drawer-menu-item">
							<a class="o-header__drawer-menu-link" href="/products?segID=400863&amp;segmentID=190b4443-dc03-bd53-e79b-b4b6fbd04e64">Subscribe</a>
						</li>
						<li class="o-header__drawer-menu-item">
							<a class="o-header__drawer-menu-link" href="/login">Sign In</a>
						</li>
				{{/user.isSignedIn}}
				{{#user.isSignedIn}}
						<li class="o-header__drawer-menu-item">
							<a class="o-header__drawer-menu-link" href="https://myaccount.ft.com/details/core/view">
								{{user.name}}
							</a>
						</li>
						<li class="o-header__drawer-menu-item">
							<a class="o-header__drawer-menu-link" href="/logout">Sign Out</a>
						</li>
				{{/user.isSignedIn}}
			</ul>
		</nav>

	</div>
</div>
{{/drawer}}
