<button class="o-buttons o-buttons--small o-buttons--uncolored">Uncolored</button>
<button class="o-buttons o-buttons--uncolored">Uncolored</button>
<button class="o-buttons o-buttons--uncolored o-buttons--big">Uncolored</button>
