<ul class="o-editorial-typography-list o-editorial-typography-list--unordered">
	<li>Lorem ipsum&nbsp;adipiscing elit.</li>
	<li>Sed feugiat turpis at massa tristique.</li>
	<li>Curabitu r accumsan elit luctus.</li>
</ul>
