<form action="" data-o-component="o-forms">
	<div class="o-forms">
		<label for="text-validation" class="o-forms__label">Text input</label>
		<input type="text" id="text-validation" class="o-forms__text" required />
		<div class="o-forms__errortext">Invalid entry</div>
	</div>

	<div class="o-forms">
		<label for="text-validation-optional" class="o-forms__label o-forms__label--optional">Another text input</label>
		<input type="text" id="text-validation-optional" class="o-forms__text" />
	</div>

	<input type="submit">
</form>
