<form action="" data-o-component="o-forms">
	<div class="o-forms">
		<label for="text-validation" class="o-forms__label">Text input</label>
		<input type="text" id="text-validation" class="o-forms__text" required />
		<div class="o-forms__errortext">Invalid entry</div>
	</div>

	<fieldset class="o-forms o-forms--date">
		<legend aria-describedby="date-info" for="o-forms-standard" class="o-forms__label">Date</legend>
		<div id="date-info" class="o-forms__additional-info">Prompt text follows the label if required..</div>
		<div class="o-forms__group">
			<label for="o-forms-date-d" aria-label="Day (DD)" class="o-forms__label o-forms__label--day">DD</label>
			<label for="o-forms-date-m" aria-label="Month (MM)" class="o-forms__label o-forms__label--month">MM</label>
			<label for="o-forms-date-y" aria-label="Year (YYYY)" class="o-forms__label o-forms__label--year">YYYY</label>
			<input type="text" type="text" pattern="[1-9]{2}" id="o-forms-date-d" class="o-forms__text o-forms__text--day" />
			<input type="text" type="text" pattern="0?[1-9]|1[012]" id="o-forms-date-m" class="o-forms__text o-forms__text--month" />
			<input type="text" type="text" pattern="[0-9]{4}" id="o-forms-date-y" class="o-forms__text o-forms__text--year" />
		</div>
		<div class="o-forms__errortext">Invalid entry</div>
	</fieldset>

	<div class="o-forms">
		<label for="text-validation-optional" class="o-forms__label o-forms__label--optional">Another text input</label>
		<input type="text" id="text-validation-optional" class="o-forms__text" />
	</div>

	<input type="submit">
</form>
