<form action="" data-o-component="o-forms">
	<div class="o-forms">
		<label for="o-forms-standard" class="o-forms__label">Text input</label>
		<small class="o-forms__additional-info">Optional prompt text goes here</small>
		<input type="text" id="o-forms-standard" placeholder="placeholder" class="o-forms__text" required />
	</div>

	<input type="submit">
</form>
