<div class="demo-container demo-{{font}}">

	<div class="demo-row">
		<div class="demo-col">
			<div class="demo-example demo-size-large">
				Aa<wbr />Yy
			</div>
		</div>
		<div class="demo-col">
			<div class="demo-example demo-size-small">
				ABCDEFGHIJKLMNOPQRSTUVWXYZ<br />
				abcdefghijklmnopqrstuvwxyz<br />
				0123456789<br />
				.,!?:;()&amp;%£$@-+*
			</div>
		</div>
	</div>

</div>
