<div class="o-forms-wrapper o-forms-wrapper--highlight">
	<div class="o-forms-group">
		<label class="o-forms-label">Label</label>
		<small class="o-forms-additional-info">Additional field information</small>
		<input type="text" placeholder="placeholder" class="o-forms-text" />
	</div>
</div>
<div class="o-forms-wrapper o-forms-wrapper--error">
	<div class="o-forms-message o-forms-message--error">
		<p>This is a section error message that relates to a group of fields</p>
	</div>
	<div class="o-forms-group">
		<label class="o-forms-label">Field label</label>
		<small class="o-forms-additional-info">Additional field information</small>
		<input type="text" placeholder="placeholder" class="o-forms-text" />
	</div>
</div>
