<div class="o-forms-wrapper o-forms-wrapper--highlight">
	<fieldset class="o-forms">
		<legend for="o-text-default" class="o-forms__label">Legend</legend>
		<small class="o-forms__additional-info">Additional field information</small>
		<input type="text" placeholder="placeholder" id="o-text-default" class="o-forms__text" />
	</fieldset>
</div>
<div class="o-forms-wrapper o-forms-wrapper--error">
	<div class="o-forms__message o-forms__message--error">
		<p>This is a section error message</p>
	</div>
	<div class="o-forms o-forms--error">
		<label for="o-text-error" class="o-forms__label">Field label</label>
		<small class="o-forms__additional-info">Additional field information</small>
		<input type="text" placeholder="placeholder" id="o-text-error" class="o-forms__text" />
	</div>
</div>
