---
import {TextInput, CheckBox} from '@financial-times/o3-form/esm'
import Example from '../Example.astro';

const {brand} = Astro.props
---

<Example slot="examples" do title="Always left-Align components and stack vertically">
	<div data-o3-brand={brand}>
		<form class="o3-form">
			<TextInput label="City" attributes={{defaultValue: "London" }} />
			<TextInput label="Address" attributes={{defaultValue: "1 Friday St"}} optional={true} />
		</form>
	</div>
</Example>

<style>
	div {
		width: 100%;
	}
	.o3-form {
		display: flex;
		gap: var(--o3-spacing-s);
		width: 100%;
		flex-wrap: wrap;
		width: 50%;
		flex-direction: column;
		justify-content: start;
	}
</style>
