@mixin _oSyntaxHighlightCSS {
	.o-syntax-highlight--css {
		.token {

			&.important,
			&.atrule {
				color: $_o-syntax-highlight-oxford-crimson-50;

				.rule { color: $_o-syntax-highlight-crimson-jade-80; }
			}

			&.function { color: $_o-syntax-highlight-oxford-lemon-80; }
			&.important { color:  $_o-syntax-highlight-oxford-crimson-50; }

			&.property {
				color: $_o-syntax-highlight-grey-70;
			}

			&.selector,
			&.url {
				color: $_o-syntax-highlight-oxford;
			}
		}
	}
}
