@mixin _oSyntaxHighlightHTML {
	.o-syntax-highlight--html {
		.token {
			&.attr-name { color: oColorsGetPaletteColor('oxford'); }
			&.attr-value { color: oColorsGetPaletteColor('oxford-jade-60'); }
			&.tag { color: oColorsGetPaletteColor('crimson-jade-80'); }
		}
	}
}
