@mixin oSyntaxHighlightJS () {
	.o-syntax-highlight--js,
	.o-syntax-highlight--javascript {
		.token {
			&.comment { color: oColorsGetPaletteColor('grey-55') }
			&.punctuation { color: oColorsGetPaletteColor('grey-70') }
			&.string { color: oColorsGetPaletteColor('oxford-jade-60') }

			&.regex,
			&.boolean { color: oColorsGetPaletteColor('black-mandarin-35') }

			&.operator,
			&.class-name { color: oColorsGetPaletteColor('velvet-candy-60'); }

			&.keyword,
			&.function {
				color: oColorsGetPaletteColor('oxford');
				.function-variable { color: oColorsGetPaletteColor('velvet-candy-60'); }
			}

			&.number,
			&.template-string .interpolation-punctuation { color: oColorsGetPaletteColor('claret-lemon-75') }
		}
	}
}
