@mixin _oSyntaxHighlightYAML () {
	.o-syntax-highlight--yaml,
	.o-syntax-highlight--yml, {
		.token {
			&.number { color: oColorsGetPaletteColor('crimson-jade-80'); }
			&.punctuation { color: oColorsGetPaletteColor('grey-70'); }
			&.atrule { color: oColorsGetPaletteColor('oxford'); }

		}
	}
}
