@import 'css';
@import 'html';
@import 'js';
@import 'json';
@import 'scss';

@mixin oSyntaxHighlightBase() {
	[data-o-component='o-syntax-highlight'] {
		pre {
			background: oColorsGetPaletteColor('grey-5');
			padding: 15px;
			word-break: break-all;
			tab-size: 4;
			overflow-x: auto;

			code {
				padding: 0;
			}
		}

		code {
			background: oColorsGetPaletteColor('grey-5');
			color: oColorsGetPaletteColor('grey-70');
			font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
			font-size: 14px;
			white-space: inherit;
			padding: 0 4px;
		}
	}
}

@mixin oSyntaxHighlightAll() {
	@include oSyntaxHighlightBase();
	@include oSyntaxHighlightCSS();
	@include oSyntaxHighlightHTML();
	@include oSyntaxHighlightJS();
	@include oSyntaxHighlightJSON();
	@include oSyntaxHighlightSCSS();
}
