@import 'css';
@import 'html';
@import 'scss';

[data-o-component='o-syntax-highlight'] {
	pre {
		background: oColorsGetPaletteColor('grey-5');
		padding-left: 20px;
		word-break: break-all;
		tab-size: 4;

		code {
			color: oColorsGetPaletteColor('grey-80');
			overflow-x: auto;
			font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
			font-size: 14px;
			white-space: inherit;
		}
	}
}

.token  {
	&.punctuation {
		color: oColorsGetPaletteColor('grey-80');
	}

	&.bold {
		font-weight: bold;
	}

	&.italic {
		font-style: italic;
	}
}
