<a href="#bottom-of-page" data-o-component="o-toggle" data-o-toggle-target="#demo-target" class='o-buttons o-buttons--primary'>Anchor toggle</a>
<div id="demo-target" class="o-toggle o-toggle-display">Target of the toggle</div>

<p>This example has an anchor that links to the bottom of the page. It also confirms that when pressing 'space' to activate the toggle the page does not scroll.</p>
<div style="height: calc(100vh + 1em);"></div>
<div id="bottom-of-page">Bottom of page</div>
