<button
	data-o-component="o-toggle"
	data-o-toggle-target="#demo-target"
	type="button"
	class="o-buttons o-buttons--primary">
	Toggle button
</button>
<div id="demo-target" class="o-toggle">
	Toggle target
</div>
