<button
	data-o-component="o-toggle"
	data-o-toggle-target="#demo-target"
	class="o-buttons o-buttons--primary o-toggle">
	{{type}} toggle
</button>
<div id="demo-target" class="o-toggle-target">
	Target of the toggle
</div>
