@font-face {
  font-family: bentonsans-lighter;
  font-style: normal;
  font-weight: normal;
  src: url("http://build.origami.ft.com/files/o-fonts-assets@0.1.1/bentonsans-lighter.eot");
  src: url("http://build.origami.ft.com/files/o-fonts-assets@0.1.1/bentonsans-lighter.eot?#iefix") format("embedded-opentype"), url("http://build.origami.ft.com/files/o-fonts-assets@0.1.1/bentonsans-lighter.woff") format("woff"), url("http://build.origami.ft.com/files/o-fonts-assets@0.1.1/bentonsans-lighter.ttf") format("truetype"); }
@font-face {
  font-family: bentonsans-normal;
  font-style: normal;
  font-weight: normal;
  src: url("http://build.origami.ft.com/files/o-fonts-assets@0.1.1/bentonsans-normal.eot");
  src: url("http://build.origami.ft.com/files/o-fonts-assets@0.1.1/bentonsans-normal.eot?#iefix") format("embedded-opentype"), url("http://build.origami.ft.com/files/o-fonts-assets@0.1.1/bentonsans-normal.woff") format("woff"), url("http://build.origami.ft.com/files/o-fonts-assets@0.1.1/bentonsans-normal.ttf") format("truetype"); }
@font-face {
  font-family: bentonsans-bold;
  font-style: normal;
  font-weight: normal;
  src: url("http://build.origami.ft.com/files/o-fonts-assets@0.1.1/bentonsans-bold.eot");
  src: url("http://build.origami.ft.com/files/o-fonts-assets@0.1.1/bentonsans-bold.eot?#iefix") format("embedded-opentype"), url("http://build.origami.ft.com/files/o-fonts-assets@0.1.1/bentonsans-bold.woff") format("woff"), url("http://build.origami.ft.com/files/o-fonts-assets@0.1.1/bentonsans-bold.ttf") format("truetype"); }
@font-face {
  font-family: millerdisplay-normal;
  font-style: normal;
  font-weight: normal;
  src: url("http://build.origami.ft.com/files/o-fonts-assets@0.1.1/millerdisplay-normal.eot");
  src: url("http://build.origami.ft.com/files/o-fonts-assets@0.1.1/millerdisplay-normal.eot?#iefix") format("embedded-opentype"), url("http://build.origami.ft.com/files/o-fonts-assets@0.1.1/millerdisplay-normal.woff") format("woff"), url("http://build.origami.ft.com/files/o-fonts-assets@0.1.1/millerdisplay-normal.ttf") format("truetype"); }
@font-face {
  font-family: millerdisplay-bold;
  font-style: normal;
  font-weight: normal;
  src: url("http://build.origami.ft.com/files/o-fonts-assets@0.1.1/millerdisplay-bold.eot");
  src: url("http://build.origami.ft.com/files/o-fonts-assets@0.1.1/millerdisplay-bold.eot?#iefix") format("embedded-opentype"), url("http://build.origami.ft.com/files/o-fonts-assets@0.1.1/millerdisplay-bold.woff") format("woff"), url("http://build.origami.ft.com/files/o-fonts-assets@0.1.1/millerdisplay-bold.ttf") format("truetype"); }
@font-face {
  font-family: millerdisplay-bolder;
  font-style: normal;
  font-weight: normal;
  src: url("http://build.origami.ft.com/files/o-fonts-assets@0.1.1/millerdisplay-bolder.eot");
  src: url("http://build.origami.ft.com/files/o-fonts-assets@0.1.1/millerdisplay-bolder.eot?#iefix") format("embedded-opentype"), url("http://build.origami.ft.com/files/o-fonts-assets@0.1.1/millerdisplay-bolder.woff") format("woff"), url("http://build.origami.ft.com/files/o-fonts-assets@0.1.1/millerdisplay-bolder.ttf") format("truetype"); }
@font-face {
  font-family: clarion-normal;
  font-style: normal;
  font-weight: normal;
  src: url("http://build.origami.ft.com/files/o-fonts-assets@0.1.1/clarion-normal.eot");
  src: url("http://build.origami.ft.com/files/o-fonts-assets@0.1.1/clarion-normal.eot?#iefix") format("embedded-opentype"), url("http://build.origami.ft.com/files/o-fonts-assets@0.1.1/clarion-normal.woff") format("woff"), url("http://build.origami.ft.com/files/o-fonts-assets@0.1.1/clarion-normal.ttf") format("truetype"); }
@font-face {
  font-family: clarion-bold;
  font-style: normal;
  font-weight: normal;
  src: url("http://build.origami.ft.com/files/o-fonts-assets@0.1.1/clarion-bold.eot");
  src: url("http://build.origami.ft.com/files/o-fonts-assets@0.1.1/clarion-bold.eot?#iefix") format("embedded-opentype"), url("http://build.origami.ft.com/files/o-fonts-assets@0.1.1/clarion-bold.woff") format("woff"), url("http://build.origami.ft.com/files/o-fonts-assets@0.1.1/clarion-bold.ttf") format("truetype"); }
@font-face {
  font-family: clarion-italic;
  font-style: normal;
  font-weight: normal;
  src: url("http://build.origami.ft.com/files/o-fonts-assets@0.1.1/clarion-italic.eot");
  src: url("http://build.origami.ft.com/files/o-fonts-assets@0.1.1/clarion-italic.eot?#iefix") format("embedded-opentype"), url("http://build.origami.ft.com/files/o-fonts-assets@0.1.1/clarion-italic.woff") format("woff"), url("http://build.origami.ft.com/files/o-fonts-assets@0.1.1/clarion-italic.ttf") format("truetype"); }
.demo-container {
  margin: 0 20px; }

.demo-row {
  clear: both;
  overflow: hidden;
  margin-bottom: 20px; }

.demo-col {
  overflow: hidden;
  word-wrap: break-word; }

.demo-col:first-child {
  float: right;
  text-align: right;
  width: 500px; }

.demo-example {
  margin: 0 0 30px 0; }

.demo-bentonsans-lighter .demo-example {
  font-family: bentonsans-lighter, helvetica, arial, sans-serif; }

.demo-bentonsans-normal .demo-example {
  font-family: bentonsans-normal, helvetica, arial, sans-serif; }

.demo-bentonsans-bold .demo-example {
  font-family: bentonsans-bold, helvetica, arial, sans-serif; }

.demo-millerdisplay-normal .demo-example {
  font-family: millerdisplay-normal, georgia, "times new roman", serif; }

.demo-millerdisplay-bold .demo-example {
  font-family: millerdisplay-bold, georgia, "times new roman", serif; }

.demo-millerdisplay-bolder .demo-example {
  font-family: millerdisplay-bolder, georgia, "times new roman", serif; }

.demo-clarion-normal .demo-example {
  font-family: clarion-normal, georgia, "times new roman", serif; }

.demo-clarion-bold .demo-example {
  font-family: clarion-bold, georgia, "times new roman", serif; }

.demo-clarion-italic .demo-example {
  font-family: clarion-italic, georgia, "times new roman", serif; }

.demo-size-x-large {
  padding-top: 15px;
  font-size: 36px;
  line-height: 44px; }

.demo-size-huge {
  font-size: 200px;
  line-height: 200px; }

/*# sourceMappingURL=demo.css.map */