body {
  margin: 0;
  padding: 0;
  overflow: hidden; }

/**
 * Colour palette
 *
 * These are the colours that make up the FT palette.  We don't use these colours directly, but instead assign them to 'use cases', which are defined in use-cases.scss.  In the list below, each line contains a color name and a colour code, and is finished with a comma:
 *
 *  <colorname>   <colour code>,
 *
 * The colour name must be a single word comprising just letters, numbers, and dashes.  You can have as many spaces between the colour name and the colour code as you like (so you can line them up neatly), and you *MUST* finish the line with a comma (except the final entry, which should not have a comma)
 */
/**
 * Colour use cases
 *
 * These mappings define what we use our colours for.
 *
 * Use case:           Must be a single word comprising just letters, numbers, and dashes.
 * Color name:         Must be an exact match for a name of a colour defined in palette.scss
 * CSS class property: Should be 'text', 'border', 'background', or 'all'.
 * Status:             Must be 'DEPRECATED' or absent
 *
 * You can have as many spaces between each entry as you like (so you can line them up neatly), and you *MUST* finish each line with a comma (except the final entry, which should not have a comma).
 *
 *
 *  <use case>                        <colorname>            <cssclassproperty>   [<status>]
 */
/* Load fonts */
/* Headings */
/* Titles */
/* Article subheadings ('leads') */
/* Links */
/* Article metadata */
/* Article content */
/* Utility mixins for body text*/
/**
 * Colour palette
 *
 * These are the colours that make up the FT palette.  We don't use these colours directly, but instead assign them to 'use cases', which are defined in use-cases.scss.  In the list below, each line contains a color name and a colour code, and is finished with a comma:
 *
 *  <colorname>   <colour code>,
 *
 * The colour name must be a single word comprising just letters, numbers, and dashes.  You can have as many spaces between the colour name and the colour code as you like (so you can line them up neatly), and you *MUST* finish the line with a comma (except the final entry, which should not have a comma)
 */
/**
 * Colour use cases
 *
 * These mappings define what we use our colours for.
 *
 * Use case:           Must be a single word comprising just letters, numbers, and dashes.
 * Color name:         Must be an exact match for a name of a colour defined in palette.scss
 * CSS class property: Should be 'text', 'border', 'background', or 'all'.
 * Status:             Must be 'DEPRECATED' or absent
 *
 * You can have as many spaces between each entry as you like (so you can line them up neatly), and you *MUST* finish each line with a comma (except the final entry, which should not have a comma).
 *
 *
 *  <use case>                        <colorname>            <cssclassproperty>   [<status>]
 */
/* 
	Note: The identically named mixins and functions below is not a mistake; it means they can be used to either 
	output a string or to wrap some style rules in a selector
*/
.o-ft-footer__row, .o-ft-footer__full-width-row {
  margin: 0 auto; }

.o-ft-footer__row, .o-ft-footer__full-width-row {
  clear: both;
  width: 100%; }

.o-ft-footer__row:after, .o-ft-footer__full-width-row:after {
  content: '';
  display: block;
  clear: both; }

.o-ft-footer__row, .o-ft-footer__full-width-row {
  max-width: 600px;
  min-width: 240px; }

.o-ft-footer__row .o-ft-footer__row, .o-ft-footer__full-width-row .o-ft-footer__row, .o-ft-footer__row .o-ft-footer__full-width-row, .o-ft-footer__full-width-row .o-ft-footer__full-width-row {
  margin-left: -1%;
  margin-right: -1%;
  width: auto;
  max-width: none;
  min-width: 0; }

.o-ft-footer__full-width-row, .o-ft-footer__link {
  float: left;
  padding-left: 1%;
  padding-right: 1%; }

.o-ft-footer__full-width-row {
  float: none;
  clear: both;
  display: block;
  width: 98%; }

.o-ft-footer__link {
  width: 48%; }

/* Override fixed defaults for responsive grid */
@media screen {
  .o-ft-footer__row .o-ft-footer__row, .o-ft-footer__full-width-row .o-ft-footer__row, .o-ft-footer__row .o-ft-footer__full-width-row, .o-ft-footer__full-width-row .o-ft-footer__full-width-row {
    margin-left: -10px;
    margin-right: -10px;
    width: auto; }

  .o-ft-footer__full-width-row, .o-ft-footer__link {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .o-grid-row-compact > .o-ft-footer__full-width-row, .o-grid-row-compact > .o-ft-footer__link {
    padding-left: 0;
    padding-right: 0; }

  .o-ft-footer__link {
    width: auto; } }
@media screen {
  .o-ft-footer__row, .o-ft-footer__full-width-row {
    max-width: none; }

  .o-ft-footer__full-width-row {
    float: none;
    clear: both;
    display: block;
    width: 100%; } }
@media screen and (max-width: 600px) {
  .o-ft-footer__row, .o-ft-footer__full-width-row {
    max-width: none; }

  .o-ft-footer__link {
    width: 50%; }

  /* ensures d12 and d0 can be over-ridden by styles for S layout */
  .o-ft-footer__link {
    float: left;
    clear: none;
    display: block; } }
@media screen and (min-width: 601px) and (max-width: 1000px) {
  .o-ft-footer__row, .o-ft-footer__full-width-row {
    max-width: none; }

  .o-ft-footer__link {
    width: 50%; }

  /* ensures d12 and d0 can be over-ridden by styles for M layout */
  .o-ft-footer__link {
    float: left;
    clear: none;
    display: block; } }
@media screen and (min-width: 1001px) and (max-width: 1400px) {
  .o-ft-footer__row, .o-ft-footer__full-width-row {
    max-width: none; }

  /* ensures d12 and d0 can be over-ridden by styles for L layout */ }
@media screen and (min-width: 1401px) {
  .o-ft-footer__row, .o-ft-footer__full-width-row {
    max-width: 1360px; }

  /* ensures d12 and d0 can be over-ridden by styles for XL layout */ }
@font-face {
  font-family: BentonSans-normal;
  font-style: normal;
  font-weight: normal;
  src: url(http://build.origami.ft.com/files/o-fonts/webfonts/BentonSans-normal.eot);
  src: url(http://build.origami.ft.com/files/o-fonts/webfonts/BentonSans-normal.eot?#iefix) format("embedded-opentype"), url(http://build.origami.ft.com/files/o-fonts/webfonts/BentonSans-normal.woff) format("woff"), url(http://build.origami.ft.com/files/o-fonts/webfonts/BentonSans-normal.ttf) format("truetype"); }
.o-ft-footer {
  font-size: 14px;
  margin-top: 10px;
  padding-top: 5px;
  background-color: #f6e9d8;
  font-family: BentonSans-normal, Helvetica, Arial, sans-serif; }

.o-ft-footer__link > a:link, .o-ft-footer__link > a:visited {
  display: block;
  border-bottom: 1px solid #e9decf;
  color: #333333;
  text-decoration: none;
  font-size: 14px;
  line-height: 29px; }
.o-ft-footer__link > a:hover, .o-ft-footer__link > a:focus {
  color: #2e6e9e; }

.o-ft-footer__copyright {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #333333;
  font-size: 9px;
  line-height: 14px; }
  .o-ft-footer__copyright > p {
    display: inline-block;
    margin: 0;
    padding-right: 10px; }

.o-ft-footer__pearson-row {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #e9decf; }

.o-ft-footer__pearson-tagline,
.o-ft-footer__pearson-logo {
  height: 16px;
  background: url(http://build.origami.ft.com/files/o-ft-footer/img/pearson_sprite.gif) no-repeat;
  text-indent: 100%;
  whitespace: nowrap;
  overflow: hidden; }

.o-ft-footer__pearson-tagline {
  float: left;
  width: 170px;
  margin-right: 10px;
  background: url("data:image/svg+xml;utf-8,<svg version='1.0' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 50' width='170' height='16' fill='#74736c'><path d='M20.6 0.3h4.8l21.5 48.3h-7l-6.4-14.2H13.1L7.1 48.6H0L20.6 0.3zM30.7 28.3l-7.7-17.4L15.8 28.3H30.7zM63.5 0.6h6.9v41.8h21.6v6.3H63.5V0.6zM166.2 0.6h6.9l-19.4 48.2h-1.5L136.5 9.8l-15.9 39.1h-1.5L99.8 0.6h6.9l13.2 33.1 13.4-33.1h6.5l13.4 33.1L166.2 0.6zM202.2 0.3h4.8l21.5 48.3h-7l-6.4-14.2h-20.5l-6 14.2h-7.1L202.2 0.3zM212.3 28.3l-7.8-17.4 -7.2 17.4H212.3zM269.1 0.6h8.3l-17.7 22.6v25.4h-7V23.2l-17.7-22.6h8.3l12.8 16.5L269.1 0.6zM307.3 28.5l-5.2-3.2c-3.3-2-5.6-4-7-5.9 -1.4-2-2.1-4.2-2.1-6.7 0-3.8 1.3-6.8 3.9-9.2C299.5 1.2 303 0 307.2 0c4 0 7.7 1.2 11 3.4v7.8c-3.5-3.3-7.2-5-11.2-5 -2.3 0-4.1 0.5-5.6 1.5 -1.4 1-2.2 2.4-2.2 4 0 1.5 0.5 2.8 1.6 4.1 1.1 1.3 2.8 2.6 5.1 4l5.2 3.1c5.9 3.5 8.8 7.9 8.8 13.3 0 3.8-1.3 7-3.8 9.4 -2.6 2.4-5.9 3.6-10.1 3.6 -4.7 0-9.1-1.5-13-4.4v-8.7c3.7 4.7 8 7 12.9 7 2.1 0 4-0.6 5.4-1.8 1.4-1.2 2.1-2.7 2.1-4.5C313.6 33.9 311.5 31.1 307.3 28.5M375.4 0.6h6.9v41.8h21.6v6.3h-28.5V0.6zM424 0.6h27.2v6.1h-20.4v14.7h19.7v6.1h-19.7v14.9h21v6.1h-27.9V0.6zM490 0.3h4.8l21.5 48.3h-7l-6.4-14.2h-20.5l-6 14.2h-7.1L490 0.3zM500.1 28.3l-7.8-17.4L485.2 28.3H500.1zM535.9 48.6V0.6h12c4.8 0 8.7 1.2 11.6 3.6 2.8 2.4 4.3 5.7 4.3 9.7 0 2.8-0.7 5.2-2.1 7.2 -1.4 2.1-3.4 3.6-6 4.6 1.5 1 3 2.4 4.5 4.1 1.5 1.7 3.5 4.8 6.2 9.1 1.7 2.7 3 4.8 4 6.2l2.6 3.4h-8.2l-2.1-3.2c-0.1-0.1-0.2-0.3-0.4-0.6l-1.3-1.9 -2.1-3.5 -2.3-3.7c-1.4-1.9-2.8-3.5-3.9-4.7 -1.2-1.2-2.2-2-3.2-2.5 -1-0.5-2.6-0.8-4.8-0.8h-1.8v20.9H535.9zM544.9 6.4h-2.1v15.2h2.6c3.5 0 5.9-0.3 7.2-0.9 1.3-0.6 2.3-1.5 3-2.7 0.7-1.2 1.1-2.6 1.1-4.1 0-1.5-0.4-2.9-1.2-4.1 -0.8-1.3-1.9-2.1-3.4-2.6C550.6 6.7 548.2 6.4 544.9 6.4M630.5 0.6h6.5v48h-5.9l-32.1-37v37h-6.5V0.6h5.6l32.4 37.3V0.6zM661.5 0.6h6.9V48.6h-6.9V0.6zM731.2 0.6h6.5v48h-5.9l-32.1-37v37h-6.5V0.6h5.6l32.4 37.3V0.6zM783.9 25H800V45.3c-5.9 2.6-11.8 3.9-17.6 3.9 -8 0-14.3-2.3-19.1-7 -4.7-4.6-7.1-10.3-7.1-17.2 0-7.2 2.5-13.2 7.4-17.9C768.5 2.4 774.7 0 782.1 0c2.7 0 5.3 0.3 7.7 0.9 2.4 0.6 5.5 1.6 9.2 3.3v7c-5.7-3.3-11.4-5-17.1-5 -5.2 0-9.6 1.8-13.3 5.4 -3.6 3.6-5.4 8-5.4 13.2 0 5.4 1.8 9.9 5.4 13.3 3.6 3.5 8.2 5.2 13.9 5.2 2.7 0 6-0.6 9.9-1.9l0.7-0.2V31.1h-9.2V25z'></path></svg>") no-repeat; }

.o-ft-footer__pearson-logo {
  float: right;
  width: 100px;
  background: url("data:image/svg+xml;utf-8,<svg version='1.0' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 700 111' width='100' height='16' fill='#74736c'><path d='M534.1 0c-28.6 0-52.7 24.4-52.7 53.4 0 32.9 22.4 56.8 53.1 56.8 29 0 52.7-25.5 52.7-56.8C587.2 24 563.3 0 534.1 0M534.5 96.8c-24.6 0-33.5-25.6-33.5-42.8 0-15.6 9-40.4 33.1-40.4 23.1 0 33.5 23.3 33.5 39.9C567.5 75 556.2 96.8 534.5 96.8M33.6 0c18.7 0 38.6 8.3 38.6 31.5 0 22.5-21.9 35.9-44.7 35.9 -0.1-3.7-0.1-7.6-0.2-11.4 17.2-1.3 26.5-9.7 26.5-23.5 0-11.9-9.6-20.2-23.5-20.2H19.2c0 34.6 0.7 84.3 2.1 96.7 -7.4-1.5-13.5-1.5-21.2 0C1.9 94 3 14.2 0 0c0 0 14 0.5 17.1 0.5C20.8 0.1 29.8 0 33.6 0M212.3 0.8c-5.4 21.2-28 82.3-38.9 108.2 7.1-1 14.6-0.8 18.1-0.2 3.6-11.6 7.5-25.5 9.3-30.7 11.3-0.8 24.6-0.8 38 0 4.1 10.9 6.5 18.6 10.1 30.6 6.9-0.6 14-0.6 21.6 0.1 -10.8-25.9-35.9-92.8-39.9-108.1C225.2 1.5 218.2 1.5 212.3 0.8M205.1 63.6c0 0 10.4-30.8 13.9-41.4 0 0 10.7 30.4 14.5 41.4C222 64.8 216.2 64.8 205.1 63.6M115.1 95.3c11.4 0.5 38.5-1.1 38.5-1.1 0.1 11.7-0.7 15.2-0.7 15.2 -10.1-1.4-40.6-2-57.2 0 2.4-26.4 1.6-80.8 0.1-109 15.3 1.3 44.5 1 56.8 0V15.6c-10.6-1-27.5-2-37.1-1.7 0 0-0.4 25.3-0.1 31.7 17.2 1.2 29.8-0.8 35.2-1.2v15.2c0 0-20-2-35.2-0.8C115.1 69 115.1 84 115.1 95.3M699.6 106.7c0.1 0.3 0.4 2.2 0.4 2.2 -4.7-0.7-11.9-0.8-16.4-0.1 -8.6-12.7-42.5-59-55.9-76.3 -0.5 25.3-0.8 63.6 0.8 76.2 -2 0.1-5-0.1-6.6-0.1 -4.6 0-6.6-0.2-10.7 0.3 2.2-13.1 2.8-93.7 0-107.9 6.5 0.1 11.9 0.2 13.6 0.1 1.5-0.1 2.6-0.2 2.6-0.2s36.5 48.9 55.5 74.5c0.2-9.7 1.1-58.2-0.8-74.7 2.6 0.4 5.7 1.3 8.9 1.2 2.9-0.1 6-0.8 8.9-1.3C697.3 21.1 696.4 91.3 699.6 106.7M361.5 29.2c0 17.5-11.8 27.5-23.1 29.8 8.3 10.6 38.1 50.1 38.1 50.1 -7.5-1.1-18.6-0.9-24.1-0.3 -9.5-14.9-25.6-37.9-31.7-45.3 -0.1-4.3-0.2-7.5-0.2-11.7 18.5 0.4 22.4-11.9 22.4-20.6 0-11.6-10.5-17.7-20.9-17.7h-9c-0.8 20.7 0.7 71.7 1.6 95.4 -7.2-0.7-15.2-0.6-20.9 0 2.4-17.4 2-96.4 0-108.5 0 0 11.4 0.9 16.4 0.6 4.5-0.2 8.6-0.5 13.9-0.5C335.1 0.5 361.5 3.3 361.5 29.2M438.3 47.2c11.9 7.6 21 14.7 21 30.8 0 23.3-18.3 31.6-33.9 31.6 -12.9 0-26.5-6.8-32.8-11.7 2.4-4.7 4.8-9.5 6.7-16.1 7 7.9 17.8 13.4 25.2 13.4 9.8 0 15.7-5.3 15.7-14.3 0.4-6.7-4.4-11.5-10.5-16.5 -4.4-3.7-15.6-10.9-18.2-13 -8.8-7.2-14.2-13.2-14.2-24.6 0-15.2 13.5-26.7 31.5-26.7 9.2 0 17.8 2.7 28.3 9.8 -2.6 3.9-6.2 9.9-8 15.5 -4.2-5.7-10.7-11.8-19.7-11.8 -8.5 0-13.8 4.9-13.8 12.8 0 2.6 1.9 5.5 5.7 9C425 38.6 430.3 42.3 438.3 47.2'></path></svg>") no-repeat;
  background-position: right 0; }

@media screen and (max-width: 299px) {
  .o-ft-footer__pearson-logo {
    margin-top: 5px;
    float: left; } }
