html, body {
  margin: 0;
  padding: 0; }

/**
 * Colour palette
 *
 * These are the colours that make up the FT palette.  We don't use these colours directly, but instead assign them to 'use cases', which are defined in use-cases.scss.  In the list below, each line contains a color name and a colour code, and is finished with a comma:
 *
 *  <colorname>   <colour code>,
 *
 * The colour name must be a single word comprising just letters, numbers, and dashes.  You can have as many spaces between the colour name and the colour code as you like (so you can line them up neatly), and you *MUST* finish the line with a comma (except the final entry, which should not have a comma)
 */
/**
 * Colour use cases
 *
 * These mappings define what we use our colours for.  In the list below, each line contains a use case, a color name, a role, an optional status flag, and is finished with a comma:
 *
 *  <use case>   <colorname>   <role>   [<status>],
 *
 * The use case name must be a single word comprising just letters, numbers, and dashes.  
 * The colour name should be an exact match for a colour defiend in palette.scss
 * The role must be 'text', 'border', or 'background'.   
 * The status must be 'DEPRECATED' or absent
 * You can have as many spaces between each entry as you like (so you can line them up neatly), and you *MUST* finish each line with a comma (except the final entry, which should not have a comma).
 */
.o-dialog--modal__content {
  background-color: white; }

.o-dialog--modal__content {
  color: #333333; }

.o-dialog--modal .o-dialog__heading {
  background-color: #a7a59b; }

.o-dialog--modal .o-dialog__heading {
  color: white; }

.o-dialog__close {
  background-color: #2e6e9e; }

/*
	This mixin allows ie7 and 8 to be targeted using either
	* specific classes for each of ie7 and ie8
	* 'less than' classes targeting ie versions less than a given version e.g. lt-ie9 & lt-ie8
*/
/* 
	Deprecates support for ie7 or 8, making sure that both browser specific and lt- selectors are removed
*/
.o-dialog--full-width {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0 !important;
  margin-right: 0 !important;
  width: 100%;
  min-width: 0; }

.o-dialog--full-width .o-dialog__content {
  right: auto;
  left: auto;
  min-width: 0; }

.o-dialog--full-height {
  padding-top: 0;
  padding-bottom: 0;
  height: 100%;
  min-height: 0;
  position: fixed;
  display: block; }

.o-dialog__content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: auto; }

.o-dialog--full-width .o-dialog__content {
  width: 100%;
  overflow-x: auto;
  margin-left: 0;
  margin-right: 0; }

.o-dialog--full-height .o-dialog__content {
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  overflow-y: hidden; }

.o-dialog__body:after {
  content: " ";
  display: table;
  clear: both; }

.o-useragent-ie7 .o-dialog__body {
  zoom: 1; }

.o-dialog--full-height .o-dialog__body {
  overflow-y: auto; }

.flexbox .o-dialog--full-height .o-dialog__content:not(.o-dialog__body),
.flexboxlegacy .o-dialog--full-height .o-dialog__content:not(.o-dialog__body) {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch; }
  .flexbox .o-dialog--full-height .o-dialog__content:not(.o-dialog__body) .o-dialog__body,
  .flexboxlegacy .o-dialog--full-height .o-dialog__content:not(.o-dialog__body) .o-dialog__body {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto; }
  .flexbox .o-dialog--full-height .o-dialog__content:not(.o-dialog__body) .o-dialog__heading,
  .flexboxlegacy .o-dialog--full-height .o-dialog__content:not(.o-dialog__body) .o-dialog__heading {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto; }

.o-dialog__overlay {
  background: url(../bower_components/o-dialog/img/overlay-bg.png);
  position: fixed;
  height: 150%;
  width: 100%;
  top: 0;
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none; }

.rgba .o-dialog__overlay {
  background: rgba(0, 0, 0, 0.4); }

.o-dialog__overlay.is-open {
  pointer-events: auto;
  opacity: 1; }

.o-dialog--dropdown,
.o-dialog--dropup {
  position: absolute; }

.o-dialog--dropdown__content,
.o-dialog--dropup__content {
  position: absolute;
  display: none; }

.o-dialog--dropdown__content {
  top: 0; }

.o-dialog--dropup__content {
  bottom: 0; }

.is-open .o-dialog--dropdown__content,
.is-open .o-dialog--dropup__content {
  display: block; }

.csstransforms .o-dialog--dropdown__content,
.csstransforms .o-dialog--dropup__content {
  position: static;
  display: block;
  opacity: 0.5;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  -ms-transition: -ms-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
  transform: scaleY(0); }
.csstransforms .o-dialog--dropdown__content {
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  -ms-transform-origin: top;
  -o-transform-origin: top;
  transform-origin: top;
  top: auto; }
.csstransforms .o-dialog--dropup__content {
  -webkit-transform-origin: bottom;
  -moz-transform-origin: bottom;
  -ms-transform-origin: bottom;
  -o-transform-origin: bottom;
  transform-origin: bottom;
  bottom: auto; }
.csstransforms .is-open .o-dialog--dropdown__content,
.csstransforms .is-open .o-dialog--dropup__content {
  opacity: 1;
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s; }

.o-dialog--dropdown--right .o-dialog__content {
  right: 0; }

.o-dialog--dropdown--left .o-dialog__content {
  left: 0; }

.o-dialog--modal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 2;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none; }

.o-dialog--modal.is-open {
  pointer-events: auto;
  opacity: 1; }

.o-dialog--modal__content {
  min-height: 10px;
  min-width: 10px;
  margin: 100px auto 0;
  position: absolute;
  left: 50%;
  top: 50%; }

.flexbox .o-dialog--modal,
.flexboxlegacy .o-dialog--modal {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
.flexbox .o-dialog--modal__content,
.flexboxlegacy .o-dialog--modal__content {
  margin: auto;
  -webkit-align-self: center;
  align-self: center;
  -webkit-align-content: center;
  align-content: center;
  position: relative;
  left: auto;
  top: auto; }

.o-dialog--modal.o-dialog--full-width {
  padding-left: 0;
  padding-right: 0; }

.o-dialog--modal.o-dialog--full-height {
  padding-top: 0;
  padding-bottom: 0; }

.o-dialog--full-width .o-dialog--modal__content {
  left: auto; }

.o-dialog--full-height .o-dialog--modal__content {
  top: auto; }

/**
 * Colour palette
 *
 * These are the colours that make up the FT palette.  We don't use these colours directly, but instead assign them to 'use cases', which are defined in use-cases.scss.  In the list below, each line contains a color name and a colour code, and is finished with a comma:
 *
 *  <colorname>   <colour code>,
 *
 * The colour name must be a single word comprising just letters, numbers, and dashes.  You can have as many spaces between the colour name and the colour code as you like (so you can line them up neatly), and you *MUST* finish the line with a comma (except the final entry, which should not have a comma)
 */
/**
 * Colour use cases
 *
 * These mappings define what we use our colours for.  In the list below, each line contains a use case, a color name, a role, an optional status flag, and is finished with a comma:
 *
 *  <use case>   <colorname>   <role>   [<status>],
 *
 * The use case name must be a single word comprising just letters, numbers, and dashes.  
 * The colour name should be an exact match for a colour defiend in palette.scss
 * The role must be 'text', 'border', or 'background'.   
 * The status must be 'DEPRECATED' or absent
 * You can have as many spaces between each entry as you like (so you can line them up neatly), and you *MUST* finish each line with a comma (except the final entry, which should not have a comma).
 */
.o-dialog--modal__content {
  background-color: white; }

.o-dialog--modal__content {
  color: #333333; }

.o-dialog--modal .o-dialog__heading {
  background-color: #a7a59b; }

.o-dialog--modal .o-dialog__heading {
  color: white; }

.o-dialog__close {
  background-color: #2e6e9e; }

/**
 * Colour palette
 *
 * These are the colours that make up the FT palette.  We don't use these colours directly, but instead assign them to 'use cases', which are defined in use-cases.scss.  In the list below, each line contains a color name and a colour code, and is finished with a comma:
 *
 *  <colorname>   <colour code>,
 *
 * The colour name must be a single word comprising just letters, numbers, and dashes.  You can have as many spaces between the colour name and the colour code as you like (so you can line them up neatly), and you *MUST* finish the line with a comma (except the final entry, which should not have a comma)
 */
/**
 * Colour use cases
 *
 * These mappings define what we use our colours for.  In the list below, each line contains a use case, a color name, a role, an optional status flag, and is finished with a comma:
 *
 *  <use case>   <colorname>   <role>   [<status>],
 *
 * The use case name must be a single word comprising just letters, numbers, and dashes.  
 * The colour name should be an exact match for a colour defiend in palette.scss
 * The role must be 'text', 'border', or 'background'.   
 * The status must be 'DEPRECATED' or absent
 * You can have as many spaces between each entry as you like (so you can line them up neatly), and you *MUST* finish each line with a comma (except the final entry, which should not have a comma).
 */
.o-dialog--modal__content {
  background-color: white; }

.o-dialog--modal__content {
  color: #333333; }

.o-dialog--modal .o-dialog__heading {
  background-color: #a7a59b; }

.o-dialog--modal .o-dialog__heading {
  color: white; }

.o-dialog__close {
  background-color: #2e6e9e; }

/* Load fonts */
/* Headings */
/* Titles */
/* Leads */
/* Metadata */
/* Article subheadings */
/* Body lead */
/* Body */
/* Sub-body */
/* Lists */
@font-face {
  font-family: BentonSans-lighter;
  font-style: normal;
  font-weight: normal;
  src: url(../bower_components/o-fonts/webfonts/BentonSans-lighter.eot);
  src: url(../bower_components/o-fonts/webfonts/BentonSans-lighter.eot?#iefix) format("embedded-opentype"), url(../bower_components/o-fonts/webfonts/BentonSans-lighter.woff) format("woff"), url(../bower_components/o-fonts/webfonts/BentonSans-lighter.ttf) format("truetype"); }
.o-dialog--modal__content {
  border: 5px solid #a7a59b; }

.o-dialog__close {
  position: absolute;
  top: 7px;
  right: 6px;
  display: block;
  overflow: hidden;
  padding: 0;
  width: 22px;
  height: 22px;
  border: 2px solid white;
  border-radius: 11px;
  color: #2e6e9e;
  vertical-align: center;
  text-align: center;
  font-size: 23px;
  font-family: BentonSans-lighter, Helvetica, Arial, sans-serif;
  line-height: 16px;
  cursor: pointer; }
  .o-dialog__close:before {
    display: block;
    color: white;
    content: '\00d7'; }

.o-useragent-ie8 .o-dialog__close {
  padding-top: 1px;
  padding-left: 2px; }

.o-dialog--modal .o-dialog__heading {
  font-size: 14px;
  margin: 0;
  padding: 10px;
  letter-spacing: 0.4px;
  font-weight: normal;
  font-family: BentonSans-lighter, Helvetica, Arial, sans-serif; }

.o-dialog__body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px; }

.o-dialog--closable.o-dialog--modal .o-dialog__heading {
  padding-right: 35px; }

/*
	This mixin allows ie7 and 8 to be targeted using either
	* specific classes for each of ie7 and ie8
	* 'less than' classes targeting ie versions less than a given version e.g. lt-ie9 & lt-ie8
*/
/* 
	Deprecates support for ie7 or 8, making sure that both browser specific and lt- selectors are removed
*/
/* 
	Note: The identically named mixins and functions below is not a mistake; it means they can be used to either 
	output a string or to wrap some style rules in a selector
*/
.o-ft-header__topbar__content {
  margin: 0 auto; }

.o-ft-header__topbar__content {
  clear: both;
  width: 100%; }

.o-ft-header__topbar__content:after {
  content: '';
  display: block;
  clear: both; }

.o-ft-header__topbar__content {
  max-width: 600px;
  min-width: 240px; }

.o-ft-header__topbar__content .o-ft-header__topbar__content {
  margin-left: -1%;
  margin-right: -1%;
  width: auto;
  max-width: none;
  min-width: 0; }

.o-ft-header__topbar__content {
  float: left;
  padding-left: 1%;
  padding-right: 1%; }

.o-ft-header__topbar__content {
  float: none;
  clear: both;
  display: block;
  width: 98%; }

/* Override fixed defaults for responsive grid */
@media screen {
  .o-ft-header__topbar__content .o-ft-header__topbar__content {
    margin-left: -10px;
    margin-right: -10px;
    width: auto; }

  .o-ft-header__topbar__content {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .o-grid-row-compact > .o-ft-header__topbar__content {
    padding-left: 0;
    padding-right: 0; }

  .o-ft-header__topbar__content {
    padding-right: 0; }
    .o-ft-header__topbar__content > .o-grid-row {
      margin-right: 0; } }
@media screen {
  .o-ft-header__topbar__content {
    max-width: none; }

  .o-ft-header__topbar__content {
    padding-right: 0; }
    .o-ft-header__topbar__content > .o-grid-row {
      margin-right: 0; }

  .o-ft-header__topbar__content {
    float: none;
    clear: both;
    display: block;
    width: 100%; } }
@media screen and (max-width: 600px) {
  .o-ft-header__topbar__content {
    max-width: none; }

  /* ensures d12 and d0 can be over-ridden by styles for S layout */ }
@media screen and (min-width: 601px) and (max-width: 1000px) {
  .o-ft-header__topbar__content {
    max-width: none; }

  /* ensures d12 and d0 can be over-ridden by styles for M layout */ }
@media screen and (min-width: 1001px) and (max-width: 1400px) {
  .o-ft-header__topbar__content {
    max-width: none; }

  /* ensures d12 and d0 can be over-ridden by styles for L layout */ }
.o-useragent-ie7, .o-useragent-ie8 {
  /* ensures d12 and d0 can be over-ridden by styles for L layout */ }
  .o-useragent-ie7 .o-ft-header__topbar__content, .o-useragent-ie8 .o-ft-header__topbar__content {
    max-width: none; }
@media screen and (min-width: 1401px) {
  .o-ft-header__topbar__content {
    max-width: 1360px; }

  /* ensures d12 and d0 can be over-ridden by styles for XL layout */ }
.o-useragent-ie7 .o-ft-header__topbar__content .o-ft-header__topbar__content, .o-useragent-ie8 .o-ft-header__topbar__content .o-ft-header__topbar__content {
  margin-left: -5px;
  margin-right: -5px;
  width: auto; }
.o-useragent-ie7 .o-ft-header__topbar__content, .o-useragent-ie8 .o-ft-header__topbar__content {
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(../bower_components/o-useragent/polyfills/boxsizing.htc); }
.o-useragent-ie7 .o-grid-row-compact > .o-ft-header__topbar__content, .o-useragent-ie8 .o-grid-row-compact > .o-ft-header__topbar__content {
  padding-left: 0;
  padding-right: 0; }
.o-useragent-ie7 .o-ft-header__topbar__content, .o-useragent-ie8 .o-ft-header__topbar__content {
  float: none;
  clear: both;
  display: block;
  width: 100%; }
.o-useragent-ie7 body, .o-useragent-ie8 body {
  min-width: 960px; }
.o-useragent-ie7 .o-ft-header__topbar__content, .o-useragent-ie8 .o-ft-header__topbar__content {
  width: 960px;
  max-width: none; }
.o-useragent-ie7 .o-ft-header__topbar__content,
.o-useragent-ie8 .o-ft-header__topbar__content {
  padding-right: 0; }
  .o-useragent-ie7 .o-ft-header__topbar__content > .o-grid-row,
  .o-useragent-ie8 .o-ft-header__topbar__content > .o-grid-row {
    margin-right: 0; }

/**
 * Colour palette
 *
 * These are the colours that make up the FT palette.  We don't use these colours directly, but instead assign them to 'use cases', which are defined in use-cases.scss.  In the list below, each line contains a color name and a colour code, and is finished with a comma:
 *
 *  <colorname>   <colour code>,
 *
 * The colour name must be a single word comprising just letters, numbers, and dashes.  You can have as many spaces between the colour name and the colour code as you like (so you can line them up neatly), and you *MUST* finish the line with a comma (except the final entry, which should not have a comma)
 */
/**
 * Colour use cases
 *
 * These mappings define what we use our colours for.  In the list below, each line contains a use case, a color name, a role, an optional status flag, and is finished with a comma:
 *
 *  <use case>   <colorname>   <role>   [<status>],
 *
 * The use case name must be a single word comprising just letters, numbers, and dashes.  
 * The colour name should be an exact match for a colour defiend in palette.scss
 * The role must be 'text', 'border', or 'background'.   
 * The status must be 'DEPRECATED' or absent
 * You can have as many spaces between each entry as you like (so you can line them up neatly), and you *MUST* finish each line with a comma (except the final entry, which should not have a comma).
 */
.o-dialog--modal__content {
  background-color: white; }

.o-dialog--modal__content {
  color: #333333; }

.o-dialog--modal .o-dialog__heading {
  background-color: #a7a59b; }

.o-dialog--modal .o-dialog__heading {
  color: white; }

.o-dialog__close {
  background-color: #2e6e9e; }

/* Load fonts */
.o-ft-header {
  min-height: 77px; }

.o-ft-header__topbar {
  position: relative;
  z-index: 2; }

@media screen and (max-width: 600px) {
  .o-ft-header {
    min-height: 77px; }

  .o-ft-header__topbar {
    position: fixed;
    top: 0px;
    right: 0;
    left: 0;
    z-index: 2; }

  .o-useragent-ie7 .o-ft-header, .o-useragent-ie8 .o-ft-header {
    min-height: 77px; }
  .o-useragent-ie7 .o-ft-header__topbar, .o-useragent-ie8 .o-ft-header__topbar {
    position: relative;
    z-index: 2; } }
@media screen and (min-width: 601px) and (max-width: 1000px) {
  .o-ft-header {
    min-height: 77px; }

  .o-ft-header__topbar {
    position: fixed;
    top: 0px;
    right: 0;
    left: 0;
    z-index: 2; }

  .o-useragent-ie7 .o-ft-header, .o-useragent-ie8 .o-ft-header {
    min-height: 77px; }
  .o-useragent-ie7 .o-ft-header__topbar, .o-useragent-ie8 .o-ft-header__topbar {
    position: relative;
    z-index: 2; } }
.o-ft-header {
  margin-bottom: 10px; }

.o-ft-header__topbar {
  height: 50px;
  background-color: #333333; }

.o-ft-header__logo {
  display: block;
  padding: 11px 0 31px;
  width: 82px;
  height: 35px;
  float: left;
  background: url(../bower_components/o-ft-header/img/ft-logo.gif) no-repeat; }

.o-ft-header__logo__ft-initials {
  display: none; }

.inlinesvg .o-ft-header__logo {
  background: #ffe2c6;
  background: -moz-linear-gradient(top, #ffe2c6 0%, #f7d8b9 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffe2c6), color-stop(100%, #f7d8b9));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffe2c6 0%, #f7d8b9 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffe2c6 0%, #f7d8b9 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffe2c6 0%, #f7d8b9 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffe2c6 0%, #f7d8b9 100%);
  /* W3C */ }

.inlinesvg .o-ft-header__logo__ft-initials {
  display: block;
  height: 35px;
  fill: #333333;
  width: 100%; }

.o-ft-header__topbar__items {
  text-align: right;
  overflow: hidden;
  height: 50px; }

html {
  min-height: 100%;
  height: 100%; }

body {
  height: 100%; }

body {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%; }

.nav {
  position: fixed;
  width: 100%;
  height: 30px;
  top: 100px; }

.nav__bar {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 30px;
  background: red;
  top: 0;
  z-index: 1; }

.hidden {
  display: none; }

.bottom {
  top: auto;
  bottom: 0; }

.right {
  float: right; }

.left {
  float: left; }

.top-right {
  margin-left: 100px;
  margin-bottom: 60px; }

.top-right .o-dialog__content {
  max-width: 250px; }

.top-left {
  margin-right: 50px; }

.top-left .o-dialog__content {
  min-width: 400px; }

.bottom-right {
  right: 0;
  bottom: 30px;
  margin-left: 100px; }

.bottom-right .o-dialog__content {
  max-width: 250px;
  right: 0; }

.bottom-left {
  left: 0;
  bottom: 30px;
  margin-right: 50px; }

.bottom-left .o-dialog__content {
  min-width: 400px;
  left: 0; }
