html, body {
  margin: 0;
  padding: 0; }

/**
 * Colour palette
 *
 * These are the colours that make up the FT palette.  We don't use these colours directly, but instead assign them to 'use cases', which are defined in use-cases.scss.  In the list below, each line contains a color name and a colour code, and is finished with a comma:
 *
 *  <colorname>   <colour code>,
 *
 * The colour name must be a single word comprising just letters, numbers, and dashes.  You can have as many spaces between the colour name and the colour code as you like (so you can line them up neatly), and you *MUST* finish the line with a comma (except the final entry, which should not have a comma)
 */
/**
 * Colour use cases
 *
 * These mappings define what we use our colours for.  In the list below, each line contains a use case, a color name and a role, and is finished with a comma:
 *
 *  <use case>   <colorname>   <role>,
 *
 * The use case name must be a single word comprising just letters, numbers, and dashes.  The colour name should be an exact match for a colour defiend in palette.scss, and the role must be 'text', 'border', or 'background'.   You can have as many spaces between each entry as you like (so you can line them up neatly), and you *MUST* finish each line with a comma (except the final entry, which should not have a comma).
 */
/* Load fonts */
/* Headings */
/* Titles */
/* Article subheadings ('leads') */
/* Links */
/* Article metadata */
/* Article content */
/* Utility mixins for body text*/
/**
 * Colour palette
 *
 * These are the colours that make up the FT palette.  We don't use these colours directly, but instead assign them to 'use cases', which are defined in use-cases.scss.  In the list below, each line contains a color name and a colour code, and is finished with a comma:
 *
 *  <colorname>   <colour code>,
 *
 * The colour name must be a single word comprising just letters, numbers, and dashes.  You can have as many spaces between the colour name and the colour code as you like (so you can line them up neatly), and you *MUST* finish the line with a comma (except the final entry, which should not have a comma)
 */
/**
 * Colour use cases
 *
 * These mappings define what we use our colours for.  In the list below, each line contains a use case, a color name and a role, and is finished with a comma:
 *
 *  <use case>   <colorname>   <role>,
 *
 * The use case name must be a single word comprising just letters, numbers, and dashes.  The colour name should be an exact match for a colour defiend in palette.scss, and the role must be 'text', 'border', or 'background'.   You can have as many spaces between each entry as you like (so you can line them up neatly), and you *MUST* finish each line with a comma (except the final entry, which should not have a comma).
 */
/**


**/
/*
	This mixin allows ie7 and 8 to be targeted using either
	* specific classes for each of ie7 and ie8
	* 'less than' classes targeting ie versions less than a given version e.g. lt-ie9 & lt-ie8
*/
/* 
	Deprectaes support for ie7 or 8, making sure that both browser specific and lt- selectors are removed
*/
/* 
	Note: The identically named mixins and functions below is not a mistake; it means they can be used to either 
	output a string or to wrap some style rules in a selector
*/
.o-ft-footer__row, .o-ft-footer__full-width-row {
  margin: 0 auto; }

.o-ft-footer__row, .o-ft-footer__full-width-row {
  clear: both;
  width: 100%; }

.o-ft-footer__row:after, .o-ft-footer__full-width-row:after {
  content: '';
  display: block;
  clear: both; }

.o-ft-footer__row, .o-ft-footer__full-width-row {
  max-width: 600px;
  min-width: 240px; }

.o-ft-footer__row .o-ft-footer__row, .o-ft-footer__full-width-row .o-ft-footer__row, .o-ft-footer__row .o-ft-footer__full-width-row, .o-ft-footer__full-width-row .o-ft-footer__full-width-row {
  margin-left: -1%;
  margin-right: -1%;
  width: auto;
  max-width: none;
  min-width: 0; }

.o-ft-footer__full-width-row, .o-ft-footer__link-wrapper {
  float: left;
  padding-left: 1%;
  padding-right: 1%; }

.o-ft-footer__full-width-row {
  float: none;
  clear: both;
  display: block;
  width: 98%; }

.o-ft-footer__link-wrapper {
  width: 48%; }

/* Override fixed defaults for responsive grid */
@media screen {
  .o-ft-footer__row .o-ft-footer__row, .o-ft-footer__full-width-row .o-ft-footer__row, .o-ft-footer__row .o-ft-footer__full-width-row, .o-ft-footer__full-width-row .o-ft-footer__full-width-row {
    margin-left: -10px;
    margin-right: -10px;
    width: auto; }

  .o-ft-footer__full-width-row, .o-ft-footer__link-wrapper {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .o-grid-row-compact > .o-ft-footer__full-width-row, .o-grid-row-compact > .o-ft-footer__link-wrapper {
    padding-left: 0;
    padding-right: 0; }

  .o-ft-footer__link-wrapper {
    width: auto; } }
@media screen {
  .o-ft-footer__row, .o-ft-footer__full-width-row {
    max-width: none; }

  .o-ft-footer__full-width-row {
    float: none;
    clear: both;
    display: block;
    width: 100%; } }
@media screen and (max-width: 600px) {
  .o-ft-footer__row, .o-ft-footer__full-width-row {
    max-width: none; }

  .o-ft-footer__link-wrapper {
    width: 50%; }

  /* ensures d12 and d0 can be over-ridden by styles for S layout */
  .o-ft-footer__link-wrapper {
    float: left;
    clear: none;
    display: block; } }
@media screen and (min-width: 601px) and (max-width: 1000px) {
  .o-ft-footer__row, .o-ft-footer__full-width-row {
    max-width: none; }

  .o-ft-footer__link-wrapper {
    width: 50%; }

  /* ensures d12 and d0 can be over-ridden by styles for M layout */
  .o-ft-footer__link-wrapper {
    float: left;
    clear: none;
    display: block; } }
@media screen and (min-width: 1001px) and (max-width: 1400px) {
  .o-ft-footer__row, .o-ft-footer__full-width-row {
    max-width: none; }

  /* ensures d12 and d0 can be over-ridden by styles for L layout */ }
.o-useragent-ie7, .o-useragent-ie8 {
  /* ensures d12 and d0 can be over-ridden by styles for L layout */ }
  .o-useragent-ie7 .o-ft-footer__row, .o-useragent-ie7 .o-ft-footer__full-width-row, .o-useragent-ie8 .o-ft-footer__row, .o-useragent-ie8 .o-ft-footer__full-width-row {
    max-width: none; }
@media screen and (min-width: 1401px) {
  .o-ft-footer__row, .o-ft-footer__full-width-row {
    max-width: 1360px; }

  /* ensures d12 and d0 can be over-ridden by styles for XL layout */ }
.o-useragent-ie7 .o-ft-footer__row .o-ft-footer__row, .o-useragent-ie7 .o-ft-footer__full-width-row .o-ft-footer__row, .o-useragent-ie7 .o-ft-footer__row .o-ft-footer__full-width-row, .o-useragent-ie7 .o-ft-footer__full-width-row .o-ft-footer__full-width-row, .o-useragent-ie8 .o-ft-footer__row .o-ft-footer__row, .o-useragent-ie8 .o-ft-footer__full-width-row .o-ft-footer__row, .o-useragent-ie8 .o-ft-footer__row .o-ft-footer__full-width-row, .o-useragent-ie8 .o-ft-footer__full-width-row .o-ft-footer__full-width-row {
  margin-left: -5px;
  margin-right: -5px;
  width: auto; }
.o-useragent-ie7 .o-ft-footer__full-width-row, .o-useragent-ie7 .o-ft-footer__link-wrapper, .o-useragent-ie8 .o-ft-footer__full-width-row, .o-useragent-ie8 .o-ft-footer__link-wrapper {
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(../bower_components/o-useragent/polyfills/boxsizing.htc); }
.o-useragent-ie7 .o-grid-row-compact > .o-ft-footer__full-width-row, .o-useragent-ie7 .o-grid-row-compact > .o-ft-footer__link-wrapper, .o-useragent-ie8 .o-grid-row-compact > .o-ft-footer__full-width-row, .o-useragent-ie8 .o-grid-row-compact > .o-ft-footer__link-wrapper {
  padding-left: 0;
  padding-right: 0; }
.o-useragent-ie7 .o-ft-footer__full-width-row, .o-useragent-ie8 .o-ft-footer__full-width-row {
  float: none;
  clear: both;
  display: block;
  width: 100%; }
.o-useragent-ie7 .o-ft-footer__row, .o-useragent-ie7 .o-ft-footer__full-width-row, .o-useragent-ie8 .o-ft-footer__row, .o-useragent-ie8 .o-ft-footer__full-width-row {
  width: 960px;
  max-width: none; }
@font-face {
  font-family: BentonSans-normal;
  font-style: normal;
  font-weight: normal;
  src: url(../bower_components/o-fonts/webfonts/BentonSans-normal.eot);
  src: url(../bower_components/o-fonts/webfonts/BentonSans-normal.eot?#iefix) format("embedded-opentype"), url(../bower_components/o-fonts/webfonts/BentonSans-normal.woff) format("woff"), url(../bower_components/o-fonts/webfonts/BentonSans-normal.ttf) format("truetype"); }

.o-ft-footer {
  margin-top: 10px;
  padding-top: 5px;
  background-color: #f6e9d8;
  font-size: 14px;
  font-family: BentonSans-normal, Helvetica, Arial, sans-serif; }

.o-ft-footer__link:link,
.o-ft-footer__link:visited {
  display: block;
  border-bottom: 1px solid #e9decf;
  color: #333333;
  font-size: 14px;
  line-height: 29px;
  text-decoration: none; }

.o-ft-footer__link:hover,
.o-ft-footer__link:focus {
  color: #2e6e9e; }

.o-ft-footer__copyright {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #333333;
  font-size: 9px;
  line-height: 14px; }

.o-ft-footer__copyright-text {
  display: inline-block;
  padding-right: 10px; }

.o-ft-footer__pearson-row {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #e9decf; }

.o-ft-footer__pearson {
  height: 16px;
  background-image: url(../bower_components/o-ft-footer/img/pearson_sprite.gif);
  fill: #74736c; }
  .o-ft-footer__pearson svg {
    display: none; }

.inlinesvg .o-ft-footer__pearson {
  background-image: none; }
  .inlinesvg .o-ft-footer__pearson svg {
    display: block; }

.o-ft-footer__pearson-tagline {
  float: left;
  width: 170px; }

.o-ft-footer__pearson-logo {
  float: right;
  width: 100px;
  background-position: 0 -16px; }
