---
import Layout from "@/layouts/Layout.astro"

const title = "Origami Storybook"
const description = "Storybook for Origami components and services"
---

<Layout>
	<div class="o-layout__hero o-layout__hero--muted o-layout-typography">
		<h1>{title}</h1>
		<p>Interactive component demos and documentation.</p>
	</div>
	<div class="o-layout__main o-layout-typography">
		<div class="o-layout__overview">
			<div class="o-layout-item">
				<p>
					We are aiming to replace the
					<a href="https://registry.origami.ft.com/components"
						>Origami Registry</a
					>, that is used to view Origami component demos and documentation,
					with a new Storybook interface. The reasoning behind choosing
					Storybook is that it is a well known and widely used tool for
					documenting and making highly interactive component demos.
				</p>
				<p>
					Storybook is still work in progress project and not all components
					have demos. If you don't find the component in storybook, for the
					moment you will need to reference the
					<a href="https://registry.origami.ft.com/components"
						>Origami Registry</a
					>
					instead.
				</p>
				<p>
					We wrote more about this in our
					<a href="/blog/2021/11/05/newsletter/#storybook"
						>October 2021 newsletter</a
					>.
				</p>
			</div>
			<div class="o-layout-item">
				<h2>Supported Brands</h2>
				<ul>
					<li>
						<a href="/storybook/brands/core/"> Core</a>
					</li>
					<li>
						<a href="/storybook/brands/internal/"> Internal</a>
					</li>
					<li>
						<a href="/storybook/brands/whitelabel/"> Whitelabel</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</Layout>
