<div class="demo-wrapper">
	{{#secondary}}
		<div class="demo-color">
			<h4 class="o-colors-border-{{name}}">{{name}}</h4>
			<div class="swatch o-colors-demo-{{name}}" data-o-color="{{name}}">
				<span class="hex"></span>
			</div>
		</div>
	{{/secondary}}
</div>
