#{$o-quote-class-type}o-quote--standard {
  background-color: oColorsGetColorFor(o-quote, background);
  line-height: 21px;

  a {
    color: oColorsGetColorFor(o-quote, text);
  }

  p {
    color: oColorsGetColorFor(o-quote, text);
    font-size: 16px;
    font-family: oFontsGetFontFamilyWithFallbacks(BentonSans);
    font-style: italic;
  }

  // Quote marks
  p:before,
  p:after {
    font-family: oFontsGetFontFamilyWithFallbacks(MillerDisplay);
    font-size: 60px;
    font-style: normal;
    display: inline-block;
    line-height: 0;
    vertical-align: top;
  }
  p:before {
    margin-top: 21px;
    margin-right: 7px;
  }
  p:after {
    margin-top: 29px;
    margin-left: 9px;
  }

  #{$o-quote-class-type}o-quote__cite {
    font-size: 16px;
    font-family: oFontsGetFontFamilyWithFallbacks(BentonSans);
    font-weight: normal;
    font-style: normal;
  
    &:before {
      content: '-';
      margin-right: 4px;
    }
  }
}