////
/// @group o-quote
/// @link http://registry.origami.ft.com/components/o-quote
////

@mixin oQuoteStandardIcon {
	position: absolute;
	top: oTypographySpacingSize($units: 4);
	left: oTypographySpacingSize($units: 2);
	@include oIconsGetIcon('speech-left', oColorsGetPaletteColor('claret-80'), 50, $iconset-version: 1);
}

/// Add to container for a standard quote
@mixin oQuoteStandard {
	background-color: oColorsGetColorFor(o-quote, background);
	position: relative;
	.o-quote-icon {
		@include oQuoteStandardIcon;
	}

	a {
		@include oTypographyLink;
	}

	p {
		color: oColorsGetColorFor(body, text);
	}
}

@mixin oQuoteStandardCiteAuthor {
	text-transform: uppercase;
	display: block;
	@include oTypographySansBold($scale: 0);
}

@mixin oQuoteStandardCiteSource {
	display: block;
}

/// Apply this to a <cite> within a standard quote block
@mixin oQuoteStandardCite {
	@include oTypographySans($scale: 1);
	font-weight: normal;
	font-style: normal;
	color: oColorsGetColorFor(body, text);
	a {
		@include oTypographyLink;
	}
	.o-quote__author {
		@include oQuoteStandardCiteAuthor;
	}
	.o-quote__source {
		@include oQuoteStandardCiteSource;
	}
}

@if $o-quote-is-silent == false {
	.o-quote--standard {
		@include oQuoteStandard;
	}

	.o-quote--standard .o-quote__cite {
		@include oQuoteStandardCite;
	}
}
