@import "scss/typography";

.message {
	$anim-duration : 250ms;
	$close-icon-size : 20;
	$close-icon-size-px : #{$close-icon-size}px;

	font-family: $fontBrand;
	margin: 0;
	box-sizing: border-box;
	width: 100%;
	padding: 0px;
	background-color: #bcd7e5;
	color: #003d5b;
	max-height: 0px;
	transition: all $anim-duration ease-out;
	overflow: hidden;

	.message__content-wrapper {
		margin: 0 auto;
		width: 100%;
		max-width: 600px;
		position: relative;
		opacity: 0;
		transition: all $anim-duration linear;
	}

	.message__content > *:first-child {
		margin-top: 0;
	}

	.message__content > *:last-child {
		margin-bottom: 0;
	}

	.message__close {
		display: none;
	}

	&.message--show-close .message__close {
		position: absolute;
		right: 5px;
		top: -20px;
		width: $close-icon-size-px;
		height: $close-icon-size-px;
		overflow: hidden;

		&:before {
			content: '';
			display: block;
			width: $close-icon-size-px;
			height: $close-icon-size-px;
			background-image: url('http://image.webservices.ft.com/v1/images/raw/fticon:cross?source=next&format=png&width=#{$close-icon-size}');
		}

		&:hover {
			opacity: 0.8;
		}
	}


	&.visible {
		max-height: 400px;
		padding: 25px;

		.message__content-wrapper {
			opacity: 1;
		}
	}
}

@import "scss/optin";
