.o-layout {
	display: grid;
	grid-template-columns: 25% oTypographyMaxLineWidth(3) 20%;
	column-gap: 20px;
}


.left-column {
	position: sticky;
	height: 10vh;
	top: 0;
	padding: 20px;

	ol {
		list-style: none;
		padding: 0;
	}
}

.center-column {
	text-align: justify;
}
