/// @group o-overlay
/// @link http://registry.origami.ft.com/components/o-overlay

/// Helper for `o-brand` function.
/// @access private
@function _oOverlayGet($variables, $from: null) {
	@return oBrandGet($component: 'o-overlay', $variables: $variables, $from: $from);
}

@if oBrandIs('core') {
	@include oBrandDefine('o-overlay', 'core', (
		'variables': (
			default-background: oPrivateFoundationGet('o3-color-palette-white'),
			default-border: oPrivateFoundationGet('o3-color-palette-black-20'),
			heading-background: transparent,
			heading-text: oPrivateFoundationGet('o3-color-palette-black-80'),
			shaded-heading-background: oPrivateFoundationGet('o3-color-palette-black-80'),
			shaded-heading-border: oPrivateFoundationGet('o3-color-palette-black-80'),
			shaded-heading-text: oPrivateFoundationGet('o3-color-palette-white'),
			default-close-background: oPrivateFoundationGet('o3-color-palette-white'),
			default-close-text: oPrivateFoundationGet('o3-color-palette-black-60'),
			default-close-border: oPrivateFoundationGet('o3-color-palette-black-50'),
			shaded-close-background: oPrivateFoundationGet('o3-color-palette-black-50'),
			shaded-close-text: oPrivateFoundationGet('o3-color-palette-white'),
			shaded-close-border: oPrivateFoundationGet('o3-color-palette-white')
		),
		'supports-variants': ()
	));
}

@if oBrandIs('internal') {
	@include oBrandDefine('o-overlay', 'internal', (
		'variables': (
			default-background: oPrivateFoundationGet('o3-color-palette-white'),
			default-border: transparent,
			heading-background: transparent,
			heading-text: oPrivateFoundationGet('o3-color-palette-black-80'),
			shaded-heading-background: oPrivateFoundationGet('o3-color-palette-slate'),
			shaded-heading-border: oPrivateFoundationGet('o3-color-palette-slate'),
			shaded-heading-text: oPrivateFoundationGet('o3-color-palette-white'),
			default-close-background: oPrivateFoundationGet('o3-color-palette-white'),
			default-close-text: oPrivateFoundationGet('o3-color-palette-black-60'),
			default-close-border: oPrivateFoundationGet('o3-color-palette-slate-white-5'),
			shaded-close-background: oPrivateFoundationGet('o3-color-palette-slate'),
			shaded-close-text: oPrivateFoundationGet('o3-color-palette-white'),
			shaded-close-border: oPrivateFoundationGet('o3-color-palette-white')
		),
		'supports-variants': ()
	));
}

@if oBrandIs('whitelabel') {
	@include oBrandDefine('o-overlay', 'whitelabel', (
		'variables': (
			default-background: oPrivateFoundationGet('o3-color-palette-white'),
			default-border: transparent,
			heading-background: transparent,
			heading-text: oPrivateFoundationGet('o3-color-palette-black-80'),
			shaded-heading-background: oPrivateFoundationGet('o3-color-palette-black'),
			shaded-heading-border: oPrivateFoundationGet('o3-color-palette-black'),
			shaded-heading-text: oPrivateFoundationGet('o3-color-palette-white'),
			default-close-background: oPrivateFoundationGet('o3-color-palette-white'),
			default-close-text: oPrivateFoundationGet('o3-color-palette-black'),
			default-close-border: oPrivateFoundationGet('o3-color-palette-black'),
			shaded-close-background: oPrivateFoundationGet('o3-color-palette-black'),
			shaded-close-text: oPrivateFoundationGet('o3-color-palette-white'),
			shaded-close-border: oPrivateFoundationGet('o3-color-palette-white')
		),
		'supports-variants': ()
	));
}
