.o3-social-sign-in-button {
    --_o3-social-sign-in-min-height: 40px;
    --_o3-social-sign-in-block-padding: var(--o3-spacing-4xs);
    --_o3-icon-size: calc(
            var(--_o3-social-sign-in-min-height) - (var(--_o3-social-sign-in-block-padding) * 2)
    );

    min-width: 140px;
    --o3-grid-columns-to-span-count: 4;
    max-width: var(--o3-grid-columns-to-span-width);
    width: 100%;
    min-height: var(--_o3-social-sign-in-min-height);
    padding: 0 var(--o3-spacing-m) 0 var(--o3-spacing-s);
    display: inline-flex;
    gap: var(--o3-spacing-s);
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    font-size: var(--o3-font-size-negative-1);
    line-height: var(--o3-font-lineheight-negative-1);
    font-weight: var(--o3-font-weight-semibold);
    font-family: var(--o3-font-family-metric), sans-serif;

    border: 1px solid var(--_o3-social-sign-in-border-color);
    text-align: center;
    text-decoration: none;
    cursor: pointer;

    color: var(--_o3-social-sign-in-color);
    background: var(--_o3-social-sign-in-background-color);
}

.o3-social-sign-in-button__copy {
    margin-right: auto;
    margin-left: auto;
}

.o3-social-sign-in-button--apple {
    --_o3-social-sign-in-background-color: var(--o3-color-palette-black);
    --_o3-social-sign-in-color: var(--o3-color-palette-white);
    --_o3-social-sign-in-border-color: transparrent;
}
.o3-social-sign-in-button--google {
    --_o3-social-sign-in-background-color: var(--o3-color-palette-white);
    --_o3-social-sign-in-color: var(--o3-color-palette-black);
    --_o3-social-sign-in-border-color: var(--o3-color-palette-black);
}

.o3-social-sign-in-button--google > .o3-social-sign-in-button__icon {
    margin-top: 4px;
}

@media (forced-colors: active) {
    .o3-social-sign-in-button > .o3-social-sign-in-button__icon {
        display: none;
    }

    .o3-social-sign-in-button {
        padding-right: var(--_o3-social-sign-in-inline-padding-start)
    }
}
