/// Teaser heading styles.
/// Including styles for a nested link.
/// @access public
@mixin oTeaserHeading {
	@include oTypographyDisplay(2);
	@include _oTeaserLink();
	color: $_o-teaser-base-color;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: oFontsWeight(normal);
}


/// Base styles for a teaser
/// sets the font and basic display properties
@mixin _oTeaserBase {
	@include oTypographySans(-1);
	position: relative;
	width: 100%;
	text-rendering: optimizeLegibility;
	margin-bottom: oSpacingByName('s4');

	// sass-lint:disable no-vendor-prefixes
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/*autoprefixer: off*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	// sass-lint:enable no-vendor-prefixes

	& *,
	& *:before,
	& *:after {
		// sass-lint:disable no-vendor-prefixes
		/*autoprefixer: off*/
		-webkit-box-sizing: inherit;
		-moz-box-sizing: inherit;
		box-sizing: inherit;
		// sass-lint:enable no-vendor-prefixes
	}
}

/// Meta area and colouring styles
@mixin _oTeaserMeta {
	@include oTypographySans(0, 20px, $include-font-family: false);
	color: oColorsByUsecase('o-teaser/tag', 'text');
}

/// Tag styling.
/// Element should be a link, otherwise use _oTeaserMeta
@mixin _oTeaserTag {
	@include oTypographySans($weight: 'semibold', $include-font-family: false);
	color: inherit;
	text-decoration: none;
	border: 0;
	margin-right: 0.25em;

	&:hover,
	&:focus {
		color: $_o-teaser-focus-hover;
	}

	span {
		display: inline-block;
	}
}

@mixin _oTeaserTagPrefix {
	margin-right: 0.25em;
}

@mixin _oTeaserTagSuffix {
	@include oTypographySans(-1, $include-font-family: false);
	color: oColorsByName('black-60');
}

/// Styles for standfirst element
@mixin _oTeaserStandfirst {
	@include oTypographySans(0, 20px, $include-font-family: false);
	@include _oTeaserLink();
	color: $_o-teaser-muted;
	margin-top: 0;
	margin-bottom: 0;

	.o-teaser__heading + & {
		margin-top: 10px;
	}
}

/// Links within title or standfirst
@mixin _oTeaserLink {
	a {
		padding: 2px 0;
		color: inherit;
		text-decoration: none;
		border: 0;

		&:focus,
		&:hover {
			color: $_o-teaser-focus-hover;
		}

		&:visited {
			color: $_o-teaser-muted;
		}
	}
}
