/// Base styles for a teaser
/// sets the font and basic display properties
@mixin oTeaserBase {
	@include oTypographySans(-1);
	position: relative;
	width: 100%;
	text-rendering: optimizeLegibility;
	margin-bottom: oSpacingByName('s4');

	// sass-lint:disable no-vendor-prefixes
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/*autoprefixer: off*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	// sass-lint:enable no-vendor-prefixes

	& *,
	& *:before,
	& *:after {
		// sass-lint:disable no-vendor-prefixes
		/*autoprefixer: off*/
		-webkit-box-sizing: inherit;
		-moz-box-sizing: inherit;
		box-sizing: inherit;
		// sass-lint:enable no-vendor-prefixes
	}
}

/// Teaser heading styles.
/// Including link and hover styling.
@mixin oTeaserHeading {
	@include oTypographyDisplay(2);
	@include oColorsFor('o-teaser', text, 100);
	@include oTeaserLink();
	margin-top: 0;
	margin-bottom: 0;
	font-weight: oFontsWeight(normal);
}

/// Meta area and colouring styles
@mixin oTeaserMeta {
	@include oTypographySize(0, 20px);
	@include oColorsFor('o-teaser-tag', 'text');
}

/// Tag styling.
/// Element should be a link, otherwise use oTeaserMeta
@mixin oTeaserTag {
	@include oTypographyBold('sans');
	color: inherit;
	text-decoration: none;
	border: 0;
	margin-right: 0.25em;

	&:hover,
	&:focus {
		@include oColorsFor('o-teaser', text, 55);
	}

	span {
		display: inline-block;
	}
}

@mixin oTeaserTagPrefix {
	margin-right: 0.25em;
}

@mixin oTeaserTagSuffix {
	@include _oTypographyFontSize(-1);
	color: oColorsGetPaletteColor('black-60');
}

/// Video duration styles
// NOTE: deprecate this element in next major version in favour of tag-suffix
@mixin oTeaserDuration {
	@include _oTypographyFontSize(-1);
	color: oColorsGetPaletteColor('black-60');
}

/// Styles for standfirst element
@mixin oTeaserStandfirst {
	@include oTypographySize(0, 20px);
	@include oColorsFor('o-teaser', text, 60);
	@include oTeaserLink();
	margin-top: 0;
	margin-bottom: 0;

	.o-teaser__heading + & {
		margin-top: 10px;
	}
}

/// Links within title or standfirst
@mixin oTeaserLink {
	a {
		padding: 2px 0;
		color: inherit;
		text-decoration: none;
		border: 0;

		&:focus,
		&:hover {
			@include oColorsFor('o-teaser', text, 55);
		}

		&:visited {
			@include oColorsFor('o-teaser', text, 60);
		}
	}
}
