/// Promoted content theme
@mixin _oTeaserPromotedContent {
	@include oColorsFor('o-teaser-theme-promoted-content');
	// Hack to force a higher specificity than .o-teaser--small which
	// adds a padding-bottom of 16px. This needs to be added three times
	// so that it has a higher specificity than
	// .o-teaser-small.o-teaser-stacked
	&#{&}#{&} {
	    padding: 12px;
	}

	.o-teaser__heading a {
		@include oTypographyLinkExternalIcon(oColorsGetPaletteColor('black-80'));
	}

	.o-teaser__meta {
		@include oTypographyBold('sans');
		color: oColorsGetPaletteColor('black-80');
	}

	.o-teaser__promoted-prefix {
		@include oLabelsContent($opts: ('state': 'content-commercial', 'base': true, 'size': 'small'));
	}
}

/// Paid post theme
@mixin _oTeaserPaidPost {
	@include oColorsFor('o-teaser-theme-paid-post');
	// Hack to force a higher specificity than .o-teaser--small which
	// adds a padding-bottom of 16px
	&#{&} {
	        padding: 12px;
	}

	.o-teaser__meta {
		@include oTypographyBold('sans');
		color: oColorsGetPaletteColor('black-80');
	}

	.o-teaser__promoted-prefix {
		@include oLabelsContent($opts: ('state': 'content-commercial', 'base': true, 'size': 'small'));
	}
}
