
@mixin _oTeaserSyndicationIndicator {
	.o-teaser__syndication-indicator {
		position: relative;
		top: oSpacingByName('s1');
		border-radius: 50%;

		span {
			position: absolute;
			clip: rect(1px, 1px, 1px, 1px);
			padding: 0;
			border: 0;
			height: 1px;
			width: 1px;
			overflow: hidden;
		}
	}

	.syndi.o-teaser__syndication-indicator {
		@include oIconsGetIcon('minus', oColorsGetPaletteColor('white'), 20, $iconset-version: 1);
		background-color: oColorsGetPaletteColor('black-40');
    }

	.o-teaser__syndication-indicator--yes,
	.syndi.o-teaser__syndication-indicator--yes {
		@include oIconsGetIcon('tick', oColorsGetPaletteColor('white'), 20, $iconset-version: 1);
		background-color: oColorsGetPaletteColor('jade');
	}

	.o-teaser__syndication-indicator--no,
	.syndi.o-teaser__syndication-indicator--no {
		@include oIconsGetIcon('minus', oColorsGetPaletteColor('white'), 20, $iconset-version: 1);
		background-color: oColorsGetPaletteColor('crimson');
	}

	.o-teaser__syndication-indicator--verify,
	.syndi.o-teaser__syndication-indicator--verify {
		@include oIconsGetIcon('tick', oColorsGetPaletteColor('white'), 20, $iconset-version: 1);
		background-color: oColorsGetPaletteColor('mandarin');
	}
}
