
@mixin oTeaserSyndicationIndicator {
	.o-teaser__syndication-indicator {
		position: relative;
		top: oTypographySpacingSize(1);
		border-radius: 50%;

		span {
			position: absolute;
			clip: rect(1px, 1px, 1px, 1px);
			padding: 0;
			border: 0;
			height: 1px;
			width: 1px;
			overflow: hidden;
		}
	}

	.o-teaser__syndication-indicator--yes {
		@include oIconsGetIcon('tick', oColorsGetPaletteColor('white'), 20, $iconset-version: 1);
		background-color: oColorsGetPaletteColor('jade');
	}

	.o-teaser__syndication-indicator--no {
		@include oIconsGetIcon('minus', oColorsGetPaletteColor('white'), 20, $iconset-version: 1);
		background-color: oColorsGetPaletteColor('crimson');
	}
}
