/// Timestamp base styles
@mixin _oTeaserTimestamp {
	@include oLabelsTimestampContent();
	display: block;
	// Moves timestamp to the bottom when stretched modifier is used
	margin-top: auto;
	// and ensures there is always some gap above
	padding-top: oSpacingByName('s4');
}

/// Timestamp variant styles adding coloured prefixes.
/// Includes keyframe declaration so must be used outside of
/// a selector
@mixin _oTeaserTimestampVariants {
	// Output o-labels indicators.
	.o-teaser__timestamp {
		@include oLabelsIndicatorContent($opts: ('block': true));
	}

	.o-teaser__timestamp--new {
		@include oLabelsIndicatorContent($opts: ('block': true, 'modifier': 'new'));
	}

	.o-teaser__timestamp--updated {
		@include oLabelsIndicatorContent($opts: ('block': true, 'modifier': 'updated'));
	}

	.o-teaser__timestamp--inprogress {
		@include oLabelsIndicatorContent($opts: ('block': true, 'modifier': 'live'));
	}

	.o-teaser__timestamp-prefix {
		@include oLabelsIndicatorContent($opts: ('element': 'status'));
	}

	.o-teaser__timestamp-date {
		@include oLabelsIndicatorContent($opts: ('element': 'timestamp'));
	}

	// Output modifiers for custom, teaser specific indicator styles.
	.o-teaser__timestamp--comingsoon {
		color: oColorsByName('o-teaser/live-blog-coming-soon');
	}

	.o-teaser__timestamp--closed {
		color: oColorsByName('o-teaser/live-blog-closed');
	}
}
