////
/// @group o-overlay
/// @link http://registry.origami.ft.com/components/o-overlay
////

/// Base arrow styling
///
/// @access private
///
/// @param {Number} size [10px] - Size of arrow
@mixin _oOverlayArrow($size: 10px) {
	// :before for the outer arrow that has the bordered colour, and :after for the inner arrow with the white background colour
	&:before,
	&:after {
		content: "";
		position: absolute;
		border: solid transparent;
	}
	&:before {
		// 1px offset so it appears properly
		border-width: $size + $_o-overlay-border-width + 1;
	}
	&:after {
		border-width: $size;
	}

	// Replace with style in o-visual-effects in next breaking release (v2)
	// @include oEffectsShadowsElevation($elevation: 'high');
	box-shadow: 0 1px 4px rgba(#505050, 0.15), 0 8px 14px rgba(#505050, 0.2);

}

/// Base top/bottom arrow styling
///
/// @access private
///
/// @param {Number} size [10px] - Size of arrow
@mixin _oOverlayVerticalArrow($size: 10px) {
	@include _oOverlayArrow;

	&:before,
	&:after {
		left: 50%;
	}
	&:before {
		// 1px offset so it appears properly
		margin-left: -$size - $_o-overlay-border-width - 1;
	}
	&:after {
		margin-left: -$size;
	}
}

/// Top arrow styling
///
/// @param {Color} color [oColorsGetColorFor(o-overlay, border)]
@mixin oOverlayUpArrow($color: oColorsGetColorFor(o-overlay, border)) {
	@include _oOverlayVerticalArrow;

	&:before,
	&:after {
		bottom: 100%;
		border-top-width: 0;
	}
	&:before {
		border-bottom-color: $color;
	}
	&:after {
		border-bottom-color: oColorsGetColorFor(o-overlay, background);
	}
}

/// Bottom arrow styling
///
/// @param {Color} color [oColorsGetColorFor(o-overlay, border)]
@mixin oOverlayDownArrow($color: oColorsGetColorFor(o-overlay, border)) {
	@include _oOverlayVerticalArrow;

	&:before,
	&:after {
		top: 100%;
		border-bottom-width: 0;
	}
	&:before {
		border-top-color: $color;
	}
	&:after {
		border-top-color: oColorsGetColorFor(o-overlay, background);
	}
}

/// Base left/right arrow styling
///
/// @access private
///
/// @param {Number} size [10px] - Size of arrow
@mixin _oOverlayHorizontalArrow($size: 10px) {
	@include _oOverlayArrow;

	&:before,
	&:after {
		top: 50%;
	}
	&:before {
		// 1px offset so it appears properly
		margin-top: -$size - $_o-overlay-border-width - 1;
	}
	&:after {
		margin-top: -$size;
	}
}

/// Left arrow styling
///
/// @param {Color} color [oColorsGetColorFor(o-overlay, border)]
@mixin oOverlayLeftArrow($color: oColorsGetColorFor(o-overlay, border)) {
	@include _oOverlayHorizontalArrow;

	&:before,
	&:after {
		right: 100%;
		border-left-width: 0;
	}
	&:before {
		border-right-color: $color;
	}
	&:after {
		border-right-color: oColorsGetColorFor(o-overlay, background);
	}
}

/// Right arrow styling
///
/// @param {Color} color [oColorsGetColorFor(o-overlay, border)]
@mixin oOverlayRightArrow($color: oColorsGetColorFor(o-overlay, border)) {
	@include _oOverlayHorizontalArrow;

	&:before,
	&:after {
		left: 100%;
		border-right-width: 0;
	}
	&:before {
		border-left-color: $color;
	}
	&:after {
		border-left-color: oColorsGetColorFor(o-overlay, background);
	}
}
