.o-header {
	@include oColorsFor(o-header);
	position: sticky;
	z-index: 1;
	padding-bottom: 0;
	top: 0;

	@include oGridRespondTo(M) {
		position: relative;
	}

	label > * {
		pointer-events: none;
	}
}

.o-header__container {
	@include oGridContainer;
}

.o-header__inner {
	@include oGridRow;
}

.o-header__top,
.o-header__bottom {
	@include oGridColspan(12);
}

.o-header__top {
	display: none;
	position: relative;

	@include oGridRespondTo(M) {
		display: block;
	}
}
