////
/// @group o-quote
/// @link http://registry.origami.ft.com/components/o-quote
////

@if $_o-quote-first-import == true {
	%_o-quote {
		padding-top: oSpacingByIncrement(10);
		padding-bottom: oSpacingByIncrement(10);

		// The fonts look quite heavy in Chrome / FF. Add these in to smooth them out.
		// sass-lint:disable no-vendor-prefixes
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		// sass-lint:enable no-vendor-prefixes

		padding-left: oSpacingByIncrement(15);
		padding-right: oSpacingByName('s4');

		display: block;
		margin: 0;

		p {
			@include oTypographySans($scale: 1);
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	%_o-quote-cite {
		display: block;
	}
}

/// Base quote styles
@mixin oQuoteBase {
	@extend %_o-quote;
}

/// Base quote cite styles
/// @output Adds to the %_o-quote-cite placeholder
@mixin oQuoteBaseCite {
	@extend %_o-quote-cite;
}
