/// Base tables styles and simple utility classes.
/// @access private
@mixin _oTableBase() {
	.o-table {
		border-collapse: collapse;
		border-spacing: 0;
		margin: 0;
		width: 100%;

		thead {
			border-bottom: 2px solid _oTableGet('table-data-color');
		}

		th,
		td {
			padding: 10px;
			text-align: left;
			vertical-align: top;
			color: _oTableGet('table-data-color');
			min-width: 3ch; // helps prevent some layout updates
			box-sizing: border-box;
		}

		th {
			@include oTypographySansBold(1);
			background-color: _oTableGet('header-background');
			&:not([scope=row]) {
				vertical-align: bottom;
			}
		}

		td {
			@include oTypographySans(1);
			scroll-snap-align: none center;
			&:empty:before {
				@include oIconsGetIcon('minus', $container-width: 15,  $container-height: 15, $iconset-version: 1);
				content: '';
				vertical-align: middle;
			}
		}

		.o-table__caption {
			text-align: left;
			box-sizing: border-box;
			margin: 0;
			padding: 0 10px;
			width: 100%;
		}

		.o-table__cell--numeric {
			text-align: right;
			font-feature-settings: "tnum" 1;
		}

		.o-table__cell--content-secondary {
			@include oTypographySize(0);
			font-weight: normal;
		}

		.o-table__cell--vertically-center {
			vertical-align: middle;
		}
	}

	.o-table .o-table-footnote,
	.o-table-footnote {
		@include oTypographyCaption();
	}

	.o-table-container > .o-table-footnote {
		margin-left: 10px;
	}

	// A spacing class until we have a generic spacing component users can include.
	// e.g. .o-table.o-table-margin-bottom or .o-table-container.o-table-margin-bottom
	.o-table-margin-bottom {
		margin-bottom: oTypographySpacingSize($units: 4);
	}
}
