////
/// @group Use cases
/// @link http://registry.origami.ft.com/components/o-typography
////

/// General leader styles
@mixin oTypographyLead {
	@include oTypographySans(l);
	margin: 0;
}

@mixin oTypographyLeadSmall {
	@include oTypographySans(m);
	margin: 0;
}

/// General body text (apply to body tag)
@mixin oTypographyBody {
	@include oColorsFor(body, text);
	font: 18px/1.4 Georgia, serif;
	margin: 0.3em 0 0.8em;
}

/// Apply to a block of text
@mixin oTypographyBodyBlock {
	margin-top: 0.3em;
	margin-bottom: 0.8em;
}

/// Styling for <ul> and <ol>
@mixin oTypographyList {
	list-style-position: outside;
	padding-left: 20px;
	font-weight: normal;
	@include oTypographyBody;
	@include oTypographyBodyBlock;
}

/// Styles for <ol> tags
@mixin oTypographyListOrdered {
	list-style-type: decimal;
}

/// Styles for <ul> tags
@mixin oTypographyListUnordered {
	list-style-type: disc;
}

/// Style for <footer> tags
@mixin oTypographyFooter {
	@include oTypographySansData(m);
}

/// Style for <blockquote> tags
@mixin oTypographyBlockquote {
	@include oTypographySerifDisplay(m);
	@include oColorsFor(o-typography-aside-text, text);
}
