/// Helper for `o-brand` function.
/// @access private
@function _oFooterServicesGet($variables, $from: null) {
    @return oBrandGet($component: 'o-footer-services', $variables: $variables, $from: $from);
}

/// Helper for `o-brand` function.
/// @access private
@function _oFooterServicesSupports($variant) {
    @return oBrandSupportsVariant($component: 'o-footer-services', $variant: $variant);
}

$_o-footer-services-shared-brand-config: (
	default-background: oColorsGetPaletteColor('slate-white-5'),
	default-border: oColorsGetPaletteColor('slate-white-15')
);

@include oBrandDefine('o-footer-services', 'master', (
	'variables': $_o-footer-services-shared-brand-config,
	'supports-variants': ()
));

@include oBrandDefine('o-footer-services', 'internal', (
	'variables': $_o-footer-services-shared-brand-config,
	'supports-variants': ()
));
