////
/// @group o-table
/// @link http://registry.origami.ft.com/components/o-table
////

/// Base styles for caption element - add this to any <caption> you use
@mixin oTableCaption {
	@include oTypographySansBold(1);
	@include oTypographyPadding($top: 2, $bottom: 2);
	border-bottom: 2px solid oColorsGetColorFor(o-table-header-row, border);
	border-top: 2px solid oColorsGetColorFor(o-table-header-row, border);
	text-align: center;
	text-transform: uppercase;
}

/// Add this to a caption element at the top of a table
@mixin oTableCaptionTop {
	caption-side: top;
	margin-bottom: -2px;
}

/// Add this to a caption element at the bottom of a table
@mixin oTableCaptionBottom {
	caption-side: bottom;
	margin-bottom: 0;
}
