////
/// @group o-table
/// @link http://registry.origami.ft.com/components/o-table
////

/// Base styles for caption element - add this to any <caption> you use
@mixin oTableCaption {
	border-bottom: 2px solid oColorsGetColorFor(o-table-header-row, border);
	border-top: 2px solid oColorsGetColorFor(o-table-header-row, border);
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
	padding: 9px 0;
	text-align: center;
	text-transform: uppercase;
}

/// Add this to a caption element at the top of a table
@mixin oTableCaptionTop {
	caption-side: top;
	margin-bottom: -2px;
}

/// Add this to a caption element at the bottom of a table
@mixin oTableCaptionBottom {
	caption-side: bottom;
	margin-bottom: 0;
}
