/// @group o-overlay
/// @link http://registry.origami.ft.com/components/o-overlay

/// Helper mixin to target IE8
///
/// @access private
@mixin _oOverlayTargetIE8 {
	@media \0screen {
		@content;
	}
}

/// Overlay close button styles.
///
/// @output The output does not include a class definition, and should be wrapped in a selector.
/// @example scss - Output button styles
///   .my-close-button {
///       @include oOverlayContentClose();
///   }
/// @access public
@mixin oOverlayContentClose {
	@include _oOverlayContentCloseIcon(_oOverlayGet('default-close-text'));
	// start: undo button styles
	appearance: none;
	border: 0;
	font: inherit;
	outline: inherit;
	// end: undo button styles
	box-sizing: content-box;
	float: right;
	position: relative;
	margin: oSpacingByName('s3');
	width: oSpacingByName('s4');
	height: oSpacingByName('s4');
	padding: 0.25em;
	cursor: pointer;
	font-size: 8px;
	line-height: 1;
	user-select: none;

	// Increase hit zone of the button around it for better usability
	&:after {
		position: absolute;
		content: '';
		top: -(oSpacingByName('s3'));
		right: -(oSpacingByName('s3'));
		left: -(oSpacingByName('s3'));
		bottom: -(oSpacingByName('s3'));
	}
}

/// Outputs CSS property names and values for an overlay close button with an icon.
///
/// @param {Color} $color - The colour of the icon.
/// @output The output does not include a class definition, and should be wrapped in a selector.
/// @access private
@mixin _oOverlayContentCloseIcon($color) {
	@include oIconsGetIcon('cross', $color, $container-width: 20px, $iconset-version: 1);
	background-size: contain;
}
