
$accent-color--b2b: #4e96eb; // add to o-colors
$accent-color__lighter--b2b: #99c6fb; // add to o-colors
$accent-color__darker--b2b: #3a70af; // add to o-colors

@include oColorsSetUseCase('o-header-services-top', 'background', 'cold-3');
@include oColorsSetUseCase('o-header-services-top', 'text', 'white');

// blue is a stand in until the b2b b2c colors get added to o-colors
@include oColorsSetUseCase('o-header-services-top-title', 'text', 'blue');

// blue is a stand in until the b2b b2c colors get added to o-colors
@include oColorsSetUseCase('o-header-services-primary-nav', 'background', 'blue');
@include oColorsSetUseCase('o-header-services-primary-nav', 'text', 'white');

// blue is a stand in until the b2b b2c colors get added to o-colors
@include oColorsSetUseCase('o-header-services-primary-nav-item--hover', 'background', 'blue');

// override usecases for o-header-drawer colors eg
//@include oColorsSetUseCase('o-header-color-thing', 'background', 'cold-3');
