// sass-lint:disable no-qualifying-elements
/// @access private
/// @outputs styling for primary navigation drop down menus
@mixin _oHeaderServicesDropDown() {
	.o-header-services {
		li[data-o-header-services-level] {
			position: relative;
			min-height: oTypographySpacingSize(10);

			> a {
				display: inline-block;
			}

			.o-header-services__drop-down-button {
				background-color: transparent;
				border: 0;
				border-left: 1px dotted _oHeaderServicesGet('nav-border');
				height: 100%;
				vertical-align: top;
				padding: 0 0.25rem;

				&:after {
					@include oIconsGetIcon('arrow-down', _oHeaderServicesGet('arrow-icon-color'), 1.5rem);
					content: '';
					transition: transform 0.2s ease;
				}

				&:hover {
					background-color: _oHeaderServicesGet('button-hover-color');

					&:after {
						@if _oHeaderServicesGet('arrow-icon-hover-color') {
							@include oIconsGetIcon('arrow-down', _oHeaderServicesGet('arrow-icon-hover-color'), 1.5rem);
						}
					}
				}
			}

			a[aria-current='true'] + .o-header-services__drop-down-button {
				background-color: _oHeaderServicesGet('nav-hover-background');


				&:hover {
					background-color: _oHeaderServicesGet('button-hover-color');
				}
			}
		}

		ul[data-o-header-services-level] {
			@include oTypographySize(-1);
			background: _oHeaderServicesGet('nav-background');
			border: 1px solid _oHeaderServicesGet('nav-border');
			box-sizing: border-box;
			min-width: auto;
			padding-left: 0;
			position: absolute;
			opacity: 0;
			transform: translateY(-10%);
			transition: opacity 0.1s linear, transform 0.1s ease-in;
			z-index: -1;
			left: -1px;
			height: 0;
			@supports (pointer-events: none) {
				height: auto;
				pointer-events: none;
			}

			&.o-header-services__list--right {
				right: -1px;
				left: auto;
			}
		}

		.core li[data-o-header-services-level]:hover,
		li[aria-expanded=true] {
			.o-header-services__drop-down-button:after {
				transform: rotate(-180deg);
			}

			ul[data-o-header-services-level] {
				height: auto;
				@supports (pointer-events: none) {
					pointer-events: all;
				}
				transform: translateY(0);
				opacity: 1;
			}
		}
	}

	.core .o-header-services {
		li[data-o-header-services-level] .o-header-services__drop-down-button:hover {

			&:after {
				transform: rotate(-180deg);
			}

			+ ul[data-o-header-services-level] {
				transform: translateY(0);
				opacity: 1;
			}
		}
	}
}
// sass-lint:enable no-qualifying-elements
