// .topper__headline {
@mixin oTopperHeadline {
	@include oTypographyHeadline();

	&--large {
		@include oTypographyHeadlineLarge();

		position: relative; //so it appears above the full width background
	}
}

// .topper__standfirst {
@mixin oTopperStandfirst {
	@include oTypographyStandfirst();
	margin-bottom: 0;
	opacity: 0.8;

	a {
		@include oTypographySize(0);
	}

	> p {
		margin: 0;
	}
}

// .topper__summary {
@mixin oTopperSummary {
	@include oTypographySans(1);
	> ul {
		padding: 0 oTypographySpacingSize(5);
	}

	> ul > li {
		margin: oTypographySpacingSize(2) 0;
	}

	&--body {
		h2 {
			@include oTypographySansBold(0);
			margin: 5px 0 0;
		}

		ul {
			@include oTypographyList;
			@include oTypographyListUnordered();
			margin: 0px;

			li:first-child {
				margin-top: 0px;
			}
			li {
				@include oTypographySans(1);
				@include oTypographyMargin(2, 0);
				font-weight: 600;
			}
		}
	}
}

// .topper__image-credit {
@mixin oTopperImageCredit {
	color: oColorsGetPaletteColor('white');
	@include oTypographySans(-2);
	position: absolute;
	right: 12px;
	bottom: 2px;
	text-shadow: 1px 1px 1px oColorsGetPaletteColor('slate');
	.topper--full-bleed-offset & {
		@include oGridRespondTo($from: M, $until: XL) {
			bottom: auto;
			top: 0;
		}
	}
}

// keep in next-article
.article-summary-feedback {
	margin-bottom: 10px;
	.feedback__invitation {
		margin-top: 5px;
	}
}

//IE9 support
// .topper__image {
@mixin oTopperImage {
	display: block;
	position: relative;
	width: 100%;

	@supports (object-fit: cover) {
		height: 100%;
		object-fit: cover;
	}
}

// .topper__brand {
@mixin oTopperBrand {
	@include oTypographySans(0);
	margin-right: 4px;
	-webkit-font-smoothing: antialiased;

	@include oGridRespondTo($until: S) {
		display: block;
	}
}

// .topper__columnist {
@mixin oTopperColumnist {
	@include oTypographyMargin($top: 4);
	text-transform: uppercase;
}

// .topper__columnist-name {
@mixin oTopperColumnistName {
	vertical-align: middle;
}

// .topper__tags {
@mixin oTopperTags {
	display: flex;
	padding-bottom: 5px;
	@include oTypographySize($scale: 0, $line-height: 28px);

	// keep in next-article?
	.o-tooltip {
		color: oColorsGetPaletteColor('black');
		width: 275px;
	}

	.o-tooltip-close {
		// Override this being set in n-ui-foundations for all links.
		border-bottom: 0;
	}

	.o-tooltip-content {
		@include oTypographySans($scale: 0);
	}
}
