/// Output the general footer styles including a theme and the navigation matrix
///
/// @param {string} $theme ['dark'] - the theme of the footer styles requested
/// @param {boolean} $simple [false] - whether to only output the default footer styles
/// @param {boolean} $margin [false] - whether to output the standard footer margin or not
@mixin oFooter($theme: 'dark', $simple: false, $margin: true) {
	// required by o-grid JS helper
	@include oGridSurfaceCurrentLayout();

	.o-footer {
		@include oTypographySans(0, 20px);
		@if $margin {
			margin-top: (2 * $o-footer-spacing-unit);
		}
		line-height: $o-footer-spacing-unit;

		a {
			border-bottom: 0;
			text-decoration: none;
		}
	}

	.o-footer__container {
		@include oGridContainer();
		/* hack to stop the margins collapsing */
		padding-top: 0.1px;
	}

	.o-footer__row {
		margin-top: $o-footer-spacing-unit;
	}

	.o-footer__legal-links {
		padding-left: 0px;

		a {
			display: inline-block;
		}

		li {
			@include oTypographySans(-1);
			list-style: none;
			display: inline-block;

			&:before {
				content: '\2022';
				padding-left: oSpacingByName('s1');
				padding-right: oSpacingByName('s1');
			}
			&:first-child:before {
				content: '';
				padding: 0;
			}
		}
	}

	.o-footer__external-link {
		position: relative;
		border-top: 1px solid;
		border-bottom: 1px solid;

		// Hack to increase sepcificity to override overflow
		// set on class used on the same element preventing use of !important.
		// This Sass selector duplicates the class, creating:
		// .o-footer__external-link.o-footer__external-link
		&#{&} {
			overflow: visible;
		}

		&:after,
		&:before {
			content: '';
			display: block;
			position: absolute;
			width: 100vw;
			left: 50%;
			margin-left: -50vw;
		}

		&:before {
			top: 0;
		}

		&:after {
			bottom: 0;
		}

		a {
			padding-top: oSpacingByName('s3');
			padding-bottom: oSpacingByName('s3');
			display: block;

			&:after {
				@include oIconsGetIcon('arrow-right', oColorsGetColorFor('o-footer-dark-title', 'text'), $icon-size, $iconset-version: 1);
				vertical-align: middle;
				content: ' ';
			}
		}
	}

	.o-footer__copyright {
		margin-top: $o-footer-spacing-unit;
		margin-bottom: $o-footer-spacing-unit;

		a {
			text-decoration: underline;
		}
	}

	.o-footer__brand {
		padding-top: oSpacingByName('s4');
		padding-bottom: oSpacingByName('s4');
	}

	.o-footer__brand-logo {
		@include oFooterBrandImage('brand-nikkei-tagline', 200);
		height: 20px;
		background-repeat: no-repeat;
		background-position: right;
	}

	@media print {
		.o-footer {
			display: none;
		}
	}

	// Include the matrix styles if simple has not been set
	@if $simple != true {
		@include oFooterMatrix;
	}

	// Include the theme, default dark
	@if $theme == 'light' {
		@include oFooterThemeLight;
	} @else if $theme == 'dark' {
		@include oFooterThemeDark;
	} @else {
		@error "No theme: '#{$theme}' exists. Please use either 'dark' or 'light' as the theme.";
	}
}
