/// Clearfix helper styles
/// Outputs clearfix styles on the current element
@mixin oTeaserClearfix {
	zoom: 1;

	&:before,
	&:after {
		content: '';
		// sass-lint:disable no-duplicate-properties
		display: table;
		display: flex;
		// sass-lint:enable no-duplicate-properties
	}
	&:after {
		clear: both;
	}
}
