@mixin oVideoInfoSmall {
	.o-video__info-description {
		display: none;
	}
	.o-video__info-title {
		@include oTypographySansBold(-2);
		margin: 6px 0;
	}
}

@mixin oVideoInfoMedium {
	.o-video__info-brand {
		display: inline-block;
	}

	.o-video__info-title {
		margin: 6px 0;
	}
}

@mixin oVideoInfoLarge {
	.o-video__info-title,
	.o-video__info-description {
		margin: 10px 0;
	}

	.o-video__info-title {
		@include oTypographySansBold(2);
		font-size: 28px;
		line-height: 30px;
	}

	.o-video__info-description {
		@include oTypographySans(1);
		line-height: 20px;
		display: block;
	}

	// do not enlarge icons with hints!
	.o-video__play-button-icon:empty {
		width: 60px;
		height: 60px;
	}
}

@if $o-video-is-silent == false {

	.o-video__info {
		position: absolute;
		top: 0;
		left: 0;
		box-sizing: border-box;
		width: 100%;
		min-height: 50%;
		padding: 0 10px 20px;
		background: linear-gradient(rgba(0, 0, 0, 0.75), transparent);
		color: oColorsGetPaletteColor('white');
	}

	.o-video__info-brand {
		@include oTypographyLink;
		line-height: 15px;
		display: inline-block;
		padding: 2px 10px 3px;
		text-transform: capitalize;
		background-color: oColorsGetPaletteColor('claret');
		color: oColorsGetPaletteColor('white');
		&:empty {
			display: none !important;
		}
	}

	.o-video__info-title {
		@include oTypographySansBold(-1);
		line-height: 18px;
	}

	.o-video--small {
		@include oVideoInfoSmall();
	}

	.o-video--medium {
		@include oVideoInfoMedium();
	}

	.o-video--large {
		@include oVideoInfoLarge();
	}

}
