@import 'grid';

@mixin oTopper {
	//Basic topper uses the same grid columns as an article, so things can line up.
	@include oTopperArticleGrid();
	@include oTypographyMargin($bottom: 5);

	@include oGridRespondTo(L) {
		grid-template-rows: 20px min-content 60px min-content 20px;
	}
}

@mixin oTopperCentered {
	@include oTopperArticleGridCentered();

	.o-topper__read-next {
		display: none;
	}
}

@mixin oTopperBasic {
	@include oGridRespondTo($until: L) {
		@include oTypographyMargin($top: 2);
	}
}

//Default theme;

@mixin oTopperContent {
	grid-row: 2 / span 4;
	grid-column: 3;
	position: relative;
	z-index: 1;
}

@mixin oTopperBackground {
	grid-row: 1 / span 5;
	grid-column: 1 / span 6;
	width: 100vw;
	margin-left: -50vw;
	left: 50%;
	top: 0;
	height: 100%;
	position: relative;
}

@mixin oTopperVisual {
	margin: 0;
}

@mixin oTopperReadNext {
	display: none;

	@include oGridRespondTo(L) {
		display: block;
	}

	position: relative;
	grid-row: 2 / span 4;
	grid-column: 5 / span 1;
	z-index: 1;
}
