@import 'grid';

// .topper {
@mixin oTopper {
	//Basic topper uses the same grid columns as an article, so things can line up.
	@include articleGrid();
	margin-bottom: 20px;

	@include oGridRespondTo(L) {
		grid-template-rows: 20px min-content 60px min-content 20px;
	}
}

// .o-topper--centered {
@mixin oTopperCentered {
	@include articleGridCentered();
	.o-topper__read-next {
		display: none;
	}
}

// .o-topper--basic {
@mixin oTopperBasic {
	@include oGridRespondTo($until: L) {
		margin-top: 10px;
	}
}

//Default theme;

// .o-topper__content {
@mixin oTopperContent {
	@include _oTopperReceive(color);
	grid-row: 2 / span 4;
	grid-column: 3;
	position: relative;
	z-index: 1;
}

// .o-topper__visual,
// .o-topper__background {
@mixin oTopperBackground {
	@include _oTopperReceive(color);
	grid-row: 1 / span 5;
	grid-column: 1 / span 6;
	width: 100vw;
	margin-left: -50vw;
	left: 50%;
	top: 0;
	height: 100%;
	position: relative;
}

// .o-topper__visual {
@mixin oTopperVisual {
	@include oTopperBackground;
	margin: 0;
}

// .o-topper__read-next {
@mixin oTopperReadNext {
	display: none;
	@include oGridRespondTo(L) {
		display: block;
	}
	position: relative;
	grid-row: 2 / span 4;
	grid-column: 5 / span 1;
}
