@mixin oHeaderLogoLink {
	display: block;
	height: 100%;
	position: relative;

	* {
		@include _oHeaderHideVisually;
	}
}

@if $o-header-is-silent == false {

	.o-header__masthead {
		text-align: center;

		> a {
			@include oHeaderLogoLink;
			@include oIconsGetIcon(brand-ft-masthead, oColorsGetColorFor(o-header, text), 337, 28);
			display: block;
			margin: 17px auto;
		}
	}

	.o-header__masthead-mobile {
		display: block;
		padding: 18px 0;

		@include oGridRespondTo(S) {
			padding: 12px 0;
		}

		@include oGridRespondTo(M) {
			display: none;
		}

		@include oGridTargetIE8 {
			display: none;
		}

		> a {
			@include oHeaderLogoLink;
			@include oIconsGetIcon(brand-ft-masthead, oColorsGetColorFor(o-header, text), 138, 11);
			display: block;
			margin: 0 auto;

			@include oGridRespondTo(S) {
				@include oIconsGetIcon(brand-ft-masthead, oColorsGetColorFor(o-header, text), 262, 22);
				display: block;
			}
		}
	}
}
