/// @group o-overlay
/// @link http://registry.origami.ft.com/components/o-overlay

/// Outputs selectors and styles for the base overlay.
///
/// @output The output includes the `.o-overlay` class definition as well as selectors for required
/// child elements.
/// @access private
@mixin _oOverlayBase {
	.o-overlay {
		@include oVisualEffectsShadowsElevation($elevation: 'high');
		position: fixed;
		z-index: 10;
		box-sizing: border-box;
		opacity: 1;
		transition: opacity 0.3s ease-in-out;
		border: $_o-overlay-border-width solid _oOverlayGet('default-border');
		background: _oOverlayGet('default-background');
		border-radius: $o-normalise-border-radius;
	}
	.o-overlay-shadow {
		@include _oOverlayContentShadow();
	}
	.o-overlay__heading {
		@include _oOverlayContentHeading();
	}
	.o-overlay__title {
		@include _oOverlayContentTitle();
	}
	.o-overlay__close {
		@include oOverlayContentClose();
	}
	.o-overlay__content {
		@include _oOverlayContentBody();
	}
}

/// Outputs styles for the overlay shadow.
///
/// @output The output does not include a class definition, and should be wrapped in a selector.
/// @access private
@mixin _oOverlayContentShadow {
	// IE8 hack to get the opacity working
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#33000000', endColorstr='#33000000'); /* IE */
	background-color: rgba(0, 0, 0, 0.2);
	position: fixed;
	height: 150%; // because on some phones scrolling upwards detaches a 100% height overlay from the bottom of the screen
	width: 100%;
	top: 0;
	left: 0;
	z-index: 10;
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
}

/// Outputs styles for the overlay heading.
///
/// @output The output does not include a class definition, and should be wrapped in a selector.
/// @access private
@mixin _oOverlayContentHeading {
	font-size: 20px;
	margin: 0;
	overflow: hidden;
	background: _oOverlayGet('heading-background');
	color: _oOverlayGet('heading-text');
}

/// Outputs styles for the overlay title.
///
/// @output The output does not include a class definition, and should be wrapped in a selector.
/// @access private
@mixin _oOverlayContentTitle {
	margin: 10px 10px 10px 20px;
	display: block;
	line-height: 25px;
	overflow: auto;
}

/// Outputs styles for the overlay body.
///
/// @output The output does not include a class definition, and should be wrapped in a selector.
/// @access private
@mixin _oOverlayContentBody {
	position: relative;
	box-sizing: border-box;
	overflow: auto;
	padding: 20px;

	> *:first-child {
		margin-top: 0;
	}

	> *:last-child {
		margin-bottom: 0;
	}
}
