

// Define universal primary palette.
$_o-colors-default-palette-colors: join((
	('black', #000000),
	('white', #ffffff),
	('transparent', transparent),
), $_o-colors-default-palette-colors);

// Master brand palette.
@if oBrandGetCurrentBrand() == master {
	$_o-colors-default-palette-colors: join((
		// primary palette
		('paper', #fff1e5),
		('claret', #990f3d, ('allow-tones': true)),
		('oxford', #0f5499, ('allow-tones': true)),
		('teal', #0d7680, ('allow-tones': true)),

		//secondary palette
		('wheat', #f2dfce, ('allow-tones': true)),
		('sky', #cce6ff),
		('slate', #262a33),
		('velvet', #593380),
		('mandarin', #ff8833),
		('lemon', #ffec1a),

		//tertiary palette
		('candy', #ff7faa),
		('wasabi', #96cc28),
		('jade', #00994d),
		('crimson', #cc0000),

		//b2c palette
		('org-b2c', #4e96eb),
		('org-b2c-dark', #3a70af),
		('org-b2c-light', #99c6fb),
	), $_o-colors-default-palette-colors);
}

// Internal brand palette.
@if oBrandGetCurrentBrand() == internal {
	$_o-colors-default-palette-colors: join((
		// primary palette
		('oxford', #0f5499, ('allow-tones': true)),
		('teal', #0d7680, ('allow-tones': true)),

		//secondary palette
		('lemon', #ffec1a),
		('slate', #262a33),
		('slate-white-15', #dedfe0), // oColorsMix('slate', 'white', 15)
		('slate-white-5', #f4f4f5), // oColorsMix('slate', 'white', 5)

		//tertiary palette
		('jade', #00994d),
		('crimson', #cc0000),
		('mandarin', #ff8833)
	), $_o-colors-default-palette-colors);
}

// Whitelabel brand palette.
@if oBrandGetCurrentBrand() == 'whitelabel' {
	$_o-colors-default-palette-colors: join((
		//tertiary palette
		('jade', #00994d),
		('crimson', #cc0000)
	), $_o-colors-default-palette-colors);
}

// Default palette tones.
@if oBrandGetCurrentBrand() == master {
	$_o-colors-default-palette-tones: map-merge((
		'claret': (30, 40, 50, 60, 70, 80, 90, 100),
		'oxford': (30, 40, 50, 60, 70, 80, 90, 100),
		'teal': (20, 30, 40, 50, 60, 70, 80, 90, 100)
	), $_o-colors-default-palette-tones);
}

@if oBrandGetCurrentBrand() == internal {
	$_o-colors-default-palette-tones: map-merge((
		'oxford': (30, 40, 50, 60, 70, 80, 90, 100),
		'teal': (20, 30, 40, 50, 60, 70, 80, 90, 100),
	), $_o-colors-default-palette-tones);
}

@if oBrandGetCurrentBrand() == whitelabel {
	$_o-colors-default-palette-tones: map-merge((), $_o-colors-default-palette-tones);
}

// Default palette mixes.
@if oBrandGetCurrentBrand() == master {
	$_o-colors-default-palette-mixes: (
		'black': (5, 10, 20, 30, 40, 50, 60, 70, 80, 90),
		'white': (10, 20, 40, 60, 80)
	);
}

@if oBrandGetCurrentBrand() == internal {
	$_o-colors-default-palette-mixes: (
		'black': (5, 10, 20, 30, 40, 50, 60, 70, 80, 90)
	);
}

@if oBrandGetCurrentBrand() == whitelabel {
	$_o-colors-default-palette-mixes: (
		'black': (5, 10, 20, 30, 40, 50, 60, 70, 80, 90)
	);
}
