////
/// @group o-colors
/// @link http://registry.origami.ft.com/components/o-colors
////


/// Colour palette
///
/// These are the colours that make up the FT palette.
/// We don't use these colours directly, but instead assign them to 'use cases',
/// which are defined in use-cases.scss.
///
/// In the list below, each line contains a colour name and a colour code,
/// and is finished with a comma:
///
/// 	<colour name>:   <colour code>,
///
/// The colour name must be a single word comprising just letters,
/// numbers, and dashes.
///
/// You can have as many spaces between the colour name and the colour code
/// as you like (so you can line them up neatly), and you *MUST* finish the
/// line with a comma.
///
/// @type map
$o-colors-palette: map-merge((
	// non-colour css values
	'transparent':           transparent,
	'inherit':               inherit,

	// primary palette
	'pink':                  #fff1e5,
	'black':                 #000000,
	'white':                 #ffffff,

	'claret':                #990f3d,
	'oxford':                #1162b3,
	'teal':                  #00757f,

	'wheat':                 #f2dfce,
	'sky':                   #cce6ff,
	'slate':                 #282e33,

	'velvet':                #593380,
	'mandarin':              #ff8833,
	'lemon':                 #ffec1a,

	'candy':                 #FF7FAA,
	'wasabi':                #96CC28,

	'jade':                  #00b359,
	'crimson':               #cc0000,

	'orange':                #f58c31,
	'purple':                #92288f,

	'org-b2c':               #4e96eb,
	'org-b2c-dark':          #3a70af,
	'org-b2c-light':         #99c6fb,
), $o-colors-palette);

$o-colors-tints: (
	'black': (
		tints: (5, 10, 20, 30, 40, 50, 60, 70, 80, 90),
	),
	'white': (
		tints: (10, 20, 40, 60, 80),
	),
	'claret': (
		hue: 340,
		saturation: 90,
		tints: ( 30, 40, 50, 60, 70, 80, 90, 100 ),
	),
	'oxford': (
		hue: 210,
		saturation: 90,
		tints: ( 30, 40, 50, 60, 70, 80, 90, 100 ),
	),
	'teal': (
		hue: 185,
		saturation: 90,
		tints: ( 20, 30, 40, 50, 60, 70, 80, 90 ),
	),
	'wheat': (
		hue: 28,
		saturation: 15,
	),
	'sky': (
		hue: 210,
		saturation: 20,
	),
	'slate': (
		hue: 210,
		saturation: 20,
	),
	'velvet': (
		hue: 270,
		saturation: 60,
	),
	'mandarin': (
		hue: 25,
		saturation: 80,
	),
	'lemon': (
		hue: 55,
		saturation: 90,
	),
	'candy': (
		hue: 340,
		saturation: 50,
	),
	'wasabi': (
		hue: 80,
		saturation: 80,
	),
	'jade': (
		hue: 150,
		saturation: 100,
	),
	'crimson': (
		hue: 360,
		saturation: 100,
	)
);
