/// @access private
/// Outpus styling for video placeholder
@mixin _oVideoPlaceholder {
	.o-video__placeholder,
	.o-video__placeholder-image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.o-video__placeholder {
		background: oColorsGetPaletteColor('slate');
		color: oColorsGetPaletteColor('white');
		// sass-lint:disable no-vendor-prefixes
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		// sass-lint:enable no-vendor-prefixes
	}

	.o-video__placeholder-image {
		will-change: opacity;
		transition: opacity 0.25s;
		object-fit: cover;

		// saves messing with z-indexes!
		:hover > & {
			opacity: 0.35;
		}
	}

	.o-video__play-button {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		padding: 0;
		border: 0;
		background-color: transparent;
		cursor: pointer;
	}

	.o-video__play-button-icon {
		@include oIconsBaseStyles;
		@include oIconsGetIcon('play', oColorsGetPaletteColor('white'), $apply-base-styles: false, $apply-width-height: false, $iconset-version: 1);
		position: absolute;
		color: oColorsGetPaletteColor('white');
		background-color: oColorsGetPaletteColor('black');

		&:empty {
			bottom: 0;
			left: 0;
			width: 40px;
			height: 40px;
		}

		&:not(:empty) {
			@include oTypographySansBold(-1);
			bottom: 10px;
			left: 10px;
			padding: 10px 16px 10px 36px;
			background-position: left;
		}

		:hover > &,
		:focus > & {
			background-color: oColorsGetPaletteColor('claret');
		}
	}
}
