//TODO: remove file when time is up — https://github.com/Financial-Times/o-cookie-message/issues/65

@mixin oCookieMessagePrivacyPolicy($class: 'o-cookie-message') {
	.#{$class}__inner.privacy-policy-message {
		@include oBannerThemeCompactBase;
		box-sizing: border-box;
		position: fixed;
		padding: 20px 40px;


		.#{$class}__close {
			@include oBannerCloseButton;
		}

		h5 {
			@include oTypographyProductHeadingLevel5;
			margin-bottom: oSpacingByName('s2');
		}

		p {
			margin: 0;
		}
	}
}
