////
/// @group o-table
/// @link http://registry.origami.ft.com/components/o-table
////

/// Make a table 'ResponsiveOverflow'
@mixin oTableResponsiveOverflow {
	margin: 0;
	min-width: 500px;
	width: 100%;

} // mixin
