////
/// @group o-table
/// @link http://registry.origami.ft.com/components/o-table
////

/// Add this to the table element to get row stripes
@mixin oTableRowStripes() {
	@include oBrandConfigureFor('o-table') {
		background-color: oBrandGet('table-background');

		caption {
			background-color: oBrandGet('table-background');
		}

		tbody tr:nth-child(even) {
			background-color: oBrandGet('table-stripe-background');
		}
	}
}
