@mixin oHeaderServicesSubNav($class: 'o-header-services') {
	@include oHeaderSubnav();
 // we don't need this anymore, because o-header is branded for  internal.
 // Removing this is currently a breaking change, so will postpone TODO, assuming
 // that the default brand for o-header-services will be internal
 	@include oBrandConfigureFor('o-header-services') {
		/* override some styles to remove teal link color */
		.#{$class} {
			.o-header__subnav-list--breadcrumb {
				.o-header__subnav-link {
					color: oBrandGet('subnav-text');
					font-weight: 600;
				}
				.o-header__subnav-item:before {
					@include oIconsGetIcon('arrow-right', oBrandGet('subnav-text'), 15, $apply-base-styles: false, $apply-width-height: false, $iconset-version: 1);
				}
			}

			.o-header__subnav-link--highlight:after,
			.o-header__subnav-link[aria-selected="true"]:after {
				background-color: oBrandGet('subnav-text');
			}
		}
	}
}
