////
/// @group o-quote
/// @link http://registry.origami.ft.com/components/o-quote
////

@if $_o-quote-first-import == true {
	%_o-quote--standard {
		position: relative;
		border-left: 4px solid oColorsByName('black-90');
		padding-top: 0px;
		padding-bottom: 0px;
		padding-left: oSpacingByName('s4');
		color: oColorsByName('black');

		a {
			@include oTypographyLink;
		}
	}

	%_o-quote-cite--standard {
		// Output weight and style to override browser defaults.
		@include oTypographySans($scale: 1, $weight: 'regular', $style: 'normal');
		a {
			@include oTypographyLink;
		}
	}

	%_o-quote__source {
		display: block;
	}

	%_o-quote__author {
		@include oTypographySans($scale: 0, $weight: 'semibold');
		text-transform: uppercase;
		display: block;
	}
}

/// Editorial quote styles
/// @output Adds to the %o-quote--standard placeholder
@mixin oQuoteStandard {
	@extend %_o-quote--standard;
}

/// Standard quote cite styles
/// @output Adds to the %o-quote-cite--standard placeholder
@mixin oQuoteStandardCite {
	@extend %_o-quote-cite--standard;
}

/// Standard quote source styles
/// @output Adds to the %o-quote__source placeholder
@mixin oQuoteStandardCiteSource {
	@extend %_o-quote__source;
}

/// Standard quote author styles
/// @output Adds to the %o-quote__author placeholder
@mixin oQuoteStandardCiteAuthor {
	@extend %_o-quote__author;
}

