/// Output styles for teasers.
/// Can be passed a list of styles to output,
/// or 'all' to output everything
///
/// @param {List} [all] $elements
/// @param {List} [all] $themes
@mixin oTeaser($elements: 'all', $themes: 'all') {
	.o-teaser {
		@include oTeaserBase;
	}

	@if $elements == 'all' {
		@each $group in $_o-teaser-elements {
			@include _oTeaserGetElementsMixin($group);
		}
	} @else if $elements != false {
		@each $group in $elements {
			@if index($_o-teaser-elements, $group) != null {
				@include _oTeaserGetElementsMixin($group);
			} @else {
				@error "There is no theme '#{$group}' available in o-teaser, please use one of the following: #{$_o-teaser-elements}.";
			}
		}
	}

	@if $themes == 'all' {
		@each $theme in $_o-teaser-themes {
			@include _oTeaserGetThemeMixin($theme);
		}
	} @else if $themes != false  {
		@each $theme in $themes {
			@if index($_o-teaser-themes, $theme) != null {
				@include _oTeaserGetThemeMixin($theme);
			} @else {
				@error "There is no theme '#{$theme}' available in o-teaser, please use one of the following: #{$_o-teaser-themes}.";
			}
		}
	}
}

.o-teaser--live {
	padding: 26px 10px;
	color: white;
	background: oColorsGetPaletteColor('crimson');

	.o-teaser__meta,
	.o-teaser__heading,
	.o-teaser__timestamp {
		a, &:hover {
			color: white;
		}
		color: white;
	}
	.o-teaser__heading {
		display: flex;
	}
	.o-teaser__timestamp {
		position: absolute;
		top: 0;

		time {
			display: none;
		}
	}
	.o-teaser__timestamp-prefix:before,
	.o-teaser__timestamp--inprogress:before {
		background-color: white;
	}
}

