@mixin oSubsCardB2B {
	.o-subs-card__top {
		background: oColorsByName('slate');
		color: oColorsByName('white');
	}

	.o-subs-card__copy-benefits {
		background: oColorsByName('slate');
		color: oColorsByName('white');
	}

	.o-subs-card__copy-title:first-child {
		margin-bottom: oSpacingByName('s1');
		padding-top: oSpacingByName('s6');
		padding-right: $o-subs-card-horizontal-padding;
		padding-left: $o-subs-card-horizontal-padding;
	}

	.o-subs-card__select-button {
		@include oButtonsContent($opts: (
			'type': 'secondary',
			'size': 'big',
			'theme': ('inverse')
		));
	}
}


@mixin oSubsCardDiscount {
	.o-subs-card__copy-title {
		margin-bottom: oSpacingByName('s4');
	}

	.o-subs-card__copy-offer {
		@include oTypographySans(3);
		padding-top: oSpacingByIncrement(5);
		//overwrite oTypography line-height for, well, height.
		line-height: 1;
		color: oColorsByName('claret-80');
	}

	.o-subs-card__select-button {
		@include oButtonsContent($opts: (
			'type': 'primary',
			'size': 'big',
			'theme': (
				color: 'claret-80',
				context: 'white'
			)
		));
	}

	.o-subs-card__charge__value {
		color: oColorsByName('claret-80');
	}
}
