@mixin oTeaserCollectionNumbered() {
	.o-teaser-collection__items {
		counter: o-teaser-collection-items;
	}

	.o-teaser-collection__item {
		counter-increment: o-teaser-collection-items;
		padding-left: 28px;
		position: relative;

		&:before {
			@include font-size(28, 28);
			font-family: $o-typography-serif-display;
			content: counter(o-teaser-collection-items);
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}

@mixin oTeaserCollectionSpecial() {
	position: relative;
	border-top: 0;
	margin-bottom: 50px;

	&:after {
		content: '';
		position: absolute;
		top: 0px;
		left: 50%;
		z-index: -1;
		width: 100vw;
		height: 100%;
		background: $_o-teaser-collection-color-special-bg;
		transform: translateX(-50%);
	}
}

@mixin oTeaserCollectionBigStory() {
	.o-teaser-collection__heading {
		z-index: 1;
		position: absolute;
		@include oGridRespondTo(L) {
			width: 32.5%;
		}
		&:before {
			display: none;
		}
		&:after {
			width: 100%;
		}
	}

	.o-teaser-collection__related {
		margin: 10px 0 0;
		//remove the related teaser borders when stacked
		.o-teaser {
			@include oGridRespondTo(M) {
				border-bottom-width: 0;
			}
			@include oGridRespondTo(L) {
				border-bottom-width: 1px;
			}
		}
	}
}

@mixin oTeaserCollectionMidSlice {
	border-bottom: 1px solid $_o-teaser-collection-color-thin-border;
	border-top: 1px solid $_o-teaser-collection-color-thin-border;
	padding: 20px 0 0;
}

@mixin oTeaserCollectionTopSlice {
	border-bottom: 1px solid $_o-teaser-collection-color-thin-border;

	.o-teaser {
		display: flex;
		flex-direction: column;
	}

	.o-teaser__content {
		flex-grow: 1;
	}

	.o-teaser__related {
		margin: 0;
	}
}

@mixin oTeaserCollectionStream {
	margin: 20px 0 50px;

	.o-teaser-collection__list {
		list-style: none;
		margin: 20px 0 0;
		padding: 0;
	}

	.o-teaser-collection__item {
		position: relative;
	}


	//TODO: decouple collection from teaser
	.o-teaser__content {
		padding-right: 50px;
	}
}
