////
/// @group o-colors
/// @link http://registry.origami.ft.com/components/o-colors
////

/// color use cases
///
/// These mappings define what we use our colors for.
///
/// Use case:           Must be a single word comprising just letters, numbers, and dashes.
/// Properties:         A Sass map of properties (must be 'border', 'text', 'background', or 'all')
///                     against palette colors (must be an exact match for a name of a color defined
///                     in palette.scss).
///
/// Special properties: You can use the following special properties to mark use cases:
///
///                     _deprecated: <msg>  Emits <msg> as a warning if referenced, but still works
///
/// @type map

//TODO: Include explanation for mapped usecases once they have been made permanent and publicly available

$_o-colors-branded-usecases: (
	'master': (
	//	<use case>                <properties>
		focus:                    (outline: 'oxford-80'),
		page:                     (background: 'paper'),
		box:                      (background: 'wheat'),
		link:                     (text: 'teal'),
		link-hover:               (text: 'teal-30'),
		link-title:               (text: 'black-80'),
		link-title-hover:         (text: 'black-70'),
		tag-link:                 (text: 'claret'),
		tag-link-hover:           (text: 'claret-30'),
		opinion-tag-link:         (text: 'oxford'),
		opinion-tag-link-hover:   (text: 'oxford-30'),
		title:                    (text: 'black'),
		body:                     (text: 'black-80'),
		muted:                    (text: 'black-20'),
		opinion:                  (background: 'sky'),
		hero:                     (background: 'wheat'),
		hero-opinion:             (background: 'oxford'),
		hero-highlight:           (background: 'claret'),

		// Section colors
		section-life-arts:        (all: 'velvet'),
		section-life-arts-alt:    (all: 'candy'),
		section-magazine:         (all: 'oxford'),
		section-magazine-alt:     (all: 'sky'),
		section-house-home:       (all: 'jade'),
		section-house-home-alt:   (all: 'wasabi'),
		section-money:            (all: 'crimson'),
		section-money-alt:        (all: 'white'),
	),
	'internal': (
	//	<use case>                <properties>
		focus:                    (outline: 'black-50'),
		page:                     (background: 'white'),
		box:                      (background: 'slate-white-5'),
		link:                     (text: 'teal'),
		link-hover:               (text: 'teal-30'),
		link-title:               (text: 'slate-white-15'),
		link-title-hover:         (text: 'slate-white-15'),
		title:                    (text: 'slate'),
		body:                     (text: 'slate'),
		muted:                    (text: 'black-20'),
	),
	'whitelabel': (
	//	<use case>                <properties>
		page:                     (background: 'white'),
	)
);

$_o-colors-default-brand-usecases: map-get($_o-colors-branded-usecases, 'master');
$_o-colors-current-brand-usecases: map-get($_o-colors-branded-usecases, $_o-colors-brand);
$o-colors-usecases: map-merge(if($_o-colors-current-brand-usecases, $_o-colors-current-brand-usecases, $_o-colors-default-brand-usecases), $o-colors-usecases);
