$o-header-primary-height: 45px;
$o-header-primary-bg: #333333;
$o-header-secondary-bg: getColor('grey-tint5');

@mixin oHeaderNavItem() {
	color: getColor('white');
	text-decoration: none;
	display: block;
	line-height: $o-header-primary-height;
	padding: 0 4px;
	font-size: 14px;
	background: none;
	border: 0;
	cursor: pointer;

	&:hover,
	&:focus,
	&[aria-pressed] {
		background: $o-header-secondary-bg;
	}

	@include oGridRespondTo(M) {
		padding: 0 6px;
		font-size: 13px;
	}

	@include oGridRespondTo(L) {
		padding: 0 7px;
		font-size: 16px;
	}
	*:last-child > & {
		padding-right: 0;
	}
}
