$o-header-is-silent: true !default;
$o-header-image-base-url: 'https://image.webservices.ft.com' !default;

$_o-header-padding-x: 12px;
$_o-header-padding-y: 12px;
$_o-header-buttons-theme: 'standout';
$_o-header-mega-padding-x: 24px;
$_o-header-mega-padding-y: 18px;
$_o-header-mega-z-index: 1;
