@include oTabsSelectors(o-tabs--buttontabs) {
	&[data-o-tabs--js] {
		&[role=tablist] {
			border-bottom: 1px solid oColorsGetColorFor(o-ft-buttons-standard-normal, border);
			font-size: 0;
		}

		[role=tab] {
			@include oFtButtons();

			border-radius: 0;
			border-bottom-width: 0;

			&[aria-selected=true] a {
				font-weight: normal; // reset weight set in the base styles
			}

			&:first-child {
				border-top-left-radius: 5px;
				border-left-width: 1px;
			}

			&:last-child {
				border-top-right-radius: 5px;
			}
		}

		[role=tab] + [role=tab] {
			margin-left: 0;
			border-left-width: 0;
		}

		&.o-tabs--big [role=tab] {
			padding-left: 18px;
			padding-right: 18px;
			font-size: 16px;
			line-height: 34px;
			text-decoration: none;
			text-align: center;
		}
	}
}
