.#{$o-ft-forms-prefix}-field--error .#{$o-ft-forms-prefix}-label {
	color: $o-ft-forms-labelcolor-error;
}

.#{$o-ft-forms-prefix}-field--error select.#{$o-ft-forms-prefix}-field,
.#{$o-ft-forms-prefix}-field--error textarea.#{$o-ft-forms-prefix}-field,
.#{$o-ft-forms-prefix}-field--error .#{$o-ft-forms-prefix}-field[type="text"] {
	margin-bottom: 0;
}

.#{$o-ft-forms-prefix}-field--error .#{$o-ft-forms-prefix}-field[type="checkbox"],
.#{$o-ft-forms-prefix}-field--error .#{$o-ft-forms-prefix}-field[type="radio"] {
	margin-bottom: 6px;
}
.#{$o-ft-forms-prefix}-field--error .#{$o-ft-forms-prefix}-field[type="checkbox"] + .#{$o-ft-forms-prefix}-label,
.#{$o-ft-forms-prefix}-field--error .#{$o-ft-forms-prefix}-field[type="radio"] + .#{$o-ft-forms-prefix}-label {
	color: $o-ft-forms-labelcolor;
}

.#{$o-ft-forms-prefix}-error {
	clear: both;
	display: block;
	margin-top: -1px;
	margin-bottom: $o-ft-forms-marginbottom;
	padding: 3px 7px;
	font-family: $o-ft-forms-font;
	font-size: 11px;
	font-style: italic;
	color: #fff;
	background-color: $o-ft-forms-labelcolor-error;
}