@include oFtFormsClass(o-ft-forms-field-group) {
  position: relative;
  padding-right:10px;
}

@include oFtFormsClass(o-ft-forms__label) {
  display: block;
  margin-bottom: 5px;
  color: oColorsGetColorFor(forms-label-text);
  font-family: $o-fonts-bentonsans-normal;
  font-size: 14px;
  
  small {
    color: oColorsGetColorFor(forms-field-text);
    font-size: 10px;
    padding-left:8px;
    text-align: right;
    top:3px;
    line-height: 14.5px;
  }
}

@include oFtFormsClass(o-ft-forms__label--inline) {
  padding-top: 6px;
  line-height: 18px;
}

@include oFtFormsClass('o-ft-forms__field[type="text"]',
'o-ft-forms__field[type="password"]',
'o-ft-forms__field[type="search"]',
'o-ft-forms__field[type="url"]',
'o-ft-forms__field[type="email"]',
'o-ft-forms__field[type="tel"]',
'o-ft-forms__field[type="date"]',
'o-ft-forms__field[type="time"]',
'o-ft-forms__field[type="datetime"]',
'o-ft-forms__field[type="datetime-local"]',
'o-ft-forms__field[type="month"]',
'o-ft-forms__field[type="week"]',
'o-ft-forms__field[type="number"]',
'o-ft-forms__field[type="color"]',
'o-ft-forms__field[type="range"]') {
  @include commonField();
  height: 30px; /* Using min-height when width is also set, causes IE8 to ignore the box-sizing:border-box setting, so have to use height instead */
}


/*=============CHECKBOXES AND RADIOS=============*/

@include oFtFormsClass('o-ft-forms__field[type="checkbox"]',
'o-ft-forms__field[type="radio"]') {
  display: none;
}

@include oFtFormsPlaceholderOptionalSelector('%o-ft-forms__checkboxradiolabel',
  '.o-ft-forms__field[type="checkbox"] + .o-ft-forms__label, .o-ft-forms__field[type="radio"] + .o-ft-forms__label') {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
  margin-bottom: $_o-ft-forms-marginbottom;
  vertical-align: middle;
}

@include oFtFormsPlaceholderOptionalSelector('%o-ft-forms__checkboxradiolabel',
  '.o-ft-forms__field[type="checkbox"] + .o-ft-forms__label:before, .o-ft-forms__field[type="radio"] + .o-ft-forms__label:before') {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  top: 1px;
  background-color: oColorsGetColorFor(forms-field-background);
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.4) inset, 0 0 0 0 rgba(255, 255, 255, 0.2);
}

@include oFtFormsPlaceholderOptionalSelector('%o-ft-forms__checkboxradiolabel',
  '.o-ft-forms__field[type="radio"] + .o-ft-forms__label:before') {
  border-radius:9px;
}

@include oFtFormsPlaceholderOptionalSelector('%o-ft-forms__checkboxradiolabel',
  '.o-ft-forms__field[type="checkbox"]:checked + .o-ft-forms__label:before, .o-ft-forms__field[type="radio"]:checked + .o-ft-forms__label:before') {
  content: "\2022";
  color: oColorsGetColorFor(forms-section-border);
  font-size: 38px;
  text-align: center;
  line-height: 18px;
}

@include oFtFormsPlaceholderOptionalSelector('%o-ft-forms__checkboxradiolabel',
  '.o-ft-forms__field[type="checkbox"]:checked + .o-ft-forms__label:before') {
  content: "\2714";
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

/*=============SELECT=============*/

@include oFtFormsPlaceholderOptionalSelector('%o-ft-forms__field--select', '.o-ft-forms__field--select') {
  @include commonField();
  height: 30px; /* Using min-height when width is also set, causes IE8 to ignore the box-sizing:border-box setting, so have to use height instead */
  background-image: url('data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iM3B4IiB2aWV3Qm94PSIwIDAgNiAzIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA2IDMiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIHBvaW50cz0iNS45OTIsMCAyLjk5MiwzIC0wLjAwOCwwICIvPjwvc3ZnPg==');
  background-repeat: no-repeat;
  background-position: 97% center;
  /*Code below hides default select arrow in FF */
  text-indent: 0.01px;
  text-overflow: '';
}

@include oFtFormsPlaceholderOptionalSelector('%o-ft-forms__field--textarea', '.o-ft-forms__field--textarea') {
 @include commonField();
  height: 70px; /* Using min-height when width is also set, causes IE8 to ignore the box-sizing:border-box setting, so have to use height instead */
  vertical-align: top;
}