.#{$o-ft-forms-prefix}-label {
	display: block;
	margin-bottom: 10px;
	color: $o-colors-warm-grey2;
	font-family: $o-ft-forms-font;
	font-size: $o-ft-forms-fontsize-label;
}

.#{$o-ft-forms-prefix}-label--inline {
	line-height: 26px;
}

.#{$o-ft-forms-prefix}-field[type="text"] {
	@include commonField();
	min-height: 20px;
}

.#{$o-ft-forms-prefix}-field[type="checkbox"], .#{$o-ft-forms-prefix}-field[type="radio"] {
	margin-bottom:  $o-ft-forms-marginbottom;
}

.#{$o-ft-forms-prefix}-field[type="checkbox"] + .#{$o-ft-forms-prefix}-label,
.#{$o-ft-forms-prefix}-field[type="radio"] + .#{$o-ft-forms-prefix}-label {
	display: inline-block;
	margin-left: 5px;
	margin-right: 10px;
	margin-bottom: 0;
	vertical-align: baseline;
}

select.#{$o-ft-forms-prefix}-field {
	@include commonField();
	background-image: url('data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iM3B4IiB2aWV3Qm94PSIwIDAgNiAzIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA2IDMiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIHBvaW50cz0iNS45OTIsMCAyLjk5MiwzIC0wLjAwOCwwICIvPjwvc3ZnPg==');
	background-repeat: no-repeat;
	background-position-x: 97%;
	background-position-y: center;
}

textarea.#{$o-ft-forms-prefix}-field {
	@include commonField();
	min-height: 70px;
}