@include oFtFormsPlaceholderOptionalSelector('%o-ft-forms__label--error', '.o-ft-forms--error .o-ft-forms__label') {
  color: oColorsGetColorFor(forms-label-error-text);
}

@include oFtFormsPlaceholderOptionalSelector('%o-ft-forms__label--select--error %o-ft-forms__label--textarea--error',
  '.o-ft-forms--error select.o-ft-forms__field, .o-ft-forms--error textarea.o-ft-forms__field') {
	margin-bottom: 0;
}

@include oFtFormsPlaceholderOptionalSelector('%o-ft-forms__field--error',
  '.o-ft-forms--error .o-ft-forms__field:not([type="checkbox"]):not([type="radio"])') {
	margin-bottom: 0;
    border-color: oColorsGetColorFor(forms-label-error-border);
    color: oColorsGetColorFor(forms-error-text);

}

@include oFtFormsPlaceholderOptionalSelector('%o-ft-forms__field--checkbox--error, %o-ft-forms__field--select--error',
  '.o-ft-forms--error .o-ft-forms__field[type="checkbox"], .o-ft-forms--error .o-ft-forms__field[type="radio"]') {
	margin-bottom: 6px;
}

@include oFtFormsPlaceholderOptionalSelector('%o-ft-forms__checkboxradio-sibling-__label',
  '.o-ft-forms--error .o-ft-forms__field[type="checkbox"] + .o-ft-forms__label, .o-ft-forms--error .o-ft-forms__field[type="radio"] + .o-ft-forms__label') {
	color: oColorsGetColorFor(forms-label-text);
}

@include oFtFormsPlaceholderOptionalSelector('%o-ft-forms__errortext', '.o-ft-forms__errortext') {
  clear: both;
  display: block;
  margin-top: -1px;
  margin-bottom: $_o-ft-forms-marginbottom;
  padding: 3px 0;
  font-family: $o-fonts-bentonsans-normal;
  font-size: 12px;
  font-weight:bold;
  font-style: normal;
  color: oColorsGetColorFor(forms-error-text);
}

@include oFtFormsPlaceholderOptionalSelector('%o-ft-forms--error:after','.o-ft-forms--error:after'){
  position: absolute;
  font-size: 18px;
  top: 30px;
  right: 18px;
  content: "\2717";
  color: oColorsGetColorFor(forms-error-text);
}