@include oFormsClass(o-forms__section, o-forms__section--with-border) {
    padding: 0;
    margin: 0;
    border: 0;
}

@include oFormsClass(o-forms__section--with-border) {
    border-bottom-color: oColorsGetPaletteColor(pink-tint4);
    border-bottom-style: dotted;
    border-bottom-width: 2px;

    }

