@include oFtFormsPlaceholderOptionalSelector('%o-ft-forms__field--error %o-ft-forms__label--select--error %o-ft-forms__label--textarea--error',
  '.o-ft-forms--error .o-ft-forms__field:not([type="checkbox"]):not([type="radio"]), 
  .o-ft-forms--error .o-ft-forms__field--select, 
  .o-ft-forms--error .o-ft-forms__field--textarea') {
    border-color: oColorsGetColorFor(error, border);
}

@include oFtFormsPlaceholderOptionalSelector('%o-ft-forms__field--checkbox--error, %o-ft-forms__field--select--error',
  '.o-ft-forms--error .o-ft-forms__field[type="checkbox"], .o-ft-forms--error .o-ft-forms__field[type="radio"]') {
	margin-bottom: 6px;
}

@include oFtFormsPlaceholderOptionalSelector('%o-ft-forms__errortext', '.o-ft-forms__errortext') {
  clear: both;
  display: block;
  margin-top: -1px;
  padding: 3px 0;
  font-family: $o-fonts-bentonsans-normal;
  font-size: 12px;
  font-weight:bold;
  font-style: normal;
  color: oColorsGetColorFor(error, text);
  position:relative; //needed for :after icon
}

@include oFtFormsPlaceholderOptionalSelector('%o-ft-forms--error .o-ft-forms__errortext:after','.o-ft-forms--error .o-ft-forms__errortext:after'){
  position: absolute;
  font-size: 18px;
  top: -25px;
  right: 0;
  content: "\2716";
  color: oColorsGetColorFor(error, text);
  font-weight: bold;
}