@import "o-fonts/main";
@import "o-colors/main";
@import "o-ft-typography/main";

@if (not $o-modal-is-silent) {
    @include oFontsInclude(BentonSans, lighter);
}

@include oModalClass(content, '_') {
    border: 5px solid oColorsGetColorFor(modal-border);
    background: oColorsGetColorFor(modal, background);
    color: oColorsGetColorFor(modal, text);

}
@include oModalClass(close, '_') {
    position: absolute;
    top: 7px;
    right: 6px;   
    display: block;
    overflow: hidden;
    padding: 0;
    width: 22px;
    height: 22px;
    border: 2px solid oColorsGetColorFor(modal-close-border);
    border-radius: 11px;
    background: oColorsGetColorFor(modal-close, background);
    color: oColorsGetColorFor(modal-close-background);
    vertical-align: center;
    text-align: center;
    font-size: 23px;
    font-family: $o-fonts-bentonsans-lighter;
    line-height: 16px;
    cursor: pointer;

    &:before {
        display: block;    
        color: oColorsGetColorFor(modal-close-text);
        content: '\00d7';   
    }
}

@include oUseragentTarget(ie8) {
    @include oModalClass(close, '_') {
        padding-top: 1px;
        padding-left: 2px;
    }
}


@include oModalClass(heading, '_') {
    @include oFtTypographyFontSize(14);
    margin: 0;
    padding: 10px;
    background: oColorsGetColorFor(modal-heading, background);
    color: oColorsGetColorFor(modal-heading, text);
    letter-spacing: 0.4px;
    font-weight: normal;
    font-family: $o-fonts-bentonsans-lighter;
}

@include oModalClass(body, '_') {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
}

.o-modal--closable {
    @include oModalClass(heading, '_') {
        padding-right: 35px;
    }
}