@import "o-fonts/main";
@import "o-colors/main";
@import "o-ft-typography/main";

@if (not $o-dialog-is-silent) {
	@include oFontsInclude(BentonSans, lighter);
}

@include oDialogClass(modal__content) {
    @extend %o-colors-dialog-background !optional;
    @extend %o-colors-dialog-text !optional;	
    border: 2px solid oColorsGetColorFor(dialog-border);

}


@include oDialogClass(close, '__') {
    @extend %o-colors-dialog-close-background !optional;
	position: absolute;
	top: 7px;
	right: 6px;   

	display: block;
	overflow: hidden;
	padding: 0;
	width: 22px;
	height: 22px;
	border: 2px solid oColorsGetColorFor(dialog-close-border);
	border-radius: 11px;
 	color: oColorsGetColorFor(dialog-close-background);
	vertical-align: center;
	text-align: center;
	font-size: 23px;
	font-family: $o-fonts-bentonsans-lighter;
	line-height: 16px;
	cursor: pointer;

	&:before {
    	display: block;    
    	color: oColorsGetColorFor(dialog-close-text);
    	content: '\00d7';   
    }
}

@include oUseragentTarget(ie8) {
	@include oDialogClass(close, '__') {
		padding-top: 1px;
		padding-left: 2px;
	}
}


.o-dialog--modal {
	@include oDialogClass(heading, '__') {
		@include oFtTypographyFontSize(14);
	    @extend %o-colors-dialog-heading-background !optional;
	    @extend %o-colors-dialog-heading-text !optional;
		margin: 0;
		padding: 10px;
		letter-spacing: 0.4px;
		font-weight: normal;
		font-family: $o-fonts-bentonsans-lighter;
	}
}

@include oDialogClass(body, '__') {
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
	padding: 5px;
}

.o-dialog--closable.o-dialog--modal {
	@include oDialogClass(heading, '__') {
		padding-right: 35px;
	}
}