.o-ft-header__logo {
  position: relative;
  margin-right: 20px;
  min-width: 75px;
  height: 75px;
  z-index: 99;
  > img {
    display: inline-block;
    vertical-align: top;
  }

}

.o-ft-header__logo--ft {
  > a {
    position: absolute;
    display: inline-block;
    padding: 5px 8px;
    width: 59px;
    height: 65px;
    background: #ffe2c6 -webkit-linear-gradient(top, #ffe7ce 0, #ffdcb8 75px);
    overflow: hidden;
  }
  abbr {
    display: block;
    margin-top: 8px;
    width: 59px;
    height: 57px;
    background: rgba(255, 255, 255, 0.001) url(oFtHeaderAsset('img/ft-logo.svg')) no-repeat;
    text-indent: -100%;
  }
}

.o-ft-header__ft-masthead {
  margin: 0;
  padding: 0;
  width: 218px;
  i {
    @extend %o-ft-icons-icon--ft-logo;
    @include oFtIconsBaseIconStyles();
    display: block;
    margin-top: -9px;
    height: 55px;
    overflow: hidden;
    font-size: 216px;
    &:hover {
      color: #eee;
    }
  }
}