@mixin oFooterServicesBase($class: 'o-footer-services') {
	.#{$class} {
		@include oTypographySans(0);
		@include oTypographyPadding($top: 2, $bottom: 2);
		@include oGridContainer($bleed: true);
		border-top: 4px solid _oFooterServicesGet('default-border');

		a {
			@include oTypographyLink();
			border-bottom: 0;
		}
	}
	
	.#{$class}--wide {
		max-width: 100%;
		margin: 0;
		padding-left: 30px;
		padding-right: 30px;
	}

	.#{$class}__container {
		margin: 0 oTypographySpacingSize(5);
	}

	.#{$class}__contact-slack {
		@include oFooterServicesIcons('slack');
		margin: 0;
	}

	.#{$class}__source-code {
		@include oFooterServicesIcons('github');
		float: right;
		margin: 0;
	}
}

@mixin oFooterServicesWithLogo($logo-image, $class: 'o-footer-services') {
	@include oFooterServicesBase;


	.#{$class}__logo {
		@include oTypographyMargin($top: -2, $bottom: 2);
		@include oTypographySansBold(1);
		float: right;

		&:before {
			@include oIconsBaseStyles();
			background-image: url($logo-image);
			content: '';
			width: 40px;
			height: 40px;
			vertical-align: middle;
			margin-right: 10px;
		}
	}
}

@mixin oFooterServicesIcons($icon-name) {
	position: relative;
	padding-left: $_o-footer-services-icon-size - 5;

	&:before {
		@include oIconsBaseStyles();
		position: absolute;
		content: '';
		background-image: url('https://www.ft.com/__origami/service/image/v2/images/raw/ftsocial-v2:#{$icon-name}?source=o-footer-services&format=svg');
		height: $_o-footer-services-icon-size;
		width: $_o-footer-services-icon-size;
		vertical-align: middle;
		top: -5px;
		left: -5px;
	}
}
