.o-ft-header__mega-dropdown {
  box-sizing: border-box;
  position: absolute;
  top: 55px;
  right: 0;
  left: 0;
  border-top: 20px solid _oColorsGetPaletteColor(pink-tint2);
  padding: 15px 33px;
  min-height: 100px;
  width: 100%;
  color: #333;
  background-color: _oColorsGetPaletteColor(pink-tint1);
  z-index: $_o-ft-header-mega-dropdown-zindex;
}

.o-ft-header__mega-dropdown--secondary {
  top: 75px;
  border-top: none;
}