@import "o-useragent/main";


/**
  DEFAULT LAYOUT
**/
.o-modal {
  position:fixed;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 1;
  padding: 10px;
  box-sizing: border-box; 
  opacity: 0;
  @include oUseragentPrefixer(transition, opacity 0.3s ease-in-out);
  pointer-events: none;  // so that as soon as is-open class is gone clicks register on elements beneath the fading
}

.o-modal.is-open {
    pointer-events: auto;
    opacity: 1;
}

.o-modal__overlay {
  background: url(oAssetsUse('img/overlay-bg.png', $o-modal-assets-path, $o-modal-version));
  background: rgba(0, 0, 0, 0.4); 
  position: fixed;
  height: 150%; // because on some phones scrolling upwards detaches a 100% height overlay from the bottom of the screen
  width: 100%;
  top: 0;
  opacity: 0;
  z-index: 1;
  @include oUseragentPrefixer(transition, opacity 0.3s ease-in-out);
  pointer-events: none; 

  &.is-hidden {
    visibility: hidden;
  }

  .o-modal.is-open + & {
    pointer-events: auto;
    opacity: 1;  
  }
}

.o-modal__content {
  box-sizing: border-box;
  overflow: hidden;
  min-height: 10px;
  min-width: 10px;
  margin: 100px auto 0;
  position: absolute;
  left: 50%;
  top: 50%;
}

.o-modal__body {

  overflow-y: auto;
  height: 100%;

  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}

@include oUseragentTarget(ie7) {
  .o-modal__body {
    zoom: 1;
  }
}

/**
  FULL WIDTH AND HEIGHT
**/

.o-modal--full-width {
  padding-left: 0;
  padding-right: 0;

  // margins are used by product/other component developers to set a buffer around the modal
  // and once the edge of the page is within the buffer it switches to full-width mode.
  // As these buffers can be set by the developer using selectors of arbitrary specicifity
  // !important is used here in order to always over-ride these margins when switching to full width mode
  margin-left: 0 !important;
  margin-right: 0 !important;
  width: 100%;
  min-width: 0;

  .o-modal__overlay {
    margin-right: 0;
    margin-left: 0;
  }

  .o-modal__content {
    right: auto;
    left: auto;
    min-width: 0;
    width: 100%;
    overflow-x: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

.o-modal--full-height {
  padding-top: 0;
  padding-bottom: 0;
  height: 100%;
  min-height: 0;
  position: fixed;
  display: block;

 .o-modal__content{
    height: 100%; 
    margin-top: 0;
    margin-bottom: 0;
    top: auto;
  }
}

@import "flexbox";
