%o-ft-header__nav--theme {
  [data-nav-level]:not([data-nav-level='1']) {
    & > li {
      border-top: 1px solid #666;
      & > a {
        color: #fff;
        padding: 10px 20px;
        &:hover {
          color: oColorsGetColorFor(link-alt-hover, text);
        }
      }
    }
  }
  [data-nav-level='2'] {
    font-size: 14px;
    background-color: _oColorsGetPaletteColor(grey-tint5);
  }
  [data-nav-level='3'] {
    background-color: _oColorsGetPaletteColor(grey-tint4);
  }
}

.o-ft-header__nav--primary-theme {
  @extend %o-ft-header__nav--theme;
  height: 55px;
  font-size: 16px;
  text-align: right;
  color: #fff;
  li {
    text-align: left;
  }
  a {
    padding: 0 20px 0 0;
  }
  [aria-controls] > a,
  .nav--parent > a {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAECAYAAACzzX7wAAAAPElEQVQImW3JMQ0AMAgEwNeEG2zggxk7bwMf7HRoaNK0tx5EpKuqf1S1AQBm9qS77xwRcZLknYNkZ+aVCyxsRRbyyW4mAAAAAElFTkSuQmCC') no-repeat 91% center;
  }
  [data-nav-level='1'] {
    & > li {
      & > a {
        text-transform: uppercase;
        line-height: 55px;
        color: #fff;
        cursor: pointer;
        &:hover {
          color: oColorsGetColorFor(link-alt-hover, text);
        }
      }
    }
  }
}

.o-ft-header__nav--secondary-theme {
  @extend %o-ft-header__nav--theme;
  font-size: 12px;
  a {
    padding: 0 20px 0 0;
  }
  [aria-controls] > a,
  .nav--parent > a {
    padding-right: 20px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAECAYAAACzzX7wAAAAPElEQVQImW3JMQ0AMAgEwNeEG2zggxk7bwMf7HRoaNK0tx5EpKuqf1S1AQBm9qS77xwRcZLknYNkZ+aVCyxsRRbyyW4mAAAAAElFTkSuQmCC') no-repeat 91% center;
    cursor: pointer;
  }
}

.o-ft-header__nav--tools-theme {
  @extend %o-ft-header__nav--theme;
  min-width: 55px;
  min-height: 55px;
  border-right: 1px solid #666666;
  white-space: nowrap;

  [data-nav-level='1'] {
    & > li {
      display: inline-block;
      & > a {
        display: inline-block;
        border-left: 1px solid #666666;
        width: 54px;
        height: 55px;
        font-size: 11px;
        text-align: center;
        color: #dddddd;
        &:hover {
          color: #aaaaaa;
          i {
            color: #aaaaaa;
          }
        }
      }
    }
  }
  i {
    @include oFtIconsBaseIconStyles();
    display: block;
    margin-top: 5px;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
  }
}

@include oGridRespondTo(S) {
  .o-ft-header__nav--tools-theme {
    width: 55px;
  }
}

@include oGridRespondTo(M) {
  .o-ft-header__nav--tools-theme {
    width: 110px;
  }
}

@include oGridRespondTo(L XL) {
  .o-ft-header__nav--tools-theme {
    width: 220px;
  }
}