.o-ft-header__nav {
  font-family: sans-serif;
  white-space: nowrap;
  ul {
    padding: 0;
  }
  a {
    text-decoration: none;
  }
  [data-nav-level]:not([data-nav-level='1']) {
    background-color: #000;
    & > li {
      border-top: 1px solid #666;
      & > a {
        color: #fff;
        padding-top: 10px;
        padding-left: 20px;
        padding-bottom: 10px;
        &:hover {
          color: #ddd;
        }
      }
    }
  }
  [data-nav-level] {
    li {
      position: relative;
      > ul {
        display: none;
      }
      &[aria-expanded='true'] > ul {
        display: block;
      }
    }
  }

  [data-nav-level='1'] {
    & > li {
      display: inline-block;
      & > a {
        display: inline-block;
      }
    }
  }
  [data-nav-level='3'] {
    li {
      background-color: #333;
    }
  }

  [data-nav-level]:not([data-nav-level='1']) {
    z-index: 10;
    li {
      display: block;
      & > a {
        display: block;
      }
    }
  }

  [data-nav-level='2'] {
    position: absolute;
    & > .nav--parent.nav--right [data-nav-level='3'] {
      position: absolute;
      left: 100%;
      top: -1px;
    }
  }

}