.o-ft-header__nav {
  font-family: sans-serif;
  white-space: nowrap;
  ul {
    padding: 0;
  }
  a {
    text-decoration: none;
  }
  [data-nav-level] {
    li {
      position: relative;
      &[aria-hidden=true] {
        display: none;
      }
      > ul {
        display: none;
      }
      &[aria-expanded='true'] > ul {
        display: block;
      }
    }
  }

  [data-nav-level='1'] {
    & > li {
      display: inline-block;
      & > a {
        display: inline-block;
      }
    }
    & > .nav--parent.nav--align-right [data-nav-level='2'] {
      position: absolute;
      right: 0;
    }
  }

  [data-nav-level]:not([data-nav-level='1']) {
    z-index: 10;
    li {
      display: block;
      & > a {
        display: block;
      }
    }
  }

  [data-nav-level='2'] {
    position: absolute;
    & > .nav--parent.nav--outside-right [data-nav-level='3'] {
      position: absolute;
      left: 100%;
      top: -1px;
    }
  }

  .nav__more--some {
    .nav__more--if-some {
      display: block;
    }
    .nav__more--if-all {
      display: none;
    }
  }
  .nav__more--all {
    .nav__more--if-some {
      display: none;
    }
    .nav__more--if-all {
      display: block;
    }
  }

}