/////
/// @group o-overlay
/// @link http://registry.origami.ft.com/components/o-overlay
////

/// Base overlay style
@mixin oOverlay {
	@include oVisualEffectsShadowsElevation($elevation: 'high');
	position: fixed;
	z-index: 10;
	box-sizing: border-box;
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
	border: $_o-overlay-border-width solid oColorsGetColorFor(o-overlay, border);
	background: oColorsGetColorFor(o-overlay, background);
	border-radius: $o-normalise-border-radius;

}

/// Base overlay modal shadow style
@mixin oOverlayShadow {
	// IE8 hack to get the opacity working
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#33000000', endColorstr='#33000000'); /* IE */
	background-color: rgba(0, 0, 0, 0.2);
	position: fixed;
	height: 150%; // because on some phones scrolling upwards detaches a 100% height overlay from the bottom of the screen
	width: 100%;
	top: 0;
	left: 0;
	z-index: 10;
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
}

/// Base overlay heading style
@mixin oOverlayHeading {
	font-size: 20px;
	margin: 0;
	overflow: hidden;
	background: oColorsGetColorFor(o-overlay-heading, background);
	color: oColorsGetColorFor(o-overlay-heading, text);
}

/// Base overlay title style
@mixin oOverlayTitle {
	margin: 10px 10px 10px 20px;
	display: block;
	line-height: 25px;
	overflow: auto;
}

/// Base overlay content style
@mixin oOverlayContent {
	position: relative;
	box-sizing: border-box;
	overflow: auto;
	padding: 20px;

	> *:first-child {
		margin-top: 0;
	}

	> *:last-child {
		margin-bottom: 0;
	}
}
