// DEFAULT LAYOUT
%o-overlay {
    position: fixed;
    font-family: oFontsGetFontFamilyWithFallbacks(BentonSans);
    top: 50%;
    left: 50%;
    z-index: 10;
    box-sizing: border-box; 
    opacity: 1;
    @include oUseragentPrefixer(transition, opacity 0.3s ease-in-out);
    border: 2px solid oColorsGetColorFor(o-overlay, border);
    background: oColorsGetColorFor(o-overlay, background);
    @include oUseragentPrefixer(border-radius, 5px);
}

%o-overlay-shadow {
    background: rgba(0, 0, 0, 0.2); 
    position: fixed;
    height: 150%; // because on some phones scrolling upwards detaches a 100% height overlay from the bottom of the screen
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 1;
    @include oUseragentPrefixer(transition, opacity 0.3s ease-in-out);
}

%o-overlay__heading {
    @include oFtTypographyFontSize(14);
    margin: 0;
    background: oColorsGetColorFor(o-overlay-heading, background);
    color: oColorsGetColorFor(o-overlay-heading, text);
    font-weight: bold;
}

%o-overlay__title {
    margin: 10px 0 10px 20px;
    display: inline-block;
    line-height: 20px;
}

%o-overlay__close {
    cursor: pointer;
    padding: 10px;
    margin: 0;
    border: 0;
    background: transparent;
    float: right;
    outline: none;
}

%o-overlay__close-icon {
    @include oFtIconsBaseIconStyles();
    @extend %o-ft-icons-icon--cross;
    width: 18px;
    height: 18px;
    line-height: 23px;
    border: 1px solid;
    @include oUseragentPrefixer(border-radius, 50%);
    @include oColorsFor(o-overlay-close);

    #{$o-hoverable-if-hover-enabled} &:hover {
        color: oColorsGetColorFor(o-overlay-close-shaded, text);
        background-color: oColorsGetColorFor(o-overlay-close-shaded, background);
    }
}

%o-overlay__heading--shaded {
    background: oColorsGetColorFor(o-overlay-heading-shaded, background);
    color: oColorsGetColorFor(o-overlay-heading-shaded, text);
    font-weight: normal;

    %o-overlay__close-icon {
        @include oColorsFor(o-overlay-close-shaded);

        #{$o-hoverable-if-hover-enabled} &:hover {
            color: oColorsGetColorFor(o-overlay-close, text);
            background-color: oColorsGetColorFor(o-overlay-close, background);
        }
    }    
}

%o-overlay__content {
    @extend %o-ft-typography-body-wrapper;
    position: relative;
    box-sizing: border-box;
    overflow: auto;
    padding: 20px;

    & > *:first-child {
        margin-top: 0;
    }

    & > *:last-child {
        margin-bottom: 0;
    }

    %o-overlay__content--no-gutter {
        padding: 0;
    }
}

// FULL WIDTH AND HEIGHT

%o-overlay--full-width {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    left: 0;

    %o-overlay__content {
        width: 100%;
        overflow: scroll;
    }
}

%o-overlay--full-height {
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
    top: 0;

    %o-overlay__content {
        height: 100%;
        overflow: scroll;
    }
}
