@if not $o-forms-is-silent {
.o-forms-affix-wrapper {
	display: table;
	width: 100%;
	box-sizing: border-box;
}

.o-forms-affix-wrapper .o-forms-text,
.o-forms-affix-wrapper .o-forms-select {
	display: table-cell;
	border-radius: 0;
}

.o-forms-affix-wrapper .o-forms-text:first-child,
.o-forms-affix-wrapper .o-forms-select:first-child {
	border-top-left-radius: $_o-forms-field-borderradius;
	border-bottom-left-radius: $_o-forms-field-borderradius;
}

.o-forms-affix-wrapper .o-forms-text:last-child,
.o-forms-affix-wrapper .o-forms-select:last-child {
	border-top-right-radius: $_o-forms-field-borderradius;
	border-bottom-right-radius: $_o-forms-field-borderradius;
}

.o-forms-prefix,
.o-forms-suffix {
	display: table-cell;
	width: 1%;
	white-space: nowrap;
	border-top: $_o-forms-fieldborder;
	border-bottom: $_o-forms-fieldborder;
	padding: $_o-forms-field-default-padding-top $_o-forms-field-default-padding-leftright $_o-forms-field-default-padding-bottom;
	font-family: $o-forms-font-family;
	font-size: $_o-forms-field-default-fontsize;
	text-align: center;
	background-color: oColorsGetColorFor(o-forms-prefixsuffix, background);
	color: oColorsGetColorFor(o-forms--prefixsuffix o-forms-field-standard, text);
	user-select: none;
}

.o-forms-prefix {
	border-left: $_o-forms-fieldborder;
	border-right: 0;
	border-top-left-radius: $_o-forms-field-borderradius;
	border-bottom-left-radius: $_o-forms-field-borderradius;
}

.o-forms-suffix {
	border-right: $_o-forms-fieldborder;
	border-left: 0;
	border-top-right-radius: $_o-forms-field-borderradius;
	border-bottom-right-radius: $_o-forms-field-borderradius;
}

.o-forms--error .o-forms-prefix,
.o-forms--error .o-forms-suffix {
	@include oColorsFor(o-forms-field-invalid, border text);
}

.o-forms--valid .o-forms-prefix,
.o-forms--valid .o-forms-suffix {
	@include oColorsFor(o-forms-field-valid, border text);
}

.o-forms-prefix button,
.o-forms-suffix button {
	border-width: 0;
	margin: 0;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
	font: inherit;
	color: inherit;
	user-select: none;
}
} // /Silent mode
