@include oFtFormsPlaceholderOptionalSelector('%o-ft-forms__prefix', '.o-ft-forms__prefix') {
	border-left: $_o-ft-forms-fieldborder;
}

@include oFtFormsPlaceholderOptionalSelector('%o-ft-forms__suffix', '.o-ft-forms__suffix') {
	border-right: $_o-ft-forms-fieldborder;
}

@include oFtFormsPlaceholderOptionalSelector('%o-ft-forms__prefix, %o-ft-forms__suffix', '.o-ft-forms__prefix, .o-ft-forms__suffix') {
  @include boxSizing(border-box);
  display: block;
  border-top: $_o-ft-forms-fieldborder;
  border-bottom: $_o-ft-forms-fieldborder;
  width: 100%;
  min-height: 30px;
  font-family: $o-fonts-bentonsans-normal;
  font-size: $_o-ft-forms-fontsize-field;
  line-height: 28px;
  text-align: center;
  vertical-align: top;
  overflow: hidden;
  background-color: oColorsGetColorFor(forms-prefixsuffix, background);
  color: oColorsGetColorFor(forms-prefixsuffix form-field-standard, text);
}

@include oFtFormsPlaceholderOptionalSelector('%o-ft-forms__prefix--button, %o-ft-forms__suffix--button',
  '.o-ft-buttons__button.o-ft-forms__prefix, .o-ft-buttons__button.o-ft-forms__suffix') {
	margin: 0;
	border-radius: 0;
	padding: 0;
	width: 100%;
	height: 30px; /* Using min-height when width is also set, causes IE8 to ignore the box-sizing:border-box setting, so have to use height instead */
	line-height: 28px;
}

@include oFtFormsPlaceholderOptionalSelector('%o-ft-forms__prefix--error, %o-ft-forms__suffix--error',
  '.o-ft-forms--error .o-ft-forms__prefix:not(.o-ft-buttons__button),
.o-ft-forms--error .o-ft-forms__suffix:not(.o-ft-buttons__button),
.o-ft-forms__field:invalid') {
  border-color: oColorsGetColorFor(error, border);
  color: oColorsGetColorFor(error, text);
}

@include oFtFormsPlaceholderOptionalSelector('%o-ft-forms__prefix--valid, %o-ft-forms__suffix--valid',
  '.o-ft-forms--valid .o-ft-forms__prefix:not(.o-ft-buttons__button),
.o-ft-forms--valid .o-ft-forms__suffix:not(.o-ft-buttons__button)') {
  border-color: oColorsGetColorFor(valid, border);
  color: oColorsGetColorFor(valid, text);
}