@mixin oFormsAffixWrapper($class: 'o-forms') {
	.#{$class}__affix-wrapper {
		display: table;
		width: 100%;
		box-sizing: border-box;
		@include oTypographyMargin($top: 1);
	}

	.#{$class}__affix-wrapper .#{$class}__text,
	.#{$class}__affix-wrapper .#{$class}__select,
	.#{$class}__affix-wrapper .#{$class}__textarea {
		@include oTypographyMargin($top: 0);
	}

	.#{$class}__affix-wrapper .#{$class}__text,
	.#{$class}__affix-wrapper .#{$class}__select {
		display: table-cell;
		border-radius: 0;
	}

	.#{$class}__affix-wrapper .#{$class}__text:first-child,
	.#{$class}__affix-wrapper .#{$class}__select:first-child {
		border-top-left-radius: $_o-forms-field-border-radius;
		border-bottom-left-radius: $_o-forms-field-border-radius;
	}

	.#{$class}__affix-wrapper .#{$class}__text:last-child,
	.#{$class}__affix-wrapper .#{$class}__select:last-child {
		border-top-right-radius: $_o-forms-field-border-radius;
		border-bottom-right-radius: $_o-forms-field-border-radius;
	}
}

@mixin oFormsAffixButton($class: 'o-forms') {
	.#{$class}__prefix button,
	.#{$class}__suffix button {
		border-width: 0;
		margin: $_o-forms-field-default-padding-top * -1 $_o-forms-field-default-padding-leftright * -1 $_o-forms-field-default-padding-bottom * -1;
		padding: $_o-forms-field-default-padding-top + 1 $_o-forms-field-default-padding-leftright $_o-forms-field-default-padding-bottom + 3;
		cursor: pointer;
		font-size: 18px;
		line-height: 12px;

		// sass-lint:disable no-vendor-prefixes
		-moz-appearance: none;
		-webkit-appearance: none;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;

		&::-moz-focus-inner {
			border: 0;
			padding: 0;
		}
		// sass-lint:enable no-vendor-prefixes
	}

	.#{$class}__prefix button {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	.#{$class}__suffix button {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}

@mixin oFormsAffixCheckbox($class: 'o-forms') {
	// .#{$class}__label
	.#{$class}__prefix .#{$class}__checkbox + .#{$class}__label::before,
	.#{$class}__suffix .#{$class}__checkbox + .#{$class}__label::before,
	.#{$class}__prefix .#{$class}__checkbox + .#{$class}__label::after,
	.#{$class}__suffix .#{$class}__checkbox + .#{$class}__label::after {
		top: -3px;
		left: -4px;
	}

	.#{$class}__prefix .#{$class}__checkbox + .#{$class}__label,
	.#{$class}__suffix .#{$class}__checkbox + .#{$class}__label {
		padding-left: 30px;
		padding-top: 2px;
	}
}

@mixin oFormsPrefixSuffix($class: 'o-forms', $support-button: true) {
	@include oFormsAffixWrapper($class);
	@include oFormsAffixCheckbox($class);

	.#{$class}__prefix,
	.#{$class}__suffix {
		display: table-cell;
		vertical-align: top;
		box-sizing: border-box;
		@include oTypographyMargin($top: 1);
		width: 1%;
		white-space: nowrap;
		border-top: $_o-forms-field-border;
		border-bottom: $_o-forms-field-border;
		padding: $_o-forms-field-default-padding-top - 2px $_o-forms-field-default-padding-leftright $_o-forms-field-default-padding-bottom - 2px;
		font-family: $o-forms-font-family;
		font-size: $_o-forms-field-default-font-size;
		text-align: center;
		background-color: oColorsGetColorFor(o-forms__prefixsuffix, background);
		color: oColorsGetColorFor(o-forms--prefixsuffix o-forms-field-standard, text);
		// sass-lint:disable no-vendor-prefixes
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		// sass-lint:enable no-vendor-prefixes
	}

	.#{$class}__prefix {
		border-left: $_o-forms-field-border;
		border-right: 0;
		border-top-left-radius: $_o-forms-field-border-radius;
		border-bottom-left-radius: $_o-forms-field-border-radius;
		@include oTypographyMargin($top: 1);
	}

	.#{$class}__suffix {
		border-right: $_o-forms-field-border;
		border-left: 0;
		border-top-right-radius: $_o-forms-field-border-radius;
		border-bottom-right-radius: $_o-forms-field-border-radius;
	}

	.#{$class}--error .#{$class}__prefix,
	.#{$class}--error .#{$class}__suffix {
		@include oColorsFor(o-forms-field-invalid, border text);
	}

	.#{$class}--valid .#{$class}__prefix,
	.#{$class}--valid .#{$class}__suffix {
		@include oColorsFor(o-forms-field-valid, border text);
	}

	@if $support-button {
		@include oFormsAffixButton($class);
	}
}

@if not $o-forms-is-silent {
	@include oFormsPrefixSuffix;
} // /Silent mode
