////
/// @group o-forms
/// @link http://registry.origami.ft.com/components/o-forms
////

/// Radio and checkboxes
///
/// Draws a fake control (radio or checkbox) using pseudo-elements
///
/// IE 8: in this mixin we're using ::before and ::after (instead of :before and :after)
/// so that IE 8 doesn't get enhanced checkboxes (which it wouldn't render correctly anyway)
///
/// @param {map} $selectors [(radio: '.o-forms-radio', checkbox: '.o-forms-checkbox', label: '.o-forms-label')]
@mixin oFormsCheckboxRadio($selectors: (radio: '.o-forms-radio', checkbox: '.o-forms-checkbox', label: '.o-forms-label')) {
	$checkbox: unquote(map-get($selectors, checkbox));
	$radio: unquote(map-get($selectors, radio));
	$label: unquote(map-get($selectors, label));

	#{$checkbox},
	#{$radio} {
		position: absolute;
		opacity: 0; // better than display: none as it allows tabbing
	}

	#{$checkbox} + #{$label},
	#{$radio} + #{$label} {
		display: inline-block;
		margin-right: 15px;
		padding-left: $_o-forms-radiocheckbox-default-size + 10px;
		position: relative;
		cursor: pointer;
		font-weight: normal;
		line-height: $_o-forms-radiocheckbox-default-size;
		// scss-lint:disable VendorPrefixes
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}

	#{$checkbox}--small + #{$label},
	#{$radio}--small + #{$label} {
		padding-left: $_o-forms-radiocheckbox-small-size + 10px;
		line-height: $_o-forms-radiocheckbox-small-size;
	}

	#{$checkbox} + #{$label}::before,
	#{$radio} + #{$label}::before {
		position: absolute;
		top: 0;
		left: 0;
		width: $_o-forms-radiocheckbox-default-size;
		height: $_o-forms-radiocheckbox-default-size;
		border: 1px solid oColorsGetColorFor(o-forms-field-standard, border);
		box-sizing: border-box;
		content: '';
		background-color: oColorsGetColorFor(o-forms-field-standard, background);
		transition: all 0.1s ease-in;
	}

	#{$checkbox} + #{$label}::before,
	#{$checkbox} + #{$label}::after {
		border-radius: 3px;
	}

	// Apply different border colour to checkboxes and radio labels on focus
	#{$checkbox}:focus + #{$label}::before,
	#{$radio}:focus + #{$label}::before {
		@include oFormsCommonFieldFocus;
	}

	#{$radio} + #{$label}::before {
		// Equivalent to border-radius 50%. Fixes an old WebKit bug where rounding wouldn't be applied properly
		border-radius: 9999px;
	}

	// Add background contrast to the checked state
	#{$radio}:checked + #{$label}::before {
		background-color: #ffffff;
		border-color: oColorsGetColorFor(o-forms-radiocheckbox-checked, border);
	}

	#{$checkbox}:checked + #{$label}::before {
		background-color: oColorsGetColorFor(o-forms-radiocheckbox-checked, background);
		border-color: oColorsGetColorFor(o-forms-radiocheckbox-checked, border);
	}

	#{$checkbox}--small + #{$label}::before,
	#{$radio}--small + #{$label}::before {
		width: $_o-forms-radiocheckbox-small-size;
		height: $_o-forms-radiocheckbox-small-size;
	}

	#{$radio} + #{$label}:after,
	#{$checkbox} + #{$label}:after {
		content: '';
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		transition: 0.1s opacity ease-in;
		color: oColorsGetColorFor(o-forms-radiocheckbox-checked, background);
	}

	#{$radio}:checked + #{$label}::after,
	#{$checkbox}:checked + #{$label}::after {
		opacity: 1;
	}

	#{$radio} + #{$label}::after {
		background-color: oColorsGetColorFor(o-forms-radiocheckbox-checked, background);
		border-radius: 50%;
		height: $_o-forms-radio-internal-default-size;
		width: $_o-forms-radio-internal-default-size;
		left: ($_o-forms-radiocheckbox-default-size - $_o-forms-radio-internal-default-size) / 2;
		top: ($_o-forms-radiocheckbox-default-size - $_o-forms-radio-internal-default-size) / 2;
	}

	#{$radio}--small + #{$label}::after {
		height: $_o-forms-radio-internal-small-size;
		width: $_o-forms-radio-internal-small-size;
		left: ($_o-forms-radiocheckbox-small-size - $_o-forms-radio-internal-small-size) / 2;
		top: ($_o-forms-radiocheckbox-small-size - $_o-forms-radio-internal-small-size) / 2;
	}

	#{$checkbox} + #{$label}::after {
		background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1NCIgaGVpZ2h0PSI0NiI+PHBhdGggZmlsbD0iI2ZmZmZmZiIgZD0iTTQzLjM5MSAxLjU1N2wtMjMuMDkyIDIzLjA4OS05Ljc3LTkuNzc0LTkuNjM1IDkuNjQ0IDE5LjM5NSAxOS4zOTcuMDEtLjAyNy4wMzMuMDI3IDMyLjY5My0zMi43Mjl6Ii8+PC9zdmc+');
		background-repeat: no-repeat;
		height: $_o-forms-radiocheckbox-default-size;
		width: $_o-forms-radiocheckbox-default-size;
		background-size: $_o-forms-radiocheckbox-default-size * 3/4;
		background-position: 50% 50%;
	}

	#{$checkbox}--small + #{$label}::after {
		height: $_o-forms-radiocheckbox-small-size;
		width: $_o-forms-radiocheckbox-small-size;
		background-size: $_o-forms-radiocheckbox-small-size * 3/4;
	}

	#{$checkbox}:disabled + #{$label},
	#{$radio}:disabled + #{$label} {
		opacity: 0.4;
		cursor: default;
	}

	// Positioning fixes for IE 8
	@include _oFormsTargetIE8 {
		#{$checkbox},
		#{$radio} {
			display: inline-block;
			position: static;
		}
		#{$checkbox} + #{$label},
		#{$checkbox}--small + #{$label},
		#{$radio} + #{$label},
		#{$radio}--small + #{$label} {
			padding-left: 0;
		}
	}
}

@if not $o-forms-is-silent {
	@include oFormsCheckboxRadio;
}
