////
/// @group o-share
/// @link http://registry.origami.ft.com/components/o-share
////

/// Generate base share styles
/// @param {String} $classname [o-share] - base class name
@mixin oShareBase($classname: o-share) {
	.#{$classname} {
		display: inline-block;

		ul {
			margin: 0;
			padding: 0;
		}
	}

	.#{$classname}__action {
		float: left;
		margin: 0 5px 0 0;
		list-style-type: none;
		line-height: $o-share-icon-size;
		border: 1px solid #000000;
		border-radius: $o-normalise-border-radius;
		cursor: pointer;

		i {
			float: left;
			background-size: 100% 100%;
			width: $o-share-icon-size;
			height: $o-share-icon-size;
			text-indent: $o-share-icon-size;
			overflow: hidden;
		}

		a {
			display: block;
			width: $o-share-icon-size;
			text-decoration: none;
			overflow: hidden;
		}

		&:first-child a {
			padding-left: 0;
		}
	}
}

/// Action link styles
/// @param {String} $classname [o-share] - base class name
@mixin oShareActionLink($classname: o-share) {
	.#{$classname}__action--link {
		display: none;

		input {
			display: block;
			margin: 8px;
			border: 0;
			padding: 5px 8px;
			width: 140px;
			font-size: 12px;
			line-height: 14px;
			border-radius: $o-normalise-border-radius;
			box-shadow: 0 0 3px oColorsGetPaletteColor('grey-tint5');

			// Removes the cross the clears the input in IE 10+
			&::-ms-clear { // sass-lint:disable-line no-vendor-prefixes
				display: none;
			}
		}
	}

	[data-o-share--js] .#{$classname}__action--link {
		display: block;
	}

	.#{$classname}__action--link[aria-selected=true] {
		position: relative;

		a {
			display: none;
		}
	}
}

/// Icon
///
/// @param {String} $name - Name of the icon
/// @param {String} $classname [o-share] - base class name
@mixin oShareActionIcon($icon-name, $classname: o-share) {
	$scheme: "ftsocial-v#{$o-share-social-icons-version}";

	@if ($icon-name == 'mail' or $icon-name == 'link') {
		$scheme: "fticon-v#{$o-share-ft-icons-version}";
	}

	$service-url: "#{$o-share-image-service-base-url}/#{$o-share-image-service-version}/images/raw/#{$scheme}:#{$icon-name}";
	$query: "?source=o-share";

	$hover-color: #ffffff;

	$hover-color: str-slice(ie-hex-str($hover-color), 4);
	$tint: "&tint=%23#{$hover-color},%23#{$hover-color}";

	.#{$classname}__action--#{$icon-name} i {
		background-image: url($service-url + $query + "&format=svg");

		// ie7/8 fallback. Uses the `\9` selector hack to target ie6-8.
		// Hack is documented here: http://browserhacks.com/#hack-ab1bcc7b3a6544c99260f7608f8e845e
		// It still needs to use the build service  <-- what does this comment mean?
		background-image: url($service-url + $query + "&format=png&width=#{$o-share-icon-size}")\9;

		&:after {
			content: '';
			background-image: url($service-url + $query + "&format=svg#{$tint}");
			background-image: url($service-url + $query + "&format=png#{$tint}&width=#{$o-share-icon-size}")\9;
		}
	}

	.#{$classname}__action--#{$icon-name}:hover {
		border-color: oColorsGetColorFor('o-share-#{$icon-name}-color', background);
		background-color: oColorsGetColorFor('o-share-#{$icon-name}-color', background);

		i {
			background-image: url($service-url + $query + "&format=svg#{$tint}");
			background-image: url($service-url + $query + "&format=png#{$tint}&width=#{$o-share-icon-size}")\9;
		}
	}
}

@mixin oShareVertical($classname: o-share) {
	.#{$classname}__action {
		float: none;
		margin-bottom: 5px;
	}
}
