////
/// @group o-share
/// @link http://registry.origami.ft.com/components/o-share
////

/// Tooltip styles
/// @param {String} $classname [o-share] - base class name
@mixin oShareTooltip($classname: o-share) {
	.#{$classname}-tooltip {
		position: absolute;
		top: -40px;
		opacity: 0;
		cursor: default;
		transition: opacity 0.25s;
	}

	.#{$classname}-tooltip__text {
		padding: 8px 20px;
		color: oColorsGetColorFor(tooltip, text);
		font-weight: normal;
		font-size: 14px;
		line-height: 14px;
		text-align: center;
		white-space: nowrap;
		// scss-lint:disable DuplicateProperty
		background-color: oColorsGetColorFor(tooltip, background);
		background-color: $_o-share-tooltip-bg;
		// scss-lint:enable DuplicateProperty
		border-radius: $o-normalise-border-radius;
		text-shadow: 0 0 1px oColorsGetPaletteColor('black');
	}

	.#{$classname}-tooltip__arrow {
		position: relative;
		left: 50%;
		margin-left: -16px;
		width: 0;
		height: 0;
		border-left: 10px solid rgba(0, 0, 0, 0);
		border-right: 10px solid rgba(0, 0, 0, 0);
		border-top: 10px solid $_o-share-tooltip-bg;
	}
}
