@import "o-overlay/main";

/// Base tooltip style. Inherits from oOverlay.
@mixin oTooltip {
	@include oOverlay();
	background: $_o-tooltip-background-color;

	// Override border set in o-overlay
	border: 0;

	position: absolute;
	display: none;
}

/// Base tooltip content style. Inherits from oOverlay.
@mixin oTooltipContent {
	@include oOverlayContent;
	// Breaks long words to fit into smaller screen sizes
	hyphens: auto;
	// Override padding provided for o-overlay which is too big
	padding: 15px 35px 15px 20px;
	float: left;
}


/// Base arrow styling
///
/// @access private
///
/// @param {Number} size [10px] - Size of arrow
@mixin _oTooltipArrow($size: 10px) {
	// :before for the outer arrow that has the bordered colour,
	// and :after for the inner arrow with the white background colour
	&:before,
	&:after {
		content: "";
		position: absolute;
		border: solid transparent;
	}
	&:before {
		// 1px offset so it appears properly
		border-width: $size + $_o-overlay-border-width + 1;
	}
	&:after {
		border-width: $size;
	}
}


/// Base top/bottom arrow styling
///
/// @access private
///
/// @param {Number} size [10px] - Size of arrow
@mixin _oTooltipVerticalArrow($size: 10px) {
	@include _oTooltipArrow;

	&.o-tooltip-arrow--align-left:before,
	&.o-tooltip-arrow--align-left:after {
		left: 10%;
	}

	&.o-tooltip-arrow--align-right:before,
	&.o-tooltip-arrow--align-right:after {
		left: 90%;
	}

	&:before,
	&:after {
		left: 50%;
	}
	&:before {
		// 1px offset so it appears properly
		margin-left: -$size - $_o-overlay-border-width - 1;
	}
	&:after {
		margin-left: -$size;
	}
}

/// Top arrow styling
///
/// @param {Color} color [$_o-tooltip-border-color] - The color of the arrow shadow.
@mixin oTooltipUpArrow($color: $_o-tooltip-border-color) {
	@include _oTooltipVerticalArrow;

	&:before,
	&:after {
		bottom: 100%;
		border-top-width: 0;
	}
	&:before {
		border-bottom-color: $color;
	}
	&:after {
		border-bottom-color: $_o-tooltip-background-color;
	}
}

/// Bottom arrow styling
///
/// @param {Color} color [$_o-tooltip-border-color] - The color of the arrow shadow.
@mixin oTooltipDownArrow($color: $_o-tooltip-border-color) {
	@include _oTooltipVerticalArrow;

	&:before,
	&:after {
		top: 100%;
		border-bottom-width: 0;
	}
	&:before {
		border-top-color: $color;
	}
	&:after {
		border-top-color: $_o-tooltip-background-color;
	}
}

/// Base left/right arrow styling
///
/// @access private
///
/// @param {Number} size [10px] - Size of arrow
@mixin _oTooltipHorizontalArrow($size: 10px) {
	@include _oTooltipArrow;

	&.o-tooltip-arrow--align-top:before,
	&.o-tooltip-arrow--align-top:after {
		top: 0;
		margin-top: 0;
	}

	&.o-tooltip-arrow--align-bottom:before,
	&.o-tooltip-arrow--align-bottom:after {
		top: auto;
		bottom: 0;
		margin-top: 0;
	}


	&:before,
	&:after {
		top: 50%;
	}
	&:before {
		// 1px offset so it appears properly
		margin-top: -$size - $_o-overlay-border-width - 1;
	}
	&:after {
		margin-top: -$size;
	}
}

/// Left arrow styling
///
/// @param {Color} color [$_o-tooltip-border-color] - The color of the arrow shadow.
@mixin oTooltipLeftArrow($color: $_o-tooltip-border-color) {
	@include _oTooltipHorizontalArrow;

	&:before,
	&:after {
		right: 100%;
		border-left-width: 0;
	}
	&:before {
		border-right-color: $color;
	}
	&:after {
		border-right-color: $_o-tooltip-background-color;
	}
}

/// Right arrow styling
///
/// @param {Color} color [$_o-tooltip-border-color] - The color of the arrow shadow.
@mixin oTooltipRightArrow($color: $_o-tooltip-border-color) {
	@include _oTooltipHorizontalArrow;

	&:before,
	&:after {
		left: 100%;
		border-right-width: 0;
	}
	&:before {
		border-left-color: $color;
	}
	&:after {
		border-left-color: $_o-tooltip-background-color;
	}
}


@mixin oTooltipClose {
	@include oOverlayClose;
	position: absolute;
	top: 0;
	right: 0;
	padding: 0;
	margin: 5px 5px 15px 15px;
	border: 0;
}
