/// Unskin a field entirely, but keep its structure intact
@mixin oFormsUnskin($class: 'o-forms') {
	.#{$class}--unskin {
		// sass-lint:disable no-vendor-prefixes no-important
		-moz-appearance: none !important;
		-webkit-appearance: none !important;
		border: 0 !important;
		background-color: transparent !important;
		padding-left: 0 !important;
		padding-right: 0 !important;
		box-shadow: none !important;

		// for iOS
		-webkit-text-fill-color: oColorsGetPaletteColor('black-80') !important;
		opacity: 1 !important;
		border-radius: 0 !important;
		// sass-lint:disable no-vendor-prefixes no-important
	}
}

@if not $o-forms-is-silent {
	@include oFormsUnskin;
} // /Silent mode
