/**
 * Colour use cases
 *
 * Use these instead of the palette variables directly.
 */

$o-colors-link-text: $o-colors-palette-blue; 
$o-colors-link-text-hover: $o-colors-palette-black;
$o-colors-alt-link-text: $o-colors-palette-charcoal; 
$o-colors-alt-link-text-hover: $o-colors-palette-blue;

$o-colors-article-body-text: $o-colors-palette-charcoal;
$o-colors-article-title: $o-colors-palette-black;
$o-colors-article-subheading: $o-colors-palette-charcoal;
$o-colors-article-byline: $o-colors-palette-warm-grey2;
$o-colors-article-divider: $o-colors-palette-warm-grey2;