/// Zone wrapper
@mixin oFormsWrapper {
	max-width: $_o-forms-field-max-width;
	margin-bottom: 20px;
	margin-right: $_o-forms-group-padding * -1;
	margin-left: $_o-forms-group-padding * -1;
	padding-right: $_o-forms-group-padding;
	padding-left: $_o-forms-group-padding;

	@include _oFormsBreakpoint {
		border-radius: $_o-forms-field-border-radius;
		margin-right: 0;
		margin-left: 0;
		padding-left: 0;
		padding-right: 0;
	}

	// Clearfix
	zoom: 1;

	&:before,
	&:after {
		content: ' ';
		display: table;
	}
	&:after {
		clear: both;
	}

	&--highlight {
		background-color: oColorsGetColorFor(o-forms-wrapper-highlight, background);
	}
	&--error {
		background-color: #f8d9d9;
	}
}

@if $o-forms-is-silent == false {

	// Block style with a different background
	.o-forms-wrapper {
		@include oFormsWrapper;

		.o-forms-message {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			margin-bottom: 12px;
		}

		.o-forms-group {
			margin-top: 12px;
			margin-bottom: 12px;
		}
	}

} // /Silent mode
