/// Zone wrapper
@mixin oFormsWrapper($class: 'o-forms') {
	.#{$class}__wrapper {
		max-width: $_o-forms-field-max-width;
		margin-bottom: 20px;
		margin-right: $_o-forms-padding * -1;
		margin-left: $_o-forms-padding * -1;
		padding-right: $_o-forms-padding;
		padding-left: $_o-forms-padding;
		// Clearfix
		zoom: 1;

		&:before,
		&:after {
			content: ' ';
			display: table;
		}
		&:after {
			clear: both;
		}

		@include _oFormsBreakpoint {
			border-radius: $_o-forms-field-border-radius;
			margin-right: 0;
			margin-left: 0;
			padding-left: 0;
			padding-right: 0;
		}

		&--highlight {
			background-color: oColorsGetColorFor(o-forms__wrapper-highlight, background);
		}
		&--error {
			background-color: #f8d9d9;
		}

		&--wide {
			@include oFormsFullWidth;
		}

		.#{$class} {
			margin-top: 12px;
			margin-bottom: 12px;
		}

		.#{$class}__message {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			margin-bottom: 12px;
		}
	}
}

@if $o-forms-is-silent == false {
	@include oFormsWrapper;
} // /Silent mode
