/// Styles for read next aside header
/// @brand master
@mixin oTypographyReadNext {
	@include oTypographySansBold($scale: 1);
	margin-top: 0;
	margin-bottom: oSpacingByName('s2');
	color: oColorsGetPaletteColor('black');

	&:after {
		content: '';
		display: block;
		width: 60px;
		padding-top: oSpacingByName('s1');
		border-bottom: oSpacingByName('s1') solid oColorsGetPaletteColor('black');
	}
}

/// Style for big-number aside
/// @brand master
@mixin oTypographyBigNumber {
	@include oTypographySansBold($scale: 10);
	color: oColorsGetColorFor('body', 'text');
}

/// Styles for collection headers including
/// full-width top border
/// @brand master
@mixin oTypographyCollectionHeader {
	@include oTypographySans($scale: 3);
	position: relative;
	padding-top: oSpacingByName('s2');
	border-top: oSpacingByName('s2') solid oColorsMix($percentage: 5);
	color: oColorsGetColorFor('body', 'text');

	&:before {
		content: '';
		display: block;
		position: absolute;
		top: oSpacingByName('s2') * -1;
		left: 0;
		width: 50%;
		border-top: oSpacingByName('s2') solid oColorsGetPaletteColor('black');
	}
}
