////
/// @group Use cases
/// @link http://registry.origami.ft.com/components/o-typography
////

/// h1 styles
@mixin oTypographyHeading1 {
	@include oTypographyDisplay(7);
	margin-top: 0;
	margin-bottom: 8px;
}

/// h2 styles
@mixin oTypographyHeading2 {
	@include oTypographyDisplay(6);
	margin-top: 0;
	margin-bottom: 0;
}

/// h3 styles
@mixin oTypographyHeading3 {
	@include oTypographyDisplay(5);
	margin-top: 0;
	margin-bottom: 0;
}

/// h4 styles
@mixin oTypographyHeading4 {
	@include oTypographyDisplay(4);
	margin-top: 0;
	margin-bottom: 0;
}

/// h5 styles
@mixin oTypographyHeading5 {
	@include oTypographyDisplay(3);
}

@mixin oTypographyLinkTopic {
	@include oTypographySansBold(1);
	@include oColorsFor(tag-link, text);
	text-decoration: none;

	&:hover {
		@include oColorsFor(tag-link-hover, text);
	}
}
@mixin oTypographyLinkTopicMedium {
	@include oTypographyLinkTopic;
	@include oTypographySansBold(2);
}

/// Style for subhead class
@mixin oTypographySubhead {
	@include oTypographySansBold(3);
	margin-top: 50px;
	margin-bottom: 20px;
}

/// Style for subhead crosshead class
@mixin oTypographySubheadCrosshead {
	@include oTypographySubhead;
	border-bottom: 1px solid oColorsGetPaletteColor('black');
}
