////
/// @group Use cases
/// @link http://registry.origami.ft.com/components/o-typography
////

/// Level 1 heading styles.
@mixin oTypographyHeadingLevel1 {
	@include _oTypographyHeading($from: 'heading-level-one');
}

/// Level 2 heading styles.
@mixin oTypographyHeadingLevel2 {
	@include _oTypographyHeading($from: 'heading-level-two');
}

/// Level 3 heading styles.
@mixin oTypographyHeadingLevel3 {
	@include _oTypographyHeading($from: 'heading-level-three');
}

/// Level 4 heading styles.
@mixin oTypographyHeadingLevel4 {
	@include _oTypographyHeading($from: 'heading-level-four');
}

/// Level 5 heading styles.
@mixin oTypographyHeadingLevel5 {
	@include _oTypographyHeading($from: 'heading-level-five');
}

/// Level 6 heading styles.
/// @brand internal|whitelabel
@mixin oTypographyHeadingLevel6 {
	@include _oTypographyHeading($from: 'heading-level-six');
}

/// Heading styles.
/// @access private
@mixin _oTypographyHeading($from) {
	// If weight is not given default to regular,
	// overriding the browser default.
	$weight: _oTypographyGet('weight', $from);
	$weight: if($weight, $weight, 'regular');
	@include oTypographySans(
		$scale: (
			default: _oTypographyGet('scale', $from),
			S: _oTypographyGet('scale-s', $from),
			M: _oTypographyGet('scale-m', $from),
			L: _oTypographyGet('scale-l', $from),
			XL: _oTypographyGet('scale-xl', $from)
		),
		$weight: $weight
	);
	color: oColorsGetColorFor('body', 'text');
	margin: 0 0 oSpacingByName('s4');
}
