////
/// @group Use cases
/// @link http://registry.origami.ft.com/components/o-typography
////

/// Typography wrapper
@mixin _oTypographyWrapper() {

	> h1 {
		@include oTypographyHeadingLevel1;
	}

	> h2 {
		@include oTypographyHeadingLevel2;
	}

	> h3 {
		@include oTypographyHeadingLevel3;
	}

	> h4 {
		@include oTypographyHeadingLevel4;
	}

	> h5 {
		@include oTypographyHeadingLevel5;
	}

	> h6 {
		@include oTypographyHeadingLevel6;
	}

	> a {
		@include oTypographyLink;
	}

	> p {
		@include oTypographyBody;
	}

	> ol,
	> ul {
		// Output base styles shared by all list types.
		@include oTypographyList();
	}

	> ol {
		// Output list styles unique to an ordered list.
		@include oTypographyList($type: 'ordered', $include-base-styles: false);
	}

	> ul {
		// Output list styles unique to an unordered list.
		@include oTypographyList($type: 'unordered', $include-base-styles: false);
	}

	> footer {
		@include oTypographyFooter;
	}

	> strong {
		@include oTypographySans (
			$weight: 'semibold',
			$include-font-family: false
		);
	}

	> em {
		font-style: italic;
	}

	> sup {
		@include oTypographySuper;
	}

	> sub {
		@include oTypographySub;
	}

	> figcaption {
		@include oTypographyCaption;
	}
}
