<header class="o-header-services o-layout__header" data-o-component="o-header">
	<div class="o-header-services__top o-header-services__container">

			<div class="o-header-services__hamburger">
				<a class="o-header-services__hamburger-icon" href="#o-header-drawer" aria-controls="o-header-drawer"><span class="o-header__visually-hidden">Menu</span></a>
			</div>

			<div class="o-header-services__ftlogo"></div>
			<div class="o-header-services__title">
				<h1 class="o-header-services__product-name">
					<a href="/">{{title}}</a>
				</h1>
				<span class="o-header-subrand__product-tagline">{{description}}</span>
			</div>
	</div>

	<nav class="o-header-services__primary-nav">
		<div class="o-header-services__container">
			<ul class="o-layout__primary-nav o-header-services__nav-list">
				{{#mainNav}}
					<li class="o-header-services__nav-item">
						<a class="o-header-services__nav-link {{#current}}o-header-services__nav-link--selected{{/current}}" href="{{href}}">
							{{name}}
						</a>
					</li>
				{{/mainNav}}
			</ul>
		</div>
	</nav>

	{{#hasChildren}}
		<nav class="o-header__subnav" role="navigation" aria-label="Sub navigation" data-o-header-subnav="">
			<div class="o-header-services__container">
				<div class="o-header__subnav-wrap-outside">
					<div class="o-header__subnav-wrap-inside" data-o-header-subnav-wrapper="">
						<div class="o-header__subnav-content">
							<ol class="o-header__subnav-list o-header__subnav-list--breadcrumb" aria-label="Breadcrumb">
								{{#ancestors}}
									<li class="o-header__subnav-item">
										<a class="o-header__subnav-link" href="{{href}}">
											{{name}}
										</a>
									</li>
								{{/ancestors}}
							</ol>

							<ul class="o-header__subnav-list o-header__subnav-list--children" aria-label="Subsections">
								{{#children}}
								<li class="o-header__subnav-item">
									<a class="o-header__subnav-link" href="{{href}}"  {{#current}} aria-current {{/current}} >
										{{name}}
									</a>
								</li>
								{{/children}}
							</ul>
						</div>
					</div>
					<button class="o-header__subnav-button o-header__subnav-button--left" title="scroll left" aria-hidden="true" disabled></button>
					<button class="o-header__subnav-button o-header__subnav-button--right" title="scroll right" aria-hidden="true" disabled></button>
				</div>
			</div>
		</nav>
	{{/hasChildren}}
</header>
