<div class="o-layout__header">
	<!-- start o-header-services markup: included as a seperate dependency, see https://registry.origami.ft.com/components/o-header-services -->
	<header class='o-header-services' data-o-component='o-header-services'>
		<div class="o-header-services__top">
				<div class='o-header-services__logo'></div>

				<div class="o-header-services__title">
					<span class="o-header-services__product-name"><a href="/">Layout Demos</a></span>
					<span class="o-header-services__product-tagline">{{ tagline }}</span>
				</div>
		</div>
	</header>
	<!-- end o-header-services markup -->
</div>
