@import '@financial-times/o3-web-token/icons.css';

@font-face {
	src: url('https://www.ft.com/__origami/service/build/v3/font?version=1.13&font_name=Metric2-VF&system_code=origami&font_format=woff2')
		format('woff2');
	font-family: 'Metric2-VF';
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

o3-tooltip {
	--_o3-tooltip-padding-top: 12px;
	--_o3-tooltip-padding-right: 16px;
	--_o3-tooltip-close-button-size: 20px;

	box-sizing: border-box;
	width: max-content;
	max-width: 250px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;

	/* TODO: Values are copied from figma but this can be replaced by tokens */
	box-shadow: 2px 2px 6px 0px rgba(26, 26, 26, 0.1),
		5px 5px 24px 0px rgba(26, 26, 26, 0.17);
	background: #fff;
	font-weight: 400;
	font-family: 'Metric2-VF', sans-serif;
	font-size: 14px;
}

.o3-tooltip-content {
	font-family: inherit;
	font-weight: inherit;
	position: relative;
	box-sizing: border-box;
	overflow: auto;
	padding: var(--_o3-tooltip-padding-top) var(--_o3-tooltip-padding-right)
		var(--_o3-tooltip-padding-right);
	margin-right: var(--_o3-tooltip-close-button-size);
	hyphens: auto;
}

.o3-tooltip-content-title {
	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	color: inherit;
	margin-bottom: 8px;
}
/* CLOSE BUTTON */
o3-tooltip .o3-tooltip-close {
	width: var(--_o3-tooltip-close-button-size);
	height: var(--_o3-tooltip-close-button-size);
	mask-image: var(--o3-icons-ft-icon-cross);
	mask-repeat: no-repeat;
	mask-size: contain;
	display: inline-block;
	background-color: var(--o3-color-palette-black-90);
	position: absolute;
	top: var(--_o3-tooltip-padding-top);
	right: var(--_o3-tooltip-padding-right);
	cursor: pointer;
	user-select: none;
}

/* ARROW STYLES */
o3-tooltip > [data-tooltip-arrow],
o3-tooltip > [data-tooltip-arrow]::before {
	position: absolute;
	width: 20px;
	height: 20px;
	background: inherit;
}
o3-tooltip > [data-tooltip-arrow]::before {
	visibility: visible;
	content: '';
	transform: rotate(45deg);
}

o3-tooltip > [data-tooltip-arrow] {
	visibility: hidden;
}

o3-tooltip[tip-placement^='top'] > [data-tooltip-arrow] {
	bottom: -10px;
}

o3-tooltip[tip-placement^='bottom'] > [data-tooltip-arrow] {
	top: -10px;
}

o3-tooltip[tip-placement^='left'] > [data-tooltip-arrow] {
	right: -10px;
}

o3-tooltip[tip-placement^='right'] > [data-tooltip-arrow] {
	left: -10px;
}

o3-tooltip[tip-placement='top-start'] > [data-tooltip-arrow] {
	left: 10px;
}

o3-tooltip[tip-placement='top-end'] > [data-tooltip-arrow] {
	right: 10px;
}

o3-tooltip[tip-placement='top'] > [data-tooltip-arrow] {
	left: 50%;
	transform: translateX(-50%);
}

o3-tooltip[tip-placement='bottom-start'] > [data-tooltip-arrow] {
	left: 10px;
}

o3-tooltip[tip-placement='bottom-end'] > [data-tooltip-arrow] {
	right: 10px;
}

o3-tooltip[tip-placement='bottom'] > [data-tooltip-arrow] {
	left: 50%;
	transform: translateX(-50%);
}

o3-tooltip[tip-placement='left-start'] > [data-tooltip-arrow] {
	top: 10px;
}

o3-tooltip[tip-placement='left-end'] > [data-tooltip-arrow] {
	bottom: 10px;
}

o3-tooltip[tip-placement='left'] > [data-tooltip-arrow] {
	top: 50%;
	transform: translateY(-50%);
}

o3-tooltip[tip-placement='right-start'] > [data-tooltip-arrow] {
	top: 10px;
}

o3-tooltip[tip-placement='right-end'] > [data-tooltip-arrow] {
	bottom: 10px;
}

o3-tooltip[tip-placement='right'] > [data-tooltip-arrow] {
	top: 50%;
	transform: translateY(-50%);
}
