<figure>
    <img alt="" src="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fim.ft-static.com%2Fcontent%2Fimages%2Fa60ae24b-b87f-439c-bf1b-6e54946b4cf2.img?source=origami-build-tools">
    <figcaption class="o-typography-caption">
        <a class="o-typography-link" href="#void">©Lorem</a> John Doe
    </figcaption>
</figure>
