<p class="o-typography-body o-typography-ft-live o-typography-inverse">
    We have a <a href="#" class="o-typography-link">standard link</a> style.
    Links may open in a new window/tab but we <a href="https://www.w3.org/TR/WCAG20-TECHS/G200.html" class="o-typography-link">recommend against this</a> in most cases.
</p>
