<p class="o-typography-body">
    We have a <a href="#" class="o-typography-link">standard link</a> and
    <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/a#target" class="o-typography-link o-typography-link--external">external link</a> style.
    External links may open in a new window/tab but we <a href="https://www.w3.org/TR/WCAG20-TECHS/G200.html" rel="noreferrer noopener" target="_blank" class="o-typography-link o-typography-link--external">recommend against this</a> in most cases.
</p>
