<!-- o-typography-body used for demo purposes. List font size, line height, and colour are inherited  -->
<div class="o-typography-body">

	<ul class="o-typography-list o-typography-list--unordered">
		<li>List</li>
		<li>List</li>
	</ul>

	<ol class="o-typography-list o-typography-list--ordered">
		<li>List ordered</li>
		<li>List ordered</li>
	</ol>

</div>


<!-- o-typography-body used for demo purposes. List font size, line height, and colour are inherited  -->
<div class="o-typography-body">

	<ul class="o-typography-list o-typography-list--unordered">
		<li>
			<p>List of paragraphs<p>
			<p>List of paragraphs<p>
		</li>
		<li>
			<p>List of paragraphs<p>
			<p>List of paragraphs<p>
		</li>
	</ul>

	<ol class="o-typography-list o-typography-list--ordered">
		<li>
			<p>Ordered list of paragraphs<p>
			<p>Ordered list of paragraphs<p>
		</li>
		<li>
			<p>Ordered list of paragraphs<p>
			<p>Ordered list of paragraphs<p>
		</li>
	</ol>

</div>
