
<p class="type-scale">
	<span class="type-scale__label">-2</span>
	<span class="type-scale__example type-scale__example--2">Don&rsquo;t settle for black and white</span>
</p>

<p class="type-scale">
	<span class="type-scale__label">-1</span>
	<span class="type-scale__example type-scale__example--1">Don&rsquo;t settle for black and white</span>
</p>

<p class="type-scale">
	<span class="type-scale__label">0</span>
	<span class="type-scale__example type-scale__example-0">Don&rsquo;t settle for black and white</span>
</p>

<p class="type-scale">
	<span class="type-scale__label">1</span>
	<span class="type-scale__example type-scale__example-1">Don&rsquo;t settle for black and white</span>
</p>

<p class="type-scale">
	<span class="type-scale__label">2</span>
	<span class="type-scale__example type-scale__example-2">Don&rsquo;t settle for black and white</span>
</p>

<p class="type-scale">
	<span class="type-scale__label">3</span>
	<span class="type-scale__example type-scale__example-3">Don&rsquo;t settle for black and white</span>
</p>

<p class="type-scale">
	<span class="type-scale__label">4</span>
	<span class="type-scale__example type-scale__example-4">Don&rsquo;t settle for black and white</span>
</p>

<p class="type-scale">
	<span class="type-scale__label">5</span>
	<span class="type-scale__example type-scale__example-5">Don&rsquo;t settle for black and white</span>
</p>

<p class="type-scale">
	<span class="type-scale__label">6</span>
	<span class="type-scale__example type-scale__example-6">Don&rsquo;t settle for black and white</span>
</p>

<p class="type-scale">
	<span class="type-scale__label">7</span>
	<span class="type-scale__example type-scale__example-7">Don&rsquo;t settle for black and white</span>
</p>

<p class="type-scale">
	<span class="type-scale__label">8</span>
	<span class="type-scale__example type-scale__example-8">Don&rsquo;t settle for black and white</span>
</p>

<p class="type-scale">
	<span class="type-scale__label">9</span>
	<span class="type-scale__example type-scale__example-9">Don&rsquo;t settle for black and white</span>
</p>

<p class="type-scale">
	<span class="type-scale__label">10</span>
	<span class="type-scale__example type-scale__example-10">Don&rsquo;t settle for black and white</span>
</p>
