---
let icon = '';
let title = Astro.props.title || 'Example';
let classModifier;
let centredClass = Astro.props.centred === true ? 'example--centred' : '';
switch (Astro.props.do) {
	case true:
		icon = '✅';
		title = Astro.props.title || 'Do';
		classModifier = 'example--do';
		break;
	case false:
		icon = '❌';
		title = Astro.props.title || "Don't";
		classModifier = 'example--do-not';
		break;

	default:
		break;
}
---

<div class={`not-content example ${classModifier} ${centredClass}`}>
	<span class="example__tag o3-type-detail"
		>{icon}
		{title}</span
	>
	<span class="example__content" data-apply-current-brand>
		<slot />
	</span>
</div>

<style>
	.example {
		border: 3px solid;
		border-color: var(--o3-color-palette-slate-white-15);
	}

	.example--do {
		border-color: #005c00;
	}
	.example--do-not {
		border-color: #a00000;
	}
	.example__tag {
		display: block;
		padding: 0.25rem 0.5rem;
		background-color: var(--o3-color-palette-slate-white-5);
	}

	.example__content {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;
		margin: 0.5rem;
	}
	.example--centred .example__content {
		justify-content: center;
		text-align: center;
	}
	.example--do .example__tag {
		color: #005c00;
		background-color: rgba(0, 128, 0, 0.1);
	}
	.example--do-not .example__tag {
		color: #a00000;
		background-color: rgba(255, 0, 0, 0.1);
	}
</style>
