// Square root maths function
//
// @param {Number} $root - Number to find the square root of
// Code from: https://gist.github.com/jlong/f06f5843104ee10006fe
@function sqrt($root) {
    $x0: 1;
    $x1: $x0;

    @for $idx from 1 through 10 {
        $x1: $x0 - ($x0 * $x0 - abs($root)) / (2 * $x0);
        $x0: $x1;
    }

    @return $x1;
}

/// Power of maths function
///
/// @param {Number} $number - Number
/// @param {Number} $exponent - Exponent
/// From: https://css-tricks.com/snippets/sass/power-function/
@function pow($number, $exponent) {
  $value: 1;

  @if $exponent > 0 {
    @for $idx from 1 through $exponent {
      $value: $value * $number;
    }
  } @else if $exponent < 0 {
    @for $idx from 1 through -$exponent {
      $value: $value / $number;
    }
  }

  @return $value;
}
