<form data-o-component="o-forms">
    <div class="o-forms-field">
        <span class="o-forms-title">
            <label for="my-autocomplete" class="o-forms-title__main">Select your country</label>
        </span>
        <span class="o-forms-input o-forms-input--text">
            <span data-o-component="o-autocomplete" data-o-autocomplete-default-value="United Kingdom" data-o-autocomplete-source="customSuggestions" class="o-autocomplete">
                <!-- If the JavaScript executes, then this input will be progressively enhanced to an autocomplete component -->
                <input required type="text" name="text-example" id="my-autocomplete">
            </span>
            <span role="alert" class="o-forms-input__error">Please fill out this field</span>
        </span>
    </div>
</form>
