---
import * as Component from './preview/BigNumber.tsx';
import FigmaSbLinks from '../utils/FigmaSbLinks.astro';
import Preview from '../utils/Preview.astro';
const {brand} = Astro.props;
const sbId = `${brand}-o3-editorial-typography--big-number`
---

<p>
	Big Number is a composite component that includes a large number and a label.
	It is used to describe a big number in the editorial content.
</p>

<Preview component={Component} />

<FigmaSbLinks {sbId} />
