---
import {Headline} from '@financial-times/o3-editorial-typography';
---



<h4>Headline</h4>
<p>For titles and introductions of Feature posts and other new stories. Usage example: <a
	href="https://www.ft.com/content/0d1326b7-8c83-46bc-a9c2-56ce7bb1a109#:~:text=Add%20to%20myFT-,Keir%20Starmer%20defends%20green%20spending%20U%2Dturn%20as%20Sunak%20claims%20Labour%20policy%20is%20in%20%E2%80%98tatters%E2%80%99,-Opposition%20leader%20wants">Top
	Stories</a>, <a
	href="https://www.ft.com/content/65593173-7f85-47f6-a253-29cc374fd3ca#:~:text=Opinion%20Corporate%20governance-,Sunak%20take%20note%3A%20diluting%20corporate%20governance%20has%20consequences,-Proposed%20reforms%20to">Opinion</a>
</p>
<table>
	<thead>
	<tr>
		<th>Viewport</th>
		<th>Style Preview</th>
		<th>Value</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>S</td>
		<td class="headline-s">Headline</td>
		<td>
			Financier Display / 300 / scale 4
		</td>
	</tr>
	<tr>
		<td>M</td>
		<td class="headline-m">Headline</td>
		<td>
			Financier Display / 300 / scale 5
		</td>
	</tr>
	<tr>
		<td>L</td>
		<td class="headline-l">Headline</td>
		<td>
			Financier Display / 300 / scale 6
		</td>
	</tr>
	</tbody>
</table>

<h4>Lower Headings</h4>
<p>
	The following headlines have the same values across all screen sizes, mobile,
	tablet, desktop.
</p>

<table>
	<thead>
	<tr>
		<th>Style Preview</th>
		<th>Links</th>
		<th>Usage</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td class="chapter not-content">
			<Headline type="chapter">Chapter</Headline>
		</td>
		<td>
			Metric2 / semi-bold / scale 4
		</td>
		<td>
			<p>For in-page titles / chapters</p>
			<p>Usage Examples: <a
				href="https://www.ft.com/content/844ed28c-8074-4856-bde0-20f3bf4cd8f0#:~:text=gaming.%20Tom%20Braithwaite-,1.%20Amazon,-SECTOR%3A%20ECOMMERCE%20/%20HQ">FT
				Series</a>, <a
				href="https://www.ft.com/content/40413894-3612-4228-8435-fb6af2659eb2#:~:text=AGO07%3A50-,Labour%20blames%20government%20finances%20for%20ditching%20%C2%A328bn%20green%20investment%20plan,-Donato%20Paolo%20Mancini">Live
				News</a></p>
		</td>
	</tr>
	<tr>
		<td class="subheading not-content">
			<Headline type="subheading">Subheading</Headline>
		</td>
		<td>
			Metric2 / regular / scale 4
		</td>
		<td>
			<p>For in-page sub-titles / sub-headings</p>
			<p>Usage Example: <a
				href="https://www.ft.com/content/2489a831-7a4b-4bcb-96ec-2c9c1d4ebe8e#:~:text=for%20all%20palates.-,The%20Salad%20Project,-1%20OLD%20BROAD">FT
				Globetrotter</a></p>
		</td>
	</tr>
	<tr>
		<td class="label not-content">
			<Headline type="label">LABEL</Headline>
		</td>
		<td>
			Metric2 / regular / scale 0
		</td>
		<td
		><p>To provide short details about a chapter, kickers (additional headline)
			just above a chapter.</p>

			<p>Usage Examples: <a href="https://www.ft.com/content/844ed28c-8074-4856-bde0-20f3bf4cd8f0#:~:text=SECTOR%3A%20ECOMMERCE%20/%20HQ%3A%20SEATTLE%2C%20US">FT Series</a>, <a href="https://www.ft.com/content/82574e3d-1633-48ad-8afb-71ebb3fe3dee#:~:text=promised%20the%20world.-,EARLY%20WARNINGS,-The%20virus%20arrives">kickers</a></p>
		</td>
	</tr>
	</tbody>
</table>

<style>
	tr > td:first-child {
		text-align: center;
	}

	.headline-large-s {
		font-family: var(
			--_o3-editorial-typography-headline-large-s-font-family
		);
		font-weight: var(
			--_o3-editorial-typography-headline-large-s-font-weight
		);
		font-size: var(
			--_o3-editorial-typography-headline-large-s-font-size
		);
		line-height: var(
			--_o3-editorial-typography-headline-large-s-line-height
		);
	}

	.headline-large-m {
		font-family: var(
			--_o3-editorial-typography-headline-large-m-font-family
		);
		font-weight: var(
			--_o3-editorial-typography-headline-large-m-font-weight
		);
		font-size: var(
			--_o3-editorial-typography-headline-large-m-font-size
		);
		line-height: var(
			--_o3-editorial-typography-headline-large-m-line-height
		);
	}

	.headline-large-l {
		font-family: var(
			--_o3-editorial-typography-headline-large-l-font-family
		);
		font-weight: var(
			--_o3-editorial-typography-headline-large-l-font-weight
		);
		font-size: var(
			--_o3-editorial-typography-headline-large-l-font-size
		);
		line-height: var(
			--_o3-editorial-typography-headline-large-l-line-height
		);
	}

	.headline-s {
		font-family: var(
			--_o3-editorial-typography-headline-s-font-family
		);
		font-weight: var(
			--_o3-editorial-typography-headline-s-font-weight
		);
		font-size: var(--_o3-editorial-typography-headline-s-font-size);
		line-height: var(
			--_o3-editorial-typography-headline-s-line-height
		);
	}

	.headline-m {
		font-family: var(
			--_o3-editorial-typography-headline-m-font-family
		);
		font-weight: var(
			--_o3-editorial-typography-headline-m-font-weight
		);
		font-size: var(--_o3-editorial-typography-headline-m-font-size);
		line-height: var(
			--_o3-editorial-typography-headline-m-line-height
		);
	}

	.headline-l {
		font-family: var(
			--_o3-editorial-typography-headline-l-font-family
		);
		font-weight: var(
			--_o3-editorial-typography-headline-l-font-weight
		);
		font-size: var(--_o3-editorial-typography-headline-l-font-size);
		line-height: var(
			--_o3-editorial-typography-headline-l-line-height
		);
	}
</style>
