---
---

<>
	<h4>Headline Large</h4>

	<p>
		Use for titles and headlines of Main news pages and articles. Usually in the full-bleed topper component. Use in
		moderation. Usage example: <a
		href="https://www.ft.com/content/5381cdf8-b0ca-44ac-8194-c413820ecb89#:~:text=Add%20to%20myFT-,Canary%20Wharf%E2%80%99s%20George%20Iacobescu%3A%20%E2%80%98We%20didn%E2%80%99t%20build%20buildings.%20We%20built%20a%20city%E2%80%99,-The%20property%20developer">Life
		& Arts</a>
	</p>

	<table>
		<thead>
		<tr>
			<th>Viewport</th>
			<th>Style Preview</th>
			<th>Value</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>S</td>
			<td class="headline-large-s">Headline large</td>
			<td>
				Financier Display / 800 / scale 4
			</td>
		</tr>
		<tr>
			<td>M</td>
			<td class="headline-large-m">Headline large</td>
			<td>
				Financier Display / 800 / scale 5
			</td>
		</tr>
		<tr>
			<td>L</td>
			<td class="headline-large-l">Headline large</td>
			<td>
				Financier Display / 800 / scale 6
			</td>
		</tr>
		</tbody>
	</table>
</>
