---
import * as HeadlineLarge from './preview/Headline-Large';
import Preview from '../utils/Preview.astro';
import FigmaSbLinks from '../utils/FigmaSbLinks.astro';
const {brand} = Astro.props;
const storybookIdHeadlineLarge = `${brand}-o3-editorial-typography--headline-large`;
---
<>
	<h4>Headline Large</h4>

	<p>
		Use for titles and headlines of Main news pages and articles. Usually in the full-bleed topper component. Use in
		moderation. Usage example: <a
		href="https://www.ft.com/content/5381cdf8-b0ca-44ac-8194-c413820ecb89#:~:text=Add%20to%20myFT-,Canary%20Wharf%E2%80%99s%20George%20Iacobescu%3A%20%E2%80%98We%20didn%E2%80%99t%20build%20buildings.%20We%20built%20a%20city%E2%80%99,-The%20property%20developer">Life
		& Arts</a>
	</p>

	<Preview component={HeadlineLarge} />
	<FigmaSbLinks storybookId={storybookIdHeadlineLarge} />
</>
