---
import * as Component from './preview/Link.tsx';
import FigmaSbLinks from '../utils/FigmaSbLinks.astro';
import Preview from '../utils/Preview.astro';

const {brand} = Astro.props;
const storybookId = `${brand}-o3-editorial-typography--link`;
---

<p>
	Link styles can be applied to any copy, font family and size are inherited.
</p>

<Preview component={Component} />

<FigmaSbLinks {storybookId} />
