


<table>
	<thead>
		<tr>
			<th>Preview</th>
			<th>Usage</th>
			<th>Token</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="financier">Financier Display</td>
			<td>use financier display for large article titles and headings.</td>
			<td>--o3-font-family-financier-display</td>
		</tr>
		<tr>
			<td class="metric">Metric 2 VF</td>
			<td>use metric for smaller, mid-article titles and headings,H2 and below.</td>
			<td>--o3-font-family-metric</td>
		</tr>
		<tr>
			<td class="georgia">Georgia</td>
			<td>use georgia for article body copy.</td>
			<td>--o3-font-family-georgia</td>
		</tr>
	</tbody>
</table>


<style>
	.financier {
		font-size: 40px;
		font-weight: bold;
		font-family: var(--o3-font-family-financier-display);
	}

.metric {
	font-size: 28px;
	font-weight: bold;
	font-family: var(--o3-font-family-metric);
}

.georgia {
	font-size: 20px;
	font-family: var(--o3-font-family-georgia)
}
</style>
