
$o-banner-is-silent: true !default;

$_o-banner-spacing: oSpacingByIncrement(10) !default;
$_o-banner-close-button-size: 26 !default;
$_o-banner-themes: ('marketing', 'product');
$_o-banner-layouts: ('small', 'compact');
