/// @output Styles for a custom button theme `.o-buttons--[$name]`.
/// @example - Add a new claret theme for both primary and secondary buttons.
///     // Outputs class .o-buttons--my-special-button
///     @include oButtonsAddTheme(
///         $name: 'my-special-button',
///         $opts: ('color': 'claret-80'),
///         $types: ('primary', 'secondary')
///     );
/// @example - Add a new claret theme to go on a slate background.
///     // Outputs class .o-buttons--my-special-button
///     @include oButtonsAddTheme(
///         $name: 'my-special-button',
///         $opts: ('color': 'claret-80', 'context': 'slate'),
///         $types: ('primary', 'secondary')
///     );
/// @example - Add a new claret theme for buttons with icons.
///     // Outputs class .o-buttons--my-special-button
///     @include oButtonsAddTheme(
///         $name: 'my-special-button',
///         $opts: ('color': 'claret-80'),
///         $types: ('primary', 'secondary'),
///         $icons: ('arrow-up', 'arrow-down')
///     );
/// @param {String} $name - A theme name e.g. `my-special-button`.
/// @param {Map} $opts - A custom theme map with a `color` and optional `context` key. The context key indicates the background colour your button is placed on, it defaults to the page colour (paper for the core brand, white otherwise). See [the README](https://registry.origami.ft.com/components/o-buttons/readme) for more details.
/// @param {List} $types - The types of button to output the theme for e.g. ('primary', 'secondary').
/// @param {List|Null} $icons [null] - The button icons to output for this theme.
@mixin oButtonsAddTheme($name, $opts, $types, $icons: null) {
	// Add the name to the theme map.
	$theme: map-merge(('name': $name), $opts);
	// Create each button type for the new theme.
	@each $type in $types {
		@include _oButtonsAdd($type, $theme, $icons);
	}
}

/// Create a single button with a custom class. To avoid duplicate CSS this is
/// not recommended unless `o-buttons` default classes cannot be used. See [the
/// README](https://registry.origami.ft.com/components/o-buttons/readme) for
/// more details.
///
/// @example - Output a primary button with right arrow.
///     .my-button {
///         @include oButtonsContent($opts: (
///             'type': 'primary',
///             'icon': 'arrow-right'
///         ));
///     }
///
/// @example - Output a primary button with a custom lemon theme.
///     .my-lemon-button {
///         @include oButtonsContent($opts: (
///             'type': 'primary',
///             'theme': ('color': 'lemon')
///         ));
///     }
///
/// @example - Share base button styles.
///     // output base button styles only
///     .my-button {
///         @include oButtonsContent($opts: ());
///     }
///     // output modifier classes for button types, without duplicating base styles
///     .my-button--secondary {
///         @include oButtonsContent($opts: (
///             'type': 'secondary'
///         ), $include-base-styles: false);
///     }
///     .my-button--primary {
///         @include oButtonsContent($opts: (
///             'type': 'primary'
///         ), $include-base-styles: false);
///     }
/// @output Button CSS declarations without any selectors.
/// @param {Map} $opts [('type': 'null', 'theme': null, 'size': null, 'icon': null, 'icon-only': false)] - The kind of button styles to output.
/// @param {Boolean} $include-base-styles [true] - Whether to include base button styles, shared by all buttons.
/// @param {Boolean} $include-base-icon-styles [true] - Whether to include base icon button styles, shared by all icon buttons (defaults to true only when outputting an icon button).
@mixin oButtonsContent($opts: (
	'type': null,
	'theme': null,
	'size': null,
	'icon': null,
	'icon-only': false
), $include-base-styles: true, $include-base-icon-styles: true) {
	$theme: map-get($opts, 'theme');
	$type: map-get($opts, 'type');
	$icon-only: map-get($opts, 'icon-only');
	$size: map-get($opts, 'size');
	$icon: map-get($opts, 'icon');

	// If a size is given, enforce its an actual button size
	@if $size and not index($_o-buttons-sizes, $size) {
		@error '"#{$size}" is not a button size. Allowed sizes include ' +
			'"#{$_o-buttons-sizes}". Or, do not set the button size to output ' +
			'the default size.';
	}

	@if $theme and not $type {
		$theme-description: if(type-of($theme) == 'string', $theme, 'custom');
		@warn 'A button theme cannot be output without specifying the button ' +
			'type. To output styles for a "#{$theme-description}" button theme also ' +
			'specify the button type as either a "primary" or "secondary" button';
	}

	// Get button colours for the button type and theme.
	$button-colors-map: if($type, _oButtonsGenerateColors($type, $theme), ());

	@if $include-base-styles {
		@include _oButtonsBaseContent($size);
	}

	// Include size styles if they haven't been included
	// already as part of the base styles.
	@if $size and not $include-base-styles {
		@include _oButtonsSizeContent($size);
	}

	@if $type {
		@include _oButtonsStateContent($type, $theme, $button-colors-map);
	}

	@if $icon and $include-base-icon-styles {
		@include _oButtonsIconBaseContent($size);
	}

	@if $icon and $type {
		@include _oButtonsIconStatesContent($icon, $button-colors-map);
		@include _oButtonsGetHighContrastFallbackIcon($icon);
	}

	@if $icon-only {
		@include _oButtonsIconOnlyContent();
	}
}


/// @output Styles for a button e.g. `.o-buttons--primary`, `.o-buttons--primary.o-buttons--inverse`.
///
/// @param {String} $type - The type of button to output e.g. ('primary', 'secondary').
/// @param {String|Map} $theme - The button theme to output. Either a default theme 'inverse' or custom theme map with properties `name`, `color`, and optional `context` key.
/// @param {List|Null} $icons [null] - The button icons to output for the button type and theme.
@mixin _oButtonsAdd($type, $theme: null, $icons: null) {
	// Error if the theme is not expected.
	@if ($theme != null and type-of($theme) != 'string' and type-of($theme) != 'map') {
		@error 'Expected the button theme to be a string, map, or `null`.';
	}
	// Generate button colours if they don't already exist for this button.
	$button-colors: _oButtonsGetColors($type, $theme);
	// Create CSS selectors.
	$theme-name: if(type-of($theme) == 'map', map-get($theme, 'name'), $theme);
	$type-selector: '.o-buttons--#{$type}';
	$theme-selector: if($theme-name, '.o-buttons--#{$theme-name}', '');
	// Output variant styles.
	#{$type-selector}#{$theme-selector} {
		@include _oButtonsStateContent($type, $theme, $button-colors);
	}
	// Output variant icon styles.
	@each $icon in $icons {
		@if type-of($icon) == 'string' {
			#{$type-selector}#{$theme-selector}.o-buttons-icon--#{$icon} {
				@include _oButtonsIconStatesContent($icon, $button-colors);
			}
		}
	}
}

/// Styles shared by all buttons of a given size.
/// @param {Null|Number} $size
@mixin _oButtonsBaseContent($size: null) {
	@include oTypographySans($weight: 'semibold');
	@include _oButtonsSizeContent($size);
	display: inline-block;
	box-sizing: border-box;
	vertical-align: middle;
	margin: 0;
	border-style: solid;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	transition: 0.3s background-color, 0.15s color ease-out, 0.15s border-color ease-out;
	user-select: none;
	border-width: 1px;
	// Prevent fat white type on a dark background
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-appearance: none; // stylelint-disable-line property-no-vendor-prefix
	-webkit-appearance: none; // stylelint-disable-line property-no-vendor-prefix
	border-radius: 0; // Edge 80 insists on a boarder radius.

	// Same as aria-disabled:
	// http://www.w3.org/TR/wai-aria/states_and_properties#aria-disabled
	// This is a common style for all button themes
	&[disabled] {
		pointer-events: none;
		opacity: 0.4;
		cursor: default;
	}
}

/// Styles shared by all buttons of a given size with an icon.
/// @param {String} $size
@mixin _oButtonsIconBaseContent($size: 'default') {
	position: relative;
	padding-left: map-get($_o-buttons-size, $size, 'icon-padding');
	&:before {
		position: absolute;
		content: '';
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-repeat: no-repeat;
		background-position: 3px;
		// IE11 renders the background image at a very small size if you do not
		// double-up the background size here, declaring a width _and_ height.
		// See https://thatemil.com/blog/2015/03/15/sizing-svg-background-images-in-internet-explorer/
		background-size: map-get($_o-buttons-size, $size, 'background-size') map-get($_o-buttons-size, $size, 'background-size');

		@supports (mask: initial) or (--moz-mask: initial) or (-webkit-mask: initial) {
			mask-repeat: no-repeat;
			mask-position: 3px;
			background-color: currentColor;
		}

	}
}

/// Styles for a button which is an icon only.
@mixin _oButtonsIconOnlyContent() {
	padding-left: 0;
	min-width: 40px;
	&:before {
		background-position: 50%;
	}
}

/// Styles to size a button.
/// @param {String|null} $size
@mixin _oButtonsSizeContent($size) {
	$size: if($size, $size, 'default');
	$scale: map-get($_o-buttons-size, $size, 'scale');
	@include oTypographySans($scale, $line-height: null);
	$line-height: nth(oTypographyGetScale(
		$index: $scale,
		$font: oTypographyGetFontFamily('sans')
	), 1);
	line-height: #{$line-height}px;
	min-height: map-get($_o-buttons-size, $size, 'min-height');
	min-width: map-get($_o-buttons-size, $size, 'min-width');
	padding: map-get($_o-buttons-size, $size, 'padding');
}

/// Styles to apply colours to each button state, e.g. focus, active.
/// @param {String} $type - The type of button, e.g. 'primary'
/// @param {String} $theme - The theme of button, e.g. 'mono'
/// @param {Map} $button-colors-map - The colours for this button (@see _oButtonsGetColors).
@mixin _oButtonsStateContent($type, $theme, $button-colors-map) {
	$theme: if($theme, $theme, 'base');

	background-color: map-get($button-colors-map, 'background', 'base');
	color: map-get($button-colors-map, 'text', 'base');
	border-color: map-get($button-colors-map, 'border', 'base');
	@if type-of($theme) == 'string' {
		background-color: var(unquote("--color-background-button-#{$type}-#{$theme}-base"));
		color: var(unquote("--color-text-button-#{$type}-#{$theme}-base"));
		border-color: var(unquote("--color-border-button-#{$type}-#{$theme}-base"), transparent);
	}

	&:hover {
		background-color: map-get($button-colors-map, 'background', 'hover');
		color: map-get($button-colors-map, 'text', 'hover');
		border-color: map-get($button-colors-map, 'border', 'hover');
		text-decoration: none;
		@if type-of($theme) == 'string' {
			background-color: var(unquote("--color-background-button-#{$type}-#{$theme}-hover"));
			color: var(unquote("--color-text-button-#{$type}-#{$theme}-hover"));
			border-color: var(unquote("--color-border-button-#{$type}-#{$theme}-hover"), transparent);
		}
	}

	&:focus {
		background-color: map-get($button-colors-map, 'background', 'focus');
		color: map-get($button-colors-map, 'text', 'focus');
		border-color: map-get($button-colors-map, 'border', 'focus');
		@if type-of($theme) == 'string' {
			background-color: var(unquote("--color-background-button-#{$type}-#{$theme}-focus"));
			color: var(unquote("--color-text-button-#{$type}-#{$theme}-focus"));
			border-color: var(unquote("--color-border-button-#{$type}-#{$theme}-focus"), transparent);
		}
	}

	// https://www.w3.org/TR/wai-aria-1.1/#aria-selected
	// https://www.w3.org/TR/wai-aria-1.1/#aria-pressed
	&[aria-selected=true], // e.g. A selected tab or page number in pagination.
	&[aria-current], // e.g. A selected tab or page number in pagination (for links only).
	&[aria-pressed=true], // e.g. A "follow" button that is pressed.
	&:active {
		background-color: map-get($button-colors-map, 'background', 'active');
		color: map-get($button-colors-map, 'text', 'active');
		border-color: map-get($button-colors-map, 'border', 'active');
		@if type-of($theme) == 'string' {
			background-color: var(unquote("--color-background-button-#{$type}-#{$theme}-active"));
			color: var(unquote("--color-text-button-#{$type}-#{$theme}-active"));
			border-color: var(unquote("--color-border-button-#{$type}-#{$theme}-active"), transparent);
		}
	}
}

/// Styles to apply icons of different colours to each button state, e.g. focus, active.
/// @param {String} $type - The type of button, e.g. 'primary'
/// @param {Map} $button-colors-map - The colours for this button (@see _oButtonsGetColors).
@mixin _oButtonsIconStatesContent($icon, $button-colors-map) {
	$normal-icon-color: map-get($button-colors-map, 'text', 'base');
	$hover-icon-color: map-get($button-colors-map, 'text', 'hover');
	$active-icon-color: map-get($button-colors-map, 'text', 'active');
	$focus-icon-color: map-get($button-colors-map, 'text', 'focus');

	$icon-mask: map-get($_tokens,'image','icon',$icon);
	@supports (mask: initial) or (--moz-mask: initial) or (-webkit-mask: initial) {
		&:before {
			mask-image: set-icon-color($icon-mask, $color: '');
		}
	}

	@include _oButtonsGetMaskFallbackIcon($icon, $normal-icon-color);

	// Only output the hover icon if it is different to the default icon.
	@if($hover-icon-color != $normal-icon-color) {
		&:hover {
			@include _oButtonsGetMaskFallbackIcon($icon, $hover-icon-color);
		}
	}

	// Only output the focus icon if it is different to the default or hover icon.
	@if($focus-icon-color != $normal-icon-color or $focus-icon-color != $hover-icon-color) {
		&:focus {
			@include _oButtonsGetMaskFallbackIcon($icon, $focus-icon-color);
		}
	}

	// Only output the active icon if it is different to states with less specificity.
	@if($active-icon-color != $normal-icon-color or $active-icon-color != $hover-icon-color or $active-icon-color != $focus-icon-color) {
		// https://www.w3.org/TR/wai-aria-1.1/#aria-selected
		// https://www.w3.org/TR/wai-aria-1.1/#aria-pressed
		&[aria-selected=true], // e.g. A selected tab or page number in pagination.
		&[aria-current], // e.g. A selected tab or page number in pagination (for links only).
		&[aria-pressed=true], // e.g. A "follow" button that is pressed.
		&:hover:active,
		&:active {
			@include _oButtonsGetMaskFallbackIcon($icon, $active-icon-color);
		}
	}
}

/// Request an icon from o-icons of a specific colour for a button.
///
/// @param {String} $icon-name - icon to request
/// @param {Color} $icon-color - a hex for the button icon colour
@mixin _oButtonsGetMaskFallbackIcon($icon-name, $icon-color) {
	$id: #{$icon-name}-#{str-replace(#{$icon-color}, '#', '')};
	@if index($_o-buttons-icon-placeholders, $id) == null {
		@at-root %#{$id} {
			&:before {
				$icon: map-get($_tokens,'image','icon',$icon-name);
				background-image: set-icon-color($icon, $icon-color);
				@supports (mask: initial) or (--moz-mask: initial) or (-webkit-mask: initial) {
					background-image: none;
				}
			}
		}
		$_o-buttons-icon-placeholders: append($_o-buttons-icon-placeholders, $id)!global;
	}
	@extend %#{$id};
}

/// Request an icon from o-icons to use for ms high contrast mode
///
/// @param {String} $icon-name - icon to request
@mixin _oButtonsGetHighContrastFallbackIcon($icon-name) {
	// sass-lint:disable no-vendor-prefixes
	@media screen and (-ms-high-contrast: active) {
		@include oIconsContent($icon-name, $size: null, $color: #ffffff, $include-base-styles: false, $high-contrast-fallback: false);
		// @todo, shouldn't be needed when masks are used, confirm that
		@supports (mask: initial) or (--moz-mask: initial) or (-webkit-mask: initial) {
			background-image: none;
		}
	}
	@media screen and (-ms-high-contrast: black-on-white) {
		@include oIconsContent($icon-name, $size: null, $color: #000000, $include-base-styles: false, $high-contrast-fallback: false);
		// @todo, shouldn't be needed when masks are used, confirm that
		@supports (mask: initial) or (--moz-mask: initial) or (-webkit-mask: initial) {
			background-image: none;
		}
	}
	// sass-lint:enable no-vendor-prefixes
}
