/// Silent mode: on (true) or off (false)
/// Set to false to output default button classes
///
/// @type Boolean
$o-buttons-is-silent: true !default;

/// Button sizes, with their attached properties
///
/// @type List
$_o-buttons-sizes: ('big') !default;

/// A list of all available button themes. @see _brand.scss to see which brands
/// support which themes.
/// @type List
/// @access private
$_o-buttons-themes: (
	inverse,
	mono,
	b2c
) !default;

/// A list of all available button types.
/// @type List
/// @access private
$_o-buttons-types: (
	primary,
	secondary,
) !default;

/// List of icons to generate classes for icon buttons.
/// Build service users will only be able to use these icons, but there is
/// a mixin for people using this via Sass, meaning any icon in 'fticons' is
/// available to those users.
/// Icon names as used in fticons
///
/// Update README.md with icon options when updating this list.
///
/// @type List
$_o-buttons-icons: "arrow-left", "arrow-right", "upload", "tick", "plus", "warning", "arrow-down", "arrow-up", "grid", "list", "edit", "download", "search", "refresh", "cross" !default;

$_o-buttons-generated-themes: ();

$_placeholders: ();

$_o-buttons-size: (
	'default': (
		'scale': -1,
		'background-size': 21px, // Magic number to reduce poor antialiasing on icons at small sizes
		'min-height': 28px,
		'min-width': 60px,
		// Sorry for the magic numbers, we need to use vertical padding here because
		// there is no other way to correctly align button text vertically when the button
		// element is an anchor. Once we drop IE11 support, we can remove this and use
		// a display of `inline-flex`.
		//
		// The vertical padding magic number is calculated like this:
		// ((min-height - line-height) / 2) - border-width
		'padding': 6px 8px,
		'icon-padding': 24px,
	),
	'big': (
		'scale': 0,
		'background-size': 40px,
		'min-height': 40px,
		'min-width': 80px,
		'padding': 11px 20px, // See comment above regarding padding magic numbers
		'icon-padding': 40px
	),
);
