@import '../../main';
@include oCookieMessage();
@import '@financial-times/o-fonts/main';
@include oFonts();
@financial-times/o-normalise/main
@include oNormalise();

body {
	font-family: MetricWeb;
	min-height: 350px;
	background-color: oColorsByUsecase('page', 'background');
}
