.o-header nav,
.o-header a {
	// scss-lint:disable VendorPrefixes
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.o-header__nav--tools-theme {
	@include oHierarchicalNavHorizontalTheme;
	// Min width of the element should fit at least one tool item
	min-width: 55px;
	white-space: nowrap;
	// Used in core experience so hidden elements don't continue appearing
	overflow: hidden;

	// scss-lint:disable NestingDepth SelectorDepth
	// 1. We want the menu to start at the bottom of the header bar:
	//    - Prevent sub menus from vertically positionning themselves relatively
	//      to the <li>,
	//    - and position them relatively to the parent <ul> instead
	// 2. Position icon on top if its label (default is inline-block)
	// 3. Center elements vertically
	[data-o-hierarchical-nav-level='1'] {
		display: block;
		padding: 6px 0;
		position: relative; // 1

		> [aria-controls] > a,
		> .o-hierarchical-nav__parent > a {
			padding-right: 0;
			background-image: none;

			i {
				display: block; // 2
			}
		}

		> li {
			vertical-align: middle; // 3
			position: static; // 1

			&[aria-selected="true"] > a {
				color: oColorsGetColorFor(o-header-item, text);
				opacity: 0.7;
			}

			> a {
				display: inline-block;
				border-left: 1px dotted #666666;
				width: 45px;
				font-size: 11px;
				text-align: center;
				padding: 0 $o-grid-gutter/2;

				.o-header--tall & {
					@include oGridRespondTo(M) {
						padding-top: 4px;
						padding-bottom: 4px;
						line-height: 20px;
					}
				}
			}
		}
	}
	// scss-lint:enable NestingDepth SelectorDepth

	// Styling for menu navs that appear when o-squishy-list comes into play
	[data-o-hierarchical-nav-level] [data-o-hierarchical-nav-level] {
		top: 100%;

		a {
			padding: 10px 20px;
			font-size: 14px;
		}
	}
}

// Media queries to make the nav smaller as the screen gets smaller.
// It can't be fluid because primary-center is the fluid element

.o-header__nav--tools-theme {
	// Only show one item
	width: 56px;

	@include oHeaderBreakpoint {
		// Show 2 items
		width: 112px;
	}
	// Shows all 4 items
	@include oGridRespondTo(L) {
		width: 224px;
	}
}
