%o-ft-header__nav--theme {
  a {
    color: #fff;
    cursor: pointer;
  }
  a:focus,
  $o-hoverable-if-hover-enabled a:hover {
    outline: none;
    color: oColorsGetColorFor(link-alt-hover, text);
    i {
      color: oColorsGetColorFor(link-alt-hover, text);
    }
  }
  [data-nav-level]:not([data-nav-level='1']) {
    & > li {
      border-top: 1px solid #666;
      font-size: 14px;
      line-height: 16px;
      & > a {
        padding: 10px 20px;
      }
    }
  }
  [data-nav-level='2'] {
    border-right: $_o-ft-header-dropdown-border;
    border-bottom: $_o-ft-header-dropdown-border;
    border-left: $_o-ft-header-dropdown-border;
    font-size: 14px;
    background-color: _oColorsGetPaletteColor(grey-tint5);
  }
  [data-nav-level='3'] {
    background-color: _oColorsGetPaletteColor(grey-tint4);
  }
  .nav--outside-right > [data-nav-level] {
    margin-top: -2px;
    border-top: $_o-ft-header-dropdown-border;
    border-right: $_o-ft-header-dropdown-border;
    border-bottom: $_o-ft-header-dropdown-border;
  }
  [aria-controls] > a,
  .nav--parent > a {
    padding-right: 25px;
    background-image: url($_o-ft-header-img-down-arrow-url);
    background-repeat: no-repeat;
    background-position: right 14px;
  }
  .nav--parent.nav--outside-right[aria-expanded="true"] > a {
    background-image: url($_o-ft-header-img-right-arrow-url);
  }
}