.o-ft-header__nav--tools-theme {
  @extend %o-ft-header__nav--theme;
  min-width: 55px;
  min-height: 55px;
  border-right: 1px solid #666666;
  white-space: nowrap;
  [data-nav-level='1'] {
    & > [aria-controls] > a,
    & > .nav--parent > a {
      padding-right: 0;
      background-image: none;
    }
    & > li {
      display: inline-block;
      & > a {
        display: inline-block;
        border-left: 1px solid #666666;
        width: 54px;
        height: 55px;
        font-size: 11px;
        text-align: center;
        color: #dddddd;
        &:focus,
        &:focus i,
        &:hover,
        &:hover i {
          color: oColorsGetColorFor(link-alt-hover, text);
        }
      }
    }
  }
}

@include oGridRespondTo(S) {
  .o-ft-header__nav--tools-theme {
    width: 55px;
  }
}

@include oGridRespondTo(M) {
  .o-ft-header__nav--tools-theme {
    width: 110px;
  }
}

@include oGridRespondTo(L XL) {
  .o-ft-header__nav--tools-theme {
    width: 220px;
  }
}