.o-ft-header__nav--primary-theme {
    @extend %o-hierarchical-nav--horizontal-theme;
    height: 80px;
    text-align: right;

    li {
        text-align: left;
        &[aria-controls][aria-expanded="true"]:after {
            @include oFtHeaderUpArrow($o-ft-header-brand-color);
            z-index: $_o-hierarchical-nav-mega-dropdown-zindex+1;
        }
    }

    a {
        padding-right: 20px;
        font-size: 14px;
    }

    [data-o-hierarchical-nav-level='1'] {
        & > li {
            &[aria-selected="true"] > a,
            &[aria-controls][aria-expanded="true"] > a {
                color: oColorsGetColorFor(header-item, text);
                opacity: 0.7;
            }

            & > a {
                text-transform: uppercase;
                font-weight: normal;
                line-height: 80px;
                max-height: 80px;
            }
        }
    }

    [data-o-hierarchical-nav-level]:not([data-o-hierarchical-nav-level='1']) {
        a {
            padding: 10px 20px;
        }
    }
}

.o-ft-header__mega-dropdown--primary.o-hierarchical-nav__mega-dropdown {
    top: 85px;
}