.o-header__nav--primary-theme {
	@include oHierarchicalNavHorizontalTheme;
	text-align: right;
	// Used in core experience so hidden elements don't continue appearing
	overflow: hidden;

	li {
		text-align: left;

		&[aria-controls][aria-expanded="true"]:after {
			// CSS arrow for mega-dropdowns
			@include oHeaderUpArrow(oColorsGetColorFor(o-header-product-brand product-brand, background));
			z-index: $_o-hierarchical-nav-mega-dropdown-zindex+1;
		}
	}

	a {
		padding-right: $o-grid-gutter;
		padding-left: $o-grid-gutter;
		font-size: 14px;
	}

	// scss-lint:disable SelectorDepth
	[data-o-hierarchical-nav-level='1'] > li {
		// Default styling for the a tag
		> a {
			text-transform: uppercase;
			font-weight: normal;
			line-height: 49px;
			height: 100%;
		}

		// Styling for the a tag in a selected state
		&[aria-selected="true"] > a,
		&[aria-controls][aria-expanded="true"] > a {
			color: oColorsGetColorFor(o-header-item, text);
			opacity: 0.7;
		}
	}
	// scss-lint:enable SelectorDepth

	// Padding for all a tags that aren't in the first hierarchical nav level
	[data-o-hierarchical-nav-level]:not([data-o-hierarchical-nav-level='1']) a {
		padding: 10px 20px;
	}
}

// Set extra top positioning so that the secondary container with the brand colour can be seen
.o-header__mega-dropdown--primary.o-hierarchical-nav__mega-dropdown {
	top: 100%;
}
