---
import * as StandardComponent from './preview/ButtonPagination-standard';
import * as InverseComponent from './preview/ButtonPagination-inverse';
import Preview from '../utils/Preview.astro';
import FigmaSbLinks from '../utils/FigmaSbLinks.astro';

const {theme, brand} = Astro.props;

const Component = theme === 'inverse' ? InverseComponent : StandardComponent;
const storybookId = `${brand}-o3-button--pagination`;
---

<div>
	<Preview component={Component} />
	<FigmaSbLinks {storybookId} />
</div>
