---
import {Button} from '@financial-times/o3-button';
---

<svg
	data-apply-current-brand
	aria-describedby="An annotated image of a button. The button text is marked (1, label); the outer box of the button marked to (2, container); the left aligned icon of the button marked (3)."
	width="625"
	height="298"
	viewBox="0 0 625 298"
	fill="none"
	xmlns="http://www.w3.org/2000/svg"
>
	<foreignObject width="169" height="80" y="75" x="176">
		<div style="padding: 20px;">
			<Button label="Example" type="primary" icon="search" />
		</div>
	</foreignObject>

	<line x1="336" y1="115.863" x2="384" y2="115.863" stroke="#FF7FAA"/>
	<path
		d="M368 115.5C368 109.149 373.149 104 379.5 104C385.851 104 391 109.149 391 115.5V116.5C391 122.851 385.851 128 379.5 128C373.149 128 368 122.851 368 116.5V115.5Z" fill="#FF7FAA"
	/>
	<path
		d="M379.18 119.728H382.228V121H376.624L379.132 117.724C379.404 117.364 379.656 117.028 379.888 116.716C380.12 116.396 380.304 116.084 380.44 115.78C380.584 115.468 380.656 115.148 380.656 114.82C380.656 114.444 380.54 114.14 380.308 113.908C380.084 113.668 379.744 113.548 379.288 113.548C378.96 113.548 378.644 113.608 378.34 113.728C378.044 113.84 377.768 113.988 377.512 114.172C377.256 114.348 377.028 114.536 376.828 114.736V113.296C377.124 112.984 377.5 112.732 377.956 112.54C378.42 112.34 378.908 112.24 379.42 112.24C379.956 112.24 380.42 112.344 380.812 112.552C381.212 112.752 381.52 113.044 381.736 113.428C381.96 113.804 382.072 114.252 382.072 114.772C382.072 115.156 381.992 115.536 381.832 115.912C381.68 116.288 381.476 116.664 381.22 117.04C380.964 117.416 380.684 117.8 380.38 118.192L379.18 119.728Z" fill="white"
	/>
	<line x1="228.5" y1="130.309" x2="228.5" y2="178.309" stroke="#FF7FAA"/>
	<path
		d="M219 174.691C219 168.892 223.701 164.191 229.5 164.191C235.299 164.191 240 168.892 240 174.691V175.691C240 181.49 235.299 186.191 229.5 186.191C223.701 186.191 219 181.49 219 175.691V174.691Z" fill="#FF7FAA"
	/>
	<path 
		d="M226.91 172.847V171.575H232.046L230.15 175.067C230.542 175.155 230.882 175.311 231.17 175.535C231.466 175.759 231.694 176.039 231.854 176.375C232.014 176.711 232.094 177.095 232.094 177.527C232.094 178.103 231.958 178.603 231.686 179.027C231.422 179.443 231.07 179.767 230.63 179.999C230.19 180.223 229.71 180.335 229.19 180.335C228.63 180.335 228.162 180.267 227.786 180.131C227.418 179.987 227.098 179.811 226.826 179.603V178.115C227.13 178.411 227.478 178.643 227.87 178.811C228.27 178.979 228.678 179.063 229.094 179.063C229.438 179.063 229.734 179.011 229.982 178.907C230.23 178.795 230.422 178.627 230.558 178.403C230.702 178.179 230.774 177.891 230.774 177.539C230.774 177.163 230.666 176.855 230.45 176.615C230.234 176.367 229.938 176.187 229.562 176.075C229.194 175.955 228.778 175.895 228.314 175.895L229.958 172.847H226.91Z" fill="white"
	/>
	<line x1="264.5" y1="109.809" x2="264.5" y2="61.8086" stroke="#FF7FAA"/>
	<path
		d="M254 62.3086C254 56.5096 258.701 51.8086 264.5 51.8086C270.299 51.8086 275 56.5096 275 62.3086V63.3086C275 69.1076 270.299 73.8086 264.5 73.8086C258.701 73.8086 254 69.1076 254 63.3086V62.3086Z" fill="#FF7FAA"
	/>
	<path 
		d="M265.838 59.1926V67.8086H264.41V60.9446L262.514 61.9046V60.4286L264.986 59.1926H265.838Z" fill="white"
	/>
</svg>
	