---
import * as Fluid from './preview/Fluid';
import * as IconOnly from './preview/Icons-IconOnly';
import * as WithIcon from './preview/Icons-WithIcon';
import * as Small from './preview/Sizes-Small';
import * as Standard from './preview/Themes-Standard';
import * as Inverse from './preview/Themes-Inverse';
import * as Mono from './preview/Themes-Mono';
import * as Neutral from './preview/Themes-Neutral';
import * as Ghost from './preview/Types-Ghost';
import * as Primary from './preview/Types-Primary';
import * as Secondary from './preview/Types-Secondary';
import Preview from '../utils/Preview.astro';
import FigmaSbLinks from '../utils/FigmaSbLinks.astro';

const {previewFile, componentProps, brand} = Astro.props;

const storybookId = `${brand}-o3-button--button`;

let component = Primary;

switch (previewFile) {
	case 'Fluid':
		component = Fluid;
		break;
	case 'Icons-IconOnly':
		component = IconOnly;
		break;
	case 'Icons-WithIcon':
		component = WithIcon;
		break;
	case 'Sizes-Small':
		component = Small;
		break;
	case 'Themes-Standard':
		component = Standard;
		break;
	case 'Themes-Inverse':
		component = Inverse;
		break;
	case 'Themes-Mono':
		component = Mono;
		break;
	case 'Themes-Neutral':
		component = Neutral;
		break;
	case 'Types-Ghost':
		component = Ghost;
		break;
	case 'Types-Secondary':
		component = Secondary;
		break;
}
---

<div>
	<Preview {component} themes={component.themes[brand] || []} />
	<FigmaSbLinks {storybookId} sbPathParams={componentProps} />
</div>
