---
import {Button} from '@financial-times/o3-button';
---

<svg
	data-apply-current-brand
	aria-describedby="An annotated image of a button. The button text is marked (1, label); the outer box of the button marked to (2, container); the left aligned icon of the button marked (3)."
	width="625"
	height="298"
	viewBox="0 0 625 298"
	fill="none"
	xmlns="http://www.w3.org/2000/svg"
>
	<foreignObject width="169" height="80" y="95" x="233">
		<div style="padding: 20px;">
			<Button label="Example" type="primary" icon="search" />
		</div>
	</foreignObject>
	<line x1="372" y1="138.847" x2="420" y2="138.847" stroke="#990F3D"></line>
	<path
		d="M415 137.847C415 131.496 420.149 126.347 426.5 126.347C432.851 126.347 438 131.496 438 137.847V138.847C438 145.198 432.851 150.347 426.5 150.347C420.149 150.347 415 145.198 415 138.847V137.847Z"
		fill="#990F3D"></path>
	<path
		d="M423.91 136.003V134.731H429.046L427.15 138.223C427.542 138.311 427.882 138.467 428.17 138.691C428.466 138.915 428.694 139.195 428.854 139.531C429.014 139.867 429.094 140.251 429.094 140.683C429.094 141.259 428.958 141.759 428.686 142.183C428.422 142.599 428.07 142.923 427.63 143.155C427.19 143.379 426.71 143.491 426.19 143.491C425.63 143.491 425.162 143.423 424.786 143.287C424.418 143.143 424.098 142.967 423.826 142.759V141.271C424.13 141.567 424.478 141.799 424.87 141.967C425.27 142.135 425.678 142.219 426.094 142.219C426.438 142.219 426.734 142.167 426.982 142.063C427.23 141.951 427.422 141.783 427.558 141.559C427.702 141.335 427.774 141.047 427.774 140.695C427.774 140.319 427.666 140.011 427.45 139.771C427.234 139.523 426.938 139.343 426.562 139.231C426.194 139.111 425.778 139.051 425.314 139.051L426.958 136.003H423.91Z"
		fill="white"></path>
	<line x1="205" y1="138.847" x2="253" y2="138.847" stroke="#990F3D"></line>
	<path
		d="M187 137.847C187 132.048 191.701 127.347 197.5 127.347C203.299 127.347 208 132.048 208 137.847V138.847C208 144.646 203.299 149.347 197.5 149.347C191.701 149.347 187 144.646 187 138.847V137.847Z"
		fill="#990F3D"></path>
	<path
		d="M198.838 134.731V143.347H197.41V136.483L195.514 137.443V135.967L197.986 134.731H198.838Z"
		fill="white"></path>
	<line x1="306.5" y1="195.347" x2="306.5" y2="147.347" stroke="#990F3D"></line>
	<path
		d="M296 193.847C296 188.048 300.701 183.347 306.5 183.347C312.299 183.347 317 188.048 317 193.847V194.847C317 200.646 312.299 205.347 306.5 205.347C300.701 205.347 296 200.646 296 194.847V193.847Z"
		fill="#990F3D"></path>
	<path
		d="M306.18 198.075H309.228V199.347H303.624L306.132 196.071C306.404 195.711 306.656 195.375 306.888 195.063C307.12 194.743 307.304 194.431 307.44 194.127C307.584 193.815 307.656 193.495 307.656 193.167C307.656 192.791 307.54 192.487 307.308 192.255C307.084 192.015 306.744 191.895 306.288 191.895C305.96 191.895 305.644 191.955 305.34 192.075C305.044 192.187 304.768 192.335 304.512 192.519C304.256 192.695 304.028 192.883 303.828 193.083V191.643C304.124 191.331 304.5 191.079 304.956 190.887C305.42 190.687 305.908 190.587 306.42 190.587C306.956 190.587 307.42 190.691 307.812 190.899C308.212 191.099 308.52 191.391 308.736 191.775C308.96 192.151 309.072 192.599 309.072 193.119C309.072 193.503 308.992 193.883 308.832 194.259C308.68 194.635 308.476 195.011 308.22 195.387C307.964 195.763 307.684 196.147 307.38 196.539L306.18 198.075Z"
		fill="white"></path>
</svg>
