<time data-o-component="o-date" class="o-date"></time><br>
<time data-o-component="o-date" class="o-date"></time><br>
<time data-o-component="o-date" data-o-date-format="today-or-yesterday-or-nothing" class="o-date"></time><br>
