<div class="o-ft-affiliate-ribbon">
	<div class="o-ft-affiliate-ribbon__container">
		<div class="o-ft-affiliate-ribbon__row">
			<span class="o-ft-affiliate-ribbon__text">Published by</span>
			<a class="o-ft-affiliate-ribbon__logo" href="https://www.ft.com/" title="The Financial Times" target="_blank">
				<span class="o-ft-affiliate-ribbon__visually-hidden">Financial Times</span>
			</a>
		</div>
	</div>
</div>
