@import '../../main';
@include oHeaderServices();
@import '@financial-times/o-fonts/main';
@include oFonts();
@import '@financial-times/o-normalise/main';
@include oNormalise();

body {
	font-family: arial;
}

.dummy-text {
	@include oTypographySans(1);
	max-width: 800px;
	margin: auto;
	padding: 0 20px;

	a { @include oTypographyLink();}
}
