<!DOCTYPE html>
<html lang="en-GB" class="core o-typography--loading-sans o-typography--loading-sans-bold o-typography--loading-display o-typography--loading-display-bold" data-o-component="o-typography">
<head>

	<!-- Page meta-information -->
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Component Specification</title>
	<meta name="description" content="A specification which describes what is required for a front-end component to be considered Origami-compatible, and included in our registry." />

	<!-- Cuts the mustard test -->
	<script>
		var cutsTheMustard = ('querySelector' in document && 'localStorage' in window && 'addEventListener' in window);
		if (cutsTheMustard) {
			document.documentElement.className = document.documentElement.className.replace(/\bcore\b/g, 'enhanced');
		}
	</script>

	<!-- Favicons -->
	<link rel="icon" type="image/svg+xml" href="https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo-v1%3Aorigami?source=origami-docs&format=svg" sizes="any">
	<link rel="alternate icon" type="image/png" href="https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo-v1%3Aorigami?source=origami-docs&width=16&height=16&format=png" sizes="16x16">
	<link rel="alternate icon" type="image/png" href="https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo-v1%3Aorigami?source=origami-docs&width=32&height=32&format=png" sizes="32x32">
	<link rel="alternate icon" type="image/png" href="https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo-v1%3Aorigami?source=origami-docs&width=96&height=96&format=png" sizes="96x96">
	<link rel="alternate icon" type="image/png" href="https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo-v1%3Aorigami?source=origami-docs&width=128&height=128&format=png" sizes="128x128">
	<link rel="alternate icon" type="image/png" href="https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo-v1%3Aorigami?source=origami-docs&width=196&height=196&format=png" sizes="196x196">
	<link rel="alternate icon" type="image/png" href="https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo-v1%3Aorigami?source=origami-docs&width=310&height=310&format=png" sizes="310x310">

	<!-- Site links -->
	<link rel="sitemap" type="application/xml" href="/sitemap.xml" title="Sitemap" />
	<link rel="canonical" href="https://origami.ft.com/spec/v1/components/" />

	<!-- Feed -->
	<link type="application/atom+xml" rel="alternate" href="https://origami.ft.com/feed.xml" title="Origami Newsletter" />

	<!-- Progressive Font Loading -->
	<!-- https://github.com/Financial-Times/o-typography/tree/v6.1.3#setup-progressive-loading -->
	<script>
		var rootElement = document.querySelector('html')
		if (/(^|\s)o-typography-fonts-loaded=1(;|$)/.test(document.cookie)) {
			var fontLabels = ['sans', 'sans-bold', 'display', 'display-bold']
			for (var i = 0; i < fontLabels.length; i++) {
				rootElement.className = rootElement.className.replace('o-typography--loading-' + fontLabels[i], '')
			}
		}
	</script>

	<!-- Styles -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<style>
		/* Hide any enhanced experience content when in core mode, and vice versa. */
		.core .o--if-js,
		.enhanced .o--if-no-js {
			display: none !important;
		}
	</style>
	<link rel="stylesheet" href="https://www.ft.com/__origami/service/build/v3/bundles/css?components=o-normalise@^3.0.3,o-typography@^7.0.3,o-layout@^5.0.6,o-header-services@^5.1.0,o-footer-services@^4.0.3,o-syntax-highlight@^4.0.1,o-message@^5.1.0,o-table@^9.0.3,o-autoinit@^3.0.1&brand=internal&system_code=origami" />
	<link rel="stylesheet" href="/assets/main.css" />

	<!-- JS -->
	<script>
		(function(src) {
			if (cutsTheMustard) {
				var o = document.createElement('script');
				o.async = o.defer = true;
				o.src = src;
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(o, s);
			}
		}('https://www.ft.com/__origami/service/build/v3/bundles/js?components=o-normalise@^3.1.0,o-typography@^7.1.0,o-layout@^5.1.0,o-header-services@^5.1.0,o-footer-services@^4.1.0,o-syntax-highlight@^4.1.0,o-message@^5.1.0,o-table@^9.1.0,o-autoinit@^3.0.1&system_code=origami'));
	</script>
</head>
<body>
	<div class="o-layout o-layout--docs" data-o-component="o-layout" data-o-layout-nav-heading-selector="h1, h2">
		
		<div class="o-layout__header">
			
<header class="o-header-services" data-o-component="o-header-services">
	<div class="o-header-services__top">
			<div class="o-header-services__hamburger">
				<a class="o-header-services__hamburger-icon" href="#" role="button">
					<span class="o-header-services__visually-hidden">Open primary navigation</span>
				</a>
			</div>
		<a href="/" class="o-header-services__logo"><span class="o-header-services__visually-hidden">To homepage</span></a>
		<div class="o-header-services__title">
			<a class="o-header-services__product-name" href="/">Origami</a>
			<span class="o-header-services__product-tagline">Frontend Components &amp; Services</span>
		</div>
	</div>

	<nav class="o-header-services__primary-nav" aria-label="primary">
		<ul class="o-header-services__primary-nav-list">
			<li>
				<a href="/" >
					Home
				</a>
			</li>
			<li>
				<a href="/docs/" >
					Docs
				</a>
			</li>
			<li>
				<a href="https://registry.origami.ft.com/components"> Registry</a>
			</li>
			<li>
				<a href="/blog/" >
					Blog
				</a>
			</li>
		</ul>
	</nav>



	

	
	<nav class="o-header-services__secondary-nav" aria-label="secondary" data-o-header-services-nav="">
		<div class="o-header-services__secondary-nav-content" data-o-header-services-nav-list="">
			<ol class="o-header-services__secondary-nav-list o-header-services__secondary-nav-list--ancestors" aria-label="Ancestor sections">
			

			
				<!-- Collection item page -->
				<li>
					
					<a href="/spec/v1/">
						
							Spec
						
					</a>
				</li>
			

			
				<li>
					<a href="/spec/v1/components/" aria-current="page">
						Components
					</a>
				</li>
			
			</ol>

			<ul class="o-header-services__secondary-nav-list o-header-services__secondary-nav-list--children" aria-label="Child sections">
			

				<li>
					<a href="/spec/v1/components/markup/" >
						Markup
					</a>
				</li>
				<li>
					<a href="/spec/v1/components/javascript/" >
						JavaScript
					</a>
				</li>
				<li>
					<a href="/spec/v1/components/sass/" >
						Sass
					</a>
				</li>

			
			</ul>
		</div>
		<button class="o-header-services__scroll-button o-header-services__scroll-button--left" title="scroll left" aria-hidden="true" disabled></button>
		<button class="o-header-services__scroll-button o-header-services__scroll-button--right" title="scroll right" aria-hidden="true" disabled></button>
	</nav>
	
</header>



		</div>
		

		<div class="o-layout__header">
	
<header class="o-header-services" data-o-component="o-header-services">
	<div class="o-header-services__top">
			<div class="o-header-services__hamburger">
				<a class="o-header-services__hamburger-icon" href="#" role="button">
					<span class="o-header-services__visually-hidden">Open primary navigation</span>
				</a>
			</div>
		<a href="/" class="o-header-services__logo"><span class="o-header-services__visually-hidden">To homepage</span></a>
		<div class="o-header-services__title">
			<a class="o-header-services__product-name" href="/">Origami</a>
			<span class="o-header-services__product-tagline">Frontend Components &amp; Services</span>
		</div>
	</div>

	<nav class="o-header-services__primary-nav" aria-label="primary">
		<ul class="o-header-services__primary-nav-list">
			<li>
				<a href="/" >
					Home
				</a>
			</li>
			<li>
				<a href="/docs/" >
					Docs
				</a>
			</li>
			<li>
				<a href="https://registry.origami.ft.com/components"> Registry</a>
			</li>
			<li>
				<a href="/blog/" >
					Blog
				</a>
			</li>
		</ul>
	</nav>



	

	
	<nav class="o-header-services__secondary-nav" aria-label="secondary" data-o-header-services-nav="">
		<div class="o-header-services__secondary-nav-content" data-o-header-services-nav-list="">
			<ol class="o-header-services__secondary-nav-list o-header-services__secondary-nav-list--ancestors" aria-label="Ancestor sections">
			

			
				<!-- Collection item page -->
				<li>
					
					<a href="/spec/v1/">
						
							Spec
						
					</a>
				</li>
			

			
				<li>
					<a href="/spec/v1/components/" aria-current="page">
						Components
					</a>
				</li>
			
			</ol>

			<ul class="o-header-services__secondary-nav-list o-header-services__secondary-nav-list--children" aria-label="Child sections">
			

				<li>
					<a href="/spec/v1/components/markup/" >
						Markup
					</a>
				</li>
				<li>
					<a href="/spec/v1/components/javascript/" >
						JavaScript
					</a>
				</li>
				<li>
					<a href="/spec/v1/components/sass/" >
						Sass
					</a>
				</li>

			
			</ul>
		</div>
		<button class="o-header-services__scroll-button o-header-services__scroll-button--left" title="scroll left" aria-hidden="true" disabled></button>
		<button class="o-header-services__scroll-button o-header-services__scroll-button--right" title="scroll right" aria-hidden="true" disabled></button>
	</nav>
	
</header>




	<div
		class="o-message o-message--notice o-message--inner o-message--warning-light"
		data-o-component="o-message"
		data-o-message-close="false"
		>
		<div class="o-message__container">
		<div class="o-message__content">
			<p class="o-message__content-main">
				<span class="o-message__content-highlight">
					The Origami specification is deprecated.
				</span>
				Origami projects may diverge from the specification, however, any new divergence will be released as a major version.
			</p>
			<p class="o-message__content-additional">
				Read our <a href="/TODO">blogpost on why the Origami specificaiton</a> has been deprecated for more information.
			</p>
		</div>
		</div>
	</div>
</div>


<div class="o-layout__sidebar"></div>

<div class="o-layout__main o-layout-typography" data-o-component="o-syntax-highlight">
	<h1 id="component-specification">Component Specification</h1>

<p>Origami components are repositories containing front end code which can be used as part of a web page. Components are intended to be reusable UI patterns or functions; examples of good use-cases for components are:</p>

<ul>
  <li>A sortable table</li>
  <li>A cookie notice</li>
  <li>A consistent top navigation</li>
  <li>Functions to track user behaviour</li>
</ul>

<h2 id="origamijson-manifest">Origami.json manifest</h2>

<p>All Origami components <strong>must</strong> contain an <code class="language-plaintext highlighter-rouge">origami.json</code> file at the top of the repository’s directory structure. The <a href="/spec/v1/manifest/"><code class="language-plaintext highlighter-rouge">origami.json</code> manifest specification</a> covers the contents of this file. In addition to the rules outlined in the manifest specification, Origami components <strong>must</strong> set the <code class="language-plaintext highlighter-rouge">origamiType</code> property in the JSON to <code class="language-plaintext highlighter-rouge">"module"</code>.</p>

<aside>
	The <code>origamiType</code> of <code>"module"</code> is a hangover from when client-side Origami components were named "modules". It's likely to change in a later version of the spec.
</aside>

<h2 id="naming-conventions">Naming conventions</h2>

<p>Components <strong>must</strong> be named using a short descriptive term (hyphenated if necessary) and <strong>should</strong> be prefixed with <code class="language-plaintext highlighter-rouge">o-</code> (for Origami). The name <strong>must</strong> only contain lower-case ASCII letters, and hyphens. This name <strong>must</strong> be used as the repository name, the <code class="language-plaintext highlighter-rouge">name</code> property in <code class="language-plaintext highlighter-rouge">origami.json</code>, and as a prefix for any default CSS class names.</p>

<aside>
	Examples of good component names include <code>o-colors</code>, <code>o-grid</code>, <code>o-cookie-message</code>.
</aside>

<p>If a component is not maintained by the Origami team, then it <strong>may</strong> be prefixed with a different letter than <code class="language-plaintext highlighter-rouge">o-</code>, E.g. <code class="language-plaintext highlighter-rouge">n-button</code>, <code class="language-plaintext highlighter-rouge">g-audio</code>. This practice is discouraged, it’s preferred that authors specify a support contact other than Origami in the component manifest.</p>

<h2 id="files-and-folder-structure">Files and folder structure</h2>

<p>Origami components <strong>must</strong> include the following files:</p>

<ul>
  <li><code class="language-plaintext highlighter-rouge">main.js</code> <strong><em>if</em></strong> the component has JavaScript functionality</li>
  <li><code class="language-plaintext highlighter-rouge">main.scss</code> <strong><em>if</em></strong> the component has styles</li>
  <li><code class="language-plaintext highlighter-rouge">origami.json</code> as outlined in <a href="#origamijson-manifest">Origami.json manifest</a> above</li>
</ul>

<p><em>The rest of this section is non-normative.</em></p>

<p>A component’s folder structure <strong>may</strong> be organised as follows. The following is what the Origami team use for all of their supported components, but it’s not a requirement.</p>

<aside class="no-padding">
<p>Origami provides a command to initialise a new component in this style:</p>
<pre style="white-space: normal; word-break: keep-all;"><code class="o-syntax-highlight--bash">npm init origami-component</code>
</pre>
</aside>

<pre><code class="o-syntax-highlight--bash">.
├── demos
│   └── src (containing Mustache files)
├── src
│   ├── js (containing JavaScript files)
│   └── scss (containing SCSS files)
├── test (containing JavaScript and Sass tests)
├── bower.json
├── README.md
├── main.js
├── main.scss
├── origami.json
└── package.json</code>
</pre>

<h2 id="package-management">Package management</h2>

<p>Origami components <strong>must</strong> be installable through at least one package manager (individual package managers detailed below).</p>

<p>When a consumer attempts to use a component and finds that it is installable through a particular package manager, they <strong>should</strong> be able to assume that the same package manager can be used to install <em>any</em> Origami component.</p>

<h3 id="bower">Bower</h3>

<p>Origami components <strong>must</strong> be installable through the <a href="https://bower.io/" class="o-typography-link--external">Bower package manager</a>, and <strong>should</strong> include a <code class="language-plaintext highlighter-rouge">bower.json</code> manifest file which configures the component. The component <strong>should not</strong> be published to the public Bower registry (through <code class="language-plaintext highlighter-rouge">bower register</code> or similar).</p>

<aside>
  Origami components are not published to the public Bower registry because they can be accessed through the Origami Bower Registry.
  <a href="https://origami-bower-registry.ft.com/" class="o-typography-link--external">Read the service documentation</a> for more information.
</aside>

<p>As well as following the <a href="https://github.com/bower/spec/blob/master/json.md" class="o-typography-link--external"><code class="language-plaintext highlighter-rouge">bower.json</code> spec</a>, there are additional requirements to make the component’s Bower manifest conform to the Origami specification:</p>

<ul>
  <li>It <strong>must</strong> include a <code class="language-plaintext highlighter-rouge">name</code> property set to the repository name, e.g. <code class="language-plaintext highlighter-rouge">o-typography</code></li>
  <li>It <strong>must</strong> include a <code class="language-plaintext highlighter-rouge">main</code> property set to an array which <strong>must</strong>:
    <ul>
      <li>reference the component’s main JavaScript file (<code class="language-plaintext highlighter-rouge">main.js</code>) <strong><em>if</em></strong> it exists</li>
      <li>reference the component’s main Sass file (<code class="language-plaintext highlighter-rouge">main.scss</code>) <strong><em>if</em></strong> it exists</li>
    </ul>
  </li>
  <li>It <strong>must</strong> include a <code class="language-plaintext highlighter-rouge">dependencies</code> property set to an object <strong><em>if</em></strong> the component has any Origami dependencies. Each key/value pair <strong>must</strong>:
    <ul>
      <li>reference a semver range and <strong>not</strong> a Git repository or URL</li>
      <li><strong>not</strong> reference an unstable or beta version of a dependency</li>
    </ul>
  </li>
  <li>It <strong>must</strong> include an <code class="language-plaintext highlighter-rouge">ignore</code> property set to an array, which <strong>must</strong>:
    <ul>
      <li>include all files and directories in the component that are not required by consumers (see <a href="#bower-ignored-files">ignored files</a> for an example configuration)</li>
      <li><strong>not</strong> contain the files: <code class="language-plaintext highlighter-rouge">origami.json</code>, <code class="language-plaintext highlighter-rouge">README.md</code>, and files required to build demos</li>
    </ul>
  </li>
  <li>It <strong>must not</strong> include a <code class="language-plaintext highlighter-rouge">version</code> property. This is not needed and risks being out of sync with the repository’s git tags</li>
  <li>It <strong>may</strong> contain a <code class="language-plaintext highlighter-rouge">description</code> property set to a short description of the component</li>
  <li>It <strong>should not</strong> contain any additional properties</li>
</ul>

<h4 id="bower-ignored-files">Bower ignored files</h4>

<p><em>This section is non-normative.</em></p>

<p>The following is the list of ignored files in most component Bower configurations. This <strong>may</strong> be used as a starting point for new components:</p>

<pre><code class="o-syntax-highlight--json">"ignore": [
	"**/.*",
	"node_modules",
	"bower_components",
	"test",
	"build"
]</code></pre>

<h3 id="npm">npm</h3>

<p>Origami components <strong>may</strong> include a <code class="language-plaintext highlighter-rouge">package.json</code> manifest. As well as following the <a href="https://docs.npmjs.com/files/package.json" class="o-typography-link--external"><code class="language-plaintext highlighter-rouge">package.json</code> spec</a>, there are additional requirements to make the component’s npm manifest conform to the Origami specification:</p>

<ul>
  <li>It <strong>must not</strong> include any of the following properties: <code class="language-plaintext highlighter-rouge">bin</code>, <code class="language-plaintext highlighter-rouge">bugs</code>, <code class="language-plaintext highlighter-rouge">config</code>, <code class="language-plaintext highlighter-rouge">cpu</code>, <code class="language-plaintext highlighter-rouge">dependencies</code> (as this would indicate that the manifest is required for consumption of the component), <code class="language-plaintext highlighter-rouge">engines</code>, <code class="language-plaintext highlighter-rouge">engineStrict</code>, <code class="language-plaintext highlighter-rouge">files</code>, <code class="language-plaintext highlighter-rouge">main</code>, <code class="language-plaintext highlighter-rouge">os</code>, <code class="language-plaintext highlighter-rouge">preferGlobal</code>, <code class="language-plaintext highlighter-rouge">publishConfig</code></li>
  <li>It <strong>must not</strong> include a <code class="language-plaintext highlighter-rouge">version</code> property</li>
  <li>It <strong>must</strong> include a <code class="language-plaintext highlighter-rouge">devDependencies</code> property set to an object <strong><em>if</em></strong> the component has any npm dependencies required for development or testing</li>
  <li>It <strong>should</strong> include a <code class="language-plaintext highlighter-rouge">private</code> property set to <code class="language-plaintext highlighter-rouge">true</code></li>
  <li>It <strong>may</strong> include any other standard npm-defined property</li>
</ul>

<h3 id="specifying-dependencies">Specifying dependencies</h3>

<p>Components <strong>should</strong> have as few dependencies as possible. When a dependency is not required for use in production, it <strong>should</strong> be listed as a development dependency in whichever package manager you use.</p>

<p>Dependencies used in a component <strong>must</strong> be added explicitly to the package manager config. Components <strong>must not</strong> rely on code from sub-dependencies (see example).</p>

<aside>
  Sub-dependency example: if <code>o-component-a</code> includes <code>o-component-b</code> as a dependency and a new component you're developing requires features from both, then both must be added as explicit dependencies – you must not depend on <code>o-component-a</code> alone.
</aside>

<p>When listing dependencies in your <code class="language-plaintext highlighter-rouge">bower.json</code> manifest, the <a href="https://semver.org/" class="o-typography-link--external">SemVer</a> range that you specify:</p>

<ul>
  <li><strong>must</strong> be specified in a way that allows <code class="language-plaintext highlighter-rouge">MINOR</code> and <code class="language-plaintext highlighter-rouge">PATCH</code> to automatically update. This is normally achieved by using the caret (<code class="language-plaintext highlighter-rouge">^</code>) operator</li>
  <li><strong>must</strong> be greater than or equal to <code class="language-plaintext highlighter-rouge">1.0.0</code></li>
  <li><strong>must not</strong> contain a SemVer prerelease suffix, e.g. <code class="language-plaintext highlighter-rouge">1.0.0-beta</code></li>
</ul>

<p>(See the example for clarification).</p>

<aside>
  <p>Examples of spec-compliant dependency versions: <code>^1.0.0</code>, <code>&lt;3</code></p>
  <p>Examples of non-spec-compliant dependency versions: <code>^0.1.0</code>, <code>1.0.0</code>, <code>~1.0.0</code>, <code>^2.0.0-beta.4</code></p>
</aside>

<p>When an Origami component is a dependency of many other Origami components, it <strong>must</strong> verify and assert the widest version compatibility possible, including maintaining compatibility with earlier versions of a dependency unless to do so would be impractical. E.g. specifying a broad version range like <code class="language-plaintext highlighter-rouge">"o-colors": "&gt;=3.0.0 &lt;5"</code></p>

<aside>If you want to understand more about how a SemVer expression matches specific versions, try <a href="https://semver.npmjs.com/" class="o-typography-link--external">npm's SemVer calculator</a>.</aside>

<h2 id="source-control">Source control</h2>

<p>Origami component code <strong>must</strong> reside in a Git repository which has the same name as the component (<a href="#naming-conventions">see naming conventions</a>). This repository <strong>must</strong> be stored remotely under one of the following GitHub organisations:</p>

<ul>
  <li><a href="https://github.com/Financial-Times" class="o-typography-link--external">Financial-Times</a></li>
  <li><a href="https://github.com/ft-interactive" class="o-typography-link--external">FT-Interactive</a></li>
  <li><a href="https://github.com/ftlabs" class="o-typography-link--external">FTLabs</a></li>
</ul>

<p>Component repositories <strong>should</strong> be public by default, however they <strong>may</strong> be private if there is a compelling reason, e.g. to comply with a font license in the case of <code class="language-plaintext highlighter-rouge">o-fonts-assets</code>.</p>

<p>Commit messages <strong>should</strong> describe the change that they introduce to a component.</p>

<h2 id="code">Code</h2>

<h3 id="markup">Markup</h3>

<p>See <a href="/spec/v1/components/markup">the Origami Markup Specification</a>.</p>

<h3 id="styles">Styles</h3>

<p>Origami component styles are authored in <a href="http://sass-lang.com/" class="o-typography-link--external">Sass</a>, specifically the SCSS syntax.</p>

<p>See <a href="/spec/v1/components/sass">the Origami Sass Specification</a>.</p>

<h3 id="behaviour">Behaviour</h3>

<p>See the <a href="/spec/v1/components/javascript">Origami javascript specification</a>.</p>

<h3 id="subresources">Subresources</h3>

<p>Origami components <strong>may</strong> load additional files (fonts, JSON data, images etc) from their own source. To do so safely, components <strong>must</strong> resolve file paths using the <a href="https://github.com/Financial-Times/o-assets" class="o-typography-link--external">Origami assets module</a>:</p>

<p>Without any explicit configuration, <code class="language-plaintext highlighter-rouge">o-assets</code> will assume, as we do for sub-resources in Sass, that the components are installed publicly at a URL path of <code class="language-plaintext highlighter-rouge">/bower_components</code> on the current host, and will form URLs on that basis.  Product developers are advised to reconfigure <code class="language-plaintext highlighter-rouge">o-assets</code> to accommodate their own server-side URL routing architecture.</p>

<p>Where external resources are not within Origami components, a <a href="https://www.paulirish.com/2010/the-protocol-relative-url/" class="o-typography-link--external">protocol-relative</a> URL <strong>must</strong> be used (see <a href="https://github.com/Financial-Times/ft-origami/issues/173" class="o-typography-link--external">issue 173</a>.</p>

<h2 id="testing">Testing</h2>

<h3 id="automated-tests">Automated tests</h3>

<p>Components <strong>should</strong> include automated tests which at least verify that the component can be built using <a href="https://github.com/Financial-Times/origami-build-tools" class="o-typography-link--external">Origami Build Tools</a>.</p>

<p>A component author <strong>may</strong> additionally test their component however they like, providing that all test-related files <strong>should</strong> be in the <code class="language-plaintext highlighter-rouge">test</code> directory, and also ignored as outlined in <a href="#bower-ignored-files">Bower ignored files</a>. A component <strong>may</strong> use Origami Build tools to run the tests for consistency:</p>

<pre><code class="o-syntax-highlight--bash">npx origami-build-tools test</code></pre>

<h3 id="continuous-integration">Continuous integration</h3>

<p>Components <strong>should</strong> implement CI. If a component does so then it <strong>should</strong> verify that the component can be built using <a href="https://github.com/Financial-Times/origami-build-tools" class="o-typography-link--external">Origami Build Tools</a>, as mentioned in <a href="#automated-tests">Automated tests</a>.</p>

<h3 id="browsermanual-testing">Browser/manual testing</h3>

<p>All components <strong>must</strong> be tested with all the browsers listed in the <a href="/docs/components/compatibility/#browser-support">FT browser support policy</a>. If a component includes JavaScript, it <strong>must</strong> be error free in all the browsers that fall above the recommended minimum boundary for enhanced experience in that policy.</p>

<p>The versions tested <strong>should</strong> be listed in the component’s documentation, so that when boundary recommendations are changed, it is still possible to determine the support that was designed into an older component.</p>

<h2 id="documentation">Documentation</h2>

<h3 id="github-repo">Github Repo</h3>

<p>If the repository is hosted on GitHub, the Github “Website” URL <strong>should</strong> be configured to be the component’s page in the Origami registry (e.g. “http://registry.origami.ft.com/components/o-grid”).</p>

<h3 id="readme">README</h3>

<p>A component <strong>should</strong> include a <code class="language-plaintext highlighter-rouge">README.md</code> in the root of the component’s codebase. The README <strong>should</strong>:</p>
<ul>
  <li>Include a single-line description of what the component does.</li>
  <li>Give examples detailing the most common use cases.</li>
  <li>Provide the licence, which <strong>should</strong> conform to the <a href="https://docs.google.com/document/d/1pI-qI3BrO5edFYdHcoDCH9wVbfbFvroclxSEtkXwpCw" class="o-typography-link--external">open source release policy</a>.</li>
</ul>

<p>The README <strong>should not</strong> include generic information (e.g. installation steps that apply equally to all components in general), but a link to such documentation <strong>may</strong> be included.</p>

<h3 id="migration">Migration</h3>

<p>When a new major version of a component is released a migration guide <strong>should</strong> be written to help users upgrade from the previous release. The migration guide <strong>should</strong> be added to a <code class="language-plaintext highlighter-rouge">MIGRATION.md</code> file in the root of the component’s codebase, and <strong>should</strong> be linked to from the component’s <code class="language-plaintext highlighter-rouge">README.md</code>. See <a href="https://github.com/Financial-Times/o-table#migration" class="o-typography-link--external">o-table’s migration guide</a> as an example.</p>

<h3 id="codedocs">Codedocs</h3>

<p>Component JavaScript <strong>should</strong> be documented using <a href="http://usejsdoc.org/" class="o-typography-link--external">JSDoc</a> and component Sass should be documented with <a href="http://sassdoc.com/" class="o-typography-link--external">SassDoc</a>. This allows users to view and search the component’s public interface in the registry. For example, see <a href="https://registry.origami.ft.com/components/o-grid/sassdoc">o-grid’s SassDocs</a>.</p>

<h2 id="browser-support">Browser support</h2>

<p>All components <strong>must</strong> be tested with all the browsers listed in the <a href="/docs/components/compatibility/#browser-support">FT browser support policy</a>. If a component includes JavaScript, it <strong>must</strong> be error free in all the browsers which fall under the “enhanced experience” in that policy.</p>

<h2 id="demos">Demos</h2>

<p>Component authors <strong>should</strong> provide component demos, which <strong>must</strong> be <a href="/spec/v1/manifest/#demos">defined in origami.json</a> and built with <a href="https://www.npmjs.com/package/origami-build-tools" class="o-typography-link--external">Origami Build Tools</a>.</p>

<p>When deciding what demos to create, demos:</p>
<ul>
  <li><strong>Must</strong> be based on realistic use cases.</li>
  <li><strong>Should</strong> be visually different from one another.</li>
  <li><strong>Should not</strong> be used to explain configuration and implementation differences, these should be explained in the component’s README.</li>
</ul>

<p>When building demos, they:</p>
<ul>
  <li><strong>Must</strong> have a description explaining what they show (<a href="/spec/v1/manifest/#demos">see origami.json</a>).</li>
  <li><strong>Should</strong> be reproducible using the <a href="/docs/services/#build-service">Origami Build Service</a> by copying the demo markup.</li>
  <li><strong>Should not</strong> include more than necessary to demonstrate the component, including: any headings, backgrounds, margins or other content that are not part of the component itself.</li>
</ul>

<p>Where styles need to be added specifically for a demo (e.g. to make the content of o-grid containers visible), they <strong>must</strong> be attached to classes with a <code class="language-plaintext highlighter-rouge">demo-</code> prefix, for example:</p>
<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>.demo-cell {
  background-color: red;
}
</code></pre></div></div>

<h2 id="build-step">Build Step</h2>

<p>All components <strong>must</strong> be buildable by the <a href="https://www.ft.com/__origami/service/build/v2/" class="o-typography-link--external">Origami Build Service</a>.</p>

<h2 id="component-lifecycle">Component Lifecycle</h2>

<h3 id="component-release">Component Release</h3>

<p>The first released version of a component <strong>must</strong> be <code class="language-plaintext highlighter-rouge">v1.0.0</code>. Versions lower than 1 are subject to different semver parsing logic, which is a nuance best avoided.</p>

<p>To ensure subsequent releases don’t affect the current users of a component:</p>

<ul>
  <li>Follow our guidelines on <a href="#component-feature-deprecation">deprecating component features</a>, making sure deprecated features still work. If an interface wasn’t intended for public use but wasn’t made private, removal will have to follow the same deprecation process as explicitly public code.</li>
  <li>Don’t make a major release until all or most dependants have removed deprecated features.</li>
  <li>When updating a dependency to the latest minor release, make a minor release.</li>
  <li>When updating a dependency to the latest major release, make sure the semver range includes the previous major release (<em>e.g. <code class="language-plaintext highlighter-rouge">&gt;=1.2.3 &lt;3</code></em>). If not, a major release is necessary.</li>
  <li>When adding a new dependency, make a major release as it may break existing bundles.</li>
  <li>When using a new browser API which requires support from the Polyfill service (added in the features list of the <code class="language-plaintext highlighter-rouge">origami.json</code>), make a major release.</li>
</ul>

<h3 id="component-release-notice">Component Release Notice</h3>

<p>When new versions of components are released, updates <strong>may</strong> be needed to other components and products that consume the component. The following notification rules apply:</p>

<ul>
  <li>If the release is a new <strong>major</strong> version, the component developer <strong>must</strong> notify maintainers of all components and products with dependents, at least 1 day prior to the release being tagged (to enable other breaking changes to be suggested), and again immediately after the release. When a new <strong>major</strong> release affects many dependent components and projects we call this a <a href="/docs/components/major-cascade/">major cascade</a>. It <strong>may</strong> require <a href="/docs/components/major-cascade/">extra consideration</a> before release.</li>
  <li>If the release is a new <strong>minor</strong> version, the component developer <strong>should</strong> notify maintainers of all components and products listed as dependents in the Origami registry, immediately after the release.</li>
  <li>If the release is a new <strong>patch</strong> version, no notifications need be sent.</li>
</ul>

<h3 id="component-feature-deprecation">Component Feature Deprecation</h3>

<ul>
  <li>Deprecated code <strong>should</strong> go into a private deprecated file, or, if there’s an abundance of deprecated code, to a directory called <code class="language-plaintext highlighter-rouge">deprecated</code>. This way, it will be much easier to work with the new code while maintaining legacy code. It will also be easier to delete when making a major release.</li>
  <li>If separating deprecated code into its own <code class="language-plaintext highlighter-rouge">deprecated</code> file or directory is not pragmatic, modified code <strong>must</strong> be appended and prepended with a comment which begins <code class="language-plaintext highlighter-rouge">@deprecated</code>, followed by text which describes the deprecation.</li>
  <li>Deprecated functions and mixins <strong>should</strong> log a warning stating that they are now deprecated and offering an alternative when there is one. This warning <strong>may</strong> also be added to the README.</li>
  <li>An issue with label <code class="language-plaintext highlighter-rouge">type: breaking</code> <strong>must</strong> be created as a reminder to remove deprecated code upon a future major release.</li>
</ul>

<h3 id="component-deprecation">Component Deprecation</h3>

<p>In the event of deprecating an Origami component, the following steps <strong>must</strong> be followed:</p>

<ol>
  <li>Modify <a href="/spec/v1/manifest/">origami.json</a> to change the <code class="language-plaintext highlighter-rouge">supportStatus</code> to <code class="language-plaintext highlighter-rouge">deprecated</code>.</li>
  <li>Change the <code class="language-plaintext highlighter-rouge">README.md</code> to have a paragraph at the top outlining the deprecation status. If it has been replaced, it must point to the new replacement component from the deprecated component.</li>
  <li>Disable the Issues functionality from the deprecated component’s repository, if the component is hosted on Github.</li>
  <li>Update the repository’s description to “deprecated - please use <component> instead" if it has been replaced and change the URL to point towards the replacement's repository on GitHub.</component></li>
</ol>


	
</div>


		
		<div class="o-layout__footer">
			<footer class="o-footer-services">
	<div class="o-footer-services__container">
		<div class="o-footer-services__wrapper o-footer-services__wrapper--top">
			<a class="o-footer-services__icon-link o-footer-services__icon-link--github" href="https://github.com/Financial-Times/origami">View project on GitHub</a>
			<a class="o-footer-services__icon-link o-footer-services__icon-link--github" href="https://github.com/Financial-Times/origami/pulls?q=is%3Apr+is%3Aopen+sort%3Aupdated-desc">View proposals to Origami</a>
			<a class="o-footer-services__icon-link o-footer-services__icon-link--slack" href="https://financialtimes.slack.com/messages/origami-support">#origami-support</a>
			<p class="o-footer-services__content">Get in touch at <a href="mailto:origami.support@ft.com">origami.support@ft.com</a> for help or advice. Feel free to
				<a class="o-footer-services__content--external"   href='https://github.com/Financial-Times/origami/edit/main/_specification-v1/components.md'>suggest an edit to this page</a>.</p>
		</div>
	</div>
	<div class="o-footer-services__container">
		<div class="o-footer-services__wrapper o-footer-services__wrapper--legal">
			<div class="o-footer-services__links">
			<a href="http://help.ft.com/help/legal-privacy/cookies/">Cookies</a>
			<a href="http://help.ft.com/help/legal-privacy/copyright/copyright-policy/">Copyright</a>
			<a href="http://help.ft.com/help/legal-privacy/privacy/">Privacy</a>
			<a href="http://help.ft.com/help/legal-privacy/terms-conditions">Terms & Conditions</a>
		</div>
		<p><span>&copy; THE FINANCIAL TIMES LTD 2021.</span> FT and 'Financial Times' are trademarks of The Financial Times Ltd.</p>
	</div>
</footer>

		</div>
		
	</div>

	

</body>
</html>
