<div class="demo-container demo-container--large {{#article-modifier}} demo-container--{{.}} {{/article-modifier}}">

	<div class="o-teaser {{#article-modifier}} o-teaser--{{.}} {{/article-modifier}} {{#article-image-url}}o-teaser--has-image{{/article-image-url}}" data-o-component="o-teaser">
		<div class="o-teaser__content">
			<div class="o-teaser__meta">
				{{#article-tag-prefix}}<span class="o-teaser__tag-prefix">{{.}}</span>{{/article-tag-prefix}}
				{{#article-genre}}<span class="o-teaser__tag-prefix">{{.}}</span>{{/article-genre}}
				<a href="#" class="o-teaser__tag">{{article-tag}}</a>
			</div>

			<h2 class="o-teaser__heading">
				<a href="#" class="o-teaser__syndication-indicator"><span>Syndication allowed</span></a>
				<a href="#">{{article-heading}}</a>
			</h2>

			{{#article-standfirst}}
				<p class="o-teaser__standfirst">
					<a href="#">
						{{article-standfirst}}
					</a>
				</p>
			{{/article-standfirst}}

			{{#article-timestamp}}
				<time data-o-component="o-date" class="o-teaser__timestamp" datetime="{{article-timestamp}}">{{article-timestamp}}</time>
			{{/article-timestamp}}
		</div>

		{{#article-image-url}}
			<div class="o-teaser__image-container">
				<div class="o-teaser__image-placeholder image-placeholder">
					<img src="{{article-image-url}}" class="o-teaser__image" alt="demo image"/>
				</div>
			</div>
		{{/article-image-url}}
	</div>

</div>
