---
import tip from '../../../public/assets/images/documentation/components/tip.svg?raw';

interface Props {
	icon: boolean;
	sources: {
	 title: string;
	 url: string;
	}[]
}
const {sources} = Astro.props;
---

<div class="not-content tip-container">
	{Astro.props.icon === true && (
		<div class="tip-description">
			<div class="icon">
				<Fragment set:html={tip} />
			</div>
			<slot />
		</div>
	)}
	{Astro.props.icon === false && (
		<div class="tip-description">
			<slot />
		</div>
	)}
	{
		sources?.length > 0 && (
			<div class="tip-sources">
				<strong>SOURCES:</strong>
				<div class="tip-sources-wrapper">
					{sources.map((source, index) => (
						<>
							<a href={source.url}>{source.title}</a>
							{index < sources.length - 1 && ' | '}
						</>
					))}
				</div>
			</div>
		)
	}
</div>

<style>
	.tip-container {
		--_icon-width: 24px;
		background-color: #f4f4f5;
		border: 1px solid var(--slate-white-15, #dedfe0);
		border-radius: var(--o3-spacing-5xs);
		box-shadow: var(--o3-spacing-5xs) var(--o3-spacing-5xs)
			var(--o3-spacing-3xs) 0px rgba(222, 223, 224, 0.08);
	}
	.tip-description {
		padding: var(--o3-spacing-2xs) 0px;
		position: relative;
		display: flex;
		.icon {
			width: var(--_icon-width);
			height: var(--_icon-width);
			margin: 0px var(--o3-spacing-4xs);
		}
	}

	.tip-sources {
		display: flex;
		/* Icon size plus its margins */
		padding: var(--o3-spacing-3xs) 0 var(--o3-spacing-3xs)
			calc(var(--_icon-width) + 2 * var(--o3-spacing-4xs));

		border-radius: 0px 0px var(--o3-spacing-5xs) var(--o3-spacing-5xs);
		border-right: 1px solid var(--slate-white-15, #dedfe0);
		border-bottom: 1px solid var(--slate-white-15, #dedfe0);
		border-left: 1px solid var(--slate-white-15, #dedfe0);
		background: #ececee;
		.tip-sources-wrapper {
			& a {
				cursor: pointer;
				text-decoration-line: underline;
				color: var(--o3-color-use-case-body-text);
			}

			color: var(--o3-color-use-case-body-text);
			font-size: var(--o3-font-size-negative-2);
		}
		strong {
			color: var(--o3-color-use-case-body-text);
			font-size: var(--o3-font-size-negative-2);
			margin-right: var(--o3-spacing-5xs);
		}
	}
</style>
